---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<div style=\"opacity: 0.7;\">\r\n<div style=\"margin: 0 0
    20px 20px; float: right; width: 400px; background-color: #eee; padding: 10px;
    color: #00654e; font-size: 0.8em; -moz-box-shadow: 5px 5px 5px #666; -webkit-box-shadow:
    5px 5px 5px #666; box-shadow: 5px 5px 5px #666;\"><strong>Svobodn&iacute; v komun&aacute;ln&iacute;
    politice vych&aacute;z&iacute; obecně z těchto principů:</strong><br /><br /><ol>\r\n<li>Obce
    hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute;
    jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute;
    vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute;
    prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona
    o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</li>\r\n<li>Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v
    obc&iacute;ch.</li>\r\n<li>Obce z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi
    aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.</li>\r\n<li>Obce
    ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně
    konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</li>\r\n<li>V
    př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat
    na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</li>\r\n<li>Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</li>\r\n</ol></div>\r\n<div>\r\n<div style=\"height:
    200px;\"><a href=\"http://praha12.svobodni.cz/kandidati/brotanek-tomas\"> <img
    style=\"float: left; margin-right: 20px;\" src=\"https://svobodni-cms.s3.amazonaws.com/sites/53dac4ea6df02fc7d200000a/theme/images/medailonky/1.Tomas-m.png\"
    alt=\"\" /> </a>\r\n<h3>1. Zv&yacute;&scaron;&iacute;me počet parkovac&iacute;ch
    m&iacute;st</h3>\r\n<p>Vlastnictv&iacute; automobilu na Praze 12 nen&iacute; trest.
    Každ&yacute; m&aacute; m&iacute;t pr&aacute;vo kde zaparkovat v kteroukoliv hodinu.
    Svobodn&aacute; doprava n&aacute;m nen&iacute; lhostejn&aacute;.</p>\r\n</div>\r\n<div
    style=\"height: 200px;\"><a href=\"http://praha12.svobodni.cz/kandidati/jiri-krakora\">
    <img style=\"float: left; margin-right: 20px;\" src=\"https://svobodni-cms.s3.amazonaws.com/sites/53dac4ea6df02fc7d200000a/theme/images/medailonky/5.Jikra-m.png\"
    alt=\"\" /> </a>\r\n<h3>2. Propoj&iacute;me Modřanskou rokli s Vltavskou cyklostezkou</h3>\r\n<p>Praha
    12 je př&iacute;kladem soužit&iacute; lid&iacute;, kteř&iacute; si svobodně rozhodli
    zvolit dopravn&iacute; prostředek a neomezuj&iacute; jeden druh&eacute;ho.</p>\r\n</div>\r\n<div
    style=\"height: 200px;\"><a href=\"http://praha12.svobodni.cz/kandidati/brotanek-tomas\">
    <img style=\"float: left; margin-right: 10px;\" src=\"https://svobodni-cms.s3.amazonaws.com/sites/53dac4ea6df02fc7d200000a/theme/images/medailonky/1.Tomas-m.png\"
    alt=\"\" /> </a>\r\n<h3>3. Vybudujeme propojen&iacute; Prahy 12 s městsk&yacute;m
    okruhem</h3>\r\n<p>Již jsme začali s petic&iacute;.</p>\r\n</div>\r\n<div style=\"height:
    200px;\"><a href=\"http://praha12.svobodni.cz/kandidati/miroslav-indra\"> <img
    style=\"float: left; margin-right: 10px;\" src=\"https://svobodni-cms.s3.amazonaws.com/sites/53dac4ea6df02fc7d200000a/theme/images/medailonky/3.Miroslav-m.png\"
    alt=\"\" /> </a>\r\n<h3>4. Prosad&iacute;me, aby vznikaly transparentn&iacute;
    veřejn&eacute; zak&aacute;zky bez absurdit</h3>\r\n<p>Zajist&iacute;me, aby skončilo
    obdob&iacute; vytv&aacute;řen&iacute; zbytečn&yacute;ch <em>studi&iacute; o studi&iacute;ch</em>,
    s využit&iacute;m finančn&iacute;ch prostředků na důležitěj&scaron;&iacute;ch
    m&iacute;stech.</p>\r\n</div>\r\n<div style=\"height: 200px;\"><a href=\"http://praha12.svobodni.cz/kandidati/marek-matous\">
    <img style=\"float: left; margin-right: 10px;\" src=\"https://svobodni-cms.s3.amazonaws.com/sites/53dac4ea6df02fc7d200000a/theme/images/medailonky/6.Marek-m.png\"
    alt=\"\" /> </a>\r\n<h3>5. Vr&aacute;t&iacute;me Městskou policii do ulic Prahy
    12</h3>\r\n<p>Zajist&iacute;me, aby jejich &uacute;kolem bylo předev&scaron;&iacute;m
    hl&iacute;d&aacute;n&iacute; na&scaron;&iacute; Prahy 12 &ndash; dětsk&yacute;ch
    hři&scaron;ť, Modřansk&eacute; rokle, ulic, nikoliv aby jen pokutovali či seděli
    na služebn&aacute;ch MP.</p>\r\n</div>\r\n<div style=\"height: 200px;\"><a href=\"http://praha12.svobodni.cz/kandidati/sona-pauerova\">
    <img style=\"float: left; margin-right: 10px;\" src=\"https://svobodni-cms.s3.amazonaws.com/sites/53dac4ea6df02fc7d200000a/theme/images/medailonky/2.Sona-m.png\"
    alt=\"\" /> </a>\r\n<h3>6. Zajist&iacute;me um&iacute;stěn&iacute; v&scaron;ech
    m&iacute;stn&iacute;ch dět&iacute; do mateřsk&yacute;ch &scaron;kol</h3>\r\n<p>Na&scaron;&iacute;
    koncepc&iacute; je současnost a budoucnost! Zajist&iacute;me dostatek m&iacute;st
    v mateřsk&yacute;ch &scaron;kol&aacute;ch pro v&scaron;echny na&scaron;e děti.</p>\r\n</div>\r\n<div
    style=\"height: 200px;\"><a href=\"http://praha12.svobodni.cz/kandidati/sona-pauerova\">
    <img style=\"float: left; margin-right: 10px;\" src=\"https://svobodni-cms.s3.amazonaws.com/sites/53dac4ea6df02fc7d200000a/theme/images/medailonky/2.Sona-m.png\"
    alt=\"\" /> </a>\r\n<h3>7. Vybudujeme dětem bezpečn&aacute; a kvalitn&iacute;
    hři&scaron;tě na dostupn&yacute;ch m&iacute;stech</h3>\r\n<p>Vybudujeme dostatek
    kvalitn&iacute;ch a bezpečn&yacute;ch dětsk&yacute;ch hři&scaron;ť v dostupn&eacute;m
    okol&iacute;. A budeme udržovat ta současn&aacute;, př&iacute;padně star&aacute;
    nepouž&iacute;van&aacute; odstran&iacute;me. D&aacute;me dětem svobodn&yacute;
    prostor k jejich adekv&aacute;tn&iacute;mu rozvoji.</p>\r\n</div>\r\n<div style=\"height:
    200px;\"><a href=\"http://praha12.svobodni.cz/kandidati/igor-zednik\"> <img style=\"float:
    left; margin-right: 10px;\" src=\"https://svobodni-cms.s3.amazonaws.com/sites/53dac4ea6df02fc7d200000a/theme/images/medailonky/4.Igor-m.png\"
    alt=\"\" /> </a>\r\n<h3>8. Vytvoř&iacute;me seniorům možnost v&eacute;st kulturně-společensk&yacute;
    život</h3>\r\n<p>Vytvoř&iacute;me takov&eacute; aktivity, do kter&yacute;ch se
    mohou zapojit i na&scaron;i senioři. Pomůžeme vzniknout klubům seniorů proto,
    aby měli v&iacute;ce možnost&iacute; aktivně tr&aacute;vit svůj voln&yacute; čas.</p>\r\n</div>\r\n<div
    style=\"height: 200px;\"><a href=\"http://praha12.svobodni.cz/kandidati/igor-zednik\">
    <img style=\"float: left; margin-right: 10px;\" src=\"https://svobodni-cms.s3.amazonaws.com/sites/53dac4ea6df02fc7d200000a/theme/images/medailonky/4.Igor-m.png\"
    alt=\"\" /> </a>\r\n<h3>9. Otevřeme se aktivn&iacute; spolupr&aacute;ci s bytov&yacute;mi
    družstvy a SVJ</h3>\r\n<p>Zvolen&iacute; z&aacute;stupci družstev a SVJ budou
    m&iacute;t možnost jednat o potřebn&yacute;ch oprav&aacute;ch, změn&aacute;ch
    v jejich bl&iacute;zk&eacute;m okol&iacute;.</p>\r\n</div>\r\n<div style=\"height:
    200px;\"><a href=\"http://praha12.svobodni.cz/kandidati/miroslav-indra\"> <img
    style=\"float: left; margin-right: 10px;\" src=\"https://svobodni-cms.s3.amazonaws.com/sites/53dac4ea6df02fc7d200000a/theme/images/medailonky/3.Miroslav-m.png\"
    alt=\"\" /> </a>\r\n<h3>10. Zprivatizujeme zbytek bytov&eacute;ho fondu</h3>\r\n<p>Prosad&iacute;me,
    aby do&scaron;lo k privatizaci zbytku st&aacute;tn&iacute;ch &ndash; městsk&yacute;ch
    bytů, ke kter&eacute; se Praha 12 nedostala dlouh&yacute;ch 25 let.</p>\r\n</div>\r\n</div>\r\n<div
    style=\"clear: right;\">&nbsp;</div>\r\n</div>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
