---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<h2 style=\"margin-bottom: 0cm; text-align: center;\" align=\"CENTER\"><span
    style=\"font-size: large;\"><span style=\"background: transparent;\"><span style=\"font-size:
    medium;\"><img src=\"/samples/assets/Inzerat190x90.jpg\" alt=\"\" /></span></span></span></h2>\r\n<h2
    style=\"margin-bottom: 0cm; text-align: center;\" align=\"CENTER\"><span style=\"font-size:
    large;\"><span style=\"background: transparent;\"><span style=\"font-size: medium;\">Heslo:</span></span><strong><span
    style=\"background: transparent;\"> <span style=\"font-size: x-large;\">&bdquo;POSV&Iacute;T&Iacute;ME
    SI NA RADNICI.&ldquo;</span></span></strong></span></h2>\r\n<h2 style=\"margin-bottom:
    0cm; text-align: left;\" align=\"CENTER\"><span style=\"font-size: small;\"><strong><span
    style=\"background: none repeat scroll 0% 0% transparent; font-size: large;\"><em>Chceme,
    aby o sobě svobodn&iacute; občan&eacute; rozhodovali sami, aby se sami rozhodovali,
    jak nalož&iacute; se sv&yacute;mi penězi. Aby tuto &uacute;lohu nečinilo město.
    To by se mělo starat pouze o z&aacute;kladn&iacute; věci &ndash; starost o městsk&yacute;
    majetek, veřejn&aacute; prostranstv&iacute; a o bezpečnost.</em></span><span style=\"background:
    none repeat scroll 0% 0% transparent;\"><em><br /></em></span></strong></span></h2>\r\n<h2
    style=\"text-align: center;\"><span style=\"font-size: x-large;\"><strong><span
    style=\"background: none repeat scroll 0% 0% transparent;\"><strong><span style=\"background:
    none repeat scroll 0% 0% transparent;\">&Scaron;T&Iacute;HL&Yacute; A EFEKTIVN&Iacute;
    &Uacute;ŘAD</span></strong></span></strong></span></h2>\r\n<p style=\"text-align:
    left;\"><span style=\"font-size: large;\"><strong><span style=\"background: none
    repeat scroll 0% 0% transparent;\"><em>Jsme zast&aacute;nci &scaron;t&iacute;hl&eacute;ho
    &uacute;řadu, kter&yacute; vykon&aacute;v&aacute; jen nezbytn&eacute; &uacute;koly
    spojen&eacute; se samospr&aacute;vou a st&aacute;tn&iacute; spr&aacute;vou.&nbsp;</em></span></strong></span></p>\r\n<ul>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Sn&iacute;ž&iacute;me počet volen&yacute;ch zastupitelů z 21 na
    15 a členů Rady města ze 7 na 5.</span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Podpoř&iacute;me pouze uvolněn&eacute;ho starostu a jednoho neuvolněn&eacute;ho
    m&iacute;stostarostu.</span></span></p>\r\n</li>\r\n<li>\r\n<p><span style=\"font-size:
    medium;\"><span style=\"background: none repeat scroll 0% 0% transparent;\">Zru&scaron;&iacute;me
    v&yacute;bory zastupitelstva a komise Rady, kter&eacute; nemus&iacute; město ze
    z&aacute;kona zřizovat a omez&iacute;me počet jejich členů na 3.</span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Zjednodu&scaron;&iacute;me organizačn&iacute; ř&aacute;d zru&scaron;en&iacute;m
    či sloučen&iacute;m někter&yacute;ch odborů.</span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\"><span style=\"font-size: medium;\"><span style=\"background: none
    repeat scroll 0% 0% transparent;\">Provedeme person&aacute;ln&iacute; audit městsk&eacute;ho
    &uacute;řadu i př&iacute;spěvkov&yacute;ch organizac&iacute;.</span></span></span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Sn&iacute;ž&iacute;me počet př&iacute;spěvkov&yacute;ch organizac&iacute;
    nebo je přeměn&iacute;me na jinou pr&aacute;vn&iacute; formu (např. OPS).</span></span></p>\r\n</li>\r\n</ul>\r\n<h2
    style=\"text-align: center;\"><span style=\"font-size: medium;\"><strong><span
    style=\"background: none repeat scroll 0% 0% transparent;\"><span style=\"font-size:
    x-large;\"><strong><span style=\"background: none repeat scroll 0% 0% transparent;\">ZDRAV&Eacute;
    FINANCE, N&Iacute;ZK&Eacute; DANĚ A POPLATKY</span></strong></span></span></strong></span></h2>\r\n<p><span
    style=\"font-size: large;\"><strong><span style=\"background: none repeat scroll
    0% 0% transparent;\"><em>Podporujeme vyrovnan&eacute; hospodařen&iacute; bez &uacute;věrů
    a co nejmen&scaron;&iacute; \"městsk&eacute; daně\" (daň z nemovitost&iacute;,
    poplatky).</em></span></strong></span></p>\r\n<ul>\r\n<li>\r\n<p><span style=\"font-size:
    medium;\"><span style=\"background: none repeat scroll 0% 0% transparent;\">Prosad&iacute;me
    vyrovnan&yacute; a srozumiteln&yacute; rozpočet města založen&yacute; na přebytkov&eacute;m
    provozn&iacute;m rozpočtu, aby zbylo na investice.</span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Nebudeme město zatěžovat nov&yacute;mi &uacute;věry (s v&yacute;jimkou
    živeln&eacute; katastrofy).</span></span></p>\r\n</li>\r\n<li>\r\n<p><span style=\"font-size:
    medium;\"><span style=\"background: none repeat scroll 0% 0% transparent;\">Sn&iacute;ž&iacute;me
    daň z nemovitost&iacute; na polovinu zru&scaron;en&iacute;m koeficientu.</span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Zru&scaron;&iacute;me poplatek za komun&aacute;ln&iacute; odpad</span></span><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\"> pro ty, co tř&iacute;d&iacute; </span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Podpoř&iacute;me prodej bytů do soukrom&eacute;ho vlastnictv&iacute;
    s v&yacute;jimkou bytů pro soci&aacute;lně slab&eacute; (město nem&aacute; vlastnit
    bytov&yacute; fond).</span></span></p>\r\n</li>\r\n<li>\r\n<p><span style=\"font-size:
    medium;\"><span style=\"background: none repeat scroll 0% 0% transparent;\">Zru&scaron;&iacute;me
    poplatky za parkov&aacute;n&iacute; na městsk&yacute;ch komunikac&iacute;ch pro
    obyvatele Žamberka.</span></span></p>\r\n</li>\r\n<li>\r\n<p><span style=\"font-size:
    medium;\"><span style=\"background: none repeat scroll 0% 0% transparent;\">Odm&iacute;t&aacute;me
    dotačn&iacute; politiku města (dotace vytv&aacute;řej&iacute; nerovn&eacute; podm&iacute;nky
    na trhu) s v&yacute;jimkou soci&aacute;ln&iacute;ch projektů.</span></span></p>\r\n</li>\r\n</ul>\r\n<h2
    style=\"margin-bottom: 0cm; text-align: center;\" align=\"LEFT\"><span style=\"font-size:
    x-large;\"><strong><span style=\"background: none repeat scroll 0% 0% transparent;\">PRŮHLEDN&Eacute;
    ROZHODOV&Aacute;N&Iacute;</span></strong></span></h2>\r\n<p style=\"margin-bottom:
    0cm; text-align: left;\" align=\"LEFT\"><em><span style=\"font-size: medium;\"><span
    style=\"background: none repeat scroll 0% 0% transparent;\"><span style=\"font-size:
    small;\"><span style=\"font-size: large;\"><strong><em>Město mus&iacute; ve&scaron;ker&eacute;
    informace zpř&iacute;stupnit veřejnosti. Nelze se vymlouvat na obchodn&iacute;
    tajemstv&iacute;.</em></strong></span></span></span></span></em></p>\r\n<p><span
    style=\"font-size: medium;\"><em><span style=\"background: none repeat scroll
    0% 0% transparent;\"><em>Zv&yacute;&scaron;&iacute;me transparentnost rozhodov&aacute;n&iacute;
    o veřejn&yacute;ch zak&aacute;zk&aacute;ch:</em></span></em></span></p>\r\n<ul>\r\n<li><span
    style=\"background: none repeat scroll 0% 0% transparent; font-size: medium;\">Veřejn&eacute;
    zak&aacute;zky budeme zad&aacute;vat z&aacute;sadně v otevřen&eacute;m v&yacute;běrov&eacute;m
    ř&iacute;zen&iacute; bez omezen&iacute; počtu uchazečů.</span></li>\r\n<li>\r\n<p><span
    style=\"background: none repeat scroll 0% 0% transparent; font-size: medium;\">Průběh
    cel&eacute;ho ř&iacute;zen&iacute; o veřejn&eacute; zak&aacute;zce zveřejn&iacute;me
    na internetu (od zad&aacute;vac&iacute; dokumentace po protokoly o zased&aacute;n&iacute;
    hodnot&iacute;c&iacute; komise a texty př&iacute;slu&scaron;n&yacute;ch smluv).</span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"background: none repeat scroll 0% 0% transparent; font-size: medium;\">Zř&iacute;d&iacute;me
    elektronick&eacute; trži&scaron;tě, resp. zavedeme syst&eacute;m elektronick&yacute;ch
    aukc&iacute; veřejn&yacute;ch zak&aacute;zek (podnikatel&eacute; budou o veřejn&eacute;
    zak&aacute;zky soutěžit on-line /v re&aacute;ln&eacute;m čase/, č&iacute;mž dojde
    k&nbsp;z&uacute;žen&iacute; prostoru pro manipulaci).</span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"background: none repeat scroll 0% 0% transparent; font-size: medium;\">Nebude-li
    veřejn&aacute; zak&aacute;zka zad&aacute;v&aacute;na prostřednictv&iacute;m elektronick&eacute;ho
    trži&scaron;tě, budou ob&aacute;lky s&nbsp;nab&iacute;dkami jednotliv&yacute;ch
    soutěžitelů otev&iacute;r&aacute;ny vždy na veřejnosti př&iacute;stupn&eacute;m
    m&iacute;stě. Z&aacute;znam z&nbsp;otev&iacute;r&aacute;n&iacute; ob&aacute;lek
    zpř&iacute;stupn&iacute;me na internetu.</span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"background: none repeat scroll 0% 0% transparent; font-size: medium;\">Omez&iacute;me
    možnost subdod&aacute;vek (sn&iacute;ž&iacute;me pravděpodobnost vzniku zak&aacute;zan&yacute;ch
    dohod mezi jednotliv&yacute;mi &uacute;častn&iacute;ky ř&iacute;zen&iacute; o
    veřejn&eacute; zak&aacute;zce) a omez&iacute;me možnost navy&scaron;ov&aacute;n&iacute;
    ceny veřejn&eacute; zak&aacute;zky v&nbsp;průběhu jej&iacute; realizace (tzv.
    v&iacute;cepr&aacute;ce).</span></p>\r\n</li>\r\n<li>\r\n<p><span style=\"background:
    none repeat scroll 0% 0% transparent; font-size: medium;\">Ve&scaron;ker&eacute;
    smlouvy uzavřen&eacute; s&nbsp;městem mus&iacute; b&yacute;t veřejn&eacute; a
    k&nbsp;dispozici v&scaron;em občanům města, nelze se vymlouvat na obchodn&iacute;
    tajemstv&iacute;.</span></p>\r\n</li>\r\n</ul>\r\n<p><span style=\"background:
    none repeat scroll 0% 0% transparent; font-size: medium;\">Zv&yacute;&scaron;&iacute;me
    transparentnost ostatn&iacute;ch rozhodovac&iacute;ch procesů:</span></p>\r\n<ul>\r\n<li>\r\n<p><span
    style=\"background: none repeat scroll 0% 0% transparent; font-size: medium;\">Zveřejn&iacute;me
    zvukov&yacute; i videoz&aacute;znam ze zased&aacute;n&iacute; zastupitelstva na
    internetu.</span></p>\r\n</li>\r\n<li>\r\n<p><span style=\"background: none repeat
    scroll 0% 0% transparent; font-size: medium;\"><span style=\"background: none
    repeat scroll 0% 0% transparent;\">Zveřejn&iacute;me z&aacute;pisy ze zased&aacute;n&iacute;
    v&scaron;ech org&aacute;nů města, bez ohledu na to, zda jsou tato jedn&aacute;n&iacute;
    veřejn&aacute; či nikoliv. Požadujeme tak&eacute; zveřejňov&aacute;n&iacute; podkladů
    pro jedn&aacute;n&iacute; zastupitelstva města.</span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"background: none repeat scroll 0% 0% transparent; font-size: medium;\">Budeme
    prosazovat, aby zastupitel&eacute; dostali pro sv&eacute; rozhodov&aacute;n&iacute;
    komplexn&iacute; podklady se stanovisky dotčen&yacute;ch odborů, poradn&iacute;ch
    org&aacute;nů a s&nbsp;popisem st&aacute;vaj&iacute;c&iacute;ho stavu.</span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: small;\"><span style=\"background: transparent;\"><span style=\"font-size:
    medium;\">Zavedeme jasn&aacute; krit&eacute;ria pro přidělov&aacute;n&iacute;
    městsk&yacute;ch soci&aacute;ln&iacute;ch bytů a zveřejn&iacute;me seznam uchazečů.
    Jsme proti rozd&aacute;v&aacute;n&iacute; městsk&yacute;ch bytů politikům a &uacute;ředn&iacute;kům</span></span></span></p>\r\n</li>\r\n</ul>\r\n<h2
    style=\"text-align: center;\"><span style=\"font-size: x-large;\"><span style=\"background:
    none repeat scroll 0% 0% transparent;\">ROZVOJ MĚSTA A DOPRAVN&Iacute; INFRASTRUKTURY</span></span></h2>\r\n<p
    style=\"margin-bottom: 0cm;\" align=\"LEFT\"><span style=\"font-size: large;\"><strong><em><span
    style=\"background: none repeat scroll 0% 0% transparent;\">Na&scaron;im c&iacute;lem
    je rozvoj města podle předem připraven&eacute;ho dlouhodob&eacute;ho pl&aacute;nu,
    ne nahodile z roku na rok.</span></em></strong></span></p>\r\n<ul>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Soustavn&yacute;m tlakem na st&aacute;tn&iacute; org&aacute;ny
    se pokus&iacute;me zah&aacute;jit v&yacute;stavbu obchvatu města.</span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Změn&iacute;me &uacute;zemn&iacute; pl&aacute;n na z&aacute;kladě
    n&aacute;mi navrhovan&eacute;ho pl&aacute;nu rozvoje města.</span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Podpoř&iacute;me v&yacute;stavbu s&iacute;tě městsk&yacute;ch cyklistick&yacute;ch
    stezek.</span></span></p>\r\n</li>\r\n<li>\r\n<p><span style=\"font-size: medium;\">R<span
    style=\"background: none repeat scroll 0% 0% transparent;\">oz&scaron;&iacute;ř&iacute;me
    s&iacute;ť městsk&eacute; hromadn&eacute; dopravy zaji&scaron;těnou soukrom&yacute;mi
    autodopravci a umožn&iacute;me jej&iacute; doplněn&iacute; o podpůrn&eacute; služby
    (např. půjčovny kol).</span></span></p>\r\n</li>\r\n<li>\r\n<p><span style=\"font-size:
    medium;\"><span style=\"background: none repeat scroll 0% 0% transparent;\">Podpoř&iacute;me
    revitalizaci autobusov&eacute;ho n&aacute;draž&iacute; včetně autobusov&yacute;ch
    zast&aacute;vek ve městě.</span></span></p>\r\n</li>\r\n</ul>\r\n<h2 style=\"margin-bottom:
    0cm; text-align: center;\" align=\"LEFT\"><span style=\"font-size: medium;\"><strong><span><span
    style=\"font-size: x-large;\">BEZPEČN&Yacute; ŽIVOT</span><br /></span></strong></span></h2>\r\n<p><span
    style=\"font-size: large;\"><strong><span style=\"background: none repeat scroll
    0% 0% transparent;\"><em>Bezpečnost je kl&iacute;čov&yacute;m bodem. Město sice
    nem&aacute; dostatečn&eacute; možnosti, jak ovlivnit fungov&aacute;n&iacute; Policie
    ČR. Proto nab&iacute;z&iacute;me reformu městsk&eacute; policie.</em></span></strong></span></p>\r\n<ul>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\">Navr&aacute;t&iacute;me se k&nbsp;modelu prvorepublikov&yacute;ch
    pochůzk&aacute;řů (jednočlenn&eacute; hl&iacute;dky zodpovědn&eacute; za svůj
    rajon).</span></p>\r\n</li>\r\n<li>\r\n<p><span style=\"font-size: medium;\">Vybav&iacute;me
    str&aacute;žn&iacute;ky nov&yacute;mi koly, kvůli rychlej&scaron;&iacute;mu přesunu
    na m&iacute;sto z&aacute;sahu a vět&scaron;&iacute;mu pokryt&iacute; sv&eacute;ho
    rajonu.</span></p>\r\n</li>\r\n<li>\r\n<p><span style=\"font-size: medium;\">Str&aacute;žn&iacute;k
    m&aacute; b&yacute;t předev&scaron;&iacute;m pomocnou rukou, nikoliv měřit rychlost
    a přednostně udělovat pokuty za &scaron;patn&eacute; parkov&aacute;n&iacute;.
    M&aacute; hlavně dohl&iacute;žet na bezpečnost a čistotu ve městě.<br /></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Zř&iacute;d&iacute;me m&iacute;sto psovoda u městsk&eacute; policie.</span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Důsledněji budeme postihovat ničen&iacute; soukrom&eacute;ho i
    městsk&eacute;ho majetku, včetně zneči&scaron;ťov&aacute;n&iacute; veřejn&yacute;ch
    prostranstv&iacute; (např. nezodpovědn&iacute; pejskaři).<br /></span></span></p>\r\n</li>\r\n<li><span
    style=\"font-size: small;\"><span style=\"background: transparent;\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\"><span style=\"font-size: medium;\">Zasad&iacute;me
    se o zv&yacute;&scaron;en&yacute; dohled městsk&eacute; policie v problematick&yacute;ch
    oblastech.</span><br /></span></span></span></span></li>\r\n</ul>\r\n<h2 style=\"text-align:
    center;\"><span style=\"font-size: x-large;\"><strong>SVOBODN&Eacute; PODNIK&Aacute;N&Iacute;
    A SLUŽBY</strong></span></h2>\r\n<p><span style=\"font-size: large;\"><strong><em>Město
    nesm&iacute; podnikat a přek&aacute;žet. Z&aacute;roveň město nesm&iacute; vlastnit
    př&iacute;li&scaron; mnoho majetku, s&nbsp;kter&yacute;m neum&iacute; hospodařit.</em></strong></span></p>\r\n<ul>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\">Město nesm&iacute; podnikat a konkurovat sv&yacute;m
    občanům za jejich daně.</span></p>\r\n</li>\r\n<li>\r\n<p><span style=\"font-size:
    medium;\">Město mus&iacute; přistupovat ke v&scaron;em podnikatelům stejně, nen&iacute;
    možno někter&eacute; z&nbsp;nich zv&yacute;hodňovat.</span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\">M&iacute;stn&iacute;m živnostn&iacute;kům nab&iacute;dneme
    reklamu zdarma na veřejn&eacute;m osvětlen&iacute;. Zru&scaron;&iacute;me poplatek
    za um&iacute;stěn&iacute; předzahr&aacute;dek.</span></p>\r\n</li>\r\n<li><span
    style=\"font-size: medium;\"><span style=\"font-size: small;\"><span style=\"background:
    transparent;\"><span style=\"font-size: medium;\">Spust&iacute;me soci&aacute;ln&iacute;
    program \"prostupn&eacute; bydlen&iacute;\" (azyl, ubytovna - tr&eacute;ninkov&yacute;
    byt s asistenc&iacute; soci&aacute;ln&iacute;ho pracovn&iacute;ka - běžn&aacute;
    n&aacute;jemn&iacute; smlouva)</span></span></span></span></li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\">Vystěhujeme neplatiče z&nbsp;městsk&yacute;ch bytů.</span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\">Prodej městsk&yacute;ch pozemků pro podnikatelsk&eacute;
    z&aacute;měry nebudeme zatěžovat nesmyslně vysok&yacute;mi cenami. Vždy budeme
    vych&aacute;zet z cenov&eacute; mapy města. Podpoř&iacute;me co nejmen&scaron;&iacute;
    regulaci podnikatelsk&eacute;ho prostřed&iacute;.</span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\">Vysoutěž&iacute;me co nejv&iacute;ce městsk&yacute;ch
    zak&aacute;zek.</span></p>\r\n</li>\r\n</ul>\r\n<h2 style=\"text-align: center;\"><span
    style=\"font-size: x-large;\"><strong><span style=\"background: none repeat scroll
    0% 0% transparent;\"><span style=\"background: none repeat scroll 0% 0% transparent;\">PŘ&Iacute;VĚTIV&Eacute;
    ŽIVOTN&Iacute; PROSTŘED&Iacute;</span></span></strong></span></h2>\r\n<p><span
    style=\"font-size: large;\"><strong><span style=\"background: none repeat scroll
    0% 0% transparent;\"><span style=\"background: none repeat scroll 0% 0% transparent;\"><em>Na&scaron;&iacute;m
    hlavn&iacute;m c&iacute;lem je vytvořit př&iacute;jemn&eacute; a hlavně čist&eacute;
    životn&iacute; prostřed&iacute;, kde by neměl b&yacute;t probl&eacute;m nal&eacute;zt
    si sv&eacute; m&iacute;sto k&nbsp;relaxaci.</em></span></span></strong></span></p>\r\n<ul>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\">Nepřipust&iacute;me likvidaci st&aacute;vaj&iacute;c&iacute;ch
    zelen&yacute;ch ploch v&nbsp;centru města a přistoup&iacute;me k&nbsp;obnově a
    nov&eacute; v&yacute;sadbě uličn&iacute; zeleně.</span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\">Vytvoř&iacute;me nov&eacute; odpočinkov&eacute; z&oacute;ny.
    To znamen&aacute; v&iacute;ce laviček v&nbsp;ulic&iacute;ch města.</span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\">Pokl&aacute;d&aacute;me za potřebn&eacute; důsledněji
    postihovat zneči&scaron;ťov&aacute;n&iacute; veřejn&yacute;ch prostranstv&iacute;.</span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\">Zlep&scaron;&iacute;me podm&iacute;nky pro život
    tělesně postižen&yacute;ch a dlouhodobě nemocn&yacute;ch občanů.</span></p>\r\n</li>\r\n</ul>\r\n<h2
    style=\"text-align: center;\"><span style=\"font-size: x-large;\"><strong><span
    style=\"background: none repeat scroll 0% 0% transparent;\">MODERN&Iacute; A KONKURENCESCHOPN&Eacute;
    &Scaron;KOLSTV&Iacute;</span></strong></span></h2>\r\n<p style=\"margin-bottom:
    0cm;\" align=\"LEFT\"><span style=\"font-size: large;\"><strong><span style=\"background:
    none repeat scroll 0% 0% transparent;\"><em>Žamberk je v&yacute;znamn&yacute;
    pro svou &scaron;kolskou s&iacute;ť. Budeme podporovat novou modern&iacute; v&yacute;uku
    v mateřsk&yacute;ch a z&aacute;kladn&iacute;ch &scaron;kol&aacute;ch. Nebudeme
    br&aacute;nit vzniku soukrom&yacute;ch &scaron;kol a &scaron;kolek. T&iacute;m
    vznikne tolik potřebn&eacute; konkurenčn&iacute; prostřed&iacute; a pestr&aacute;
    nab&iacute;dka v zaměřen&iacute; (sportovn&iacute;m, jazykov&eacute;m, uměleck&eacute;m).</em></span></strong></span></p>\r\n<ul>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Podpoř&iacute;me různosti v zaměřen&iacute; z&aacute;kladn&iacute;ch
    &scaron;kol dle požadavků občanů a jejich n&aacute;ročnosti (např. vznik sportovn&iacute;
    či jazykov&eacute; tř&iacute;dy).</span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Zř&iacute;d&iacute;me elektronick&eacute; ž&aacute;kovsk&eacute;
    kn&iacute;žky na z&aacute;kladn&iacute;ch &scaron;kol&aacute;ch.</span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Budeme podporovat projekt \"Tablety do &scaron;kol\".</span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Pro děti ze Žamberka zajist&iacute;me přednostn&iacute; um&iacute;stěn&iacute;
    v mateřsk&yacute;ch &scaron;kol&aacute;ch a budeme podporovat existenci alternativn&iacute;ch
    možnost&iacute; (např. firemn&iacute; &scaron;kolky).</span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">N</span><span style=\"background: none repeat scroll 0% 0% transparent;\">ebudeme
    br&aacute;nit vzniku soukrom&yacute;ch vzděl&aacute;vac&iacute;ch zař&iacute;zen&iacute;.</span></span></p>\r\n</li>\r\n</ul>\r\n<h2
    style=\"text-align: center;\"><span style=\"font-size: x-large;\"><span style=\"background:
    none repeat scroll 0% 0% transparent;\"><strong><span style=\"background: none
    repeat scroll 0% 0% transparent;\"><strong>KULTURA A SPORT PRO V&Scaron;ECHNY</strong></span></strong></span></span></h2>\r\n<p><span
    style=\"font-size: large;\"><strong><em style=\"line-height: 1.5em;\">Jsme proti
    zv&yacute;hodňov&aacute;n&iacute; určit&yacute;ch skupin obyvatel (sportovn&iacute;
    klientelismus), v&scaron;echna sdružen&iacute; mus&iacute; b&yacute;t podporov&aacute;na
    stejně.</em></strong></span></p>\r\n<ul>\r\n<li>\r\n<p><span style=\"font-size:
    medium;\"><span style=\"background: none repeat scroll 0% 0% transparent;\">Připrav&iacute;me
    v&yacute;stavbu veřejn&eacute;ho atletick&eacute;ho stadionu.</span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\"><span style=\"background: none repeat scroll 0% 0% transparent;\">V</span><span
    style=\"background: none repeat scroll 0% 0% transparent;\">ybudujeme nov&aacute;
    veřejn&aacute; dětsk&aacute; hři&scaron;tě a venkovn&iacute; fitness hři&scaron;tě
    pro dospěl&eacute;.</span></span></span></p>\r\n</li>\r\n<li>\r\n<p><span style=\"font-size:
    medium;\"><span style=\"background: none repeat scroll 0% 0% transparent;\">Podpoř&iacute;me
    opravu a &uacute;držbu nemovit&yacute;ch kulturn&iacute;ch pam&aacute;tek ve městě.</span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Z&nbsp;rozpočtu města nebudeme dotovat sportovn&iacute; a kulturn&iacute;
    aktivity dospěl&yacute;ch.<br /></span></span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"font-size: medium;\"><span style=\"background: none repeat scroll 0% 0%
    transparent;\">Zastav&iacute;me prodělečn&eacute; projekty a přehodnot&iacute;me
    v&scaron;emožn&aacute; oceněn&iacute; a ceny. Oceňovat budeme pouze mimoř&aacute;dně
    v&yacute;znamn&eacute; &uacute;spěchy republikov&eacute;ho v&yacute;znamu a pouze
    žambereck&yacute;ch dět&iacute;.</span></span></p>\r\n</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p><span
    style=\"font-size: medium;\"><strong>Svobodn&iacute; v komun&aacute;ln&iacute;
    politice vych&aacute;z&iacute; obecně z těchto principů:</strong></span></p>\r\n<p><span
    style=\"font-size: medium;\">Obce hospodař&iacute; zpravidla s vyrovnan&yacute;m
    rozpočtem a dluhy tvoř&iacute; jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch
    za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů. Svobodn&iacute; toto
    pravidlo hospodařen&iacute; obc&iacute; prosazuj&iacute; jako analogii n&aacute;vrhu
    &uacute;stavn&iacute;ho z&aacute;kona o vyrovnan&eacute;m rozpočtu na &uacute;rovni
    st&aacute;tu.</span></p>\r\n<p><span style=\"font-size: medium;\">Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v
    obc&iacute;ch.</span></p>\r\n<p><span style=\"font-size: medium;\">Obce z&aacute;sadně
    nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute; deformovat tržn&iacute;
    prostřed&iacute;.</span></p>\r\n<p><span style=\"font-size: medium;\">Obce ukl&aacute;daj&iacute;
    přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně konzervativně, tj. do
    aktiv s minim&aacute;ln&iacute;m rizikem.</span></p>\r\n<p><span style=\"font-size:
    medium;\">V př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute;
    odvol&aacute;vat na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy
    jsou veřejn&eacute;.</span></p>\r\n<p><span style=\"font-size: medium;\">Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</span></p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
