---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<h2 style=\"margin-bottom: 0cm;\" align=\"CENTER\"><span
    style=\"font-size: x-large;\"><strong><span style=\"background: none repeat scroll
    0% 0% transparent;\">Volebn&iacute; program Svobodn&yacute;ch </span></strong><span
    style=\"background: none repeat scroll 0% 0% transparent;\"><strong>pro komun&aacute;ln&iacute;
    volby 2014 v Žamberku</strong></span></span></h2>\r\n<h2 style=\"margin-bottom:
    0cm; text-align: center;\" align=\"CENTER\"><span style=\"font-size: large;\"><strong><span
    style=\"background: transparent;\">Heslo: &bdquo;POSV&Iacute;T&Iacute;ME SI NA
    RADNICI.&ldquo;</span></strong></span></h2>\r\n<p><span style=\"font-size: small;\"><span
    style=\"background: none repeat scroll 0% 0% transparent;\"><em>Chceme, aby o
    sobě svobodn&iacute; občan&eacute; rozhodovali sami, aby se sami rozhodovali,
    jak nalož&iacute; se sv&yacute;mi penězi. Aby tuto &uacute;lohu nečinilo město.
    To by se mělo starat pouze o z&aacute;kladn&iacute; věci &ndash; starost o městsk&yacute;
    majetek, veřejn&aacute; prostranstv&iacute; a o bezpečnost.</em></span><strong><span
    style=\"background: none repeat scroll 0% 0% transparent;\"><em><br /></em></span></strong></span></p>\r\n<p
    style=\"margin-bottom: 0cm; text-align: left;\" align=\"LEFT\"><span style=\"font-size:
    medium;\"><strong><span style=\"background: none repeat scroll 0% 0% transparent;\">&Scaron;T&Iacute;HL&Yacute;
    &Uacute;ŘAD</span></strong></span></p>\r\n<p style=\"margin-bottom: 0cm; text-align:
    left;\" align=\"LEFT\"><span style=\"font-size: small;\"><span style=\"background:
    none repeat scroll 0% 0% transparent;\"><em>Jsme zast&aacute;nci &scaron;t&iacute;hl&eacute;ho
    &uacute;řadu, kter&yacute; vykon&aacute;v&aacute; jen nezbytn&eacute; &uacute;koly
    spojen&eacute; se samospr&aacute;vou a st&aacute;tn&iacute; spr&aacute;vou. Jsme
    proti zbytečn&yacute;m a nic nepřin&aacute;&scaron;ej&iacute;c&iacute;m m&oacute;dn&iacute;m
    projektům.</em></span></span></p>\r\n<ul>\r\n<li>\r\n<p style=\"margin-bottom:
    0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size: small;\"><span
    style=\"background: none repeat scroll 0% 0% transparent;\">sn&iacute;ž&iacute;me
    počet volen&yacute;ch zastupitelů z 21 na 15 a členů Rady města ze 7 na 5</span></span></p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: none repeat scroll 0% 0% transparent;\">podpoř&iacute;me
    pouze uvolněn&eacute;ho starostu a jednoho neuvolněn&eacute;ho m&iacute;stostarostu</span></span></p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: none repeat scroll 0% 0% transparent;\">zru&scaron;&iacute;me
    v&yacute;bory zastupitelstva a komise Rady, kter&eacute; nemus&iacute; město ze
    z&aacute;kona zřizovat a omez&iacute;me počet jejich členů na 3</span></span></p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: none repeat scroll 0% 0% transparent;\">zjednodu&scaron;&iacute;me
    organizačn&iacute; ř&aacute;d zru&scaron;en&iacute;m či sloučen&iacute;m někter&yacute;ch
    odborů</span></span></p>\r\n</li>\r\n<li>\r\n<p style=\"margin-bottom: 0cm; font-weight:
    normal;\" align=\"LEFT\"><span style=\"font-size: small;\"><span style=\"background:
    none repeat scroll 0% 0% transparent;\">provedeme person&aacute;ln&iacute; audit
    městsk&eacute;ho &uacute;řadu i př&iacute;spěvkov&yacute;ch organizac&iacute;</span></span></p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: none repeat scroll 0% 0% transparent;\">sn&iacute;ž&iacute;me
    počet př&iacute;spěvkov&yacute;ch organizac&iacute; nebo je přeměn&iacute;me na
    jinou pr&aacute;vn&iacute; formu (např. OPS)</span></span></p>\r\n</li>\r\n</ul>\r\n<p
    style=\"margin-bottom: 0cm; text-align: left;\" align=\"LEFT\"><span style=\"font-size:
    medium;\"><strong><span style=\"background: none repeat scroll 0% 0% transparent;\">ZDRAV&Eacute;
    FINANCE<br /></span></strong></span></p>\r\n<p style=\"margin-bottom: 0cm; text-align:
    left;\" align=\"LEFT\"><span style=\"font-size: small;\"><span style=\"background:
    none repeat scroll 0% 0% transparent;\"><em>Podporujeme pouze vyrovnan&eacute;
    hospodařen&iacute; bez &uacute;věrů a co nejmen&scaron;&iacute; \"městsk&eacute;
    daně\" (např. daň z nemovitost&iacute;, poplatky)</em></span></span></p>\r\n<ul>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\">prosad&iacute;me vyrovnan&yacute;
    rozpočet města založen&yacute; na přebytkov&eacute;m provozn&iacute;m rozpočtu,
    aby zbylo na investice</span></span></p>\r\n</li>\r\n<li>\r\n<p style=\"margin-bottom:
    0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size: small;\"><span
    style=\"background: transparent;\">nebudeme město zatěžovat nov&yacute;mi &uacute;věry
    (s v&yacute;jimkou živeln&eacute; katastrofy)</span></span></p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\">sn&iacute;ž&iacute;me daň z
    nemovitost&iacute; (př&iacute;padně jej&iacute; koeficient)</span></span></p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\">prosad&iacute;me zru&scaron;en&iacute;
    poplatku za komun&aacute;ln&iacute; odpad (považujeme to za veřejnou službu, tud&iacute;ž
    placenou z na&scaron;ich dan&iacute;)</span></span></p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\">podpoř&iacute;me prodej bytů
    do soukrom&eacute;ho vlastnictv&iacute; s v&yacute;jimkou bytů pro soci&aacute;lně
    slab&eacute; (město nem&aacute; vlastnit bytov&yacute; fond)</span></span></p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\">zru&scaron;&iacute;me poplatky
    za parkov&aacute;n&iacute; na městsk&yacute;ch komunikac&iacute;ch pro obyvatele
    Žamberka</span></span></p>\r\n</li>\r\n<li>\r\n<p style=\"margin-bottom: 0cm;
    font-weight: normal;\" align=\"LEFT\"><span style=\"font-size: small;\"><span
    style=\"background: transparent;\">odm&iacute;t&aacute;me dotačn&iacute; politiku
    města (dotace vytv&aacute;řej&iacute; nerovn&eacute; podm&iacute;nky na trhu)
    s v&yacute;jimkou soci&aacute;ln&iacute;ch projektů</span></span></p>\r\n</li>\r\n</ul>\r\n<p
    style=\"margin-bottom: 0cm;\" align=\"LEFT\"><span style=\"font-size: medium;\"><strong><span
    style=\"background: none repeat scroll 0% 0% transparent;\">PRŮHLEDN&Eacute; ROZHODOV&Aacute;N&Iacute;</span></strong></span></p>\r\n<p
    style=\"margin-bottom: 0cm;\" align=\"LEFT\"><em><span style=\"font-size: medium;\"><span
    style=\"background: none repeat scroll 0% 0% transparent;\"><span style=\"font-size:
    small;\"><em>Město mus&iacute; ve&scaron;ker&eacute; informace zpř&iacute;stupnit
    veřejnosti. Nelze se vymlouvat na obchodn&iacute; tajemstv&iacute;.</em><br /></span></span></span></em></p>\r\n<ul>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\">veřejn&eacute; zak&aacute;zky
    budeme zad&aacute;vat z&aacute;sadně v otevřen&eacute;m v&yacute;běrov&eacute;m
    ř&iacute;zen&iacute; bez omezen&iacute; počtu uchazečů</span></span></p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\">průběh cel&eacute;ho ř&iacute;zen&iacute;
    o veřejn&eacute; zak&aacute;zce zveřejn&iacute;me na internetu (od zad&aacute;vac&iacute;
    dokumentace po protokoly o zased&aacute;n&iacute; hodnot&iacute;c&iacute; komise
    a texty př&iacute;slu&scaron;n&yacute;ch smluv)</span></span></p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\">zveřejn&iacute;me zvukov&yacute;
    i videoz&aacute;znam ze zased&aacute;n&iacute; zastupitelstva na internetu</span></span></p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\">zveřejn&iacute;me z&aacute;pisy
    ze zased&aacute;n&iacute; v&scaron;ech org&aacute;nů města, bez ohledu na to,
    zda jsou tato jedn&aacute;n&iacute; veřejn&aacute; či nikoliv. Požadujeme tak&eacute;
    zveřejňov&aacute;n&iacute; podkladů pro jedn&aacute;n&iacute; zastupitelstva města</span></span></p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\">zavedeme jasn&aacute; krit&eacute;ria
    pro přidělov&aacute;n&iacute; městsk&yacute;ch soci&aacute;ln&iacute;ch bytů a
    zveřejn&iacute;me seznam uchazečů</span></span></p>\r\n</li>\r\n</ul>\r\n<p style=\"margin-bottom:
    0cm;\" align=\"LEFT\"><span style=\"font-size: medium;\"><strong><span style=\"background:
    none repeat scroll 0% 0% transparent;\">ROZVOJ MĚSTA</span></strong></span></p>\r\n<p
    style=\"margin-bottom: 0cm;\" align=\"LEFT\"><span style=\"font-size: small;\"><em><span
    style=\"background: none repeat scroll 0% 0% transparent;\">Na&scaron;im c&iacute;lem
    je rozvoj města podle předem připraven&eacute;ho dlouhodob&eacute;ho pl&aacute;nu,
    ne nahodile z roku na rok.</span></em></span></p>\r\n<ul>\r\n<li>\r\n<p style=\"margin-bottom:
    0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size: small;\"><span
    style=\"background: transparent;\">soustavn&yacute;m tlakem na st&aacute;tn&iacute;
    org&aacute;ny se pokus&iacute;me zah&aacute;jit v&yacute;stavbu obchvatu města</span></span></p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\">změn&iacute;me &uacute;zemn&iacute;
    pl&aacute;n na z&aacute;kladě n&aacute;mi navrhovan&eacute;ho integrovan&eacute;ho
    pl&aacute;nu rozvoje města</span></span></p>\r\n</li>\r\n<li>\r\n<p style=\"margin-bottom:
    0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size: small;\"><span
    style=\"background: transparent;\">podpoř&iacute;me v&yacute;stavbu s&iacute;tě
    městsk&yacute;ch cyklistick&yacute;ch stezek</span></span></p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\">roz&scaron;&iacute;ř&iacute;me
    s&iacute;ť městsk&eacute; hromadn&eacute; dopravy zaji&scaron;těnou soukrom&yacute;mi
    autodopravci a umožn&iacute;me jej&iacute; doplněn&iacute; o podpůrn&eacute; služby
    (např. půjčovny kol)</span></span></p>\r\n</li>\r\n<li>\r\n<p style=\"margin-bottom:
    0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size: small;\"><span
    style=\"background: transparent;\">podpoř&iacute;me revitalizaci autobusov&eacute;ho
    n&aacute;draž&iacute; včetně autobusov&yacute;ch zast&aacute;vek ve městě</span></span></p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\">vybudujeme každ&yacute; rok
    jedno dětsk&eacute; či workoutov&eacute; hři&scaron;tě</span></span></p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\">připrav&iacute;me v&yacute;stavbu
    veřejn&eacute;ho atletick&eacute;ho stadionu</span></span></p>\r\n</li>\r\n</ul>\r\n<p
    style=\"margin-bottom: 0cm;\" align=\"LEFT\"><span style=\"font-size: medium;\"><strong><span
    style=\"background: none repeat scroll 0% 0% transparent;\">BEZPEČNOST VE MĚSTĚ</span></strong></span></p>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\"><em>Bezpečnost je kl&iacute;čov&yacute;m
    bodem. Město sice nem&aacute; dostatečn&eacute; možnosti, jak ovlivnit fungov&aacute;n&iacute;
    Policie ČR. Proto nab&iacute;z&iacute;me reformu městsk&eacute; policie.</em></span></span></p>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\">zasad&iacute;me se o zv&yacute;&scaron;en&yacute;
    dohled městsk&eacute; policie v problematick&yacute;ch oblastech</span></span></p>\r\n<ul>\r\n<li><span
    style=\"font-size: small;\">navr&aacute;t&iacute;me se k&nbsp;modelu prvorepublikov&yacute;ch
    pochůzk&aacute;řů (hl&iacute;dky budou jednočlenn&eacute;, každ&yacute; str&aacute;žn&iacute;k
    bude zodpov&iacute;dat za svůj rajon)</span></li>\r\n<li><span style=\"font-size:
    small;\">str&aacute;žn&iacute;k m&aacute; b&yacute;t předev&scaron;&iacute;m pomocnou
    rukou, nikoliv měřit rychlost a přednostně udělovat pokuty za &scaron;patn&eacute;
    parkov&aacute;n&iacute;</span></li>\r\n<li><span style=\"font-size: small;\"><span
    style=\"background: transparent;\">zř&iacute;d&iacute;me m&iacute;sto psovoda
    u městsk&eacute; policie</span></span></li>\r\n<li><span style=\"font-size: small;\"><span
    style=\"background: transparent;\">důsledněji budeme postihovat ničen&iacute;
    soukrom&eacute;ho i městsk&eacute;ho majetku, včetně zneči&scaron;ťov&aacute;n&iacute;
    veřejn&yacute;ch prostranstv&iacute;</span></span></li>\r\n<li><span style=\"font-size:
    small;\"><span style=\"background: transparent;\"><span style=\"font-size: small;\"><span
    style=\"background: transparent;\">zasad&iacute;me se o zv&yacute;&scaron;en&yacute;
    dohled městsk&eacute; policie v problematick&yacute;ch oblastech</span></span></span></span></li>\r\n</ul>\r\n<p
    style=\"margin-bottom: 0cm;\" align=\"LEFT\"><span style=\"font-size: medium;\"><strong><span
    style=\"background: none repeat scroll 0% 0% transparent;\">&Scaron;KOLSTV&Iacute;,
    KULTURU A SPORT</span></strong></span></p>\r\n<ul>\r\n<li>\r\n<p style=\"margin-bottom:
    0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size: small;\"><span
    style=\"background: transparent;\">podpoř&iacute;me různosti v zaměřen&iacute;
    z&aacute;kladn&iacute;ch &scaron;kol dle požadavků občanů a jejich n&aacute;ročnosti
    (např. vznik sportovn&iacute; či jazykov&eacute; tř&iacute;dy)</span></span></p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size:
    small;\"><span style=\"background: transparent;\">pro děti ze Žamberka zajist&iacute;me
    přednostn&iacute; um&iacute;stěn&iacute; v mateřsk&yacute;ch &scaron;kol&aacute;ch
    a budeme podporovat existenci alternativn&iacute;ch možnost&iacute; (např. firemn&iacute;
    &scaron;kolky)</span></span></p>\r\n</li>\r\n<li>\r\n<p style=\"margin-bottom:
    0cm; font-weight: normal;\" align=\"LEFT\"><span style=\"font-size: small;\"><span
    style=\"background: transparent;\">nebudeme br&aacute;nit vzniku soukrom&yacute;ch
    vzděl&aacute;vac&iacute;ch zař&iacute;zen&iacute;</span></span></p>\r\n</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p><strong>Svobodn&iacute;
    v komun&aacute;ln&iacute; politice vych&aacute;z&iacute; obecně z těchto principů:</strong></p>\r\n<p><span
    style=\"font-size: small;\">Obce hospodař&iacute; zpravidla s vyrovnan&yacute;m
    rozpočtem a dluhy tvoř&iacute; jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch
    za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů. Svobodn&iacute; toto
    pravidlo hospodařen&iacute; obc&iacute; prosazuj&iacute; jako analogii n&aacute;vrhu
    &uacute;stavn&iacute;ho z&aacute;kona o vyrovnan&eacute;m rozpočtu na &uacute;rovni
    st&aacute;tu.</span></p>\r\n<p><span style=\"font-size: small;\">Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v
    obc&iacute;ch.</span></p>\r\n<p><span style=\"font-size: small;\">Obce z&aacute;sadně
    nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute; deformovat tržn&iacute;
    prostřed&iacute;.</span></p>\r\n<p><span style=\"font-size: small;\">Obce ukl&aacute;daj&iacute;
    přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně konzervativně, tj. do
    aktiv s minim&aacute;ln&iacute;m rizikem.</span></p>\r\n<p><span style=\"font-size:
    small;\">V př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute;
    odvol&aacute;vat na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy
    jsou veřejn&eacute;.</span></p>\r\n<p><span style=\"font-size: small;\">Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</span></p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
