---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p>&nbsp;</p>\r\n<p id=\"docs-internal-guid-17c303ac-6faa-5c09-e715-6f354f476aa6\"
    style=\"line-height: 1; margin-top: 0pt; margin-bottom: 0pt;\" dir=\"ltr\"><span
    style=\"font-size: 15px; font-family: Arial; color: #000000; background-color:
    transparent; font-weight: bold; font-style: normal; font-variant: normal; text-decoration:
    none; vertical-align: baseline;\">1. Průhledn&eacute; hospodařen&iacute; radnice</span></p>\r\n<p
    style=\"line-height: 1; margin-top: 0pt; margin-bottom: 0pt;\" dir=\"ltr\"><span
    style=\"font-size: 15px; font-family: Arial; color: #000000; background-color:
    transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration:
    none; vertical-align: baseline;\"> &nbsp;&nbsp;&nbsp;- prosad&iacute;me vyrovnan&yacute;
    rozpočet</span></p>\r\n<p style=\"line-height: 1; margin-top: 0pt; margin-bottom:
    0pt;\" dir=\"ltr\"><span style=\"font-size: 15px; font-family: Arial; color: #000000;
    background-color: transparent; font-weight: normal; font-style: normal; font-variant:
    normal; text-decoration: none; vertical-align: baseline;\"> &nbsp;&nbsp;&nbsp;-
    prosad&iacute;me transparentn&iacute; městsk&yacute; &uacute;čet</span></p>\r\n<p
    style=\"line-height: 1; margin-top: 0pt; margin-bottom: 0pt;\" dir=\"ltr\"><span
    style=\"font-size: 15px; font-family: Arial; color: #000000; background-color:
    transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration:
    none; vertical-align: baseline;\"> &nbsp;&nbsp;&nbsp;- zprůhledn&iacute;me veřejn&eacute;
    zak&aacute;zky</span></p>\r\n<p style=\"line-height: 1; margin-top: 0pt; margin-bottom:
    0pt;\" dir=\"ltr\"><span style=\"font-size: 15px; font-family: Arial; color: #000000;
    background-color: transparent; font-weight: normal; font-style: normal; font-variant:
    normal; text-decoration: none; vertical-align: baseline;\"> &nbsp;&nbsp;&nbsp;-
    zefektivn&iacute;me využ&iacute;v&aacute;n&iacute; zdrojů</span></p>\r\n<p style=\"line-height:
    1; margin-top: 0pt; margin-bottom: 0pt;\" dir=\"ltr\"><span style=\"font-size:
    15px; font-family: Arial; color: #000000; background-color: transparent; font-weight:
    normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align:
    baseline;\"> &nbsp;&nbsp;&nbsp;- zrevidujeme smlouvy s dodavateli</span></p>\r\n<p
    style=\"line-height: 1; margin-top: 0pt; margin-bottom: 0pt;\" dir=\"ltr\"><span
    style=\"font-size: 15px; font-family: Arial; color: #000000; background-color:
    transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration:
    none; vertical-align: baseline;\"> &nbsp;&nbsp;&nbsp;- omez&iacute;me v&yacute;daje
    na provoz městsk&eacute;ho &uacute;řadu</span></p>\r\n<p style=\"line-height:
    1; margin-top: 0pt; margin-bottom: 0pt;\" dir=\"ltr\"><span style=\"font-size:
    15px; font-family: Arial; color: #000000; background-color: transparent; font-weight:
    normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align:
    baseline;\"> &nbsp;&nbsp;&nbsp;- budeme investovat prostředky do oprav zanedban&yacute;ch
    ulic</span></p>\r\n<p style=\"line-height: 1; margin-top: 0pt; margin-bottom:
    0pt;\" dir=\"ltr\"><span style=\"font-size: 15px; font-family: Arial; color: #000000;
    background-color: transparent; font-weight: normal; font-style: normal; font-variant:
    normal; text-decoration: none; vertical-align: baseline;\"> &nbsp;&nbsp;&nbsp;-
    zrevidujeme poplatky a vyhodnot&iacute;me jejich využit&iacute; v hospodařen&iacute;
    města (poplatky za psy, odpady, parkov&aacute;n&iacute; atd.)</span></p>\r\n<p>&nbsp;</p>\r\n<p
    style=\"line-height: 1; margin-top: 0pt; margin-bottom: 0pt;\" dir=\"ltr\"><span
    style=\"font-size: 15px; font-family: Arial; color: #000000; background-color:
    transparent; font-weight: bold; font-style: normal; font-variant: normal; text-decoration:
    none; vertical-align: baseline;\">2. Informovanost a komunikace s obyvateli města</span></p>\r\n<p
    style=\"line-height: 1; margin-top: 0pt; margin-bottom: 0pt;\" dir=\"ltr\"><span
    style=\"font-size: 15px; font-family: Arial; color: #000000; background-color:
    transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration:
    none; vertical-align: baseline;\"> &nbsp;&nbsp;- zapoj&iacute;me obyvatele města
    do rozhodov&aacute;n&iacute; (ankety, m&iacute;stn&iacute; referenda)</span></p>\r\n<p
    style=\"line-height: 1; margin-top: 0pt; margin-bottom: 0pt;\" dir=\"ltr\"><span
    style=\"font-size: 15px; font-family: Arial; color: #000000; background-color:
    transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration:
    none; vertical-align: baseline;\"> &nbsp;&nbsp;- zkvalitn&iacute;me obsah m&iacute;stn&iacute;ch
    novin</span></p>\r\n<p style=\"line-height: 1; margin-top: 0pt; margin-bottom:
    0pt;\" dir=\"ltr\"><span style=\"font-size: 15px; font-family: Arial; color: #000000;
    background-color: transparent; font-weight: normal; font-style: normal; font-variant:
    normal; text-decoration: none; vertical-align: baseline;\"> &nbsp;&nbsp;- zlep&scaron;&iacute;me
    web města</span></p>\r\n<p style=\"line-height: 1; margin-top: 0pt; margin-bottom:
    0pt;\" dir=\"ltr\"><span style=\"font-size: 15px; font-family: Arial; color: #000000;
    background-color: transparent; font-weight: normal; font-style: normal; font-variant:
    normal; text-decoration: none; vertical-align: baseline;\"> &nbsp;&nbsp;- prosad&iacute;me
    vys&iacute;l&aacute;n&iacute; přenosů/z&aacute;znamů z jedn&aacute;n&iacute; zastupitelů
    města na webu</span></p>\r\n<p style=\"line-height: 1; margin-top: 0pt; margin-bottom:
    0pt;\" dir=\"ltr\"><span style=\"font-size: 15px; font-family: Arial; color: #000000;
    background-color: transparent; font-weight: normal; font-style: normal; font-variant:
    normal; text-decoration: none; vertical-align: baseline;\"> &nbsp;&nbsp;- prosad&iacute;me
    zveřejňov&aacute;n&iacute; jmenovit&eacute;ho hlasov&aacute;n&iacute; zastupitelů</span></p>\r\n<p
    style=\"line-height: 1; margin-top: 0pt; margin-bottom: 0pt;\" dir=\"ltr\"><span
    style=\"font-size: 15px; font-family: Arial; color: #000000; background-color:
    transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration:
    none; vertical-align: baseline;\"> &nbsp;&nbsp;- prosad&iacute;me lidov&eacute;
    veto</span></p>\r\n<p>&nbsp;</p>\r\n<p style=\"line-height: 1.15; margin-top:
    0pt; margin-bottom: 0pt;\" dir=\"ltr\"><span style=\"font-size: 15px; font-family:
    Arial; color: #000000; background-color: transparent; font-weight: bold; font-style:
    normal; font-variant: normal; text-decoration: none; vertical-align: baseline;\">3.
    Bezpečnost ve městě</span></p>\r\n<p style=\"line-height: 1.15; margin-top: 0pt;
    margin-bottom: 0pt;\" dir=\"ltr\"><span style=\"font-size: 15px; font-family:
    Arial; color: #000000; background-color: transparent; font-weight: normal; font-style:
    normal; font-variant: normal; text-decoration: none; vertical-align: baseline;\">
    &nbsp;&nbsp;&nbsp;- přehodnot&iacute;me priority MP</span></p>\r\n<p style=\"line-height:
    1.15; margin-top: 0pt; margin-bottom: 0pt;\" dir=\"ltr\"><span style=\"font-size:
    15px; font-family: Arial; color: #000000; background-color: transparent; font-weight:
    normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align:
    baseline;\"> &nbsp;&nbsp;&nbsp;- urč&iacute;me nov&eacute; priority MP tak, aby
    zajistila vět&scaron;&iacute; bezpečnost ve městě</span></p>\r\n<p>&nbsp;</p>\r\n<p
    style=\"line-height: 1.15; margin-top: 0pt; margin-bottom: 0pt;\" dir=\"ltr\"><span
    style=\"font-size: 15px; font-family: Arial; color: #000000; background-color:
    transparent; font-weight: bold; font-style: normal; font-variant: normal; text-decoration:
    none; vertical-align: baseline;\">4. Život ve městě</span></p>\r\n<p style=\"line-height:
    1.15; margin-top: 0pt; margin-bottom: 0pt;\" dir=\"ltr\"><span style=\"font-size:
    15px; font-family: Arial; color: #000000; background-color: transparent; font-weight:
    normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align:
    baseline;\"> &nbsp;&nbsp;&nbsp;- vr&aacute;t&iacute;me trhy na Masarykovo n&aacute;měst&iacute;
    v Brand&yacute;se nad Labem</span></p>\r\n<p style=\"line-height: 1.15; margin-top:
    0pt; margin-bottom: 0pt;\" dir=\"ltr\"><span style=\"font-size: 15px; font-family:
    Arial; color: #000000; background-color: transparent; font-weight: normal; font-style:
    normal; font-variant: normal; text-decoration: none; vertical-align: baseline;\">
    &nbsp;&nbsp;&nbsp;- oživ&iacute;me Masarykovo n&aacute;měst&iacute; v Brand&yacute;se
    nad Labem</span></p>\r\n<p style=\"line-height: 1.15; margin-top: 0pt; margin-bottom:
    0pt;\" dir=\"ltr\"><span style=\"font-size: 15px; font-family: Arial; color: #000000;
    background-color: transparent; font-weight: normal; font-style: normal; font-variant:
    normal; text-decoration: none; vertical-align: baseline;\"> &nbsp;&nbsp;&nbsp;-
    oživ&iacute;me Mari&aacute;nsk&eacute; n&aacute;měst&iacute; ve Star&eacute; Boleslavi</span></p>\r\n<p
    style=\"line-height: 1.15; margin-top: 0pt; margin-bottom: 0pt;\" dir=\"ltr\"><span
    style=\"font-size: 15px; font-family: Arial; color: #000000; background-color:
    transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration:
    none; vertical-align: baseline;\"> &nbsp;&nbsp;&nbsp;- v r&aacute;mci boje proti
    kriminalitě ml&aacute;deže, podpoř&iacute;me sportovn&iacute; aktivity dět&iacute;
    a ml&aacute;deže</span></p>\r\n<p style=\"line-height: 1.15; margin-top: 0pt;
    margin-bottom: 0pt;\" dir=\"ltr\"><span style=\"font-size: 15px; font-family:
    Arial; color: #000000; background-color: transparent; font-weight: normal; font-style:
    normal; font-variant: normal; text-decoration: none; vertical-align: baseline;\">
    &nbsp;&nbsp;&nbsp;- podpoř&iacute;me vznik alternativn&iacute;ch &scaron;kolek</span></p>\r\n<p
    style=\"line-height: 1.15; margin-top: 0pt; margin-bottom: 0pt;\" dir=\"ltr\"><span
    style=\"font-size: 15px; font-family: Arial; color: #000000; background-color:
    transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration:
    none; vertical-align: baseline;\"> &nbsp;&nbsp;&nbsp;- chceme rovn&eacute; podm&iacute;nky
    pro obecn&iacute; a soukrom&eacute; &scaron;kolky</span></p>\r\n<p>&nbsp;</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
