---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p>&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<p><img src=\"/samples/assets/pizap.com14091568095892.jpg\"
    alt=\"\" /></p>\r\n<p style=\"text-align: center;\">Svobodn&iacute; Habartov prosazuj&iacute;:</p>\r\n<p>&nbsp;</p>\r\n<p>-stabiln&iacute;
    rozpočet</p>\r\n<p><br /> -podporu bytov&yacute;ch jednotek se odpojit od centr&aacute;ln&iacute;ho
    vyt&aacute;pěn&iacute; společnosti HATESPO</p>\r\n<p><br /> -sn&iacute;žen&iacute;
    poplatku za komun&aacute;ln&iacute; odpad - v&iacute;ce tř&iacute;dit, m&eacute;ně
    platit</p>\r\n<p><br /> <strong>-zaveden&iacute; služeb v&yacute;jezdn&iacute;ho
    &uacute;ředn&iacute;ka pro na&scaron;e seniory</strong></p>\r\n<p><br /> -<strong>zř&iacute;zen&iacute;
    městsk&eacute; policie - v&iacute;ce bezpeč&iacute; nejen pro na&scaron;e děti,
    ale i v&aacute;&scaron; majetek</strong></p>\r\n<p><br /> -sn&iacute;žen&iacute;,
    př&iacute;padně zru&scaron;en&iacute; poplatku za psa</p>\r\n<p><br /> -dostavbu
    kanalizace <strong>nejen</strong> na Kluči</p>\r\n<p>&nbsp;</p>\r\n<p>-zbudov&aacute;n&iacute;
    bezpečn&eacute;ho přechodu na ulici 1. M&aacute;je a V&iacute;tězn&aacute;</p>\r\n<p>&nbsp;</p>\r\n<p>-v&yacute;stavbu
    společensk&eacute;ho prostoru (např.dětsk&aacute; a aktivn&iacute; hři&scaron;tě)
    v oblasti ulic&nbsp; M&iacute;rov&aacute;,Gagarinova,Okružn&iacute;</p>\r\n<p>&nbsp;</p>\r\n<p>-v&yacute;stavbu
    nov&eacute; zast&aacute;vky a dětsk&eacute;ho hři&scaron;tě v&nbsp;L&iacute;tově
    a propojen&iacute; Habartov- L&iacute;tov-Č&aacute;stkov&nbsp; pě&scaron;&iacute;
    komunikac&iacute;</p>\r\n<p>&nbsp;</p>\r\n<p>-zkvalitněn&iacute; městsk&yacute;ch
    parků, autobusov&yacute;ch zast&aacute;vek a &uacute;pravy komunikac&iacute;</p>\r\n<p><strong>&nbsp;</strong></p>\r\n<p
    style=\"text-align: center;\"><strong>Habartov nen&iacute; jen &bdquo;město&ldquo;
    Habartov</strong></p>\r\n<p style=\"text-align: center;\">&nbsp;</p>\r\n<p style=\"text-align:
    center;\">&nbsp;</p>\r\n<p style=\"text-align: center;\"><strong>Svobodn&iacute;
    Habartov</strong></p>\r\n<p style=\"text-align: center;\">&nbsp;</p>\r\n<p style=\"text-align:
    center;\">Nen&iacute;-li V&aacute;m lhostejn&eacute; děn&iacute; v&nbsp;na&scaron;em
    městě, podpořte n&aacute;s v&nbsp;komun&aacute;ln&iacute;ch volb&aacute;ch.</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
