---
title: Kontakt
slug: kontakt
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 90
editable_elements:
  main/kontakt: "<p><strong>Kandid&aacute;t:</strong></p>\r\n<p>Rostislav &Scaron;čambura</p>\r\n<p>Vojt&iacute;&scaron;kov</p>\r\n<p>Email:
    ScamburM.tl11@vsps-su.cz</p>\r\n<p><strong>Koordin&aacute;tor volebn&iacute; kampaně:</strong></p>\r\n<p>Maxmili&aacute;n
    &Scaron;čambura</p>\r\n<p>Vojt&iacute;&scaron;kov</p>\r\n<p>Email: ScamburM.tl11@vsps-su.cz</p>"
---
{% extends parent %}

{% block main %}

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}



{% endblock %}