---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<p><span style=\"font-family: arial, helvetica, sans-serif;\"><strong><span
    style=\"font-size: large;\">Kandid&aacute;t:</span></strong></span></p>\r\n<p><span
    style=\"font-size: medium; font-family: arial, helvetica, sans-serif;\">Rostislav
    &Scaron;čambura</span></p>\r\n<p><span style=\"font-size: medium; font-family:
    arial, helvetica, sans-serif;\">Obec Mal&aacute; Morava, m&iacute;stn&iacute;
    č&aacute;st Vojt&iacute;&scaron;kov</span></p>\r\n<p><span style=\"font-size:
    medium; font-family: arial, helvetica, sans-serif;\">Email: scambura@svobodni.cz</span></p>\r\n<p><span
    style=\"font-family: arial, helvetica, sans-serif;\"><strong><span style=\"font-size:
    large;\">Koordin&aacute;tor volebn&iacute; kampaně:</span></strong></span></p>\r\n<p><span
    style=\"font-size: medium; font-family: arial, helvetica, sans-serif;\">Maxmili&aacute;n
    &Scaron;čambura</span></p>\r\n<p><span style=\"font-size: medium; font-family:
    arial, helvetica, sans-serif;\">Obec Mal&aacute; Morava, m&iacute;stn&iacute;
    č&aacute;st Vojt&iacute;&scaron;kov</span></p>\r\n<p><span style=\"font-size:
    medium; font-family: arial, helvetica, sans-serif;\">Email: scambura@svobodni.cz</span></p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}



</div>

{% endblock %}