---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<p>Svobodn&iacute; Nov&aacute; Ves v Hor&aacute;ch</p>\r\n<p><strong>Ondřej
    Bejček</strong><br />Mobil: 603 286 909<br />Email: Ondrej.Bejcek@gmail.com</p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}