---
title: Komunální program 2014
slug: program-komunal-pisek-2014
is_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
seo_title: Program pro volby do zastupitelstva města Písku 2014
editable_elements:
  main/volebni_program: "<h1><strong>Program pro volby do zastupitelstva města P&iacute;sku
    2014</strong></h1>\r\n<p><strong>N&aacute;&scaron; program vych&aacute;z&iacute;
    z politick&eacute; filosofie Svobodn&yacute;ch, kterou najdete na </strong><span
    style=\"color: #000080;\"><span style=\"text-decoration: underline;\"><strong><a
    class=\"western\" href=\"http://web.svobodni.cz/program/politicka-filosofie\">http</a><a
    class=\"western\" href=\"http://web.svobodni.cz/program/politicka-filosofie\">://</a><a
    class=\"western\" href=\"http://web.svobodni.cz/program/politicka-filosofie\">web</a><a
    class=\"western\" href=\"http://web.svobodni.cz/program/politicka-filosofie\">.</a><a
    class=\"western\" href=\"http://web.svobodni.cz/program/politicka-filosofie\">svobodni</a><a
    class=\"western\" href=\"http://web.svobodni.cz/program/politicka-filosofie\">.</a><a
    class=\"western\" href=\"http://web.svobodni.cz/program/politicka-filosofie\">cz</a><a
    class=\"western\" href=\"http://web.svobodni.cz/program/politicka-filosofie\">/</a><a
    class=\"western\" href=\"http://web.svobodni.cz/program/politicka-filosofie\">program</a><a
    class=\"western\" href=\"http://web.svobodni.cz/program/politicka-filosofie\">/</a><a
    class=\"western\" href=\"http://web.svobodni.cz/program/politicka-filosofie\">politicka</a><a
    class=\"western\" href=\"http://web.svobodni.cz/program/politicka-filosofie\">-</a><a
    class=\"western\" href=\"http://web.svobodni.cz/program/politicka-filosofie\">filosofie</a></strong></span></span></p>\r\n<p
    align=\"JUSTIFY\"><strong>Jsme jednou z m&aacute;la politick&yacute;ch stran,
    kter&aacute; m&aacute; jasnou vizi, jak m&aacute; st&aacute;tn&iacute; spr&aacute;va
    a samospr&aacute;va fungovat, a proto je t&eacute;měř jist&eacute;, že v&scaron;ichni
    na&scaron;i členov&eacute; půjdou jedn&iacute;m směrem, a to např&iacute;č celou
    Českou </strong><strong>r</strong><strong>epublikou</strong><strong> a</strong><strong>
    i bez siln&eacute;ho l&iacute;dra. Nejsme stranou jednoho muže, jsme stranou mnoha
    lid&iacute; různ&yacute;ch n&aacute;zorů se stejnou viz&iacute; mal&eacute;ho
    a decentralizovan&eacute;ho st&aacute;tu.</strong></p>\r\n<h2>&nbsp;hlavn&iacute;
    body programu:</h2>\r\n<p style=\"text-align: left;\"><img src=\"/samples/assets/FaceBook_617-1.jpg\"
    alt=\"\" /></p>\r\n<ol>\r\n<li>\r\n<h1><strong>CHCEME převozn&iacute;ka, ne dluhy!
    </strong></h1>\r\n<ul>\r\n<li>\r\n<p><strong>chceme důsledn&eacute; zhodnocen&iacute;
    nutnosti investic</strong></p>\r\n</li>\r\n</ul>\r\n</li>\r\n</ol>\r\n<p>Velk&eacute;
    investice by měly b&yacute;t vždy včas zveřejněny a měla by k n&iacute;m b&yacute;t
    vyvol&aacute;na veřejn&aacute; diskuse. Rozhodnut&iacute; o investici by mělo
    proběhnout až po přihl&eacute;dnut&iacute; k argumentům z diskuse vze&scaron;l&yacute;ch.</p>\r\n<ol>\r\n<ul>\r\n<li>\r\n<p><strong>chceme
    jen smyslupln&eacute; investice</strong></p>\r\n</li>\r\n</ul>\r\n</ol>\r\n<p>Drah&eacute;
    a velk&eacute; stavby hrazen&eacute; &uacute;věrem by měla schv&aacute;lit alespoň
    dvoutřetinov&aacute; vět&scaron;ina městsk&eacute;ho zastupitelstva, aby se zabr&aacute;nilo
    zbytečn&eacute;mu zadlužov&aacute;n&iacute; města.</p>\r\n<ol>\r\n<ul>\r\n<li>\r\n<p><strong>chceme
    zastavit nesmyslně drah&eacute; stavby </strong><strong>&ndash;</strong><strong>
    např. l&aacute;vka</strong></p>\r\n</li>\r\n</ul>\r\n</ol>\r\n<p>Po dlouh&yacute;ch
    diskus&iacute;ch a mnoha &uacute;vah&aacute;ch s občany P&iacute;sku jsme se rozhodli
    postavit se proti dostavbě l&aacute;vky. Naopak v&aacute;žně uvažujeme o obnoven&iacute;
    převozn&iacute;ka U V&aacute;clava. Mohlo by se jednat o l&aacute;kavou turistickou
    atrakci, kter&aacute; do dan&eacute; lokality vždycky patřila.</p>\r\n<ol>\r\n<ul>\r\n<li>\r\n<p><strong>chceme
    v&iacute;ce parkovac&iacute;ch m&iacute;st na s&iacute;dli&scaron;t&iacute;ch</strong></p>\r\n</li>\r\n</ul>\r\n</ol>\r\n<p>Doporučujeme
    proto při každ&eacute; rekonstrukci přem&yacute;&scaron;let, zda lze přidat parkovac&iacute;
    m&iacute;sto. Obzvl&aacute;&scaron;ť na s&iacute;dli&scaron;t&iacute;ch a v jejich
    okol&iacute;.</p>\r\n<ol>\r\n<ul>\r\n<li>\r\n<p><strong>chceme opravit Jir&aacute;skův
    most u městsk&eacute; čist&iacute;rny odpadn&iacute;ch vod</strong></p>\r\n</li>\r\n<li><strong>chceme
    podporu spolků za činnost pro město</strong></li>\r\n</ul>\r\n</ol>\r\n<p style=\"text-align:
    left;\">&nbsp;<img src=\"/samples/assets/FaceBook_617-2.jpg\" alt=\"\" /></p>\r\n<ol
    start=\"2\">\r\n<li>\r\n<h1><strong>NECHCEME strkat pen&iacute;ze do odpadu.</strong></h1>\r\n<ul>\r\n<li>\r\n<p><strong>nechceme
    pau&scaron;&aacute;ln&iacute; poplatky za sběr odpadu</strong></p>\r\n</li>\r\n</ul>\r\n</li>\r\n</ol>\r\n<p>Budeme
    podporovat bezplatn&yacute; sběr libovoln&eacute;ho tř&iacute;děn&eacute;ho odpadu
    ve sběrn&yacute;ch dvorech. Odvoz odpadu za co nejniž&scaron;&iacute; poplatek,
    ale hlavně &uacute;čtovan&yacute; za množstv&iacute; odpadu, ne za osobu.</p>\r\n<ol>\r\n<ul>\r\n<li>\r\n<p><strong>nechceme
    předražen&eacute; kruhov&eacute; objezdy a křižovatky</strong></p>\r\n</li>\r\n<li>\r\n<p><strong>nechceme
    zadlužen&eacute; město</strong></p>\r\n</li>\r\n</ul>\r\n</ol>\r\n<p style=\"text-align:
    left;\">&nbsp;<img src=\"/samples/assets/FaceBook_617-3.jpg\" alt=\"\" /></p>\r\n<ol
    start=\"3\">\r\n<li>\r\n<h1><strong>POSV&Iacute;T&Iacute;ME SI</strong><strong>
    na cestu va&scaron;ich peněz radnic&iacute;.</strong></h1>\r\n<ul>\r\n<li>\r\n<p><strong>Průhledn&aacute;
    radnice</strong></p>\r\n</li>\r\n<li>\r\n<p><strong>zveřejňov&aacute;n&iacute;
    smluv a v&yacute;dajů</strong></p>\r\n<ul>\r\n<li>\r\n<p><strong>zveřejňov&aacute;n&iacute;
    smluv</strong></p>\r\n</li>\r\n</ul>\r\n</li>\r\n</ul>\r\n</li>\r\n</ol>\r\n<p>Prosazujeme
    zveřejňov&aacute;n&iacute; smluv na internetu bez omezen&iacute; př&iacute;stupu
    po dobu jejich platnosti, včetně v&scaron;ech kopi&iacute; těchto smluv, dodatků,
    př&iacute;loh, před&aacute;vac&iacute;ch protokolů a zpr&aacute;v z kontrol s
    v&yacute;jimkou veřejnopr&aacute;vn&iacute;ch smluv k v&yacute;konu přenesen&eacute;
    působnosti, se začerněn&yacute;mi či anonymizovan&yacute;mi &uacute;daji, kter&eacute;
    by mohly v&eacute;st k identifikaci fyzick&yacute;ch osob, a s v&yacute;jimkou
    smluv, kter&eacute; nelze zveřejnit z důvodu hrozby sankce.</p>\r\n<p>Chceme,
    aby město nesmělo, s v&yacute;jimkou veřejnopr&aacute;vn&iacute;ch smluv k v&yacute;konu
    přenesen&eacute; působnosti, uzavř&iacute;t smlouvu, kterou nen&iacute; možn&eacute;
    zveřejnit bez hrozby sankce.</p>\r\n<ol>\r\n<ul>\r\n<ul>\r\n<li>\r\n<p><strong>zveřejňov&aacute;n&iacute;
    v&yacute;dajů</strong></p>\r\n</li>\r\n</ul>\r\n</ul>\r\n</ol>\r\n<p>Prosazujeme
    zveřejněn&iacute; v&scaron;ech vět&scaron;&iacute;ch v&yacute;dajů města včetně
    jejich n&aacute;vaznost&iacute; na smlouvy nebo povinnosti města. Umožnit jejich
    snadn&eacute; vyhled&aacute;v&aacute;n&iacute; a grafick&eacute; zobrazen&iacute;.</p>\r\n<ol>\r\n<ul>\r\n<li>\r\n<p><strong>transparentn&iacute;
    nakl&aacute;d&aacute;n&iacute; s majetkem města</strong></p>\r\n</li>\r\n</ul>\r\n</ol>\r\n<p>Na
    webu chceme přehledn&yacute; souhrn movit&eacute;ho a nemovit&eacute;ho majetku
    města včetně stavu &uacute;věrů a odkazy na stejn&eacute; informace u firem vlastněn&yacute;ch
    městem.</p>\r\n<ol>\r\n<ul>\r\n<li>\r\n<p><strong>maxim&aacute;ln&iacute; jednoduchost
    a přehlednost městsk&yacute;ch vyhl&aacute;&scaron;ek</strong></p>\r\n</li>\r\n</ul>\r\n</ol>\r\n<p>V&scaron;echny
    vyhl&aacute;&scaron;ky města by měly b&yacute;t snadno dohledateln&eacute;, jednoduch&eacute;
    a přehledn&eacute;, aby se přede&scaron;lo neznalosti.</p>\r\n<ol>\r\n<ul>\r\n<li>\r\n<p><strong>maxim&aacute;lně
    zjednodu&scaron;it hled&aacute;n&iacute; informac&iacute; na webu města</strong></p>\r\n</li>\r\n</ul>\r\n</ol>\r\n<p>Webov&eacute;
    str&aacute;nky mus&iacute; b&yacute;t velmi přehledn&eacute;, ať už hled&aacute;te
    smlouvu libovoln&eacute; firmy s městem, nebo platnou vyhl&aacute;&scaron;ku,
    nebo kulturn&iacute; akci. Město by mělo umožnit bezplatn&eacute; zveřejňov&aacute;n&iacute;
    n&aacute;zorů v&scaron;ech zvolen&yacute;ch členů zastupitelstva. Město by mělo
    umožnit bezplatnou prezentaci kalend&aacute;řně řazen&yacute;ch kulturn&iacute;ch
    akc&iacute; poř&aacute;dan&yacute;ch komerčn&iacute;mi společnostmi.</p>\r\n<p>&nbsp;</p>\r\n<h2>doplňuj&iacute;c&iacute;
    body programu:</h2>\r\n<ul>\r\n<li>\r\n<p><strong>chceme př&iacute;jemn&eacute;
    a vstř&iacute;cn&eacute; zaměstnance města</strong></p>\r\n</li>\r\n</ul>\r\n<p>Povinnost&iacute;
    &uacute;ředn&iacute;ka je vždy b&yacute;t př&iacute;jemn&yacute; a vstř&iacute;cn&yacute;.
    Občan města je z&aacute;kazn&iacute;k. Město a jeho &uacute;ředn&iacute;ci jsou
    služba, kterou si občan plat&iacute;. Přesto mus&iacute; db&aacute;t na to, aby
    v&scaron;em měřilo stejně. Nikdy by to nemělo b&yacute;t obr&aacute;ceně.</p>\r\n<ul>\r\n<li>\r\n<p><strong>chceme
    vstř&iacute;cněj&scaron;&iacute; webov&eacute; str&aacute;nky</strong></p>\r\n</li>\r\n<li>\r\n<p><strong>chceme
    pobytov&eacute; plochy v parc&iacute;ch</strong></p>\r\n</li>\r\n</ul>\r\n<p>Vymezit
    z&oacute;ny v parc&iacute;ch určen&eacute; k posed&aacute;van&iacute; na tr&aacute;vě
    a poř&aacute;d&aacute;n&iacute; pikniků. Parky maj&iacute; b&yacute;t funkčn&iacute;,
    nikoli jen na okrasu.</p>\r\n<ul>\r\n<li>\r\n<p><strong>uvažujeme o zř&iacute;zen&iacute;
    ps&iacute;ch parků</strong></p>\r\n</li>\r\n</ul>\r\n<p>Chceme určit z&oacute;ny,
    kde psi nemus&iacute; m&iacute;t vod&iacute;tko a kde V&aacute;m nikdo nevynad&aacute;,
    že si V&aacute;&scaron; pes ulevil. Toto je zat&iacute;m jen naznačen&yacute;
    směr uvažov&aacute;n&iacute;. Upřesněn&iacute; podoby realizace a v&yacute;běr
    vhodn&yacute;ch lokalit provedeme po konzultac&iacute;ch s odbornou veřejnost&iacute;.</p>\r\n<ul>\r\n<li>\r\n<p><strong>podporujeme
    kr&aacute;tkodob&eacute; parkov&aacute;n&iacute; v centru a bl&iacute;zk&eacute;m
    okol&iacute;</strong></p>\r\n</li>\r\n<li>\r\n<p><strong>chceme aby město naslouchalo
    občanům</strong></p>\r\n</li>\r\n</ul>\r\n<p>N&aacute;pady a n&aacute;vrhy města
    by měly b&yacute;t co nejdř&iacute;ve vystaveny na webu. Pokud bude z&aacute;jem,
    měla by se uskutečnit veřejn&aacute; diskuse. Město by se mělo snažit k n&aacute;zoru
    přibl&iacute;žit a přihl&eacute;dnout k&nbsp;nejsilněj&scaron;&iacute;m a opodstatněn&yacute;m
    argumentům. Přesto jsme proti povinnosti města uposlechnout n&aacute;tlakov&yacute;m
    akc&iacute;m různ&yacute;ch &uacute;čelov&yacute;ch sdružen&iacute;.</p>\r\n<ul>\r\n<li>\r\n<p><strong>město
    nepodnik&aacute;, ale ř&iacute;d&iacute;</strong></p>\r\n</li>\r\n</ul>\r\n<p>Nechceme
    již přeb&iacute;rat jakoukoliv činnost na&scaron;ich podnikatelů a přev&aacute;dět
    ji pod spr&aacute;vu města.</p>\r\n<ul>\r\n<li>\r\n<p><strong>prosazujeme postupn&yacute;
    převod služeb města do konkurenčn&iacute;ho podnikatelsk&eacute;ho prostřed&iacute;</strong></p>\r\n</li>\r\n</ul>\r\n<p>Chceme,
    aby se rozpočet města zmen&scaron;oval a aby se maximum služeb občanům převedlo
    do tržn&iacute;ho konkurenčn&iacute;ho prostřed&iacute;. Je to sice běh na dlouhou
    trať, ale je to podle n&aacute;s krok spr&aacute;vn&yacute;m směrem, jak dokazuje
    např&iacute;klad prosperuj&iacute;c&iacute; město Teplice.</p>\r\n<h2>&nbsp;Z&aacute;kladn&iacute;
    my&scaron;lenky v př&iacute;kladech</h2>\r\n<ul>\r\n<li>\r\n<p><strong>město by
    nemělo podnikat, ale maximum služeb by mělo svěřit podnikatelům</strong></p>\r\n</li>\r\n</ul>\r\n<p><em>Např&iacute;klad:</em></p>\r\n<p><em>I
    ve svozu odpadů by mělo působit několik firem, ať uk&aacute;ž&iacute;, kter&eacute;
    jsou levněj&scaron;&iacute; a pro občany vstř&iacute;cněj&scaron;&iacute;. Pokud
    v&scaron;e ř&iacute;d&iacute; město nebo st&aacute;t, nen&iacute; konkurence a
    tud&iacute;ž nelze zjistit, zda to někdo neum&iacute; l&eacute;pe a levněji.</em></p>\r\n<ul>\r\n<li>\r\n<p><strong>město
    m&aacute; motivovat, ne jen kontrolovat a trestat</strong></p>\r\n</li>\r\n</ul>\r\n<p><em>Např&iacute;klad:</em></p>\r\n<p><em>Je
    lep&scaron;&iacute; platit za množstv&iacute; odvezen&eacute;ho odpadu, a ne za
    osobu.</em></p>\r\n<p><em>+ vět&scaron;ina raději odpad vytř&iacute;d&iacute;
    a bezplatně odevzd&aacute;, než aby jej hodila do komun&aacute;ln&iacute;ho odpadu
    a platila za vět&scaron;&iacute; n&aacute;doby a častěj&scaron;&iacute; odvoz</em></p>\r\n<p><em>+
    nen&iacute; třeba kontroln&iacute; mechanismus, stač&iacute; jen vysvětlov&aacute;n&iacute;
    a v&yacute;chova.</em></p>\r\n<p><em>+ nejsou t&eacute;měř ž&aacute;dn&eacute;
    v&yacute;daje za kontrolu</em></p>\r\n<p><em>- nelze &uacute;plně zabr&aacute;nit
    tendenci nosit odpad do ciz&iacute;ch popelnic, ale nejedn&aacute; se o čast&yacute;
    a hromadn&yacute; probl&eacute;m. Nutno ře&scaron;it individu&aacute;lně.</em></p>\r\n<ul>\r\n<li>\r\n<p><strong>město
    m&aacute; b&yacute;t př&iacute;větiv&eacute;</strong></p>\r\n</li>\r\n</ul>\r\n<p><em>Např&iacute;klad:</em></p>\r\n<p><em>Město
    nem&aacute; vyh&aacute;nět auta z centra. Lid&eacute; maj&iacute; r&aacute;di
    auta a město m&aacute; r&aacute;do sv&eacute; občany i turisty.</em></p>\r\n<p><em>Mus&iacute;
    tedy ře&scaron;it, jak lidi s auty nevyh&aacute;nět, i přesto, že centrum města
    nen&iacute; nafukovac&iacute;.</em></p>\r\n<p><em>Doporučujeme proto při každ&eacute;
    rekonstrukci přem&yacute;&scaron;let, zda lze přidat parkovac&iacute; m&iacute;sto.
    Doporučujeme v centru umožnit levn&eacute;, nebo bezplatn&eacute; kr&aacute;tkodob&eacute;
    parkov&aacute;n&iacute;.</em></p>\r\n<p><em>Např&iacute;klad:</em></p>\r\n<p><em>Město
    by mělo db&aacute;t na to, aby jeho zaměstnanci byli na občany usměvav&iacute;
    a př&iacute;větiv&iacute;.</em></p>\r\n<p>&nbsp;</p>\r\n<p><strong>Jsme Svobodn&iacute;!
    Buďte i vy!</strong></p>"
---
{% extends 'parent' %}