---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<h3>Zastupitel a l&iacute;dr kandid&aacute;tky</h3>\r\n<p>Jiř&iacute;
    P&aacute;nek &ndash; jiri.panek@svobodni.cz, <a href=\"http://jiripanek.cz\">http://jiripanek.cz</a></p>\r\n<p>&nbsp;</p>\r\n<h3>Transparentn&iacute;
    &uacute;čet krajsk&eacute;ho sdružen&iacute;</h3>\r\n<p><a href=\"https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?ID_ucet=2300382820\">2300382820/2010</a></p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}