---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<p>Koordin&aacute;tor: <strong>Pavel Hubka<br /> </strong>Email:
    svobodni.pisek[zavin&aacute;č]post.cz<br /> Tel.: 602 631 104<br /> Facebook:
    <a href=\"http://www.facebook.com/Svobodni.Pisek\">www.facebook.com/Svobodni.Pisek</a></p>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;Formul&aacute;ř
    pro zanech&aacute;n&iacute; vzkazu:</p>\r\n<p><br /><iframe width=\"340\" height=\"160\"
    frameborder=\"0\" src=\"http://miniaplikace.blueboard.cz/mailform.php?id=247749\"></iframe></p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}



</div>

{% endblock %}