---
title: Kontakty
slug: kontakty
is_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 6
editable_elements:
  main/kontakt: "<p>Koordin&aacute;tor pobočky: <a href=\"http://pisek.svobodni.cz/kandidati/pavel-hubka\"><strong>Pavel
    Hubka </strong></a></p>\r\n<p>Email: <strong>pisek</strong>(zavin&aacute;č)<strong>svobodni.cz</strong><br
    /> Tel.: 602 631 104<a href=\"http://www.facebook.com/Svobodni.Pisek\"><br /></a>Newsletter:
    <a href=\"http://pisek.svobodni.cz/newsletter\">přihl&aacute;&scaron;en&iacute;
    k odběru</a></p>\r\n<p>&nbsp;Formul&aacute;ř pro zanech&aacute;n&iacute; vzkazu:</p>\r\n<p><iframe
    width=\"340\" height=\"160\" frameborder=\"0\" src=\"http://miniaplikace.blueboard.cz/mailform.php?id=247749\"></iframe></p>\r\n<h2>Soci&aacute;ln&iacute;
    s&iacute;tě</h2>\r\n<ul>\r\n<li><a href=\"http://www.facebook.com/svobodni.pisek\">Facebook
    Svobodn&iacute; P&iacute;sek</a></li>\r\n<li><a href=\"https://www.youtube.com/channel/UCQQN1H4fA7Pt4nSDvm3e29Q\">YouTube
    Svobodn&iacute; P&iacute;sek</a></li>\r\n</ul>\r\n<p class=\"entry-title\">&nbsp;</p>\r\n<h2
    class=\"entry-title\">Administr&aacute;tor webu</h2>\r\n<div class=\"entry-content\">\r\n<p
    style=\"text-align: justify;\">Va&scaron;e př&iacute;padn&eacute; n&aacute;měty
    či informace o probl&eacute;mech při zobrazovan&iacute; těchto str&aacute;nek,
    stejně jako dotazy, n&aacute;vrhy nebo připom&iacute;nky t&yacute;kaj&iacute;c&iacute;
    se obsahu webu můžete ps&aacute;t na adresu <strong>prochazka</strong>(zavin&aacute;č)<strong>svobodni.cz</strong>.</p>\r\n</div>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}



</div>

{% endblock %}