---
title: Newsletter
slug: newsletter
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 91
seo_title: newsletter
meta_keywords: newsletter
meta_description: newsletter
editable_elements:
  main/newsletter: "<h2>Přihl&aacute;&scaron;en&iacute; k odběru newsletteru</h2>\r\n<p>Chcete
    b&yacute;t pravidelně informov&aacute;ni o akc&iacute;ch p&iacute;seck&eacute;
    pobočky či o novink&aacute;ch na P&iacute;secku, prostřednictv&iacute;m e-mailu?
    Přihlaste se k odběru newsletteru / zpravodaje. Kdykoliv lze snadno zas&iacute;l&aacute;n&iacute;
    zpr&aacute;v odhl&aacute;sit.</p>\r\n<p><iframe width=\"650\" height=\"650\" src=\"https://docs.google.com/forms/d/1q7_3oQHIPwj7_9yp0rbTjgNbdiCnft3xuyWaZNltsYs/viewform\"></iframe></p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "newsletter", hint: "Newsletter." %}
{% endeditable_text %}



</div>

{% endblock %}