---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 2
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
meta_description: Volební program pro komunální volby do zastupitelstva Města Písku
editable_elements:
  main/volebni_program: "<h1><a href=\"http://pisek.svobodni.cz/program/program-komunal-pisek-2014\">Program
    pro volby do zastupitelstva města P&iacute;sku 2014</a></h1>\r\n<p>&nbsp;</p>\r\n<h1>Na&scaron;e
    z&aacute;sady obecn&iacute; politiky</h1>\r\n<div class=\"entry-content\">\r\n<p
    style=\"text-align: justify;\"><strong>1. &bdquo;Obce hospodař&iacute; zpravidla
    s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute; jen v mimoř&aacute;dn&yacute;ch
    situac&iacute;ch za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů.
    Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute; prosazuj&iacute;
    jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona o vyrovnan&eacute;m
    rozpočtu na &uacute;rovni st&aacute;tu.&ldquo;</strong></p>\r\n<p style=\"text-align:
    justify;\">Če&scaron;t&iacute; komun&aacute;ln&iacute; politici nehospodař&iacute;
    př&iacute;li&scaron; odpovědně. Kdybychom se pod&iacute;vali na dluh v&nbsp;přepočtu
    na obyvatele v&nbsp;okresn&iacute;ch městech v&nbsp;roce 2012 (posledn&iacute;
    dostupn&eacute; &uacute;daje od Ministerstva financ&iacute; ČR), na&scaron;li
    bychom mezi největ&scaron;&iacute;mi hř&iacute;&scaron;n&iacute;ky město Kol&iacute;n
    s&nbsp;dluhem přes 25&nbsp;tis&iacute;c korun na obyvatele, Prahu s&nbsp;cca 24&nbsp;600
    Kč/obyv., Liberec s&nbsp;v&iacute;ce než 21,5 tis&iacute;ci na obyvatele, Ostravu
    s&nbsp;v&iacute;ce než 19 tis&iacute;ci na obyvatele nebo tak&eacute; Strakonice
    s&nbsp;v&iacute;ce než 17 tis&iacute;ci na obyvatele. Na opačn&eacute;m konci
    stoj&iacute; &scaron;estice měst hospodař&iacute;c&iacute;ch bez dluhu &ndash;
    Teplice, Vy&scaron;kov, Louny, Pelhřimov, Litoměřice nebo Sokolov.</p>\r\n<p style=\"text-align:
    justify;\"><strong>2. &bdquo;Obce vynakl&aacute;daj&iacute; prostředky na prvn&iacute;m
    m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute; silnice, chodn&iacute;ky
    a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v obc&iacute;ch.&ldquo;</strong></p>\r\n<p
    style=\"text-align: justify;\">Stejně tak jako Svobodn&iacute; prosazuj&iacute;
    stř&iacute;dm&yacute; st&aacute;t, prosazuj&iacute; i stř&iacute;dm&eacute; město,
    kter&eacute; se star&aacute; prioritně, a nejl&eacute;pe pouze, o to nejz&aacute;kladněj&scaron;&iacute;.
    Protože v&scaron;ak města nyn&iacute; nejsou schopna př&iacute;li&scaron; ovlivňovat
    sv&eacute; př&iacute;jmy a &bdquo;vr&aacute;tit lidem pen&iacute;ze&ldquo;, ot&aacute;zkou
    je, jak lze tuto politiku praktikovat bez změny pravomoc&iacute; obc&iacute;.
    Nab&iacute;z&iacute; se proto např&iacute;klad zru&scaron;en&iacute; poplatku
    za svoz a likvidaci odpadu či sn&iacute;žen&iacute; daně z&nbsp;nemovitosti.</p>\r\n<p
    style=\"text-align: justify;\"><strong>3. &bdquo;Obce z&aacute;sadně nepodnikaj&iacute;.
    Obce sv&yacute;mi aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.&ldquo;</strong></p>\r\n<p
    style=\"text-align: justify;\">V&nbsp;současn&eacute; době města podnikaj&iacute;
    skrze městsk&eacute; firmy a př&iacute;padně i př&iacute;spěvkov&eacute; organizace.
    Svobodn&iacute; jsou proti tomu, aby se z&nbsp;veřejn&yacute;ch peněz vytv&aacute;řela
    nespravedliv&aacute; konkurence podnikatelům. Město se nesm&iacute; podnikatelům
    pl&eacute;st do života a nesm&iacute; samo podnikat.</p>\r\n<p style=\"text-align:
    justify;\"><strong>4. &bdquo;Obce ukl&aacute;daj&iacute; přebytky běžn&eacute;ho
    hospodařen&iacute; z&aacute;sadně konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m
    rizikem.&ldquo;</strong></p>\r\n<p style=\"text-align: justify;\">V&nbsp;př&iacute;padě
    přebytkov&eacute;ho hospodařen&iacute; by se obec neměla chovat nezodpovědně a
    např&iacute;klad investovat pen&iacute;ze na burze. Pod aktivem s&nbsp;minim&aacute;ln&iacute;m
    rizikem se např&iacute;klad rozum&iacute; nemovitosti nebo rezervn&iacute; fondy.
    Ide&aacute;lně by měla obec hospodařit s&nbsp;vyrovnan&yacute;m rozpočtem a zbytečně
    nevyb&iacute;rat od sv&yacute;ch obyvatel pen&iacute;ze, kter&eacute; by sami
    dok&aacute;zali využ&iacute;t mnohem l&eacute;pe.</p>\r\n<p style=\"text-align:
    justify;\"><strong>5. &bdquo;V př&iacute;padě obecn&iacute;ch zak&aacute;zek se
    obce nesměj&iacute; odvol&aacute;vat na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute;
    smlouvy jsou veřejn&eacute;.&ldquo;</strong></p>\r\n<p style=\"text-align: justify;\">Naprost&aacute;
    průhlednost veřejn&yacute;ch zak&aacute;zek je považov&aacute;na za samozřejmou.
    V&nbsp;tomto prostoru by neměla existovat ž&aacute;dn&aacute; &bdquo;tajemstv&iacute;&ldquo;.
    Pokud se nakl&aacute;d&aacute; s&nbsp;veřejn&yacute;mi penězi i jejich použit&iacute;
    mus&iacute; b&yacute;t veřejn&eacute;. Stejně tak jsou Svobodn&iacute; pro zveřejňov&aacute;n&iacute;
    podkladů pro zastupitele a v&scaron;ech z&aacute;pisů obecn&iacute;ch org&aacute;nů.</p>\r\n<p
    style=\"text-align: justify;\"><strong>6. &bdquo;Svobodn&iacute; podporuj&iacute;
    změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo v kaps&aacute;ch
    lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak na &uacute;rovni
    st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute; v&yacute;nosu
    dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute; unie
    je třeba odstranit.&ldquo;</strong></p>\r\n<p style=\"text-align: justify;\">V&nbsp;programu
    Svobodn&yacute;ch naleznete zru&scaron;en&iacute; daně z&nbsp;nemovitosti, neboť
    daněn&iacute; majetku dle Svobodn&yacute;ch nen&iacute; spr&aacute;vn&eacute;.
    Z&aacute;roveň se vede diskuse o takzvan&eacute; obecn&iacute; dani z&nbsp;hlavy,
    kdy by obec měla možnost vyb&iacute;rat daň pro každ&eacute;ho obyvatele stejně
    vysokou, z&nbsp;kter&eacute; by hradila svůj provoz a investice. Existuje v&scaron;ak
    v&iacute;ce variant, např&iacute;klad procentu&aacute;ln&iacute; daň z č&aacute;sti
    př&iacute;jmu, kterou by měla možnost obec ovlivnit. Pokud budou obce ovlivňovat
    v&iacute;ce sv&eacute; př&iacute;jmy, prospěje to i samotn&eacute; komun&aacute;ln&iacute;
    politice, kter&aacute; bude m&iacute;t vět&scaron;&iacute; v&yacute;znam a rozhodov&aacute;n&iacute;
    bude tak&eacute; je&scaron;tě bl&iacute;že lidem.</p>\r\n<p style=\"text-align:
    justify;\"><em>Z&aacute;sady v roce 2010 schv&aacute;lil Republikov&yacute; v&yacute;bor
    Svobodn&yacute;ch.</em><br /><em> Koment&aacute;řem doplnil člen Republikov&eacute;ho
    v&yacute;boru Josef K&aacute;les v roce 2014.</em></p>\r\n</div>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
