---
title: Zapojte se
slug: zapojte-se
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 4
seo_title: Rádi uvítáme pomoc aktivních lidí, kterým není lhostejné, co se kolem nich
  děje a chtějí...
meta_description: Rádi uvítáme pomoc aktivních lidí, kterým není lhostejné, co se
  kolem nich děje a chtějí...
editable_elements:
  main/Zapojte se: "<p style=\"text-align: justify;\"><strong>R&aacute;di uv&iacute;t&aacute;me
    pomoc aktivn&iacute;ch lid&iacute;, kter&yacute;m nen&iacute; lhostejn&eacute;,
    co se kolem nich děje a chtěj&iacute; přispět ke zlep&scaron;en&iacute;.</strong></p>\r\n<p
    style=\"text-align: justify;\">&Scaron;&iacute;řen&iacute; nov&yacute;ch my&scaron;lenek
    a jin&yacute;ch n&aacute;hledů na politiku je mnohdy pracnou a n&aacute;kladnou
    z&aacute;ležitost&iacute;, proto v&iacute;t&aacute;me každou pomocnou ruku i přispěnou
    korunu. <strong>Jsme stranou velmi otevřenou, nemus&iacute;te se ost&yacute;chat
    n&aacute;m nez&aacute;vazně <a href=\"http://pisek.svobodni.cz/kontakty\">napsat</a>
    nebo přij&iacute;t na některou z na&scaron;ich <a href=\"http://pisek.svobodni.cz/akce\">akc&iacute;</a>.</strong>
    N&iacute;že jsou uvedeny různ&eacute; varianty, jak n&aacute;m můžete pomoci.
    Možnost&iacute; je mnoho:</p>\r\n<ul>\r\n<li>\r\n<h2>Přidejte se k n&aacute;m</h2>\r\n</li>\r\n<ul>\r\n<li>Staňte
    se <a href=\"http://web.svobodni.cz/registrace/stat-se-priznivcem\">př&iacute;znivcem</a>
    či <a href=\"http://web.svobodni.cz/registrace/stat-se-clenem\">členem</a> Svobodn&yacute;ch
    a vytv&aacute;řejte s n&aacute;mi novou generaci česk&eacute; politiky. Jedině
    společn&yacute;mi silami uspějeme v obraně svrchovan&eacute; Česk&eacute; republiky,
    kter&aacute; respektuje <strong>svobodnou vůli</strong> a <strong>odpovědnost
    každ&eacute;ho jednotlivce</strong>. Nechce-li se v&aacute;m jen sedět se založen&yacute;ma
    rukama a ztotožňujete se s na&scaron;&iacute;m programem a politickou filozofi&iacute;,
    pomozte n&aacute;m prosazovat na&scaron;e my&scaron;lenky. <strong>Nemůžete-li
    se z nějak&eacute;ho důvodu st&aacute;t členem, zaregistrujte se jako n&aacute;&scaron;
    př&iacute;znivec</strong> &ndash; st&aacute;le se budete moci zapojit do děn&iacute;
    uvnitř strany.</li>\r\n</ul>\r\n<li>\r\n<h2>Nechte se informovat o činnosti p&iacute;seck&eacute;
    pobočky</h2>\r\n</li>\r\n<ul>\r\n<li><a href=\"http://pisek.svobodni.cz/newsletter\">Přihlaste
    se k odeb&iacute;r&aacute;n&iacute;</a> na&scaron;eho newsletteru / zpravodaje
    a budete hned z prvn&iacute; ruky&nbsp;vědět o v&scaron;ech novink&aacute;ch a
    chystan&yacute;ch ud&aacute;lostech p&iacute;seck&eacute; pobočky Strany svobodn&yacute;ch
    občanů. Z&iacute;sk&aacute;te tak i jedinečnou možnost &uacute;častnit se pravideln&yacute;ch
    večern&iacute;ch debat se členy a př&iacute;znivci Svobodn&yacute;ch.</li>\r\n</ul>\r\n<li>\r\n<h2>Poskytněte
    n&aacute;m m&iacute;sto k reklamě</h2>\r\n</li>\r\n<ul>\r\n<li>\r\n<p>M&aacute;te-li
    plot na kter&yacute; je možn&eacute; um&iacute;stit plachtu, kousek v&yacute;lohy,
    venkovn&iacute; či vnitřn&iacute; vitr&iacute;nu, vlastn&iacute;te-li plak&aacute;tovac&iacute;
    plochu, billboard nebo noviny, kde by bylo možn&eacute; zveřejnit na&scaron;i
    reklamu, čl&aacute;nky nebo auto, kter&eacute; byste si chtěli nechat bezplatně
    polepit atd. &ndash; <a href=\"http://pisek.svobodni.cz/kontakty\">napi&scaron;te
    n&aacute;m</a>, možnost takov&eacute; reklamy velmi uv&iacute;t&aacute;me!</p>\r\n</li>\r\n</ul>\r\n</ul>\r\n<ul>\r\n<li>\r\n<h2>Kupte
    si něco v na&scaron;em e-shopu</h2>\r\n</li>\r\n</ul>\r\n<ul>\r\n<ul>\r\n<li>N&aacute;kup
    v <a href=\"https://eshop.svobodni.cz/\">e-shopu Svobodn&yacute;ch</a> představuje
    alternativn&iacute; cestu, jak n&aacute;s podpořit i propagovat. Poř&iacute;dit
    si můžete placky, n&aacute;lepky, trička aj. Z každ&eacute;ho prodan&eacute;ho
    předmětu z&iacute;sk&aacute;v&aacute;me finance na v&yacute;robu dal&scaron;&iacute;ch
    předmětů a propagačn&iacute;ch materi&aacute;lů.</li>\r\n</ul>\r\n</ul>\r\n<ul>\r\n<li>\r\n<h2>Po&scaron;lete
    n&aacute;m peněžn&iacute; dar</h2>\r\n</li>\r\n<ul>\r\n<li>Chcete-li n&aacute;s
    podpořit finančn&iacute;m darem libovoln&eacute; v&yacute;&scaron;e (i p&aacute;r
    des&iacute;tek korun se poč&iacute;t&aacute;!), po&scaron;lete pen&iacute;ze na
    republikov&yacute;&nbsp;<a href=\"http://web.svobodni.cz/registrace/prispet-financne\"
    target=\"_blank\">transparentn&iacute; &uacute;čet</a> a do pozn&aacute;mky při
    platbě napi&scaron;te: <em>pobočka P&iacute;sek</em>. <strong>Děkujeme!</strong></li>\r\n</ul>\r\n</ul>\r\n<p
    style=\"text-align: center;\"><img src=\"/samples/assets/zapojte_se64.jpg\" alt=\"\"
    /></p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "Zapojte se", hint: "Zapojte se." %}
{% endeditable_text %}



</div>

{% endblock %}