---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p>Volebn&iacute; program Strany svobodn&yacute;ch občanů
    pro městskou č&aacute;st Brno-střed pro komun&aacute;ln&iacute; volby 2014:</p>\r\n<p><strong>Parkov&aacute;n&iacute;</strong></p>\r\n<ul>\r\n<li>lid&eacute;
    a s nimi i auta do města patř&iacute;</li>\r\n<li>využijeme v&scaron;ech př&iacute;ležitost&iacute;
    k tvorbě nov&yacute;ch parkovac&iacute;ch m&iacute;st, včetně legalizace současn&yacute;ch</li>\r\n<li>při
    rekonstrukc&iacute;ch mus&iacute; b&yacute;t počet parkovac&iacute;ch m&iacute;st
    zachov&aacute;n nebo zv&yacute;&scaron;en</li>\r\n<li>parkovi&scaron;tě nesm&iacute;
    b&yacute;t zbytečně zpoplatňov&aacute;na, a nechceme modr&eacute; z&oacute;ny</li>\r\n<li>městsk&aacute;
    policie mus&iacute; sloužit, ne &scaron;ikanovat</li>\r\n</ul>\r\n<p><strong>Ru&scaron;en&iacute;
    nesmyslů</strong></p>\r\n<ul>\r\n<li>zjednodu&scaron;&iacute;me provoz restauračn&iacute;ch
    zahr&aacute;dek</li>\r\n<li>usnadn&iacute;me prodejcům &uacute;čast na trz&iacute;ch</li>\r\n<li>skonč&iacute;me
    s absurdn&iacute;mi př&iacute;kazy a z&aacute;kazy</li>\r\n</ul>\r\n<p><strong>Městsk&eacute;
    byty</strong></p>\r\n<ul>\r\n<li>nab&iacute;dneme transparentn&iacute; prodej
    vět&scaron;iny bytů, nejl&eacute;pe jejich n&aacute;jemn&iacute;kům</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p>Trochu
    &scaron;&iacute;řeji:</p>\r\n<p>1) <strong>Parkov&aacute;n&iacute;</strong></p>\r\n<ul>\r\n<li>město
    m&aacute; zaji&scaron;ťovat předev&scaron;&iacute;m veřejn&eacute; statky, kam
    patř&iacute; infrastruktura a tedy i parkov&aacute;n&iacute;</li>\r\n<li>respektujeme
    a budeme respektovat, že auta patř&iacute; do města, stejně tak jako lid&eacute;</li>\r\n<li>při
    rekonstrukc&iacute;ch mus&iacute; b&yacute;t počet parkovac&iacute;ch m&iacute;st
    maxim&aacute;lně navy&scaron;ov&aacute;n, nikoliv snižov&aacute;n, jak se dělo
    a děje doposud&nbsp;<span class=\"st\">&mdash;</span> např&iacute;klad na Moravsk&eacute;m
    n&aacute;měst&iacute;</li>\r\n<li>povol&iacute;me parkov&aacute;n&iacute; v&scaron;ude
    tam, kde je to možn&eacute;, bez nepřiměřen&eacute;ho omezen&iacute; ostatn&iacute;ch
    &uacute;častn&iacute;ků provozu</li>\r\n<li>k parkov&aacute;n&iacute; uprav&iacute;me
    i v&scaron;echna dal&scaron;&iacute; m&iacute;sta, kde je to možn&eacute;, bez
    nepřiměřen&eacute;ho omezen&iacute; ostatn&iacute;ch &uacute;častn&iacute;ků provozu
    (to jde velmi často i bez zmen&scaron;ov&aacute;n&iacute; zeleně, často stač&iacute;
    sn&iacute;žit obrubn&iacute;k nebo odstranit podobnou přek&aacute;žku)</li>\r\n<li>veřejn&aacute;
    parkovac&iacute; m&iacute;sta maj&iacute; sloužit potřeb&aacute;m v&scaron;ech
    občanů, z&oacute;ny v&scaron;e jen komplikuj&iacute; a zvy&scaron;uj&iacute; daňovou
    z&aacute;těž občanů</li>\r\n<li>veřejn&aacute; parkovi&scaron;tě maj&iacute; b&yacute;t
    bezplatně dostupn&aacute;, zpoplatňov&aacute;n&iacute; nav&iacute;c zatěžuje nezpoplatněn&aacute;
    parkovac&iacute; m&iacute;sta</li>\r\n<li>Městsk&aacute; policie mus&iacute; zaji&scaron;ťovat
    poř&aacute;dek, a rozhodně nikoliv vyhled&aacute;vat př&iacute;ležitosti k pokut&aacute;m
    v situac&iacute;ch, kde nikdo nen&iacute; omezov&aacute;n ani po&scaron;kozov&aacute;n</li>\r\n</ul>\r\n<p>2)
    <strong>Ru&scaron;en&iacute; nesmyslů</strong></p>\r\n<ul>\r\n<li>zru&scaron;&iacute;me
    absurdn&iacute; vyhl&aacute;&scaron;ky, nař&iacute;zen&iacute;, z&aacute;kazy
    a př&iacute;kazy</li>\r\n<li>zjednodu&scaron;&iacute;me a zprůhledn&iacute;me
    byrokracii k provozov&aacute;n&iacute; zahr&aacute;dek před restauracemi</li>\r\n<li>znovu
    umožn&iacute;me slu&scaron;n&yacute;m lidem pop&iacute;jet alkoholick&eacute;
    n&aacute;poje na veřejnosti (proti neslu&scaron;n&yacute;m stejně vyhl&aacute;&scaron;ka
    ne&uacute;činkuje)</li>\r\n<li>zjednodu&scaron;&iacute;me a zprůhledn&iacute;me
    byrokracii k povolen&iacute; prodeje na trz&iacute;ch</li>\r\n</ul>\r\n<p>3) <strong>Prodej
    městsk&yacute;ch bytů</strong>, ide&aacute;lně n&aacute;jemn&iacute;kům</p>\r\n<ul>\r\n<li>obyvatel&eacute;
    se o byty a domy postaraj&iacute; l&eacute;pe než &uacute;ředn&iacute;ci a politici</li>\r\n<li>neobsazen&eacute;
    byty přestanou zatěžovat městsk&yacute; rozpočet</li>\r\n<li>město nebude muset
    složitě vym&aacute;hat dlužn&eacute; n&aacute;jemn&eacute;</li>\r\n</ul>\r\n<p>4)
    <strong>Vyrovnan&yacute; rozpočet</strong></p>\r\n<ul>\r\n<li>vyrovn&aacute;me
    rozpočet na &uacute;rovni Brna i Brna-střed</li>\r\n<li>odm&iacute;t&aacute;me
    zadlužovat budouc&iacute; generace</li>\r\n</ul>\r\n<p><a href=\"http://brno.svobodni.cz/brno-program-svobodni\"
    target=\"_blank\">Volebn&iacute; program Svobodn&yacute;ch pro cel&eacute; statut&aacute;rn&iacute;
    město Brno pro komun&aacute;ln&iacute; volby 10.-11.10.2014</a></p>\r\n<p>&nbsp;</p>\r\n<p>Svobodn&iacute;
    v komun&aacute;ln&iacute; politice vych&aacute;z&iacute; obecně z těchto principů:</p>\r\n<ol>\r\n<li>Obce
    hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute;
    jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute;
    vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute;
    prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona
    o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</li>\r\n<li>Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v
    obc&iacute;ch.</li>\r\n<li>Obce z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi
    aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.</li>\r\n<li>Obce
    ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně
    konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</li>\r\n<li>V
    př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat
    na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</li>\r\n<li>Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</li>\r\n</ol>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
