---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<h3>Koordin&aacute;torka&nbsp;městsk&eacute; pobočky&nbsp;Olomouc</h3>\r\n<div>\r\n<p>Jana
    Fraitov&aacute; -&nbsp;janaff@seznam.cz</p>\r\n</div>\r\n<h3>L&iacute;dr kandid&aacute;tky</h3>\r\n<p>Roman
    Nep&scaron;insk&yacute; - nepsinsky@svobodni.cz, 776 658 179</p>\r\n<h3>Transparentn&iacute;
    &uacute;čet krajsk&eacute;ho sdružen&iacute;</h3>\r\n<p><a class=\"external\"
    href=\"https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?ID_ucet=2600382806\"
    target=\"_blank\">2600382806/2010</a></p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}