---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p><em>(Let&aacute;k se stručn&yacute;m programem:&nbsp;<a
    href=\"/samples/assets/Svobodni_Olomouc_komunalni_volby_2014.pdf\">Svobodni_Olomouc_komunalni_volby_2014.pdf</a>)</em></p>\r\n<p>&nbsp;</p>\r\n<h2>PROGRAMOV&Eacute;
    PRIORITY</h2>\r\n<ol>\r\n<li><strong>Průhledn&aacute; radnice a vyrovnan&yacute;
    rozpočet</strong></li>\r\n<li><strong>Snadněj&scaron;&iacute; podnik&aacute;n&iacute;</strong></li>\r\n<li><strong>Plynul&aacute;
    a bezpečn&aacute; doprava</strong></li>\r\n</ol>\r\n<p>&nbsp;</p>\r\n<p>Na&scaron;&iacute;m
    největ&scaron;&iacute;m c&iacute;lem v obdob&iacute; 2014 &ndash; 2018 je zastavit
    zadlužov&aacute;n&iacute; Olomouce a pl&yacute;tv&aacute;n&iacute; veřejn&yacute;mi
    penězi. Nedostatek finančn&iacute;ch prostředků se již nyn&iacute; zřetelně projevuje
    např&iacute;klad na tristn&iacute;m stavu silnic. S každ&yacute;m dal&scaron;&iacute;m
    vypůjčen&yacute;m milionem rostou tak&eacute; &uacute;roky a pen&iacute;ze na
    nich zaplacen&eacute; pak chyběj&iacute; jinde.</p>\r\n<p>Nedělejme si iluze,
    že dluh se t&yacute;k&aacute; jen magistr&aacute;tu a obyčejn&eacute;ho člověka
    nezas&aacute;hne. Bohužel, nen&iacute; tomu tak. Pokud by se Olomouc dostala do
    finančn&iacute;ch pot&iacute;ž&iacute;, poc&iacute;tili by to v&scaron;ichni občan&eacute;
    &ndash; např&iacute;klad ve zdražen&iacute; j&iacute;zdn&eacute;ho na MHD, &uacute;spor&aacute;ch
    na veřejn&eacute;m osvětlen&iacute; nebo třeba v osazen&iacute; tabulky &bdquo;V
    zimě se neudržuje&ldquo; na vět&scaron;inu chodn&iacute;ků ve městě.</p>\r\n<p>My
    Svobodn&iacute; chceme takov&eacute;mu v&yacute;voji zabr&aacute;nit a jedin&aacute;
    cesta, jak toho dos&aacute;hnout, je okamžitě zač&iacute;t hospodařit s vyrovnan&yacute;m
    rozpočtem.</p>\r\n<p>&nbsp;</p>\r\n<h2>NA&Scaron;E MOTIVACE</h2>\r\n<p>Strana
    svobodn&yacute;ch občanů působ&iacute; na česk&eacute; politick&eacute; sc&eacute;ně
    od roku 2009 a je jedinou stranou důsledně prosazuj&iacute;c&iacute; tradičn&iacute;
    liber&aacute;ln&iacute; hodnoty. Těmi jsou předev&scaron;&iacute;m voln&yacute;
    trh bez bari&eacute;r a dotac&iacute;, svobodn&eacute; podnik&aacute;n&iacute;,
    &scaron;t&iacute;hl&yacute; st&aacute;t bez dluhů i zbytečn&eacute; byrokracie.
    Chceme st&aacute;t, kter&yacute; chov&aacute; &uacute;ctu ke sv&yacute;m občanům,
    jejich životu, majetku a co nejm&eacute;ně mluv&iacute; lidem do života.</p>\r\n<p>Stejn&eacute;
    ideje chceme prosazovat i na komun&aacute;ln&iacute; &uacute;rovni. Jsme nespokojeni
    se způsobem, jak&yacute;m v přede&scaron;l&yacute;ch letech koalice na olomouck&eacute;
    radnici mrhaly penězi Olomoučanů, např&iacute;klad investic&iacute; do prodělečn&eacute;ho
    aquaparku nebo uzavřen&iacute;m nev&yacute;hodn&eacute; smlouvy na n&aacute;jem
    kancel&aacute;řsk&yacute;ch prostor v Namiru. Na&scaron;i lid&eacute; přin&aacute;&scaron;ej&iacute;
    do politiky čerstvou s&iacute;lu. Nejsou zat&iacute;ženi minul&yacute;mi skand&aacute;ly
    a af&eacute;rami a nejsou spojeni s ž&aacute;dn&yacute;mi lobbistick&yacute;mi
    skupinami. Současně maj&iacute; zku&scaron;enosti z praktick&eacute;ho života,
    ve kter&eacute;m už něco dok&aacute;zali. Nejsou to celoživotn&iacute; politici
    odtržen&iacute; od každodenn&iacute; reality a uměj&iacute; naslouchat občanům.</p>\r\n<p>Kandid&aacute;ti
    Strany svobodn&yacute;ch občanů jsou rodil&iacute; Olomoučan&eacute; nebo prožili
    v Olomouci podstatnou č&aacute;st sv&eacute;ho života a znaj&iacute; jej&iacute;
    kr&aacute;sy a tak&eacute; vn&iacute;maj&iacute; jej&iacute; probl&eacute;my.
    Za ten největ&scaron;&iacute; považuj&iacute; schodkov&eacute; rozpočty a rychle
    rostouc&iacute; zadlužen&iacute; obce, kter&eacute; v půli roku 2014 dos&aacute;hlo
    neuvěřiteln&yacute;ch 2,25 miliardy korun. To představuje 22 500 korun na každ&eacute;ho
    občana Olomouce včetně seniorů a nemluvňat.</p>\r\n<p>Ačkoliv je tato č&aacute;stka
    obrovsk&aacute;, nepředstavuje jej&iacute; absolutn&iacute; v&yacute;&scaron;e
    tak velk&yacute; probl&eacute;m, jako rychlost jej&iacute;ho růstu. Jen za posledn&iacute;
    čtyři roky vzrostlo zadlužen&iacute; města o t&eacute;měř 60 %, to v&scaron;e
    za působen&iacute; koalice ODS, TOP 09 a KDU-ČSL. Nezměn&iacute;-li se př&iacute;stup
    magistr&aacute;tu a zastupitelů, poroste dluh nad&aacute;le až k př&iacute;padn&eacute;mu
    bankrotu města Olomouce. Tomu mus&iacute;me zabr&aacute;nit!</p>\r\n<p>Na&scaron;i
    kandid&aacute;ti jsou připraveni hlasovat v zastupitelstvu proti dal&scaron;&iacute;mu
    zadlužov&aacute;n&iacute; města a proti realizaci n&aacute;kladn&yacute;ch a zbytečn&yacute;ch
    projektů. Chceme, aby pen&iacute;ze poch&aacute;zej&iacute;c&iacute; z dan&iacute;
    v&scaron;ech Olomoučanů byly vynaloženy &uacute;čelně a smysluplně, nikoliv promrh&aacute;ny.</p>\r\n<p><span
    style=\"line-height: 1.5em;\">Volit Stranu svobodn&yacute;ch občanů znamen&aacute;
    volit zodpovědn&eacute; hospodařen&iacute;, efektivn&iacute; spr&aacute;vu obce
    a minimum přek&aacute;žek pro podnik&aacute;n&iacute;. Neob&aacute;vejte se, že
    v&aacute;&scaron; hlas propadne, a přijďte n&aacute;s podpořit.</span></p>\r\n<p>&nbsp;</p>\r\n<p><strong>Svobodn&iacute;
    v&nbsp;květnov&yacute;ch volb&aacute;ch do Europarlamentu z&iacute;skali v&nbsp;Olomouci
    5,01 % hlasů. V&nbsp;komun&aacute;ln&iacute;ch volb&aacute;ch v&nbsp;Olomouci
    kandidujeme poprv&eacute;, zku&scaron;enosti z&nbsp;komun&aacute;ln&iacute; politiky
    v&nbsp;Olomouck&eacute;m kraji ale již maj&iacute; např. na&scaron;i kolegov&eacute;
    z&nbsp;Jesen&iacute;ku.</strong></p>\r\n<h3><strong style=\"line-height: 1.5em;\">Přijďte
    10.&ndash;11. ř&iacute;jna zvolit č&iacute;slo 2, Svobodn&eacute;!</strong></h3>\r\n<p><strong
    style=\"line-height: 1.5em;\">(A pokud chcete sv&eacute; volebn&iacute; pr&aacute;vo
    využ&iacute;t naplno, nezapomeňte pros&iacute;m na to, že v Olomouci udělujete
    až 45 hlasů. V ide&aacute;ln&iacute;m př&iacute;padě tedy označte celou Stranu
    svobodn&yacute;ch občanů a nekroužkujte ž&aacute;dn&eacute; kandid&aacute;ty,
    č&iacute;mž n&aacute;m pomůžete pln&yacute;mi 45 hlasy. Pokud kroužkovat přesto
    chcete, využijte pros&iacute;me kroužků co nejv&iacute;ce, abyste sv&eacute; zb&yacute;vaj&iacute;c&iacute;
    hlasy zbytečně &bdquo;nezahodili&ldquo;.)</strong></p>\r\n<p>&nbsp;</p>\r\n<h2>PRŮHLEDN&Aacute;
    RADNICE A VYROVNAN&Yacute; ROZPOČET</h2>\r\n<p>Město m&aacute; s&nbsp;penězi daňov&yacute;ch
    poplatn&iacute;ků nakl&aacute;dat hospod&aacute;rně a transparentně. Jeho hlavn&iacute;m
    &uacute;kolem je starat se o veřejn&eacute; statky a umožnit lidem ž&iacute;t
    život tak, jak oni chtěj&iacute;, nikoliv tak, jak jim ho někdo jin&yacute; napl&aacute;nuje.
    Město pokud možno nem&aacute; dotovat volnočasov&eacute; aktivity jedn&eacute;
    skupiny lid&iacute; z&nbsp;peněz v&scaron;ech občanů a současně m&aacute; nechat
    lidem co nejv&iacute;ce peněz v&nbsp;jejich peněženk&aacute;ch.<br /> <br /> Město
    m&aacute; hospodařit odpovědně a nezadlužovat tuto ani př&iacute;&scaron;t&iacute;
    generaci. Dluh Olomouce dos&aacute;hl v&nbsp;červnu 2014 neuvěřiteln&yacute;ch
    2,25 miliardy korun a roste tempem přibližně 200 milionů korun za rok. Olomouc
    tak patř&iacute; mezi nejzadluženěj&scaron;&iacute; města v&nbsp;Česk&eacute;
    republice. Takov&eacute; hospodařen&iacute; rozhodně odm&iacute;t&aacute;me.</p>\r\n<p><img
    src=\"/samples/assets/Olomouc_dluh.png\" alt=\"\" /></p>\r\n<h3>Svobodn&iacute;
    prosazuj&iacute;</h3>\r\n<ul>\r\n<li>Rozpočet obce mus&iacute; b&yacute;t navržen
    jako věrohodně vyrovnan&yacute;<a title=\"\" href=\"#ref1\">[1]</a>, pro jin&yacute;
    nebudeme hlasovat.</li>\r\n<li>Skonč&iacute;-li přesto hospodařen&iacute; schodkem,
    bude tento vyrovn&aacute;n z&nbsp;rozpočtov&eacute; rezervy. Obdobně př&iacute;padn&yacute;
    přebytek hospodařen&iacute; bude využit na tvorbu rozpočtov&eacute; rezervy.</li>\r\n<li>Navrhujeme
    vyrovnat rozpočet tak, že město nebude současně realizovat v&iacute;ce n&aacute;kladn&yacute;ch
    investičn&iacute;ch projektů.<a title=\"\" href=\"#ref2\">[2]</a> Vyhneme se tak
    drastick&yacute;m &scaron;krtům, kter&eacute; by poc&iacute;tili občan&eacute;
    i město.</li>\r\n<li>Požadujeme, aby nově uzav&iacute;ran&eacute; smlouvy byly
    zveřejňov&aacute;ny v&nbsp;pln&eacute;m zněn&iacute;. Utajen&iacute; smluv nebo
    jejich č&aacute;st&iacute; s&nbsp;odkazem na obchodn&iacute; tajemstv&iacute;
    je nepř&iacute;pustn&eacute;.</li>\r\n<li>Navrhneme, aby Olomouc použ&iacute;vala
    transparentn&iacute; bankovn&iacute; &uacute;čty a nevznikaly tak pochyby o peněžn&iacute;ch
    toc&iacute;ch. Osobn&iacute; &uacute;daje ov&scaron;em mus&iacute; b&yacute;t
    chr&aacute;něny.<a title=\"\" href=\"#ref3\">[3]</a></li>\r\n<li>Požadujeme, aby
    v&scaron;echny př&iacute;spěvkov&eacute; organizace a firmy ve vlastnictv&iacute;
    města zveřejňovaly svůj rozpočet popř. &uacute;četn&iacute; z&aacute;věrku stejn&yacute;m
    způsobem, jako to děl&aacute; samotn&yacute; magistr&aacute;t.</li>\r\n<li>Občan&eacute;
    Olomouce nemaj&iacute; na rozd&iacute;l od zastupitelů n&aacute;rok na placen&eacute;
    volno pro &uacute;čast na zased&aacute;n&iacute; zastupitelstva. Navrhneme proto,
    aby zastupitelstvo zasedalo vždy v&nbsp;sobotu.</li>\r\n<li>Chceme, aby ze zased&aacute;n&iacute;
    zastupitelstva byl kromě z&aacute;pisu pořizov&aacute;n i audiovizu&aacute;ln&iacute;
    z&aacute;znam, kter&yacute; bude zveřejněn a př&iacute;padně i živě vys&iacute;l&aacute;n
    na internetu.</li>\r\n</ul>\r\n<div>\r\n<h2>&nbsp;</h2>\r\n<h2>SNADNĚJ&Scaron;&Iacute;
    PODNIK&Aacute;N&Iacute;</h2>\r\n<p>Mezi nejdůležitěj&scaron;&iacute; principy
    Svobodn&yacute;ch patř&iacute; &bdquo;laissez-faire&ldquo;, tedy &bdquo;nechat
    věci b&yacute;t&ldquo;. Podle t&eacute;to z&aacute;sady město samo nem&aacute;
    podnikat ani nem&aacute; do podnik&aacute;n&iacute; zasahovat zbytečn&yacute;mi
    regulacemi. V&nbsp;ž&aacute;dn&eacute;m př&iacute;padě město nem&aacute; preferovat
    jeden podnik na &uacute;kor jin&eacute;ho nebo sv&yacute;m rozhodov&aacute;n&iacute;m
    př&iacute;mo někomu v&nbsp;podnik&aacute;n&iacute; br&aacute;nit.</p>\r\n<h3>Svobodn&iacute;
    prosazuj&iacute;</h3>\r\n<ul>\r\n<li>Navrhneme zru&scaron;en&iacute; v&yacute;běru
    poplatku za l&aacute;zeňsk&yacute; nebo rekreačn&iacute; pobyt, poplatku ze vstupn&eacute;ho
    a poplatku z&nbsp;ubytovac&iacute; kapacity. Tyto poplatky zbytečně administrativně
    i ekonomicky zatěžuj&iacute; podnikatele a v&yacute;nos je necel&yacute;ch 2,5
    mil. korun za rok, což je z&nbsp;hlediska obecn&iacute;ho rozpočtu zanedbateln&aacute;
    č&aacute;stka.</li>\r\n<li>Nepřipust&iacute;me, aby město &uacute;čelově vytv&aacute;řen&yacute;mi
    přek&aacute;žkami br&aacute;nilo firm&aacute;m v&nbsp;podnik&aacute;n&iacute;
    a protežovalo jednoho podnikatele na &uacute;kor jin&eacute;ho.<a title=\"\" href=\"#ref4\">[4]</a></li>\r\n<li>Nakolik
    n&aacute;m to dovol&iacute; z&aacute;kony Česk&eacute; republiky, nebudeme kl&aacute;st
    firm&aacute;m a živnostn&iacute;kům nesmysln&eacute; přek&aacute;žky v&nbsp;podnik&aacute;n&iacute;.
    Provedeme tak&eacute; revizi obecn&iacute;ch vyhl&aacute;&scaron;ek a navrhneme
    zru&scaron;en&iacute; zbytečn&yacute;ch regulac&iacute; (např. zru&scaron;en&iacute;
    omezen&iacute; provozu předzahr&aacute;dek jen v&nbsp;určit&eacute;m ročn&iacute;m
    obdob&iacute;).</li>\r\n</ul>\r\n<div>\r\n<h2>&nbsp;</h2>\r\n<h2>PLYNUL&Aacute;
    A BEZPEČN&Aacute; DOPRAVA</h2>\r\n<p>Z&aacute;jmem naprost&eacute; vět&scaron;iny
    řidičů, cyklistů i chodců je dopravit se do c&iacute;le rychle a bezpečně. Rychlost
    i bezpečnost ov&scaron;em přin&aacute;&scaron;&iacute; plynul&aacute; doprava
    a kvalitn&iacute; dopravn&iacute; značen&iacute;, nikoliv uměle vytvořen&eacute;
    přek&aacute;žky, kter&eacute; domněle zlep&scaron;uj&iacute; dopravu, ve skutečnosti
    ji ov&scaron;em zpomaluj&iacute; &nbsp;a komplikuj&iacute;. Město tak&eacute;
    nem&aacute; organizovat lidem život a nutit je upřednostňovat jeden druh dopravy
    před jin&yacute;m.</p>\r\n<h3>Svobodn&iacute; prosazuj&iacute;</h3>\r\n<ul>\r\n<li>Nejen
    před komun&aacute;ln&iacute;mi volbami, ale každ&yacute; rok vynalož&iacute;me
    alespoň 2 % rozpočtov&yacute;ch př&iacute;jmů na opravy a &uacute;držbu silnic
    a chodn&iacute;ků.</li>\r\n<li>Natrvalo vypneme semafor u hlavn&iacute;ho n&aacute;draž&iacute;.
    Při jeho zku&scaron;ebn&iacute;m vypnut&iacute; v&nbsp;červnu tohoto roku se potvrdilo,
    že doprava bez něj je znatelně plynulej&scaron;&iacute;. Přesto radnice rozhodla
    o jeho opětovn&eacute;m zapnut&iacute;.</li>\r\n<li>Nepodpoř&iacute;me dal&scaron;&iacute;
    dopravn&iacute; obstrukce v&nbsp;podobě řetězce retard&eacute;rů jako na Kyselovsk&eacute;
    či Přichystalově nebo nesmysln&yacute;ch kruhov&yacute;ch objezdů jako např. u
    po&scaron;ty u hlavn&iacute;ho n&aacute;draž&iacute;.<a title=\"\" href=\"#ref5\">[5]</a></li>\r\n<li>Jsme
    rozhodně proti zav&aacute;děn&iacute; n&iacute;zkoemisn&iacute;ch z&oacute;n,
    zpoplatněn&iacute; vjezdu do někter&yacute;ch č&aacute;st&iacute; města nebo pro
    vytv&aacute;řen&iacute; tzv. modr&yacute;ch parkovac&iacute;ch z&oacute;n. U n&aacute;s
    ani v&nbsp;zahranič&iacute; se tato opatřen&iacute; neosvědčila.<a title=\"\"
    href=\"#ref6\">[6]</a></li>\r\n<li>Nepodpoř&iacute;me roz&scaron;&iacute;řen&iacute;
    pě&scaron;&iacute; z&oacute;ny v&nbsp;oblasti tř&iacute;dy 1. m&aacute;je, Wurmovy,
    Kř&iacute;žkovsk&eacute;ho a n&aacute;měst&iacute; Republiky.</li>\r\n<li>Postav&iacute;me
    se proti implementaci VIZE 25&nbsp;prosazovan&eacute; zejm&eacute;na cykloaktivisty,
    jej&iacute;mž&nbsp;c&iacute;lem je pomoc&iacute; nař&iacute;zen&iacute; a z&aacute;kazů
    sn&iacute;žit pod&iacute;l individu&aacute;ln&iacute; automobilov&eacute; dopravy
    a přinutit občany využ&iacute;vat jin&eacute; formy dopravy, a to i proti jejich
    vůli a v&nbsp;rozporu s&nbsp;jejich potřebami.</li>\r\n<li>Samozřejmě ale nebudeme
    nikomu br&aacute;nit přepravovat se způsobem, kter&yacute; jemu vyhovuje.</li>\r\n</ul>\r\n<h2>&nbsp;</h2>\r\n<h2>HAZARD</h2>\r\n<p>Uvědomujeme
    si, že hazard s sebou přin&aacute;&scaron;&iacute; negativn&iacute; jevy &ndash;
    může způsobit z&aacute;vislost, zvy&scaron;ovat kriminalitu nebo uvrhnout lidi
    do dluhů. Av&scaron;ak každ&aacute; mince m&aacute; dvě strany: poplatky z hrac&iacute;ch
    automatů tvoř&iacute; t&eacute;měř 5 % rozpočtov&yacute;ch př&iacute;jmů a jsou
    tak v&yacute;znamnou př&iacute;jmovou položkou obecn&iacute;ho rozpočtu. Kromě
    toho hazard nen&iacute; jedinou aktivitou, kter&aacute; přin&aacute;&scaron;&iacute;
    negativn&iacute; vedlej&scaron;&iacute; efekty. Kouřen&iacute; je př&iacute;činou
    někter&yacute;ch z&aacute;važn&yacute;ch onemocněn&iacute;, z&aacute;vislost může
    vzniknout i na alkoholu, jehož konzumace rovněž přisp&iacute;v&aacute; ke kriminalitě,
    a lid&eacute; se dost&aacute;vaj&iacute; do dluhů pot&eacute;, co přestanou b&yacute;t
    schopni spl&aacute;cet nev&yacute;hodn&eacute; spotřebitelsk&eacute; &uacute;věry.
    Po absolutn&iacute;m z&aacute;kazu těchto jevů v&scaron;ak nikdo nevol&aacute;.</p>\r\n<p>Hazard,
    stejně jako ostatn&iacute; podobn&eacute; aktivity, ch&aacute;peme jako projev
    svobodn&eacute;ho rozhodnut&iacute; občanů. Budou-li lid&eacute; cht&iacute;t
    hr&aacute;t, najdou si svou cestu, ať už budou vyhled&aacute;vat neleg&aacute;ln&iacute;
    herny, jezdit do okoln&iacute;ch měst, kde hazard zak&aacute;z&aacute;n nebude,
    nebo zaměř&iacute; svou pozornost na internetov&eacute; s&aacute;zen&iacute;.
    Tvrd&iacute;me, že naprost&yacute;m z&aacute;kazem hrac&iacute;ch automatů by
    obec podpořila vznik neleg&aacute;ln&iacute;ch heren a pos&iacute;lila korupčn&iacute;
    prostřed&iacute;, neboť provozovatel&eacute; nepovolen&yacute;ch zař&iacute;zen&iacute;
    by měli motivaci k upl&aacute;cen&iacute; policistů, str&aacute;žn&iacute;ků a
    &uacute;ředn&iacute;ků podobně, jako tomu bylo v dob&aacute;ch alkoholov&eacute;
    prohibice v USA.</p>\r\n<h3>Svobodn&iacute; prosazuj&iacute;</h3>\r\n<ul>\r\n<li><span>Z
    důvodů uveden&yacute;ch v&yacute;&scaron;e nepodporujeme &uacute;pln&yacute; z&aacute;kaz
    heren. (Platn&aacute; obecn&iacute; vyhl&aacute;&scaron;ka už dnes hazard reguluje
    a povoluje jej pouze na několika des&iacute;tk&aacute;ch vyjmenovan&yacute;ch
    m&iacute;st.)</span></li>\r\n<li>Jsme pro okamžit&eacute; odebr&aacute;n&iacute;
    povolen&iacute; těm hern&aacute;m, kter&eacute; umožn&iacute; hran&iacute; nezletil&yacute;m
    nebo jin&yacute;m způsobem poru&scaron;&iacute; platn&eacute; pr&aacute;vn&iacute;
    předpisy.</li>\r\n<li>Preferujeme použit&iacute; peněz z hazardu na spr&aacute;vu
    veřejn&yacute;ch statků sp&iacute;&scaron;e než na př&iacute;spěvky soukrom&yacute;m
    subjektům.</li>\r\n</ul>\r\n<h2>&nbsp;</h2>\r\n<h2>ŽIVOTN&Iacute; PROSTŘED&Iacute;</h2>\r\n<p>Do
    p&eacute;če o životn&iacute; prostřed&iacute; patř&iacute; předev&scaron;&iacute;m
    starost o veřejnou zeleň a o čistotu v obci. Chtěli bychom, aby v Olomouci přibylo
    v&iacute;ce zelen&yacute;ch ploch, předev&scaron;&iacute;m kolem novostaveb bytov&yacute;ch
    domů a aby nedo&scaron;lo k likvidaci existuj&iacute;c&iacute; zeleně v okol&iacute;
    města intenz&iacute;vn&iacute; z&aacute;stavbou.</p>\r\n<h3>Svobodn&iacute; prosazuj&iacute;</h3>\r\n<ul>\r\n<li>Podpoř&iacute;me
    takovou změnu &uacute;zemn&iacute;ho pl&aacute;nu, kter&aacute; zabr&aacute;n&iacute;
    necitliv&eacute; z&aacute;stavbě tzv. neřed&iacute;nsk&eacute;ho horizontu. Tato
    lokalita slouž&iacute; lidem z bl&iacute;zk&eacute;ho s&iacute;dli&scaron;tě i
    z cel&eacute; Olomouce jako nenahraditeln&aacute; rekreačn&iacute; z&oacute;na.</li>\r\n<li>Budeme
    požadovat, aby se při nov&eacute; bytov&eacute; v&yacute;stavbě poč&iacute;talo
    se vznikem dostatečně velk&yacute;ch ostrůvků zeleně.</li>\r\n<li>Dohl&eacute;dneme
    na to, aby technick&eacute; služby v&iacute;ce dbaly na čistotu obce, zejm&eacute;na
    na &uacute;klid parků a stanovi&scaron;ť kontejnerů a na včasn&yacute; svoz přeplněn&yacute;ch
    odpadkov&yacute;ch ko&scaron;ů. Umožn&iacute;me občanům př&iacute;mo nahla&scaron;ovat
    odhalen&eacute; nedostatky ve sv&eacute;m okol&iacute; (neleg&aacute;ln&iacute;
    skl&aacute;dka, uvolněn&eacute; dlaždice na chodn&iacute;ku, ...) a ulož&iacute;me
    př&iacute;slu&scaron;n&yacute;m odborům, aby tato pod&aacute;n&iacute; ře&scaron;ily.<a
    title=\"\" href=\"#ref7\">[7]</a>&nbsp;</li>\r\n<li>Podporujeme tř&iacute;děn&iacute;
    odpadu. V&iacute;me v&scaron;ak, že zvy&scaron;ov&aacute;n&iacute; poplatků za
    svoz komun&aacute;ln&iacute;ho odpadu nevede k důsledněj&scaron;&iacute;mu tř&iacute;děn&iacute;.
    Proto budeme hledat způsoby, jak tento poplatek sn&iacute;žit.</li>\r\n</ul>\r\n<h2>&nbsp;</h2>\r\n<h2>ROZVOJ
    MĚSTA</h2>\r\n<p>Jedn&iacute;m z vůbec nejhor&scaron;&iacute;ch rozhodnut&iacute;
    magistr&aacute;tu je stavba aquaparku. V r&aacute;mci tohoto PPP projektu na sebe
    radnice převzala ve&scaron;ker&aacute; rizika ne&uacute;spěchu a je&scaron;tě
    se zav&aacute;zala k odkupu akci&iacute; aquaparku od soukrom&eacute; společnosti.
    Na druhou stranu se radnice velmi laxně stav&iacute; ke kontroverzn&iacute; &Scaron;antovka
    Tower v bezprostředn&iacute; bl&iacute;zkosti historick&eacute;ho centra.</p>\r\n<h3>Svobodn&iacute;
    prosazuj&iacute;</h3>\r\n<ul>\r\n<li>Navrhneme, aby o budoucnosti aquaparku rozhodli
    občan&eacute; v m&iacute;stn&iacute;m referendu.<a title=\"\" href=\"#ref8\">[8]</a></li>\r\n<li>Um&iacute;stěn&iacute;
    &Scaron;antovka Tower v bezprostředn&iacute; bl&iacute;zkosti centra města vyvol&aacute;v&aacute;
    kontroverzi, na druhou stranu v&yacute;&scaron;kov&eacute; budovy do modern&iacute;ho
    města patř&iacute;. Proto podpoř&iacute;me takovou změnu &uacute;zemn&iacute;ho
    pl&aacute;nu, kter&aacute; by umožnila vznik v&yacute;&scaron;kov&yacute;ch budov
    v lokalitě, kde nedojde ke znehodnocen&iacute; historick&eacute;ho j&aacute;dra
    Olomouce.</li>\r\n<li>Vyp&iacute;&scaron;eme v&yacute;běrov&eacute; ř&iacute;zen&iacute;
    na nov&eacute; designov&eacute; lampy pro centrum Olomouce, na kter&yacute;ch
    by se shodly obě strany sporu o osvětlen&iacute; Horn&iacute;ho n&aacute;měst&iacute;.</li>\r\n<li>Umožn&iacute;me
    občanům pod&iacute;let se na městsk&eacute;m mobili&aacute;ři zaveden&iacute;m
    syst&eacute;mu &bdquo;adopce&ldquo; laviček.<a title=\"\" href=\"#ref9\">[9]</a></li>\r\n<li>Zv&aacute;ž&iacute;me
    možnost odebr&aacute;n&iacute; dotac&iacute; profesion&aacute;ln&iacute;m sportovn&iacute;m
    klubům, předev&scaron;&iacute;m fotbalistům a hokejistům, a privatizace městsk&eacute;ho
    pod&iacute;lu v SK Sigma Olomouc. Tyto pen&iacute;ze můžeme použ&iacute;t na &uacute;držbu
    veřejn&yacute;ch statků.<a title=\"\" href=\"#ref10\">[10]</a></li>\r\n</ul>\r\n<div><br
    clear=\"all\" /><hr align=\"left\" size=\"1\" width=\"33%\" /></div>\r\n<div>\r\n<p><a
    name=\"ref1\"></a>[1] Věrohodně vyrovnan&yacute; rozpočet pracuje s&nbsp;realistick&yacute;mi
    př&iacute;jmy a v&yacute;daji. Ž&aacute;dn&eacute; hodnoty &uacute;myslně nezveličuje
    ani nezmen&scaron;uje.</p>\r\n</div>\r\n<div>\r\n<p><a name=\"ref2\"></a>[2] Např&iacute;klad
    v&nbsp;roce 2014 je na rekonstrukci a rozvoj v&yacute;stavi&scaron;tě Flora vyhrazeno
    t&eacute;měř 190 mil. korun a na dostavbu tramvajov&eacute; trati asi 130 mil.
    korun. Rozpočet pracuje se schodkem 109 mil. korun a jeho vyrovn&aacute;n&iacute;
    by bylo možn&eacute; pozdržen&iacute;m jedn&eacute; z&nbsp;uveden&yacute;ch investičn&iacute;ch
    akc&iacute;.</p>\r\n</div>\r\n<div>\r\n<p><a name=\"ref3\"></a>[3] Nelze např&iacute;klad
    zveřejňovat č&iacute;sla &uacute;čtů, na kter&eacute; jsou odes&iacute;l&aacute;ny
    platy zaměstnanců magistr&aacute;tu. Tot&eacute;ž plat&iacute; pro př&iacute;jmy
    z&nbsp;uložen&yacute;ch sankc&iacute;.</p>\r\n</div>\r\n<div>\r\n<p><a name=\"ref4\"></a>[4]
    Kauza poj&iacute;zdn&eacute;ho st&aacute;nku s&nbsp;k&aacute;vou, kdy radnice
    zabr&aacute;nila provozovateli poskytovat služby na j&iacute;m vybran&eacute;m
    m&iacute;stě na n&aacute;měst&iacute; Republiky a doporučila mu &bdquo;naj&iacute;t
    si m&iacute;sto tam, kde nebude ohrožovat zaveden&eacute; podniky&ldquo;.</p>\r\n</div>\r\n<div>\r\n<p><a
    name=\"ref5\"></a>[5]&nbsp;Na takto navržen&yacute;ch retard&eacute;rech řidiči
    automobilů i autobusů neust&aacute;le zpomaluj&iacute; a zrychluj&iacute;, což
    vede ke zv&yacute;&scaron;en&eacute; hlukov&eacute; z&aacute;těži, zv&yacute;&scaron;en&iacute;
    emis&iacute; v&nbsp;důsledku vy&scaron;&scaron;&iacute; spotřeby a uvolňov&aacute;n&iacute;
    otěrov&yacute;ch č&aacute;stic ze spojkov&eacute;ho a brzdov&eacute;ho obložen&iacute;.</p>\r\n</div>\r\n<div>\r\n<p><a
    name=\"ref6\"></a>[6]&nbsp;Např. v&nbsp;Německu se po zaveden&iacute; n&iacute;zkoemisn&iacute;ch
    z&oacute;n zmen&scaron;ily emise oxidů dus&iacute;ku a pevn&yacute;ch č&aacute;stic
    o pouh&yacute;ch 1 &ndash; 5 procent, ale za cenu omezen&iacute; velk&eacute;ho
    počtu řidičů. Po zpoplatněn&iacute; vjezdu do centra Lond&yacute;na nedo&scaron;lo
    k&nbsp;zam&yacute;&scaron;len&eacute;mu sn&iacute;žen&iacute; počtu automobilů,
    pouze řidiči byli zat&iacute;žen&iacute; dal&scaron;&iacute;m poplatkem. A v&nbsp;Praze
    v&nbsp;modr&yacute;ch z&oacute;n&aacute;ch nemohou např. zaparkovat řemesln&iacute;ci
    přij&iacute;žděj&iacute;c&iacute; k&nbsp;z&aacute;kazn&iacute;kům. Někteř&iacute;
    do těchto lokalit odm&iacute;taj&iacute; jezdit.</p>\r\n</div>\r\n<p><a name=\"ref7\"></a>[7]&nbsp;Př&iacute;kladem
    je projekt <a href=\"http://ZmapujTo.cz\" target=\"_blank\">ZmapujTo.cz</a>, kde
    lze na internetu nebo přes mobiln&iacute; aplikaci prov&eacute;st fotodokumentaci
    probl&eacute;mu a jedn&iacute;m kliknut&iacute;m odeslat na př&iacute;slu&scaron;n&aacute;
    zodpovědn&aacute; m&iacute;sta. V Olomouci totiž doposud &uacute;ředn&iacute;ci
    neprojevili aktivn&iacute; z&aacute;jem, přestože hl&aacute;&scaron;en&iacute;
    od občanů jim přich&aacute;zej&iacute;.</p>\r\n</div>\r\n<div>\r\n<p><a name=\"ref8\"></a>[8]&nbsp;Aquapark
    m&aacute; kromě sv&yacute;ch odpůrců, mezi něž se řad&iacute; i Svobodn&iacute;,
    tak&eacute; mnoho př&iacute;znivců, kteř&iacute; jeho služeb využ&iacute;vaj&iacute;.
    Obec v&scaron;ak na provoz aquaparku vynakl&aacute;d&aacute; ročně kolem 40 milionů
    korun (každ&yacute; občan Olomouce včetně dět&iacute; a seniorů tak dotuje aquapark
    cca 400 Kč ročně bez ohledu na to, jestli jej s&aacute;m využ&iacute;v&aacute;).
    Tyto pen&iacute;ze pak nal&eacute;havě chyb&iacute; jinde. Pokud si občan&eacute;
    přej&iacute; aquapark zachovat i za cenu nemal&yacute;ch v&yacute;dajů z obecn&iacute;
    pokladny, nechť maj&iacute; možnost vyslovit se v referendu. Referendum se může
    konat např. souběžně s krajsk&yacute;mi volbami v roce 2016.</p>\r\n</div>\r\n<p><a
    name=\"ref9\"></a>[9]&nbsp;Podobně jako v ZOO mohou lid&eacute; &bdquo;adoptovat&ldquo;
    zv&iacute;řata, mohli by si občan&eacute; města koupit svou lavičku. Zaplatili
    by n&aacute;klady na jej&iacute; &uacute;držbu na několik let a na opl&aacute;tku
    by na lavičce byla um&iacute;stěna plaketa s jimi vybran&yacute;m textem, např&iacute;klad
    vzpom&iacute;nkou nebo poděkov&aacute;n&iacute;m. Rozhodně v&scaron;ak nepřipust&iacute;me
    reklamn&iacute; n&aacute;pisy!</p>\r\n<p><a name=\"ref10\"></a>[10]&nbsp;Naprost&aacute;
    vět&scaron;ina živnostn&iacute;ků a drobn&yacute;ch podnikatelů ž&aacute;dn&eacute;
    dotace nedost&aacute;v&aacute; a jejich pr&aacute;ce je přitom mnohem důležitěj&scaron;&iacute;
    než sportovn&iacute; z&aacute;pasy. Profesion&aacute;ln&iacute; sport, a fotbal
    a hokej předev&scaron;&iacute;m, je podnik&aacute;n&iacute; jako každ&eacute;
    jin&eacute; a nemělo by b&yacute;t zv&yacute;hodňov&aacute;no z veřejn&yacute;ch
    peněz. Na možn&eacute; poru&scaron;ov&aacute;n&iacute; hospod&aacute;řsk&eacute;
    soutěže v těchto př&iacute;padech upozorňuje i Evropsk&aacute; unie a Ministerstvo
    pro m&iacute;stn&iacute; rozvoj: <a href=\"http://sport.aktualne.cz/jagr-nedostal-dotace-i-jina-mesta-nevi-zda-jsou-legalni/r~37a09fe42e8a11e48a2a0025900fea04/\"
    target=\"_blank\">Čl&aacute;nek Aktu&aacute;lně.cz:&nbsp;J&aacute;gr nedostal
    dotace. Ani jin&aacute; města nev&iacute;, zda jsou leg&aacute;ln&iacute;</a></p>\r\n<p>&nbsp;</p>\r\n</div>\r\n<div>&nbsp;</div>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
