---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
seo_title: kontakty na Svobodní Praha 21, Praha 8 a 9
editable_elements:
  main/kontakt: |-
    <table style="border-width: 0px; width: 763px;" border="1">
    <tbody>
    <tr>
    <td style="border-style: none; border-width: medium;" width="744" height="46"><span style="color: #00654e;"><span style="font-weight: bold; font-size: 35pt;">Svobodn&iacute; Praha 21</span></span></td>
    </tr>
    <tr>
    <td style="border-style: none; border-width: medium;" width="744" height="37"><strong><span style="color: #64237d; font-size: 35pt;"> <a href="https://www.facebook.com/svobodni.praha21"><img src="/samples/assets/facebook_logo_detail.gif" alt="" width="35" height="37" align="left" border="0" /></a></span></strong></td>
    </tr>
    </tbody>
    </table>
    <table style="border-width: 0px; width: 763px;" border="1">
    <tbody>
    <tr>
    <td style="border-style: none; border-width: medium;" rowspan="4" width="206" height="199"><img src="/samples/assets/kontjarda.jpg" alt="" width="200" height="200" align="left" border="0" /></td>
    <td style="border-style: none; border-width: medium;" valign="top" width="8" height="30">&nbsp;</td>
    <td style="border-style: none; border-width: medium;" valign="top" width="530" height="30"><span style="font-size: xx-large; font-weight: bold;">MUDr. Jaroslav Jen&iacute;ček, CSc.</span></td>
    </tr>
    <tr>
    <td style="border-style: none; border-width: medium;" valign="top" width="8" height="23">&nbsp;</td>
    <td style="border-style: none; border-width: medium;" valign="top" bgcolor="#00654e" width="530" height="23">&nbsp;</td>
    </tr>
    <tr>
    <td style="border-style: none; border-width: medium;" rowspan="2" valign="top" width="8" height="133">&nbsp;</td>
    <td style="border-style: none; border-width: medium;" valign="top" width="530" height="15"><strong> <span style="font-size: large;">zastupitel MČ Praha 21</span></strong></td>
    </tr>
    <tr>
    <td style="border-style: none; border-width: medium;" valign="top" width="530" height="110"><span style="font-size: large;">e-mail: </span> <a style="text-decoration: none;" href="mailto:jenicek@svobodni.cz"> <span style="color: #00654e;"> <span style="font-size: large;">jenicek</span></span><span style="color: #00654e; font-size: large;">@svobodni.cz</span></a>&nbsp;</td>
    </tr>
    </tbody>
    </table>
    <table style="border-width: 0px; width: 763px;" border="1">
    <tbody>
    <tr>
    <td style="border-style: none; border-width: medium;" align="right" valign="top" width="518" height="30"><span style="font-weight: bold;"><span style="font-size: xx-large;">Ing. Jakub Vone&scaron;</span></span></td>
    <td style="border-style: none; border-width: medium;" align="right" valign="top" width="8" height="30">&nbsp;</td>
    <td style="border-style: none; border-width: medium;" rowspan="6" width="170" height="192"><strong> <img src="/samples/assets/kontkuba.jpg" alt="" width="200" height="200" align="right" border="0" /></strong></td>
    </tr>
    <tr>
    <td style="border-style: none; border-width: medium;" align="right" valign="top" bgcolor="#00654e" width="518" height="24">&nbsp;</td>
    <td style="border-style: none; border-width: medium;" align="right" valign="top" width="8" height="24">&nbsp;</td>
    </tr>
    <tr>
    <td style="border-style: none; border-width: medium;" align="right" valign="top" width="518" height="23"><strong> <span style="font-size: large;">člen kontroln&iacute;ho v&yacute;boru</span></strong></td>
    <td style="border-style: none; border-width: medium;" align="right" valign="top" width="8" height="23">&nbsp;</td>
    </tr>
    <tr>
    <td style="border-style: none; border-width: medium;" align="right" valign="top" width="518" height="23"><span style="font-size: large;">e-mail: </span> <a style="text-decoration: none;" href="mailto:jakub@vones.cz"> <span style="color: #00654e; font-size: large;">jakub@vones.cz</span></a></td>
    <td style="border-style: none; border-width: medium;" align="right" valign="top" width="8" height="23">&nbsp;</td>
    </tr>
    <tr>
    <td style="border-style: none; border-width: medium;" align="right" valign="top" width="518" height="24">
    <h5><span style="font-size: large;"> facebook: </span> <a style="text-decoration: none;" href="https://www.facebook.com/jakub.vones"> <span style="color: #00654e; font-size: large;">jakub.vones</span></a></h5>
    </td>
    <td style="border-style: none; border-width: medium;" align="right" valign="top" width="8" height="24">
    <h5>&nbsp;</h5>
    </td>
    </tr>
    <tr>
    <td style="border-style: none; border-width: medium;" align="right" valign="top" width="518" height="50">
    <p style="margin: 0cm; margin-bottom: .0001pt;" align="right">&nbsp;</p>
    </td>
    <td style="border-style: none; border-width: medium;" align="right" valign="top" width="8" height="50">&nbsp;</td>
    </tr>
    </tbody>
    </table>
    <table style="border-width: 0px; width: 763px;" border="1">
    <tbody>
    <tr>
    <td style="border-style: none; border-width: medium;" rowspan="6" width="206" height="201"><img src="/samples/assets/konttmartin.jpg" alt="" width="200" height="200" align="left" border="0" /></td>
    <td style="border-style: none; border-width: medium;" valign="top" width="8" height="41">
    <p style="margin: 0cm; margin-bottom: .0001pt;">&nbsp;</p>
    </td>
    <td style="border-style: none; border-width: medium;" valign="top" width="529" height="41"><span style="font-weight: bold;"><span style="font-size: xx-large;">Mgr. Martin Ko&scaron;ut</span></span></td>
    </tr>
    <tr>
    <td style="border-style: none; border-width: medium;" valign="top" width="8" height="24">&nbsp;</td>
    <td style="border-style: none; border-width: medium;" valign="top" bgcolor="#00654e" width="529" height="24">&nbsp;</td>
    </tr>
    <tr>
    <td style="border-style: none; border-width: medium;" valign="top" width="8" height="21">&nbsp;</td>
    <td style="border-style: none; border-width: medium;" valign="top" width="529" height="21"><strong> <span style="font-size: large;">člen finančn&iacute;ho v&yacute;boru</span></strong></td>
    </tr>
    <tr>
    <td style="border-style: none; border-width: medium;" valign="top" width="8" height="22">&nbsp;</td>
    <td style="border-style: none; border-width: medium;" valign="top" width="529" height="22"><span style="font-size: large;">tel.: 606 650 644</span></td>
    </tr>
    <tr>
    <td style="border-style: none; border-width: medium;" valign="top" width="8" height="22">&nbsp;</td>
    <td style="border-style: none; border-width: medium;" valign="top" width="529" height="22"><span style="font-size: large;">e-mail: </span> <a style="text-decoration: none;" href="mailto:jakub@vones.cz"> <span style="color: #00654e; font-size: large;">martin@kosut.org</span></a></td>
    </tr>
    <tr>
    <td style="border-style: none; border-width: medium;" valign="top" width="8" height="61">&nbsp;</td>
    <td style="border-style: none; border-width: medium;" valign="top" width="529" height="61"><span style="font-size: large;">web: </span> <a style="text-decoration: none;" href="http://www.kosut.org"> <span style="color: #00654e; font-size: large;">www.kosut.org</span></a></td>
    </tr>
    </tbody>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


{% consume data from "https://registr.svobodni.cz/branches/179.json" %}
<h2>Pobočka {{ data.branch.name }}</h2>
{% assign person = data.branch.coordinator %}
<h2>Koordinátor pobočky</h2>
{% include 'person' with person %}

{% if data.branch.recruiter.name %}
{% if data.branch.coordinator.name != data.branch.recruiter.name %}
<h2>Kontakt pro zájemce o členství</h2>
{% assign person = data.branch.recruiter %}
{% include 'person' with person %}
{% endif %}
{% endif %}
{% endconsume %}


</div>

{% endblock %}