---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: |-
    <p class="MsoNormal" style="line-height: 18.0pt; margin-bottom: .0001pt;"><strong> <span style="font-family: Helvetica;"><span style="color: black;"><span style="font-size: x-large;">Chceme</span></span><span style="font-family: GFS; color: black;"><span style="font-size: x-large;">:</span></span></span></strong></p>
    <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: 18.0pt;"><span style="font-family: GFS,serif; color: black;"><span style="font-size: x-large;">&nbsp;</span></span></p>
    <p class="MsoListParagraph" style="text-indent: -18.75pt; line-height: 18.0pt; margin-left: 18.75pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt;"><span style="font-size: x-large;"> <img src="/samples/assets/li-spec-purple-bgb.png" alt="" width="20" height="20" border="0" /></span><strong><span style="font-family: GFS,serif; color: #7030a0;"><span style="font-size: x-large;"> Zlep&scaron;it infrastrukturu v &Uacute;jezdě nad Lesy&nbsp; </span></span></strong></p>
    <p class="MsoNormal" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: .0001pt; margin-left: 18.0pt; line-height: 18.0pt;"><span style="font-size: 12.0pt; font-family: GFS,serif; color: black;">&nbsp; opravit silnice a chodn&iacute;ky </span></p>
    <p class="MsoNormal" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 6.0pt; margin-left: 18.05pt; line-height: 18.0pt;"><span style="font-size: 12.0pt; font-family: GFS,serif; color: black;">&nbsp; dokončit kanalizaci</span></p>
    <p class="MsoListParagraph" style="text-indent: -18.75pt; line-height: 18.0pt; margin-left: 18.75pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt;"><span style="font-size: x-large;"> <img src="/samples/assets/li-spec-purple-bgb.png" alt="" width="20" height="20" border="0" /> </span> <strong> <span style="font-family: GFS,serif; color: #7030a0;"><span style="font-size: x-large;">Vět&scaron;&iacute; bezpečnost</span></span></strong></p>
    <p class="MsoNormal" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 6.0pt; margin-left: 18.0pt; line-height: 18.0pt;"><span style="font-size: 12.0pt; font-family: GFS,serif; color: black;">&nbsp; v&iacute;ce městsk&eacute; policie v ulic&iacute;ch</span></p>
    <p class="MsoListParagraph" style="text-indent: -18.75pt; line-height: 18.0pt; margin-left: 18.75pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt;"><span style="font-size: x-large;"> <img src="/samples/assets/li-spec-purple-bgb.png" alt="" width="20" height="20" border="0" /> </span> <strong> <span style="font-family: GFS,serif; color: #7030a0;"><span style="font-size: x-large;">Vět&scaron;&iacute; čistotu a poř&aacute;dek v ulic&iacute;ch</span></span></strong></p>
    <p class="MsoNormal" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: .0001pt; margin-left: 18.0pt; line-height: 18.0pt;"><span style="font-size: 12.0pt; font-family: GFS,serif; color: black;">&nbsp; &uacute;držbu obecn&iacute; zeleně</span></p>
    <p class="MsoNormal" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 6.0pt; margin-left: 18.15pt; line-height: 18.0pt;"><span style="font-size: 12.0pt; font-family: GFS,serif; color: black;">&nbsp; &uacute;držbu a či&scaron;těn&iacute; chodn&iacute;ků a silnic</span></p>
    <p class="MsoListParagraphCxSpFirst" style="text-indent: -18.7pt; line-height: 18.0pt; margin-left: 18.7pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: 6.0pt;"><span style="font-size: x-large;"> <img src="/samples/assets/li-spec-purple-bgb.png" alt="" width="20" height="20" border="0" /> </span> <strong> <span style="font-family: GFS,serif; color: #7030a0;"> <span style="font-size: x-large;">Vyrovnan&yacute; rozpočet s c&iacute;lem nezadlužovat &Uacute;jezd nad Lesy </span></span></strong></p>
    <p class="MsoListParagraphCxSpLast" style="text-indent: -18.75pt; line-height: 18.0pt; margin-left: 18.75pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt;"><span style="font-size: x-large;"> <img src="/samples/assets/li-spec-purple-bgb.png" alt="" width="20" height="20" border="0" /> </span> <strong> <span style="font-family: GFS,serif; color: #7030a0;"> <span style="font-size: x-large;">Spolupr&aacute;ci politick&yacute;ch sil v &Uacute;jezdě ku prospěchu občanů</span></span></strong></p>
    <p class="MsoNormal" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 6.0pt; margin-left: 18.05pt; line-height: 18.0pt;"><span style="font-size: 12.0pt; font-family: GFS,serif; color: black;">&nbsp; ne osobn&iacute; &uacute;toky a invektivy, ale konstruktivn&iacute; spolupr&aacute;ci</span></p>
    <p class="MsoListParagraph" style="text-indent: -18.75pt; line-height: 18.0pt; margin-left: 18.75pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: 12.0pt;"><span style="font-size: x-large;"> <img src="/samples/assets/li-spec-purple-bgb.png" alt="" width="20" height="20" border="0" /> </span> <strong> <span style="font-family: GFS,serif; color: #7030a0;"><span style="font-size: x-large;">Kvalitn&iacute; osobn&iacute; dopravu a podporovat konkurenci v osobn&iacute; dopravě </span></span></strong></p>
    <p class="MsoListParagraph" style="text-indent: -18.75pt; line-height: 18.0pt; margin-left: 18.75pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: 12.0pt;">&nbsp;</p>
    <p class="MsoNormal" style="margin-bottom: .0001pt;"><span style="font-size: 9.0pt; line-height: 115%; font-family: GFS,serif; color: black;"> Svobodn&iacute; vych&aacute;z&iacute; obecně z těchto principů:</span></p>
    <p class="MsoNormal" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: .0001pt; margin-left: 36.0pt; text-indent: -18.0pt;"><span style="font-size: 9.0pt; line-height: 115%; font-family: GFS,serif; color: black;"> 1.&nbsp;&nbsp;&nbsp;&nbsp; Obce hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute; jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute; prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</span></p>
    <p class="MsoNormal" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: .0001pt; margin-left: 36.0pt; text-indent: -18.0pt;"><span style="font-size: 9.0pt; line-height: 115%; font-family: GFS,serif; color: black;"> 2.&nbsp;&nbsp;&nbsp;&nbsp; Obce vynakl&aacute;daj&iacute; prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute; silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v obc&iacute;ch.</span></p>
    <p class="MsoNormal" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: .0001pt; margin-left: 36.0pt; text-indent: -18.0pt;"><span style="font-size: 9.0pt; line-height: 115%; font-family: GFS,serif; color: black;"> 3.&nbsp;&nbsp;&nbsp;&nbsp; Obce z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.</span></p>
    <p class="MsoNormal" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: .0001pt; margin-left: 36.0pt; text-indent: -18.0pt;"><span style="font-size: 9.0pt; line-height: 115%; font-family: GFS,serif; color: black;"> 4.&nbsp;&nbsp;&nbsp;&nbsp; Obce ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</span></p>
    <p class="MsoNormal" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: .0001pt; margin-left: 36.0pt; text-indent: -18.0pt;"><span style="font-size: 9.0pt; line-height: 115%; font-family: GFS,serif; color: black;"> 5.&nbsp;&nbsp;&nbsp;&nbsp; V př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</span></p>
    <p class="MsoNormal" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: .0001pt; margin-left: 36.0pt; text-indent: -18.0pt;"><span style="font-size: 9.0pt; line-height: 115%; font-family: GFS,serif; color: black;"> 6.&nbsp;&nbsp;&nbsp;&nbsp; Svobodn&iacute; podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute; v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute; unie je třeba odstranit.</span></p>
    <p class="MsoNormal" style="line-height: 18.0pt;"><span style="font-size: 12.0pt; font-family: GFS,serif; color: black;">&nbsp;</span></p>
    <p class="MsoNormal"><span style="font-family: 'GFS Bodoni Rg';">&nbsp;</span></p>
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
