---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva Praha 21
meta_keywords: komunalní volby, program, Újezd nad Lesy, Praha 21
editable_elements:
  main/volebni_program: "<table style=\"border-width: 0px; width: 83%;\" border=\"1\">\r\n<tbody>\r\n<tr>\r\n<td
    style=\"border-style: none; border-width: medium;\" height=\"532\">\r\n<p class=\"MsoNormal\"
    style=\"line-height: 18.0pt; margin-bottom: .0001pt;\"><strong> <span style=\"font-size:
    18.0pt; font-family: 'Trajan Pro',serif; color: black;\"> Chceme</span><span style=\"font-size:
    18.0pt; font-family: GFS,serif; color: black;\">:</span></strong></p>\r\n<p class=\"MsoNormal\"
    style=\"line-height: 18.0pt; margin-bottom: .0001pt;\"><span style=\"font-size:
    12.0pt; font-family: 'Times New Roman',serif;\">&nbsp;</span></p>\r\n<p class=\"MsoNormal\"
    style=\"margin-top: 0cm; margin-right: 0cm; margin-bottom: .0001pt; margin-left:
    18.75pt; text-indent: -18.75pt; line-height: 18.0pt;\"><img src=\"/samples/assets/li-spec-purple-bgb.png\"
    alt=\"\" width=\"20\" height=\"20\" border=\"0\" /><strong><span style=\"font-size:
    16pt; font-family: 'Trajan Pro',serif; color: #7030a0;\"> Zlep&scaron;it infrastrukturu
    v &Uacute;jezdě nad Lesy<img src=\"/samples/assets/background.png\" alt=\"\" width=\"282\"
    height=\"282\" align=\"right\" border=\"0\" /></span></strong></p>\r\n<p class=\"MsoNormal\"
    style=\"margin-top: 0cm; margin-right: 0cm; margin-bottom: .0001pt; margin-left:
    18.0pt; line-height: 18.0pt;\"><span style=\"font-size: 16pt; font-family: 'Trajan
    Pro',serif; color: black;\"> &nbsp; </span> <span style=\"font-family: 'Trajan
    Pro',serif; color: black;\"> opravit silnice a chodn&iacute;ky </span></p>\r\n<p
    class=\"MsoNormal\" style=\"margin-top: 0cm; margin-right: 0cm; margin-bottom:
    18.0pt; margin-left: 18.15pt; line-height: 18.0pt;\"><span style=\"font-family:
    'Trajan Pro',serif; color: black;\"> &nbsp; dokončit kanalizaci</span></p>\r\n<p
    class=\"MsoNormal\" style=\"text-indent: -18.75pt; margin-left: 18.75pt; margin-right:
    0cm; margin-top: 0cm; margin-bottom: .0001pt;\"><img src=\"/samples/assets/li-spec-purple-bgb.png\"
    alt=\"\" width=\"20\" height=\"20\" border=\"0\" /><strong><span style=\"font-size:
    16pt; font-family: 'Trajan Pro',serif; color: #7030a0;\"> Vět&scaron;&iacute;
    bezpečnost</span></strong></p>\r\n<p class=\"MsoNormal\" style=\"margin-top: 0cm;
    margin-right: 0cm; margin-bottom: 18.0pt; margin-left: 17.85pt; line-height: 18.0pt;\"><span
    style=\"font-size: 16pt; font-family: 'Trajan Pro',serif; color: black;\"> &nbsp;
    </span> <span style=\"font-family: 'Trajan Pro',serif; color: black;\"> v&iacute;ce
    městsk&eacute; policie v ulic&iacute;ch</span></p>\r\n<p class=\"MsoNormal\" style=\"text-indent:
    -18.75pt; margin-left: 18.75pt; margin-right: 0cm; margin-top: 0cm; margin-bottom:
    .0001pt;\"><img src=\"/samples/assets/li-spec-purple-bgb.png\" alt=\"\" width=\"20\"
    height=\"20\" border=\"0\" /><strong><span style=\"font-size: 16pt; font-family:
    'Trajan Pro',serif; color: #7030a0;\"> Vět&scaron;&iacute; čistotu a poř&aacute;dek
    v ulic&iacute;ch</span></strong></p>\r\n<p class=\"MsoNormal\" style=\"margin-top:
    0cm; margin-right: 0cm; margin-bottom: .0001pt; margin-left: 18.0pt; line-height:
    18.0pt;\"><span style=\"font-size: 16pt; font-family: 'Trajan Pro',serif; color:
    black;\"> &nbsp;</span><span style=\"font-family: 'Trajan Pro',serif; color: black;\">
    &uacute;držbu obecn&iacute; zeleně</span></p>\r\n<p class=\"MsoNormal\" style=\"margin-top:
    0cm; margin-right: 0cm; margin-bottom: 18.0pt; margin-left: 18.15pt; line-height:
    18.0pt;\"><span style=\"font-family: 'Trajan Pro',serif; color: black;\"> &nbsp;
    &uacute;držbu a či&scaron;těn&iacute; chodn&iacute;ků a silnic</span></p>\r\n<p
    class=\"MsoNormal\" style=\"text-indent: -18.7pt; margin-left: 18.7pt; margin-right:
    0cm; margin-top: 0cm; margin-bottom: 18.0pt;\"><img src=\"/samples/assets/li-spec-purple-bgb.png\"
    alt=\"\" width=\"20\" height=\"20\" border=\"0\" /><strong><span style=\"font-size:
    16pt; font-family: 'Trajan Pro',serif; color: #7030a0;\"> Vyrovnan&yacute; rozpočet
    s c&iacute;lem nezadlužovat &Uacute;jezd nad Lesy </span></strong></p>\r\n<p class=\"MsoNormal\"
    style=\"text-indent: -18.75pt; margin-left: 18.75pt; margin-right: 0cm; margin-top:
    0cm; margin-bottom: .0001pt;\"><img src=\"/samples/assets/li-spec-purple-bgb.png\"
    alt=\"\" width=\"20\" height=\"20\" border=\"0\" /><strong><span style=\"font-size:
    16pt; font-family: 'Trajan Pro',serif; color: #7030a0;\"> Spolupr&aacute;ci politick&yacute;ch
    sil v &Uacute;jezdě ku prospěchu občanů</span></strong></p>\r\n<p class=\"MsoNormal\"
    style=\"margin-top: 0cm; margin-right: 0cm; margin-bottom: 18.0pt; margin-left:
    18.15pt; line-height: 18.0pt;\"><span style=\"font-size: 16pt; font-family: 'Trajan
    Pro',serif; color: black;\"> &nbsp; </span> <span style=\"font-family: 'Trajan
    Pro',serif; color: black;\"> ne osobn&iacute; &uacute;toky a invektivy, ale konstruktivn&iacute;
    spolupr&aacute;ci</span></p>\r\n<p class=\"MsoNormal\" style=\"text-indent: -18.7pt;
    margin-left: 18.7pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: 18.0pt;\"><img
    src=\"/samples/assets/li-spec-purple-bgb.png\" alt=\"\" width=\"20\" height=\"20\"
    border=\"0\" /><strong><span style=\"font-size: 16pt; font-family: 'Trajan Pro',serif;
    color: #7030a0;\"> Kvalitn&iacute; osobn&iacute; dopravu a podporovat konkurenci
    v&nbsp; osobn&iacute; dopravě </span></strong></p>\r\n&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"border-style: none; border-width: medium;\" bgcolor=\"#E5E5E5\">\r\n<div
    style=\"border-style: solid; border-width: 1px; padding-left: 4px; padding-right:
    4px; padding-top: 1px; padding-bottom: 1px;\">\r\n<p class=\"MsoNormal\" style=\"margin-bottom:
    6.0pt;\"><strong> <span style=\"line-height: 115%; font-family: 'Times New Roman',serif;\">
    Svobodn&iacute; vych&aacute;z&iacute; obecně z těchto principů:</span></strong></p>\r\n<p
    class=\"MsoNormal\" style=\"margin-bottom: 6.0pt;\"><span style=\"line-height:
    115%; font-family: 'Times New Roman',serif;\"> 1.&nbsp; Obce hospodař&iacute;
    zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute; jen v mimoř&aacute;dn&yacute;ch
    situac&iacute;ch za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů.
    Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute; prosazuj&iacute;
    jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona o vyrovnan&eacute;m
    rozpočtu na &uacute;rovni st&aacute;tu.</span></p>\r\n<p class=\"MsoNormal\" style=\"margin-bottom:
    6.0pt;\"><span style=\"line-height: 115%; font-family: 'Times New Roman',serif;\">2.<strong>&nbsp;
    </strong>Obce vynakl&aacute;daj&iacute; prostředky na prvn&iacute;m m&iacute;stě
    na veřejn&eacute; statky, tj. na obecn&iacute; silnice, chodn&iacute;ky a zaji&scaron;těn&iacute;
    poř&aacute;dku a čistoty v obc&iacute;ch.</span></p>\r\n<p class=\"MsoNormal\"
    style=\"margin-bottom: 6.0pt;\"><span style=\"line-height: 115%; font-family:
    'Times New Roman',serif;\"> 3.&nbsp; Obce z&aacute;sadně nepodnikaj&iacute;. Obce
    sv&yacute;mi aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.</span></p>\r\n<p
    class=\"MsoNormal\" style=\"margin-bottom: 6.0pt;\"><span style=\"line-height:
    115%; font-family: 'Times New Roman',serif;\"> 4.&nbsp; Obce ukl&aacute;daj&iacute;
    přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně konzervativně, tj. do
    aktiv s minim&aacute;ln&iacute;m rizikem.</span></p>\r\n<p class=\"MsoNormal\"
    style=\"margin-bottom: 6.0pt;\"><span style=\"line-height: 115%; font-family:
    'Times New Roman',serif;\"> 5.&nbsp; V př&iacute;padě obecn&iacute;ch zak&aacute;zek
    se obce nesměj&iacute; odvol&aacute;vat na obchodn&iacute; tajemstv&iacute; a
    uzavřen&eacute; smlouvy jsou veřejn&eacute;.</span></p>\r\n<span style=\"line-height:
    115%; font-family: 'Times New Roman',serif;\"> 6.&nbsp;&nbsp;Svobodn&iacute; podporuj&iacute;
    změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo v kaps&aacute;ch
    lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak na &uacute;rovni
    st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute; v&yacute;nosu
    dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute; unie
    je třeba odstranit.</span></div>\r\n</td>\r\n</tr>\r\n</tbody>\r\n</table>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
