---
title: Akce
slug: akce
listed: true
published: false
cache_strategy: none
response_type: text/html
position: 31
seo_title: Události
editable_elements:
  main/duvody: "<ul class=\"spec-purple-1\">\r\n<li>Postupn&eacute; oddlužen&iacute;
    města</li>\r\n<li>Opraven&aacute; a uklizen&aacute; veřejn&aacute; prostranstv&iacute;</li>\r\n<li>Město,
    kter&eacute; nepřek&aacute;ž&iacute; živnostn&iacute;kům</li>\r\n</ul>"
  main/vyzva: Osobnosti, které nabízíme
---
{% extends 'parent' %}