---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<h3>Koordin&aacute;tor pobočky v Chrudimi</h3>\r\n<p>Josef K&aacute;les
    - josef.kales@svobodni.cz</p>\r\n<h3>Zastupitel a l&iacute;dr kandid&aacute;tky</h3>\r\n<p>Petr
    Lichtenberg - lichtenberg@svobodni.cz</p>\r\n<p>&nbsp;</p>\r\n<h3>Transparentn&iacute;
    &uacute;čet krajsk&eacute;ho sdružen&iacute;</h3>\r\n<p><a href=\"https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?ID_ucet=2600382814\">2600382814/2010</a></p>\r\n<p>&nbsp;</p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}



</div>

{% endblock %}