---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 3
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<h2><strong>PROGRAMOV&Eacute; PRIORITY</strong></h2>\r\n<ol>\r\n<li><strong>Sn&iacute;žen&iacute;
    dluhu a vyrovnan&yacute; rozpočet</strong></li>\r\n<li><strong>Prioritn&iacute;
    p&eacute;če o veřejn&aacute; prostranstv&iacute;</strong></li>\r\n<li><strong>Město,
    kter&eacute; nepřek&aacute;ž&iacute; živnostn&iacute;kům</strong></li>\r\n</ol>\r\n<p><em>Na&scaron;e
    politick&aacute; filosofie spoč&iacute;v&aacute; v&nbsp;tom, že chceme, aby o
    sobě svobodn&iacute; občan&eacute; rozhodovali sami, aby se sami rozhodovali,
    jak nalož&iacute; se sv&yacute;mi penězi. Aby tuto &uacute;lohu nečinilo město.
    To by se mělo starat pouze o z&aacute;kladn&iacute; věci &ndash; starost o městsk&yacute;
    majetek, veřejn&aacute; prostranstv&iacute; a o bezpečnost.&nbsp;</em></p>\r\n<p>&nbsp;</p>\r\n<h2><strong>&Scaron;T&Iacute;HL&Yacute;
    &Uacute;ŘAD</strong></h2>\r\n<p><em>Jsme zast&aacute;nci &scaron;t&iacute;hl&eacute;ho
    &uacute;řadu, kter&yacute; vykon&aacute;v&aacute; jen nezbytn&eacute; &uacute;koly
    spojen&eacute; se samospr&aacute;vou a st&aacute;tn&iacute; spr&aacute;vou. Jsme
    proti zbytečn&yacute;m a nic nepřin&aacute;&scaron;ej&iacute;c&iacute;m m&oacute;dn&iacute;m
    projektům.</em></p>\r\n<p>&nbsp;</p>\r\n<ul>\r\n<li>Opět sn&iacute;ž&iacute;me
    počet m&iacute;stostarostů. Po posledn&iacute;ch volb&aacute;ch se podařilo sn&iacute;žit
    počet m&iacute;stostarostů z&nbsp;tř&iacute; na dva. Nicm&eacute;ně nov&aacute;
    koalice ČSSD, ODS a SNK ED, již bez na&scaron;&iacute; &uacute;časti, opět zv&yacute;&scaron;ila
    počet m&iacute;stostarostů na tři.</li>\r\n<li>Zjednodu&scaron;&iacute;me organizačn&iacute;
    ř&aacute;d městsk&eacute;ho &uacute;řadu, tedy sn&iacute;ž&iacute;me počet odborů.</li>\r\n<li>Omez&iacute;me
    počet zahraničn&iacute;ch služebn&iacute;ch cest zaměstnanců městsk&eacute;ho
    &uacute;řadu a volen&yacute;ch funkcion&aacute;řů.</li>\r\n<li>Podpoř&iacute;me,
    aby co nejv&iacute;ce sv&yacute;ch z&aacute;ležitost&iacute; a probl&eacute;mů
    mohli občan&eacute; vyř&iacute;dit na Internetu.</li>\r\n<li>Jsme pro zdrav&yacute;
    rozum m&iacute;sto &bdquo;Zdrav&eacute;ho města&ldquo;.&nbsp; Projekt Zdrav&eacute;
    město je zbytečn&yacute; a finančně n&aacute;ročn&yacute; a jeho jedin&yacute;m
    &bdquo;př&iacute;nosem&ldquo; jsou diplomy za boj proti přirozen&eacute;mu a ž&aacute;douc&iacute;mu
    rozvoji.</li>\r\n<li>Odm&iacute;t&aacute;me projekty, kter&yacute;mi město podporuje
    určit&eacute; podnikatele před jin&yacute;mi. Proto jsme např&iacute;klad pro
    vystoupen&iacute; z&nbsp;projektu Fairtradov&aacute; města. Každ&yacute; občan
    si m&aacute; s&aacute;m rozhodovat, u koho bude nakupovat, město se do těchto
    z&aacute;ležitost&iacute; nem&aacute; pl&eacute;st.</li>\r\n<li>Zru&scaron;&iacute;me
    placenou pozici městsk&eacute;ho architekta. V&nbsp;př&iacute;padě potřeby budeme
    k&nbsp;jednotliv&yacute;m projektům oslovovat odborn&iacute;ky.</li>\r\n<li>Omez&iacute;me
    počet pracovn&iacute;ků oddělen&iacute; prevence kriminality a naopak zv&yacute;&scaron;&iacute;me
    počet městsk&yacute;ch str&aacute;žn&iacute;ků v&nbsp;ulic&iacute;ch.</li>\r\n<li>Po
    zku&scaron;enostech s&nbsp;poradn&iacute;mi org&aacute;ny městsk&eacute; rady,
    budeme prosazovat m&eacute;ně komis&iacute; pro zv&yacute;&scaron;en&iacute; jejich
    aktivity a funkčnosti.</li>\r\n<li>Zpracujeme studii zab&yacute;vaj&iacute;c&iacute;
    se lep&scaron;&iacute;m využit&iacute;m městsk&yacute;ch budov využ&iacute;van&yacute;ch
    &uacute;řadem s&nbsp;c&iacute;lem odprodeje nadbytečn&yacute;ch prostor.</li>\r\n<li>Prodlouž&iacute;me
    alespoň v&nbsp;jednom dni v&nbsp;t&yacute;dnu &uacute;ředn&iacute; hodiny tak,
    aby živnostn&iacute;ci nemuseli zav&iacute;rat sv&eacute; prodejny nebo obětovat
    poledn&iacute; pauzy kvůli byrokracii.&nbsp;</li>\r\n</ul>\r\n<p>&nbsp;&nbsp;<img
    src=\"/samples/assets/graf-dluhy.png\" alt=\"\" /></p>\r\n<h2>&nbsp;</h2>\r\n<h2><strong>PRŮHLEDN&Eacute;
    ROZHODOV&Aacute;N&Iacute;</strong></h2>\r\n<p><em>Město mus&iacute; ve&scaron;ker&eacute;
    informace zpř&iacute;stupnit veřejnosti. Nelze se vymlouvat na obchodn&iacute;
    tajemstv&iacute;.</em></p>\r\n<p>&nbsp;</p>\r\n<p>Zv&yacute;&scaron;&iacute;me
    transparentnost rozhodov&aacute;n&iacute; o veřejn&yacute;ch zak&aacute;zk&aacute;ch:</p>\r\n<ul>\r\n<li>Veřejn&eacute;
    zak&aacute;zky budou zad&aacute;v&aacute;ny z&aacute;sadně v&nbsp;otevřen&eacute;m
    zad&aacute;vac&iacute;m ř&iacute;zen&iacute;.</li>\r\n<li>Průběh cel&eacute;ho
    ř&iacute;zen&iacute; o veřejn&eacute; zak&aacute;zce zveřejn&iacute;me na internetu
    (od zad&aacute;vac&iacute; dokumentace po protokoly o zased&aacute;n&iacute; hodnot&iacute;c&iacute;
    komise a texty př&iacute;slu&scaron;n&yacute;ch smluv).</li>\r\n<li>Zř&iacute;d&iacute;me
    elektronick&eacute; trži&scaron;tě, resp. zavedeme syst&eacute;m elektronick&yacute;ch
    aukc&iacute; veřejn&yacute;ch zak&aacute;zek (podnikatel&eacute; budou o veřejn&eacute;
    zak&aacute;zky soutěžit on-line /v re&aacute;ln&eacute;m čase/, č&iacute;mž dojde
    k&nbsp;z&uacute;žen&iacute; prostoru pro manipulaci); současně omez&iacute;me
    možnost subdod&aacute;vek (abychom sn&iacute;žili pravděpodobnost vzniku zak&aacute;zan&yacute;ch
    dohod mezi jednotliv&yacute;mi &uacute;častn&iacute;ky ř&iacute;zen&iacute; o
    veřejn&eacute; zak&aacute;zce), omez&iacute;me t&eacute;ž možnost navy&scaron;ov&aacute;n&iacute;
    ceny veřejn&eacute; zak&aacute;zky v&nbsp;průběhu jej&iacute; realizace (omezen&iacute;
    tzv. v&iacute;ceprac&iacute; apod.).</li>\r\n<li>Nebude-li veřejn&aacute; zak&aacute;zka
    zad&aacute;v&aacute;na prostřednictv&iacute;m elektronick&eacute;ho trži&scaron;tě,
    budou ob&aacute;lky s&nbsp;nab&iacute;dkami jednotliv&yacute;ch soutěžitelů otev&iacute;r&aacute;ny
    vždy na veřejnosti př&iacute;stupn&eacute;m m&iacute;stě. Z&aacute;znam z&nbsp;otev&iacute;r&aacute;n&iacute;
    ob&aacute;lek zpř&iacute;stupn&iacute;me na internetu.</li>\r\n<li>Ve&scaron;ker&eacute;
    smlouvy uzavřen&eacute; s&nbsp;městem mus&iacute; b&yacute;t veřejn&eacute; a
    k&nbsp;dispozici v&scaron;em občanům města, nelze se vymlouvat na takzvan&eacute;
    obchodn&iacute; tajemstv&iacute;.</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p>Zv&yacute;&scaron;&iacute;me
    transparentnost ostatn&iacute;ch rozhodovac&iacute;ch procesů:</p>\r\n<ul>\r\n<li>Vedle
    zvukov&eacute;ho z&aacute;znamu ze zased&aacute;n&iacute; zastupitelstva budeme
    tak&eacute; zveřejňovat videoz&aacute;znam.</li>\r\n<li>Zveřejn&iacute;me z&aacute;pisy
    ze zased&aacute;n&iacute; v&scaron;ech org&aacute;nů města, bez ohledu na to,
    zda jsou tato jedn&aacute;n&iacute; veřejn&aacute; či nikoliv. Požadujeme tak&eacute;
    zveřejňov&aacute;n&iacute; podkladů pro jedn&aacute;n&iacute; zastupitelstva města.</li>\r\n<li>Dohl&eacute;dneme
    na dodržov&aacute;n&iacute; z&aacute;kona o střetu z&aacute;jmů členy zastupitelstva
    města.</li>\r\n<li>Nebudeme uzav&iacute;rat smlouvy s&nbsp;pr&aacute;vnick&yacute;mi
    osobami s&nbsp;nejasnou vlastnickou strukturou, nebudeme uzav&iacute;rat smlouvy
    s&nbsp;osobami pravomocně odsouzen&yacute;mi za korupčn&iacute; jedn&aacute;n&iacute;,
    hospod&aacute;řsk&eacute; a vybran&eacute; majetkov&eacute; trestn&eacute; činy
    (např. dotačn&iacute; podvod) a s&nbsp;daňov&yacute;mi dlužn&iacute;ky.</li>\r\n<li>Nad&aacute;le
    budou na&scaron;i zastupitel&eacute; k&nbsp;dispozici občanům města a ochotni
    se kdykoliv sej&iacute;t nad jejich probl&eacute;my.</li>\r\n<li>Budeme aktivně
    zveřejňovat maxim&aacute;ln&iacute; množstv&iacute; informac&iacute;.</li>\r\n<li>Budeme
    prosazovat, aby zastupitel&eacute; dostali pro sv&eacute; rozhodov&aacute;n&iacute;
    komplexn&iacute; podklady se stanovisky dotčen&yacute;ch odborů, poradn&iacute;ch
    org&aacute;nů a s&nbsp;popisem st&aacute;vaj&iacute;c&iacute;ho stavu.</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<h2><strong>BEZPEČN&Yacute;
    ŽIVOT</strong></h2>\r\n<p><em>Bezpečnost je kl&iacute;čov&yacute;m bodem. Město
    sice nem&aacute; dostatečn&eacute; možnosti, jak ovlivnit fungov&aacute;n&iacute;
    Policie ČR. Proto nab&iacute;z&iacute;me reformu městsk&eacute; policie.</em></p>\r\n<p>&nbsp;</p>\r\n<ul>\r\n<li>Navr&aacute;t&iacute;me
    se k&nbsp;modelu prvorepublikov&yacute;ch pochůzk&aacute;řů. Hl&iacute;dky budou
    jednočlenn&eacute;, tedy každ&yacute; str&aacute;žn&iacute;k bude m&iacute;t na
    starost svůj rajon.</li>\r\n<li>Str&aacute;žn&iacute;k m&aacute; b&yacute;t předev&scaron;&iacute;m
    pomocnou rukou, nikoliv měřit rychlost a udělovat pokuty za &scaron;patn&eacute;
    parkov&aacute;n&iacute;. Odm&iacute;t&aacute;me, aby městsk&aacute; policie měřila
    rychlost. Tato aktivita nenapom&aacute;h&aacute; ke sn&iacute;žen&iacute; nehodovosti.</li>\r\n<li>Omez&iacute;me
    počet pracovn&iacute;ků oddělen&iacute; prevence kriminality a naopak zv&yacute;&scaron;&iacute;me
    počet str&aacute;žn&iacute;ku v&nbsp;ulic&iacute;ch.</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<h2><strong>SVOBODN&Eacute;
    PODNIK&Aacute;N&Iacute; A SLUŽBY</strong></h2>\r\n<p><em>Město nesm&iacute; podnikat
    a přek&aacute;žet. Z&aacute;roveň město tak&eacute; nesm&iacute; vlastnit př&iacute;li&scaron;
    mnoho majetku, s&nbsp;kter&yacute;m neum&iacute; hospodařit.</em></p>\r\n<p>&nbsp;</p>\r\n<ul>\r\n<li>Město
    nesm&iacute; podnikat a konkurovat tak sv&yacute;m občanům za jejich daně. Proto
    jsme např&iacute;klad pro zru&scaron;en&iacute; městsk&eacute; kav&aacute;rny.</li>\r\n<li>Město
    mus&iacute; přistupovat ke v&scaron;em podnikatelům stejně, nen&iacute; možno
    někter&eacute; z&nbsp;nich zv&yacute;hodňovat.</li>\r\n<li>Živnostn&iacute;ci
    jsou důležitou souč&aacute;st&iacute; města, proto jim nelze h&aacute;zet klacky
    pod nohy. Zru&scaron;&iacute;me poplatek za um&iacute;stěn&iacute; reklamn&iacute;ch
    stojanů před prodejnami, předzahr&aacute;dek a zaměř&iacute;me se na &uacute;klid
    chodn&iacute;ků nejen před jejich obchody.</li>\r\n<li>Prosad&iacute;me, aby uvolněn&iacute;
    členov&eacute; zastupitelstva nezast&aacute;vali funkce v&nbsp;org&aacute;nech
    obchodn&iacute;ch společnost&iacute;, v&nbsp;kter&yacute;ch město nem&aacute;
    ž&aacute;dn&yacute; majetkov&yacute; pod&iacute;l či hlasovac&iacute; pr&aacute;va.</li>\r\n<li>Usilujeme
    o zru&scaron;en&iacute; poplatku za komun&aacute;ln&iacute; odpad po vzoru např&iacute;klad
    města Teplice. Vn&iacute;m&aacute;me to jako možnost ulehčit občanům od levicov&yacute;ch
    vl&aacute;d tahaj&iacute;c&iacute;ch z&nbsp;nich těžce vydělan&eacute; pen&iacute;ze.
    K&nbsp;tomu je v&scaron;ak nutn&eacute; omezit v&yacute;daje v&nbsp;podobě nesmysln&yacute;ch
    projektů a přebujel&eacute;ho &uacute;řadu (viz &Scaron;t&iacute;hl&yacute; &uacute;řad).</li>\r\n<li>Nebudeme
    zvy&scaron;ovat daň z&nbsp;nemovitosti.</li>\r\n<li>Vystěhujeme neplatiče z&nbsp;městsk&yacute;ch
    bytů.</li>\r\n<li>Město by mělo m&iacute;t pouze mal&eacute; množstv&iacute; bytů
    pro obyvatele, kteř&iacute; se ocitnou v&nbsp;mimoř&aacute;dně t&iacute;živ&eacute;
    situaci. Jsme proti rozd&aacute;v&aacute;n&iacute; městsk&yacute;ch bytů politikům
    a &uacute;ředn&iacute;kům. Zavedeme jasn&aacute; krit&eacute;ria pro přidělov&aacute;n&iacute;
    městsk&yacute;ch bytů a zveřejn&iacute;me seznam uchazečů.</li>\r\n<li>Zaujmeme
    nekompromisn&iacute; postoj k&nbsp;dlužn&iacute;kům města.</li>\r\n<li>Zru&scaron;&iacute;me
    zbytečn&eacute; regulace pro podnikatele, kter&eacute; nepřisp&iacute;vaj&iacute;
    k&nbsp;prosperitě města. Př&iacute;kladem může b&yacute;t nov&yacute; tržn&iacute;
    ř&aacute;d omezuj&iacute;c&iacute; podnik&aacute;n&iacute;.</li>\r\n<li>Zavedeme
    dvě hodiny zdarma na parkovi&scaron;t&iacute;ch, aby bylo nakupov&aacute;n&iacute;
    v&nbsp;centru jednodu&scaron;&scaron;&iacute;. &nbsp;</li>\r\n</ul>\r\n<p><strong>&nbsp;</strong></p>\r\n<h2><strong>PŘ&Iacute;VĚTIV&Eacute;
    ŽIVOTN&Iacute; PROSTŘED&Iacute;</strong></h2>\r\n<p><em>Na&scaron;&iacute;m hlavn&iacute;m
    c&iacute;lem je vytvořit př&iacute;jemn&eacute; a hlavně čist&eacute;, kde by
    neměl b&yacute;t probl&eacute;m nal&eacute;zt si sv&eacute; m&iacute;sto k&nbsp;relaxaci.</em></p>\r\n<p>&nbsp;</p>\r\n<ul>\r\n<li>Na&scaron;&iacute;m
    ide&aacute;lem je město s&nbsp;parky l&aacute;kaj&iacute;c&iacute;mi na piknik.
    Ne plevelov&eacute; louky a betonov&eacute; plochy.</li>\r\n<li>Nepřipust&iacute;me
    likvidaci st&aacute;vaj&iacute;c&iacute;ch zelen&yacute;ch ploch v&nbsp;centru
    města a přistoup&iacute;me k&nbsp;obnově a nov&eacute; v&yacute;sadbě uličn&iacute;
    zeleně.</li>\r\n<li>Vytvoř&iacute;me nov&eacute; odpočinkov&eacute; z&oacute;ny.
    To znamen&aacute; v&iacute;ce laviček v&nbsp;ulic&iacute;ch města, kter&eacute;
    v&nbsp;současnosti tolik chyb&iacute;.</li>\r\n<li>Budeme pokračovat v&nbsp;obnově
    s&iacute;dli&scaron;ť, nikoliv v&scaron;ak ve velik&aacute;&scaron;sk&yacute;ch
    projektech současn&eacute;ho veden&iacute; města. Prioritn&iacute; jsou pro n&aacute;s
    nyn&iacute; s&iacute;dli&scaron;tě Na Rozhledně a U Stadionu.</li>\r\n<li>Pokl&aacute;d&aacute;me
    za potřebn&eacute; důsledněji postihovat zneči&scaron;ťov&aacute;n&iacute; veřejn&yacute;ch
    prostranstv&iacute;.</li>\r\n<li>Nebudeme opom&iacute;jet obyvatele m&iacute;stn&iacute;ch
    č&aacute;st&iacute; - Markovice, Medle&scaron;ice, Vlčnov, Topol a Vestec.</li>\r\n<li>Zlep&scaron;&iacute;me
    podm&iacute;nky pro život tělesně postižen&yacute;ch občanů.</li>\r\n<li>Zabr&aacute;n&iacute;me
    přeložen&iacute; silnice přes Resselovo n&aacute;měst&iacute; a v&yacute;stavbě
    za kostelem Nanebevzet&iacute; Panny Marie.</li>\r\n</ul>\r\n<p>&nbsp;<strong
    style=\"line-height: 1.5em;\">&nbsp;</strong></p>\r\n<h2><strong>TRADIČN&Iacute;
    &Scaron;KOLSTV&Iacute;</strong></h2>\r\n<p><em>Chrudim byla vždy v&yacute;znamn&aacute;
    pro svou &scaron;kolskou s&iacute;ť. Pokud m&aacute; město v&nbsp;kompetenci z&aacute;kladn&iacute;
    &scaron;kolstv&iacute;, mus&iacute; k&nbsp;němu přistupovat zodpovědně a nab&iacute;dnout
    i zde konkurenčn&iacute; prostřed&iacute;.</em></p>\r\n<p>&nbsp;</p>\r\n<ul>\r\n<li>Podpoř&iacute;me
    různost v&nbsp;zaměřen&iacute; z&aacute;kladn&iacute;ch &scaron;kol a jejich n&aacute;ročnosti.
    Nebudeme br&aacute;nit vzniku soukrom&yacute;ch &scaron;kol.</li>\r\n<li>Jsme
    proti ru&scaron;en&iacute; z&aacute;kladn&iacute;ch &scaron;kol.</li>\r\n<li>Na&scaron;&iacute;m
    c&iacute;lem je sn&iacute;žen&iacute; počtu ž&aacute;ků v&nbsp;jednotliv&yacute;ch
    tř&iacute;d&aacute;ch.</li>\r\n<li>Zajist&iacute;me dostatek m&iacute;st pro děti
    v&nbsp;mateřsk&yacute;ch &scaron;kol&aacute;ch.</li>\r\n<li>Budeme vyv&iacute;jet
    tlak na zřizovatele středn&iacute;ch &scaron;kol (Pardubick&yacute; kraj), aby
    zachoval jejich existuj&iacute;c&iacute; strukturu.</li>\r\n<li>Rodiče by měli
    m&iacute;t možnost vybrat si zař&iacute;zen&iacute;, kter&yacute;m svěř&iacute;
    sv&eacute; děti. Jsme pro vytv&aacute;řen&iacute; alternativ ve vzděl&aacute;v&aacute;n&iacute;
    i na &uacute;rovni mateřsk&yacute;ch &scaron;kol. Svobodn&iacute; jsou pro rovn&yacute;
    př&iacute;stup st&aacute;tu ve financov&aacute;n&iacute; soukrom&yacute;ch mateřsk&yacute;ch
    &scaron;kol a městsk&yacute;ch mateřsk&yacute;ch &scaron;kol. Jsme tak&eacute;
    proti pl&aacute;novan&eacute;mu ru&scaron;en&iacute; takzvan&yacute;ch lesn&iacute;ch
    &scaron;kolek.</li>\r\n</ul>\r\n<p><strong style=\"line-height: 1.5em;\">&nbsp;</strong><strong
    style=\"line-height: 1.5em;\">&nbsp;</strong></p>\r\n<h2><strong>SOUKROM&Aacute;
    Z&Aacute;BAVA: <br /> SPORT A KULTURA</strong></h2>\r\n<p>&nbsp;<em style=\"line-height:
    1.5em;\">Jsme proti zv&yacute;hodňov&aacute;n&iacute; určit&yacute;ch skupin obyvatel,
    proto podporujeme sn&iacute;žen&iacute; př&iacute;jmů města od občanů, aby měli
    finance na svou z&aacute;bavu.</em></p>\r\n<p>&nbsp;</p>\r\n<ul>\r\n<li>Zastav&iacute;me
    velik&aacute;&scaron;sk&yacute; a finančně nesm&iacute;rně n&aacute;ročn&yacute;
    projekt Muzea barokn&iacute;ch soch. B&yacute;val&yacute; kostel sv. Josefa budeme
    využ&iacute;vat pro ceremoni&aacute;ln&iacute; akce a v&yacute;stavn&iacute; prostory
    s&nbsp;c&iacute;lem v&yacute;razně sn&iacute;žit provozn&iacute; v&yacute;daje.</li>\r\n<li>Podpoř&iacute;me
    opravu a &uacute;držbu nemovit&yacute;ch kulturn&iacute;ch pam&aacute;tek ve městě
    &ndash; např&iacute;klad z&aacute;mek v&nbsp;Medle&scaron;ic&iacute;ch.</li>\r\n<li>Zachov&aacute;me
    amfite&aacute;tr b&yacute;val&eacute;ho letn&iacute;ho kina pro různ&eacute; druhy
    kulturn&iacute;ch a společensk&yacute;ch akc&iacute;.</li>\r\n<li>Provedeme restrukturalizaci
    Chrudimsk&eacute; besedy.</li>\r\n<li>Z&nbsp;rozpočtu města nebudeme dotovat sportovn&iacute;
    a kulturn&iacute; aktivity dospěl&yacute;ch. Jak bylo v&yacute;&scaron;e uvedeno,
    sn&iacute;ž&iacute;me př&iacute;jmy města, aby lid&eacute; měli na svou z&aacute;bavu
    dostatek finančn&iacute;ch prostředků.</li>\r\n</ul>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
