---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p><strong>1. Otevřen&aacute; radnice</strong></p>\r\n<p>-
    transparentn&iacute; &uacute;čty města, přehled v&scaron;ech př&iacute;jmů a v&yacute;dajů
    na webu města</p>\r\n<p>- zveřejněn&iacute; smluv města</p>\r\n<p>- on-line přenosy
    z jedn&aacute;n&iacute; zastupitelstva</p>\r\n<p><strong>2. Bez regulac&iacute;
    a poplatků</strong></p>\r\n<p>- zru&scaron;en&iacute; poplatků ze vstupn&eacute;ho,
    z ubytovac&iacute; kapacity a dal&scaron;&iacute; poplatky</p>\r\n<p>- postupně
    přispějeme k plo&scaron;n&eacute;mu sn&iacute;žen&iacute; daně z pozemků a staveb</p>\r\n<p>-
    provedeme revizi městsk&yacute;ch vyhl&aacute;&scaron;ek za &uacute;čelem jejich
    zjednodu&scaron;en&iacute; nebo zru&scaron;en&iacute;</p>\r\n<p><strong>3. Zodpovědn&eacute;
    hospodařen&iacute;</strong></p>\r\n<p>- jsme pro dlouhodobě vyrovnan&eacute; hospodařen&iacute;
    města</p>\r\n<p>- v př&iacute;padě přebytku rozpočtu, je prioritou spl&aacute;cet
    minul&eacute; dluhy</p>\r\n<p><strong>4. Na &uacute;řad večer, nebo i v sobotu</strong></p>\r\n<p>-zavedeme
    na Městsk&eacute;m &uacute;řadě &uacute;ředn&iacute; hodiny odpov&iacute;daj&iacute;c&iacute;
    potřeb&aacute;m občanů,</p>\r\n<p>&nbsp;alespoň jednou měs&iacute;čně&nbsp; v
    sobotu, dvakr&aacute;t za měs&iacute;c až do večera&nbsp;</p>\r\n<p><strong style=\"line-height:
    1.5em;\">5. Bezpečn&eacute; město</strong></p>\r\n<p>- městsk&eacute; policii
    vr&aacute;t&iacute;me jej&iacute; původn&iacute; funkci &ndash; střežen&iacute;
    bezpečnosti a poř&aacute;dku,</p>\r\n<p>měřen&iacute; rychlosti městskou polici&iacute;
    považujeme za nadbytečn&eacute;</p>\r\n<p><strong>6. Podpoř&iacute;me rodiny s
    dětmi</strong></p>\r\n<p>&nbsp;- budeme podporovat vytv&aacute;řen&iacute; před&scaron;koln&iacute;ch
    zař&iacute;zen&iacute; i pro děti mlad&scaron;&iacute; tř&iacute; let</p>\r\n<p>-
    podpoř&iacute;me volnočasov&eacute; aktivity, kroužky a sportovn&iacute; vyžit&iacute;
    zejm&eacute;na dět&iacute; a ml&aacute;deže</p>\r\n<p><strong>7. Rozvoj města</strong></p>\r\n<p>-
    budeme prosazovat dobudov&aacute;n&iacute; kanalizace a roz&scaron;&iacute;řen&iacute;
    kapacity čističky</p>\r\n<p>- Ř&iacute;čany budou městem, kter&eacute; nepřek&aacute;ž&iacute;
    živnostn&iacute;kům</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
