---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 29
editable_elements:
  main/kontakt: |-
    <p><a href="mailto:svobodni.velkemezirici@seznam.cz"><span><span>svobodni.velkemezirici@seznam.cz</span></span></a><span><span>&nbsp;</span></span></p>
    <p><span><span>www.facebook.com/pages/Svobodn&iacute;-Velk&eacute; Meziř&iacute;č&iacute;</span></span></p>
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}