---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 19
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p><strong>PROGRAMOV&Eacute; PRIORITY:</strong></p>\r\n<p><strong>&Uacute;čeln&eacute;
    a průhledn&eacute; hospodařen&iacute; města a jeho organizac&iacute;</strong></p>\r\n<p>Chceme
    pokračovat v&nbsp;&uacute;čeln&eacute;m hospodařen&iacute;, např. reviz&iacute;
    smluv a dokumentů (Velk&aacute; B&iacute;te&scaron; tak u&scaron;etř&iacute; skoro
    2 000 000 Kč ročně), n&aacute;kladů &uacute;řadu atd. a důsledn&eacute; kontrole
    městem vydan&yacute;ch peněz - investice, př&iacute;spěvky na provoz, dotace apod.</p>\r\n<p><strong>M&eacute;ně
    regulac&iacute; a vyhl&aacute;&scaron;ek = v&iacute;ce svobody</strong></p>\r\n<p>V
    obc&iacute;ch a městech se odehr&aacute;vaj&iacute; z&aacute;sadn&iacute; politick&aacute;
    rozhodnut&iacute;, kter&aacute; maj&iacute; př&iacute;m&yacute; dopad na životy
    občanů. Různ&eacute; m&iacute;stn&iacute; vyhl&aacute;&scaron;ky mohou lidskou
    svobodu ohrožovat v&iacute;ce a daleko bezprostředněji než rozhodov&aacute;n&iacute;
    v Praze či Bruselu. Svobodn&iacute; jsou proti takov&yacute;m vyhl&aacute;&scaron;k&aacute;m
    a regulac&iacute;m,&nbsp;<span>kter&eacute; vět&scaron;inu lid&iacute; omez&iacute;
    a vezmou jim možnost svobodně se rozhodnout.</span></p>\r\n<p><strong>Podpora
    rozvoje dět&iacute; ve vzděl&aacute;n&iacute;, sportu a kultuře</strong></p>\r\n<p>Je
    třeba maxim&aacute;lně podporovat m&iacute;stn&iacute; &scaron;kolky, &scaron;koly,
    sdružen&iacute; a spolky při v&yacute;chově a rozvoji na&scaron;ich dět&iacute;.</p>\r\n<p><strong
    style=\"line-height: 1.5em;\">Vyrovnan&yacute; rozpočet města</strong></p>\r\n<p>Obce
    hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute;
    jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute;
    vět&scaron;iny zastupitelů.&nbsp;</p>\r\n<p><strong>Nezvy&scaron;ovat (sp&iacute;&scaron;e
    naopak) poplatek za svoz odpadu a daň z&nbsp;nemovitosti</strong></p>\r\n<p>Tento
    bod souvis&iacute; s hospodařen&iacute;m města, jelikož tak se daj&iacute; v&nbsp;rozpočtu
    města uspořit milionov&eacute; č&aacute;stky, a t&iacute;m p&aacute;dem tyto poplatky
    a daně nezvy&scaron;ovat (sp&iacute;&scaron;e naopak). Chceme, aby co nejv&iacute;ce
    peněz zůstalo lidem.</p>\r\n<p><strong style=\"line-height: 1.5em;\">Svobodn&eacute;
    podnik&aacute;n&iacute;</strong></p>\r\n<p>Město si může vždy naj&iacute;t způsoby,
    jak někomu zak&aacute;zat podnik&aacute;n&iacute;, jako když současn&eacute; veden&iacute;
    města uvažovalo o z&aacute;kazu prodeje st&aacute;nkařů na n&aacute;měst&iacute;.
    Občan si m&aacute; s&aacute;m rozhodnout, kde a za co utrat&iacute; sv&eacute;
    vydělan&eacute; pen&iacute;ze.</p>\r\n<p><strong>P&eacute;če o veřejn&aacute;
    prostranstv&iacute;, životn&iacute; prostřed&iacute; a bezpeč&iacute; obyvatel</strong></p>\r\n<p>Obce
    se v&nbsp;prvn&iacute; řadě staraj&iacute; o silnice, chodn&iacute;ky, nemovit&eacute;
    pam&aacute;tky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty. Stejně tak
    je důležit&eacute; př&iacute;větiv&eacute; prostřed&iacute; v&nbsp;podobě četnosti
    zeleně a parků.</p>\r\n<p><strong>&nbsp;</strong></p>\r\n<p><strong>Svobodn&iacute;
    v komun&aacute;ln&iacute; politice vych&aacute;zej&iacute; obecně z těchto principů:</strong></p>\r\n<ol>\r\n<li>Obce
    hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute;
    jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute;
    vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute;
    prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona
    o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</li>\r\n<li>Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v
    obc&iacute;ch.</li>\r\n<li>Obce z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi
    aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.</li>\r\n<li>Obce
    ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně
    konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</li>\r\n<li>V
    př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat
    na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</li>\r\n<li>Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</li>\r\n</ol>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
