---
title: Optional euro
slug: euro-en
is_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 3
---
{% extends 'parent' %}
{% block main %}

		
		<section id="kontakty" class="white-bg padding-top-bottom">
		
       <h1 class="section-title">Optional euro</h1>
			<p  class="subsection-description"><strong>The citizens of Member States should have a right to decide.</strong></p>
         <h2 class="section-title">Written declaration, under Rule 136 of Parliament's Rules of Procedure, on the obligation of Member States to join the Eurozone</h2>
          	<p class="subsection-description">1. Pursuant to their respective Accession Treaties, Member States of the European Union are obliged to join the Eurozone;</p>

			<p class="subsection-description">2. It has, however, been shown in the recent years that the Member States do not constitute an optimal currency area and that the Member States' economies are too diverse for a proper functioning of a single currency;</p>

			<p class="subsection-description">3. We are therefore voicing our opinion that Member States should not be pushed to adopt the euro and should only adopt the euro when their economies are ready for it;</p>

			<p class="subsection-description">4. This declaration, together with the names of the signatories, is forwarded to the Council and the Commission.</p>
			<br><br>
         <h2 class="section-title">Protocol on optional membership in the eurozone</h2>
          <p class="subsection-description">THE HIGH CONTRACTING PARTIES HAVE AGREED UPON the following provisions, which shall be annexed to the Treaty on European Union and to the Treaty on the Functioning of the European Union:</p>
          <p class="subsection-description">1.The procedure regarding the abrogation of the exemption referred to in Article 140 of the Treaty on the Functioning of the European Union shall only be initiated at the request of the Member State concerned.</p>
          <p class="subsection-description">2. Any Member State may decide to withdraw from the eurozone in accordance with its own constitutional requirements.</p>
          <p class="subsection-description">A Member State which decides  to withdraw shall notify the European Council.</p>
          <p class="subsection-description">The European Central Bank shall disburse to the central bank of a Member State which withdrew from the eurozone, its paid-up share of capital subscribed to ECB excluding share, which according to Article 28.3 of the Protocol (No. 4) on the Statute of the European System of Central Banks and of the European Central Banks, The Governing Council has determined for the National Central Banks, which do not participate in the eurozone.</p>
          <p class="subsection-description">The European Central Bank shall disburse to the central bank of a Member State which withdrew from the eurozone, the foreign reserves that were transferred to it under Article 30.1 of the Protocol (No. 4) on the Statute of the European System of Central Banks and of the European Central Banks.</p>
          <p class="subsection-description">A Member State which has decided to withdraw from the eurozone is empowered by this Protocol to carry out the necessary steps towards the creation of a new currency. These steps are not considered in conflict with the Union's exclusive competence to conduct monetary policy for Member States whose currency is the euro pursuant to Art. 3 (1)(c) of the Treaty on the Functioning of the European Union.</p>
		
		<h2 class="section-title">Make the euro optional!</h2>
          <p class="subsection-description">The obligation to adopt the euro is written in the Treaty on the Functioning of the European Union.
Only two Member States, the United Kingdom and Denmark have negotiated a permanent opt-out. The EU cannot introduce the euro in these countries against their will.
We believe that participation in the eurozone should be optional for all Member States.
For this purpose Member States of the EU must agree on a Treaty change.
The European Parliament has the power to propose such a Treaty change under the Article 48 of the Treaty on the European Union.
Let's propose a Protocol on Optional Membership in the Eurozone!
Don't hesitate to contact me if you agree with the idea of an optional euro:
 
Petr Mach, MEP
Tel: +32 2 28-45501
Email: petr.mach@ep.europa.eu

</p>

          <p class="subsection-description"><a href="https://svobodni-cms.s3.amazonaws.com/sites/54597ee235e22d19a40000e8/theme/others/ostatni/letak-euro-en.pdf">Flyer (download in .pdf)</a></p>
          
          </section>

{% endblock %}