---
title: Projekt Dobrovolné euro
slug: euro
is_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 2
---
{% extends 'parent' %}
{% block main %}

		
		<section id="kontakty" class="white-bg padding-top-bottom">
		
          <h1 class="section-title">Projekt Dobrovolné euro</h1>
			<p  class="subsection-description"><strong>Občané členských států by měli mít právo si vybrat svou měnu.</strong></p>
          <p class="subsection-description"><a href="http://petrmach.cz/euro-en">English version</a></p><br><br>
          <p class="subsection-description">Stránka je ve výstavbě</p><br><br>
          <p class="subsection-description"><a href="https://svobodni-cms.s3.amazonaws.com/sites/54597ee235e22d19a40000e8/theme/others/ostatni/letak-euro-en.pdf">Leták ke stažení v angličtině</a></p>
          
          </section>

{% endblock %}