---
title: Hlavní body programu
slug: hlavni-body
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 31
editable_elements:
  main/duvody: "<p><strong>ZLEVNIT ŽIVOT OBČANŮM MĚSTA</strong> &ndash; vynakl&aacute;d&aacute;n&iacute;
    finančn&iacute;ch prostředků v prv&eacute; řadě na veřejn&eacute; statky - chodn&iacute;ky,
    osvětlen&iacute;, kanalizace, bezpečnost</p>\r\n<p><strong>UPLATŇOVAT MOTIVAČN&Iacute;
    POLITIKU</strong> &ndash; za pečliv&eacute; tř&iacute;děn&iacute; odměnit obyvatele
    bezplatn&yacute;m svozem a likvidac&iacute; komun&aacute;ln&iacute;ho odpadu</p>\r\n<p><strong>NEPŘEK&Aacute;ŽET
    VOLN&Eacute;MU PODNIK&Aacute;N&Iacute;</strong> &ndash; zru&scaron;en&iacute;
    či podstatn&eacute; rozvolněn&iacute; tržn&iacute;ho ř&aacute;du města</p>\r\n<p><strong>DODRŽOVAT
    VYROVNAN&Yacute; ROZPOČET</strong> &ndash; zabr&aacute;něn&iacute; drah&yacute;m
    a nesmysln&yacute;m dotačn&iacute;m &uacute;letům</p>\r\n<p><strong>ZE&Scaron;T&Iacute;HLIT
    MĚSTSKOU BYROKRACII</strong> &ndash; ru&scaron;en&iacute; komis&iacute; rady města,
    sn&iacute;žen&iacute; počtu n&aacute;městků prim&aacute;tora</p>\r\n<p><strong>PROSAZOVAT
    MAXIM&Aacute;LN&Iacute; TRANSPARENTNOST</strong> &ndash; zveřejňov&aacute;n&iacute;
    informac&iacute; o rozhodov&aacute;n&iacute; a toc&iacute;ch peněz, včetně textů
    smluv</p>\r\n<p><strong>SN&Iacute;ŽIT DANĚ Z NEMOVITOST&Iacute;</strong> &ndash;
    majetek by neměl b&yacute;t znovu daněn</p>\r\n<p><strong>ZRU&Scaron;IT NESPRAVEDLIV&Eacute;
    POPLATKY</strong> &ndash; omezen&iacute; skryt&yacute;ch dan&iacute;, kter&eacute;
    nejsou odvozeny z jedn&aacute;n&iacute; poplatn&iacute;ka - poplatky ze vstupn&eacute;ho,
    za psy, z ubytovac&iacute; kapacity, rekreačn&iacute;ho pobytu</p>"
  main/vyzva: "<h1>To nejdůležitěj&scaron;&iacute; z programu Svobodn&yacute;ch.</h1>"
---
{% extends 'parent' %}