---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<h3>Př&iacute;pravn&yacute; v&yacute;bor kampaně:</h3>\r\n<p><a title=\"Kandid&aacute;t
    na prim&aacute;tora města Jihlavy\" href=\"http://jihlava.svobodni.cz/kandidati/pavel-paulat\"
    target=\"_blank\">Pavel Paul&aacute;t<br /></a><a href=\"http://jihlava.svobodni.cz/kandidati/petr-casa\"
    target=\"_blank\">Petr Č&aacute;sa</a><br /><a href=\"http://jihlava.svobodni.cz/kandidati/lubomir-hron\"
    target=\"_blank\">Lubom&iacute;r Hron</a></p>\r\n<h3>Tiskov&yacute; mluvč&iacute;
    kampaně:</h3>\r\n<p><a href=\"http://jihlava.svobodni.cz/kandidati/martin-rumler\"
    target=\"_blank\">Martin Rumler</a><br />rumler@vysocina.svobodni.com<br />734517041</p>\r\n<h3>&nbsp;</h3>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}