---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p style=\"text-align: justify;\">Svobodn&iacute; v komun&aacute;ln&iacute;
    politice vych&aacute;z&iacute; obecně z těchto principů:</p>\r\n<ol style=\"text-align:
    justify;\">\r\n<li style=\"text-align: justify;\"><strong>Obce hospodař&iacute;
    zpravidla s&nbsp;vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute; jen v&nbsp;mimoř&aacute;dn&yacute;ch
    situac&iacute;ch za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů.
    Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute; prosazuj&iacute;
    jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona o vyrovnan&eacute;m
    rozpočtu na &uacute;rovni</strong> <strong>st&aacute;tu</strong> - z toho vypl&yacute;v&aacute;
    udržen&iacute; vyrovnan&yacute;ch rozpočtů, nezadlužov&aacute;n&iacute; se, zabraňov&aacute;n&iacute;
    nesmysln&yacute;m dotačn&iacute;m &uacute;letům (často spojen&yacute; s&nbsp;politickou
    korupc&iacute;). Umožnit rozvoj města v&nbsp;harmonick&yacute; celek, kde nebudou
    upřednostňov&aacute;ny skupiny obyvatelstva dle m&oacute;dn&iacute;ch trendů,
    ale dle skutečn&yacute;ch potřeb občanů.<br /><br /></li>\r\n<li style=\"text-align:
    justify;\"><strong>Obce vynakl&aacute;daj&iacute; prostředky na prvn&iacute;m
    m&iacute;stě na veřejn&eacute; statky, tj.</strong> <strong>na obecn&iacute; silnice,</strong>
    <strong>chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty &nbsp;v
    obc&iacute;ch -</strong> stejně tak jako Svobodn&iacute; prosazuj&iacute; stř&iacute;dm&yacute;
    st&aacute;t, prosazuj&iacute; i stř&iacute;dm&eacute; město, kter&eacute; se star&aacute;
    prioritně, a nejl&eacute;pe pouze, o to nejz&aacute;kladněj&scaron;&iacute;. Protože
    v&scaron;ak města nyn&iacute; nejsou schopna př&iacute;li&scaron; ovlivňovat sv&eacute;
    př&iacute;jmy a &bdquo;vr&aacute;tit lidem pen&iacute;ze&ldquo;, ot&aacute;zkou
    je, jak lze tuto politiku praktikovat bez změny pravomoc&iacute; obc&iacute;.
    Nab&iacute;z&iacute; se proto např&iacute;klad podstatn&eacute; sn&iacute;žen&iacute;&nbsp;
    či zru&scaron;en&iacute; poplatku za svoz a likvidaci odpadu či sn&iacute;žen&iacute;
    daně z&nbsp;nemovitosti.<br /><br /></li>\r\n<li style=\"text-align: justify;\"><strong>Obce
    z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute; deformovat
    tržn&iacute; prostřed&iacute; -</strong> v současn&eacute; době města podnikaj&iacute;
    skrze městsk&eacute; firmy a př&iacute;padně i př&iacute;spěvkov&eacute; organizace.
    Svobodn&iacute; jsou proti tomu, aby se z&nbsp;veřejn&yacute;ch peněz vytv&aacute;řela
    nespravedliv&aacute; konkurence podnikatelům. Město se nesm&iacute; podnikatelům
    pl&eacute;st do života a nesm&iacute; samo podnikat.<br /><br /></li>\r\n<li style=\"text-align:
    justify;\"><strong>Obce ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute;
    z&aacute;sadně konzervativně, tj. do aktiv</strong> <strong>s&nbsp;minim&aacute;ln&iacute;m
    rizikem -</strong> v př&iacute;padě přebytkov&eacute;ho hospodařen&iacute; by
    se obec neměla chovat nezodpovědně a např&iacute;klad investovat pen&iacute;ze
    na burze. Pod aktivem s&nbsp;minim&aacute;ln&iacute;m rizikem se např&iacute;klad
    rozum&iacute; rezervn&iacute; fondy. Ide&aacute;lně by měla obec hospodařit s&nbsp;vyrovnan&yacute;m
    rozpočtem a zbytečně nevyb&iacute;rat od sv&yacute;ch obyvatel pen&iacute;ze,
    kter&eacute; by sami dok&aacute;zali využ&iacute;t mnohem l&eacute;pe.<br /><br
    /></li>\r\n<li style=\"text-align: justify;\"><strong>V&nbsp;př&iacute;padě obecn&iacute;ch
    zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat na obchodn&iacute; tajemstv&iacute;
    a uzavřen&eacute; smlouvy jsou veřejn&eacute;</strong> - naprost&aacute; průhlednost
    veřejn&yacute;ch zak&aacute;zek je považov&aacute;na za samozřejmou. V&nbsp;tomto
    prostoru by neměla existovat ž&aacute;dn&aacute; &bdquo;tajemstv&iacute;&ldquo;.
    Pokud se nakl&aacute;d&aacute; s&nbsp;veřejn&yacute;mi penězi, i jejich použit&iacute;
    mus&iacute; b&yacute;t veřejn&eacute;. Stejně tak jsou Svobodn&iacute; pro zveřejňov&aacute;n&iacute;
    podkladů pro zastupitele a v&scaron;ech z&aacute;pisů obecn&iacute;ch org&aacute;nů.<br
    /><br /></li>\r\n<li style=\"text-align: justify;\"><strong>Svobodn&iacute; podporuj&iacute;
    změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo v&nbsp;kaps&aacute;ch
    lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak na &uacute;rovni
    st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute; v&yacute;nosu
    dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute; unie
    je třeba odstranit</strong> &ndash; v&nbsp;programu Svobodn&yacute;ch naleznete
    zru&scaron;en&iacute; daně z&nbsp;nemovitost&iacute;, neboť daněn&iacute; majetku
    dle Svobodn&yacute;ch nen&iacute; spr&aacute;vn&eacute;. Z&aacute;roveň se vede
    diskuse o takzvan&eacute; obecn&iacute; dani z&nbsp;hlavy, kdy by obec měla možnost
    vyb&iacute;rat daň pro každ&eacute;ho obyvatele stejně vysokou, z&nbsp;kter&eacute;
    by hradila svůj provoz a investice. Existuje v&scaron;ak v&iacute;ce variant,
    např&iacute;klad procentu&aacute;ln&iacute; daň z&nbsp;č&aacute;sti př&iacute;jmu,
    kterou by měla možnost obec ovlivnit. Pokud budou obce ovlivňovat v&iacute;ce
    sv&eacute; př&iacute;jmy, prospěje to i samotn&eacute; komun&aacute;ln&iacute;
    politice, kter&aacute; bude m&iacute;t vět&scaron;&iacute; v&yacute;znam a rozhodov&aacute;n&iacute;
    bude tak&eacute; je&scaron;tě bl&iacute;že lidem.</li>\r\n</ol>\r\n<div style=\"text-align:
    justify;\">\r\n<h1><strong>Volebn&iacute; program Svobodn&yacute;ch pro komun&aacute;ln&iacute;
    volby v Jihlavě 2014</strong></h1>\r\n<h2><strong>Svobodn&aacute; Jihlava</strong></h2>\r\n</div>\r\n<p
    style=\"text-align: justify;\">Přestože o vět&scaron;ině ekonomick&yacute;ch a
    osobn&iacute;ch svobod občanů bohužel rozhoduje st&aacute;t a Evropsk&aacute;
    unie, i město může při současn&eacute; legislativě přispět k&nbsp;jejich naplňov&aacute;n&iacute;.
    Město určuje koeficienty a tedy v&yacute;&scaron;i daně z&nbsp;nemovitosti, a
    v&yacute;&scaron;i obecn&iacute;ch poplatků. Město nav&iacute;c podle z&aacute;kona
    může zakazovat a přikazovat formou obecn&iacute;ch vyhl&aacute;&scaron;ek a nař&iacute;zen&iacute;.</p>\r\n<p
    style=\"text-align: justify;\">Bohatstv&iacute; a prosperita občanů a cel&eacute;
    společnosti je t&iacute;m vy&scaron;&scaron;&iacute;, č&iacute;m m&eacute;ně peněz
    proteče přes veřejn&eacute; rozpočty. Daně a poplatky berou lidem pen&iacute;ze,
    zvy&scaron;uj&iacute; nezaměstnanost a snižuj&iacute; bohatstv&iacute; a prosperitu
    občanů i cel&eacute; společnosti. Svobodn&iacute; jsou pro z&aacute;sadn&iacute;
    sn&iacute;žen&iacute; dan&iacute; a z&aacute;sadn&iacute; sn&iacute;žen&iacute;
    přerozdělov&aacute;n&iacute; jak na &uacute;rovni st&aacute;tu, Evropsk&eacute;
    unie a krajů, tak i měst a obc&iacute;.</p>\r\n<div style=\"text-align: justify;\">\r\n<h2><strong>Př&iacute;větiv&aacute;
    Jihlava</strong></h2>\r\n</div>\r\n<p style=\"text-align: justify;\">Př&iacute;jem
    města Jihlavy čin&iacute; pro rok 2014 cca 810 mili&oacute;nů Kč. Na dani z&nbsp;nemovitosti
    vybere město od daňov&yacute;ch poplatn&iacute;ků 45 mili&oacute;nů Kč ročně.
    Jin&eacute; př&iacute;jmy od občanů bohužel město nemůže ovlivnit, přestože Svobodn&iacute;
    by si př&aacute;li, aby města i kraje z&iacute;skali daňovou autonomii se shora
    omezenou v&yacute;&scaron;&iacute; dan&iacute;, a mohli nech&aacute;vat lidem
    v&iacute;ce peněz.</p>\r\n<p style=\"text-align: justify;\"><strong>Co nejmen&scaron;&iacute;
    daň z&nbsp;nemovitosti</strong></p>\r\n<p style=\"text-align: justify;\">Svobodn&iacute;
    prosazuj&iacute; maxim&aacute;ln&iacute; sn&iacute;žen&iacute; daně z&nbsp;nemovitosti,
    kter&eacute; umožňuje z&aacute;kon. Svobodn&iacute; prosazuj&iacute; udržen&iacute;
    m&iacute;stn&iacute;ho koeficientu na nejniž&scaron;&iacute; možn&eacute; sazbě,
    tedy 1,0. &nbsp;Svobodn&iacute; d&aacute;le prosazuj&iacute; sn&iacute;žen&iacute;
    koeficientu podle kategori&iacute; ze současn&eacute;ho 4,5 na nejniž&scaron;&iacute;
    možn&yacute;. Svobodn&iacute; rovněž prosazuj&iacute; podnikatelsk&yacute; koeficient
    t&eacute;to daně na minim&aacute;ln&iacute; možn&eacute; &uacute;rovni.</p>\r\n<p><strong>Neh&aacute;zet
    klacky pod nohy, ž&aacute;dn&eacute; zbytečn&eacute; z&aacute;kazy a př&iacute;kazy
    <br /></strong></p>\r\n<p style=\"text-align: justify;\">Svobodn&iacute; d&aacute;le
    prosazuj&iacute;, aby veřejn&aacute; moc včetně města neh&aacute;zela živnostn&iacute;kům
    a podnikatelům klacky pod nohy, a nezatěžovala občany nesmysln&yacute;mi z&aacute;kazy
    a př&iacute;kazy. Svobodn&iacute; prosazuj&iacute; respektov&aacute;n&iacute;
    ekonomick&yacute;ch i osobn&iacute;ch svobod občanů, na &uacute;rovni st&aacute;tu,
    krajů, měst a obc&iacute;.</p>\r\n<p><strong>Tržn&iacute; ř&aacute;d <br /></strong></p>\r\n<p
    style=\"text-align: justify;\">Svobodn&iacute; se dlouhodobě zab&yacute;vaj&iacute;
    odstraňov&aacute;n&iacute;m regulac&iacute; a bari&eacute;r, kter&eacute; br&aacute;n&iacute;
    f&eacute;rov&eacute; soutěži. Jihlavsk&yacute; tržn&iacute; ř&aacute;d je toho
    typick&yacute;m př&iacute;kladem. Je to magistr&aacute;tn&iacute; nař&iacute;zen&iacute;
    (č.5/2013) a v&nbsp;podstatě zakazuje prodej zbož&iacute; a služeb na &uacute;zem&iacute;
    statut&aacute;rn&iacute;ho města Jihlavy mimo provozovny a dovoluje tento prodej
    na m&iacute;stech vyjmenovan&yacute;ch v&nbsp;př&iacute;loze. Drobn&yacute;m podnikatelům,
    řemesln&iacute;kům a př&iacute;ležitostn&yacute;m prodejcům znemožňuje, aby mohli
    v&nbsp;Jihlavě prod&aacute;vat. Každ&yacute;, kdo chce veřejn&yacute; prostor
    k&nbsp;prodeji, mus&iacute; pož&aacute;dat Magistr&aacute;t o v&yacute;jimku,
    tj. o novelizaci tohoto nař&iacute;zen&iacute;, tak aby byl zaps&aacute;n př&iacute;mo
    do př&iacute;lohy. Svobodn&iacute; chtěj&iacute; umožnit drobn&yacute;m podnikatelům
    v&nbsp;Jihlavě, aby mohli jednodu&scaron;eji a dle re&aacute;ln&eacute; popt&aacute;vky
    prod&aacute;vat sv&eacute; zbož&iacute; a služby. Tržn&iacute; ř&aacute;d města
    Jihlavy svazuje obchodn&iacute;kům ruce, na což dopl&aacute;cej&iacute; prod&aacute;vaj&iacute;c&iacute;
    i kupuj&iacute;c&iacute;. Svobodn&iacute; chtěj&iacute; umožnit využ&iacute;vat
    veřejn&eacute; prostory v&scaron;em. S&nbsp;t&iacute;m bude souviset i na&scaron;e
    snaha o zjednodu&scaron;en&iacute; vyřizov&aacute;n&iacute; z&aacute;borů veřejn&eacute;ho
    prostranstv&iacute;. Tržn&iacute; ř&aacute;d v&nbsp;Jihlavě je přežitek, kter&yacute;
    je potřeba zru&scaron;it nebo ho alespoň v&yacute;znamně omezit. Dal&scaron;&iacute;m
    pozitivem tohoto kroku je, že nebude tak do&nbsp;budoucna doch&aacute;zet k&nbsp;dal&scaron;&iacute;mu
    umrtvov&aacute;n&iacute; centra města.</p>\r\n<h2 style=\"text-align: justify;\"><strong>Levn&aacute;
    Jihlava</strong></h2>\r\n<p><strong>Ru&scaron;en&iacute; nespravedliv&yacute;ch
    poplatků <br /></strong></p>\r\n<p style=\"text-align: justify;\">Svobodn&iacute;
    d&aacute;le prosazuj&iacute; zru&scaron;en&iacute; těch obecn&iacute;ch poplatků,
    kter&eacute; jsou pouhou dan&iacute; a nejsou odvozeny z&nbsp;jedn&aacute;n&iacute;
    poplatn&iacute;ka. Svobodn&iacute; proto prosazuj&iacute; podstatn&eacute; sn&iacute;žen&iacute;
    či zru&scaron;en&iacute; tzv. poplatku za odpad, jehož v&yacute;&scaron;e pro
    dan&eacute;ho poplatn&iacute;ka nijak nesouvis&iacute; s&nbsp;množstv&iacute;m
    vyprodukovan&eacute;ho odpadu a je tak pouhou dan&iacute;. Stejně tak prosazuj&iacute;
    Svobodn&iacute; podstatn&eacute; sn&iacute;žen&iacute; tzv. poplatku za psy, neboť
    ten rovněž nezohledňuje chov&aacute;n&iacute; majitele ani psa samotn&eacute;ho.
    Neuk&aacute;zněn&eacute; chovatele psů je třeba postihovat individu&aacute;lně
    na z&aacute;kladě zneči&scaron;ťov&aacute;n&iacute; a jin&yacute;ch deliktů, a
    netrestat majitele uk&aacute;zněn&eacute;.</p>\r\n<p style=\"text-align: justify;\">Dal&scaron;&iacute;mi
    poplatky na zru&scaron;en&iacute; jsou podle Svobodn&yacute;ch poplatek ze vstupn&eacute;ho,
    poplatek z&nbsp;ubytovac&iacute; kapacity a poplatek za rekreačn&iacute; pobyt.
    Tyto poplatky jsou jen nesmysln&yacute;m zdaňov&aacute;n&iacute;m již mnohokr&aacute;t
    zdaněn&eacute;ho, zdražuj&iacute; služby poskytovan&eacute; občanům, a nav&iacute;c
    přin&aacute;&scaron;ej&iacute; spoustu byrokracie a n&aacute;kladů na jejich v&yacute;běr.</p>\r\n<p
    style=\"text-align: justify;\"><strong>Proveden&iacute;:</strong>&nbsp; při uskutečněn&iacute;
    v&yacute;&scaron;e uveden&eacute;ho snižov&aacute;n&iacute; daňov&eacute; z&aacute;těže
    (daň z&nbsp;nemovitost&iacute; a uveden&eacute; poplatky) vybere město od občanů
    o cca 67,5 milionů m&eacute;ně, kter&eacute; tak zůstanou občanům. Pro městskou
    pokladnu to znamen&aacute; zhruba kolem 6 % př&iacute;jmů, jejichž v&yacute;padek
    lze nahradit zru&scaron;en&iacute;m byť i jen č&aacute;sti pl&yacute;tv&aacute;n&iacute;
    a nesmysln&yacute;ch dotac&iacute;. Uveden&yacute; v&yacute;padek př&iacute;jmů
    nijak neohroz&iacute; pl&aacute;n Svobodn&yacute;ch na vyrovn&aacute;n&iacute;
    rozpočtů na v&scaron;ech &uacute;rovn&iacute;ch.</p>\r\n<div style=\"text-align:
    justify;\">\r\n<h2><strong>Bezpečn&aacute; Jihlava</strong></h2>\r\n</div>\r\n<p><strong>Městsk&aacute;
    policie-odbour&aacute;n&iacute; pokutov&eacute; &scaron;ikany a z&aacute;sadn&iacute;
    změna priorit <br /></strong></p>\r\n<p style=\"text-align: justify;\">Činnost
    městsk&eacute; policie z&nbsp;velk&eacute; č&aacute;sti zahrnuje ře&scaron;en&iacute;
    dopravn&iacute;ch přestupků a vyb&iacute;r&aacute;n&iacute; peněz pro magistr&aacute;t.
    Současn&aacute; politika města ve věci městsk&eacute; policie poč&iacute;t&aacute;
    s&nbsp;neust&aacute;l&yacute;m roz&scaron;iřov&aacute;n&iacute;m počtu městsk&yacute;ch
    str&aacute;žn&iacute;ků a zvy&scaron;ov&aacute;n&iacute;m v&yacute;dajů na provoz
    městsk&eacute; policie.&nbsp; V&nbsp;Jihlavě je naprosto běžn&eacute;, že jedinou
    n&aacute;pln&iacute; pr&aacute;ce mnoha str&aacute;žn&iacute;ků je hl&iacute;dat
    &scaron;patn&eacute; parkov&aacute;n&iacute; a vyb&iacute;rat pokuty. Byť je to
    činnost, kterou nelze zcela ignorovat, v&yacute;běr pokut nem&aacute; b&yacute;t
    smyslem městsk&eacute; policie. Městsk&aacute; policie m&aacute; zaji&scaron;ťovat
    poř&aacute;dek v&nbsp;ulic&iacute;ch, nikoliv c&iacute;leně p&aacute;trat po ne&scaron;kodn&yacute;ch
    dopravn&iacute;ch a jin&yacute;ch přestupc&iacute;ch či obtěžovat slu&scaron;n&eacute;
    občany. Dnes maj&iacute; někter&eacute; hl&iacute;dky městsk&eacute; policie ve
    zvyku ignorovat poru&scaron;ov&aacute;n&iacute; veřejn&eacute;ho poř&aacute;dku
    např&iacute;klad bezdomovci a nepřizpůsobiv&yacute;mi občany, a naopak obtěžovat
    a pokutovat slu&scaron;n&eacute; lidi, kteř&iacute; jen ne&scaron;kodně zaparkovali
    o p&aacute;r centimetrů jinde, než je povoleno. Městsk&aacute; policie mus&iacute;
    m&iacute;t jasně dan&eacute; &uacute;koly směrem k&nbsp;ře&scaron;en&iacute; situac&iacute;
    naru&scaron;uj&iacute;c&iacute;ch poř&aacute;dek, a nikoliv směrem k&nbsp;c&iacute;len&eacute;mu
    vyb&iacute;r&aacute;n&iacute; pokut. Měst&scaron;t&iacute; policist&eacute; nemaj&iacute;
    b&yacute;t využ&iacute;v&aacute;ni k&nbsp;tomu, aby vybran&eacute; pen&iacute;ze
    z&nbsp;pokut pl&aacute;novaně navy&scaron;ovaly př&iacute;jmovou str&aacute;nku
    města. S&nbsp;takovouto filosofi&iacute; nebyla městsk&aacute; policie zř&iacute;zena.
    Město m&aacute; přihl&iacute;žet při instruov&aacute;n&iacute; městsk&eacute;
    policie k&nbsp;potřeb&aacute;m městsk&yacute;ch č&aacute;st&iacute; mnohem v&iacute;ce
    než doposud. Pos&iacute;len&iacute; str&aacute;žn&iacute;ků v&nbsp;ulic&iacute;ch
    za &uacute;čelem udržov&aacute;n&iacute; veřejn&eacute;ho poř&aacute;dku, to by
    mělo b&yacute;t hlavn&iacute; posl&aacute;n&iacute; městsk&eacute; policie.</p>\r\n<p><strong>Svobodn&aacute;
    doprava ve městě <br /></strong></p>\r\n<p style=\"text-align: justify;\">Svobodn&iacute;
    zast&aacute;vaj&iacute; n&aacute;zor, že individu&aacute;ln&iacute; doprava nen&iacute;
    zločin a město by nemělo upřednostňovat ž&aacute;dnou dopravu na &uacute;kor jin&eacute;.
    Městsk&aacute; hromadn&aacute; doprava a individu&aacute;ln&iacute; doprava (ať
    už auta, kola či cokoliv jin&eacute;ho) dok&aacute;ž&iacute; fungovat vedle sebe
    a vždy tak fungovaly. Upřednostňuje-li magistr&aacute;t uživatele jednoho dopravn&iacute;ho
    prostředku na &uacute;kor jin&eacute;ho, vždy to mezi těmito skupinami vyvol&aacute;v&aacute;
    zbytečnou nen&aacute;vist. Svobodn&iacute; nebudou podporovat ž&aacute;dn&aacute;
    nov&aacute; podobn&aacute; omezen&iacute; a naopak se budou snažit z&iacute;sk&aacute;vat
    podporu např&iacute;č zastupitelstvem pro ru&scaron;en&iacute; těch st&aacute;vaj&iacute;c&iacute;ch
    regulac&iacute; v&nbsp;dopravě, kter&aacute; jsou zbytečn&aacute;. Jihlava by
    se rovněž měla snažit urychleně dostavět a doopravit důležit&eacute; mosty a komunikace,
    aby ulehčila v&nbsp;maxim&aacute;ln&iacute; možn&eacute; m&iacute;ře dopravě v&nbsp;centru
    města a v&nbsp;m&iacute;stech s&nbsp;hustou z&aacute;stavbou. Regulac&iacute;
    dopravy se nesmysln&yacute;mi omezen&iacute;mi počet aut v&nbsp;těchto m&iacute;stech
    nesn&iacute;ž&iacute;.</p>\r\n<div style=\"text-align: justify;\">\r\n<h2><strong>Bezdlužn&aacute;
    Jihlava</strong></h2>\r\n</div>\r\n<p style=\"text-align: justify;\"><strong>Vyrovnan&eacute;
    hospodařen&iacute; města <br /></strong></p>\r\n<p style=\"text-align: justify;\">Obec,
    stejně jako st&aacute;t, by se neměla zadlužovat. Zastupitel&eacute; Jihlavy sice
    schv&aacute;lili na rok 2014 &bdquo;vyrovnan&yacute; rozpočet&ldquo;, nicm&eacute;ně
    v&nbsp;tomto rozpočtu nepoč&iacute;t&aacute; město se v&scaron;emi investičn&iacute;mi
    n&aacute;klady, kter&eacute; ho re&aacute;lně čekaj&iacute; a současně poč&iacute;t&aacute;
    s&nbsp;mnoha v&yacute;daji na dotace (např. 23 milionů korun za kulturu, 38 milionů
    na dospěl&yacute; sport a mnoho dal&scaron;&iacute;ch &bdquo;men&scaron;&iacute;ch&ldquo;
    položek). Oproti tomu na př&iacute;jmov&eacute; str&aacute;nce rozpočtu se mimo
    jin&eacute; poč&iacute;t&aacute; s&nbsp;př&iacute;jmem peněz za odtahy aut a pokuty
    za dopravn&iacute; přestupky (r.2012 napl&aacute;novan&eacute; pokuty 3 mil.Kč,
    r.2013 pl&aacute;n pokut činil 3,69 mil.Kč). &nbsp;Aby byl tedy rozpočet města
    opravdu vyrovnan&yacute;, spol&eacute;h&aacute; se město na to, že lid&eacute;
    budou p&aacute;chat dopravn&iacute; přestupky.</p>\r\n<div style=\"text-align:
    justify;\">\r\n<h2><strong>Čist&aacute; Jihlava</strong></h2>\r\n</div>\r\n<p
    style=\"text-align: justify;\">Svobodn&iacute; budou prosazovat takov&aacute;
    opatřen&iacute;, kter&aacute; budou zabezpečovat předev&scaron;&iacute;m čist&eacute;
    a opraven&eacute; silnice, chodn&iacute;ky i zeleň ve městě. Prioritn&iacute;
    jsou p&aacute;teřn&iacute; kanalizačn&iacute; stoky, jejich oprava a &uacute;držba.
    Tak&eacute; ře&scaron;en&iacute; odpadů mus&iacute; b&yacute;t ře&scaron;eno komplexně,
    bez emoc&iacute;, ale tak&eacute; bez vym&yacute;v&aacute;n&iacute; mozků občanů
    současn&yacute;m veden&iacute;m města &ndash; Svobodn&iacute; budou vystupovat
    vždy proti poskytov&aacute;n&iacute; ne&uacute;pln&yacute;ch a tendenčn&iacute;ch
    informac&iacute; prosazuj&iacute;c&iacute;ch pouze z&aacute;jmy spalovac&iacute;
    lobby. Svobodn&iacute; proto odm&iacute;taj&iacute; gigantickou spalovnu v&nbsp;Jihlavě
    pro cel&yacute; kraj.</p>\r\n<div style=\"text-align: justify;\">\r\n<h2><strong>&Scaron;t&iacute;hl&aacute;
    a f&eacute;rov&aacute; Jihlava</strong></h2>\r\n</div>\r\n<p style=\"text-align:
    justify;\">Obec nem&aacute; podnikat. Podnik&aacute;n&iacute; obce naru&scaron;uje
    f&eacute;rovou soutěž. Podnikatel&eacute; nemaj&iacute; možnosti obce, kter&aacute;
    disponuje veřejn&yacute;mi penězi. V&yacute;sledkem podnik&aacute;n&iacute; obce
    může b&yacute;t monopol. Svobodn&iacute; budou vždy prosazovat podporu takov&yacute;ch
    opatřen&iacute;, kter&eacute; budou preferovat ze&scaron;t&iacute;hlen&iacute;
    města v&nbsp;podobě zbavov&aacute;n&iacute; se nepotřebn&eacute;ho majetku a ustupov&aacute;n&iacute;
    od podnikatelsk&yacute;ch aktivit města.</p>\r\n<p style=\"text-align: justify;\">V&nbsp;př&iacute;padě
    obecn&iacute;ch zak&aacute;zek nen&iacute; možn&eacute; odvol&aacute;vat se na
    obchodn&iacute; tajemstv&iacute;. Je to veřejn&aacute; zak&aacute;zka, tud&iacute;ž
    i smlouvy by měly b&yacute;t veřejn&eacute;.</p>\r\n<p style=\"text-align: justify;\">Svobodn&iacute;
    podporuj&iacute; takov&eacute; změny v&nbsp;z&aacute;konech, aby zůstalo co nejv&iacute;c
    peněz lidem, protože přerozdělov&aacute;n&iacute; na jak&eacute;koliv &uacute;rovni
    považujeme za &scaron;patn&eacute;.</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
