---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p><span style=\"font-size: medium;\"><strong>PRŮHLEDN&Eacute;
    ROZHODOV&Aacute;N&Iacute;</strong></span></p>\r\n<p>Zasad&iacute;me se o:</p>\r\n<ul>\r\n<li>zveřejňov&aacute;n&iacute;
    podkladů pro jedn&aacute;n&iacute; zastupitelstva a rady MČ</li>\r\n<li>zveřejňov&aacute;n&iacute;
    z&aacute;pisů ze zased&aacute;n&iacute; v&scaron;ech org&aacute;nů MČ, bez ohledu
    na to, zda jsou tato jedn&aacute;n&iacute; veřejn&aacute; či nikoliv</li>\r\n<li>lep&scaron;&iacute;
    komunikaci &uacute;řadu s&nbsp;občany</li>\r\n<li>možnost, co nejv&iacute;ce z&aacute;ležitost&iacute;
    a probl&eacute;mů s&nbsp;&uacute;řady vyř&iacute;dit po internetu</li>\r\n<li>transparentn&iacute;&nbsp;dodržov&aacute;n&iacute;
    pravidel pro přidělov&aacute;n&iacute; obecn&iacute;ch bytů a zveřejněn&iacute;
    pořad&iacute; žadatelů na internetu</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p><span
    style=\"font-size: medium;\"><strong>PŘ&Iacute;VĚTIV&Eacute; ŽIVOTN&Iacute; PROSTŘED&Iacute;</strong></span></p>\r\n<p>Budeme
    usilovat o:</p>\r\n<ul>\r\n<li>v&iacute;ce laviček v&nbsp;ulic&iacute;ch Slatiny
    a opravu těch, kter&eacute; již dosluhuj&iacute;</li>\r\n<li>čistotu veřejn&yacute;ch
    prostranstv&iacute; a důsledn&yacute; postih jejich zneči&scaron;ťov&aacute;n&iacute;</li>\r\n<li>rozm&iacute;stěn&iacute;
    potřebn&eacute;ho množstv&iacute; odpadn&iacute;ch n&aacute;dob na tř&iacute;děn&yacute;
    odpad</li>\r\n<li>kvalitn&iacute; a včasnou zimn&iacute; &uacute;držbu m&iacute;stn&iacute;ch
    komunikac&iacute;</li>\r\n<li>častěj&scaron;&iacute; pokos tr&aacute;vn&iacute;ků</li>\r\n<li>vybudov&aacute;n&iacute;
    v&yacute;běhu pro psy</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p><span style=\"font-size:
    medium;\"><strong>KVALITN&Iacute; &Scaron;KOLSTV&Iacute; PRO V&Scaron;ECHNY</strong></span></p>\r\n<p>Zaměř&iacute;me
    se na:</p>\r\n<ul>\r\n<li>potřebnou kapacitu z&aacute;kladn&iacute;ch a zejm&eacute;na
    mateřsk&yacute;ch slatinsk&yacute;ch &scaron;kol</li>\r\n<li>efektivn&iacute;
    hospodařen&iacute; &scaron;kol</li>\r\n<li>modernizaci &scaron;koln&iacute;ho
    prostřed&iacute; a v&yacute;ukov&yacute;ch materi&aacute;lů</li>\r\n</ul>\r\n<p><span
    style=\"font-size: medium;\">&nbsp;</span></p>\r\n<p><span style=\"font-size:
    medium;\"><strong>UŽITEČN&Eacute; VEŘEJN&Eacute; PROJEKTY</strong></span></p>\r\n<p>Posv&iacute;t&iacute;me
    si na:</p>\r\n<ul>\r\n<li>produktivitu pr&aacute;ce na slatinsk&yacute;ch veřejn&yacute;ch
    stavb&aacute;ch, aby nepředstavovali nepřiměřenou z&aacute;těž pro občany</li>\r\n<li>skutečn&yacute;
    př&iacute;nos investic hrazen&yacute;ch z&nbsp;veřejn&yacute;ch rozpočtů</li>\r\n<li>smysluplnost
    připraven&yacute;ch projektů z EU</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p><span style=\"font-size:
    medium;\"><strong>SPORT A KULTURA VE SLATINĚ</strong></span></p>\r\n<p>Uděl&aacute;me
    v&scaron;e pro to, abychom zajistili:</p>\r\n<ul>\r\n<li>m&iacute;sto pro kulturn&iacute;
    život ve Slatině, kter&eacute; tu l&eacute;ta chyb&iacute;</li>\r\n<li>napojen&iacute;
    Slatiny na p&aacute;teřn&iacute; syst&eacute;m cyklostezek v Brně</li>\r\n<li>revitalizaci
    zastaral&yacute;ch sportovn&iacute;ch hři&scaron;ť</li>\r\n</ul>\r\n<p>&nbsp;<strong>&nbsp;</strong></p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
