---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p><strong>Zodpovědn&eacute; hospodařen&iacute; obce</strong></p>\r\n<p>Svobodn&iacute;
    prosazuj&iacute; vyrovnan&yacute; rozpočet obce. V&yacute;daje obce by neměly
    b&yacute;t vy&scaron;&scaron;&iacute; než jej&iacute; př&iacute;jmy. V opačn&eacute;m
    př&iacute;padě může doch&aacute;zet k zadlužov&aacute;n&iacute; obce. Tak&eacute;
    by ale hospodařen&iacute; nemělo b&yacute;t v&yacute;razně přebytkov&eacute; (ziskov&eacute;).
    V takov&eacute;m př&iacute;padě totiž obec na poplatc&iacute;ch vyb&iacute;r&aacute;
    od sv&yacute;ch obyvatel v&iacute;ce, než je potřeba pro jej&iacute; fungov&aacute;n&iacute;.</p>\r\n<p>Podpoř&iacute;me
    jak&yacute;koli n&aacute;vrh, kter&yacute; sn&iacute;ž&iacute; poplatky (např.
    za svoz komun&aacute;ln&iacute;ho odpadu), pokud to nepovede ke schodku obecn&iacute;ho
    rozpočtu. Chceme snižovat př&iacute;jmy obce a nechat tak v&iacute;ce peněz v
    peněženk&aacute;ch v&aacute;s poplatn&iacute;ků. Předev&scaron;&iacute;m ale chceme
    snižovat v&yacute;daje obce. Obecn&iacute; investice by měly směřovat přev&aacute;žně
    do rozvoje infrastruktury a na podporu M&Scaron; a Z&Scaron;.</p>\r\n<p>Nepodpoř&iacute;me
    budouc&iacute; investice do velk&yacute;ch projektů. Tyto projekty znamenaj&iacute;
    do budoucna riziko vysok&yacute;ch n&aacute;kladů na &uacute;držbu a rekonstrukce
    a tak&eacute; riziko zhor&scaron;en&iacute; kvality bydlen&iacute; v obci. Pokud
    zastupitelstvo v budoucnu odhlasuje tak v&yacute;znamn&yacute; investičn&iacute;
    z&aacute;měr, budeme požadovat referendum, kde občan&eacute; mohou vyj&aacute;dřit
    svůj souhlas či nesouhlas.</p>\r\n<p>&nbsp;</p>\r\n<p><strong>Informovanost občanů</strong></p>\r\n<p>V
    na&scaron;&iacute; obci se konaj&iacute; různ&eacute; kulturn&iacute; a společensk&eacute;
    akce, bohužel řada z n&aacute;s se o nich vůbec nedozv&iacute;. To sam&eacute;
    plat&iacute; i pro různ&eacute; uzav&iacute;rky, rekonstrukce komunikac&iacute;,
    nebo svoz velkoobjemov&eacute;ho odpadu. V t&eacute;to oblasti vid&iacute;me potenci&aacute;l
    v lep&scaron;&iacute;m využit&iacute; webov&yacute;ch str&aacute;nek a soci&aacute;ln&iacute;ch
    s&iacute;t&iacute;. Tak&eacute; chceme založit jednoduch&yacute; zpravodaj, kter&yacute;
    bude možn&eacute; z&iacute;skat jak v ti&scaron;těn&eacute; podobě, tak v elektronick&eacute;
    podobě do e-mailov&eacute; schr&aacute;nky. Zpravodaj by měl obsahovat nejen užitečn&eacute;
    informace a usnadnit tak život v obci, ale měl by přin&aacute;&scaron;et i přehled
    nejbliž&scaron;&iacute;ch společensk&yacute;ch, kulturn&iacute;ch a sportovn&iacute;ch
    ud&aacute;lost&iacute;.</p>\r\n<p>V r&aacute;mci &uacute;spory času občanů je
    potřeba zajistit ve&scaron;ker&eacute; podklady a dokumenty nutn&eacute; pro styk
    s obecn&iacute;m &uacute;řadem.</p>\r\n<p>&nbsp;</p>\r\n<p><strong>Transparentnost
    a veřejn&eacute; zak&aacute;zky</strong></p>\r\n<p>Pro každou veřejnou zak&aacute;zku
    mus&iacute; zastupitelstvo předem určit a zveřejnit, jak&aacute; jsou hodnot&iacute;c&iacute;
    krit&eacute;ria pro v&yacute;běr dodavatele. Po v&yacute;běrov&eacute;m ř&iacute;zen&iacute;
    mus&iacute; doj&iacute;t ke zveřejněn&iacute; v&yacute;sledků jednotliv&yacute;ch
    uchazečů.</p>\r\n<p>Na webov&yacute;ch str&aacute;nk&aacute;ch, nebo na vyž&aacute;d&aacute;n&iacute;
    na obecn&iacute;m &uacute;řadě, by měly b&yacute;t zveřejněny v&scaron;echny smlouvy
    s dodavateli obce a to v pln&eacute;m zněn&iacute;, včetně př&iacute;padn&yacute;ch
    dodatků. V př&iacute;padě obce se nelze odvol&aacute;vat na obchodn&iacute; tajemstv&iacute;
    a firmy, kter&eacute; toto neakceptuj&iacute;, by měly b&yacute;t z v&yacute;běrov&yacute;ch
    ř&iacute;zen&iacute; vyloučeny.</p>\r\n<p>Ve smlouv&aacute;ch mus&iacute; b&yacute;t
    sjedn&aacute;no, že obec neplat&iacute; dodatečn&eacute; n&aacute;klady nad vysoutěženou
    cenu a obec mus&iacute; db&aacute;t na kvalitu dod&aacute;vek včetně z&aacute;ručn&iacute;ch
    podm&iacute;nek</p>\r\n<p>Chceme, aby obec pře&scaron;la k využ&iacute;v&aacute;n&iacute;
    transparentn&iacute;ch bankovn&iacute;ch &uacute;čtů a otevřen&eacute;ho &uacute;četnictv&iacute;
    v&scaron;ude tam, kde to z&aacute;konn&aacute; &uacute;prava dovoluje. Tak lze
    dos&aacute;hnout toho, kdy v&scaron;ichni budou moci kontrolovat, za co se finančn&iacute;
    prostředky obce využ&iacute;vaj&iacute;.</p>\r\n<p>Pen&iacute;ze obce jsou na&scaron;e
    pen&iacute;ze, my jsme je svěřili obci t&iacute;m, že jsme zaplatili daně. M&aacute;me
    tedy pr&aacute;vo vědět, jakou č&aacute;stkou obec disponuje a na co pen&iacute;ze
    použ&iacute;v&aacute;.</p>\r\n<p>&nbsp;</p>\r\n<h2><strong>Svobodn&iacute; v komun&aacute;ln&iacute;
    politice vych&aacute;z&iacute; obecně z těchto principů:</strong></h2>\r\n<ol>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm;\">Obce hospodař&iacute; zpravidla s vyrovnan&yacute;m
    rozpočtem a dluhy tvoř&iacute; jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch
    za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů. Svobodn&iacute; toto
    pravidlo hospodařen&iacute; obc&iacute; prosazuj&iacute; jako analogii n&aacute;vrhu
    &uacute;stavn&iacute;ho z&aacute;kona o vyrovnan&eacute;m rozpočtu na &uacute;rovni
    st&aacute;tu.</p>\r\n</li>\r\n<li>\r\n<p style=\"margin-bottom: 0cm;\">Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v
    obc&iacute;ch.</p>\r\n</li>\r\n<li>\r\n<p style=\"margin-bottom: 0cm;\">Obce z&aacute;sadně
    nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute; deformovat tržn&iacute;
    prostřed&iacute;.</p>\r\n</li>\r\n<li>\r\n<p style=\"margin-bottom: 0cm;\">Obce
    ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně
    konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm;\">V př&iacute;padě obecn&iacute;ch zak&aacute;zek
    se obce nesměj&iacute; odvol&aacute;vat na obchodn&iacute; tajemstv&iacute; a
    uzavřen&eacute; smlouvy jsou veřejn&eacute;.</p>\r\n</li>\r\n<li>\r\n<p>Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</p>\r\n</li>\r\n</ol>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
