---
title: Kontakty
slug: kontakty
is_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<h2>Předseda</h2>\r\n<h3>V&iacute;t Jedlička</h3>\r\n<p><a class=\"pull-left\"
    href=\"http://hk.svobodni.cz/predsednictvo#\"><img class=\"media-object thumbnail\"
    src=\"http://www.svobodni.cz/Controls/AvatarImageFetch.ashx?memberid=2b4a82c6-3714-44fa-a4d2-ae8fc3807071\"
    alt=\"V&iacute;t Jedlička\" /></a></p>\r\n<div class=\"media-body\"><dl class=\"dl-horizontal\"><dt></dt><dd><a
    href=\"mailto:jedlicka@svobodni.cz\">jedlicka@svobodni.cz</a></dd><dt></dt><dd>608131130</dd><dt></dt><dd><a
    href=\"http://www.reformy.cz/\">http://www.reformy.cz/</a></dd><dt></dt><dd><a
    href=\"http://www.facebook.com/profile.php?id=1245451008\">profil</a></dd><dt></dt><dd><a
    href=\"https://www.facebook.com/klub.reformy.cz?fref=ts\">str&aacute;nka</a></dd><dd></dd></dl></div>\r\n<h2>M&iacute;stopředseda</h2>\r\n<h3>Mgr.
    Jakub Frydrych</h3>\r\n<h2><a class=\"pull-left\" href=\"http://hk.svobodni.cz/predsednictvo#\"><img
    class=\"media-object thumbnail\" src=\"http://www.svobodni.cz/Controls/AvatarImageFetch.ashx?memberid=def3a1d4-211b-4b73-8361-298e2825a297\"
    alt=\"Mgr. Jakub Frydrych\" /></a></h2>\r\n<div class=\"media-body\"><dl class=\"dl-horizontal\"><dt></dt><dd><a
    href=\"mailto:frydrych@svobodni.cz\">frydrych@svobodni.cz</a></dd><dt></dt><dd>603425961</dd><dt></dt><dd><a
    href=\"http://czpremysl.wordpress.com/\">http://czpremysl.wordpress.com</a></dd></dl></div>\r\n<h2>&nbsp;</h2>\r\n<h2>Tiskov&aacute;
    mluvč&iacute;</h2>\r\n<div class=\"media\"><a class=\"pull-left\" href=\"http://web.svobodni.cz/pro-media/kontakty#\"><img
    class=\"media-object thumbnail\" src=\"http://web.svobodni.cz/public/media/kasparova2.jpg\"
    alt=\"Kateřina Ka&scaron;parov&aacute;\" /></a>\r\n<div class=\"media-body\">\r\n<h3>Kateřina
    Ka&scaron;parov&aacute;</h3>\r\n<p>komunikace s m&eacute;dii</p>\r\n<p><span>E-mail:&nbsp;kasparova@svobodni.cz</span></p>\r\n<p>Telefon:&nbsp;736
    530 384</p>\r\n<div>&nbsp;</div>\r\n</div>\r\n</div>\r\n<p>Kontakt:&nbsp;Tomkova
    674/10, 500 03 Hradec Kr&aacute;lov&eacute;<br />č. &uacute;čtu:&nbsp;<a href=\"https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?ID_ucet=2400382828\">2400382828/2010</a></p>\r\n<p>Fakturačn&iacute;
    &uacute;daje:</p>\r\n<p><strong>Strana svobodn&yacute;ch občanů</strong><br /><span>Peruck&aacute;
    2196/14</span><br /><span>120 00 Praha 2</span><br /><span>IČ:&nbsp;71339612</span></p>\r\n<p>&nbsp;</p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}



</div>

{% endblock %}