---
title: Předsednictvo
slug: predsednictvo
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
editable_elements:
  main/clenove_predsednictva: "<div class=\"col-md-8\">\r\n<p>&nbsp;</p>\r\n<hr />\r\n<p>Kontakt:&nbsp;Tomkova 674/10, 500 03 Hradec Králové<br /> č. &uacute;čtu:&nbsp;<a
    style=\"line-height: 1.6em;\" href=\"https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?ID_ucet=2400382828\">2400382828/2010</a></p>\r\n<hr
    /></div>"
---
{% extends 'parent' %}

{% block main %}


{% consume data from "https://registr.svobodni.cz/regions/4.json" %}
<div class="col-md-8">
  
<h2>Předseda</h2>
{% assign person = data.region.presidium.president %}
{% include 'person' with person %}

<h2>Místopředsedové</h2>
{% for vicepresident in  data.region.presidium.vicepresidents %}
{% assign person = vicepresident %}
{% include 'person' with person %}
{% endfor %}

{% endconsume %}

{% editable_text "clenove_predsednictva", hint: "Členové předsednictva." %}
<p>Kontakt:&nbsp;Jiří Kubíček, Kamenická 26, 170 00 Praha 7<br>
č. účtu:&nbsp;<a href="https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?ID_ucet=2700382803" style="line-height: 1.6em;">2700382803/2010</a></p>
{% endeditable_text %}
</div>
{% endblock %}