---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p><strong>Vyrovnan&yacute; rozpočet města &nbsp;&nbsp;&nbsp;</strong></p>\r\n<p><strong>&nbsp;
    </strong></p>\r\n<p><strong>V ide&aacute;ln&iacute;m př&iacute;padě pokr&yacute;v&aacute;
    rozpočet města prim&aacute;rně nejnutněj&scaron;&iacute; veřejn&eacute; statky</strong>,
    jako jsou silnice, chodn&iacute;ky, zaji&scaron;těn&iacute; poř&aacute;dku a bezpečnosti
    nebo provoz &scaron;kol. Město hospodař&iacute; s vyrovnan&yacute;m rozpočtem,
    kdy c&iacute;lem je přebytek finančn&iacute;ch prostředků a absence nutnosti zadlužovat
    se. V současn&eacute; době Hradec Kr&aacute;lov&eacute; plat&iacute; jen na &uacute;roc&iacute;ch
    ze sv&eacute;ho&nbsp;dluhu 17 milionů ročně. Je ž&aacute;douc&iacute; a re&aacute;ln&eacute;
    rozpočet vyrovnat a tvořit přebytek, skrze kter&yacute; lze občanům vr&aacute;tit
    jejich pen&iacute;ze d&iacute;ky sn&iacute;žen&iacute; nebo zru&scaron;en&iacute;
    městsk&yacute;ch poplatků.</p>\r\n<p>&nbsp;</p>\r\n<p><strong>Město může přispět
    k tomu, aby co nejv&iacute;ce peněz zůstalo v kaps&aacute;ch občanů. </strong>D&iacute;ky
    vyrovnan&eacute;mu rozpočtu a předch&aacute;zen&iacute; dluhům lze např&iacute;klad
    sn&iacute;žit daň z nemovitosti na minim&aacute;ln&iacute; hranici nebo zru&scaron;it
    poplatek z ubytovac&iacute; kapacity. Zefektivněn&iacute;m provozu MHD lze doc&iacute;lit
    sn&iacute;žen&iacute; n&aacute;kladů a za u&scaron;etřen&eacute; prostředky zru&scaron;it
    např. poplatky za komun&aacute;ln&iacute; odpad.</p>\r\n<p>&nbsp;</p>\r\n<p><strong>Město
    slouž&iacute;c&iacute; občanům</strong></p>\r\n<p>&nbsp;</p>\r\n<p><strong>Městsk&aacute;
    spr&aacute;va tak jako st&aacute;tn&iacute; m&aacute; předev&scaron;&iacute;m
    sloužit občanům.</strong> Svobodn&iacute; prosazuj&iacute; minimum vyhl&aacute;&scaron;ek
    a regulac&iacute;, kter&aacute; občany omezuj&iacute;, a tedy i zru&scaron;en&iacute;
    někter&yacute;ch st&aacute;vaj&iacute;c&iacute;ch. Zastupitelstvo města by mělo
    rozhodovat pouze o věcech veřejn&yacute;ch a přitom respektovat co největ&scaron;&iacute;
    m&iacute;ru svobody a autonomie obyvatel. Zasahovat do soukrom&yacute;ch pr&aacute;v
    občanů a omezovat podnik&aacute;n&iacute; je nepřijateln&eacute;. Vyhl&aacute;&scaron;ky
    jako z&aacute;kaz krmen&iacute; zv&iacute;řat nebo z&aacute;kaz voz&iacute;ků
    s billboardy jsou zbytečn&eacute; nebo kontraproduktivn&iacute;. Zku&scaron;enosti
    např. ukazuj&iacute;, že plo&scaron;n&eacute; zakazov&aacute;n&iacute; heren podporuje
    vznik neleg&aacute;ln&iacute;ho prostřed&iacute; a způsobuje n&aacute;růst kriminality.
    Stejně tak omezov&aacute;n&iacute; dopravy v centru města vede k vylidněn&iacute;
    těchto tzv. klidov&yacute;ch z&oacute;n a utlumen&iacute; podnikatelsk&yacute;ch
    aktivit. Svobodn&iacute; jsou pro živ&eacute; město se zachov&aacute;n&iacute;m
    dopravn&iacute; obslužnosti pro občany i firmy.</p>\r\n<p>&nbsp;</p>\r\n<p><strong>Jednoduch&aacute;
    administrativa a efektivn&iacute; činnost &uacute;řadů s minimem obstrukc&iacute;
    pro občany</strong> je př&iacute;nosn&aacute; pro v&scaron;echny obyvatele. Hradec
    Kr&aacute;lov&eacute; m&aacute; např. elektronick&yacute; syst&eacute;m sjedn&aacute;v&aacute;n&iacute;
    schůzek na Magistr&aacute;tu. Svobodn&iacute; prosazuj&iacute; nalezen&iacute;
    podobn&eacute;ho ře&scaron;en&iacute; pro v&iacute;ce životn&iacute;ch situac&iacute;,
    kter&eacute; lid&eacute; ře&scaron;&iacute; na &uacute;řadech. Obyvatel&eacute;
    tak u&scaron;etř&iacute; čas a město pen&iacute;ze z rozpočtu. Např&iacute;klad
    rozes&iacute;l&aacute;n&iacute; po&scaron;tovn&iacute;ch pouk&aacute;zek za platbu
    komun&aacute;ln&iacute;ho odpadu je velmi n&aacute;kladn&eacute;, přitom v&scaron;ak
    &uacute;daje k platbě nelze zjistit elektronicky. Zjednodu&scaron;en&iacute; a
    zrychlen&iacute; procesu ž&aacute;dosti o veřejn&yacute; z&aacute;bor může zase
    oživit děn&iacute; ve městě a zlep&scaron;it podm&iacute;nky pro drobn&eacute;
    podnik&aacute;n&iacute;.</p>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<p><strong>F&eacute;rov&eacute;
    město</strong></p>\r\n<p>&nbsp;</p>\r\n<p><strong>Svobodn&iacute; jsou zast&aacute;nci
    zdrav&eacute;ho tržn&iacute;ho prostřed&iacute; a budou vždy podporovat rovn&eacute;
    př&iacute;ležitosti pro živnosti a podnik&aacute;n&iacute;.</strong> Pokud město
    co nejv&iacute;ce eliminuje přek&aacute;žky podnik&aacute;n&iacute;, oživ&iacute;
    t&iacute;m pracovn&iacute; trh, umožn&iacute; vznik konkurence. Benefitem pro
    občana jsou pak kvalitněj&scaron;&iacute; služby a niž&scaron;&iacute; ceny. Za
    f&eacute;rov&eacute; podnik&aacute;n&iacute; ov&scaron;em nepovažujeme situaci,
    kdy město uděluje privilegium monopolu firm&aacute;m jako ATOL/ISP nebo Veolia.</p>\r\n<p>&nbsp;</p>\r\n<p><strong>Omezen&iacute;
    korupce lze dos&aacute;hnout nejl&eacute;pe prevenc&iacute;</strong>. Korupce
    existuje v&scaron;ude tam, kde jsou dotace a kde někdo rozhoduje o peněz&iacute;ch
    ostatn&iacute;ch, třeba v oblasti veřejn&yacute;ch zak&aacute;zek. Omez&iacute;me-li
    m&iacute;ru přerozdělov&aacute;n&iacute; peněz &uacute;ředn&iacute;ky a politiky
    a z&aacute;vislost na dotačn&iacute;ch programech, předejdeme př&iacute;ležitostem
    pro upl&aacute;cen&iacute; a nekal&eacute; nakl&aacute;d&aacute;n&iacute; s penězi
    občanů.</p>\r\n<p>&nbsp;</p>\r\n<p><strong>S omezen&iacute;m korupce a pl&yacute;tv&aacute;n&iacute;
    finančn&iacute;mi prostředky souvis&iacute; i naprost&aacute; transparentnost
    v&scaron;ech veřejn&yacute;ch zak&aacute;zek.</strong> Občanům mus&iacute; b&yacute;t
    dostupn&eacute; informace o v&scaron;ech aspektech veřejn&yacute;ch zak&aacute;zek,
    včetně podkladů pro zastupitele, z&aacute;pisů obecn&iacute;ch org&aacute;nů nebo
    jmen zainteresovan&yacute;ch firem. Je třeba m&iacute;t na paměti, že každ&aacute;
    takov&aacute; zak&aacute;zka je rozhodnut&iacute;m za v&scaron;echny obyvatele
    města a za jejich pen&iacute;ze. Pokud zastupitelstvo rozhoduje o přerozdělen&iacute;
    finančn&iacute;ch prostředku z&iacute;skan&yacute;ch od st&aacute;tu, mělo by
    je použ&iacute;t smysluplně a s důrazem na to, co občan&eacute; skutečně chtěj&iacute;.</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
