---
title: Akce
slug: akce
is_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 3
editable_elements:
  main/akce_info: "<p><span style=\"font-size: medium;\">Moment&aacute;lně pl&aacute;nujeme
    n&aacute;sleduj&iacute;c&iacute; akce:</span></p>\r\n<table style=\"width: 800px;
    height: 339px;\" border=\"1\">\r\n<tbody>\r\n<tr><th style=\"text-align: center;\"><span
    style=\"text-decoration: underline;\">DEN</span></th><th style=\"text-align: center;\"><span
    style=\"text-decoration: underline;\">AKCE</span></th><th style=\"text-align:
    center;\"><span style=\"text-decoration: underline;\">KDE</span></th><th style=\"text-align:
    center;\"><span style=\"text-decoration: underline;\">KDY</span></th><th style=\"text-align:
    center;\"><span style=\"text-decoration: underline;\">KDO</span></th></tr>\r\n<tr
    style=\"height: 5px;\">\r\n<td colspan=\"5\">&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: center;\">&nbsp;<span style=\"font-size: small;\">30.04.2015</span>&nbsp;</td>\r\n<td>\r\n<p>&nbsp;
    <span style=\"font-size: medium;\"><strong><span style=\"font-size: medium;\"><strong>Svobodn&eacute;
    čarodějnice</strong></span><br />&nbsp; </strong><span style=\"font-size: small;\">Př&iacute;jemn&yacute;
    večer se Svobodn&yacute;mi<br /></span></span></p>\r\n</td>\r\n<td style=\"text-align:
    center;\">\r\n<p><span style=\"font-size: small;\"><em>Korycany 19<br /></em></span></p>\r\n<p><a
    href=\"http://mapy.cz/s/hywu\"><span style=\"font-size: small;\"><em>http://mapy.cz/s/hywu</em></span></a></p>\r\n</td>\r\n<td
    style=\"text-align: center;\"><span style=\"font-size: small;\">&nbsp;<em>18:00</em>
    <br /></span></td>\r\n<td style=\"text-align: center;\"><span style=\"font-size:
    small;\">&nbsp;&nbsp;Svobodn&iacute;&nbsp;&nbsp;</span></td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: center;\">&nbsp;<span style=\"font-size: small;\">13.05.2015</span>&nbsp;</td>\r\n<td>\r\n<p>&nbsp;
    <span style=\"font-size: medium;\"><strong>Volby ve Velk&eacute; Brit&aacute;nii<br
    />&nbsp; </strong><span style=\"font-size: small;\">T&eacute;matick&aacute; konference
    EFDD</span></span></p>\r\n</td>\r\n<td style=\"text-align: center;\">\r\n<p><span
    style=\"font-size: small;\"><em>TBA</em></span></p>\r\n</td>\r\n<td style=\"text-align:
    center;\"><span style=\"font-size: small;\">&nbsp;<em>TBA</em>&nbsp;</span></td>\r\n<td
    style=\"text-align: center;\"><span style=\"font-size: small;\">&nbsp; Petr Mach
    (MEP)&nbsp; <br /></span></td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align: center;\">&nbsp;<span
    style=\"font-size: small;\"><em>11</em>.06.2015</span>&nbsp;</td>\r\n<td>\r\n<p>&nbsp;
    <span style=\"font-size: medium;\"><strong>Den daňov&eacute; svobody<br />&nbsp;
    </strong><span style=\"font-size: small;\">Akce upozorňuj&iacute;c&iacute; na
    vysok&eacute; daňov&eacute; zat&iacute;žen&iacute;<br /></span></span></p>\r\n</td>\r\n<td
    style=\"text-align: center;\">\r\n<p><span style=\"font-size: small;\"><em>TBA<br
    /></em></span></p>\r\n</td>\r\n<td style=\"text-align: center;\"><span style=\"font-size:
    small;\"><em>&nbsp;TBA</em> <br /></span></td>\r\n<td style=\"text-align: center;\"><span
    style=\"font-size: small;\">&nbsp; Svobodn&iacute;<br /></span></td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n<p>&nbsp;</p>\r\n<p><span
    style=\"font-size: medium;\">Proběhl&eacute; akce Svobodn&yacute;ch Praha 4:</span></p>\r\n<table
    style=\"width: 800px; height: 252px;\" border=\"1\">\r\n<tbody>\r\n<tr><th style=\"text-align:
    center;\"><em><span style=\"text-decoration: underline;\">DEN</span></em></th><th
    style=\"text-align: center;\"><em><span style=\"text-decoration: underline;\">AKCE</span></em></th><th
    style=\"text-align: center;\"><em><span style=\"text-decoration: underline;\">KDE</span></em></th><th
    style=\"text-align: center;\"><em><span style=\"text-decoration: underline;\">KDY</span></em></th><th
    style=\"text-align: center;\"><em><span style=\"text-decoration: underline;\">KDO</span></em></th></tr>\r\n<tr>\r\n<td
    style=\"text-align: center;\">&nbsp;<span style=\"font-size: small;\">18.04.2015</span>&nbsp;</td>\r\n<td>\r\n<p>&nbsp;
    <span style=\"font-size: medium;\"><strong>Jarn&iacute; &uacute;klid 2015<br />&nbsp;
    </strong><a href=\"http://praha4.svobodni.cz/clanky/veni-vidi-uklidi\"><span style=\"font-size:
    small;\">Ohl&eacute;dnut&iacute; za akc&iacute;</span></a></span></p>\r\n</td>\r\n<td
    style=\"text-align: center;\">\r\n<p><span style=\"font-size: small;\">&nbsp;
    Lhotka a Hodkovičky&nbsp;</span><br /><em><span style=\"font-size: small;\"><a
    title=\"Lhotka\" href=\"http://mapy.cz/s/ggdX\">http://mapy.cz/s/ggdX</a></span></em><br
    /><em><span style=\"font-size: small;\"><a title=\"Hodkovičky\" href=\"http://mapy.cz/s/gge4\">http://mapy.cz/s/gge4</a></span></em></p>\r\n</td>\r\n<td
    style=\"text-align: center;\"><span style=\"font-size: small;\">&nbsp;09:30&nbsp;</span></td>\r\n<td
    style=\"text-align: center;\"><span style=\"font-size: small;\">&nbsp;&nbsp;Svobodn&iacute;
    Praha 4&nbsp;&nbsp;</span></td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align: center;\"><span
    style=\"font-size: small;\">&nbsp;<em>31.03.2015</em></span>&nbsp;</td>\r\n<td>&nbsp;
    <span style=\"font-size: medium;\"><strong>Akce \"Daně 2015\"<span style=\"font-size:
    medium;\"><strong><br />&nbsp; </strong></span></strong><span style=\"font-size:
    medium;\"><span style=\"font-size: small;\"><a href=\"http://praha4.svobodni.cz/clanky/destiva-a-vetrna-akce-dane-2015\">Pravideln&aacute;
    petičn&iacute; akce Svobodn&yacute;ch</a></span></span></span></td>\r\n<td style=\"text-align:
    center;\"><span style=\"font-size: small;\">&nbsp; Před finančn&iacute;m &uacute;řadem
    Prahy 4&nbsp;</span><br /><span style=\"font-size: small;\"><a href=\"http://mapy.cz/s/dKjx\"><em>http://mapy.cz/s/dKjx</em></a></span></td>\r\n<td
    style=\"text-align: center;\"><span style=\"font-size: small;\">&nbsp; 07:00</span></td>\r\n<td
    style=\"text-align: center;\"><span style=\"font-size: small;\">&nbsp;&nbsp;Svobodn&iacute;&nbsp;&nbsp;</span></td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: center;\"><em>&nbsp;<span style=\"font-size: small;\">05.12.2014</span>&nbsp;</em></td>\r\n<td><em>&nbsp;
    <span style=\"font-size: medium;\"><strong>Mikul&aacute;&scaron;sk&aacute; Bes&iacute;dka</strong></span></em><br
    /><em>&nbsp; <span style=\"font-size: small;\">Akce pro děti s (prav&yacute;m)
    Mikul&aacute;&scaron;em</span></em></td>\r\n<td style=\"text-align: center;\"><span
    style=\"font-size: small;\">&nbsp;Restaurace \"U Bř&iacute;zy\", Star&yacute;
    Spořilov&nbsp;</span><br /><span style=\"font-size: small;\"><a href=\"http://mapy.cz/s/dKmF\">http://mapy.cz/s/dKmF</a></span></td>\r\n<td
    style=\"text-align: center;\"><span style=\"font-size: small;\">&nbsp; 15:00 &nbsp;</span></td>\r\n<td
    style=\"text-align: center;\"><span style=\"font-size: small;\">&nbsp; Svobodn&iacute;
    Praha 4&nbsp;</span></td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align: center;\">&nbsp;<span
    style=\"font-size: small;\">22.11.2014</span>&nbsp;</td>\r\n<td>&nbsp; <span style=\"font-size:
    medium;\"><strong>Velk&yacute; &uacute;klid Habrovky</strong></span><br />&nbsp;
    <span style=\"font-size: small;\"><a href=\"http://praha4.svobodni.cz/clanky/velky-uklid-habrov\">Ohl&eacute;dnut&iacute;
    za akc&iacute;</a></span></td>\r\n<td style=\"text-align: center;\"><span style=\"font-size:
    small;\">Sraz u krčsk&eacute; sokolovny &nbsp;</span><br /><span style=\"font-size:
    small;\"><a href=\"http://mapy.cz/s/dKhJ\"><em>http://mapy.cz/s/dKhJ</em></a>&nbsp;</span></td>\r\n<td
    style=\"text-align: center;\"><span style=\"font-size: small;\">&nbsp; 10:00 &nbsp;</span></td>\r\n<td
    style=\"text-align: center;\"><span style=\"font-size: small;\">&nbsp; Svobodn&iacute;
    Praha 4&nbsp;</span></td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align: center;\">&nbsp;<span
    style=\"font-size: small;\">04.10.2014</span>&nbsp;</td>\r\n<td>&nbsp; <span style=\"font-size:
    medium;\"><strong>Dětsk&eacute; odpoledne + koncert</strong></span><br />&nbsp;
    <span style=\"font-size: small;\"><a href=\"https://www.facebook.com/SvobodniPraha4/posts/1610934182467068\">Fotogalerie
    z akce</a></span></td>\r\n<td style=\"text-align: center;\"><span style=\"font-size:
    small;\">&nbsp; Restaurace \"U Bř&iacute;zy\", Star&yacute; Spořilov&nbsp;</span><br
    /><span style=\"font-size: small;\"><a href=\"http://mapy.cz/s/dKmF\"><em>http://mapy.cz/s/dKmF</em></a></span></td>\r\n<td
    style=\"text-align: center;\"><span style=\"font-size: small;\">&nbsp; 14:00 &nbsp;</span></td>\r\n<td
    style=\"text-align: center;\"><span style=\"font-size: small;\">&nbsp; Svobodn&iacute;
    Praha 4&nbsp;</span></td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align: center;\">&nbsp;<span
    style=\"font-size: small;\">27.09.2014</span>&nbsp;</td>\r\n<td>&nbsp; <span style=\"font-size:
    medium;\"><strong>Svobodn&iacute; ukl&iacute;zej&iacute; Prahu 4</strong></span><br
    />&nbsp; <span style=\"font-size: small;\"><a href=\"http://praha4.svobodni.cz/clanky/svobodni-uklizeli-prahu-4\">Ohl&eacute;dnut&iacute;
    za akc&iacute;</a></span></td>\r\n<td style=\"text-align: center;\"><span style=\"font-size:
    small;\">&nbsp; Kunratick&yacute; les / Novodvorsk&aacute;&nbsp;</span><br /><span
    style=\"font-size: small;\"><a href=\"http://mapy.cz/s/dKmV\"><em>http://mapy.cz/s/dKmV</em></a></span></td>\r\n<td
    style=\"text-align: center;\"><span style=\"font-size: small;\">&nbsp; 09:30 &nbsp;</span></td>\r\n<td
    style=\"text-align: center;\"><span style=\"font-size: small;\">&nbsp; Svobodn&iacute;
    Praha 4&nbsp;</span></td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n<p>&nbsp;</p>\r\n<p><span
    style=\"font-size: medium;\">Můžete si tak&eacute; přidal kalend&aacute;ř na&scaron;ich
    akc&iacute; do sv&eacute;ho kalend&aacute;ře pomoc&iacute; <a title=\"nastaven&iacute;
    iCal pro Outlook\" href=\"https://support.office.com/cs-cz/article/P%C5%99enos-kalend%C3%A1%C5%99%C5%AF-mezi-aplikac%C3%AD-Outlook-a-slu%C5%BEbou-Google-Calendar-3a133146-a30f-45a2-8cf6-701e5962df59?ui=cs-CZ&amp;rs=cs-CZ&amp;ad=CZ#bm3\"
    target=\"_blank\">iCal</a>:<br /></span><span style=\"font-size: small;\"><a href=\"https://www.google.com/calendar/ical/svobodnipraha4%40gmail.com/public/basic.ics\"
    target=\"_blank\">https://www.google.com/calendar/ical/svobodnipraha4%40gmail.com/public/basic.ics</a></span></p>\r\n<p>&nbsp;</p>\r\n<p><iframe
    width=\"800\" height=\"400\" frameborder=\"0\" src=\"https://www.google.com/calendar/embed?title=Svobodn%C3%AD%20Praha%204%20%E2%80%93%20kalend%C3%A1%C5%99%20akc%C3%AD&amp;showTz=0&amp;height=400&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=svobodnipraha4%40gmail.com&amp;color=%23125A12&amp;src=cs.czech%23holiday%40group.v.calendar.google.com&amp;color=%235F6B02&amp;src=p%23weather%40group.v.calendar.google.com&amp;color=%2342104A&amp;ctz=Europe%2FPrague\"></iframe></p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "akce_info", hint: "Informace o akcích pobočky." %}
{% endeditable_text %}

</div>

{% endblock %}