---
title: Kandidáti
slug: kandidati
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 3
---
{% extends parent %}

{% block main %}

Praha 4 byla <a href="http://www.praha4.cz/ke-stanoveni-poctu-clenu-Zastupitelstva-mestske-casti-Praha-4-na-volebni-obdobi-2014-2018-a-k-vytvoreni-5-devitimandatovych-volebnich-obvodu-pro-volby-do-Zastupitelstva-mestske-casti-Praha-4-v-roce-1.html" title="Usnesení zastupitelstva">usnesením Zastupitelstva</a> 
ze dne 18. června 2014 rozdělena na <a href="http://www.praha4.cz/Volebni-obvody" title="Volební obvody Prahy 4">5 volebních obvodů</a>. 
Prozatím zde naleznete lídry v jednotlivých obvodech.

{% for obvod in (1..5) %}
<h2>Obvod {{ obvod }}</h2>
{% assign counter = 0 %}
{% for candidate in contents.candidates %}
{% assign person = candidate %}
{% if person.obvod == obvod %}
{% capture counter %}{{ counter | plus:1}}{% endcapture %}
{% include 'candidate' with person, position: counter %}
{% endif %}
{% endfor %}
{% endfor %}

{% endblock %}
