---
title: Kontakt
slug: kontakt
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 4
---
{% extends parent %}

{% block main %}

{% consume data from "https://registr.svobodni.cz/branches/101.json" %}
{% assign person = data.branch.coordinator %}

{% include 'person' with person %}

{% if data.branch.recruiter.name %}
{% if data.branch.coordinator.name != data.branch.recruiter.name %}
<h2>Kontakt pro zájemce o členství</h2>
{% assign person = data.branch.recruiter %}
{% include 'person' with person %}
{% endif %}
{% endif %}
{% endconsume %}


{% endblock %}