---
title: Pobočka
slug: pobocka
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 3
editable_elements:
  main/duvody: "<ul class=\"spec-purple-1\">\r\n<li>Svobodn&aacute; Doprava</li>\r\n<li>Svobodn&aacute;
    Radnice</li>\r\n<li>Svobodn&aacute; Praha 4</li>\r\n</ul>"
  main/vyzva: <p>Na&scaron;i kandid&aacute;ti</p>
---
{% extends 'parent' %}