---
title: Pobočka
slug: pobocka
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 3
editable_elements:
  main/uvod: "<p style=\"text-align: justify;\">&nbsp;</p>\r\n<p style=\"text-align:
    justify;\">M&iacute;stn&iacute; pobočka <a href=\"www.svobodni.cz\">Strany svobodn&yacute;ch
    občanů</a> Praha 4 funguje v r&aacute;mci stranick&eacute; organizace pod KrP
    Praha.</p>\r\n<p style=\"text-align: justify;\">Pobočka začala fungovat v prosinci
    2013 pod veden&iacute;m koordin&aacute;tora <em><strong>Aloise Sečk&aacute;ra</strong></em>.
    K 24.07.2014 registruje pobočka <strong>26</strong> členů a <strong>51</strong>
    př&iacute;znivců Svobodn&yacute;ch.</p>\r\n<p style=\"text-align: justify;\">Pravidelně
    každ&eacute; prvn&iacute; ponděl&iacute; v měs&iacute;ci večer se sch&aacute;z&iacute;me
    ve spořilovsk&eacute; restauraci <strong>\"<a href=\"http://www.balounovarestauraceubrizy.eu/\">U
    Bř&iacute;zy</a>\"</strong>.</p>\r\n<p style=\"text-align: justify;\">Chyst&aacute;me
    se na podzimn&iacute; komun&aacute;ln&iacute; volby. Na tomto webu naleznete n&aacute;&scaron;
    <a href=\"http://praha4.svobodni.cz/volebni-program\">komun&aacute;ln&iacute;
    program</a> a <a href=\"http://praha4.svobodni.cz/kandidati\">na&scaron;e kandid&aacute;ty</a>.
    Postoje na&scaron;&iacute; pobočky a jej&iacute;ch členů k různ&yacute;m t&eacute;matům
    si můžete přeč&iacute;st v <a href=\"http://praha4.svobodni.cz/clanky\">sekci
    čl&aacute;nky</a>.</p>\r\n<p style=\"text-align: justify;\">----------------------------------</p>\r\n<p
    style=\"text-align: justify;\">Svou podporu pobočce můžete vyj&aacute;dřit př&iacute;spěvkem
    na transparentn&iacute; &uacute;čet KrP Praha - <span class=\"main_header_row_text\"><a
    href=\"https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?ID_ucet=2700382803\">2700382803/2010</a>,
    s uveden&iacute;m \"Praha 4\" v pozn&aacute;mce pro př&iacute;jemce. Členy a př&iacute;znivce
    Svobodn&yacute;ch pros&iacute;me o připojen&iacute; va&scaron;ho variabiln&iacute;ho
    symbolu pro snaz&scaron;&iacute; identifikaci.<br /></span></p>\r\n<p style=\"text-align:
    justify;\"><span class=\"main_header_row_text\">----------------------------------</span></p>"
---
{% extends 'parent' %}