---
title: Pobočka
slug: pobocka
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
editable_elements:
  main/uvod: "<p>M&iacute;stn&iacute; pobočka Strany svobodn&yacute;ch občanů Praha
    4 začala fungovat v prosinci 2013 pod veden&iacute;m koordin&aacute;tora Aloise
    Sečk&aacute;ra. K 24.07.2014 registruje pobočka <strong>26</strong> členů a <strong>51</strong>
    př&iacute;znivců Svobodn&yacute;ch.</p>\r\n<p>Pravidelně každ&eacute; prvn&iacute;
    ponděl&iacute; v měs&iacute;ci večer se sch&aacute;z&iacute;me ve spořilovsk&eacute;
    restauraci \"U Bř&iacute;zy\".</p>\r\n<p>Chyst&aacute;me se na podzimn&iacute;
    komun&aacute;ln&iacute; volby. Na tomto webu naleznete n&aacute;&scaron; program,
    na&scaron;e kandid&aacute;ty a na&scaron;e postoje v čl&aacute;nc&iacute;ch.</p>\r\n<p>------------</p>\r\n<p>&nbsp;</p>\r\n<p>Podporu
    pobočce můžete vyj&aacute;dřit př&iacute;spěvkem na transparentn&iacute; &uacute;čet
    KrP Praha - <span class=\"main_header_row_text\"><a href=\"https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?ID_ucet=2700382803\">2700382803/2010</a>,
    s uveden&iacute;m \"Praha 4\" v pozn&aacute;mce pro př&iacute;jemce.</span></p>"
---
{% extends 'parent' %}