---
title: Program
slug: volebni-program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program, volební program
meta_description: Programové teze Svobodných Praha 4 pro komunální volby 2014
editable_elements:
  main/volebni_program: "<p><strong>Svobodn&iacute; Praha 4</strong> vych&aacute;zej&iacute;
    prim&aacute;rně z těchto <strong>z&aacute;kladn&iacute;ch principů</strong>, kter&yacute;mi
    se ř&iacute;d&iacute; na&scaron;e strana v komun&aacute;ln&iacute; politice :</p>\r\n<ol>\r\n<li
    style=\"text-align: justify;\">Obce hospodař&iacute; zpravidla s vyrovnan&yacute;m
    rozpočtem a dluhy tvoř&iacute; jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch
    za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů. Svobodn&iacute; toto
    pravidlo hospodařen&iacute; obc&iacute; prosazuj&iacute; jako analogii n&aacute;vrhu
    &uacute;stavn&iacute;ho z&aacute;kona o vyrovnan&eacute;m rozpočtu na &uacute;rovni
    st&aacute;tu.</li>\r\n<li style=\"text-align: justify;\">Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v
    obc&iacute;ch.</li>\r\n<li style=\"text-align: justify;\">Obce z&aacute;sadně
    nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute; deformovat tržn&iacute;
    prostřed&iacute;.</li>\r\n<li style=\"text-align: justify;\">Obce ukl&aacute;daj&iacute;
    přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně konzervativně, tj. do
    aktiv s minim&aacute;ln&iacute;m rizikem.</li>\r\n<li style=\"text-align: justify;\">V
    př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat
    na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</li>\r\n<li
    style=\"text-align: justify;\">Svobodn&iacute; podporuj&iacute; změny daňov&yacute;ch
    z&aacute;konů tak, aby maximum peněz zůstalo v kaps&aacute;ch lid&iacute;, aby
    se omezilo přerozdělov&aacute;n&iacute; jak na &uacute;rovni st&aacute;tu, tak
    na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute; v&yacute;nosu dan&iacute;
    občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute; unie je třeba odstranit.</li>\r\n</ol>\r\n<p>&nbsp;</p>\r\n<p>Tyto
    body hodl&aacute;me za v&scaron;ech okolnost&iacute; dodržovat a ř&iacute;dit
    se jimi při hlasov&aacute;n&iacute;. Do komun&aacute;ln&iacute;ch voleb 2014 na
    Praze 4 d&aacute;le jdeme zejm&eacute;na s těmito konkr&eacute;tn&iacute;mi t&eacute;maty:</p>\r\n<p>&nbsp;</p>\r\n<h2><strong>Svobodn&aacute;
    doprava</strong></h2>\r\n<p><strong>Ru&scaron;en&iacute; zbytečn&yacute;ch dopravn&iacute;ch
    omezen&iacute;</strong></p>\r\n<p style=\"text-align: justify;\">Na řadě m&iacute;st
    existuj&iacute; nevhodně a zbytečně um&iacute;stěn&eacute; retard&eacute;ry či
    značky omezuj&iacute;c&iacute; rychlost. Chceme je nechat pouze tam, kde to m&aacute;
    opravdu smysl, nikoliv tam, kde je c&iacute;lem znepř&iacute;jemňovat život řidičům
    a vyvt&aacute;řet m&iacute;sta pro snadn&yacute; v&yacute;běr pokut. Mnoho semaforů
    může b&yacute;t na noc při sn&iacute;žen&eacute; přepravn&iacute; popt&aacute;vce
    bez probl&eacute;mů vyp&iacute;n&aacute;no.</p>\r\n<p>Přispějte se s sv&yacute;mi
    n&aacute;vrhy na změny i vy! [připravujeme]</p>\r\n<p><strong>Zv&yacute;&scaron;en&iacute;
    parkovac&iacute; kapacity</strong></p>\r\n<p style=\"text-align: justify;\">Odm&iacute;t&aacute;me
    zaveden&iacute; parkovc&iacute;ch z&oacute;n v Praze 4, kter&yacute; přinese řidičům
    pouze nov&eacute; n&aacute;klady a v&iacute;ce času na &uacute;řadech. Raději
    chceme situaci ře&scaron;it zv&yacute;&scaron;en&iacute;m parkovac&iacute;ch kapacit
    na dostupn&yacute;ch ploch&aacute;ch. D&aacute;le změn&iacute;me smlouvy na v&yacute;běr
    parkovn&eacute;ho na městsk&yacute;ch ploch&aacute;ch v bl&iacute;zkosti &uacute;řadů
    - občan cestuj&iacute;c&iacute; na &uacute;řad m&aacute; pr&aacute;vo parkovat
    bezplatně.</p>\r\n<p>&nbsp;</p>\r\n<p>V&iacute;ce o dopravě v t&eacute;matick&eacute;m
    čl&aacute;nku [připravujeme]</p>\r\n<p>&nbsp;</p>\r\n<h2><strong>Svobodn&aacute;
    radnice</strong></h2>\r\n<p><strong>Finančn&iacute; transparentnost</strong></p>\r\n<p
    style=\"text-align: justify;\">Mezi na&scaron;e hlavn&iacute; priority patř&iacute;
    transparentn&iacute; &uacute;čet pro radnici i ve&scaron;ker&eacute; př&iacute;spěvkov&eacute;
    organizace, rozklik&aacute;vac&iacute; rozpočet a striktn&iacute; povinnost zveřejňovat
    v&scaron;echny uzavřen&eacute; smlouvy včetně v&scaron;ech detailů. Souč&aacute;st&iacute;
    je t&eacute;ž &uacute;prava webu Prahy 4 pro zlep&scaron;en&iacute; orientace.</p>\r\n<p><strong>Zjednodu&scaron;en&iacute;
    komunikace s &uacute;řadem</strong></p>\r\n<p style=\"text-align: justify;\">Chceme
    umožnit občanům rezervaci term&iacute;nu jedn&aacute;n&iacute; s &uacute;ředn&iacute;kem
    přes internet a v maxim&aacute;ln&iacute; možn&eacute; m&iacute;ře využ&iacute;t
    elektronickou komunikaci tam, kde nen&iacute; nutn&aacute; fyzick&aacute; n&aacute;v&scaron;těva
    &uacute;řadu.</p>\r\n<p><strong>Otevřeněj&scaron;&iacute; jedn&aacute;n&iacute;
    zastupitelstva</strong></p>\r\n<p style=\"text-align: justify;\">Pl&aacute;nujeme
    změny v jedn&aacute;n&iacute;ch zastupitelstva - zejm&eacute;na v&iacute;ce jedn&aacute;n&iacute;
    ročně s m&eacute;ně body programu, zač&aacute;tek až odpoledne a bezplatn&yacute;
    př&iacute;stup veřejnosti k podkladům, průběhu a v&yacute;sledkům jedn&aacute;n&iacute;.</p>\r\n<p>&nbsp;</p>\r\n<p>V&iacute;ce
    o radnici v t&eacute;matick&eacute;m čl&aacute;nku [připravujeme]</p>\r\n<p>&nbsp;</p>\r\n<h2><strong>Svobodn&aacute;
    Praha 4</strong></h2>\r\n<p><strong>Revize obecn&iacute;ch vyhl&aacute;&scaron;ek
    a poplatků</strong></p>\r\n<p style=\"text-align: justify;\">Projdeme si platn&eacute;
    vyhl&aacute;&scaron;ky městsk&eacute; č&aacute;sti a změn&iacute;me nebo zru&scaron;&iacute;me
    ty, kter&eacute; občany reguluj&iacute; zbytečně a &scaron;kodlivě. Budeme hledat
    &uacute;spory na v&yacute;dajov&eacute; straně rozpočtu, kter&eacute; by umožnily
    sn&iacute;žit v&yacute;běr poplatků od obyvatel městsk&eacute; č&aacute;sti. Nehodl&aacute;me
    podporovat zvy&scaron;ov&aacute;n&iacute; m&iacute;stn&iacute;ch poplatků.</p>\r\n<p><strong>Rozumn&eacute;
    hospodařen&iacute; města</strong></p>\r\n<p style=\"text-align: justify;\">Miliony
    korun ročně jsou na Praze 4 vynakl&aacute;d&aacute;ny na pochybn&eacute; &uacute;čely
    a projekty. Budeme odhalovat a ru&scaron;it zbytečn&eacute; v&yacute;daje, podpoř&iacute;me
    pouze opr&aacute;vněn&eacute; investice v odůvodněn&eacute; v&yacute;&scaron;i.
    Budeme iniciovat dialog o budouc&iacute; nezbytnosti někter&yacute;ch dnes mandatorn&iacute;ch
    v&yacute;dajů a hledat alternativn&iacute; možnosti financov&aacute;n&iacute;
    př&iacute;slu&scaron;n&yacute;ch projektů.</p>\r\n<p><strong>Vstř&iacute;cnost
    k občanům</strong></p>\r\n<p style=\"text-align: justify;\">V souladu s prioritami
    Svobodn&yacute;ch pro pražsk&yacute; Magistr&aacute;t chceme prosazovat prvky
    tzv. lidov&eacute;ho veta do v&scaron;ech usnesen&iacute; Zastupitelstva (možnost
    občanů odm&iacute;tnout &scaron;patn&eacute; či &uacute;čelov&eacute; rozhodnut&iacute;).
    Chceme naslouchat m&iacute;stn&iacute;m nam&iacute;sto prosazov&aacute;n&iacute;
    &uacute;čelov&yacute;ch z&aacute;jmů na jejich &uacute;kor. Tak&eacute; nebudeme
    přek&aacute;žkou v občansk&eacute; aktivitě a nehodl&aacute;me h&aacute;zet klacky
    pod nohy iniciativn&iacute;m občanům.</p>\r\n<p>&nbsp;</p>\r\n<p>V&iacute;ce v
    t&eacute;matick&eacute;m čl&aacute;nku [připravujeme]</p>"
---
{% extends 'parent' %}

{% block main %}

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

{% endblock %}