---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: <p><a title="Členov&eacute; krajsk&eacute;ho předsednictva a kandid&aacute;ti"
    href="http://web.svobodni.cz/lide/krajska-predsednictva/jihomoravsky-kraj" target="_blank">http://web.svobodni.cz/lide/krajska-predsednictva/jihomoravsky-kraj</a></p>
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}