---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p><strong>VOLEBN&Iacute; PROGRAM</strong></p>\r\n<p><strong>komun&aacute;ln&iacute;
    volby v Chomutově 2014</strong></p>\r\n<p><strong>SVOBODA&nbsp; A&nbsp; ODPOVĚDNOST</strong></p>\r\n<p><strong>Braňte
    svoje pen&iacute;ze</strong></p>\r\n<p>&nbsp;</p>\r\n<p><span style=\"font-size:
    medium;\">STRANA SVOBODN&Yacute;CH OBČANŮ CHOMUTOV</span></p>\r\n<p><span style=\"font-family:
    Calibri; font-size: medium;\">Strana svobodn&yacute;ch občanů vych&aacute;z&iacute;
    z iniciativy občanů Česk&eacute; republiky, kteř&iacute; si přej&iacute; ž&iacute;t
    ve svobodn&eacute; a suver&eacute;nn&iacute; zemi, spravovan&eacute; st&aacute;tem,
    kter&yacute; chov&aacute; &uacute;ctu ke sv&yacute;m občanům, k jejich životu,
    majetku, svobodě a osobn&iacute; odpovědnosti. Sv&eacute; c&iacute;le strana prosazuje
    f&eacute;rov&yacute;m způsobem na z&aacute;kladě svobodn&eacute; diskuse demokratick&yacute;mi
    metodami při respektov&aacute;n&iacute; platn&yacute;ch pr&aacute;vn&iacute;ch
    předpisů.</span></p>\r\n<p><span style=\"font-family: Calibri; font-size: medium;\">&nbsp;</span></p>\r\n<p><span
    style=\"font-family: Calibri;\">V&iacute;me, že&nbsp; o někter&yacute;ch z&aacute;ležitostech&nbsp;
    obce nemohou &nbsp;efektivně rozhodovat, neboť z&aacute;visej&iacute; legislativně
    na st&aacute;tu.&nbsp; Např&iacute;klad ubytovny pro soci&aacute;lně slab&eacute;
    , nepřizpůsobiv&eacute; , ghetta a rostouc&iacute; extremismus &nbsp;vznikaj&iacute;
    d&iacute;ky &nbsp;&scaron;patn&eacute; soci&aacute;ln&iacute; &nbsp;politice st&aacute;tu.&nbsp;
    <span style=\"font-family: Calibri;\">Nutn&aacute; je rovnost před z&aacute;konem.
    Př&iacute;kladem takov&eacute; nerovnosti jsou antidiskriminačn&iacute; z&aacute;kony.</span></span></p>\r\n<p><span
    style=\"font-family: Calibri;\">&nbsp;Jednou z možnost&iacute;,&nbsp; jak ře&scaron;it
    tuto&nbsp; problematiku &nbsp;by mohla b&yacute;t např&iacute;klad &nbsp;tzv.
    negativn&iacute; daň jako n&aacute;hrada za soci&aacute;ln&iacute; d&aacute;vky<span
    style=\"font-size: medium;\">. </span></span></p>\r\n<p><span style=\"font-family:
    Calibri;\">V tomto směru lze prozat&iacute;m apelovat na vl&aacute;du a př&iacute;slu&scaron;n&aacute;
    ministerstva.</span></p>\r\n<p>&nbsp;<a href=\"http://web.svobodni.cz/program/politicky-program\"><span
    style=\"text-decoration: underline;\"><span style=\"color: #0563c1; font-family:
    Calibri; font-size: medium;\">http://web.svobodni.cz/program/politicky-program</span></span></a></p>\r\n<p>&nbsp;</p>\r\n<p><span
    style=\"font-family: Calibri;\">Proto tam, kde to lze, je &nbsp;třeba na komun&aacute;ln&iacute;
    &uacute;rovni odstranit:</span></p>\r\n<p><strong>Vysok&eacute; daňov&eacute;
    zat&iacute;žen&iacute; občanů</strong></p>\r\n<p><span style=\"font-family: Calibri;\">&nbsp;</span></p>\r\n<p><strong>1)
    Navrhujeme bezplatn&yacute; svoz komun&aacute;ln&iacute;ho odpadu</strong> <strong>v</strong>&nbsp;
    <strong>Chomutově</strong></p>\r\n<p><span style=\"font-family: Calibri;\">Po
    vzoru měst Teplic a Mostu &nbsp;připravit podm&iacute;nky pro bezplatn&yacute;
    svoz komun&aacute;ln&iacute;ho odpadu.</span></p>\r\n<p><span style=\"font-family:
    Calibri;\">Chomutov patř&iacute; mezi města s velmi dobr&yacute;m procentem vytř&iacute;děn&eacute;ho
    odpadu. &nbsp;Lid&eacute; jsou odpovědn&iacute;,&nbsp; proto by měli b&yacute;t
    odměňov&aacute;ni a nikoli trest&aacute;ni zvy&scaron;ov&aacute;n&iacute;m poplatků.
    Slu&scaron;n&iacute; a poctiv&iacute; občan&eacute; dopl&aacute;c&iacute; na neplatiče.
    &nbsp;Č&iacute;m vy&scaron;&scaron;&iacute; poplatky jsou, &nbsp;t&iacute;m v&iacute;ce
    je neplatičů a t&iacute;m v&iacute;ce mus&iacute; slu&scaron;n&iacute; občan&eacute;
    platit. &nbsp;Městu n&aacute;sledně přib&yacute;v&aacute; administrativy a pot&iacute;ž&iacute;
    při vym&aacute;h&aacute;n&iacute; dlužn&yacute;ch č&aacute;stek.</span></p>\r\n<p><span
    style=\"font-family: Calibri;\">Způsobem jak zmen&scaron;it platby za svoz odpadu
    z rozpočtu města může b&yacute;t &nbsp;je&scaron;tě efektivněj&scaron;&iacute;
    tř&iacute;děn&iacute; odpadů.&nbsp; Zde lze občanům Chomutova věřit, že to dok&aacute;ž&iacute;.</span></p>\r\n<p><span
    style=\"font-family: Calibri;\">Dal&scaron;&iacute; možnost&iacute; může b&yacute;t
    v&yacute;běrov&eacute; ř&iacute;zen&iacute; na novou svozovou a &uacute;klidovou&nbsp;
    firmu.</span></p>\r\n<p><span style=\"font-family: Calibri;\">Proč dotovat z rozpočtu
    osmi miliony korun nav&iacute;c hokejov&yacute; klub.?&nbsp; Co z toho m&aacute;
    obyčejn&yacute; občan?</span></p>\r\n<p><span style=\"font-family: Calibri;\">Nechme
    si sv&eacute; pen&iacute;ze v kapse.</span></p>\r\n<p><span style=\"font-family:
    Calibri;\">&nbsp;</span></p>\r\n<p><strong>2) Navrhujeme sn&iacute;žen&iacute;
    daně z nemovitosti</strong></p>\r\n<p><span style=\"font-family: Calibri;\">Současn&iacute;
    zastupitel&eacute; ve sv&eacute;m volebn&iacute;m obdob&iacute; rozhodli nav&yacute;&scaron;it
    koeficient, &nbsp;kter&yacute;m se n&aacute;sob&iacute; daňov&aacute; sazba. Mysl&iacute;me
    si, že zde u n&aacute;s na chud&eacute;m severu by neměli b&yacute;t lid&eacute;
    zatěžov&aacute;ni&nbsp; dal&scaron;&iacute;mi&nbsp; daněmi vice než je nezbytně
    nutn&eacute;.&nbsp; I v Praze je využ&iacute;v&aacute;n niž&scaron;&iacute; m&iacute;stn&iacute;
    koeficient. </span></p>\r\n<p><span style=\"font-family: Calibri;\">Jelikož vyb&iacute;rat
    daň z nemovitosti ukl&aacute;d&aacute; z&aacute;kon, navrhujeme alespoň&nbsp;
    využ&iacute;t niž&scaron;&iacute;ch &nbsp;koeficientů. Město &nbsp;Chomutov &nbsp;v
    porovn&aacute;n&iacute; s ostatn&iacute;mi městy na&scaron;eho kraje patř&iacute;
    k nejdraž&scaron;&iacute;m.</span></p>\r\n<p><span style=\"font-family: Calibri;\">&nbsp;</span></p>\r\n<p><strong>3)
    Navrhujeme postupn&eacute; ru&scaron;en&iacute; parkovac&iacute;ch poplatků </strong></p>\r\n<p><span
    style=\"font-family: Calibri;\">Důsledkem zpoplatněn&iacute; centra města jsou
    ucpan&eacute; nejbliž&scaron;&iacute; neplacen&eacute; ulice. &nbsp;Ne&scaron;ťastn&eacute;
    je placen&iacute; parkovn&eacute;ho u nemocnice. &nbsp;Je třeba vyře&scaron;it
    probl&eacute;my s parkov&aacute;n&iacute;m na s&iacute;dli&scaron;t&iacute;ch.
    Domn&iacute;v&aacute;me se, že vyb&iacute;r&aacute;n&iacute;m parkovn&eacute;ho
    může&nbsp; doch&aacute;zet&nbsp; ke zdvojov&aacute;n&iacute; &nbsp;plateb na &uacute;držbu
    komunikac&iacute;. Na &uacute;držbu silnic m&aacute; obec prostředky &nbsp;ze
    st&aacute;tn&iacute;ho rozpočtu formou daňov&yacute;ch př&iacute;jmů.</span></p>\r\n<p><span
    style=\"font-family: Calibri;\">V prv&eacute; řadě budeme prosazovat ukončen&iacute;
    placen&iacute; parkovn&eacute;ho u nemocnice a polikliniky.</span></p>\r\n<p><span
    style=\"font-family: Calibri;\">D&aacute;le ukončen&iacute; placen&iacute; parkovn&eacute;ho
    v sobotu dopoledne.</span></p>\r\n<p><span style=\"font-family: Calibri;\">Pro
    v&scaron;edn&iacute; dny budeme prosazovat bezplatn&eacute; parkov&aacute;n&iacute;
    dř&iacute;ve než v 19 hodin.</span></p>\r\n<p><span style=\"font-family: Calibri;\"
    data-mce-mark=\"1\">V diskusi s občany jsme &nbsp;připraveni nal&eacute;zt př&iacute;padně
    i&nbsp; jin&aacute;&nbsp; ře&scaron;en&iacute; tak, aby vyhovovala&nbsp; vět&scaron;ině
    občanů města.</span></p>\r\n<p><span style=\"font-family: Calibri;\">&nbsp;</span></p>\r\n<p><strong>4)
    Navrhujeme zru&scaron;en&iacute;&nbsp; diskriminačn&iacute;ch poplatků &nbsp;za
    vlastnictv&iacute; psa</strong></p>\r\n<p><span style=\"font-family: Calibri;\">Pokud
    zru&scaron;&iacute;me poplatky za odpady, bylo by nespravedliv&eacute; platit
    poplatek za držen&iacute; psa. </span></p>\r\n<p><span style=\"font-family: Calibri;\">Ps&iacute;
    exkrement je tak&eacute; odpad.&nbsp; Nicm&eacute;ně &nbsp;po &nbsp;majitel&iacute;ch&nbsp;
    psů budeme nad&aacute;le vyžadovat plněn&iacute; jejich povinnosti, a to po sv&eacute;m
    psu ukl&iacute;zet. </span></p>\r\n<p><span style=\"font-family: Calibri;\">Vlastnictv&iacute;
    psa je pr&aacute;vo, p&eacute;če o psa je odpovědnost.</span></p>\r\n<p><span
    style=\"font-family: Calibri;\">Zneči&scaron;ťov&aacute;n&iacute; veřejn&eacute;ho
    prostranstv&iacute; mus&iacute; b&yacute;t důsledně postihov&aacute;no. Pokuty
    nezodpovědn&yacute;m majitelům mohou př&iacute;jmy&nbsp; č&aacute;stečně&nbsp;
    doplnit. </span></p>\r\n<p><span style=\"font-family: Calibri;\">&nbsp;</span></p>\r\n<p>Jak
    tyto prostředky nahradit? Nen&iacute; třeba, stač&iacute; :</p>\r\n<p><span style=\"font-family:
    Calibri;\">&nbsp;</span></p>\r\n<p><strong>Zjednodu&scaron;it a ze&scaron;t&iacute;hlit
    spr&aacute;vu města</strong></p>\r\n<p><span style=\"font-family: Calibri;\">Hospod&aacute;řsk&yacute;
    a person&aacute;ln&iacute; &nbsp;audit </span></p>\r\n<p><span style=\"font-family:
    Calibri;\">Prověřit veřejn&eacute; zak&aacute;zky </span></p>\r\n<p><span style=\"font-family:
    Calibri;\">Prověřit &nbsp;financov&aacute;n&iacute; organizac&iacute; spadaj&iacute;c&iacute;ch
    pod město</span></p>\r\n<p><span style=\"font-family: Calibri;\">&nbsp;</span></p>\r\n<p><strong>Omezit
    přerozdělov&aacute;n&iacute; peněz daňov&yacute;ch poplatn&iacute;ků</strong></p>\r\n<p><span
    style=\"font-family: Calibri;\">Přerozdělov&aacute;n&iacute; finančn&iacute;ch
    prostředků jen nahr&aacute;v&aacute; korupci, ztr&aacute;tě peněz daňov&yacute;ch
    poplatn&iacute;ků.</span></p>\r\n<p><span style=\"font-family: Calibri;\">Korupce
    je &nbsp;nevyhnuteln&yacute;m důsledkem přebujel&eacute;ho přerozdělov&aacute;n&iacute;,
    dotac&iacute; a zadlužov&aacute;n&iacute; st&aacute;tu, krajů i řady obc&iacute;.</span></p>\r\n<p><span
    style=\"font-family: Calibri;\">Ponechme proto pen&iacute;ze občanům a korupce
    nebude m&iacute;t &scaron;anci.</span></p>\r\n<p><span style=\"font-family: Calibri;\">Finančn&iacute;
    prostředky směřujme &nbsp;předev&scaron;&iacute;m do oblast&iacute; obecně prospě&scaron;n&yacute;ch,
    kter&eacute; nejsou určen&eacute; vybran&yacute;m jednotlivcům či uskupen&iacute;m.
    </span></p>\r\n<p><span style=\"font-family: Calibri;\">Obce maj&iacute;&nbsp;
    vynakl&aacute;dat&nbsp; prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute;
    statky, &nbsp;tj. na obecn&iacute; silnice, chodn&iacute;ky, osvětlen&iacute;
    a zaji&scaron;ťovat poř&aacute;dek a čistotu. </span></p>\r\n<p><span style=\"font-family:
    Calibri;\">Pokud vůbec poskytovat z rozpočtu města podporu z&aacute;jmov&yacute;m
    a sportovn&iacute;m organizac&iacute;m, pak uv&aacute;žlivě&nbsp; a pouze např.
    z přebytků hospodařen&iacute;. Prioritně můžeme podpořit sport dět&iacute; a ml&aacute;deže,
    nikoli profesion&aacute;ln&iacute; sport dospěl&yacute;ch. </span></p>\r\n<p><span
    style=\"font-family: Calibri;\">&nbsp;</span></p>\r\n<p><strong>Prosazovat a udržovat</strong>
    &nbsp;<strong>vyrovnan&yacute; rozpočet města</strong></p>\r\n<p><span style=\"font-family:
    Calibri;\">Obce maj&iacute; hospodařit &nbsp;zpravidla &nbsp;s vyrovnan&yacute;m
    rozpočtem a dluhy tvořit &nbsp;jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch
    za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů.</span></p>\r\n<p><span
    style=\"font-family: Calibri;\">Finančně nechceme podporovat nesmysln&eacute;
    projekty, kter&eacute; je v budoucnu nutno dotovat &nbsp;z rozpočtu města.</span></p>\r\n<p><span
    style=\"font-family: Calibri;\">&nbsp;</span></p>\r\n<p>K rozvoji města a prosperitě
    jeho obyvatel přispěje:</p>\r\n<p>&nbsp;</p>\r\n<p><strong>Usnadněn&iacute; a
    podpora &nbsp;podnik&aacute;n&iacute;</strong></p>\r\n<p><span style=\"font-family:
    Calibri;\">Obce nemaj&iacute; podnikat, sv&yacute;mi aktivitami by neměli deformovat
    tržn&iacute; prostřed&iacute;.</span></p>\r\n<p><span style=\"font-family: Calibri;\">Město
    mus&iacute; přistupovat&nbsp; ke v&scaron;em podnikatelům stejně, nen&iacute;
    možno někter&eacute; zv&yacute;hodňovat a jin&eacute; znev&yacute;hodňovat.</span></p>\r\n<p><span
    style=\"font-family: Calibri;\">&nbsp;</span></p>\r\n<p>Ke kvalitě spravov&aacute;n&iacute;
    města a&nbsp; rozhodov&aacute;n&iacute; zastupitelů přispěje<span style=\"font-family:
    Calibri;\">:</span></p>\r\n<p><span style=\"font-family: Calibri;\">&nbsp;</span></p>\r\n<p><strong>Lidov&eacute;
    veto</strong></p>\r\n<p><span style=\"font-family: Calibri;\">Občan&eacute; mohou
    sv&yacute;m hlasov&aacute;n&iacute;m zvr&aacute;tit jak&eacute;koli rozhodnut&iacute;
    &nbsp;zastupitelstva, s n&iacute;mž &nbsp;nesouhlas&iacute;, &nbsp;nebo&nbsp;
    kter&eacute; je v rozporu s n&aacute;zory vět&scaron;iny občanů. &nbsp;Budeme
    navrhovat a podporovat zaveden&iacute; &nbsp;instituce <span style=\"font-family:
    Calibri;\">&nbsp;</span>opravn&eacute;ho referenda.</span></p>\r\n<p><span style=\"font-family:
    Calibri;\">&nbsp;</span></p>\r\n<p><span style=\"font-family: Calibri;\">&nbsp;</span></p>\r\n<p><strong>Veřejn&eacute;
    zak&aacute;zky podř&iacute;zen&eacute; veřejn&eacute; kontrole</strong></p>\r\n<p><span
    style=\"font-family: Calibri;\">Zad&aacute;v&aacute;n&iacute; veřejn&yacute;ch
    zak&aacute;zek dle platn&yacute;ch z&aacute;konů a informace o průběhu jednotliv&yacute;ch
    ř&iacute;zen&iacute; budou zveřejňov&aacute;ny, stejně tak i fin&aacute;ln&iacute;
    smlouvy. </span></p>\r\n<p><span style=\"font-family: Calibri;\">Firmy ani město
    se nebudou odkazovat na obchodn&iacute; tajemstv&iacute;, jelikož se jedn&aacute;
    o veřejn&eacute; pen&iacute;ze.</span></p>\r\n<p><span style=\"font-family: Calibri;\">&nbsp;</span></p>\r\n<p><strong>Bezpečnost
    a poř&aacute;dek</strong></p>\r\n<p><span style=\"font-family: Calibri;\">Zajist&iacute;me
    takovou městskou policii, kter&aacute; bude chr&aacute;nit životy i majetek občanů
    města. </span></p>\r\n<p><span style=\"font-family: Calibri;\">Odm&iacute;t&aacute;me,
    aby prioritou městsk&eacute; policie bylo měřen&iacute; rychlosti a udělov&aacute;n&iacute;
    pokut za &scaron;patn&eacute; parkov&aacute;n&iacute;.</span></p>\r\n<p><span
    style=\"font-family: Calibri;\">Zasad&iacute;me se o zv&yacute;&scaron;en&yacute;
    dohled městsk&eacute; policie v problematick&yacute;ch oblastech. </span></p>\r\n<p><span
    style=\"font-family: Calibri;\">Zv&aacute;ž&iacute;me možnost zaveden&iacute;
    i &nbsp;jednočlenn&yacute;ch denn&iacute;ch pě&scaron;&iacute;ch hl&iacute;dek
    &ndash; model prvorepublikov&yacute;ch pochůzk&aacute;řů.</span></p>\r\n<p><span
    style=\"font-family: Calibri;\">Městsk&aacute; policie patř&iacute; do ulic a
    ne do kancel&aacute;ř&iacute;.&nbsp; </span></p>\r\n<p><span style=\"font-family:
    Calibri;\">Pokud se nebude městsk&aacute; policie zab&yacute;vat nasazov&aacute;n&iacute;m
    botiček za nezaplacen&iacute; parkovn&eacute;ho, bude vět&scaron;&iacute; prostor
    pro ře&scaron;en&iacute; bezpečnosti v ulic&iacute;ch.</span></p>\r\n<p><strong><span
    style=\"font-family: Calibri;\">&nbsp;</span></strong></p>\r\n<p><span style=\"font-family:
    Calibri;\">&nbsp;</span></p>\r\n<p><strong>CO DĚLAT NEBUDEME:</strong></p>\r\n<p><span
    style=\"font-family: Calibri;\">Nebudeme rozprod&aacute;vat nemovit&eacute; věci
    města pod tržn&iacute; hodnotou</span></p>\r\n<p><span style=\"font-family: Calibri;\">Nebudeme
    zv&yacute;hodňovat jednotlivce</span></p>\r\n<p><span style=\"font-family: Calibri;\">Nebudeme
    vytv&aacute;řet přek&aacute;žky podnikatelům</span></p>\r\n<p><span style=\"font-family:
    Calibri;\">Nebudeme vypisovat veřejn&eacute; zak&aacute;zky na m&iacute;ru konkr&eacute;tn&iacute;m
    firm&aacute;m</span></p>\r\n<p><span style=\"font-family: Calibri;\">Nebudeme
    lhostejn&iacute; k absurdn&iacute; soci&aacute;ln&iacute; politice st&aacute;tu
    </span></p>\r\n<p><span style=\"font-family: Calibri;\">Nebudeme finančně podporovat
    nesmysln&eacute; projekty jen proto, abychom z&iacute;skali č&aacute;st financ&iacute;
    z evropsk&yacute;ch dotačn&iacute;ch fondů a v n&aacute;sleduj&iacute;ch letech
    na ně dopl&aacute;celi z rozpočtu města nemal&eacute; prostředky.</span></p>\r\n<p><span
    style=\"font-family: Calibri;\">&nbsp;</span></p>\r\n<p><span style=\"font-family:
    Calibri;\">&nbsp;</span></p>\r\n<p><span style=\"font-family: Calibri;\">&nbsp;</span></p>\r\n<p><span
    style=\"font-family: Calibri;\">&nbsp;</span></p>\r\n<p><strong>Nechceme zav&aacute;dět
    nova nař&iacute;zen&iacute;, regulace a organizaci shora.&nbsp; Chceme lidem ponechat
    jejich pen&iacute;ze, protože oni sami v&iacute; nejl&eacute;pe, jak s nimi nalož&iacute;.
    Omezujme společně politickou moc.</strong></p>\r\n<p><a href=\"http://www.svobodni.cz/\"><strong><span
    style=\"text-decoration: underline;\"><span style=\"color: #0563c1; font-family:
    Calibri;\">www.svobodni.cz</span></span></strong></a></p>\r\n<p><strong><span
    style=\"font-family: Calibri;\">&nbsp;</span></strong></p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
