---
title: Kdo jsem
slug: kdo-jsem
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 10
editable_elements:
  main/kdo-jsem: "<h3><span style=\"line-height: 1.5em;\">Rodina</span></h3>\r\n<p>Je
    mi 56 let &ndash;&nbsp; narodil jsem se 2. května 1958 v&nbsp;Děč&iacute;ně, kde
    dodnes bydl&iacute;m a žiju.</p>\r\n<h3><span style=\"line-height: 1.5em;\">Vzděl&aacute;n&iacute;</span></h3>\r\n<p>1977
    &ndash; Středn&iacute; ekonomick&aacute; &scaron;kola Děč&iacute;n s&nbsp;maturitou<br
    />1990 &ndash; V&Scaron;E Praha, obchodn&iacute; fakulta</p>\r\n<p>angličtina
    &ndash; aktivně slovem i p&iacute;smem<br />němčina &ndash; slovem i p&iacute;smem
    na &uacute;rovni z&aacute;kladn&iacute; komunikace</p>\r\n<p>&nbsp;</p>\r\n<h3><span
    style=\"line-height: 1.5em;\">Pr&aacute;ce</span></h3>\r\n<p>V&nbsp;praxi jsem
    pro&scaron;el profesemi program&aacute;tor, laborant, personalista, prodejce.
    Dnes pracuji v&nbsp;rodinn&eacute; firmě, kter&aacute; se zab&yacute;v&aacute;
    distribuc&iacute; motorov&yacute;ch a průmyslov&yacute;ch olejů a maziv. D&aacute;le
    se zaj&iacute;m&aacute;m o finančn&iacute; poradenstv&iacute;.</p>\r\n<p>Od 2010
    dosud: Diesel Plus a.s. Děč&iacute;n &ndash; č&aacute;stečn&eacute; zapojen&iacute;
    a participace v rodinn&eacute; firmě &ndash; koordinace požadavků z&aacute;kazn&iacute;ků
    v&nbsp;provozu skladu a pl&aacute;nov&aacute;n&iacute; obchodn&iacute;ch aktivit,
    působen&iacute; jako finančn&iacute; poradce.</p>\r\n<p>2006 &ndash; 2009 ČSPL,
    a.s. Děč&iacute;n; ředitel divize PHM &ndash; ř&iacute;zen&iacute; men&scaron;&iacute;ho
    kolektivu, uzav&iacute;r&aacute;n&iacute; obchodn&iacute;ch smluv, stanoven&iacute;
    a plněn&iacute; obchodn&iacute; politiky v&nbsp;oboru.</p>\r\n<p>1995 &ndash;
    2005 HOLDYS a.s. Děč&iacute;n; gener&aacute;ln&iacute; ředitel společnosti, obchodn&iacute;
    činnost, prodej v&yacute;robn&iacute;ho sortimentu, jedn&aacute;n&iacute; s tuzemsk&yacute;mi
    a zahraničn&iacute;mi obchodn&iacute;mi partnery.</p>\r\n<p>1993 &ndash; 1995
    NAREX Děč&iacute;n (KARNED a.s.); vedouc&iacute; exportn&iacute;ho oddělen&iacute;
    &ndash; jedn&aacute;n&iacute; se zahraničn&iacute;mi partnery, tvorba a realizace
    obchodn&iacute;ch smluv.</p>\r\n<p>1979 &ndash; 1992 KOVOHUTĚ Děč&iacute;n (ALCAN
    s.r.o.); pracovn&iacute;k exportn&iacute;ho oddělen&iacute; pracovn&iacute;k odbytu,
    oper&aacute;tor chemick&eacute; laboratoře, redaktor podnikov&yacute;ch novin,&nbsp;
    program&aacute;tor &ndash; oper&aacute;tor v&yacute;početn&iacute; techniky.</p>\r\n<p>&nbsp;</p>\r\n<h3><span
    style=\"line-height: 1.5em;\">Politika a n&aacute;zory</span></h3>\r\n<p>V&nbsp;letech
    1989 až 2014 jsem nebyl členem ž&aacute;dn&eacute; politick&eacute; strany. Dva
    roky jsem př&iacute;znivcem Svobodn&yacute;ch a v Sen&aacute;tu PČR se na jedn&aacute;n&iacute;ch
    a veřejn&yacute;ch rozprav&aacute;ch budu zasazovat o to, aby se filosofie a politick&eacute;
    c&iacute;le Svobodn&yacute;ch staly plnopr&aacute;vnou souč&aacute;sti politick&eacute;ho
    života v&nbsp;na&scaron;&iacute; zemi.</p>\r\n<p>Během moj&iacute; z&aacute;kladn&iacute;
    vojensk&eacute; služby jsem byl přijat v&nbsp;roce 1979 za kandid&aacute;ta KSČ.
    Po n&aacute;vratu do civilu jsem nastoupil do zaměstn&aacute;n&iacute; v&nbsp;n.p.
    Kovohutě Děč&iacute;n jako program&aacute;tor. V&nbsp;tom obdob&iacute; jsem hledal
    cesty jak ukončit cestu k&nbsp;členstv&iacute; v&nbsp;KSČ, ať již ne&uacute;čast&iacute;
    na schůz&iacute;ch nebo odkazy na věk a zku&scaron;enosti. Ohled na rodinu, otec
    vykon&aacute;val hospod&aacute;řskou funkci v&nbsp;ZPA Děč&iacute;n a taky v&nbsp;t&eacute;
    době vlastn&iacute; z&aacute;jem se uplatnit hospod&aacute;řsk&eacute; praxi,
    mě nakonec vedly ke vstupu do KSČ. Až do roku 1989, kdy jsem vr&aacute;til stranickou
    legitimaci, jsem odm&iacute;tal v&scaron;echny nab&iacute;dky na stranick&eacute;
    funkce, ubr&aacute;nil jsem se n&aacute;tlaku ke vstupu do Lidov&yacute;ch milic&iacute;.</p>\r\n<p>Pr&aacute;vě
    proto, že jsem osobně zažil dobu před rokem 1989, vn&iacute;m&aacute;m snahu politiků
    regulovat na&scaron;e životy citlivě, a to mě přivedlo k&nbsp;filosofii a programu
    Svobodn&yacute;ch a stal jsem se před dvěma roky př&iacute;znivcem Strany svobodn&yacute;ch
    občanů.</p>\r\n<p>Zast&aacute;v&aacute;m n&aacute;zor, že politika je lidsk&eacute;
    jedn&aacute;n&iacute; a lidsk&eacute; jedn&aacute;n&iacute; je politikou.</p>\r\n<p>&nbsp;</p>\r\n<h3><span
    style=\"line-height: 1.5em;\">Z&aacute;jmy</span></h3>\r\n<p>Sport, hudba, politika.</p>\r\n<p>Voln&yacute;
    čas věnuji rodině a sv&yacute;m z&aacute;lib&aacute;m. Hran&iacute; na klasickou
    kytaru v&nbsp;ml&aacute;d&iacute; mě přivedlo k&nbsp;hudbě, zejm&eacute;na k&nbsp;obl&iacute;ben&yacute;m
    ž&aacute;nrům &ndash; country, blues a rock &ndash; a ke zji&scaron;těn&iacute;,
    že hudba se děl&iacute; na dobrou a tu ostatn&iacute;.</p>\r\n<p>Aktivně provozuji
    badminton, tenis, st&aacute;le je&scaron;tě basketbal a plav&aacute;n&iacute;.
    Zaj&iacute;m&aacute;m se o poč&iacute;tačovou grafiku, jsem pravideln&yacute;m
    n&aacute;v&scaron;těvn&iacute;kem děč&iacute;nsk&eacute; knihovny a bav&iacute;
    mě mluven&eacute; slovo.<span style=\"line-height: 1.5em;\">&nbsp;</span></p>"
---
{% extends parent %}

{% block main %}
<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kdo-jsem", hint: "Informace o kandidátovi." %}
{% endeditable_text %}

</div>

{% endblock %}