---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<p>Email: <a href=\"mailto:gregor@dieselplus.cz\">gregor@dieselplus.cz</a></p>\r\n<p>Telefon:&nbsp;
    +420 606&nbsp;727 023</p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}

</div>

{% endblock %}