---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 4
editable_elements:
  main/kontakt: "<p><strong>Michal Zima</strong><br />tel.: 607 500 666<br />e-mail:
    zima@vysocina.svobodni.cz</p>\r\n<p>&nbsp;</p>\r\n<p><strong>Tom&aacute;&scaron;
    Brabenec</strong><br />tel.: 605 746 341<br />e-mail: brabenec@vysocina.svobodni.cz</p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}