---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p>Představujeme program Strany svobodn&yacute;ch občanů,
    pro komun&aacute;ln&iacute; volby v Třeb&iacute;či 2014</p>\r\n<p>&nbsp;</p>\r\n<h2>&Scaron;t&iacute;hl&yacute;
    &uacute;řad</h2>\r\n<p>Jsme zast&aacute;nci &scaron;t&iacute;hl&eacute;ho &uacute;řadu,
    kter&yacute; vykon&aacute;v&aacute; jen nezbytn&eacute; &uacute;koly spojen&eacute;
    se samospr&aacute;vou a st&aacute;tn&iacute; spr&aacute;vou. Jsme proti zbytečn&yacute;m
    a nic nepřin&aacute;&scaron;ej&iacute;c&iacute;m m&oacute;dn&iacute;m projektům.
    V t&eacute;to souvislosti jsme tak&eacute; pro opětovn&eacute; sn&iacute;žen&iacute;
    počtu m&iacute;stostarostů.</p>\r\n<h3>Hospodařen&iacute; bez dluhů</h3>\r\n<p>Prosazujeme
    vyrovnan&eacute; hospodařen&iacute; bez dluhů. Město nesm&iacute; vytv&aacute;řet
    dluhov&eacute; z&aacute;vazky na mnoho let dopředu, jen aby mohlo rozhazovat pen&iacute;ze
    za z&aacute;měry, kter&eacute; jsou často zbytečn&eacute;, městu nen&aacute;lež&iacute;c&iacute;
    či neakutn&iacute;, zat&iacute;mco důležit&eacute; (a mnohdy ani ne tak n&aacute;kladn&eacute;)
    věci mus&iacute; roky čekat. Třeb&iacute;č m&aacute; dostatečn&eacute; př&iacute;jmy
    na to, aby z nich mohla zaplatit i vět&scaron;&iacute; investice.</p>\r\n<h3>Ne
    dlouhodob&yacute;m z&aacute;vazkům</h3>\r\n<p>Jelikož žijeme v době, kter&aacute;
    se velmi rychle vyv&iacute;j&iacute;, nen&iacute; rozumn&eacute;, aby město uzav&iacute;ralo
    smlouvy na dlouho dopředu. Již brzy se může uk&aacute;zat, že dan&aacute; smlouva
    byla &scaron;patn&aacute; či nev&yacute;hodn&aacute;, př&iacute;padně se může
    objevit lep&scaron;&iacute;, efektivněj&scaron;&iacute; a levněj&scaron;&iacute;
    způsob, jak dos&aacute;hnout požadovan&eacute;ho &uacute;čelu. Dlouhodob&eacute;
    smlouvy v&scaron;ak možnosti změny blokuj&iacute;.</p>\r\n<h3>Fairtrade</h3>\r\n<p>Fairtrade
    je životn&iacute; styl jednotlivce. Každ&yacute; m&aacute; pr&aacute;vo volby
    &ndash; vybrat si, zda si přeje nakupovat &bdquo;fairtrade&ldquo; v&yacute;robky
    či nikoli. Město, kraj, st&aacute;t, Evropsk&aacute; unie ani nikdo jin&yacute;
    by v&scaron;ak neměl zv&yacute;hodňovat, ať už propagac&iacute; či jakkoli jinak,
    vybran&eacute; v&yacute;robce, distributory či prodejce konkr&eacute;tn&iacute;ho
    typů produktů. Podpora fairtrade je podpora pouze vybran&eacute; skupiny obyvatel
    a podnikatelů, kteř&iacute; se o tuto problematiku zaj&iacute;maj&iacute;. Roz&scaron;&iacute;řen&iacute;
    počtu parkovac&iacute;ch m&iacute;st, vybudov&aacute;n&iacute; nov&eacute;ho chodn&iacute;ku
    nebo jin&aacute; podobn&aacute; investice jsou investicemi do rozvoje města, ze
    kter&yacute;ch bude m&iacute;t užitek, oproti městsk&eacute;mu fairtrade, vět&scaron;&iacute;
    množstv&iacute; obyvatel. Z těchto důvodů jsme pro vystoupen&iacute; z projektu
    Fairtradov&yacute;ch měst.</p>\r\n<h3>Zdrav&eacute; město</h3>\r\n<p>Jsme pro
    zdrav&yacute; rozum m&iacute;sto &bdquo;Zdrav&eacute;ho města&ldquo;. Projekt
    Zdrav&eacute; město je zbytečn&yacute; a finančně n&aacute;ročn&yacute;. Je sice
    chv&aacute;lyhodn&eacute;, že se město snaž&iacute; na sv&eacute;m &uacute;zem&iacute;
    např. vytvořit co nejv&iacute;ce nekuř&aacute;ck&yacute;ch restaurac&iacute;,
    kav&aacute;ren a dal&scaron;&iacute;ch podniků, ale re&aacute;lně jejich n&aacute;růst
    nesouvis&iacute; ani tak s&nbsp;projektem Zdrav&eacute; město jako sp&iacute;&scaron;e
    s přirozen&yacute;m v&yacute;vojem a tlakem z&aacute;kazn&iacute;ků na samotn&eacute;
    provozovatele.</p>\r\n<p>&nbsp;</p>\r\n<h2>Otevřen&aacute; radnice</h2>\r\n<h3>Webov&eacute;
    str&aacute;nky města</h3>\r\n<p>Jsme pro v&yacute;razn&eacute; zpřehledněn&iacute;
    cel&eacute;ho webu a z&aacute;roveň o jeho roz&scaron;&iacute;řen&iacute;, aby
    občan&eacute; mohli co nejv&iacute;ce sv&yacute;ch z&aacute;ležitost&iacute; vyř&iacute;dit
    pohodlně na webu. Tyto změny lze prov&eacute;st př&iacute;mo na současn&yacute;ch
    str&aacute;nk&aacute;ch, nebude třeba draze pořizovat nov&eacute;.</p>\r\n<h3>Transparentn&iacute;
    &uacute;čty</h3>\r\n<p>Transparentn&iacute; &uacute;čet je speci&aacute;ln&iacute;
    služba, kter&aacute; umožn&iacute; zprůhlednit hospodařen&iacute; města. Transparentn&iacute;
    &uacute;čet umožňuje kdykoli komukoli nahl&eacute;dnout do pohybů na &uacute;čtu.
    Budeme prosazovat zaveden&iacute; transparentn&iacute;ch &uacute;čtů pro v&scaron;echny
    provozn&iacute; &uacute;čty, s v&yacute;jimkou &uacute;čtů, kde by zveřejněn&iacute;
    transakc&iacute; bylo v&nbsp;rozporu s ochranou osobn&iacute;ch &uacute;dajů.
    Z důvodu možn&yacute;ch &uacute;spor na poplatc&iacute;ch by se o v&yacute;běru
    banky rozhodovalo na z&aacute;kladě v&yacute;běrov&eacute;ho ř&iacute;zen&iacute;.
    V současnosti stoj&iacute; město bankovn&iacute; služby na poplatc&iacute;ch zhruba
    100 tis&iacute;c korun každ&yacute; rok.</p>\r\n<h3>Zveřejňov&aacute;n&iacute;
    informac&iacute;</h3>\r\n<p>Budeme se snažit zveřejňovat maxim&aacute;ln&iacute;
    množstv&iacute; informac&iacute;, včetně uzav&iacute;ran&yacute;ch smluv.</p>\r\n<h3>Videoz&aacute;znamy
    ze zased&aacute;n&iacute; zastupitelstva</h3>\r\n<p>K aktu&aacute;lně zveřejňovan&yacute;m
    arch&iacute;vům audioz&aacute;znamů budeme tak&eacute; archivovat a zveřejňovat
    videoz&aacute;znamy ze zased&aacute;n&iacute; zastupitelstva. Odkazy na arch&iacute;vy
    audio i video z&aacute;znamů, v&yacute;sledky hlasov&aacute;n&iacute;, stejně
    tak i na on-line přenos zased&aacute;n&iacute; zastupitelstva budou um&iacute;stěny
    na &uacute;vodn&iacute; str&aacute;nce webu města.</p>\r\n<h3>Diskuze s občany</h3>\r\n<p>Chceme
    zav&eacute;st neform&aacute;ln&iacute; osobn&iacute; setk&aacute;v&aacute;n&iacute;
    a diskuze s občany. Veden&iacute; města by nemělo b&yacute;t odtrženo od skutečn&eacute;ho
    života. Je důležit&eacute; zn&aacute;t probl&eacute;my a potřeby občanů. Občasn&eacute;
    zji&scaron;ťov&aacute;n&iacute; informac&iacute; rozes&iacute;l&aacute;n&iacute;m
    form&aacute;ln&iacute;ch dotazn&iacute;ků, nikdy nenahrad&iacute; otevřenou diskuzi.</p>\r\n<h3>Otevřen&eacute;
    datov&eacute; form&aacute;ty</h3>\r\n<p>Město by mělo interně, ale zejm&eacute;na
    navenek směrem k&nbsp;občanům, preferovat použ&iacute;v&aacute;n&iacute; tzv.
    otevřen&yacute;ch form&aacute;tů (jako jsou např. PDF či Open Document Format).
    Použ&iacute;v&aacute;n&iacute; form&aacute;tů, jejichž specifikace je bez omezen&iacute;
    dostupn&aacute; a standardizovan&aacute; a k nimž existuje plně kompatibiln&iacute;
    bezplatn&yacute; software různ&yacute;ch v&yacute;robců, nam&iacute;sto uzavřen&yacute;ch
    form&aacute;tů jednoho v&yacute;robce, je nejen vstř&iacute;cn&yacute;m krokem
    k občanům (současn&yacute; software města tyto form&aacute;ty podporuje), ale
    rovněž možnou &uacute;sporou n&aacute;kladů přechodem na konkurenčn&iacute; software.
    Např&iacute;klad za&scaron;kolen&iacute; uživatelů na bezplatn&yacute; kancel&aacute;řsk&yacute;
    bal&iacute;k by st&aacute;lo dokonce m&eacute;ně než polovinu ceny dnes použ&iacute;van&eacute;ho
    softwaru.</p>\r\n<p>&nbsp;</p>\r\n<h2>Poplatky</h2>\r\n<p>Jsme proti jak&eacute;mukoli
    zav&aacute;děn&iacute; nov&yacute;ch poplatků nebo zvy&scaron;ov&aacute;n&iacute;
    poplatků aktu&aacute;ln&iacute;ch. Poplatky nejsou nic jin&eacute;ho než dal&scaron;&iacute;
    forma daně. Na&scaron;&iacute;m c&iacute;lem je sn&iacute;žen&iacute; poplatků
    na minim&aacute;ln&iacute; hodnoty, př&iacute;padně, je-li to možn&eacute;, jejich
    naprost&eacute; zru&scaron;en&iacute;.</p>\r\n<h3>Poplatky za odpady</h3>\r\n<p>Zru&scaron;en&iacute;m
    poplatků za svoz odpadu zůstane lidem v rukou v&iacute;ce peněz, kter&eacute;
    pak mohou použ&iacute;t na vlastn&iacute;, např. sportovn&iacute;, aktivity. St&aacute;t
    na jedn&eacute; straně od v&scaron;ech občanů vyb&iacute;r&aacute; pen&iacute;ze
    prostřednictv&iacute;m mnoha různ&yacute;ch poplatků a dan&iacute; a na druh&eacute;
    straně pak č&aacute;st vybran&yacute;ch peněz vrac&iacute; vybran&yacute;m z&aacute;jmov&yacute;m
    skupin&aacute;m na vybran&eacute; činnosti, kter&eacute; &bdquo;on&ldquo; uzn&aacute;v&aacute;
    za vhodn&eacute; (sport, kultura ad.). Takto se chov&aacute; i město.</p>\r\n<p>Svobodn&iacute;
    chtěj&iacute; zru&scaron;it poplatek za svoz odpadu, kter&yacute; ve stejn&eacute;
    v&yacute;&scaron;i mus&iacute; platit &uacute;plně v&scaron;ichni obyvatel&eacute;
    Třeb&iacute;če. Lid&eacute; si pak sami rozhodnou, na co je použij&iacute;, č&iacute;m
    sv&eacute; životy obohat&iacute;. Svoz odpadu může město zaplatit z peněz, kter&eacute;
    již nebude muset vynakl&aacute;dat na zv&yacute;hodňov&aacute;n&iacute; vyvolen&yacute;ch
    (aktivit).</p>\r\n<p>Zru&scaron;en&iacute;m poplatků za svoz odpadu se v ž&aacute;dn&eacute;m
    př&iacute;padě nezř&iacute;k&aacute;me odpovědnosti v oblasti tř&iacute;děn&iacute;.
    Nemysl&iacute;me si v&scaron;ak, že spr&aacute;vnou cestou, jak zv&yacute;&scaron;it
    objem tř&iacute;děn&eacute;ho odpadu, je zvy&scaron;ov&aacute;n&iacute; poplatků,
    jak se dosud děje. Na&scaron;&iacute;m c&iacute;lem je tř&iacute;děn&iacute; lidem
    maxim&aacute;lně ulehčit, zejm&eacute;na zv&yacute;&scaron;en&iacute;m počtu kontejnerů
    na tř&iacute;děn&yacute; odpad a jejich rozm&iacute;stěn&iacute;m bl&iacute;že
    k lidem.</p>\r\n<h3>Poplatky za psy</h3>\r\n<p>Vysok&eacute; poplatky za psy nemaj&iacute;
    požadovan&yacute; regulačn&iacute; efekt. Sp&iacute;&scaron;e naopak. Lid&eacute;
    maj&iacute; tendenci přihla&scaron;ovat vlastn&iacute; psy mimo m&iacute;sto sv&eacute;ho
    bydli&scaron;tě, kde je poplatek vysok&yacute;, do m&iacute;st, kde je niž&scaron;&iacute;
    (k&nbsp;př&iacute;buzn&yacute;m či zn&aacute;m&yacute;m na venkov nebo do okrajov&yacute;ch
    č&aacute;st&iacute; města). Zru&scaron;en&iacute;m poplatku nebude důvod registrovat
    sv&eacute;ho psa mimo sv&eacute; bydli&scaron;tě a evidence psů tak bude v&iacute;ce
    odpov&iacute;dat realitě. Současně jsme pro zru&scaron;en&iacute; vyd&aacute;v&aacute;n&iacute;
    s&aacute;čků na exkrementy zdarma. Pokud někdo vlastn&iacute; psa, n&aacute;kup
    těchto s&aacute;čků je pouze minim&aacute;ln&iacute; v&yacute;daj, v porovn&aacute;n&iacute;
    s ostatn&iacute;mi (krmen&iacute;, očkov&aacute;n&iacute; &hellip;).</p>\r\n<p>V
    souladu s vylep&scaron;en&iacute;m webov&yacute;ch str&aacute;nek města by mělo
    b&yacute;t možn&eacute; prov&eacute;st přihl&aacute;&scaron;en&iacute; psa elektronicky.
    Při n&aacute;v&scaron;těvě &uacute;řadu pak již dojde jen k potvrzen&iacute; vyplněn&yacute;ch
    &uacute;dajů a vyzvednut&iacute; zn&aacute;mky.</p>\r\n<p>&nbsp;</p>\r\n<h2>&Scaron;kolstv&iacute;</h2>\r\n<h3>Z&aacute;padomoravsk&aacute;
    vysok&aacute; &scaron;kola</h3>\r\n<p>Zast&aacute;v&aacute;me n&aacute;zor, že
    studium vysok&eacute; &scaron;koly je z&aacute;ležitost jednotlivce. Vysoko&scaron;kolsk&eacute;
    studium by v&nbsp;ž&aacute;dn&eacute;m př&iacute;padě nemělo b&yacute;t spolufinancov&aacute;no
    z rozpočtu města. Z tohoto důvodu by mělo město zru&scaron;it svoji &uacute;čast
    v Z&aacute;padomoravsk&eacute; vysok&eacute; &scaron;kole a přestat ji jakkoli
    dotovat. Provoz vysok&eacute; &scaron;koly by měl b&yacute;t zaji&scaron;těn v&yacute;hradně
    ze &scaron;koln&eacute;ho, př&iacute;padně z peněz spolupracuj&iacute;c&iacute;ch
    firem, pro kter&eacute; vysok&aacute; &scaron;kola připravuje budouc&iacute; nebo
    současn&eacute; zaměstnance.</p>\r\n<h3>Mateřsk&eacute; a z&aacute;kladn&iacute;
    &scaron;koly</h3>\r\n<p>Z&aacute;kladn&iacute; vzděl&aacute;v&aacute;n&iacute;
    je, na rozd&iacute;l od vysoko&scaron;kolsk&eacute;ho, povinn&eacute;. Z tohoto
    důvodu je nutn&eacute;, aby z&aacute;kladn&iacute; vzděl&aacute;n&iacute; mělo
    co nejvy&scaron;&scaron;&iacute; možnou &uacute;roveň. U&scaron;etřen&eacute;
    pen&iacute;ze z ukončen&iacute; zapojen&iacute; města Třeb&iacute;če v ZMV&Scaron;
    navrhujeme v maxim&aacute;ln&iacute; m&iacute;ře použ&iacute;t pro nav&yacute;&scaron;en&iacute;
    financov&aacute;n&iacute; mateřsk&yacute;ch a z&aacute;kladn&iacute;ch &scaron;kol,
    jejichž zřizovatelem je město Třeb&iacute;č.</p>\r\n<p>&nbsp;</p>\r\n<h2>Doprava</h2>\r\n<p>R&aacute;di
    bychom pokračovali v zah&aacute;jen&yacute;ch projektech a diskuz&iacute;ch souvisej&iacute;c&iacute;ch
    se zlep&scaron;ov&aacute;n&iacute;m dopravn&iacute; infrastruktury, včetně pokračov&aacute;n&iacute;
    ve vyjedn&aacute;v&aacute;n&iacute; o vytvořen&iacute; jižn&iacute;ho obchvatu
    města.</p>\r\n<h3>MHD</h3>\r\n<p>Jsme pro uvolněn&iacute; trhu s městskou hromadnou
    dopravou. Konkurence v t&eacute;to oblasti může v&yacute;razně zv&yacute;&scaron;it
    obslužnost ve městě a z&aacute;roveň sn&iacute;žit potřebu provoz MHD každoročně
    dotovat.</p>\r\n<h3>Univerz&aacute;ln&iacute; parkovac&iacute; karta pro Třeb&iacute;č&aacute;ky</h3>\r\n<p>Vět&scaron;ina
    parkovi&scaron;ť v okol&iacute; centra města je zpoplatněna. Navrhujeme proto
    vytvořen&iacute; nov&eacute; parkovac&iacute; karty, vyd&aacute;van&eacute; pouze
    lidem s trval&yacute;m pobytem v Třeb&iacute;či, kter&aacute; bude platit na v&scaron;ech
    parkovi&scaron;t&iacute;ch s&nbsp;parkovac&iacute;m automatem ve spr&aacute;vě
    města. Každ&yacute; občan Třeb&iacute;če tak bude moci se sv&yacute;m autem kdykoli
    zaparkovat na těchto m&iacute;stech. Cena parkovac&iacute; karty by neměla přes&aacute;hnout
    600 Kč a jej&iacute; platnost by byla 1 kalend&aacute;řn&iacute; rok. Pro ty,
    kteř&iacute; aktu&aacute;lně využ&iacute;vaj&iacute; parkovac&iacute; karty pro
    rezidenty př&iacute;slu&scaron;n&yacute;ch městsk&yacute;ch č&aacute;st&iacute;,
    by nov&aacute; karta současně umožňovala parkov&aacute;n&iacute; i na m&iacute;stech
    s&nbsp;parkovac&iacute;m automatem.</p>\r\n<h3>Cyklostezky</h3>\r\n<p>R&aacute;di
    podpoř&iacute;me vybudov&aacute;n&iacute; cyklostezek v&nbsp;m&iacute;stech, kde
    je pro ně dostatečn&yacute; prostor a tak&eacute; s&nbsp;možnost&iacute; n&aacute;vaznosti
    dal&scaron;&iacute;ch tras. Jsme proti vytv&aacute;řen&iacute; cyklostezek, podobn&yacute;ch
    t&eacute; na ulici Modř&iacute;nov&aacute; (pruh v jednom směru, nikoli v&scaron;ak
    ve druh&eacute;m, nav&iacute;c nebezpečně um&iacute;stěn&eacute; př&iacute;mo
    za parkuj&iacute;c&iacute;mi auty), kter&aacute; situaci na silnici sp&iacute;&scaron;e
    zhor&scaron;uje, než aby j&iacute; pom&aacute;hala. Mnoz&iacute; cyklist&eacute;
    ji pak raději ignoruj&iacute;, jin&iacute; ad absurdum tudy jezd&iacute; i v opačn&eacute;m
    směru. Nen&iacute; možn&eacute; odkrajovat ze silnice, kter&aacute; nebyla na
    cyklopruhy dimenzovan&aacute;, &scaron;irok&eacute; p&aacute;sy pro občasn&eacute;
    použit&iacute; cyklisty.</p>\r\n<p>&nbsp;</p>\r\n<h2>Sport a kultura</h2>\r\n<p>R&aacute;di
    podpoř&iacute;me kulturn&iacute; či sportovn&iacute; aktivity dět&iacute;, nevid&iacute;me
    ale důvod, proč podporovat podobn&eacute; aktivity dospěl&yacute;ch. Město nemůže
    rozhodovat za občany, kter&aacute; aktivita je lep&scaron;&iacute; a kter&aacute;
    hor&scaron;&iacute;. Mělo by b&yacute;t na každ&eacute;m, zda si přeje hr&aacute;t
    fotbal, j&iacute;t do divadla nebo dělat cokoli jin&eacute;ho za vlastn&iacute;
    pen&iacute;ze. Nab&iacute;dku na využit&iacute; voln&eacute;ho času dospěl&yacute;ch
    by měly vytv&aacute;řet podnikatelsk&eacute; subjekty za rovn&yacute;ch podm&iacute;nek
    pro jejich činnost.</p>\r\n<h3>Aquapark Laguna</h3>\r\n<p>Po př&iacute;stavbě
    aquaparku k plaveck&eacute;mu are&aacute;lu Laguna bude město každoročně provoz
    are&aacute;lu dotovat (pro rok 2014 se jedn&aacute; o č&aacute;stku přes 7 mili&oacute;nů
    korun). Je-li tedy aquapark ztr&aacute;tov&yacute; a město jej mus&iacute; dotovat,
    neexistuje ž&aacute;dn&yacute; důvod k tomu, aby byl provoz are&aacute;lu zaji&scaron;těn
    komerčn&iacute;mi subjekty s&nbsp;neprůhledn&yacute;m hospodařen&iacute;m. Navrhujeme
    tedy, aby město založilo neziskovou organizaci s&nbsp;transparentn&iacute;m &uacute;četnictv&iacute;m,
    kter&aacute; bude zaji&scaron;ťovat provoz ztr&aacute;tov&eacute;ho are&aacute;lu.
    Firmy, kter&eacute; teď maj&iacute; are&aacute;l v&nbsp;pron&aacute;jmu, se mohou,
    pokud uspěj&iacute; ve v&yacute;běrov&eacute;m ř&iacute;zen&iacute;, st&aacute;t
    dodavateli.</p>\r\n<h3>Koupali&scaron;tě Polanka</h3>\r\n<p>Každ&yacute; rok město
    utop&iacute; v Polance půl mili&oacute;nu korun, aby ho mohli současn&iacute;
    provozovatel&eacute; &ndash; kteř&iacute; maj&iacute; v&nbsp;pron&aacute;jmu i
    Lagunu a v&nbsp;podstatě jim Polanka odeb&iacute;r&aacute; z&aacute;kazn&iacute;ky
    aquaparku - udržet několik měs&iacute;ců v roce v chodu. Navrhujeme přestat Polanku
    dotovat a nam&iacute;sto toho ji pronajmout v aukci. Nov&yacute; provozovatel
    bude přirozeně tlačen k tomu, aby pro něj nebyla ztr&aacute;tov&aacute; &ndash;
    může ji zpř&iacute;stupnit v&iacute;ce lidem sn&iacute;žen&iacute;m vstupn&eacute;ho
    a vyděl&aacute;vat na vedlej&scaron;&iacute;ch služb&aacute;ch (např. prodejem
    občerstven&iacute;).</p>\r\n<h3>MKS Třeb&iacute;č</h3>\r\n<p>Navrhujeme hloubkovou
    anal&yacute;zu činnost&iacute; MKS Třeb&iacute;č, jej&iacute;mž v&yacute;sledkem
    by měly b&yacute;t n&aacute;vrhy na optimalizaci a sn&iacute;žen&iacute; n&aacute;kladů.
    MKS Třeb&iacute;č, dle n&aacute;s, nejenže hospodař&iacute; neefektivně, ale naprosto
    zbytečně podporuje nebo poř&aacute;d&aacute; akce, kter&yacute;mi konkuruje soukrom&yacute;m
    subjektům, a omezuje tak jejich možnosti.</p>\r\n<p>&nbsp;</p>\r\n<h2>Bezpečnost</h2>\r\n<p>Nesouhlas&iacute;me
    s navy&scaron;ov&aacute;n&iacute;m počtu kamer ve městě (až na 100% pokryt&iacute;,
    tedy monitorov&aacute;n&iacute; &uacute;plně v&scaron;ech &uacute;plně v&scaron;ude)
    &ndash; na ztr&aacute;tu soukrom&iacute; v&scaron;ech obyvatel, kteř&iacute; se
    ničeho nedopou&scaron;t&iacute;, m&aacute; připadnout diskutabiln&iacute; zlep&scaron;en&iacute;
    prevence kriminality. Zku&scaron;enosti odjinud v&scaron;ak ž&aacute;dn&eacute;
    v&yacute;znamn&eacute; zlep&scaron;en&iacute; nepotvrzuj&iacute;. Jsme pro omezen&iacute;
    činnosti městsk&eacute; policie z oblast&iacute;, kter&eacute; ji nepř&iacute;slu&scaron;&iacute;
    (např. měřen&iacute; rychlosti), a m&iacute;sto toho navrhujeme zv&yacute;&scaron;en&iacute;
    počtu městsk&yacute;ch str&aacute;žn&iacute;ků ve městě. Na rozd&iacute;l od kamerov&eacute;ho
    syst&eacute;mu může vět&scaron;&iacute; množstv&iacute; pochůzk&aacute;řů působit
    jako &uacute;činn&aacute; prevence kriminality.</p>\r\n<p>&nbsp;</p>\r\n<h2>Podnik&aacute;n&iacute;</h2>\r\n<p>Jsme
    pro vytvořen&iacute; maxim&aacute;ln&iacute; svobody v oblasti podnik&aacute;n&iacute;.
    Z&aacute;roveň ale nesouhlas&iacute;me s jak&yacute;mkoli zv&yacute;hodňov&aacute;n&iacute;m
    někter&yacute;ch typů podnik&aacute;n&iacute; oproti jin&yacute;m.</p>\r\n<h3>Průmyslov&aacute;
    z&oacute;na</h3>\r\n<p>Bez dostatečně zaji&scaron;těn&yacute;ch podm&iacute;nek
    a roz&scaron;iřov&aacute;n&iacute; průmyslov&yacute;ch z&oacute;n nen&iacute;
    možn&eacute; přil&aacute;kat nov&eacute; investory a firmy, kter&eacute; vytvoř&iacute;
    nov&aacute; pracovn&iacute; m&iacute;sta. Kapacita dř&iacute;ve vybudovan&yacute;ch
    průmyslov&yacute;ch z&oacute;n je již naplněna, a nen&iacute; tak m&iacute;sto
    pro nov&eacute; z&aacute;jemce. Budeme se aktivně pod&iacute;let na vytv&aacute;řen&iacute;
    nov&yacute;ch průmyslov&yacute;ch z&oacute;n.</p>\r\n<h3>Hern&iacute; automaty</h3>\r\n<p>Nejedn&aacute;
    se o problematiku tak jednoduchou, jak je n&aacute;m v dne&scaron;n&iacute; době,
    z mnoha směrů, předkl&aacute;d&aacute;no. Gamblerstv&iacute; je velk&yacute; probl&eacute;m,
    ale rozhodně nen&iacute; men&scaron;&iacute; než alkoholismus nebo drogov&aacute;
    z&aacute;vislost. Přestože je alkoholismus probl&eacute;m a opilce večer potk&aacute;te
    t&eacute;měř na každ&eacute;m rohu, o zav&iacute;r&aacute;n&iacute; barů nikdo
    nemluv&iacute;. Drogy jsou oproti tomu z&aacute;konem zak&aacute;zan&eacute;,
    přesto ale z&aacute;kazem probl&eacute;m nevymizel, naopak, přesunul se do čern&eacute;
    ekonomiky, a t&iacute;m se nad n&iacute;m ztratila jak&aacute;koli kontrola. Z&aacute;kazem
    provozov&aacute;n&iacute; v&yacute;hern&iacute;ch automatů ve městě se probl&eacute;m
    nevyře&scaron;&iacute;, pouze se změn&iacute; v jin&eacute;. Jak je již zn&aacute;mo
    z př&iacute;kladů v jin&yacute;ch městech, existuje velk&eacute; množstv&iacute;
    způsobů, jak tento z&aacute;kaz obej&iacute;t. Vedlej&scaron;&iacute;m efektem
    při obejit&iacute; vyhl&aacute;&scaron;ky provozovatelem, jsou pak nulov&eacute;
    odvody z&nbsp;provozu v&yacute;hern&iacute;ch automatů do městsk&eacute; kasy.</p>\r\n<p>Na
    zaji&scaron;těn&iacute; bezpečnosti a poř&aacute;dku tu m&aacute;me městskou policii.
    Tak jako se městsk&aacute; policie mus&iacute; starat o poř&aacute;dek a bezpečnost
    v okol&iacute; barů a restaurac&iacute;, stejně mus&iacute; přistupovat i k okol&iacute;
    heren, je to jejich pr&aacute;ce.</p>\r\n<p>&nbsp;</p>\r\n<p><a href=\"http://brabenec.net/svobodni_trebic_kv14_program.pdf\">St&aacute;hněte
    si n&aacute;&scaron; program ve form&aacute;tu PDF.</a></p>\r\n<p>&nbsp;</p>\r\n<p>Svobodn&iacute;
    v komun&aacute;ln&iacute; politice vych&aacute;z&iacute; obecně z těchto principů:</p>\r\n<ol>\r\n<li>Obce
    hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute;
    jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute;
    vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute;
    prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona
    o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</li>\r\n<li>Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v
    obc&iacute;ch.</li>\r\n<li>Obce z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi
    aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.</li>\r\n<li>Obce
    ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně
    konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</li>\r\n<li>V
    př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat
    na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</li>\r\n<li>Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</li>\r\n</ol>"
---
{% extends 'parent' %}

{% block main %}



<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
