---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<p><strong>Jiř&iacute; Zapletal</strong><br /> <strong>zapletal@svobodni.cz</strong><strong>774
    883 284</strong></p>\r\n<p><strong>Krajsk&yacute; web: <a href=\"moravskoslezskykraj.svobodni.cz\">moravskoslezskykraj.svobodni.cz</a><br
    /> </strong></p>\r\n<p><strong>č. &uacute;čtu:</strong> <a href=\"https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?ID_ucet=2500382833\">2500382833/2010</a></p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}