---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<h1>Volebn&iacute; program pro komun&aacute;ln&iacute; volby
    2014</h1>\r\n<h2>Sn&iacute;žen&iacute; poplatku za odpady o 150 Kč</h2>\r\n<p>Poplatek
    za odpady je dan&iacute; z&nbsp;hlavy - plat&iacute;me jej bez ohledu věk, bydli&scaron;tě.
    V&nbsp;t&eacute;to chv&iacute;li čin&iacute; 498 Kč ročně. Za tuto č&aacute;stku
    jsou poskytov&aacute;ny&nbsp;monopolem na zpracov&aacute;n&iacute; komun&aacute;ln&iacute;ho
    odpadu (OZO Ostrava) někter&eacute; atypick&eacute; služby&nbsp; &ndash; např.
    informačn&iacute; let&aacute;ky o nov&yacute;ch podzemn&iacute;ch kontejnerech,
    ta&scaron;ky na tř&iacute;děn&yacute; odpad (kter&eacute; mnoz&iacute; použ&iacute;vaj&iacute;
    na n&aacute;kup) apod. Sn&iacute;žen&iacute; je možn&eacute; o 150 Kč bez v&yacute;znamněj&scaron;&iacute;ho
    dopadu na rozpočet města. V&nbsp;r&aacute;mci rozpočtu se jedn&aacute; o č&aacute;stku
    cca 30 mil. Kč (po odečten&iacute; současn&yacute;ch neplatičů). Sn&iacute;žen&iacute;m
    č&aacute;stky dojde k&nbsp;efektu vy&scaron;&scaron;&iacute;ho v&yacute;běru &ndash;
    č&aacute;st neplatičů totiž č&aacute;stku 350 Kč bude považovat za schůdněj&scaron;&iacute;.
    V&yacute;padek 30 mil. je pokryto efektivněj&scaron;&iacute;m hospodařen&iacute;m
    spol. OZO Ostrava.</p>\r\n<h2>&nbsp;</h2>\r\n<h2>Přibl&iacute;žen&iacute; &uacute;řadu
    lidem - Na &uacute;řad kdy se V&aacute;m to hod&iacute;</h2>\r\n<p>&Uacute;řad
    m&aacute; sloužit lidem, nikoli naopak. Aby mohl lidem skutečně sloužit, mus&iacute;
    m&iacute;t takov&yacute; provoz, aby občany neomezoval. Je nepř&iacute;pustn&eacute;,
    aby si občan&eacute; museli br&aacute;t dovolenou, pokud potřebuj&iacute; vyř&iacute;dit
    z&aacute;kladn&iacute; věci na &uacute;řadě. Z&nbsp;tohoto důvodu navrhujeme zř&iacute;zen&iacute;
    speci&aacute;ln&iacute;ch kontaktn&iacute;ch kancel&aacute;ř&iacute; v&nbsp;n&aacute;kupn&iacute;ch
    a obdobn&yacute;ch centrech. V&nbsp;těchto kancel&aacute;ř&iacute;ch by byla otev&iacute;rac&iacute;
    doba stejn&aacute; jako u v&scaron;ech ostatn&iacute;ch obchodů, tzn. vč. sobot
    a neděl&iacute;. Kontaktn&iacute; kancel&aacute;ře by vyřizovali jednoduch&eacute;
    &uacute;kony &ndash; např. ověřov&aacute;n&iacute; podpisů, listin, platba poplatků,
    pod&aacute;v&aacute;n&iacute; formul&aacute;řů apod. Z&aacute;roveň by sloužily
    jako vyzved&aacute;vac&iacute; m&iacute;sto pro občansk&eacute; průkazy, pasy
    atd. (občan&eacute; Ostravy by si mohli pož&aacute;dat o možnost vyzvednut&iacute;
    na kontaktn&iacute;m m&iacute;stě, nemuseli by tud&iacute;ž st&aacute;t ve front&aacute;ch
    na Gork&eacute;ho). N&aacute;klady na tyto kontaktn&iacute; kancel&aacute;ře pokryje
    zru&scaron;en&iacute; jednoho m&iacute;sta n&aacute;městka prim&aacute;tora. Uspořen&eacute;
    finance pokryj&iacute; nejen n&aacute;jem (i v&nbsp;př&iacute;padě komerčn&iacute;ho
    n&aacute;jemn&eacute;ho), ale n&aacute;klady na vybaven&iacute; a zabezpečen&iacute;.
    Mzdov&eacute; n&aacute;klady zůstanou zachov&aacute;ny, jelikož pracovn&iacute;ci
    budou převedeni ze současn&yacute;ch &uacute;řadů. Dojde ke sn&iacute;žen&iacute;
    mzdov&yacute;ch n&aacute;kladů na jednotliv&yacute;ch obvodn&iacute;ch radnic&iacute;ch.
    Č&aacute;st jejich pr&aacute;ce totiž bude převedena pr&aacute;vě na kontaktn&iacute;
    kancel&aacute;ře. </p>\r\n<p>&nbsp;</p>\r\n<h2>Zru&scaron;&iacute;me městsk&eacute;
    poplatky</h2>\r\n<p>Svobodn&iacute; jsou pro minimalizaci daňov&eacute; z&aacute;těže.
    Proto je c&iacute;lem sn&iacute;žen&iacute; daně z&nbsp;nemovitosti na minim&aacute;ln&iacute;
    &uacute;roveň stanovenou z&aacute;konem, zru&scaron;en&iacute; nesmysln&yacute;ch
    poplatků (např. za psa). V&yacute;padek př&iacute;jmů bude nahrazen omezen&iacute;m
    v&yacute;dajů např. v&nbsp;r&aacute;mci neprůhledn&yacute;ch dotac&iacute; a podpory
    organizac&iacute;, jejichž jedinou činnosti je např. pomoc s&nbsp;vyplňov&aacute;n&iacute;m
    formul&aacute;řů ž&aacute;dost&iacute; o soci&aacute;ln&iacute; d&aacute;vky.</p>\r\n<p>&nbsp;</p>\r\n<h2>Bezpečnost</h2>\r\n<p>Stěžejn&iacute;
    činnosti str&aacute;žn&iacute;ků městsk&eacute; policie nem&aacute; b&yacute;t
    regulace dopravy, pokutov&aacute;n&iacute; za parkov&aacute;n&iacute;, n&yacute;brž
    pomoc lidem, dohled nad dodržov&aacute;n&iacute;m poř&aacute;dku apod. Městsk&aacute;
    policie by tud&iacute;ž byla zbavena možnosti um&iacute;sťov&aacute;n&iacute;
    botiček a dopravu by ře&scaron;ila pouze mimoř&aacute;dně. Zv&yacute;&scaron;en&yacute;
    dohled bude v&nbsp;lokalit&aacute;ch např .se &bdquo;slavn&yacute;mi&ldquo; ubytovnami.</p>\r\n<p>&nbsp;</p>\r\n<h2>Dotačn&iacute;
    politika&nbsp;</h2>\r\n<p>Svobodn&iacute; odm&iacute;taj&iacute; dotace, kter&eacute;
    křiv&iacute; trh. Bohužel současn&yacute; syst&eacute;m vysok&yacute;ch dan&iacute;,
    nemožnosti svobodn&eacute;ho rozhodnut&iacute; občanů o financov&aacute;n&iacute;
    konkr&eacute;tn&iacute;ch činnost&iacute;, neumožňuje &uacute;pln&eacute; zru&scaron;en&iacute;
    dotačn&iacute; politiky. Město v&scaron;ak m&aacute; poskytovat dotace pouze činnostem
    a organizac&iacute;m, kter&eacute; maj&iacute; jednoznačn&eacute; pozitivn&iacute;
    v&yacute;sledky. Tzn. nen&iacute; možn&eacute; pod z&aacute;stěrkou např. politiky
    začleňov&aacute;n&iacute; soci&aacute;lně vyloučen&yacute;ch osob bez jak&eacute;koli
    kontroly a hmatateln&yacute;ch v&yacute;sledků rozhazovat veřejn&eacute; pen&iacute;ze.
    U těchto činnost&iacute; bude kladen důraz na z&aacute;vazn&eacute; v&yacute;sledky,
    kter&eacute; když nebudou dodrženy povedou k&nbsp;jednoznačn&eacute;mu požadavku
    na vr&aacute;cen&iacute; finančn&iacute;ch prostředků (vč. vym&aacute;h&aacute;n&iacute;)
    a z&aacute;kazu poskytnut&iacute; dal&scaron;&iacute;ch prostředků těmto &bdquo;nespolehliv&yacute;m&ldquo;
    organizac&iacute;m.</p>\r\n<p>&nbsp;</p>\r\n<h2>Podpora sportu</h2>\r\n<p>Je nesmysln&eacute;
    zv&yacute;hodňovat jedno odvětv&iacute; před jin&yacute;m. Opět, jelikož st&aacute;t
    neumožňuje svobodnou volbu občanům v&nbsp;rozhodov&aacute;n&iacute; o vlastn&iacute;ch
    finančn&iacute;ch prostředc&iacute;ch, je nutno zach&aacute;zet se svěřen&yacute;mi
    finančn&iacute;mi prostředky (tzn. prostředky z&iacute;skan&yacute;mi z&nbsp;dan&iacute;)
    odpovědně. Prioritou m&aacute; b&yacute;t umožněn&iacute; sportovn&iacute;ch aktivit
    mal&yacute;mi dětmi. Z&aacute;roveň mus&iacute; b&yacute;t umožněna konkurence
    jednotliv&yacute;ch sportovn&iacute;ch odvětv&iacute;. Podpora sportovn&iacute;ch
    klubů nem&aacute; b&yacute;t stanovov&aacute;na dle obliby u jednotliv&yacute;ch
    politiků, ale podle schopnosti a aktivity v&nbsp;pr&aacute;ci pr&aacute;vě s&nbsp;dětmi.</p>\r\n<p>&nbsp;</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
