---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<p><span><span><span><span>Jiř&iacute; Reme&scaron;</span></span></span></span></p>\r\n<p><span><span><span><span>tel.
    </span></span></span><span><span><span>728 915 925</span></span></span></span></p>\r\n<p><span><span><span><span>e-mail.
    </span></span></span><span><span><span>remes.jiri@seznam.cz</span></span></span></span></p>\r\n<p><span><span><span><span>kancel&aacute;ř:.
    4 osoby, tř </span></span></span><span><span><span>T. </span><span>Bati 332, Otrokovice</span></span></span></span></p>\r\n<p><span><span><span><span>(Na
    Baťově, budova ředitelstv&iacute; Toma as)</span></span><img src=\"https://svobodni-cms.s3.amazonaws.com/sites/53e1b02da11e22caaa000123/assets/5417850534eabd6016001890/prvn_ch_5.jpg\"
    alt=\"\" /></span></span></p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}



</div>

{% endblock %}