---
title: Kontakt
slug: kontakt
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 89
editable_elements:
  main/kontakt: "<p>Jiř&iacute; Reme&scaron;</p>\r\n<p>tel. 728 915 925</p>\r\n<p>email.
    remes.jiri@seznam.cz</p>\r\n<p>kancel&aacute;ř: Home 4 People, tř. T. Bati 332,
    Otrokovice</p>\r\n<p>(na Baťově, budova ředitelstv&iacute; Toma a.s.)</p>"
---
{% extends parent %}

{% block main %}

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}



{% endblock %}