---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva Otrokovice, Svobodní
  Otrokovice, Jiří Remeš
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p><strong>Svobodn&iacute; v komun&aacute;ln&iacute; politice
    vych&aacute;z&iacute; z těchto obecn&yacute;ch principů:</strong></p>\r\n<ol>\r\n<li>Obce
    hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute;
    jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute;
    vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute;
    prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona
    o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</li>\r\n<li>Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v
    obc&iacute;ch.</li>\r\n<li>Obce z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi
    aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.</li>\r\n<li>Obce
    ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně
    konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</li>\r\n<li>V
    př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat
    na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</li>\r\n<li>Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</li>\r\n</ol>\r\n<p>&nbsp;</p>\r\n<p><strong>SVOBODN&Iacute;
    SI V OTROKOVIC&Iacute;CH POSV&Iacute;T&Iacute; NA RADNICI</strong></p>\r\n<p>Jsme
    jedinou kandiduj&iacute;c&iacute; skupinou v Otrokovic&iacute;ch, kter&aacute;
    může očistit radnici od kmotrovsk&yacute;ch vazeb a dohod. V&scaron;ichni ostatn&iacute;
    již na radnici působili a je pravděpodobn&eacute;, že maj&iacute; na radnici vytvořen&eacute;
    různ&eacute; &bdquo;kmotrovsk&eacute;&ldquo; vazby.</p>\r\n<p><strong>Volebn&iacute;
    program Svobodn&yacute;ch v&nbsp;Otrokovic&iacute;ch:</strong></p>\r\n<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>&Scaron;t&iacute;hl&aacute; radnice = bohat&yacute; občan.</strong> Budeme
    se snažit o sn&iacute;žen&iacute; n&aacute;kladů na provoz města a o ponech&aacute;n&iacute;
    peněz v peněženk&aacute;ch obyvatel města. Udrž&iacute;me vyrovnan&yacute;, nebo
    m&iacute;rně přebytkov&yacute; rozpočet města.</p>\r\n<p>ZRU&Scaron;&Iacute;ME
    POPLATKY ZA SVOZ ODPADU V&Scaron;EM OBČANŮM MĚSTA OTROKOVICE. NEBUDEME ZVY&Scaron;OVAT
    SOUČASN&Eacute; POPLATKY A ZAV&Aacute;DĚT NOV&Eacute;, NAOPAK, BUDEME SE SNAŽIT
    JE RU&Scaron;IT A SNIŽOVAT.&nbsp;</p>\r\n<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>Průhledn&aacute; radnice</strong> = je projekt Svobodn&yacute;ch, kter&yacute;m
    směřujeme k&nbsp;&uacute;pln&eacute; veřejn&eacute; kontrole činnosti městsk&eacute;ho
    &uacute;řadu. Přehledně a dostupně umožn&iacute;me občanům kontrolovat smlouvy,
    v&yacute;běrov&aacute; ř&iacute;zen&iacute;, faktury i hlasov&aacute;n&iacute;
    Zastupitelů města a Rady města. <a title=\"www.pruhlednaradnice.cz\" href=\"http://www.pruhlednaradnice.cz\"
    target=\"_blank\">www.pruhlednaradnice.cz</a></p>\r\n<p>VEŘEJN&Eacute; ZAK&Aacute;ZKY
    BUDEME ORGANIZOVAT FORMOU ON-LINE AUKC&Iacute;. ZAVEDEME TRANSPARENTN&Iacute;
    OBECN&Iacute; &Uacute;ČET A KOMPLETN&Iacute; PŘ&Iacute;STUP K&nbsp;DOKUMENTACI
    MĚSTA A K VEŘEJN&Yacute;M ZAK&Aacute;ZK&Aacute;M.</p>\r\n<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>Zlep&scaron;&iacute;me komunikaci s&nbsp;&uacute;řadem</strong> = prodlouž&iacute;me
    otev&iacute;rac&iacute; dobu na přep&aacute;žk&aacute;ch &uacute;řadu tak, aby
    se dala vět&scaron;ina komunikace s&nbsp;&uacute;řadem vyř&iacute;dit cestou z&nbsp;pr&aacute;ce
    bez vyb&iacute;r&aacute;n&iacute; volna.</p>\r\n<p>NA MĚSTSK&Eacute;M &Uacute;ŘADU
    BUDEME PRACOVAT PRO NA&Scaron;E OBYVATELE. &Uacute;ŘEDN&Iacute;K NA OTROKOVICK&Eacute;
    RADNICI JE TADY PROTO, ABY VA&Scaron;E PROBL&Eacute;MY POM&Aacute;HAL ŘE&Scaron;IT,
    NIKOLIV VYTV&Aacute;ŘEL.&nbsp;</p>\r\n<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;<strong>Zajist&iacute;me lep&scaron;&iacute; kontrolu městsk&yacute;ch
    firem =</strong> Strana svobodn&yacute;ch občanů nepovažuje podnik&aacute;n&iacute;
    měst (krajů, st&aacute;tu) přes městsk&eacute; firmy za efektivn&iacute;. V&yacute;sledky
    vět&scaron;iny městsk&yacute;ch firem jsou toho jasn&yacute;m důkazem. Do obecn&iacute;
    pokladny nepřin&aacute;&scaron;&iacute; ž&aacute;dn&eacute; pen&iacute;ze - pr&aacute;vě
    naopak. Zaměř&iacute;me se na kontrolu a efektivitu městsk&yacute;ch firem a jejich
    př&iacute;nos pro občany Otrokovic.</p>\r\n<p>NEBUDEME VYDRŽOVAT NEEFEKTIVN&Iacute;
    MĚSTSK&Eacute; FIRMY.&nbsp; VE V&Yacute;BĚROV&Yacute;CH Ř&Iacute;ZEN&Iacute;CH
    BUDEME VYB&Iacute;RAT Z&nbsp;NEJLEP&Scaron;&Iacute;CH NAB&Iacute;DEK MEZI V&Scaron;EMI
    DODAVATELI. BUDEME EFEKTIVNĚJI UTR&Aacute;CET MĚSTSK&Eacute; PEN&Iacute;ZE.</p>\r\n<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>Bezpečn&eacute; a spravedliv&eacute; město</strong> = zajist&iacute;me
    zv&yacute;&scaron;enou kontrolu m&iacute;st kde se lid&eacute; nec&iacute;t&iacute;
    bezpečně, zejm&eacute;na v parc&iacute;ch a s&iacute;dli&scaron;t&iacute;ch. Pokuty
    nebudou souč&aacute;st&iacute; př&iacute;jmov&eacute; č&aacute;sti rozpočtu města
    a měst&scaron;t&iacute; str&aacute;žn&iacute;ci, při drobn&yacute;ch přestupc&iacute;ch,
    budou udělovat pokutu až po třet&iacute;m upozorněn&iacute;.</p>\r\n<p>HESLO &bdquo;POM&Aacute;HAT
    A CHR&Aacute;NIT&ldquo; BUDEME VYŽADOVAT PO MĚSTSK&Yacute;CH STR&Aacute;ŽN&Iacute;C&Iacute;CH.
    TŘIKR&Aacute;T PŘI PŘESTUPKU POMŮŽEME A PORAD&Iacute;ME, PO ČTVRT&Eacute; POKUTUJEME!</p>\r\n<p>&nbsp;</p>\r\n<p>Snahou
    Svobodn&yacute;ch nejen v Otrokovic&iacute;ch je ponechat pen&iacute;ze v kaps&aacute;ch
    občanů. Toho jde ve městě doc&iacute;lit jen sn&iacute;žen&iacute;m &nbsp;poplatků
    ( sn&iacute;žen&iacute;m dan&iacute; v parlamentu ČR) ruku v ruce s efektivn&iacute;m
    vynakl&aacute;d&aacute;n&iacute;m již vybran&yacute;ch dan&iacute;.&nbsp;</p>\r\n<p>Č&iacute;m
    v&iacute;ce peněz zůstane lidem, t&iacute;m m&eacute;ně peněz budou moci &uacute;ředn&iacute;ci
    přerozdělovat. A jak v&scaron;ichni v&iacute;me, tady je největ&scaron;&iacute;
    korupčn&iacute; potenci&aacute;l, tady - při přerozdělov&aacute;n&iacute; - &nbsp;je
    největ&scaron;&iacute; m&iacute;ra korupce, tady se nejv&iacute;ce krade.&nbsp;Jak&yacute;
    je \"potenci&aacute;l\" v Otrokovic&iacute;ch je velmi dobře vidět na rekonstrukci
    s&aacute;lu Otrokovick&eacute; Besedy. Za opravu s&aacute;lu jsme dali cca 40
    000 000Kč. Opravdu byla tato investice nutn&aacute;?&nbsp;</p>\r\n<p>Nenechejme
    v dal&scaron;&iacute;m volebn&iacute;m obdob&iacute; stejnou skupinu zastupitelů
    hospodařit s na&scaron;imi penězi.</p>\r\n<p><strong>Politici chtěj&iacute; Va&scaron;e
    dobro. NENECHEJTE SI HO VZ&Iacute;T!</strong></p>\r\n<p>Svobodn&iacute; chěj&iacute;,
    jako jedin&aacute; strana, omezit moc politikům. Pomůžete n&aacute;m?</p>\r\n<p>&nbsp;</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
