---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<p>Koordin&aacute;tor m&iacute;stn&iacute;ho sdružen&iacute; Břeclav:</p>\r\n<p><strong>Radek
    Hork&yacute;</strong></p>\r\n<p>Mobil: 603 231&nbsp;013</p>\r\n<p>e-mail:&nbsp;<a
    href=\"mailto:info@bpposervis.cz\" target=\"_blank\">info@bpposervis.cz</a></p>\r\n<p>&nbsp;</p>\r\n<p>Spr&aacute;vce
    webu:</p>\r\n<p><strong>Jan Pol&aacute;&scaron;ek</strong></p>\r\n<p>Mobil: 734
    346 760</p>\r\n<p>e-mail: janpolasek@seznam.cz</p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}