---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p><strong>Volebn&iacute; program pro komun&aacute;ln&iacute;
    volby 2014:</strong></p>\r\n<p>1) Politici maj&iacute; rozhodovat podle toho,
    co si přeje vět&scaron;ina voličů. Protože v&iacute;me, že se tak často neděje
    a politici rozhodnou jinak, než si přeje veřejnost, Podporujeme zaveden&iacute;
    obrann&eacute;ho mechanismu, kter&eacute;mu se ř&iacute;k&aacute; lidov&eacute;
    veto. Př&iacute;m&aacute; demokracie nen&iacute; n&aacute;hrada zastupitelsk&eacute;
    demokracie, ale je to jej&iacute; doplněk.</p>\r\n<p>&nbsp;</p>\r\n<p>2) Svobodn&iacute;
    se dlouhodobě zab&yacute;vaj&iacute; odstraňov&aacute;n&iacute;m regulac&iacute;
    a bari&eacute;r, kter&eacute; br&aacute;n&iacute; f&eacute;rov&eacute; soutěži,
    proto jsme připravili vlastn&iacute; zjednodu&scaron;en&yacute; tržn&iacute; ř&aacute;d
    a v podstatě to chceme otočit &ndash; Umožnit využ&iacute;vat veřejn&eacute; prostory
    v&scaron;em a sn&iacute;žit poplatky za pron&aacute;jem či z&aacute;bor veřejn&eacute;ho
    prostoru. S t&iacute;m souvis&iacute; i n&aacute;&scaron; z&aacute;měr zjednodu&scaron;it
    vyřizov&aacute;n&iacute; z&aacute;borů veřejn&eacute;ho prostranstv&iacute; a
    podpora a rozvoj podnik&aacute;n&iacute; &ndash; vět&scaron;&iacute; možnosti
    pro provozovatele restaurac&iacute;, kter&eacute; maj&iacute; zahr&aacute;dku
    před sv&yacute;m podnikem, což povede k oživen&iacute; veřejn&eacute;ho prostoru</p>\r\n<p>&nbsp;</p>\r\n<p>3)
    Bezpečn&eacute; město - městsk&aacute; policie by si měla přestat hr&aacute;t
    na dopravn&iacute; policii a hl&iacute;dače parkovi&scaron;ť a nam&iacute;sto
    toho roz&scaron;&iacute;řit pě&scaron;&iacute; hl&iacute;dky v ulic&iacute;ch,
    a to i v nočn&iacute;ch hodin&aacute;ch, obzvl&aacute;&scaron;ť v p&aacute;tek
    a v sobotu.</p>\r\n<p>&nbsp;</p>\r\n<p>4) Svobodn&eacute; parkov&aacute;n&iacute;
    - půlhodina parkov&aacute;n&iacute; zdarma kdekoliv na parkovac&iacute; kotouč.
    Zjednodu&scaron;&iacute; to lidem pohyb po městě a pomůže obchodn&iacute;kům v
    m&iacute;stech, kde je nyn&iacute; parkov&aacute;n&iacute; obt&iacute;žn&eacute;</p>\r\n<p>&nbsp;</p>\r\n<p>5)
    V př&iacute;padě obecn&iacute;ch zak&aacute;zek se nen&iacute; možn&eacute; odvol&aacute;vat
    na obchodn&iacute; tajemstv&iacute;. Je to veřejn&aacute; zak&aacute;zka, tud&iacute;ž
    i smlouvy mus&iacute; b&yacute;t veřejn&eacute;</p>\r\n<p>&nbsp;</p>\r\n<p>6)
    Město by mělo hospodařit s vyrovnan&yacute;m rozpočtem &ndash; to prosazujeme
    v analogii&nbsp;ke st&aacute;tn&iacute;mu rozpočtu. Dluhy by město mělo dělat
    pouze v mimoř&aacute;dn&yacute;ch př&iacute;padech, a&nbsp;to za souhlasu kvalifikovan&eacute;
    vět&scaron;iny. Prostředky by mělo d&aacute;vat hlavně na silnice,</p>\r\n<p>poř&aacute;dek,
    čistotu &ndash; na tzv. veřejn&eacute; statky. Př&iacute;padn&yacute; přebytek
    by mělo ukl&aacute;dat z&aacute;sadně&nbsp;konzervativně, tj. do aktiv s co nejmen&scaron;&iacute;m
    rizikem</p>\r\n<p>&nbsp;</p>\r\n<p>7) Obec nem&aacute; podnikat! Podnik&aacute;n&iacute;
    obce naru&scaron;uje f&eacute;rovou soutěž. Podnikatel&eacute; nemaj&iacute;&nbsp;možnosti
    obce, kter&aacute; disponuje veřejn&yacute;mi penězi.</p>\r\n<p>&nbsp;</p>\r\n<p>8)
    Co nejefektivněj&scaron;&iacute; využit&iacute; dotac&iacute; z EU pro rozvoj
    města, Nečerpat dotace za každou cenu, ale zv&aacute;žit jejich efektivn&iacute;
    využit&iacute; např. opravu kulturn&iacute;ch pam&aacute;tek, roz&scaron;iřov&aacute;n&iacute;
    infrastruktury.</p>\r\n<p>&nbsp;</p>\r\n<p>9) Zlep&scaron;it dopravn&iacute; infrastrukturu
    města - V&yacute;stavba chodn&iacute;ku propojuj&iacute;c&iacute; starou Břeclav
    s obchodn&iacute;m centrem Tesco, V&yacute;stavba kruhov&eacute;ho objezdu u Lidlu,
    &uacute;prava intervalu světeln&eacute;ho zař&iacute;zen&iacute; u ENI ČR, &uacute;pravy
    križovatky na n&aacute;měst&iacute; TGM.</p>\r\n<p>&nbsp;</p>\r\n<p>10) Zru&scaron;en&iacute;
    poplatků za psa</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
