---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<p style=\"text-align: justify;\">Najdete n&aacute;s ve v&scaron;ech
    č&aacute;stech Moravsk&eacute;ho Krumlova.</p>\r\n<p style=\"text-align: justify;\">Kladli
    jsme velk&yacute; důraz na rovnoměrn&eacute; rozložen&iacute; na&scaron;ich kandid&aacute;tů,
    abychom znali probl&eacute;my a strasti obyvatel <br />v jednotliv&yacute;ch č&aacute;stech
    města Moravsk&yacute; Krumlov a jeho m&iacute;stn&iacute;ch č&aacute;st&iacute;
    - Pol&aacute;nky, Rokytn&eacute; a Rak&scaron;ic.</p>\r\n<p style=\"text-align:
    justify;\">E-mail: svobodnimk@seznam.cz</p>\r\n<p style=\"text-align: justify;\">Telefon:
    724 680 736<br /><br /></p>\r\n<p>&nbsp;</p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}