---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p style=\"text-align: justify;\"><strong>Pro přehlednost
    jsme rozdělili n&aacute;&scaron; program do tř&iacute; z&aacute;kladn&iacute;ch
    kategori&iacute;, dle kter&yacute;ch m&aacute;te možnost posoudit, jestli stoj&iacute;
    za to, abychom zůstali v zastupitelstvu na&scaron;eho města nebo ne. V těchto
    kategori&iacute;ch vyjmenov&aacute;v&aacute;me to, co jsme splnili ze star&eacute;ho
    programu, co z něj je&scaron;tě zb&yacute;v&aacute; splnit, nebo je teprve v procesu
    plněn&iacute;, a na&scaron;e nov&eacute; v&yacute;zvy, kter&eacute; si d&aacute;v&aacute;me
    za c&iacute;l do n&aacute;sleduj&iacute;c&iacute;ch let. Přejeme V&aacute;m př&iacute;jemn&eacute;
    počten&iacute;.</strong></p>\r\n<h1><a href=\"http://www.svobodnimk.cz/program/nove-vyzvy\"><strong>Nov&eacute;
    v&yacute;zvy</strong></a></h1>\r\n<h1><a href=\"http://www.svobodnimk.cz/program/zbyva-splnit\">Zb&yacute;v&aacute;
    splnit</a></h1>\r\n<h1><a href=\"http://www.svobodnimk.cz/program/splneno\">Splněno</a></h1>\r\n<p>&nbsp;</p>\r\n<h3>&nbsp;</h3>\r\n<h3>Diskuse
    k programu a jin&yacute;m dotazům</h3>\r\n<p>Pokud m&aacute;te jak&eacute;koli
    dotazy, kritiku nebo pochvalu, nev&aacute;hejte ji napsat zde do diskuse, r&aacute;di
    se k n&iacute; vyj&aacute;dř&iacute;me a nebo se chytneme za nos :-) Pokud si
    přejete zůstat v anonymitě, můžete vložit koment&aacute;ř jako host a uv&eacute;st
    smy&scaron;len&yacute; mail. Pokud nap&iacute;&scaron;ete svůj skutečn&yacute;
    mail, tak zůstane v anonymitě a vy budete vyrozuměni na odpověď v diskusi do Va&scaron;&iacute;
    schr&aacute;nky. Diskuse ze zobrazuje, podle toho z jak&eacute; jste při&scaron;li
    domeny, proto pokud chcete č&iacute;st v&scaron;echny diskuse dohromady překlikněte
    na Svobodn&iacute; MK.</p>\r\n<div id=\"disqus_thread\">&nbsp;</div>\r\n<script
    type=\"text/javascript\">// <![CDATA[\r\n        /* * * CONFIGURATION VARIABLES:
    EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */\r\n        var disqus_shortname =
    'svobodnimk'; // required: replace example with your forum shortname\r\n\r\n        /*
    * * DON'T EDIT BELOW THIS LINE * * */\r\n        (function() {\r\n            var
    dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async
    = true;\r\n            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';\r\n
    \           (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);\r\n
    \       })();\r\n    \r\n// ]]></script>\r\n<noscript>Please enable JavaScript
    to view the <a href=\"http://disqus.com/?ref_noscript\">comments powered by Disqus.</a></noscript>\r\n<p><a
    class=\"dsq-brlink\" href=\"http://disqus.com\">comments powered by <span class=\"logo-disqus\">Disqus</span></a></p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
