---
title: Kdo jsem
slug: kdo-jsem
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 10
editable_elements:
  main/kdo-jsem: "<p>Pln&yacute;m jm&eacute;nem Jiř&iacute; Tom&aacute;&scaron; Payne</p>\r\n<p><span
    style=\"text-decoration: underline;\">Rodina</span></p>\r\n<p>Narozen 7. července
    1956 v&nbsp;Praze. Je otcem pěti dět&iacute;.</p>\r\n<p>Poch&aacute;z&iacute;
    z česko-americk&eacute; rodiny. Otec Harry Donald Payne se kvůli sňatku s Če&scaron;kou
    vzdal americk&eacute;ho občanstv&iacute;. Jeho bratr je spisovatel a v&yacute;tvarn&iacute;k
    Petr Pazdera Payne. Druh&yacute; bratr je profesorem l&eacute;kařsk&eacute; etiky.</p>\r\n<p>&nbsp;</p>\r\n<p><span
    style=\"text-decoration: underline;\">Vzděl&aacute;n&iacute;</span></p>\r\n<p>Absolvoval
    Z&Scaron; a gymn&aacute;zium v Praze a pak vystudoval Matematicko-fyzik&aacute;ln&iacute;
    fakultu Univerzity Karlovy (obor jadern&aacute; fyzika). Během studi&iacute; pracoval
    v &Uacute;stavu jadern&eacute;ho v&yacute;zkumu v Řeži jako pomocn&aacute; vědeck&aacute;
    s&iacute;la.</p>\r\n<p>V roce 1981 dokončil studium a složil z&aacute;věrečn&eacute;
    zkou&scaron;ky. Fakulta mu ale kvůli jeho politick&yacute;m a n&aacute;božensk&yacute;m
    aktivit&aacute;m odm&iacute;tla vydat diplom. Bylo mu zamezeno v profesn&iacute;m
    životě. Na jeho př&iacute;pad upozornila Amnesty Internationl.</p>\r\n<p>Promoci
    měl nakonec až po roce 1989.</p>\r\n<p>&nbsp;</p>\r\n<p><span style=\"text-decoration:
    underline;\">Pr&aacute;ce</span></p>\r\n<p>Během studi&iacute; pracoval jako program&aacute;tor
    a lektor programov&aacute;n&iacute;, pak po zostřen&iacute; jeho pron&aacute;sledov&aacute;n&iacute;
    byl od roku 1984 pečovatelem v domově důchodců a od roku 1986 byl topičem.</p>\r\n<p>Nav&scaron;těvoval
    bytov&eacute; teologick&eacute; a filozofick&eacute; semin&aacute;ře. S&aacute;m
    organizoval bytov&eacute; kurzy hebrej&scaron;tiny. V letech 1982-1989 ho sledovala
    St&aacute;tn&iacute; bezpečnost (spolu s jeho otcem a bratry) a byl evidov&aacute;n
    jako &bdquo;prověřovan&aacute; osoba&ldquo; pod kryc&iacute;m jm&eacute;nem Fyzik.</p>\r\n<p>V
    roce 1988 se &uacute;častnil opozičn&iacute;ch demonstrac&iacute;, byl zadržen
    polici&iacute; a obviněn z podněcov&aacute;n&iacute; a organizov&aacute;n&iacute;
    demonstrac&iacute;. Trestn&iacute; st&iacute;h&aacute;n&iacute; bylo zastaveno
    až po p&aacute;du režimu. Byl aktivn&iacute; i jako zpravodaj organizace V&yacute;bor
    na obranu nespravedlivě st&iacute;han&yacute;ch.</p>\r\n<p>Od roku 1990 do 2002
    byl poslancem Česk&eacute; n&aacute;rodn&iacute; rady, kter&aacute; se po rozdělen&iacute;
    federace stala Poslaneckou sněmovnou (viz d&aacute;le).</p>\r\n<p>V roce 2007
    založil s manželkou Janou firmu Coventina, kter&aacute; se zab&yacute;v&aacute;
    developersk&yacute;mi projekty na rodinn&yacute;ch pozemc&iacute;ch. Firmu před
    několika lety prodali.</p>\r\n<p>&nbsp;</p>\r\n<p><span style=\"text-decoration:
    underline;\">Politika</span></p>\r\n<p>Ve volb&aacute;ch v roce 1990 byl za Občansk&eacute;
    f&oacute;rum zvolen do ČNR, kde zast&aacute;val post m&iacute;stopředsedy zahraničn&iacute;ho
    v&yacute;boru. V z&aacute;ř&iacute; 1990 se pod&iacute;lel na vzniku Meziparlamentn&iacute;ho
    klubu demokratick&eacute; pravice coby pravicov&eacute;ho kř&iacute;dla v r&aacute;mci
    OF. Na jaře 1991 byl členem př&iacute;pravn&eacute;ho v&yacute;boru pro založen&iacute;
    ODS.</p>\r\n<p>Mand&aacute;t poslance obh&aacute;jil ve volb&aacute;ch v roce
    1992, 1996 a 1998. V letech 1992-1996 byl předsedou zahraničn&iacute;ho v&yacute;boru
    Poslaneck&eacute; sněmovny, v letech 1996-2002 jeho m&iacute;stopředsedou.</p>\r\n<p>Po
    roce 1996 byl n&aacute;městkem ministra obrany, kde ř&iacute;dil sekci zahraničn&iacute;ch
    vztahů a pod&iacute;lel se na koordinaci př&iacute;stupov&yacute;ch jedn&aacute;n&iacute;
    pro vstup Česka do NATO.</p>\r\n<p>Po odchodu ze sněmovny v roce 2002 se věnoval
    spr&aacute;vě rodinn&eacute;ho majetku. Od roku 2004 byl extern&iacute;m politick&yacute;m
    poradcem prezidenta V&aacute;clava Klause.</p>\r\n<p>V roce 2009 patřil mezi zakladatele
    Strany svobodn&yacute;ch občanů a stal se jej&iacute;m m&iacute;stopředsedou,
    j&iacute;mž je dodnes.</p>\r\n<p>Ve volb&aacute;ch do Evropsk&eacute;ho parlamentu
    v roce 2014 kandidoval za Svobodn&eacute; na 2. m&iacute;stě kandid&aacute;tky.
    Z&iacute;skal 3 696 přednostn&iacute;ch hlasů, tj. 4,64% hlasů odevzdan&yacute;ch
    pro Svobodn&eacute;. Svobodn&iacute; v&nbsp;těchto volb&aacute;ch z&iacute;skali
    jedno europoslaneck&eacute; křeslo (Petr Mach).</p>\r\n<p>&nbsp;</p>\r\n<p><span
    style=\"text-decoration: underline;\">Autonehoda a trestn&iacute; st&iacute;h&aacute;n&iacute;</span></p>\r\n<p>V
    roce 1998 (v době, kdy byl poslancem), způsobil dopravn&iacute; nehodu, když se
    střetl se sanitn&iacute;m vozem. Při nehodě utrpěla jeho dcera těžk&eacute; zraněn&iacute;,
    zraněn byl i Payne a řidič sanitky. Payne jako prvn&iacute; politik pož&aacute;dal
    o vyd&aacute;n&iacute; k trestn&iacute;mu st&iacute;h&aacute;n&iacute; s t&iacute;m,
    že poslaneck&aacute; imunita se na takov&eacute; př&iacute;pady vztahovat nem&aacute;.
    Soud ho nepotrestal odnět&iacute;m svobody, ale nař&iacute;dil mu v&nbsp;r&aacute;mci
    mimosoudn&iacute;ho vyrovn&aacute;n&iacute; nahradit způsobenou &scaron;kodu a
    dal&scaron;&iacute; pen&iacute;ze poslat na obecně prospě&scaron;n&eacute; &uacute;čely.</p>\r\n<p>&nbsp;</p>\r\n<p><span
    style=\"text-decoration: underline;\">&Uacute;dajn&eacute; omezov&aacute;n&iacute;
    svobody slova</span></p>\r\n<p>Pod&iacute;lel se ve skupině poslanců na předložen&iacute;
    n&aacute;vrhu z&aacute;kona, kter&yacute; přeformuloval z&aacute;kaz propagace
    fa&scaron;ismu na z&aacute;kaz propagace hnut&iacute;, kter&aacute; up&iacute;raj&iacute;
    druh&yacute;m pr&aacute;va a svobody. Toto zněn&iacute; se dostalo i do nov&eacute;ho
    trestn&iacute;ho z&aacute;kona. V&nbsp;r&aacute;mci původn&iacute;ho n&aacute;vrhu
    prosadil Marek Benda kritizovan&yacute; z&aacute;kaz osvětimsk&eacute; lži.</p>\r\n<p>&nbsp;</p>\r\n<p><span
    style=\"text-decoration: underline;\">N&aacute;zory</span></p>\r\n<p>Je zn&aacute;m
    jako kritik evropsk&eacute; integrace. Kritizoval Lisabonskou smlouvu &ndash;
    podle něj odporuje pr&aacute;vn&iacute;mu ř&aacute;du ČR. Byl autorem my&scaron;lenky,
    že Česk&aacute; republika potřebuje protiraketovou obranu a mohla by riziko ře&scaron;it
    spoluprac&iacute; v&nbsp;r&aacute;mci NATO &nbsp;při vybudov&aacute;n&iacute;
    radaru v ČR. Kritizoval c&iacute;rkevn&iacute; restituce, protože odporuj&iacute;
    c&iacute;rkevn&iacute;mu učen&iacute;, a v&nbsp;jejich důsledku nedo&scaron;lo
    k odluce c&iacute;rkve od st&aacute;tu (na jaře 2014 napsal dopis předsedovi vl&aacute;dy,
    v&nbsp;němž ho vyz&yacute;v&aacute; k&nbsp;urychlen&eacute;mu proveden&iacute;
    odluky c&iacute;rkve od st&aacute;tu). Kritizoval tak&eacute; smlouvu ACTA, kterou
    považuje za vynucov&aacute;n&iacute; pravidel analogov&eacute;ho světa ve světě
    digit&aacute;ln&iacute;m.</p>\r\n<p>&nbsp;</p>\r\n<p><span style=\"text-decoration:
    underline;\">Kontakt:</span></p>\r\n<p>payne@svobodni.cz</p>\r\n<p><a href=\"http://www.payne.cz/\"
    target=\"_blank\">www.payne.cz</a></p>"
---
{% extends parent %}

{% block main %}
<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kdo-jsem", hint: "Informace o kandidátovi." %}
{% endeditable_text %}

</div>

{% endblock %}