---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro senátní volby
meta_keywords: senátní volby, program
editable_elements:
  main/volebni_program: "<p>Před pěti lety jsme s&nbsp;několika př&aacute;teli zasedli
    nad pr&aacute;zdn&yacute;m pap&iacute;rem a začali jsme uvažovat o tom, jak by
    měla vypadat nov&aacute; politick&aacute; strana, kter&aacute; by pomohla vyře&scaron;it
    probl&eacute;my česk&eacute; politiky. Vykol&iacute;kovali jsme si prostor politick&eacute;
    filosofie, rozhodli jsme se využ&iacute;t zku&scaron;enost&iacute; z&nbsp;mnoha
    zem&iacute;, vsadili jsme na hled&aacute;n&iacute; mlad&yacute;ch přem&yacute;&scaron;liv&yacute;ch
    kolegů nam&iacute;sto recyklovan&yacute;ch b&yacute;val&yacute;ch politiků. Tu&scaron;ili
    jsme, že to bude dlouh&aacute; cesta.</p>\r\n<p>Dnes vid&iacute;me prvn&iacute;
    n&aacute;znaky, že to mělo smysl. Kolem Svobodn&yacute;ch se soustředilo na tři
    tis&iacute;ce spolupracovn&iacute;ků.</p>\r\n<p>Pokud se o svou svobodu nezasad&iacute;&scaron;,
    jin&iacute; to za tebe neudělaj&iacute;. Zastupitelsk&aacute; demokracie je založen&aacute;
    na s&iacute;le dan&eacute; mand&aacute;tem vze&scaron;l&yacute;m z&nbsp;voleb.
    V&nbsp;současn&eacute; době maj&iacute; volen&iacute; politici jako celek moc,
    kter&aacute; je omezen&aacute; jenom d&eacute;lkou volebn&iacute;ho obdob&iacute;.
    Svobodn&iacute; navrhuj&iacute; lidov&eacute; veto na omezen&iacute; moci politiků.
    Parlament rozhodne, ale konečn&eacute; slovo maj&iacute; občan&eacute;, kteř&iacute;
    mohou v&nbsp;lidov&eacute;m hlasov&aacute;n&iacute; rozhodnut&iacute; zastavit.
    Politik, kter&yacute; zastupuje sv&eacute; voliče, s&nbsp;t&iacute;m nem&aacute;
    probl&eacute;m. Politik, kter&yacute; h&aacute;j&iacute; z&aacute;jmy sv&eacute;
    strany proti vůli voličů, mus&iacute; poč&iacute;tat s&nbsp;t&iacute;m, že nem&aacute;
    absolutn&iacute; moc.</p>\r\n<p>Svobodn&iacute; nahradili deleg&aacute;tsk&yacute;
    syst&eacute;m hlasov&aacute;n&iacute;m, ve kter&eacute;m m&aacute; každ&yacute;
    člen jeden hlas. Hlasov&aacute;n&iacute; prob&iacute;h&aacute; elektronicky se
    zaručenou anonymitou, každ&yacute; si může nez&aacute;visle ověřit, že byl jeho
    hlas započ&iacute;t&aacute;n. To je obrana proti kmotrovsk&eacute;mu a velryb&aacute;řsk&eacute;mu
    zneuž&iacute;v&aacute;n&iacute; demokracie.</p>\r\n<p>Svobodn&iacute; jsou zast&aacute;nci
    individu&aacute;ln&iacute; svobody, spravedliv&eacute;ho poř&aacute;dku, odpovědnosti
    a respektu k&nbsp;vlastnictv&iacute;. Politick&aacute; filosofie jim pom&aacute;h&aacute;
    nepodlehnout poku&scaron;en&iacute; zaměnit politick&yacute; program za kr&aacute;tkodob&yacute;
    zisk.</p>\r\n<p>I když n&aacute;zory Svobodn&yacute;ch mohou někdy zn&iacute;t
    radik&aacute;lně, Svobodn&iacute; si uvědomuj&iacute;, že změny je nutn&eacute;
    prosazovat postupně a se z&aacute;sadn&iacute; podporou veřejnosti.</p>\r\n<p>Svobodn&iacute;
    jsou pro spolupr&aacute;ci v&nbsp;Evropě, Česk&aacute; republika byla a je souč&aacute;st&iacute;
    Evropy. Za tradičně nejdůležitěj&scaron;&iacute; evropsk&eacute; hodnoty považuj&iacute;
    pluralitu, nikoli unifikaci, svobodu, nikoli regulaci, spolupr&aacute;ci, nikoli
    nadvl&aacute;du.</p>\r\n<p>Svobodn&iacute; prosazuj&iacute; respekt k&nbsp;soukrom&iacute;
    občanů, chr&aacute;n&iacute; jej proti z&aacute;sahům st&aacute;tu. Když sepsali
    svou představu o tom, jak m&aacute; spr&aacute;vně vypadat st&aacute;t, dali tomu
    nakonec nadpis. Svobodn&iacute; usiluj&iacute; o př&iacute;větiv&yacute; st&aacute;t.&nbsp;</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}

{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
