---
title: Kdo jsem
slug: kdo-jsem
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 10
editable_elements:
  main/kdo-jsem: "<p><span style=\"text-decoration: underline;\">Rodina</span></p>\r\n<p>Narozen
    1967, bydl&iacute;m v Praze, s&nbsp;partnerkou vychov&aacute;v&aacute;me tři děti
    a tě&scaron;&iacute;me se na čtvrt&eacute;.</p>\r\n<p>&nbsp;</p>\r\n<p><span style=\"text-decoration:
    underline;\">Vzděl&aacute;n&iacute;</span></p>\r\n<p>1987 &ndash; 1992 Pr&aacute;vnick&aacute;
    fakulta UK &ndash; obor mezin&aacute;rodn&iacute; vztahy, zakončil jako Mgr.</p>\r\n<p>&nbsp;</p>\r\n<p><span
    style=\"text-decoration: underline;\">Pr&aacute;ce</span></p>\r\n<p>1986 &ndash;
    1987 po nepřijet&iacute; na Pr&aacute;vnickou fakultu UK v&nbsp;Praze jsem byl
    zapisovatelem u Obvodn&iacute;ho soudu pro Prahu 5;</p>\r\n<p>1992 &ndash; pět
    měs&iacute;ců jsem pracoval pro ACE Center (pobočka National Cooperative Business
    Association) &ndash; organizačn&iacute; audity;</p>\r\n<p>1993 a d&aacute;le &ndash;
    firma s&nbsp;tat&iacute;nkem (zahraničn&iacute; obchod)</p>\r\n<p>Nyn&iacute;:
    prodej zdravotnick&yacute;ch př&iacute;strojů na Ukrajině a konzultačn&iacute;
    činnost.</p>\r\n<p>&nbsp;</p>\r\n<p><span style=\"text-decoration: underline;\">Politika
    a jin&eacute; aktivity</span></p>\r\n<p>1989 &ndash; člen Celost&aacute;tn&iacute;ho
    studentsk&eacute;ho st&aacute;vkov&eacute;ho v&yacute;boru za PFUK;</p>\r\n<p>1989
    &ndash; 1990 člen Komise FS a ČNR pro dohled nad vy&scaron;etřov&aacute;n&iacute;m
    ud&aacute;lost&iacute; ze dne 17.11.1989 v&nbsp;Praze &ndash; jeden ze dvou z&aacute;stupců
    studentsk&eacute;ho st&aacute;vkov&eacute;ho v&yacute;boru;</p>\r\n<p>1991 &ndash;
    1992 člen Akademick&eacute;ho sen&aacute;tu PFUK a Akademick&eacute;ho sen&aacute;tu
    UK;</p>\r\n<p>1992 &ndash; konzultant v&nbsp;ot&aacute;zk&aacute;ch bytov&eacute;ho
    pr&aacute;va pro poslaneck&yacute; klub Občansk&eacute;ho hnut&iacute; ve Feder&aacute;ln&iacute;m
    shrom&aacute;žděn&iacute;;</p>\r\n<p>kolem 2000 &ndash; cca dvouměs&iacute;čn&iacute;
    pr&aacute;ce v&nbsp;IT komisi tehdej&scaron;&iacute; &bdquo;Čtyřkoalice&ldquo;
    (ICT ve veřejn&eacute; spr&aacute;vě);</p>\r\n<p>od 2008 &ndash; člen Mensy ČR,
    organizoval jsem prvn&iacute; ročn&iacute;k &bdquo;Logick&eacute; olympi&aacute;dy&ldquo;;</p>\r\n<p>od
    2010 &ndash; člen spr&aacute;vn&iacute; rady Mensa gymn&aacute;zia;</p>\r\n<p>od
    2012 členem Svobodn&yacute;ch, dnes jsem členem Republikov&eacute;ho v&yacute;boru
    Svobodn&yacute;ch.</p>\r\n<p>&nbsp;</p>\r\n<p>Od cca 2007 provozuji osobn&iacute;
    str&aacute;nky&nbsp;<a title=\"blocked::http://www.liho.cz/\" href=\"http://www.liho.cz/\"
    target=\"_blank\">www.liho.cz</a>;</p>\r\n<p>občas publikuji na&nbsp;<a title=\"blocked::http://www.neviditelnypes.cz/\"
    href=\"http://www.neviditelnypes.cz/\" target=\"_blank\">www.neviditelnypes.cz</a>&nbsp;a&nbsp;<a
    title=\"blocked::http://www.dfens-cz.com/\" href=\"http://www.dfens-cz.com/\"
    target=\"_blank\">www.dfens-cz.com</a>.</p>\r\n<p>&nbsp;</p>\r\n<p><span style=\"text-decoration:
    underline;\">N&aacute;zory</span></p>\r\n<p>Jsem zast&aacute;nce minim&aacute;ln&iacute;ho
    st&aacute;tu, tvrd&iacute;m, že každ&aacute; činnost st&aacute;tu mus&iacute;
    b&yacute;t věcně odůvodněn&aacute; a neust&aacute;le obhajov&aacute;na před občany.</p>\r\n<p>Motto:
    &bdquo;St&aacute;t je &scaron;patn&yacute; sluha a zl&yacute; p&aacute;n&ldquo;.</p>\r\n<p><em>St&aacute;t
    je velk&aacute; fikce, pomoc&iacute; n&iacute;ž se každ&yacute; snaž&iacute; ž&iacute;t
    na &uacute;kor v&scaron;ech ostatn&iacute;ch.</em></p>\r\n<p>(F. Bastiat)</p>\r\n<p>&nbsp;</p>\r\n<p><span
    style=\"text-decoration: underline;\">Z&aacute;jmy</span></p>\r\n<p>Karty, &scaron;achy,
    aktivně sportuji.</p>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;</p>"
---
{% extends parent %}

{% block main %}
<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kdo-jsem", hint: "Informace o kandidátovi." %}
{% endeditable_text %}

</div>

{% endblock %}