---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<p><span style=\"line-height: 1.5em;\">tel:&nbsp;<span>+420&nbsp;</span><span
    data-mce-mark=\"1\">777 412 321</span></span></p>\r\n<p><a href=\"mailto:kriz@svobodni.cz\">kriz@svobodni.cz</a></p>\r\n<p><a
    href=\"https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?ID_ucet=2400564090\"
    target=\"_blank\">Transparentn&iacute; &uacute;čet:</a>&nbsp;<span>2400564090
    / 2010</span></p>\r\n<p>&nbsp;</p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}

</div>

{% endblock %}