---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro senátní volby
meta_keywords: senátní volby, program
editable_elements:
  main/volebni_program: "<p><strong>V&nbsp;př&iacute;padě zvolen&iacute; mohu sl&iacute;bit
    tři věci:</strong></p>\r\n<ul>\r\n<li><span style=\"line-height: 1.5em;\">Budu
    vždycky vědět, o čem hlasuji.</span></li>\r\n<li>Budu vždycky důsledně hlasovat
    pro zmen&scaron;en&iacute; agendy st&aacute;tu, což s&nbsp;sebou přinese zmen&scaron;en&iacute;
    vlivu politiků a &uacute;ředn&iacute;ků na životy občanů. Niž&scaron;&iacute;
    daně pak umožn&iacute; lidem poř&iacute;dit si v&iacute;ce věc&iacute; dle sv&eacute;ho
    uv&aacute;žen&iacute;.</li>\r\n<li>Budu se z&nbsp;titulu sv&eacute; funkce snažit
    upozorňovat na negativa, kter&aacute; s&nbsp;sebou přin&aacute;&scaron;ej&iacute;
    zd&aacute;nlivě pozitivn&iacute; st&aacute;tn&iacute; regulace a opatřen&iacute;,
    resp. činnost st&aacute;tu obecně.</li>\r\n</ul>\r\n<p><strong>Z&aacute;kladn&iacute;
    funkce st&aacute;tu dle Romana Kř&iacute;že:</strong></p>\r\n<ol>\r\n<li><span
    style=\"line-height: 1.5em;\"><strong>Rozhodč&iacute;<br /></strong></span>St&aacute;t
    db&aacute; na to, aby svoboda a pr&aacute;vo občana byly ohraničeny pouze svobodou
    a pr&aacute;vy jin&eacute;ho občana<br /><br /><em>Pr&aacute;vo či svoboda občana
    či skupiny občanů nemohou b&yacute;t omezeny ani v z&aacute;jmu vět&scaron;iny,
    pokud nedoch&aacute;z&iacute; k ohrožen&iacute; pr&aacute;v či svobod jin&eacute;ho
    občana. St&aacute;t neorganizuje život občanům, nepodporuje či nepotlačuje nějak&eacute;
    jedn&aacute;n&iacute; občana, aniž by k t&eacute;to činnosti byl donucen v z&aacute;jmu
    ochrany svobod či pr&aacute;v jin&eacute;ho občana.</em></li>\r\n<li><span style=\"line-height:
    1.5em;\"><strong>Solidarita<br /></strong></span>St&aacute;t je až posledn&iacute;m
    garantem meziobčansk&eacute; solidarity&nbsp;<br /><br /><em>Občan je v&yacute;hradně&nbsp;s&aacute;m
    zodpovědn&yacute; za kvalitu sv&eacute;ho života.</em><br /><em>V př&iacute;padě,
    že se kter&yacute;koliv občan dostane do situace, kdy nen&iacute; schopen zajistit
    sv&eacute; nejz&aacute;kladněj&scaron;&iacute; životn&iacute; potřeby alespoň
    v minim&aacute;ln&iacute; m&iacute;ře (potrava, bydlen&iacute;, zdravotn&iacute;
    p&eacute;če), st&aacute;t použije daňov&yacute;ch v&yacute;nosů a občanovi poskytne
    bez&uacute;ročnou finančn&iacute; půjčku. Půjčku je občan povinen vr&aacute;tit,
    za vr&aacute;cen&iacute; ruč&iacute; ve&scaron;ker&yacute;m sv&yacute;m majetkem,
    na kter&yacute; vznik&aacute; v okamžiku půjčky z&aacute;stava ve prospěch st&aacute;tu.</em><br
    /><em>Odpovědnosti za kvalitu sv&eacute;ho života&nbsp;nemůže b&yacute;t občan
    č&aacute;stečně či plně zbaven bez toho, že by byla č&aacute;stečně či plně omezena
    jeho pr&aacute;va.</em></li>\r\n</ol>\r\n<p><span style=\"line-height: 1.5em;\"><strong><span
    style=\"line-height: 1.5em;\">Z&aacute;kladn&iacute; principy fungov&aacute;n&iacute;
    st&aacute;tu dle Romana Kř&iacute;že:</span></strong></span></p>\r\n<ol>\r\n<li><strong>St&aacute;t
    je tu pro lidi, nikoliv naopak</strong><br />St&aacute;t je servisn&iacute; organizace,
    poskytuj&iacute;c&iacute; občanům služby, kter&eacute; plat&iacute;.<br />Občan
    m&aacute; pr&aacute;vo na ve&scaron;ker&eacute; informace o činnosti st&aacute;tu
    a jeho zaměstnanc&iacute;ch, pouze plně informovan&yacute; občan může zodpovědně
    rozhodnout o tom, zda služby st&aacute;tu jsou odpov&iacute;daj&iacute;c&iacute;
    jeho oček&aacute;v&aacute;n&iacute;, či zda je potřeba něco změnit.</li>\r\n<li><strong>St&aacute;t
    nem&aacute; pr&aacute;va, st&aacute;t m&aacute; pouze povinnosti.</strong><br
    />St&aacute;t nesm&iacute; činit nic, co by neměl v&yacute;slovně přik&aacute;z&aacute;no
    z&aacute;konem.<br />Neexistuje z&aacute;jem st&aacute;tu, st&aacute;t nem&aacute;
    vůli.&nbsp;<br />Cokoliv je činěno &bdquo;v z&aacute;jmu st&aacute;tu&ldquo;,
    je činěno pouze v z&aacute;jmu st&aacute;tn&iacute;ch &uacute;ředn&iacute;ků či
    v z&aacute;jmu někter&eacute; skupiny obyvatel.</li>\r\n<li><strong>St&aacute;t
    zastupuje v&scaron;echny občany bez rozd&iacute;lu</strong><br />St&aacute;t nesm&iacute;
    svoj&iacute; činnost&iacute; zv&yacute;hodňovat jakoukoliv skupinu občanů.<br
    />Jedinou v&yacute;jimkou je př&iacute;pad, kdy vykon&aacute;v&aacute; svoji funkci
    posledn&iacute;ho garanta meziobčansk&eacute; solidarity.</li>\r\n</ol>\r\n<p>&nbsp;</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}

{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
