---
title: Program
slug: program
is_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 3
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<h2>1. Svobodn&eacute; podnik&aacute;n&iacute;</h2>\r\n<h3>Rozvolněn&iacute;
    tržn&iacute;ho ř&aacute;du</h3>\r\n<p>Svobodn&iacute; chtěj&iacute; umožnit drobn&yacute;m
    podnikatelům v Praze, aby mohli jednodu&scaron;eji a dle re&aacute;ln&eacute;
    popt&aacute;vky prod&aacute;vat sv&eacute; zbož&iacute; a služby. Tržn&iacute;
    ř&aacute;d Hl. města Prahy svazuje obchodn&iacute;kům ruce, na což dopl&aacute;c&iacute;
    jak prod&aacute;vaj&iacute;c&iacute;, tak kupuj&iacute;c&iacute;. Tržn&iacute;
    pl&aacute;n určuje podrobně co se kde m&aacute; prod&aacute;vat bez ohledu na
    to, zda to tak prod&aacute;vaj&iacute;c&iacute; chtěj&iacute; či nikoliv. Jedn&aacute;
    se o zbytečnou regulaci, kter&aacute; neprosp&iacute;v&aacute; nikomu.&nbsp;</p>\r\n<h2><strong>2.
    Svobodn&aacute; doprava</strong></h2>\r\n<h3>Rovn&yacute; př&iacute;stup ke v&scaron;em
    dopravn&iacute;m prostředkům</h3>\r\n<p>Svobodn&iacute; zast&aacute;vaj&iacute;
    n&aacute;zor, že město nem&aacute; upřednostňovat jeden dopravn&iacute; prostředek
    na &uacute;kor jin&eacute;ho. Chceme zru&scaron;it nesmysln&eacute; regulace v
    oblasti individu&aacute;ln&iacute; automobilov&eacute; dopravy, neboť se v posledn&iacute;ch
    letech uk&aacute;zalo, že městem uměle vytv&aacute;řen&eacute; regulace <br />
    s c&iacute;lem omezit řidiče vedly naopak k v&yacute;razn&eacute;mu zhor&scaron;en&iacute;
    dopravn&iacute; obslužnosti pro řidiče. Podle na&scaron;eho n&aacute;zoru by město
    mělo naopak vytv&aacute;řet alternativn&iacute; silničn&iacute; trasy (dokončit
    okruh a dal&scaron;&iacute; kl&iacute;čov&eacute; dopravn&iacute; stavby), č&iacute;mž
    se celkově nav&yacute;&scaron;&iacute; kapacita městsk&eacute; silničn&iacute;
    infrastruktury. D&iacute;ky tomu bude doprava plynulej&scaron;&iacute; a č&aacute;st
    provozu bude odvedena mimo centrum města. Krom zv&yacute;&scaron;en&iacute; komfortu
    pro občany bude m&iacute;t vy&scaron;&scaron;&iacute; plynulost dopravy i v&yacute;razně
    pozitivn&iacute; dopad na životn&iacute; prostřed&iacute; v metropoli.</p>\r\n<p>Tak&eacute;
    probl&eacute;my s parkov&aacute;n&iacute;m chtěj&iacute; Svobodn&iacute; ře&scaron;it
    zv&yacute;&scaron;en&iacute;m kapacity. Chceme prosadit možnost vytv&aacute;řet
    nov&aacute; parkovac&iacute; m&iacute;sta. Předev&scaron;&iacute;m v oblastech,
    kde je nab&iacute;dka parkov&aacute;n&iacute; kriticky n&iacute;zk&aacute; a kde
    to situace umožňuje (aby lid&eacute; mohli parkovat na nevyužit&yacute;ch ploch&aacute;ch;
    aby soukrom&iacute; developeři mohli budovat podzemn&iacute; parkovi&scaron;tě
    pod parky apod.). Barevn&eacute; z&oacute;ny jsou pouze uměl&aacute; regulace
    a nezaji&scaron;ťuj&iacute; dostupněj&scaron;&iacute; parkov&aacute;n&iacute;.
    Obce sv&yacute;m občanům prod&aacute;vaj&iacute; vět&scaron;&iacute; počet parkovac&iacute;ch
    karet, než je samotn&yacute; počet parkovac&iacute;ch m&iacute;st. Podle n&aacute;s
    se jedn&aacute; o zbytečn&yacute; poplatek, kter&yacute; lze považovat za daň.
    Současn&yacute; koncept selh&aacute;v&aacute; rovněž v konceptu, neboť parkovac&iacute;
    karty jsou platn&eacute; vždy jen pro jednu městskou č&aacute;st. Lid&eacute;
    ale nežij&iacute; 24 hodin&nbsp; denně <br /> v m&iacute;stě sv&eacute;ho trval&eacute;ho
    bydli&scaron;tě, ale v průběhu dne se pohybuj&iacute; po cel&eacute; Praze! V
    jin&eacute; č&aacute;sti Prahy už v modr&eacute; z&oacute;ně nezaparkuj&iacute;.
    Parkov&aacute;n&iacute; na obecn&iacute;m pozemku by mělo b&yacute;t pro občany
    Prahy bezplatn&eacute;, poplatek za parkov&aacute;n&iacute; by měli platit pouze
    mimopraž&scaron;t&iacute; řidiči.</p>\r\n<h3>Kvalitněj&scaron;&iacute; a dostupněj&scaron;&iacute;
    MHD</h3>\r\n<p>V městsk&eacute; hromadn&eacute; dopravě chyb&iacute; f&eacute;rov&aacute;
    soutěž. Pražsk&yacute; dopravn&iacute; podnik je finančně nesoběstačn&yacute;,
    každ&yacute; rok požaduje z veřejn&eacute;ho rozpočtu města 12 miliard (25% rozpočtu
    města), nen&iacute; motivovan&yacute; zlep&scaron;ovat kvalitu sv&yacute;ch služeb
    a jeho nab&iacute;dka neodpov&iacute;d&aacute; re&aacute;ln&eacute; popt&aacute;vce
    obyvatel (nab&iacute;dku pl&aacute;nuje centr&aacute;lně městsk&aacute; organizace
    ROPID).&nbsp;</p>\r\n<p>Svobodn&iacute; chtěj&iacute; umožnit soukrom&yacute;m
    dopravcům využ&iacute;vat zast&aacute;vky MHD a konkurovat pražsk&eacute;mu dopravn&iacute;mu
    podniku. Konkurence nejen v dopravě zlep&scaron;uje kvalitu služeb a snižuje cenu
    pro koncov&eacute;ho spotřebitele (viz železnice Praha &ndash; Ostrava). Paradoxem
    je, že re&aacute;ln&aacute; cena jedn&eacute; j&iacute;zdenky (zaplacen&aacute;
    cena j&iacute;zdenky + rozpoč&iacute;tan&aacute; dotace zaplacen&iacute; občany
    z dan&iacute;) <strong>po Praze na vzd&aacute;lenost maxim&aacute;lně kilometrů</strong>
    je vy&scaron;&scaron;&iacute; než cena j&iacute;zdenky na t&eacute;měř 400 km
    dlouh&eacute; trati Praha &ndash; Ostrava se zaji&scaron;těn&iacute;m kvalitněj&scaron;&iacute;ch
    služeb.</p>\r\n<p>Současně chceme donutit dopravn&iacute; podnik k soběstačnosti
    a snižovat dotace vynaložen&eacute; na jeho provoz. Město coby jedin&yacute; akcion&aacute;ř
    dopravn&iacute;ho podniku selh&aacute;v&aacute; ve sv&eacute; dozorč&iacute; roli,
    a dopravn&iacute; podnik se tak stal obrovskou černou d&iacute;rou na pen&iacute;ze.<em
    style=\"line-height: 1.5em;\">&nbsp;</em></p>\r\n<h2><strong>3. Bezpečnost občanů</strong></h2>\r\n<h3>Str&aacute;žn&iacute;ky
    do ulic</h3>\r\n<p>Z celkov&eacute;ho počtu cca 2500 str&aacute;žn&iacute;ků vykon&aacute;v&aacute;
    pochůzk&aacute;řskou činnost jen asi 500 z nich(!). Současnou hlavn&iacute; prioritou
    městsk&eacute; policie je ře&scaron;en&iacute; ban&aacute;ln&iacute;ch dopravn&iacute;ch
    přestupků m&iacute;sto zaji&scaron;ťov&aacute;n&iacute; bezpečnosti obyvatel,
    ochranu jejich majetku a dohl&iacute;žen&iacute; na dodržov&aacute;n&iacute; poř&aacute;dku
    v ulic&iacute;ch.</p>\r\n<p>&nbsp;Jsme pro sn&iacute;žen&iacute; celkov&eacute;ho
    počtu str&aacute;žn&iacute;ků a dal&scaron;&iacute;ch zaměstnanců Městsk&eacute;
    policie. Zbyl&eacute; městsk&eacute; str&aacute;žn&iacute;ky chceme poslat do
    ulic za &uacute;čelem pos&iacute;len&iacute; pochůzk&aacute;řsk&eacute; činnosti
    a činnosti tzv. okrsk&aacute;řů.</p>\r\n<p>&nbsp;<strong style=\"font-size: 1.5em;
    line-height: 1.5em;\">4. Transparentn&iacute; radnice a ru&scaron;en&iacute; zbytečn&yacute;ch
    poplatků</strong></p>\r\n<h3>Lidov&eacute; veto</h3>\r\n<p>Už ž&aacute;dn&iacute;
    &bdquo;kolibř&iacute;ci&ldquo; a &bdquo;maz&aacute;nci&ldquo;. Svobodn&iacute;
    chtěj&iacute; prosadit na celost&aacute;tn&iacute; &uacute;rovni lidov&eacute;
    veto (ratifikačn&iacute; referendum), jehož prostřednictv&iacute;m mohou občan&eacute;
    v referendu odm&iacute;tnout &scaron;patn&yacute; z&aacute;kon či vyhl&aacute;&scaron;ku
    před nabyt&iacute;m &uacute;činnosti. Svobodn&iacute; se pokus&iacute; prosadit
    syst&eacute;m lidov&eacute;ho veta z pozice zastupitelstva Hlavn&iacute;ho města
    Prahy (Praha je souč&aacute;st&iacute; moci z&aacute;konod&aacute;rn&eacute;).
    Popř&iacute;padě se pokus&iacute; naj&iacute;t &scaron;ir&scaron;&iacute; podporu
    pro zakotven&iacute; prvků lidov&eacute;ho veta (posunut&iacute; &uacute;činnosti,
    umožněn&iacute; zneplatněn&iacute; vyhl&aacute;&scaron;ky při lidov&eacute;m vetu)
    do každ&eacute;ho usnesen&iacute; ZHMP.</p>\r\n<h3>Ru&scaron;en&iacute; zbytečn&yacute;ch
    poplatků</h3>\r\n<p>Svobodn&iacute; chtěj&iacute; zru&scaron;it např&iacute;klad
    zbytečn&eacute; poplatky za psy a u&scaron;etřit tak jejich majitelům nemal&eacute;
    finančn&iacute; prostředky. Psi nejsou jedin&yacute; prvek, u kter&eacute;ho hroz&iacute;
    riziko, že znečist&iacute; veřejn&yacute; prostor. Majitel&eacute; psů se mnohdy
    domn&iacute;vaj&iacute;, že zaplacen&iacute;m poplatku odpadla jejich povinnost
    ukl&iacute;zet po sv&eacute;m mazl&iacute;čkovi exkrementy. Tento poplatek chceme
    zru&scaron;it, a ukl&iacute;zen&iacute; po psech jejich majiteli chceme naopak
    důsledněji kontrolovat př&iacute;tomnost&iacute; Městsk&eacute; policie (viz odstavec
    o MP).</p>\r\n<p>Dal&scaron;&iacute;m c&iacute;lem je sn&iacute;žen&iacute; poplatků
    za pron&aacute;jem či z&aacute;bor veřejn&eacute;ho prostoru, č&iacute;mž dojde
    ke sn&iacute;žen&iacute; provozn&iacute;ch n&aacute;kladů např. pro provozovatele
    pohostinsk&yacute;ch služeb, kter&eacute; maj&iacute; zahr&aacute;dku před sv&yacute;m
    podnikem, což se postupně projev&iacute; v niž&scaron;&iacute;ch cen&aacute;ch
    pro koncov&eacute; spotřebitele.</p>\r\n<h3>Obec nem&aacute; podnikat</h3>\r\n<p>Z
    pozice zastupitelů budeme br&aacute;nit nov&yacute;m podnikatelsk&yacute;m aktivit&aacute;m
    ze strany obce. Město nem&aacute; podnikat. &bdquo;Podnik&aacute;n&iacute; obce&ldquo;
    naru&scaron;uje f&eacute;rovou soutěž, jelikož město pracuje s veřejn&yacute;mi
    penězi a v&yacute;sledkem může b&yacute;t vznik nov&eacute;ho monopoln&iacute;ho
    poskytovatele služeb v dan&eacute; oblasti.</p>\r\n<h2>Obecn&eacute; principy:</h2>\r\n<p>Svobodn&iacute;
    v komun&aacute;ln&iacute; politice vych&aacute;z&iacute; obecně z těchto principů:</p>\r\n<ol>\r\n<li>Obce
    hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute;
    jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute;
    vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute;
    prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona
    o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</li>\r\n<li>Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v
    obc&iacute;ch.</li>\r\n<li>Obce z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi
    aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.</li>\r\n<li>Obce
    ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně
    konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</li>\r\n<li>V
    př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat
    na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</li>\r\n<li>Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</li>\r\n</ol>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
