---
title: Bedřich Laube
slug: bedrich-laube
listed: true
published: false
cache_strategy: none
response_type: text/html
position: 101
editable_elements:
  main/vypis: '999'
  main/nadpis: "<div id=\"id_53f85d767e9bd6405852683\" class=\"text_exposed_root text_exposed\">Narodil
    jsem se v roce 1969 ve Slan&eacute;m a od roku 1992 žiji v Praze, z toho posledn&iacute;ch
    15 let na Proseku. Roku 2010 jsem při zaměstn&aacute;n&iacute; dokončil V&Scaron;
    Bankovn&iacute; institut, obor Makl&eacute;ř. Podnik&aacute;m v automobilov&eacute;m
    průmyslu. V roce 2013 jsem vstoupil do Strany svobodn&yacute;ch občanů a v roce
    2014 byl zvolen členem Kontroln&iacute; komise.</div>\r\n<div class=\"text_exposed_root
    text_exposed\"><br /> V z<span class=\"text_exposed_show\">astupitelstvu Prahy
    9 bych r&aacute;d prosazoval program Svobodn&yacute;ch s důrazem na osobn&iacute;
    svobodu a př&iacute;stup k informac&iacute;m. Informace by měly b&yacute;t zveřejňov&aacute;ny
    včas a kompletn&iacute;, aby občan&eacute; se z&aacute;jmem o děn&iacute; v na&scaron;&iacute;
    městsk&eacute; č&aacute;sti mohli projevit svou vůli. Hospodařen&iacute; Prahy
    9 mus&iacute; b&yacute;t vyrovnan&eacute;, abychom nezatěžovali dluhy na&scaron;e
    děti. Bezpečnost v městsk&eacute; č&aacute;sti mus&iacute; b&yacute;t nadřazena
    v&yacute;běru pokut za &scaron;patn&eacute; parkov&aacute;n&iacute;.</span></div>\r\n<div
    class=\"text_exposed_root text_exposed\"><span class=\"text_exposed_show\"><br
    /> R&aacute;d bych přispěl k podpoře m&iacute;stn&iacute;ch živnostn&iacute;ků,
    podnikatelů a zaměstnavatelů, a to zejm&eacute;na omezov&aacute;n&iacute;m m&iacute;stn&iacute;ch
    vyhl&aacute;&scaron;ek a podporou parkov&aacute;n&iacute; pobl&iacute;ž provozoven.
    Podnik&aacute;n&iacute; městsk&eacute; č&aacute;sti mus&iacute; b&yacute;t omezeno
    na co nejmen&scaron;&iacute; &uacute;roveň. Jsem pro dokončen&iacute; privatizace
    bytů podle zvolen&eacute;ho harmonogramu př&iacute;padně i pro jej&iacute; urychlen&iacute;.</span></div>\r\n<div
    class=\"text_exposed_root text_exposed\"><span class=\"text_exposed_show\"><br
    /> Svobodn&iacute; Prahy 9 jsou volbou pro svobodněj&scaron;&iacute; život v na&scaron;&iacute;
    městsk&eacute; č&aacute;sti a odpovědn&eacute; veden&iacute; radnice.</span></div>\r\n<div
    class=\"text_exposed_root text_exposed\">&nbsp;</div>\r\n<div class=\"text_exposed_root
    text_exposed\">&nbsp;</div>\r\n<div class=\"text_exposed_root text_exposed\"><span
    class=\"text_exposed_show\"><img src=\"/samples/assets/lidr1.jpg\" alt=\"\" width=\"470\"
    height=\"720\" /></span></div>"
---
{% extends 'parent' %}