---
title: Petr Černý
slug: petr-cerny
listed: true
published: false
cache_strategy: none
response_type: text/html
position: 103
editable_elements:
  main/nadpis: "<p><span id=\"fbPhotoPageCaption\" class=\"fbPhotosPhotoCaption\"
    data-ft=\"{&quot;tn&quot;:&quot;*G&quot;,&quot;type&quot;:45}\"><span class=\"hasCaption\">Jmenuji
    se Petr Čern&yacute;, profesn&iacute;m zaměřen&iacute;m jsem stavebn&iacute; inžen&yacute;r
    a kandiduji do zastupitelstva Prahy 9 s přesvědčen&iacute;m, že na spr&aacute;vě
    na&scaron;&iacute; městsk&eacute; č&aacute;sti se d&aacute; mnoh&eacute; zlep&scaron;it.
    Spr&aacute;vnou cestu vid&iacute;m v podpoře transparentnosti ve&scaron;ker&eacute;ho
    kon&aacute;n&iacute; radnice a spolurozhodov&aacute;n&iacute; občanů o věcech,
    kter&eacute; na ně př&iacute;mo dopadaj&iacute;.<br /> <br /> Obča<span class=\"text_exposed_show\">n
    mus&iacute; m&iacute;t možnost b&yacute;t s dostatečn&yacute;m předstihem informov&aacute;n
    o ud&aacute;lostech chystan&yacute;ch &uacute;řadem městsk&eacute; č&aacute;sti
    tak, aby mohl vyhodnotit dopady na svůj život, zaujmout k nim stanovisko a dostat
    prostor k jeho prezentaci. Zastupitelstvo pak mus&iacute; přihl&eacute;dnout k
    n&aacute;zorům předev&scaron;&iacute;m těch občanů, kter&yacute;ch se bude dan&eacute;
    rozhodnut&iacute; bezprostředně t&yacute;kat. Volba v&yacute;sledn&eacute;ho ře&scaron;en&iacute;
    vždy mus&iacute; prob&iacute;hat s citem pro situaci v konkr&eacute;tn&iacute;
    lokalitě. Z&aacute;kladem pro v&yacute;&scaron;e uveden&yacute; př&iacute;stup
    je zveřejňov&aacute;n&iacute; v&scaron;ech důležit&yacute;ch dokumentů na internetu
    a vhodnou komunikac&iacute; s obyvateli městsk&eacute; č&aacute;sti. Pozitivn&iacute;m
    efektem otevřenosti &uacute;řadu je rovněž minimalizace možnost&iacute; korupčn&iacute;ho
    chov&aacute;n&iacute;, aniž by bylo třeba vym&yacute;&scaron;let speci&aacute;ln&iacute;
    protikorupčn&iacute; opatřen&iacute;.<br /> <br /> V souladu s postoji Svobodn&yacute;ch
    jsem pro minimalizaci přerozdělov&aacute;n&iacute; peněz prostřednictv&iacute;m
    veřejn&yacute;ch rozpočtů na nezbytně nutnou mez. Na &uacute;rovni m&iacute;stn&iacute;
    samospr&aacute;vy to např&iacute;klad znamen&aacute; odbour&aacute;n&iacute; poplatků,
    za kter&eacute; občan nez&iacute;sk&aacute;v&aacute; ž&aacute;dnou protislužbu
    a jsou tak jen dal&scaron;&iacute; formou daně. Přerozdělovan&eacute; prostředky
    by neměly b&yacute;t využ&iacute;v&aacute;ny k podnikatelsk&yacute;m aktivit&aacute;m
    radnice, protože takov&eacute; kroky deformuj&iacute; tržn&iacute; prostřed&iacute;-
    občan mus&iacute; za sv&eacute; pen&iacute;ze dost&aacute;vat adekv&aacute;tn&iacute;
    protihodnotu, přičemž by ž&aacute;dn&aacute; skupina občanů neměla b&yacute;t
    zv&yacute;hodněna nad jinou.<br /> <br /> Mou volebn&iacute; prioritou je zaji&scaron;těn&iacute;
    efektivn&iacute;ho fungov&aacute;n&iacute; radnice Prahy 9, kter&aacute; bude
    db&aacute;t o trvale udržiteln&yacute; rozvoj na&scaron;&iacute; městsk&eacute;
    č&aacute;sti a jej&iacute;m obyvatelům zajist&iacute; př&iacute;jemn&eacute; m&iacute;sto
    pro život.</span></span></span></p>\r\n<p><span class=\"fbPhotosPhotoCaption\"
    data-ft=\"{&quot;tn&quot;:&quot;*G&quot;,&quot;type&quot;:45}\"><img src=\"/samples/assets/lidr2.jpg\"
    alt=\"\" width=\"469\" height=\"721\" /></span></p>"
---
{% extends 'parent' %}