---
title: Zuzana Haberlová
slug: zuzana-haberlova
listed: true
published: false
cache_strategy: none
response_type: text/html
position: 102
editable_elements:
  main/vypis: '999'
  main/nadpis: "<p><span id=\"fbPhotoPageCaption\" class=\"fbPhotosPhotoCaption\"
    data-ft=\"{\"><span class=\"hasCaption\">Jmenuji se Zuzana Haberlov&aacute;, je
    mi 31 let a v současnosti jsem na rodičovsk&eacute; dovolen&eacute; se svou ročn&iacute;
    dcerou. Před n&aacute;stupem na mateřskou dovolenou jsem pracovala na pozici specialisty
    z&aacute;kaznick&eacute;ho servisu. Poch&aacute;z&iacute;m z Hradce Kr&aacute;lov&eacute;,
    v Praze žiji 9 let.<br /> <br /> Jsem přesvědčen&aacute;, že občan&eacute; by
    měli m&iacute;t možnost co nejv&iacute;ce ovlivňovat a za<span class=\"text_exposed_show\">sahovat
    do děn&iacute; v m&iacute;stě, kde žij&iacute;. Aby tuto možnost měli, je nezbytn&eacute;,
    aby radnice fungovala transparentně a občan&eacute; byli o jej&iacute;ch kroc&iacute;ch
    maxim&aacute;lně informovan&iacute;. To je i prioritou Svobodn&yacute;ch, a i
    proto jsem se rozhodla za Svobodn&eacute; kandidovat a prosazovat fungov&aacute;n&iacute;
    těchto principů i na Praze 9.<br /> <br /> Jednou z m&yacute;ch osobn&iacute;ch
    programov&yacute;ch priorit je změna syst&eacute;mu financov&aacute;n&iacute;
    &scaron;kolek. Za velmi nevyhovuj&iacute;c&iacute; považuji stav, kdy obec nen&iacute;
    schopn&aacute; zajistit m&iacute;sta v obecn&iacute;ch &scaron;kol&aacute;ch pro
    v&scaron;echny děti a rodiče dět&iacute;, pro kter&eacute; se m&iacute;sto nenajde,
    mus&iacute; platit několikatis&iacute;cov&eacute; &scaron;kolkovn&eacute;. Proto
    chceme prosadit, aby byl př&iacute;spěvek v&aacute;zan&yacute; na konkr&eacute;tn&iacute;
    d&iacute;tě, nikoliv na &scaron;kolku, č&iacute;mž otevřeme dveře soukrom&yacute;m
    investorům, kteř&iacute; zajist&iacute; optim&aacute;ln&iacute; služby.<br />
    <br /></span></span></span><br />&nbsp;</p>\r\n<p><img src=\"/samples/assets/lidr3.jpg\"
    alt=\"\" width=\"468\" height=\"720\" /></p>"
---
{% extends 'parent' %}