---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p style=\"text-align: justify;\">V&aacute;žen&iacute; spoluobčan&eacute;,</p>\r\n<p
    style=\"text-align: justify;\">o Va&scaron;e hlasy se v komun&aacute;ln&iacute;ch
    volb&aacute;ch uch&aacute;z&iacute; pět nez&aacute;visl&yacute;ch kandid&aacute;tů
    sdružen&yacute;ch pod hlavičkou Strany svobodn&yacute;ch občanů. Jsme nestran&iacute;ci,
    ale k&nbsp;idej&iacute;m Svobodn&yacute;ch se otevřeně hl&aacute;s&iacute;me a
    na hořick&eacute; radnici chceme h&aacute;jit tyt&eacute;ž principy.</p>\r\n<ul
    style=\"text-align: justify;\">\r\n<li>Obec by se měla zadlužovat pouze ve v&yacute;jimečn&yacute;ch
    př&iacute;padech a měla by hospodařit s&nbsp;vyrovnan&yacute;m rozpočtem.</li>\r\n<li>Veřejn&eacute;
    prostředky by měly b&yacute;t vynakl&aacute;d&aacute;ny předev&scaron;&iacute;m
    na veřejn&eacute; statky, tedy na silnice, chodn&iacute;ky, zaji&scaron;těn&iacute;
    poř&aacute;dku a čistoty v&nbsp;obci a provoz &scaron;kolstv&iacute;.</li>\r\n<li>Jsme
    pro transparentnost a důslednou kontrolu v&yacute;běrov&yacute;ch ř&iacute;zen&iacute;,
    zak&aacute;zek a smluv.</li>\r\n<li>Obec by měla hospodařit tak, aby byla schopna
    co nejv&iacute;ce ulevit občanům od poplatků, např&iacute;klad sn&iacute;žen&iacute;m
    daně z&nbsp;nemovitosti nebo zm&iacute;rněn&iacute;m (zru&scaron;en&iacute;m)
    poplatků za svoz komun&aacute;ln&iacute;ho odpadu. Nechť zůstane co nejv&iacute;ce
    peněz v&nbsp;kaps&aacute;ch lid&iacute;, kteř&iacute; věd&iacute; l&eacute;pe,
    jak s&nbsp;nimi naložit.</li>\r\n<li>Obec by neměla podnikat a deformovat tak
    tržn&iacute; prostřed&iacute;.</li>\r\n<li>Obec z&nbsp;principu nemůže b&yacute;t
    lep&scaron;&iacute; hospod&aacute;ř než soukromn&iacute;k. Hořice by proto měly
    započ&iacute;t cestu k&nbsp;privatizaci mnoha nemovitost&iacute;, kter&eacute;
    vlastn&iacute; (bytů, zdravotnick&yacute;ch zař&iacute;zen&iacute;, sportovi&scaron;ť,&hellip;).</li>\r\n<li>Obec
    by měla podporovat podnik&aacute;n&iacute;. Nekl&aacute;st živnostn&iacute;kům
    a podnikatelům do cesty zbytečn&eacute; přek&aacute;žky. Přistupovat ke každ&eacute;mu
    stejně. Nezv&yacute;hodňovat jedny na &uacute;kor druh&yacute;ch. Soukrom&yacute;
    sektor generuje zisky, zaměstn&aacute;v&aacute; lidi a je v&nbsp;z&aacute;jmu
    v&scaron;ech, mu nebr&aacute;nit.</li>\r\n<li>Obec by neměla vym&yacute;&scaron;let
    zbytečn&eacute; regulace a směrnice. Přestaňme občany zatěžovat, ulevme jim. Spokojen&yacute;
    občan rovn&aacute; se funguj&iacute;c&iacute; st&aacute;t.</li>\r\n<li>Sloučen&iacute;
    hořick&yacute;ch středn&iacute;ch &scaron;kol považujeme za velkou chybu. Podporujeme
    nově vznikl&eacute; soukrom&eacute; Hořick&eacute; gymn&aacute;zium.</li>\r\n<li>Př&aacute;li
    bychom si snadněj&scaron;&iacute; a efektivněj&scaron;&iacute; komunikaci mezi
    radnic&iacute; a občany. Jsme pro, aby se jednoduch&eacute; z&aacute;ležitosti
    daly ře&scaron;it přes internet. Informace o děn&iacute; ve městě by se nemusely
    omezovat jen na webov&eacute; str&aacute;nky. Měly by b&yacute;t k dispozici tak&eacute;
    na st&aacute;le popul&aacute;rněj&scaron;&iacute;ch soci&aacute;ln&iacute;ch s&iacute;t&iacute;ch.</li>\r\n<li>Zvolen&iacute;
    politici by neměli h&aacute;jit sv&eacute; osobn&iacute; z&aacute;jmy a protěžovat
    jednu skupinu na &uacute;kor druh&eacute;. Jsme pro spravedliv&yacute; př&iacute;stup.</li>\r\n<li>Hořice
    byly a jsou městem se siln&yacute;mi kulturn&iacute;mu tradicemi. Zachovejme jim
    př&iacute;zeň, nebraňme jim. Žijeme na kr&aacute;sn&eacute;m m&iacute;stě, o kter&eacute;
    se chceme podělit i v&nbsp;budoucnu.</li>\r\n</ul>\r\n<p style=\"text-align: justify;\">&ldquo;Založili
    jsme Stranu svobodn&yacute;ch občanů, protože jsme sami neměli koho volit,&rdquo;
    ř&iacute;k&aacute; zakladatel a předseda strany, Ing. Petr Mach, Ph.D. Ze stejn&eacute;ho
    impulsu vznikli i Svobodn&iacute; v na&scaron;em městě. Hořice jsou pro n&aacute;s
    domovem, kter&yacute; m&aacute;me r&aacute;di, a nen&iacute; n&aacute;m lhostejno,
    jak&yacute;m směrem se ub&iacute;raj&iacute;. Pevně věř&iacute;me, že ctěn&iacute;
    demokratick&yacute;ch principů, voln&eacute;ho trhu, tradic, mor&aacute;ln&iacute;ch
    hodnot a omezen&iacute; vlivu st&aacute;tu je spr&aacute;vn&aacute; cesta, kter&aacute;
    Hořice pozvedne.</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
