---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<h2>Koordin&aacute;tor pobočky Hodon&iacute;nsko</h2>\r\n<p>Ing.
    Petr Bur&aacute;ň</p>\r\n<p>hodoninsko@svobodni.cz</p>\r\n<h2>Koordin&aacute;tor
    pobočky Hodon&iacute;n</h2>\r\n<p>Ter&eacute;zia I&scaron;kov&aacute;</p>\r\n<p>hodonin@svobodni.cz</p>\r\n<p>&nbsp;</p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}