---
title: Program
slug: program
is_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p><span style=\"font-size: x-large;\"><strong>Hospodařen&iacute;
    města</strong></span></p>\r\n<p dir=\"ltr\">Město hospodař&iacute; zpravidla s
    vyrovnan&yacute;m nebo přebytkov&yacute;m rozpočtem. V mimoř&aacute;dn&yacute;ch
    př&iacute;padech je možn&eacute; m&iacute;t deficitn&iacute; rozpočet (př&iacute;rodn&iacute;
    živly, neodkladn&eacute; investice). Přebytky rozpočtů město investuje do finančn&iacute;ch
    produktů s n&iacute;zk&yacute;m rizikem. Nen&iacute; možn&eacute; investovat do
    rizikov&yacute;ch produktů s nejist&yacute;m v&yacute;nosem.</p>\r\n<p dir=\"ltr\">Město
    vynakl&aacute;d&aacute; finančn&iacute; prostředky předev&scaron;&iacute;m na
    veřejn&eacute; statky, kter&yacute;mi jsou silnice, chodn&iacute;ky, čistota v
    ulic&iacute;ch, veřejn&eacute; osvětlen&iacute;, bezpečnost apod. Investice a
    služby, kter&eacute; nejsou veřejn&yacute;mi statky nesm&iacute; b&yacute;t financov&aacute;ny
    městem, ale měly by b&yacute;t zaji&scaron;ťov&aacute;ny soukromou sf&eacute;rou.</p>\r\n<p
    dir=\"ltr\">Chceme j&iacute;t cestou spl&aacute;cen&iacute; současn&eacute;ho
    dluhu tak, aby se město zbavilo ve&scaron;ker&yacute;ch dluhů a d&aacute;le se
    již nezadlužovalo. Dluh města se v posledn&iacute;ch letech sice zmen&scaron;uje,
    nicm&eacute;ně leto&scaron;n&iacute; rozpočtov&eacute; opatřen&iacute; č. 3 poč&iacute;t&aacute;
    s deficitem až 100 000 000,- Kč, kter&yacute; m&aacute; b&yacute;t kryt nov&yacute;mi
    &uacute;věry ve v&yacute;&scaron;i necel&yacute;ch 50 000 000 ,- Kč a &nbsp;minul&yacute;mi
    rozpočtov&yacute;mi přebytky. Celkem se tak m&aacute; město letos zadlužit o v&iacute;ce
    jak 10 000 000,- Kč.</p>\r\n<p dir=\"ltr\">Jsme proti jak&eacute;mukoliv dal&scaron;&iacute;mu
    zadlužov&aacute;n&iacute; a nepodpoř&iacute;me ž&aacute;dn&yacute; deficitn&iacute;
    rozpočet, kter&yacute; by zv&yacute;&scaron;il dluh města.</p>\r\n<p dir=\"ltr\">&nbsp;</p>\r\n<p
    dir=\"ltr\"><span style=\"font-size: x-large;\"><strong>Podnikatelsk&eacute; aktivity
    města</strong></span></p>\r\n<p dir=\"ltr\"><strong>L&aacute;zně Hodon&iacute;n,
    př&iacute;spěvkov&aacute; organizace</strong></p>\r\n<p dir=\"ltr\">Př&iacute;spěvkov&aacute;
    organizace je veřejnopr&aacute;vn&iacute; neziskov&aacute; organizace, jej&iacute;mž
    hlavn&iacute;m &uacute;kolem je uspokojov&aacute;n&iacute; veřejn&yacute;ch potřeb
    a nikoliv generov&aacute;n&iacute; zisku. Př&iacute;spěvkov&aacute; organizace
    hospodař&iacute; s peněžn&iacute;mi prostředky z&iacute;skan&yacute;mi vlastn&iacute;
    činnost&iacute; a z rozpočtu sv&eacute;ho zřizovatele.</p>\r\n<p dir=\"ltr\">Město
    prezentuje leto&scaron;n&iacute; stomilionovou investici, na vybudov&aacute;n&iacute;
    nov&eacute;ho pavilonu, jako n&aacute;vratnou. Pen&iacute;ze vložen&eacute; do
    městsk&yacute;ch l&aacute;zn&iacute; se ale již nikdy nevr&aacute;t&iacute;, a
    to z podstaty př&iacute;spěvkov&eacute; organizace.</p>\r\n<p dir=\"ltr\">Komu
    tedy město L&aacute;zněmi slouž&iacute;? Občanům města určitě ne. Občan města
    Hodon&iacute;na m&aacute; z l&aacute;zn&iacute; nulov&yacute; užitek. L&aacute;zně
    jsou um&iacute;stěny daleko od centra, takže o zv&yacute;&scaron;en&iacute; cestovn&iacute;ho
    ruchu nemůže b&yacute;t řeč.</p>\r\n<p dir=\"ltr\">Jsme proti jak&eacute;mukoliv
    dal&scaron;&iacute;mu nal&eacute;v&aacute;n&iacute; peněz do Městsk&yacute;ch
    l&aacute;zn&iacute;.</p>\r\n<p dir=\"ltr\"><strong style=\"font-size: medium;
    line-height: 1.5em;\">Městsk&aacute; bytov&aacute; spr&aacute;va s.r.o.</strong></p>\r\n<p
    dir=\"ltr\">Městsk&aacute; bytov&aacute; spr&aacute;va je společnost&iacute;,
    jej&iacute;mž zakladatelem a jedin&yacute;m společn&iacute;kem je město Hodon&iacute;n.
    Tato společnost m&aacute; na starosti spr&aacute;vu městsk&yacute;ch bytů, jejich
    bytov&eacute; a tepeln&eacute; hospod&aacute;řstv&iacute;. Ve v&yacute;čtu jej&iacute;ch
    činnost&iacute; je několik des&iacute;tek předmětů podnik&aacute;n&iacute;.</p>\r\n<p
    dir=\"ltr\">Město Hodon&iacute;n m&aacute; v současn&eacute; době necel&yacute;ch
    400 bytov&yacute;ch jednotek. Navrhujeme, aby drtiv&aacute; č&aacute;st těchto
    bytů byla prod&aacute;na a ponech&aacute;no jen minim&aacute;ln&iacute; množstv&iacute;
    bytů pro občany, kteř&iacute; n&aacute;hle při&scaron;li o bydlen&iacute;. O těch
    zb&yacute;vaj&iacute;c&iacute;ch p&aacute;r jednotek bytů se může starat soukrom&aacute;
    firma zab&yacute;vaj&iacute;c&iacute; se spr&aacute;vou nemovitost&iacute; a činnost
    Městsk&eacute; bytov&eacute; spr&aacute;vy bude moci b&yacute;t ukončena. Společenstv&iacute;
    vlastn&iacute;ků jednotek se potom budou sami starat o služby a opravy souvisej&iacute;c&iacute;
    s jejich bytov&yacute;mi domy.</p>\r\n<p dir=\"ltr\">Nevid&iacute;me důvod proč
    by město mělo prostřednictv&iacute;m vlastn&iacute; společnosti podnikat na poli
    spr&aacute;vy nemovitost&iacute;. V&scaron;echny tyto činnosti by měly b&yacute;t
    přenech&aacute;ny soukrom&eacute; sf&eacute;ře.</p>\r\n<p dir=\"ltr\"><strong>Hotel
    Krystal a Cestovn&iacute; agentura Marko</strong></p>\r\n<p dir=\"ltr\">Hotel
    Krystal a Cestovn&iacute; agenturu Marko provozuje Městsk&aacute; bytov&aacute;
    spr&aacute;va Hodon&iacute;n a jsou to pouze dal&scaron;&iacute; společnosti napojen&eacute;
    na město, kter&eacute; by vůbec nemuseli b&yacute;t provozov&aacute;ny městem
    ale soukromou sf&eacute;rou.</p>\r\n<p dir=\"ltr\">Hotel pro&scaron;el rekonstrukc&iacute;
    a do&scaron;lo k roz&scaron;&iacute;řen&iacute; nab&iacute;zen&yacute;ch služeb.
    To v&scaron;e za pen&iacute;ze občanů města, kter&eacute; teď budou sloužit ciz&iacute;m
    n&aacute;v&scaron;těvn&iacute;kům.</p>\r\n<p>Město k zaji&scaron;ťov&aacute;n&iacute;
    veřejn&yacute;ch potřeb občanů města Hodon&iacute;na nepotřebuje vlastn&iacute;
    l&aacute;zně, hotel, cestovn&iacute; agenturu, ani spr&aacute;vce nemovitost&iacute;.
    Nejde o investičn&iacute; z&aacute;měry a město pro občany touto činnost&iacute;
    nevyděl&aacute; ani korunu. Může pouze tratit.</p>\r\n<p>&nbsp;</p>\r\n<p dir=\"ltr\"><span
    style=\"font-size: x-large;\"><strong>Bezpečnost ve městě</strong></span></p>\r\n<p>Hlavn&iacute;
    &uacute;lohou městsk&yacute;ch str&aacute;žn&iacute;ků je zaji&scaron;ťovat bezpečnost
    občanů ve městě. Proto navrhujeme, aby str&aacute;žn&iacute;c&iacute; vyb&iacute;rali
    m&eacute;ně pokut za &scaron;patn&eacute; parkov&aacute;n&iacute;, kter&eacute;
    bezpečnost lid&iacute; neohrožuje. Chceme tak&eacute;, aby str&aacute;žnici nevyb&iacute;rali
    pokuty za rychlou j&iacute;zdu, protože to je pr&aacute;ce st&aacute;tn&iacute;
    policie. Co je ale důležit&eacute;, aby str&aacute;žnici chodili v ulic&iacute;ch
    a byli na oč&iacute;ch. Aby bylo vidět, že skutečně bezpečnost zaji&scaron;ťuj&iacute;
    a nevoz&iacute; se jenom v automobilech. Policista m&aacute; b&yacute;t vidět
    a tak&eacute; b&yacute;t př&iacute;tomen v rizikov&yacute;ch oblastech města.</p>\r\n<p>Mnohem
    důležitěj&scaron;&iacute;, než v&yacute;&scaron;e popsan&eacute;, je komunikace
    veden&iacute; města s městskou polici&iacute;. Můžete m&iacute;t str&aacute;žn&iacute;ky
    v ulic&iacute;ch, ale pokud nebudou dost&aacute;vat jasn&eacute; &uacute;koly,
    nebudou pracovat efektivně. Proto budeme kl&aacute;st důraz na ř&aacute;dnou komunikaci
    s městskou polici&iacute; a stanovovat j&iacute; jasn&eacute; &uacute;koly.</p>\r\n<p>&nbsp;</p>\r\n<p><span
    style=\"font-size: x-large;\"><strong>Pracovn&iacute; trh</strong></span></p>\r\n<p
    dir=\"ltr\">Hodon&iacute;nsko tr&aacute;p&iacute; vysok&aacute; nezaměstnanost.
    Je třeba ch&aacute;pat, že nen&iacute; &uacute;kolem města ani st&aacute;tu vytv&aacute;řet
    pracovn&iacute; m&iacute;sta, n&yacute;brž vytv&aacute;řet vhodn&eacute; podm&iacute;nky
    pro podnikatele, kteř&iacute; ve městě podnikaj&iacute;, nebo by chtěli podnikat.
    To jsou ti lid&eacute;, kteř&iacute; ty pracovn&iacute; m&iacute;sta vytv&aacute;řej&iacute;.
    To jsou ti lid&eacute;, kteř&iacute; by měli c&iacute;tit od veden&iacute; města
    podporu v podnik&aacute;n&iacute;, aby zde chtěli vůbec provozovat nějakou činnost.</p>\r\n<p
    dir=\"ltr\">Nechceme ale podporovat jednotliv&eacute; podnikatele na &uacute;kor
    jin&yacute;ch, ale d&aacute;t jasně najevo, že v&scaron;ichni budou m&iacute;t
    v Hodon&iacute;ně rovn&eacute; a jasně definovan&eacute; podm&iacute;nky pro podnik&aacute;n&iacute;.
    Protože jedině stabiln&iacute; podm&iacute;nky d&aacute;vaj&iacute; jasn&yacute;
    sign&aacute;l podnikatelům za jak&yacute;ch podm&iacute;nek se ve městě hraje.</p>\r\n<p>Nechceme
    prod&aacute;vat pozemky za korunu, ale ani nechceme potenci&aacute;ln&iacute;m
    podnikatelům br&aacute;nit v koupi pozemků pro provozov&aacute;n&iacute; podnikatelsk&eacute;
    činnosti.</p>\r\n<p>&nbsp;</p>\r\n<p><span style=\"font-size: x-large;\"><strong>Transparentn&iacute;
    ř&iacute;zen&iacute; města</strong></span></p>\r\n<p dir=\"ltr\">Zasad&iacute;me
    se o to, aby byl z jedn&aacute;n&iacute; městsk&eacute;ho zastupitelstva pořizov&aacute;n
    nejen zvukov&yacute;, ale i obrazov&yacute; z&aacute;znam a z&aacute;roveň byl
    zveřejněn na někter&eacute;m z uživatelsky př&iacute;větiv&yacute;ch kan&aacute;lů
    (např. na YouTube), kde si jej budou moci občan&eacute; bez probl&eacute;mů shl&eacute;dnout
    a kontrolovat tak činnost sv&yacute;ch zastupitelů.</p>\r\n<p dir=\"ltr\">M&aacute;me
    za to, že internetov&eacute; str&aacute;nky města a orientace v nich jsou př&iacute;li&scaron;
    nepřehledn&eacute; a to zejm&eacute;na pokud občan&eacute; potřebuj&iacute; naj&iacute;t
    nějak&yacute; dokument, proto zajist&iacute;me jejich proměnu tak, aby se v nich
    dalo lehce orientovat. Budeme tak&eacute; zveřejňovat dokumenty a &nbsp;kompletn&iacute;
    z&aacute;pisy ze zased&aacute;n&iacute; v&scaron;ech org&aacute;nů města a to
    i těch neveřejn&yacute;ch.<br class=\"kix-line-break\" />V neposledn&iacute; řadě
    budeme zveřejňovat průběh realizace v&scaron;ech veřejn&yacute;ch zak&aacute;zek
    a nebudeme uzav&iacute;rat smlouvy s pr&aacute;vnick&yacute;mi osobami s nejasnou
    vlastnickou strukturou a budeme prověřovat v&scaron;echny podezřel&eacute; vazby
    na firmy uzav&iacute;raj&iacute;c&iacute; s městem jakoukoli smlouvu.</p>\r\n<p>Na&scaron;&iacute;m
    velk&yacute;m c&iacute;lem je tak&eacute; sn&iacute;žen&iacute; počtu zastupitelů
    směrem k doln&iacute; hranici stanoven&eacute; z&aacute;konem. S klesaj&iacute;c&iacute;m
    počtem obyvatel m&aacute; klesat i počet zastupitelů.</p>\r\n<p>&nbsp;</p>\r\n<p
    dir=\"ltr\"><span style=\"font-size: x-large;\"><strong>Poplatky a daně</strong></span></p>\r\n<p><strong
    style=\"line-height: 1.5em;\">Daň z nemovitosti</strong></p>\r\n<p>Budeme trvat
    na zachov&aacute;n&iacute; aktu&aacute;ln&iacute; v&yacute;&scaron;e m&iacute;stn&iacute;ho
    koeficientu daně z nemovitosti a budeme hlasovat proti jak&eacute;mukoli n&aacute;vrhu
    na jeho zv&yacute;&scaron;en&iacute;.</p>\r\n<p><strong style=\"line-height: 1.5em;\">L&aacute;zeňsk&yacute;
    a rekreačn&iacute; poplatek</strong></p>\r\n<p>Navrhujeme zru&scaron;en&iacute;
    l&aacute;zeňsk&eacute;ho poplatku a poplatku za rekreačn&iacute; pobyt. Město
    by mělo podporovat turistick&yacute; ruch a t&iacute;m př&iacute;liv turistů,
    kteř&iacute; budou využ&iacute;vat služby m&iacute;stn&iacute;ch podnikatelů a
    ne si takto navy&scaron;ovat př&iacute;jmy městsk&eacute;ho rozpočtu. Tento poplatek
    nav&iacute;c pokl&aacute;d&aacute;me za diskriminačn&iacute;, protože dle obecně
    z&aacute;vazn&eacute; vyhl&aacute;&scaron;ky jej plat&iacute; fyzick&eacute; osoby,
    kter&eacute; přechodně a za &uacute;platu pob&yacute;vaj&iacute; na &uacute;zem&iacute;
    obce za &uacute;čelem l&eacute;čen&iacute; nebo rekreace. To znamen&aacute;, že
    jej plat&iacute; jen ti, kteř&iacute; se ubytuj&iacute; za &uacute;platu v nějak&eacute;m
    z m&iacute;stn&iacute;ch ubytovac&iacute;ch zař&iacute;zen&iacute;ch, ti kteř&iacute;
    jsou v&scaron;ak ubytov&aacute;n&iacute; u sv&eacute; rodiny či př&aacute;tel
    ž&aacute;dn&yacute; poplatek platit nemus&iacute;.</p>\r\n<p><strong style=\"line-height:
    1.5em;\">Poplatek za psa</strong></p>\r\n<p>Sn&iacute;ž&iacute;me poplatek za
    psa na 200 Kč. Dosud jste za sv&eacute;ho psa platili 780 Kč ročně a za tuto sumu
    nedost&aacute;vali t&eacute;měř ž&aacute;dnou protislužbu. Slu&scaron;n&iacute;
    majitel&eacute; si po sv&yacute;ch psech uklid&iacute; sami, a proto od nich nen&iacute;
    potřeba vyb&iacute;rat takto vysok&yacute; poplatek. Ti ostatn&iacute; budou př&iacute;sněji
    postihov&aacute;ni městskou polici&iacute;.</p>\r\n<p dir=\"ltr\"><strong>Svoz
    odpadů</strong></p>\r\n<p>Město mimo jin&yacute;ch př&iacute;jmů z&iacute;sk&aacute;v&aacute;
    tak&eacute; př&iacute;jmy ze st&aacute;tn&iacute;ho rozpočtu a to z dan&iacute;
    občanů. Mysl&iacute;me si, že jedn&iacute;m ze způsobů jak občanům tyto daně vr&aacute;tit
    je sn&iacute;žit jim poplatky za svoz odpadů ze současn&yacute;ch 600,- Kč na
    400,- Kč/rok. Existuje mnoho měst a obc&iacute;, kter&eacute; maj&iacute; poplatky
    za svoz odpadů zru&scaron;eny a přesto dok&aacute;ž&iacute; norm&aacute;lně fungovat.
    Nepl&yacute;tvaj&iacute; totiž penězi na zbytečn&eacute; projekty a aktivity města
    a mohou tak poskytovat tuto službu zdarma.</p>\r\n<p>&nbsp;</p>\r\n<p dir=\"ltr\"><span
    style=\"font-size: x-large;\"><strong>Kultura a sport</strong></span></p>\r\n<p>Jsme
    proti financov&aacute;n&iacute; sportovn&iacute;ch aktivit dospěl&yacute;ch lid&iacute;.
    Kon&iacute;čky dospěl&yacute;ch nemohou b&yacute;t financov&aacute;ny z rozpočtu
    města, tedy z peněz v&scaron;ech občanů. Chceme sn&iacute;žit př&iacute;jem financ&iacute;
    města od občanů (např. sn&iacute;žen&iacute;m poplatku za svoz odpadu nebo sn&iacute;žen&iacute;m
    poplatku za psa) a t&iacute;m nechat v&iacute;ce peněz lidem na jejich z&aacute;bavu.</p>\r\n<p
    dir=\"ltr\">Naopak chceme podporovat aktivity a rozvoj dět&iacute; a ml&aacute;deže.
    Chceme vyj&iacute;t mal&yacute;m talentům vstř&iacute;c<br class=\"kix-line-break\"
    />prostřednictv&iacute;m bezplatn&yacute;ch pron&aacute;jmů městsk&yacute;ch sportovi&scaron;ť.Z&aacute;roveň
    odm&iacute;t&aacute;me podporu jenom sportovců, podporovat je třeba tak&eacute;
    mlad&eacute; talenty v oblasti př&iacute;rodn&iacute;ch věd, jazyků, uměn&iacute;
    atd.</p>\r\n<p>Chceme aby kultura v na&scaron;em městě opět ožila, proto budeme
    vych&aacute;zet vstř&iacute;c organiz&aacute;torům kulturn&iacute;ch akc&iacute;
    a budeme jim poskytovat pro tyto &uacute;čely městsk&eacute; prostory.</p>\r\n<p>&nbsp;</p>\r\n<p><span
    style=\"font-size: x-large;\"><strong style=\"line-height: 1.5em;\">Tržn&iacute;
    ř&aacute;d</strong></span></p>\r\n<p dir=\"ltr\">Tržn&iacute; ř&aacute;d města
    Hodon&iacute;na stanov&iacute; dobu prodeje a poskytov&aacute;n&iacute; služeb
    v restauračn&iacute;ch zahr&aacute;dk&aacute;ch v době od 9:00 do 22:00.</p>\r\n<p
    dir=\"ltr\">V restauračn&iacute;ch zahr&aacute;dk&aacute;ch um&iacute;stěn&yacute;ch
    ve &ldquo;vybran&yacute;ch lokalit&aacute;ch&rdquo; se doba prodeje a poskytov&aacute;n&iacute;
    služeb ř&iacute;d&iacute; př&iacute;lohou č. 2 tržn&iacute;ho ř&aacute;du. To
    znamen&aacute;, že někter&eacute; vybran&eacute; lokality mohou m&iacute;t dobu
    prodeje a poskytov&aacute;n&iacute; služeb od 9:00 do 24:00.</p>\r\n<p dir=\"ltr\">Nesouhlas&iacute;me
    se zv&yacute;hodňov&aacute;n&iacute;m jedn&eacute; skupiny před druhou a navrhujeme,
    aby měli v&scaron;ichni pro podnik&aacute;n&iacute; stejn&eacute; podm&iacute;nky.</p>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
