---
title: Kontakt
slug: kontakt
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 40
editable_elements:
  main/kontakt: "<div class=\"media\">\r\n\t\t\t\t<h3><a href=\"http:///uzivatele/jiri-kubicek\">Jiří
    Kubíček</a></h3>\r\n\r\n\t\t\t\t<a class=\"pull-left\" href=\"#\">\r\n\t\t\t\t\t<img
    alt=\"Jiří Kubíček\" class=\"media-object thumbnail\"  src=\"//web.svobodni.cz/public/media/_cache/110x134/default/default/cmsmodule-content-entities-pageentityg9luoaimg7/cmsmodule-content-entities-routeentity0289806j1j/kubicek.jpg\"/>\r\n\t\t\t\t</a>\r\n\t\t\t\t<div
    class=\"media-body\">\r\n\t\t\t\t\t<p>\r\n\t\t\t\t\t\tPředseda Praha\r\n\t\t\t\t\t</p>\r\n\r\n\t\t\t\t\t<p>\r\n\t\t\t\t\t\t\r\n\t\t\t\t\t</p>\r\n\r\n\t\t\t\t\t<dl
    class=\"dl-horizontal\">\r\n\r\n\t\t\t\t\t\t\t<dt><i title=\"E-mail\" class=\"glyphicon
    glyphicon-envelope\"></i></dt>\r\n\t\t\t\t\t\t\t<dd><a href=\"mailto:kubicek@svobodni.cz\">kubicek@svobodni.cz</a></dd>\r\n\r\n\t\t\t\t\t\t\t<dt><i
    title=\"Telefon\" class=\"glyphicon glyphicon-earphone\"></i></dt>\r\n\t\t\t\t\t\t\t<dd>234
    099 340</dd>\r\n\r\n\t\t\t\t\t\t\t<dt><i title=\"Web\" class=\"glyphicon glyphicon-globe\"></i></dt>\r\n\t\t\t\t\t\t\t<dd><a
    href=\"http://www.kubicek.cz\">http://www.kubicek.cz</a></dd>\r\n\r\n\t\t\t\t\t\t\t<dt><i
    title=\"Facebook\" class=\"fa fa-facebook\"></i></dt>\r\n\t\t\t\t\t\t\t<dd><a
    href=\"https://www.facebook.com/kubicek.jiri\">profil</a></dd>\r\n\t\t\t\t\t</dl>\r\n\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\r\n\t\t\t</div>"
---
{% extends parent %}

{% block main %}

{% editable_text "kontakt", hint: "Kontaktní údaje." %}


			<div class="media">
				<h3><a href="http:///uzivatele/jiri-kubicek">Jiří Kubíček</a></h3>

				<a class="pull-left" href="#">
					<img alt="Jiří Kubíček" class="media-object thumbnail"  src="//web.svobodni.cz/public/media/_cache/110x134/default/default/cmsmodule-content-entities-pageentityg9luoaimg7/cmsmodule-content-entities-routeentity0289806j1j/kubicek.jpg"/>
				</a>
				<div class="media-body">
					<p>
						Předseda Praha
					</p>

					<p>
						
					</p>

					<dl class="dl-horizontal">

							<dt><i title="E-mail" class="glyphicon glyphicon-envelope"></i></dt>
							<dd><a href="mailto:kubicek@svobodni.cz">kubicek@svobodni.cz</a></dd>

							<dt><i title="Telefon" class="glyphicon glyphicon-earphone"></i></dt>
							<dd>234 099 340</dd>

							<dt><i title="Web" class="glyphicon glyphicon-globe"></i></dt>
							<dd><a href="http://www.kubicek.cz">http://www.kubicek.cz</a></dd>

							<dt><i title="Facebook" class="fa fa-facebook"></i></dt>
							<dd><a href="https://www.facebook.com/kubicek.jiri">profil</a></dd>
					</dl>

																																																																																																																																						</div>
			</div>
{% endeditable_text %}
{% endblock %}