---
title: Předsednictvo
slug: predsednictvo
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
editable_elements:
  main/clenove_predsednictva: "<div class=\"col-md-8\">\r\n\r\n\t\r\n\r\n\t\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n<p>&nbsp;</p>\r\n\r\n<h2>Místopředsedové</h2>\r\n\r\n<p><img
    alt=\"Damir Špoljarič\" src=\"http://www.svobodni.cz/Controls/AvatarImageFetch.ashx?MemberId=cb357819-8298-45e3-9e41-15ea2af94e1a\"><br>\r\nDamir
    Špoljarič&nbsp;<br>\r\nPraha 4&nbsp;</p>\r\n\r\n<div>&nbsp;</div>\r\n\r\n<p>&nbsp;</p>\r\n\r\n<p><img
    alt=\"Pavel Pešan\" src=\"http://www.svobodni.cz/Controls/AvatarImageFetch.ashx?MemberId=d32ccd1c-e7bc-4007-8cbb-4f5621d1857c\"><br>\r\nPavel
    Pešan&nbsp;<br>\r\nPraha 9&nbsp;<br>\r\nE-mail:&nbsp;pesan@svobodni.cz&nbsp;<br>\r\nTelefon:&nbsp;605
    087 607&nbsp;<br>\r\n<a href=\"https://www.facebook.com/profile.php?id=100000814593932&amp;ref=tn_tnmn\"
    target=\"_blank\"><img alt=\"fb\" src=\"http://www.svobodni.cz/styles/images/ico-fb-page.png\"></a>&nbsp;<a
    href=\"http://www.svobodni.cz/Files/CV/d32ccd1c-e7bc-4007-8cbb-4f5621d1857c.pdf\"
    target=\"_blank\"><img alt=\"cv\" src=\"http://www.svobodni.cz/styles/images/ico-cv.png\"></a></p>\r\n\r\n<div>&nbsp;</div>\r\n\r\n<p>&nbsp;</p>\r\n\r\n<p><a
    href=\"//web.svobodni.cz/public/media/Kraje/stross.png\" rel=\"lightbox\"><img
    alt=\"Pavel Štross\" style=\"height:134px; width:110px\" src=\"//web.svobodni.cz//public/media/_cache/110x134/2/default/Kraje/stross.png\"></a><br>\r\nPavel
    Štross<br>\r\nPraha 2<br>\r\nE-mail:&nbsp;<a href=\"mailto:pavel.stross@gmail.com\">pavel.stross@gmail.com</a>&nbsp;<br>\r\nTelefon:&nbsp;777
    960 605<br>\r\n<a href=\"http://www.facebook.com/fronema\" target=\"_blank\"><img
    alt=\"fb\" src=\"http://www.svobodni.cz/styles/images/ico-fb-profile.png\"></a></p>\r\n\r\n<hr>\r\n<p>Kontakt:&nbsp;Jiří
    Kubíček, Kamenická 26, 170 00 Praha 7<br>\r\nKrajský web:&nbsp;<a href=\"http://www.svobodni-praha.cz/\"
    style=\"line-height: 1.6em;\">http://www.svobodni-praha.cz</a><br>\r\nč. účtu:&nbsp;<a
    href=\"https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?ID_ucet=2700382803\"
    style=\"line-height: 1.6em;\">2700382803/2010</a></p>\r\n\r\n\r\n\r\n\t\r\n\r\n\t<hr>\r\n\r\n\t<small
    class=\"muted\">\r\n\r\n\r\n &nbsp; · &nbsp; <span class=\"glyphicon glyphicon-calendar\"></span>
    09.12.2013\r\n\r\n\t</small>\r\n</div>"
---
{% extends 'parent' %}

{% block main %}
{% editable_text "clenove_predsednictva", hint: "Členové předsednictva." %}
<div class="col-md-8">

	

	







<p>&nbsp;</p>

<h2>Místopředsedové</h2>

<p><img alt="Damir Špoljarič" src="http://www.svobodni.cz/Controls/AvatarImageFetch.ashx?MemberId=cb357819-8298-45e3-9e41-15ea2af94e1a"><br>
Damir Špoljarič&nbsp;<br>
Praha 4&nbsp;</p>

<div>&nbsp;</div>

<p>&nbsp;</p>

<p><img alt="Pavel Pešan" src="http://www.svobodni.cz/Controls/AvatarImageFetch.ashx?MemberId=d32ccd1c-e7bc-4007-8cbb-4f5621d1857c"><br>
Pavel Pešan&nbsp;<br>
Praha 9&nbsp;<br>
E-mail:&nbsp;pesan@svobodni.cz&nbsp;<br>
Telefon:&nbsp;605 087 607&nbsp;<br>
<a href="https://www.facebook.com/profile.php?id=100000814593932&amp;ref=tn_tnmn" target="_blank"><img alt="fb" src="http://www.svobodni.cz/styles/images/ico-fb-page.png"></a>&nbsp;<a href="http://www.svobodni.cz/Files/CV/d32ccd1c-e7bc-4007-8cbb-4f5621d1857c.pdf" target="_blank"><img alt="cv" src="http://www.svobodni.cz/styles/images/ico-cv.png"></a></p>

<div>&nbsp;</div>

<p>&nbsp;</p>

<p><a href="//web.svobodni.cz/public/media/Kraje/stross.png" rel="lightbox"><img alt="Pavel Štross" style="height:134px; width:110px" src="//web.svobodni.cz//public/media/_cache/110x134/2/default/Kraje/stross.png"></a><br>
Pavel Štross<br>
Praha 2<br>
E-mail:&nbsp;<a href="mailto:pavel.stross@gmail.com">pavel.stross@gmail.com</a>&nbsp;<br>
Telefon:&nbsp;777 960 605<br>
<a href="http://www.facebook.com/fronema" target="_blank"><img alt="fb" src="http://www.svobodni.cz/styles/images/ico-fb-profile.png"></a></p>

<hr>
<p>Kontakt:&nbsp;Jiří Kubíček, Kamenická 26, 170 00 Praha 7<br>
Krajský web:&nbsp;<a href="http://www.svobodni-praha.cz/" style="line-height: 1.6em;">http://www.svobodni-praha.cz</a><br>
č. účtu:&nbsp;<a href="https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?ID_ucet=2700382803" style="line-height: 1.6em;">2700382803/2010</a></p>



	

	<hr>

	<small class="muted">


 &nbsp; · &nbsp; <span class="glyphicon glyphicon-calendar"></span> 09.12.2013

	</small>
</div>
{% endeditable_text %}
{% endblock %}