---
title: Akce
slug: akce
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 3
editable_elements:
  main/akce_info: "<h3>Moment&aacute;lně pl&aacute;nujeme n&aacute;sleduj&iacute;c&iacute;
    akce:</h3>\r\n<hr />\r\n<p>20. 11. 2016 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10:00-14:00
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Z&aacute;les&iacute; x Pod Vi&scaron;ňovkou<em>
    (<a href=\"https://mapy.cz/s/1cEOe\">https://mapy.cz/s/1cEOe</a>)</em></p>\r\n<p><strong><span
    style=\"text-decoration: underline;\">Velk&yacute; &uacute;klid Podzim 2016 -
    Z&aacute;les&iacute;<br /></span></strong></p>\r\n<p>Dvakr&aacute;t ročně ukl&iacute;z&iacute;me
    Prahu 4. Nejinak tomu bude i letos. Přijďte se pod&iacute;vat a pomoct udělat
    okol&iacute; Z&aacute;les&iacute; hezč&iacute;.</p>\r\n<hr />\r\n<h3>Proběhl&eacute;
    akce Svobodn&yacute;ch Praha 4:</h3>\r\n<hr />\r\n<p>19. 03. 2016 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    10:00-14:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Jalodvorsk&aacute; x Pasteurova<em>
    (<a href=\"https://mapy.cz/s/vgzb\">https://mapy.cz/s/vgzb</a>)</em></p>\r\n<p><strong><span
    style=\"text-decoration: underline;\">Velk&yacute; &uacute;klid Jaro 2016<br /></span></strong></p>\r\n<p>Opět
    na&scaron;e pravideln&aacute; a &uacute;spě&scaron;n&aacute; &uacute;klidov&aacute;
    akce. <a href=\"http://praha4.svobodni.cz/clanky/pomohli-jste-uklidit-krc\">Ohl&eacute;dnut&iacute;
    za akc&iacute;</a>.</p>\r\n<hr />\r\n<p>07. 11. 2015 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    09:00-12:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Habrovka, Krč, u Sokolovny (<a
    href=\"http://mapy.cz/s/dKhJ\">http://mapy.cz/s/dKhJ</a>)</p>\r\n<p><strong><span
    style=\"text-decoration: underline;\">Velk&yacute; &uacute;klid Habrovky 2</span></strong></p>\r\n<p>Dobrovolnick&yacute;
    &uacute;klid vybran&eacute; lokality. Svobodn&iacute; Praha 4 akci tentokr&aacute;t
    př&iacute;mo nepoř&aacute;daj&iacute;, pouze se ji &uacute;častn&iacute;.</p>\r\n<hr
    />\r\n<p>30. 06. 2015 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; během dne &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Metro Budějovick&aacute;, Pankr&aacute;c, Kačerov</p>\r\n<p><strong><span style=\"text-decoration:
    underline;\">Petice za referendum o EU</span></strong></p>\r\n<p>Sběr podpisů
    pod <a href=\"https://web.svobodni.cz/pro-media/petice\" target=\"_blank\">petici</a></p>\r\n<hr
    />\r\n<p>22. 06. 2015 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 08:00 - 14:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Před OC Ark&aacute;dy Pankr&aacute;c (<a href=\"http://mapy.cz/s/jcNK\"><em>http://mapy.cz/s/jcNK</em></a>)</p>\r\n<p><strong><span
    style=\"text-decoration: underline;\">Den daňov&eacute; svobody 2015</span></strong></p>\r\n<p>Pravideln&aacute;
    petičn&iacute; akce Svobodn&yacute;ch. <a href=\"http://praha4.svobodni.cz/clanky/den-danove-svobody-22-06-2015\">Ohl&eacute;dnut&iacute;
    za akc&iacute;</a></p>\r\n<hr />\r\n<p>18. 04. 2015 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    09:30 - 12:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lhotka a Hodkovičky (<em><a
    title=\"Lhotka\" href=\"http://mapy.cz/s/ggdX\">http://mapy.cz/s/ggdX</a></em>
    a <em><a title=\"Hodkovičky\" href=\"http://mapy.cz/s/gge4\">http://mapy.cz/s/gge4</a></em>)</p>\r\n<p><strong><span
    style=\"text-decoration: underline;\">Jarn&iacute; &uacute;klid 2015</span></strong></p>\r\n<p>Dobrovolnick&yacute;
    &uacute;klid vybran&eacute; lokality. <a href=\"http://praha4.svobodni.cz/clanky/veni-vidi-uklidi\">Ohl&eacute;dnut&iacute;
    za akc&iacute;</a></p>\r\n<hr />\r\n<p>31. 03. 2015 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    07:00 - 13:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Před finančn&iacute;m &uacute;řadem&nbsp;Prahy&nbsp;4
    (<a href=\"http://mapy.cz/s/dKjx\"><em>http://mapy.cz/s/dKjx</em></a>)</p>\r\n<p><strong><span
    style=\"text-decoration: underline;\">Akce \"Daně 2015&ldquo;</span></strong></p>\r\n<p>Pravideln&aacute;
    akce Svobodn&yacute;ch. <a href=\"http://praha4.svobodni.cz/clanky/destiva-a-vetrna-akce-dane-2015\">Ohl&eacute;dnut&iacute;
    za akc&iacute;</a></p>\r\n<hr />\r\n<p>05. 12. 2014 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    15:00 - 17:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Restaurace \"U Bř&iacute;zy\",
    Star&yacute; Spořilov (<a href=\"http://mapy.cz/s/dKmF\">http://mapy.cz/s/dKmF</a>)</p>\r\n<p><strong><span
    style=\"text-decoration: underline;\">Mikul&aacute;&scaron;sk&aacute; bes&iacute;dka</span></strong></p>\r\n<p>Akce
    pro děti s (prav&yacute;m) Mikul&aacute;&scaron;em</p>\r\n<hr />\r\n<p>22. 11.
    2014 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10:00 - 12:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Habrovka,
    Krč, u Sokolovny (<a href=\"http://mapy.cz/s/dKhJ\">http://mapy.cz/s/dKhJ</a>)</p>\r\n<p><strong><span
    style=\"text-decoration: underline;\">Velk&yacute; &uacute;klid Habrovky</span></strong></p>\r\n<p>Dobrovolnick&yacute;
    &uacute;klid vybran&eacute; lokality. <a href=\"http://praha4.svobodni.cz/clanky/velky-uklid-habrov\">Ohl&eacute;dnut&iacute;
    za akc&iacute;</a></p>\r\n<hr />\r\n<p>04. 10. 2014 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    14:00 - 21:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Restaurace \"U Bř&iacute;zy\",
    Star&yacute; Spořilov (<a href=\"http://mapy.cz/s/dKmF\">http://mapy.cz/s/dKmF</a>)</p>\r\n<p><strong><span
    style=\"text-decoration: underline;\">Dětsk&eacute; odpoledne + koncert</span></strong></p>\r\n<p><a
    href=\"https://www.facebook.com/SvobodniPraha4/posts/1610934182467068\">Fotogalerie
    z akce</a></p>\r\n<hr />\r\n<p>27. 09. 2014 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    09:30 - 13:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kunratick&yacute; les / Novodvorsk&aacute;
    (<a href=\"http://mapy.cz/s/dKmV\"><em>http://mapy.cz/s/dKmV</em></a>)<br /> <strong><span
    style=\"text-decoration: underline;\">Svobodn&iacute; ukl&iacute;zej&iacute; Prahu
    4</span></strong><span style=\"text-decoration: underline;\"><br /> </span>Dobrovolnick&yacute;
    &uacute;klid vybran&eacute; lokality. <a href=\"http://praha4.svobodni.cz/clanky/svobodni-uklizeli-prahu-4\">Ohl&eacute;dnut&iacute;
    za akc&iacute;</a></p>\r\n<hr />\r\n<p><em>Seznam je aktu&aacute;ln&iacute; k
    17. 11. 2016</em></p>\r\n<p>&nbsp;</p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "akce_info", hint: "Informace o akcích pobočky." %}
{% endeditable_text %}

</div>

{% endblock %}