---
title: Newsletter
slug: newsletter
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 4
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>
  
<p>Je newsletter Svobodných Praha 4 pro Vás? Prohlédněte si <a href="#href" title="Archiv">předchozí čísla</a>.</p>
<p>Znáte někoho, koho by newsletter také mohl zajímat? Určitě mu o něm <strong>nezapomeňte dát vědět</strong>.</p>
  

<h2>Přihlášení k odběru</h2>
  
<iframe src="http://eepurl.com/bdrj9T" width="650" height="800">
</iframe>

<div id="href"><h2>Předchozí čísla</h2></div>
<h3>2016</h3>
<ul>
  <li>
    <strong>05/2016</strong> ze dne 24. 10. 2016 
    [<a href="http://us10.campaign-archive2.com/?u=37b7fd1605ae9ef481e692870&id=c59a67ca61" title="05/2016">PŘEČÍST</a>]
  </li>
  <li>
    <strong>04/2016</strong> ze dne 11. 09. 2016 
    [<a href="http://us10.campaign-archive2.com/?u=37b7fd1605ae9ef481e692870&id=829b46d827" title="04/2016">PŘEČÍST</a>]
  </li>
  <li>
    <strong>03/2016</strong> ze dne 24. 06. 2016 
    [<a href="http://us10.campaign-archive2.com/?u=37b7fd1605ae9ef481e692870&id=cc1a77f298" title="03/2016">PŘEČÍST</a>]
  </li>
  <li>
    <strong>02/2016</strong> ze dne 13. 03. 2016 
    [<a href="http://us10.campaign-archive2.com/?u=37b7fd1605ae9ef481e692870&id=07691a908a" title="02/2016">PŘEČÍST</a>]
  </li>
  <li>
    <strong>01/2016</strong> ze dne 12. 02. 2016 
    [<a href="http://us10.campaign-archive2.com/?u=37b7fd1605ae9ef481e692870&id=1fad319644" title="01/2016">PŘEČÍST</a>]
  </li>
</ul>
<h3>2015</h3>
<ul>
  <li>
    <strong>08/2015</strong> ze dne 16. 12. 2015 
    [<a href="http://us10.campaign-archive2.com/?u=37b7fd1605ae9ef481e692870&id=5bd745576a" title="08/2015">PŘEČÍST</a>]
  </li>
  <li>
    <strong>07/2015</strong> ze dne 20. 11. 2015 
    [<a href="http://us10.campaign-archive2.com/?u=37b7fd1605ae9ef481e692870&id=be629b7424" title="07/2015">PŘEČÍST</a>]
  </li>
  <li>
    <strong>06/2015</strong> ze dne 15. 10. 2015 
    [<a href="http://us10.campaign-archive2.com/?u=37b7fd1605ae9ef481e692870&id=edf0829e71" title="06/2015">PŘEČÍST</a>]
  </li>
  <li>
    <strong>05/2015</strong> ze dne 12. 08. 2015 
    [<a href="http://us10.campaign-archive2.com/?u=37b7fd1605ae9ef481e692870&id=07d664c00b" title="05/2015">PŘEČÍST</a>]
  </li>
  <li>
    <strong>04/2015</strong> ze dne 01. 07. 2015 
    [<a href="http://us10.campaign-archive2.com/?u=37b7fd1605ae9ef481e692870&id=0b82984c25" title="04/2015">PŘEČÍST</a>]
  </li>
  <li>
    <strong>03/2015</strong> ze dne 27. 04. 2015 
    [<a href="http://us10.campaign-archive2.com/?u=37b7fd1605ae9ef481e692870&id=c6f37f276f" title="03/2015">PŘEČÍST</a>]
  </li>
  <li>
    <strong>02/2015</strong> ze dne 02. 04. 2015 
    [<a href="http://us10.campaign-archive2.com/?u=37b7fd1605ae9ef481e692870&id=b8da7c1aad" title="02/2015">PŘEČÍST</a>]
  </li>
  <li>
    <strong>01/2015</strong> ze dne 18. 03. 2015 
    [<a href="http://us10.campaign-archive1.com/?u=37b7fd1605ae9ef481e692870&id=f10d43cc58" title="01/2015">PŘEČÍST</a>]
  </li>
</ul>
  
<h2>Tištěná verze</h2>

Tištěné noviny "Praha 4 očima Svobodných" jsme vydali v prosinci 2015. 
  Prohlédnout si jejich podobu můžete <a href="http://bit.ly/1jZSJOx">ZDE</a>.
  
</div>


{% endblock %}