---
title: Pobočka
slug: pobocka
listed: false
published: false
cache_strategy: none
response_type: text/html
position: 5
editable_elements:
  main/pobocka_info: "<p style=\"text-align: justify;\">M&iacute;stn&iacute; pobočka
    <a href=\"http://www.svobodni.cz\">Strany svobodn&yacute;ch občanů</a> Praha 4
    funguje v r&aacute;mci stranick&eacute; organizace pod KrP Praha.</p>\r\n<p style=\"text-align:
    justify;\">Pobočka začala fungovat v prosinci 2013 pod veden&iacute;m koordin&aacute;tora
    <strong><em>Aloise Sečk&aacute;ra</em></strong>. K březnu 2015 registruje pobočka
    <strong>25</strong> členů a <strong>42</strong> př&iacute;znivců Svobodn&yacute;ch.
    Postoje na&scaron;&iacute; pobočky a jej&iacute;ch členů k různ&yacute;m t&eacute;matům
    si můžete přeč&iacute;st v <a href=\"http://praha4.svobodni.cz/clanky\">sekci
    čl&aacute;nky</a>.</p>\r\n<p style=\"text-align: justify;\">Pravidelně každ&eacute;
    prvn&iacute; ponděl&iacute; v měs&iacute;ci se sch&aacute;z&iacute;me ve spořilovsk&eacute;
    restauraci \"<a href=\"http://www.balounovarestauraceubrizy.eu/\"><strong>U Bř&iacute;zy</strong></a>\".</p>\r\n<p
    style=\"text-align: justify;\">Z&uacute;častili jsme se komun&aacute;ln&iacute;ch
    voleb 2014 a se ziskem <strong>5,18%</strong> jsme nedos&aacute;hli na ž&aacute;dn&yacute;
    mand&aacute;t (!) kvůli <a href=\"http://praha4.svobodni.cz/clanky/nerozdelena-praha-4\">volebn&iacute;m
    obvodům</a>.&nbsp; Zde naleznete n&aacute;&scaron; archivovan&yacute; <a href=\"http://praha4.svobodni.cz/program\">
    program</a> a <a href=\"http://praha4.svobodni.cz/kandidati\">kandid&aacute;ty</a>.</p>\r\n<p
    style=\"text-align: justify;\">----------------------------------</p>\r\n<p style=\"text-align:
    justify;\">Svou podporu pobočce můžete vyj&aacute;dřit př&iacute;spěvkem na transparentn&iacute;
    &uacute;čet KrP Praha&nbsp;&ndash; <a href=\"https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?ID_ucet=2700382803\">2700382803/2010</a>,
    s uveden&iacute;m \"Praha 4\" v pozn&aacute;mce pro př&iacute;jemce. Pobočka nem&aacute;
    vlastn&iacute; &uacute;četnictv&iacute;, ale toto je cesta poskytnout finance
    na jej&iacute; provoz. <strong>Členy a př&iacute;znivce Svobodn&yacute;ch pros&iacute;me
    o připojen&iacute; va&scaron;ho variabiln&iacute;ho symbolu pro snaz&scaron;&iacute;
    identifikaci. </strong>U d&aacute;rců mimo stranu mus&iacute;me ze z&aacute;kona
    evidovat datum narozen&iacute; a bydli&scaron;tě, proto se v př&iacute;padě z&aacute;jmu
    o zasl&aacute;n&iacute; finančn&iacute; podpory pros&iacute;m napřed spojte s
    <a href=\"http://praha4.svobodni.cz/kontakty\">koordin&aacute;torem pobočky</a>.</p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "pobocka_info", hint: "Informace o pobočce." %}
{% endeditable_text %}

</div>

{% endblock %}
