---
title: Podpořte nás
slug: podporte-nas
listed: false
published: false
cache_strategy: none
response_type: text/html
position: 6
editable_elements:
  main/podpora: '<p style="text-align: justify;"><span class="main_header_row_text">Svou
    podporu pobočce můžete vyj&aacute;dřit př&iacute;spěvkem na transparentn&iacute;
    &uacute;čet KrP Praha&nbsp;&ndash; </span><span class="main_header_row_text"><a
    href="https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?ID_ucet=2700382803">2700382803/2010</a>,
    s uveden&iacute;m &bdquo;Praha 4&ldquo; v pozn&aacute;mce pro př&iacute;jemce.
    <strong>Členy a př&iacute;znivce Svobodn&yacute;ch pros&iacute;me o připojen&iacute;
    va&scaron;eho variabiln&iacute;ho symbolu pro snaz&scaron;&iacute; identifikaci.
    </strong>U d&aacute;rců mimo stranu mus&iacute;me ze z&aacute;kona evidovat datum
    narozen&iacute; a bydli&scaron;tě, proto se v př&iacute;padě z&aacute;jmu o zasl&aacute;n&iacute;
    finančn&iacute; podpory pros&iacute;m napřed spojte s <a href="http://praha4.svobodni.cz/kontakt">koordin&aacute;torem
    pobočky</a>.</span></p>'
---
{% extends 'parent' %}

{% block main %}

{% editable_text "podpora", hint: "Text žádosti o podpoření." %}
{% endeditable_text %}

{% endblock %}