---
title: Zuzana Haberlová
slug: delete
listed: false
published: false
cache_strategy: none
response_type: text/html
position: 29
editable_elements:
  main/duvody: "<ul class=\"spec-purple-1\">\r\n<li>Průhledn&aacute; a &uacute;sporn&aacute;
    radnice</li>\r\n<li>Zdrav&aacute; konkurence ve &scaron;kolstv&iacute;</li>\r\n<li>M&eacute;ně
    regulac&iacute; pro podnikatele</li>\r\n<li>Decentralizace rozhodov&aacute;n&iacute;</li>\r\n</ul>"
  main/vyzva: "<p>Osobnosti, kter&eacute; nab&iacute;z&iacute;me:</p>\r\n<p style=\"text-align:
    justify;\"><img src=\"/samples/assets/lidr1_sm.jpg\" alt=\"\" /><img src=\"/samples/assets/lidr2_sm.jpg\"
    alt=\"\" /><img src=\"/samples/assets/lidr3_sm.jpg\" alt=\"\" /></p>"
---
{% extends 'parent' %}