---
title: Volební program
slug: volebni-program
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/volebni_program: "<p><span style=\"font-size: small;\">Svobodn&iacute; v komun&aacute;ln&iacute;
    politice vych&aacute;z&iacute; obecně z těchto principů:</span></p>\r\n<ol>\r\n<li><span
    style=\"font-size: small;\">Obce hospodař&iacute; zpravidla s vyrovnan&yacute;m
    rozpočtem a dluhy tvoř&iacute; jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch
    za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů. Svobodn&iacute; toto
    pravidlo hospodařen&iacute; obc&iacute; prosazuj&iacute; jako analogii n&aacute;vrhu
    &uacute;stavn&iacute;ho z&aacute;kona o vyrovnan&eacute;m rozpočtu na &uacute;rovni
    st&aacute;tu.</span></li>\r\n<li><span style=\"font-size: small;\">Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v
    obc&iacute;ch.</span></li>\r\n<li><span style=\"font-size: small;\">Obce z&aacute;sadně
    nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute; deformovat tržn&iacute;
    prostřed&iacute;.</span></li>\r\n<li><span style=\"font-size: small;\">Obce ukl&aacute;daj&iacute;
    přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně konzervativně, tj. do
    aktiv s minim&aacute;ln&iacute;m rizikem.</span></li>\r\n<li><span style=\"font-size:
    small;\">V př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute;
    odvol&aacute;vat na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy
    jsou veřejn&eacute;.</span></li>\r\n<li><span style=\"font-size: small;\">Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</span></li>\r\n</ol>\r\n<p>&nbsp;</p>\r\n<p style=\"text-align:
    center;\"><span style=\"font-size: medium;\"><strong>Program pro komun&aacute;ln&iacute;
    volby 2014</strong></span></p>\r\n<p style=\"text-align: left;\"><span style=\"font-size:
    small;\"><span style=\"font-size: medium;\"><strong>Průhledn&aacute; radnice</strong></span><br
    /></span></p>\r\n<p style=\"text-align: left;\"><span style=\"font-size: small;\">Naprost&aacute;
    průhlednost veřejn&yacute;ch zak&aacute;zek je považov&aacute;na za samozřejmou.
    V tomto prostoru by neměla existovat ž&aacute;dn&aacute; &bdquo;tajemstv&iacute;&ldquo;.
    Pokud se nakl&aacute;d&aacute; s veřejn&yacute;mi penězi i jejich použit&iacute;
    mus&iacute; b&yacute;t veřejn&eacute;. Stejně tak jsou Svobodn&iacute; pro zveřejňov&aacute;n&iacute;
    podkladů pro zastupitele a v&scaron;ech z&aacute;pisů obecn&iacute;ch org&aacute;nů.</span></p>\r\n<p
    style=\"text-align: left;\"><span style=\"font-size: small;\">Praha 9 vlastn&iacute;
    několik firem, kter&eacute; přeb&iacute;raj&iacute; &uacute;koly n&aacute;lež&iacute;c&iacute;
    samotn&eacute; radnici nebo extern&iacute;m dodavatelům. Hospodařen&iacute; městsk&eacute;
    č&aacute;sti je tak do značn&eacute; m&iacute;ry neprůhledn&eacute;. Obecn&iacute;
    měs&iacute;čn&iacute;k Dev&iacute;tka pln&iacute; zejm&eacute;na PR funkci současn&eacute;ho
    veden&iacute; městsk&eacute; č&aacute;sti a m&aacute; značn&eacute; rezervy pokud
    jde o poskytov&aacute;n&iacute; informac&iacute;ch o aktu&aacute;ln&iacute;ch
    developersk&yacute;ch projektech a dal&scaron;&iacute;ch obecn&iacute;ch t&eacute;matech.
    Svobodn&iacute; chtěj&iacute; tento stav napravit. Budeme usilovat o to, aby radnice
    byla průhledn&aacute; a směrem k občanům tak&eacute; vstř&iacute;cn&aacute;.<br
    /><br /><span style=\"font-size: medium;\"><strong>&Scaron;t&iacute;hl&aacute;
    radnice</strong></span><br /></span></p>\r\n<p style=\"text-align: left;\"><span
    style=\"font-size: small;\">Radnice Prahy 9 dlouhodobě hospodař&iacute; bez dluhů.
    Městsk&aacute; č&aacute;st přesto dotuje řadu zbytn&yacute;ch projektů a naopak
    od občanů vyb&iacute;r&aacute; někter&eacute; nesmysln&eacute; poplatky, kter&eacute;
    nejsou nič&iacute;m jin&yacute;m, než skryt&yacute;mi daněmi. Městsk&aacute; policie
    m&aacute; sloužit k zachov&aacute;n&iacute; bezpečnosti a poř&aacute;dku v na&scaron;ich
    ulic&iacute;ch. Smyslem městsk&eacute; policie nen&iacute;, aby vyb&iacute;rala
    pokuty za bagateln&iacute; přestupky, ani aby ře&scaron;ila přev&aacute;žně administrativn&iacute;
    činnosti. Usilujeme o to, aby Praha 9 skutečně byla dobrou adresou a aby radnice
    občanům nebyla p&aacute;nem, ale dobr&yacute;m služebn&iacute;kem.<br /><br /><span
    style=\"font-size: medium;\"><strong>Mateřsk&eacute; a z&aacute;kladn&iacute;
    &scaron;koly</strong></span><br /></span></p>\r\n<p style=\"text-align: left;\"><span
    style=\"font-size: small;\">Protože nen&iacute; v sil&aacute;ch ž&aacute;dn&eacute;
    obce dlouhodobě zaji&scaron;ťovat optim&aacute;ln&iacute; počet m&iacute;st ani
    optim&aacute;ln&iacute; kvalitu v mateřsk&yacute;ch &scaron;kolk&aacute;ch, za
    kl&iacute;čov&eacute; považujeme uvolněn&iacute; konkurence v t&eacute;to oblasti.
    Radnice mus&iacute; adresně přisp&iacute;vat vždy na konkr&eacute;tn&iacute; d&iacute;tě,
    bez ohledu na to, zda toto d&iacute;tě nav&scaron;těvuje &scaron;kolu veřejnou
    č&iacute; soukromou. T&iacute;mto odstran&iacute;me konkurenčn&iacute; nev&yacute;hodu
    soukrom&yacute;ch &scaron;kol a umožn&iacute;me spravedlivou soutěž v&scaron;ech
    subjektů.<br /><br /><span style=\"font-size: medium;\"><strong>Parkovac&iacute;
    m&iacute;sta</strong></span></span></p>\r\n<p style=\"text-align: left;\"><span
    style=\"font-size: small;\">Svobodn&iacute; prosazuj&iacute;, aby o parkov&aacute;n&iacute;
    v rezidenčn&iacute;ch oblastech rozhodovali zejm&eacute;na občan&eacute; žij&iacute;c&iacute;
    v dan&eacute; lokalitě. Je nepř&iacute;pustn&eacute;, aby radnice centr&aacute;lně
    stanovovala plo&scaron;n&aacute; parkovac&iacute; opatřen&iacute;. Nikdy tak totiž
    nemůže vyj&iacute;t vstř&iacute;c v&scaron;em. Nebr&aacute;n&iacute;me se</span><span
    style=\"font-size: small;\"> možnosti privatizace parkovac&iacute;ch m&iacute;st
    do rukou bytov&yacute;ch družstev a vlastn&iacute;ků bytov&yacute;ch jedotek,
    k čemuž by bylo možn&eacute; dospět po dohodě s magistr&aacute;tem. Domn&iacute;v&aacute;me
    se, že rozhodov&aacute;n&iacute; mus&iacute; b&yacute;t co nejbl&iacute;že občanovi.
    Umožn&iacute;me t&eacute;ž parkov&aacute;n&iacute; v m&iacute;stech, kde jsou
    dnes nesmysln&eacute; z&aacute;kazy st&aacute;n&iacute; a vyjdeme vstř&iacute;c
    podnikatelům, kteř&iacute; budou cht&iacute;t na &uacute;zem&iacute; Prahy 9 zř&iacute;dit
    placen&aacute; parkovi&scaron;tě a parkovac&iacute; domy.<br /></span></p>"
---
{% extends 'parent' %}