---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: |-
    <h1>N&aacute;&scaron; volebn&iacute; program pro komun&aacute;ln&iacute; volby 2014:</h1>
    <p>1. Začneme důsledně a nekompromisně ře&scaron;it problematiku ubytoven pro soci&aacute;lně slab&eacute; v na&scaron;&iacute; obci.</p>
    <p>2. Ve&scaron;ker&eacute; investičn&iacute; akce obce, kter&eacute; podl&eacute;haj&iacute; veřejn&eacute; soutěži, budou v dostatečn&eacute;m předstihu zveřejněny na str&aacute;nk&aacute;ch obce. Mezi prvn&iacute;mi budou v soutěž&iacute;ch oslovov&aacute;ny firmy maj&iacute;c&iacute; trval&eacute; bydli&scaron;tě v Jablůnce.</p>
    <p>3. V&yacute;leti&scaron;tě za O&Uacute;</p>
    <p>- budou zde ve vět&scaron;&iacute; m&iacute;ře poř&aacute;d&aacute;ny akce pro občany v odpoledn&iacute;m čase</p>
    <p>- využijeme tyto plochy pro trhy, burzy, apod.</p>
    <p>- uspoř&aacute;d&aacute;me zde soutěže folkl&oacute;rn&iacute;ch souborů apod.</p>
    <p>4. Zaj&iacute;m&aacute; n&aacute;s, co V&aacute;s tr&aacute;p&iacute;, nebo si přejete zlep&scaron;it na chodu obce. Proto zř&iacute;d&iacute;me schr&aacute;nku na dotazy a připom&iacute;nky.</p>
    <p>5. Sokolovna - budeme usilovat o obnoven&iacute; plesů v obci.</p>
    <p>6. M&iacute;sto tradice silvestrovsk&eacute;ho př&iacute;pitku se starostou zavedeme akci &ndash; rozsvěcen&iacute; v&aacute;nočn&iacute;ho stromečku u obecn&iacute;ho &uacute;řadu se zp&iacute;v&aacute;n&iacute;m koled a ochutn&aacute;vkou v&aacute;nočn&iacute;ch dobrot.</p>
    <p>7. Využijeme polohy obce k reklamě a t&iacute;m zv&yacute;&scaron;&iacute;me př&iacute;jem obce.</p>
    <p>8. Zah&aacute;j&iacute;me jedn&aacute;n&iacute; s peněžn&iacute;mi &uacute;stavy o um&iacute;stěn&iacute; bankomatu v na&scaron;&iacute; obci.</p>
    <p>9. Zajist&iacute;me osazen&iacute; zpomalovac&iacute;ho retard&eacute;ru v Jablůnce &ndash; Kolonce na zač&aacute;tku stromořad&iacute; směr průmyslov&aacute; z&oacute;na.</p>
    <p>10. Zlep&scaron;&iacute;me webovou prezentaci obce a t&iacute;m i informovanost na&scaron;ich občanů</p>
    <p>11. Postar&aacute;me se o zbudov&aacute;n&iacute; dětsk&eacute;ho hři&scaron;tě s patřičn&yacute;m vybaven&iacute;m v doln&iacute; č&aacute;sti obce.</p>
    <p>12. Zorganizujeme pro občany Jablůnky n&aacute;kup energi&iacute; pomoc&iacute; elektronick&eacute; aukce, kde můžou uspořit až 30% za platby.</p>
    <p>&nbsp;</p>
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
