---
title: Postoj Svobodných k povolebnímu jednání a jeho výsledku
slug: content_type_template
is_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 33
seo_title: Postoj Svobodných k povolebnímu jednání a jeho výsledku
content_type: posts
editable_elements:
  main/duvody: "<ul class=\"spec-purple-1\">\r\n<li>Nov&iacute; lid&eacute;, spr&aacute;vn&aacute;
    volba</li>\r\n<li>Chceme naslouchat, poradit a naj&iacute;t ře&scaron;en&iacute;</li>\r\n<li>Politiku
    děl&aacute;me pro lidi, a ne pro politiku</li>\r\n</ul>"
  main/vyzva: Osobnosti, které nabízíme
---
{% extends 'parent' %}