---
title: Program
slug: program
is_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p align=\"center\"><strong>Program Svobodn&yacute;ch pro
    volebn&iacute; obdob&iacute; 2014-2018</strong></p>\r\n<p align=\"center\">Svobodn&iacute;
    občan&eacute;, bez ohledu na politickou n&aacute;klonnost, rozhoduj&iacute; o
    sv&eacute; obci sami, sami si rozhodnou, &nbsp;jak&nbsp; nejl&eacute;pe&nbsp;
    nalož&iacute; se sv&yacute;mi penězi, obec to za ně nebude ře&scaron;it. Obec
    se star&aacute;&nbsp; pouze o obecn&iacute; majetek, veřejn&aacute; prostranstv&iacute;
    a bezpečnost.</p>\r\n<p><strong>&nbsp;</strong></p>\r\n<p><strong>R</strong><strong>epublikov&eacute;
    veden&iacute; Strany svobodn&yacute;ch občanů&nbsp; stanovuje pro obecn&iacute;
    zastupitele &nbsp;obecn&eacute; z&aacute;sady:</strong></p>\r\n<p>1. Obce hospodař&iacute;
    zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute; jen v mimoř&aacute;dn&yacute;ch</p>\r\n<p>situac&iacute;ch
    za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů. Svobodn&iacute; toto
    pravidlo hospodařen&iacute; obc&iacute; prosazuj&iacute; jako analogii n&aacute;vrhu
    &uacute;stavn&iacute;ho z&aacute;kona o vyrovnan&eacute;m rozpočtu na &uacute;rovni
    st&aacute;tu.</p>\r\n<p>2. Obce vynakl&aacute;daj&iacute; prostředky na prvn&iacute;m
    m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute; silnice, chodn&iacute;ky
    a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v obc&iacute;ch.</p>\r\n<p>3.
    Obce z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute;
    deformovat tržn&iacute; prostřed&iacute;.</p>\r\n<p>4. Obce ukl&aacute;daj&iacute;
    přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně konzervativně, tj. do
    aktiv s minim&aacute;ln&iacute;m rizikem.</p>\r\n<p>5. V př&iacute;padě obecn&iacute;ch
    zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat na obchodn&iacute; tajemstv&iacute;
    a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</p>\r\n<p>6. Svobodn&iacute; podporuj&iacute;
    změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo v kaps&aacute;ch
    lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak na &uacute;rovni
    st&aacute;tu, tak na &uacute;rovni obc&iacute;.</p>\r\n<p>&nbsp;</p>\r\n<p><strong>Poprv&eacute;
    v&nbsp;historii komun&aacute;ln&iacute;ch voleb oslovuje občany Ostrožsk&eacute;
    Nov&eacute; Vsi sdružen&iacute; př&iacute;znivců politick&eacute; strany Strana
    svobodn&yacute;ch občanů. Na&scaron;i občan&eacute; si zaslouž&iacute; daleko
    vět&scaron;&iacute; informovanost a znalost konkr&eacute;tněj&scaron;&iacute;ch
    c&iacute;lů strategie obce, a to jak na m&iacute;stn&iacute;, tak region&aacute;ln&iacute;
    &uacute;rovni. Př&iacute;znivci Svobodn&yacute;ch jsou ochotni &nbsp;udělat maximum
    pro zlep&scaron;en&iacute; fungov&aacute;n&iacute;&nbsp; obce, a to na &uacute;rovni
    rady, zastupitelstva a př&iacute;padně nově založen&yacute;ch komis&iacute;. Politickou
    stranu, kterou zastupujeme, nebudeme protežovat, ž&aacute;dnou nově zvolenou stranu
    nebudeme odsuzovat. V&scaron;ichni kandid&aacute;ti, ať už členov&eacute; nebo
    &nbsp;př&iacute;znivci Svobodn&yacute;ch, tvoř&iacute;&nbsp; ned&iacute;lnou souč&aacute;st
    na&scaron;&iacute; obce a jej&iacute;ho kulturn&iacute;ho, duchovn&iacute;ho a
    společensk&eacute;ho života a v&nbsp;n&aacute;sleduj&iacute;c&iacute;m volebn&iacute;m
    obdob&iacute; 2014-2018 se chtěj&iacute; pod&iacute;let na rozvoji na&scaron;&iacute;
    obce. V&nbsp;t&eacute;to souvislosti nab&iacute;z&iacute;me programov&eacute;
    body, kter&eacute; na&scaron;i zvolen&iacute; zastupitel&eacute; budou navrhovat
    a prosazovat:</strong></p>\r\n<ol>\r\n<li>Poměrov&yacute;&nbsp; syst&eacute;m&nbsp;
    minim&aacute;lně 3 stran v&nbsp;radě obce dle procentu&aacute;ln&iacute;ho v&yacute;sledku
    voleb.<strong style=\"line-height: 1.5em;\">&nbsp;</strong></li>\r\n<li>Zastupitel&eacute;
    zvolen&iacute; za Stranu svobodn&yacute;ch občanů budou důsledně dohl&iacute;žet
    na dodržov&aacute;n&iacute; z&aacute;konů&nbsp;o veřejn&eacute; spr&aacute;vě.
    Veden&iacute; obce se mus&iacute; při sv&eacute; činnosti důsledně ř&iacute;dit
    pr&aacute;vn&iacute;m ř&aacute;dem ČR.</li>\r\n<li>Z&aacute;kladn&iacute;m mor&aacute;ln&iacute;m
    principem zastupitele zvolen&eacute;ho v demokratick&yacute;ch volb&aacute;ch
    mus&iacute; b&yacute;t princip&nbsp;rovnosti občanů před z&aacute;konem, kter&yacute;
    zaručuje &nbsp;Listina z&aacute;kladn&iacute;ch pr&aacute;v a svobod občana.</li>\r\n<li>Doře&scaron;it&nbsp;
    ve spolupr&aacute;ci se&nbsp; stavebn&iacute;m odborn&iacute;kem&nbsp; prostory&nbsp;
    pod sportovn&iacute; halou&nbsp;(možnost&nbsp; vybudov&aacute;n&iacute; prostor
    společensk&yacute;m &nbsp;organizac&iacute;m) a prostory&nbsp; za&nbsp; sportovn&iacute;&nbsp;
    halou&nbsp;(možnost vydl&aacute;žděn&iacute; plochy + p&oacute;dia pro kulturn&iacute;
    akce + kurt pro sportovn&iacute; aktivity).</li>\r\n<li><span>Pro mlad&eacute;
    rodiny zv&yacute;&scaron;it př&iacute;spěvek nově narozen&yacute;m dětem na 3000,-Kč
    a vyplatit jednor&aacute;zov&yacute; př&iacute;spěvek &scaron;kol&aacute;kům 1000,-
    Kč.</span></li>\r\n<li>Vybudovat &nbsp;v&iacute;ce&uacute;čelov&eacute; hři&scaron;tě
    pro voln&yacute; čas dosp&iacute;vaj&iacute;c&iacute; ml&aacute;deže, &nbsp;roz&scaron;&iacute;řit
    st&aacute;vaj&iacute;c&iacute; počet dětsk&yacute;ch&nbsp;hři&scaron;ť se zaměřen&iacute;m
    na č&aacute;sti s&nbsp;novou v&yacute;stavbou a obecn&iacute; č&aacute;st Chylice,
    zpř&iacute;stupnit&nbsp;tr&eacute;ninkov&eacute; fotbalov&eacute; hři&scaron;tě
    z&aacute;jemcům o sport.</li>\r\n<li>Navrhnout&nbsp; aktivn&iacute; osobn&iacute;
    pomoc radn&iacute;ch&nbsp; a&nbsp; zastupitelů obce na v&yacute;znamn&yacute;ch
    společensk&yacute;ch &nbsp;akc&iacute;ch (Svatov&aacute;clavsk&eacute;&nbsp;hody,
    mistrovstv&iacute; republiky, l&aacute;zeňsk&eacute; l&eacute;to)</li>\r\n<li>Nab&iacute;dnout
    pomoc na&scaron;im seniorům při organizaci jejich setk&aacute;n&iacute;, kter&eacute;
    by mohlo b&yacute;t 2x ročně, s možnost&iacute; sn&iacute;žen&iacute; věkov&eacute;
    hranice &uacute;častn&iacute;ků&nbsp;na 70 let.</li>\r\n<li>Doře&scaron;it v&yacute;kup
    pozemků v&nbsp;m&iacute;stech určen&yacute;ch &uacute;zemn&iacute;m pl&aacute;nem
    pro novou v&yacute;stavbu, zabezpečit&nbsp;stavebn&iacute; parcely s&nbsp;odpov&iacute;daj&iacute;c&iacute;
    v&yacute;měrou pro mlad&eacute; rodiny.</li>\r\n<li>Dokončit &uacute;pravy prostranstv&iacute;
    pro pl&aacute;novanou n&aacute;ves&nbsp;před kinem.</li>\r\n<li>Podporovat aktivity
    odboru&nbsp;ČIŽP&nbsp;při ochraně ovzdu&scaron;&iacute; obce&nbsp;a prosazovat
    z&aacute;sady &nbsp;dodržov&aacute;n&iacute; limitu emis&iacute; vypou&scaron;těn&yacute;ch
    do ovzdu&scaron;&iacute;&nbsp;při spalov&aacute;n&iacute; v kotl&iacute;ch na
    tuh&aacute; paliva s ohledem na sn&iacute;žen&iacute; zamořov&aacute;n&iacute;
    obce.</li>\r\n<li>Podporovat&nbsp; n&aacute;vrhy&nbsp; v&scaron;ech&nbsp; zastupitelů,
    kter&eacute; skutečně a prokazatelně povedou ke zlep&scaron;en&iacute; života&nbsp;na&scaron;ich
    občanů a na&scaron;&iacute; obce.</li>\r\n<li>Nejsme zast&aacute;nci budov&aacute;n&iacute;
    zdrav&eacute; obce, ale ř&iacute;zen&iacute; obce zdrav&yacute;m rozumem a rozdělov&aacute;n&iacute;
    investic&nbsp;podle potřeb obce.</li>\r\n<li>Zastupitel&eacute; budou h&aacute;jit
    z&aacute;jmy občanů přidělen&eacute; obecn&iacute; č&aacute;sti, budou komunikovat
    s&nbsp;občany t&eacute;to&nbsp;č&aacute;sti, maxim&aacute;lně je informovat o
    postoji obce a informovat zastupitelstvo o probl&eacute;mech občanů.&nbsp;</li>\r\n</ol>\r\n<p><strong
    style=\"line-height: 1.5em;\">V&aacute;žen&iacute; spoluobčan&eacute;, je jen
    na v&aacute;s, zda se změny v&nbsp;n&aacute;sleduj&iacute;c&iacute;ch ř&iacute;jnov&yacute;ch
    komun&aacute;ln&iacute;ch volb&aacute;ch podař&iacute; prosadit.</strong></p>\r\n<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </strong></p>\r\n<p><strong>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Strana
    svobodn&yacute;ch občanů</strong></p>\r\n<p><strong>&nbsp;</strong></p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
