---
title: Setkání s občany
slug: setkani-s-obcany
is_layout: false
listed: true
published: false
cache_strategy: none
response_type: text/html
position: 31
editable_elements:
  main/duvody: <p><img src="/samples/assets/MaleUteryNaWeb.jpg" alt="" /></p>
  main/vyzva: ''
---
{% extends 'parent' %}