---
title: Nové výzvy
slug: nove-vyzvy
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
seo_title: Nové výzvy Moravský Krumlov
editable_elements:
  main/volebni_program: "<p style=\"text-align: justify;\">Pro nov&eacute; volebn&iacute;
    obdob&iacute; jsme si vytyčili několik zcela z&aacute;sadn&iacute;ch &uacute;kolů,
    jejichž splněn&iacute; je pro n&aacute;s z&aacute;vazn&eacute;. Patř&iacute; mezi
    ně jednoznačně tyto body: &nbsp;</p>\r\n<h2>1 &nbsp;&nbsp; Ulice Rak&scaron;ick&aacute;
    a N&aacute;dražn&iacute; (tah ke křižovatce na Rokytnou)</h2>\r\n<p style=\"text-align:
    justify;\">Tato velmi frekventovan&aacute; krajsk&aacute; silnice je v&nbsp;havarijn&iacute;m
    stavu. Jej&iacute; oprava je na&scaron;&iacute; prioritou včetně opravy ulice
    N&aacute;dražn&iacute; po křižovatku na m&iacute;stn&iacute; č&aacute;st Rokytn&aacute;.
    Jej&iacute; katastrof&aacute;ln&iacute; stav v&nbsp;současnosti obtěžuje občany
    bydl&iacute;c&iacute; v&nbsp;jej&iacute; bl&iacute;zkosti, br&aacute;n&iacute;
    rozvoji dopravy, podnik&aacute;n&iacute;. Z&nbsp;toho důvodu vyv&iacute;j&iacute;me
    v&nbsp;maxim&aacute;ln&iacute; možn&eacute; m&iacute;ře tlak na kraj, aby byla
    opravena ve stejn&eacute;m rozsahu, v&nbsp;jak&eacute;m byl proveden v&nbsp;tomto
    obdob&iacute; průtah městem Moravsk&yacute; Krumlov <br /> a m&iacute;stn&iacute;
    č&aacute;st&iacute; Pol&aacute;nkou, Rokytnou. Současně s&nbsp;n&iacute; je potřeba
    v&nbsp;režii města vyspravit chodn&iacute;ky, vystavět nov&eacute; či na mnoha
    m&iacute;stech rekonstruovat veřejn&eacute; osvětlen&iacute;.</p>\r\n<h2>2 &nbsp;&nbsp;
    Pokračov&aacute;n&iacute; trendu udržen&iacute; rozpočtov&eacute; odpovědnosti</h2>\r\n<p>Budeme
    pokračovat v&nbsp;nastaven&eacute;m trendu suver&eacute;nn&iacute;ho nezadlužen&eacute;ho
    města. V&nbsp;minul&eacute;m volebn&iacute;m obdob&iacute; se n&aacute;m podařilo
    již od třet&iacute;ho roku fungov&aacute;n&iacute; dos&aacute;hnout kladn&eacute;ho
    rozpočtu a to i přes pokračuj&iacute;c&iacute; investice do infrastruktury a veřejn&yacute;ch
    statků. &nbsp;&nbsp; </p>\r\n<h2>3 &nbsp;&nbsp; M&iacute;stn&iacute; č&aacute;st
    města - Pol&aacute;nka</h2>\r\n<h2>3.1 Dokončen&iacute; rekonstrukce jednotliv&yacute;ch
    ulic</h2>\r\n<p style=\"text-align: justify;\">Je potřeba dokončit opravu st&aacute;vaj&iacute;c&iacute;ch,
    nevyhovuj&iacute;c&iacute;ch chodn&iacute;ků. Je potřeba vybudovat tak&eacute;
    chodn&iacute;ky nov&eacute; a to postupně, v&nbsp;průběhu nast&aacute;vaj&iacute;c&iacute;ho
    obdob&iacute;.</p>\r\n<h2>3.2 Rybn&iacute;k</h2>\r\n<p style=\"text-align: justify;\">M&iacute;stn&iacute;
    rybn&iacute;k v&nbsp;minulosti hojně využ&iacute;vali v&scaron;ichni obyvatel&eacute;
    v&nbsp;obci &ndash; ke koup&aacute;n&iacute;, k&nbsp;lovu ryb i k odpočinku. Toto
    v&nbsp;současn&eacute; době t&eacute;měř nen&iacute; možn&eacute; z&nbsp;důvodu
    &scaron;patn&eacute; kvality vody, zarůst&aacute;n&iacute; vodn&iacute; plochy
    rostlinami a tak&eacute; velk&eacute;ho množstv&iacute; sedimentu na dně. Proto
    usilujeme o celkovou revitalizaci m&iacute;stn&iacute;ho rybn&iacute;ka včetně
    odbahněn&iacute;.</p>\r\n<h2>3.3 Zateplen&iacute; kulturn&iacute;ho s&aacute;lu
    pro potřeby kon&aacute;n&iacute; folklorn&iacute;ch akc&iacute;</h2>\r\n<p style=\"text-align:
    justify;\">Kulturn&iacute; s&aacute;l je jako jedno ze sportovn&iacute;ch center
    v&nbsp;Pol&aacute;nce využ&iacute;v&aacute;n zejm&eacute;na v&nbsp;zimn&iacute;ch
    měs&iacute;c&iacute;ch. Vzhledem k&nbsp;tomu je v&scaron;ak nutno prov&eacute;st
    zateplen&iacute; stropu s&aacute;lu včetně v&yacute;měny oken za plastov&aacute;
    tak, aby vyhovoval současn&yacute;m energetick&yacute;m/hygienick&yacute;m podm&iacute;nk&aacute;m
    a nebyl jeho provoz ztr&aacute;tov&yacute;.</p>\r\n<h2>3.4 &Uacute;prava prostranstv&iacute;
    v&nbsp;bezprostředn&iacute; bl&iacute;zkosti Kulturn&iacute;ho s&aacute;lu</h2>\r\n<p
    style=\"text-align: justify;\">Budeme prosazovat &uacute;pravu prostranstv&iacute;
    vedle kulturn&iacute;ho s&aacute;lu v&nbsp;m&iacute;stech b&yacute;val&eacute;
    telefonn&iacute; budky. V&nbsp;současn&eacute; době toto m&iacute;sto sp&iacute;&scaron;e
    hyzd&iacute; vzhled obce a je možn&eacute; je využ&iacute;t mnohem smysluplněji.
    Jako velmi vhodn&aacute; se nab&iacute;z&iacute; možnost vybudov&aacute;n&iacute;
    zpevněn&eacute;ho parkovi&scaron;tě využ&iacute;van&eacute;ho jak z&aacute;kazn&iacute;ky
    bl&iacute;zk&eacute;ho zahradnictv&iacute;, tak i n&aacute;v&scaron;těvn&iacute;ky
    různ&yacute;ch kulturn&iacute;ch a sportovn&iacute;ch akc&iacute; v&nbsp;m&iacute;stn&iacute;m
    s&aacute;le. Z&aacute;roveň bychom chtěli nahradit současnou nevzhlednou skruž
    pro lepen&iacute; plak&aacute;tů modern&iacute; plak&aacute;tovac&iacute; plochou.</p>\r\n<h2>3.5
    &Uacute;prava dětsk&eacute;ho hři&scaron;tě</h2>\r\n<p style=\"text-align: justify;\">Chceme
    současn&eacute; dětsk&eacute; hři&scaron;tě v&nbsp;are&aacute;lu &scaron;kolky,
    kter&eacute; m&aacute; již svoje nejlep&scaron;&iacute; l&eacute;ta d&aacute;vno
    za sebou, upravit a rekonstruovat do podoby modern&iacute;ho a bezpečn&eacute;ho
    dětsk&eacute;ho hři&scaron;tě. Star&eacute; a mnohdy nebezpečn&eacute; hern&iacute;
    prvky nahrad&iacute;me nov&yacute;mi, bezpečn&yacute;mi. Hři&scaron;tě by tak
    mělo poskytovat komplexn&iacute; možnost odpočinku pro rodiče s&nbsp;mal&yacute;mi
    dětmi.</p>\r\n<h2>4 M&iacute;stn&iacute; č&aacute;st města - Rokytn&aacute;</h2>\r\n<p
    style=\"text-align: justify;\">V&nbsp;t&eacute;to m&iacute;stn&iacute; č&aacute;sti
    města proběhlo rozs&aacute;hl&eacute; budov&aacute;n&iacute; kanalizace a z&nbsp;tohoto
    důvodu tak&eacute; komunikac&iacute;. Velmi důležit&eacute; je pro n&aacute;s
    v&nbsp;tomto obdob&iacute; dokončit započat&eacute; pr&aacute;ce, opravit navazuj&iacute;c&iacute;,
    postrann&iacute; komunikace v&nbsp;t&eacute;to č&aacute;sti, vybudovat modern&iacute;
    a odpov&iacute;daj&iacute;c&iacute; mobili&aacute;ř (autobusovou zast&aacute;vku,
    lavičky, chyběj&iacute;c&iacute; osvětlen&iacute;). Velmi důležit&eacute; je pro
    n&aacute;s udržet dopravn&iacute; obslužnost občanů a co je velmi důležit&eacute;,
    db&aacute;t na jejich bezpečnost.</p>\r\n<h2>4.1 Z&aacute;kaz průjezdu kamionů</h2>\r\n<p
    style=\"text-align: justify;\">Z&nbsp;důvodu &scaron;patn&eacute; průjezdnosti,
    nedostatečn&eacute; &scaron;&iacute;ře komunikace v&nbsp;t&eacute;to č&aacute;sti
    města, trv&aacute;me na z&aacute;kazu průjezdu kamionů. &nbsp;</p>\r\n<h2>&nbsp;5
    Dostatek m&iacute;st ve &scaron;kolk&aacute;ch, znovuotevřen&iacute; jesl&iacute;</h2>\r\n<p
    style=\"text-align: justify;\">Vzhledem k&nbsp;tomu, že &scaron;li na&scaron;i
    mlad&iacute; spoluobčan&eacute; do sebe, nen&iacute; dostatek m&iacute;st v krumlovsk&yacute;ch
    &scaron;kolk&aacute;ch. Proto je nutn&eacute; zapracovat na dostatečn&yacute;ch
    kapacit&aacute;ch ve &scaron;kolsk&yacute;ch zař&iacute;zen&iacute;. Tak&eacute;
    na roz&scaron;&iacute;řen&iacute; hodin pro rodiče dět&iacute; doj&iacute;žděj&iacute;c&iacute;ch
    do zaměstn&aacute;n&iacute; do jin&yacute;ch měst. Jde o mateřsk&eacute; a z&aacute;kladn&iacute;
    &scaron;koly, jejichž provoz chceme rozhodně ve městě Moravsk&yacute; Krumlov
    zachovat a roz&scaron;&iacute;řit je o znovuotevřen&iacute; jesl&iacute;.</p>\r\n<h2>6
    Napojen&iacute; &scaron;kol na sport</h2>\r\n<p style=\"text-align: justify;\">Rezolutně
    odm&iacute;t&aacute;me vyd&aacute;v&aacute;n&iacute; finančn&iacute;ch prostředků
    na aktivity dospěl&yacute;ch. Jednoznačně se soustřed&iacute;me na rozvoj na&scaron;ich
    dět&iacute; a ml&aacute;deže. Velmi důležit&yacute;m faktorem rozvoje na&scaron;ich
    dět&iacute; je pestr&aacute; nab&iacute;dka volnočasov&yacute;ch aktivit. Za důležit&eacute;
    považujeme př&iacute;m&eacute; napojen&iacute; na m&iacute;stn&iacute; sportovn&iacute;
    odd&iacute;ly, kter&eacute; maj&iacute; v&nbsp;na&scaron;em městě dlouhou tradici
    a jsou již nyn&iacute; hojně nav&scaron;těvov&aacute;ny. Podporujeme zachov&aacute;n&iacute;
    st&aacute;vaj&iacute;c&iacute;ch sportů, vznik nov&yacute;ch. Jde o vhodnou prevenci
    neust&aacute;l&eacute;ho vysed&aacute;v&aacute;n&iacute; u poč&iacute;tače či
    v&nbsp;odlehl&yacute;ch koutech města s&nbsp;lahv&iacute; alkoholu nebo něčeho
    tvrd&scaron;&iacute;ho, podporujeme vhodn&eacute; tr&aacute;ven&iacute; voln&eacute;ho
    času!</p>\r\n<p>&nbsp;</p>\r\n<h2>A kde na to vz&iacute;t?</h2>\r\n<p style=\"text-align:
    justify;\">Stačilo za na&scaron;eho přispěn&iacute; v&nbsp;minul&eacute;m obdob&iacute;
    průhledně, efektivně a &uacute;čelně hospodařit. Nyn&iacute; město hospodař&iacute;
    <br />s &bdquo;přebytkov&yacute;m&ldquo; rozpočtem za vytv&aacute;řen&iacute;
    rezerv, kter&eacute; opět vlož&iacute;me do investic. Hospodař&iacute;me s&nbsp;veřejn&yacute;mi
    financemi, proto neust&aacute;le db&aacute;me na veřejnou kontrolu na&scaron;ich
    zastupitelů a &uacute;ředn&iacute;ků, kter&eacute; si my sami daňov&iacute; poplatn&iacute;ci
    plat&iacute;me.</p>\r\n<p><a href=\"http://www.svobodnimk.cz/program\">&nbsp;Zpět
    na cel&yacute; Program</a></p>"
---
{% extends 'parent' %}