---
title: Splněno
slug: splneno
redirect_url: http://www.svobodnimk.cz/program/splneno
redirect_type: 301
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 2
seo_title: Splněno Morasvký Krumlov
editable_elements:
  main/volebni_program: "<p style=\"text-align: justify;\">Nemus&iacute;me se předh&aacute;nět
    plan&yacute;mi předvolebn&iacute;mi sliby. Za na&scaron;eho působen&iacute; v&nbsp;zastupitelstvu
    města jsme se spolupod&iacute;leli na plněn&iacute; na&scaron;ich c&iacute;lů,
    kter&eacute; jsme si stanovili již před minul&yacute;m volebn&iacute;m obdob&iacute;m.
    Proto na&scaron;im voličům předkl&aacute;d&aacute;me zjednodu&scaron;en&yacute;
    v&yacute;čet splněn&yacute;ch předvolebn&iacute;ch slibů.</p>\r\n<p style=\"text-align:
    justify;\">&nbsp;</p>\r\n<h2>1.1 M&iacute;stn&iacute; č&aacute;st - Rokytn&aacute;</h2>\r\n<h2>1.1.1
    Havarijn&iacute; stav silnic a kanalizace</h2>\r\n<p style=\"text-align: justify;\">V&nbsp;minul&eacute;m
    roce se začala budovat nov&aacute; kanalizace v&nbsp;Rokytn&eacute;, na jej&iacute;mž
    konci bude celopovrchov&aacute; rekonstrukce povrchů vět&scaron;iny m&iacute;stn&iacute;ch
    komunikac&iacute;.</p>\r\n<h2>1.1.2 Zachov&aacute;n&iacute; obchodu se sm&iacute;&scaron;en&yacute;m
    zbož&iacute;m</h2>\r\n<p style=\"text-align: justify;\">Obchod se sm&iacute;&scaron;en&yacute;m
    zbož&iacute;m zůstal v&nbsp;Rokytn&eacute; zachov&aacute;n tak, aby mohl občanům,
    kteř&iacute; nejsou schopni z&nbsp;Rokytn&eacute; vyjet na pravideln&eacute; n&aacute;kupy,
    zajistit př&iacute;stup k&nbsp;z&aacute;kladn&iacute;m potravin&aacute;m a denn&iacute;m
    potřebě.</p>\r\n<p style=\"text-align: justify;\">&nbsp;</p>\r\n<h2>1.2 M&iacute;stn&iacute;
    č&aacute;st - Pol&aacute;nka</h2>\r\n<p style=\"text-align: justify;\">Tak&eacute;
    Pol&aacute;nku se podařilo od z&aacute;kladu změnit.</p>\r\n<h2>1.2.1 Stavebn&iacute;
    m&iacute;sta</h2>\r\n<p style=\"text-align: justify;\">Konečně se podařilo pohnout
    se stavebn&iacute;mi parcelami u fotbalov&eacute;ho hři&scaron;tě a s&nbsp;trochou
    &scaron;těst&iacute; se je podař&iacute; zkompletovat v&nbsp;n&aacute;sleduj&iacute;c&iacute;m
    obdob&iacute;.</p>\r\n<h2>1.2.2 Kanalizace + průtah včetně chodn&iacute;ků a osvětlen&iacute;</h2>\r\n<p
    style=\"text-align: justify;\">Ač tomu v&nbsp;Pol&aacute;nce věřil jen m&aacute;lokdo,
    je zde nyn&iacute; v&scaron;ude kanalizace a d&aacute; se Pol&aacute;nkou pohodlně
    projet bez strachu o podvozek sv&eacute;ho automobilu.</p>\r\n<p style=\"text-align:
    justify;\">&nbsp;</p>\r\n<h2>1.3 Město Moravsk&yacute; Krumlov</h2>\r\n<p style=\"text-align:
    justify;\">Z&aacute;sadn&iacute; rekonstrukce prob&iacute;haly skrz naskrz cel&yacute;m
    městem.</p>\r\n<h2>1.3.1 Průtah městem včetně chodn&iacute;ků a osvětlen&iacute;</h2>\r\n<p
    style=\"text-align: justify;\">V&nbsp;posledn&iacute;m volebn&iacute;m obdob&iacute;
    se n&aacute;m podařilo vybudovat kompletně nov&yacute; průtah městem včetně chodn&iacute;ků
    a osvětlen&iacute;, kter&yacute; od z&aacute;kladu změnil stav života ve městě.</p>\r\n<h2>1.3.2
    Kanalizace Rak&scaron;ick&aacute;</h2>\r\n<p style=\"text-align: justify;\">V&nbsp;ulici
    Rak&scaron;ick&aacute; byla nově vybudov&aacute;na nov&aacute; kanalizace, &scaron;koda
    jen, že kraj nebyl ochoten opravit svoji silnici, kter&aacute; tam moc komplikuje
    život m&iacute;stn&iacute;m občanům. Oprava t&eacute;to silnice je v&scaron;ak
    na&scaron;&iacute; dal&scaron;&iacute; v&yacute;zvou.</p>\r\n<h2>1.3.3 Koupali&scaron;tě</h2>\r\n<p
    style=\"text-align: justify;\">Postavili jsme koupali&scaron;tě, ve kter&eacute;
    už po desetilet&iacute;ch slibov&aacute;n&iacute; věřil jen m&aacute;lokdo.</p>\r\n<p
    style=\"text-align: justify;\">&nbsp;</p>\r\n<h2>3 Zprůhledněn&iacute; hospodařen&iacute;</h2>\r\n<p
    style=\"text-align: justify;\">Jen d&iacute;ky radik&aacute;ln&iacute;mu posunu
    v&nbsp;t&eacute;to č&aacute;sti na&scaron;eho programu se mohlo tolik investovat
    bez zdvihaj&iacute;c&iacute;ho se zadlužen&iacute;.</p>\r\n<h2>3.1 Zak&aacute;zky
    se bez v&yacute;jimky zveřejňuj&iacute;</h2>\r\n<p style=\"text-align: justify;\">Veřejn&eacute;
    zak&aacute;zky jsou bez v&yacute;jimky zveřejňov&aacute;ny na &uacute;ředn&iacute;
    desce.</p>\r\n<h2>3.2 Transparentnost veřejn&yacute;ch zak&aacute;zek</h2>\r\n<p
    style=\"text-align: justify;\">D&iacute;ky radik&aacute;ln&iacute;mu zv&yacute;&scaron;en&iacute;
    transparentnosti se sn&iacute;žily n&aacute;klady na veřejn&eacute; zak&aacute;zky&nbsp;často
    až k 60% rozpočtov&yacute;ch n&aacute;kladů.</p>\r\n<p style=\"text-align: justify;\">&nbsp;</p>\r\n<h2>4
    Ko&scaron;e na ps&iacute; exkrementy</h2>\r\n<p style=\"text-align: justify;\">Po
    městě jsou um&iacute;stěny ko&scaron;e na ps&iacute; exkrementy a občan&eacute;
    dost&aacute;vaj&iacute; pytl&iacute;ky, za pomoci kter&yacute;ch, mohou udržovat
    město čist&eacute;. To sam&eacute; plat&iacute; pro odpadkov&eacute; ko&scaron;e
    v&nbsp;parku.</p>\r\n<p style=\"text-align: justify;\">&nbsp;</p>\r\n<h2>5 Sn&iacute;žen&iacute;
    čern&yacute;ch skl&aacute;dek na minimum</h2>\r\n<p style=\"text-align: justify;\">D&iacute;ky
    zlep&scaron;en&eacute; pr&aacute;ci Městsk&eacute; policie, je již čern&yacute;ch
    skl&aacute;dek na &uacute;zem&iacute; města minimum.</p>\r\n<p style=\"text-align:
    justify;\">&nbsp;</p>\r\n<h2>6 Baz&eacute;n</h2>\r\n<p style=\"text-align: justify;\">Co
    se nepovedlo za 50 let, stalo se skutečnost&iacute; nyn&iacute; a Moravsk&yacute;
    Krumlov m&aacute; svůj baz&eacute;n, kam se můžeme j&iacute;t s dětmi kdykoli
    vyř&aacute;dit.</p>\r\n<p style=\"text-align: justify;\">&nbsp;</p>\r\n<h2>7 Dopravn&iacute;
    značen&iacute; na ulici V&aacute;clavsk&aacute;</h2>\r\n<p style=\"text-align:
    justify;\">Bylo změněno tak, aby byla jasn&aacute; zodpovědnost řidičů dle odpov&iacute;daj&iacute;c&iacute;ho
    značen&iacute;.</p>\r\n<p><a href=\"http://www.svobodnimk.cz/program\">Zpět na
    cel&yacute; Program</a></p>"
---
{% extends 'parent' %}