---
title: Zbývá splnit
slug: zbyva-splnit
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 1
seo_title: Zbývá splnit Moravský Krumlov
editable_elements:
  main/volebni_program: "<h2>1 &nbsp;&nbsp;&nbsp;&nbsp; Oprava ulic</h2>\r\n<h2>1.1
    Město Moravsk&yacute; Krumlov&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>\r\n<p
    style=\"text-align: justify;\">Při realizaci průtahu městem a při vybudov&aacute;n&iacute;
    autobusov&eacute;ho termin&aacute;lu, byly opraveny hlavn&iacute; komunikace,
    kter&eacute; se tak staly reprezentativn&iacute;mi a splňuj&iacute;c&iacute;mi
    trend 21. stolet&iacute;. Co si bere Strana Svobodn&yacute;ch občanů města Moravsk&yacute;
    Krumlov rozhodně za z&aacute;vazek, je opraven&iacute; komunikac&iacute; navazuj&iacute;c&iacute;ch
    bezprostředně na hlavn&iacute; průtah městem, opravu komunikac&iacute;, kter&aacute;
    vedou do dvorů bytov&yacute;ch domů n&aacute;měst&iacute; T. G. Masaryka. Nezbytn&eacute;
    je tak&eacute; vybudovat na tomto &uacute;středn&iacute;m n&aacute;měst&iacute;
    města informačn&iacute; tabuli s&nbsp;přesn&yacute;mi informacemi o př&iacute;jezdech
    a odjezdech autobusů z&nbsp;autobusov&eacute;ho termin&aacute;lu vybudovan&eacute;ho
    mimo hlavn&iacute; n&aacute;měst&iacute;.</p>\r\n<h2>1.1.1 Vod&aacute;rensk&aacute;</h2>\r\n<p
    style=\"text-align: justify;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    tato ulice nebyla př&iacute;mo v havarijn&iacute;m stavu</p>\r\n<p style=\"text-align:
    justify;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; pro n&aacute;slednou
    opravu bylo třeba se ujistit, zda jsou v&scaron;echny domy v t&eacute;to ulici
    připojeny ke kanalizaci</p>\r\n<p style=\"text-align: justify;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    nezbytn&aacute; je nyn&iacute; je&scaron;tě oprava chodn&iacute;ků</p>\r\n<p style=\"text-align:
    justify;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; nutn&eacute;
    je prodloužen&iacute; asfaltov&eacute; cesty na konci ulice &bdquo;U gar&aacute;ž&iacute;&ldquo;
    &nbsp;</p>\r\n<p>&nbsp;</p>\r\n<h2>1.1.2 V&nbsp;Domc&iacute;ch &ndash; již prob&iacute;h&aacute;
    realizace</h2>\r\n<p style=\"text-align: justify;\">- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    tato ulice a jej&iacute; okol&iacute; byla opravdu po několik let přehl&iacute;žena</p>\r\n<p
    style=\"text-align: justify;\">- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    asfaltov&aacute; komunikace neexistuj&iacute;c&iacute;</p>\r\n<p style=\"text-align:
    justify;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; takt&eacute;ž
    absence chodn&iacute;ků</p>\r\n<p style=\"text-align: justify;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    z&nbsp;de&scaron;tě a sněhu se m&iacute;stn&iacute; nemohou dostat do sv&yacute;ch
    obydl&iacute;</p>\r\n<p style=\"text-align: justify;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    velk&yacute;m probl&eacute;mem byly nezaji&scaron;těn&eacute; poklopy kanalizačn&iacute;ho
    syst&eacute;mu</p>\r\n<p style=\"text-align: justify;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    s&nbsp;t&iacute;m souvisej&iacute;c&iacute; nutn&aacute; oprava odvodňovac&iacute;ch
    ro&scaron;tů</p>\r\n<p style=\"text-align: justify;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    chyběj&iacute;c&iacute; př&iacute;stupov&aacute; cesta ke sklepům musela b&yacute;t
    rovněž neodkladně ře&scaron;ena</p>\r\n<p style=\"text-align: justify;\">&nbsp;</p>\r\n<h2>1.1.3
    Bř&iacute; Čapků (panelov&aacute; komunikace) &ndash; již prob&iacute;h&aacute;
    realizace</h2>\r\n<p style=\"text-align: justify;\">- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Cesta je t&eacute;měř nesj&iacute;zdn&aacute;. Je neprodleně ře&scaron;ena.</p>\r\n<p
    style=\"text-align: justify;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Hroz&iacute; nebezpeč&iacute; ubl&iacute;žen&iacute; na zdrav&iacute;.</p>\r\n<p
    style=\"text-align: justify;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Nebezpeč&iacute; v&aacute;žn&eacute; z&aacute;vady na dopravn&iacute;ch prostředc&iacute;ch.</p>\r\n<p
    style=\"text-align: justify;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Ohrožen&iacute; - čast&yacute; pohyb občanů a dopravn&iacute;ch prostředků na
    t&eacute;to komunikaci. &nbsp;</p>\r\n<p style=\"text-align: justify;\">&nbsp;</p>\r\n<h2>1.1.4
    Osvětlen&iacute; v&nbsp;lokalitě &bdquo;Na Kačence&ldquo; &ndash; již prob&iacute;h&aacute;
    realizace</h2>\r\n<p style=\"text-align: justify;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    cel&aacute; tato lokalita je nyn&iacute; ře&scaron;ena jako vhodn&aacute; pro
    vznik průmyslov&eacute; z&oacute;ny &ndash; př&iacute;chod nov&eacute;ho investora,
    vzniku pracovn&iacute;ch&nbsp;&nbsp;&nbsp; př&iacute;ležitost&iacute;</p>\r\n<p
    style=\"text-align: justify;\">- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    s&nbsp;t&iacute;m souvis&iacute; takt&eacute;ž uskutečněn&iacute; jedn&eacute;
    z&nbsp;na&scaron;ich priorit a tou je jednoznačně:</p>\r\n<p style=\"text-align:
    justify;\">V&yacute;stavba chodn&iacute;ku po cel&eacute; d&eacute;lce z&aacute;stavby,
    v&yacute;stavba osvětlen&iacute; &ndash; t&iacute;m se m&iacute;rn&iacute; ohrožen&iacute;
    dět&iacute; při cestě do &scaron;kol proj&iacute;žděj&iacute;c&iacute;mi auty,
    ohrožen&iacute; neosvětlen&yacute;ch pě&scaron;&iacute; v průběhu p&aacute;tečn&iacute;ch
    a sobotn&iacute;ch noc&iacute;.</p>\r\n<p style=\"text-align: justify;\">&nbsp;</p>\r\n<h2>1.2
    M&iacute;stn&iacute; č&aacute;st - Rokytn&aacute;</h2>\r\n<p style=\"text-align:
    justify;\">- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Děti žij&iacute;c&iacute;
    v&nbsp;t&eacute;to č&aacute;sti města jsou ohrožov&aacute;ny při cestě do &scaron;koly
    proj&iacute;žděj&iacute;c&iacute;mi auty, jednoznačně kamiony, kter&eacute; zab&iacute;raj&iacute;
    celou &scaron;&iacute;ři vozovky</p>\r\n<p style=\"text-align: justify;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    je nutn&eacute; dobudovat chodn&iacute;ky</p>\r\n<p style=\"text-align: justify;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    doplnit mobili&aacute;ř o vhodnou autobusovou zast&aacute;vku</p>\r\n<h2>1.2.1
    &Scaron;patn&eacute; veřejn&eacute; osvětlen&iacute; &ndash; již prob&iacute;h&aacute;
    realizace</h2>\r\n<p style=\"text-align: justify;\">Na mnoha m&iacute;stech již
    veřejn&eacute; osvětlen&iacute; vybudov&aacute;no a opraveno bylo, ale st&aacute;le
    jsou k&nbsp;nalezen&iacute; m&iacute;sta, kde osvětlen&iacute; zcela chyb&iacute;
    či je již nevyhovuj&iacute;c&iacute;, vhodn&eacute; k&nbsp;rekonstrukci.</p>\r\n<h2>1.2.2
    Absence chodn&iacute;ku k&nbsp;zast&aacute;vce autobusu &ndash; již prob&iacute;h&aacute;
    realizace</h2>\r\n<p style=\"text-align: justify;\">Po vybudov&aacute;n&iacute;
    nov&eacute; kanalizace v&nbsp;t&eacute;to m&iacute;stn&iacute; č&aacute;sti, jsme
    připravili v&scaron;e potřebn&eacute; k dokončen&iacute; investičn&iacute; akce,
    tedy k vybudov&aacute;n&iacute; chodn&iacute;ků. Pro zachov&aacute;n&iacute; bezpečnosti
    občanů, se toto uk&aacute;zalo b&yacute;ti nezbytn&yacute;m.</p>\r\n<p style=\"text-align:
    justify;\">&nbsp;</p>\r\n<h2>2 &nbsp;&nbsp; Zlep&scaron;en&iacute; hospodařen&iacute;</h2>\r\n<p
    style=\"text-align: justify;\">Již č&aacute;stečně splněno. Město za posledn&iacute;
    volebn&iacute; obdob&iacute; hospodař&iacute; s&nbsp;přebytkov&yacute;m rozpočtem,
    nen&iacute; investov&aacute;no do finančn&iacute;ch transakc&iacute;, kter&eacute;
    přin&aacute;&scaron;&iacute; velk&aacute; rizika. Jsme proti nesmysln&eacute;mu
    zadlužov&aacute;n&iacute;, nepodporujeme nesmysln&eacute; projekty hroz&iacute;c&iacute;
    vznikem velk&eacute; zadluženosti města. Vynakl&aacute;d&aacute;me velk&eacute;
    &uacute;sil&iacute; na transparentn&iacute; a &scaron;etrn&eacute; využ&iacute;v&aacute;n&iacute;
    veřejn&yacute;ch financ&iacute;. Důležit&eacute; je neust&aacute;le bd&iacute;t,
    jelikož marnotratnost nikdy nesp&iacute;. Je důležit&eacute; neust&aacute;le tlačit
    na dodavatele služeb, co do kvality, tak do ceny a pokračovat v um&iacute;rněn&eacute;m
    nakl&aacute;d&aacute;n&iacute; s&nbsp;veřejn&yacute;mi prostředky. Tyto veřejn&eacute;
    prostředky jsou v&nbsp;na&scaron;em př&iacute;padě předev&scaron;&iacute;m investov&aacute;ny
    do opravy infrastruktury &ndash; silnic, veřejn&eacute;ho osvětlen&iacute;, chodn&iacute;ků.
    Tak&eacute; se soustřed&iacute;me na bezpečnost a v&nbsp;nov&eacute;m volebn&iacute;m
    obdob&iacute; tak&eacute; na čistotu na&scaron;eho města. Chceme město čist&eacute;
    a bezpečn&eacute;! <strong>&nbsp;</strong></p>\r\n<h2>2.1 Revize členstv&iacute;
    ve svazc&iacute;ch &ndash; vystoupen&iacute; ze svazku vodovodů a kanalizac&iacute;</h2>\r\n<p
    style=\"text-align: justify;\">Na&scaron;&iacute; prioritou pro nadch&aacute;zej&iacute;c&iacute;
    volebn&iacute; obdob&iacute; bude vystoupen&iacute; ze Svazku vodovodů <br />
    a kanalizac&iacute;, Třeb&iacute;č a veden&iacute; vlastn&iacute; vod&aacute;rensk&eacute;
    společnosti.</p>\r\n<p style=\"text-align: justify;\">Probl&eacute;m se členstv&iacute;m
    ve svazku je ten, že město nem&aacute; t&eacute;měř ž&aacute;dnou možnost ovlivnit
    cenu vody, přestože je pr&aacute;vě město nuceno za pen&iacute;ze daňov&yacute;ch
    poplatn&iacute;ků prov&eacute;zt rekonstrukce a investice. Zrekonstruovan&yacute;
    či vybudovan&yacute; řad je n&aacute;sledně provozov&aacute;n &bdquo;svazkem&ldquo;
    a občan&eacute; plat&iacute; za rekonstrukci a v&yacute;stavbu podruh&eacute;
    ve vodn&eacute;m a stočn&eacute;m aniž by svazek platil za řad n&aacute;jem městu,
    kter&eacute; by tak mohlo &scaron;etřit na dal&scaron;&iacute; investice, jenž
    tak nakonec plat&iacute; opět daňov&yacute; poplatn&iacute;k, tedy opět občan.
    Jedin&iacute;, pro kter&eacute; je takov&eacute; členstv&iacute; v&yacute;hodn&eacute;
    jsou členi dozorč&iacute; rady města a představenstva. &nbsp;</p>\r\n<h2>2.2 Př&iacute;li&scaron;
    se nezadařilo, budeme muset v&iacute;ce zatlačit</h2>\r\n<p style=\"text-align:
    justify;\">Z&nbsp;někter&yacute;ch spolků se vlivem nedostatku politick&eacute;
    vůle, nepodařilo vystoupit, av&scaron;ak to neznamen&aacute;, že toto nen&iacute;
    možn&eacute; ku prospěchu občana.</p>\r\n<h2>2.3 Zveřejněn&iacute; majetku města
    na webu</h2>\r\n<p style=\"text-align: justify;\">V&nbsp;nadch&aacute;zej&iacute;c&iacute;m
    obdob&iacute; bychom tuto vizi chtěli naplnit. Mysl&iacute;me si, že je velmi
    důležit&eacute;, aby občan&eacute; věděli, jak&yacute; přesně majetek město spravuje
    a mohli tak sami kontrolovat, jak je s&nbsp;n&iacute;m nakl&aacute;d&aacute;no.
    Nakl&aacute;d&aacute;n&iacute; s&nbsp;veřejn&yacute;mi financemi je NUTN&Eacute;
    podrobovat veřejn&eacute; kontrole!&nbsp;</p>\r\n<p style=\"text-align: justify;\">&nbsp;</p>\r\n<h2>3
    Zru&scaron;en&iacute; nespravedliv&yacute;ch poplatků za odpady a psy</h2>\r\n<p
    style=\"text-align: justify;\">Trv&aacute;me na zru&scaron;en&iacute; či alespoň
    sn&iacute;žen&iacute; poplatku za psa. Roz&scaron;&iacute;řen&iacute;m ko&scaron;ů
    na ps&iacute; exkrementy po cel&eacute;m městě chceme motivovat slu&scaron;n&eacute;
    majitele psů k&nbsp;&uacute;klidu. V&nbsp;tomto obdob&iacute; se zaměř&iacute;me
    na komunikaci s&nbsp;Městskou polici&iacute;, kter&aacute; by měla zefektivnit
    kontrolu plněn&iacute; z&aacute;vazků majitelů psů na &uacute;zem&iacute; města.
    Jsme jednoznačně pro rekonstrukci Sběrn&eacute;ho dvora, zefektivněn&iacute; sběru
    odpadů, odpadov&eacute;ho hospod&aacute;řstv&iacute;, př&iacute;stupni nov&yacute;m
    technologi&iacute;m při zpracov&aacute;n&iacute; odpadů. Chceme se poučit od měst,
    kter&eacute; sv&eacute; poplatky za svoz odpadů zru&scaron;ily a poskytuj&iacute;
    sv&eacute; služby zcela zdarma. Tak&eacute; jsme rezolutně proti jak&eacute;mukoliv
    zvy&scaron;ov&aacute;n&iacute; aktu&aacute;ln&iacute; v&yacute;&scaron;e koeficientu
    daně z&nbsp;nemovitosti.</p>\r\n<p style=\"text-align: justify;\">&nbsp;</p>\r\n<h2>4
    Letn&iacute; kino &ndash; již zahrnuto v&nbsp;investičn&iacute;m z&aacute;měru
    města</h2>\r\n<p style=\"text-align: justify;\">Cel&aacute; lokalita z&aacute;meck&eacute;ho
    parku je v&nbsp;t&eacute;to chv&iacute;li zpracov&aacute;v&aacute;na v&nbsp;investičn&iacute;m
    z&aacute;měru na jeho využit&iacute;. Někter&eacute; investice již byly uskutečněny.
    Letn&iacute; kino je variantou pro využit&iacute; st&aacute;vaj&iacute;c&iacute;ho,
    rozbit&eacute;ho p&oacute;dia, kter&eacute; by roz&scaron;&iacute;řilo nab&iacute;dku
    volnočasov&yacute;ch aktivit pro v&scaron;echny c&iacute;lov&eacute; skupiny (mlad&eacute;,
    rodiny s&nbsp;dětmi, seniory). Ře&scaron;ila by se t&iacute;m alespoň sez&oacute;ně
    absence kina ve městě zru&scaron;en&eacute;ho.</p>\r\n<p style=\"text-align: justify;\">&nbsp;</p>\r\n<h2>5
    Obřadn&iacute; s&iacute;ň</h2>\r\n<p style=\"text-align: justify;\">Obřadn&iacute;
    s&iacute;ň slouž&iacute;c&iacute; k&nbsp;uzav&iacute;r&aacute;n&iacute; manželstv&iacute;
    je plně funkčn&iacute; v&nbsp;prostor&aacute;ch Mě&Uacute;. Při koupi moravskokrumlovsk&eacute;ho
    z&aacute;mku je zde možnost vytvořit zcela novou, moderně vybavenou obřadn&iacute;
    s&iacute;ň v&nbsp;někter&yacute;ch zrekonstruovan&yacute;ch prostor&aacute;ch
    z&aacute;mku včetně možnosti zvolit si focen&iacute; uvnitř z&aacute;mku či v&nbsp;kr&aacute;sn&eacute;m
    z&aacute;meck&eacute;m parku. Takt&eacute;ž by v&nbsp;těchto prostor&aacute;ch
    mohla b&yacute;t ře&scaron;ena Smutečn&iacute; s&iacute;ň.</p>\r\n<div id=\"disqus_thread\">&nbsp;<a
    href=\"http://www.svobodnimk.cz/program\">Zpět na cel&yacute; Program</a></div>"
---
{% extends 'parent' %}