---
title: Kontakty
slug: kontakty
is_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<h2>Svobodn&iacute; Mutěnice</h2>\r\n<p>Mutěnice, Jihomoravsk&yacute;
    kraj, okres Hodon&iacute;n</p>\r\n<p>E-mail:&nbsp;<a title=\"svobodni@mutenice.info\"
    href=\"mailto:svobodni@mutenice.info\">svobodni@mutenice.info</a><br />Web:&nbsp;<a
    href=\"http://svobodni.mutenice.info/\">http://svobodni.mutenice.info</a><br />Facebook:&nbsp;<a
    href=\"https://www.facebook.com/mutenice.svobodni\">Svobodn&iacute; Mutěnice</a>,&nbsp;<a
    href=\"https://facebook.com/ZastupiteleSvobodnychMutenice\">Zastupitel&eacute;
    Svobodn&yacute;ch</a><br />Tel: 605 443 839</p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}