---
title: Program
slug: program
is_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<h1 class=\"entry-title\" style=\"text-align: justify;\"><span
    style=\"font-size: 12px; font-weight: normal; line-height: 1.5em;\">V&aacute;žen&iacute;
    spoluobčan&eacute;,</span></h1>\r\n<div class=\"entry-content\" style=\"text-align:
    justify;\">\r\n<p>jsme kolektiv přev&aacute;žně mlad&yacute;ch lid&iacute;, kter&yacute;
    nab&iacute;z&iacute; možnou volebn&iacute; alternativu. Chceme předev&scaron;&iacute;m,
    změnit vztah občan &ndash; obec, zbořit někter&eacute; dlouholet&eacute; zažit&eacute;
    stereotypy, ale tak&eacute; nav&aacute;zat na to, co se v na&scaron;&iacute; obci
    v letech přede&scaron;l&yacute;ch podařilo. &nbsp;Ž&aacute;d&aacute;me v&aacute;s
    o podporu a v př&iacute;padě, že se n&aacute;m j&iacute; dostane, jsme připraveni
    V&aacute;m uk&aacute;zat, že komun&aacute;ln&iacute; politika je o lidech pro
    lidi, o &uacute;ctě a slu&scaron;nosti k nim. Budeme prosazovat z&aacute;sady
    a principy PRŮHLEDN&Eacute; A PŘ&Aacute;TELSK&Eacute; RADNICE, kter&eacute; jsou
    souč&aacute;st&iacute; politick&eacute;ho konceptu a aktivitou strany Svobodn&yacute;ch
    občanů.</p>\r\n<h2>Hospodařen&iacute; obce</h2>\r\n<p>Strana Svobodn&yacute;ch
    občanů prosazuje vyrovnanost veřejn&yacute;ch rozpočtů na celost&aacute;tn&iacute;,
    krajsk&eacute; a obecn&iacute; &uacute;rovni, h&aacute;j&iacute; z&aacute;sadu
    průhlednosti obecn&iacute;ch rozpočtů a zmen&scaron;ov&aacute;n&iacute; prostoru
    pro korupci.</p>\r\n<p>Rozpočet Mutěnic je průměrně 60. mil ročně. Př&iacute;jmy
    obce tvoř&iacute;, daňov&eacute; př&iacute;jmy, nedaňov&eacute; př&iacute;jmy,
    kapit&aacute;lov&eacute; př&iacute;jmy a dotace. Zhruba poloviny v&yacute;dajů
    obce jde na běžn&eacute; v&yacute;daje (opravy a udržov&aacute;n&iacute;, &scaron;kolstv&iacute;,
    vnitřn&iacute; spr&aacute;va, atd.) a druh&aacute; polovina na investice do veřejn&yacute;ch
    statků.</p>\r\n<h3>Podporujeme n&aacute;sleduj&iacute;c&iacute; principy</h3>\r\n<ul>\r\n<li><strong>Transparentn&iacute;
    hospodařen&iacute;</strong>&nbsp;&ndash; zveřejňovat &uacute;daje z &uacute;četnictv&iacute;
    (v&yacute;kaz zisků &nbsp;a ztr&aacute;t, rozvahu, hlavn&iacute; knihu, soupisy
    faktur a platebn&iacute;ch poukazů). &nbsp;Zveřejňovat ve&scaron;ker&eacute; smlouvy
    obce, veřejn&eacute; zak&aacute;zky, u veřejn&yacute;ch zak&aacute;zek se obec
    nesm&iacute; odvol&aacute;vat na obchodn&iacute; tajemstv&iacute;.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Komentovan&yacute;
    rozpočet obce</strong>&nbsp;&ndash; jednotliv&eacute; př&iacute;jmov&eacute; a
    v&yacute;dajov&eacute; položky vhodn&yacute;m způsobem popsat. Hlavně investice
    do veřejn&yacute;ch statků jasně vysvětlit k čemu maj&iacute; sloužit, jak budou
    financovan&eacute; a kdy budou realizovan&eacute;. Komentovan&yacute; rozpočet
    zveřejnit tak, aby občan&eacute; měli možnost se k jednotliv&yacute;m investic&iacute;m
    vyjadřovat.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Rozpočtov&yacute; v&yacute;hled</strong>&nbsp;&ndash;
    sestavovat na cel&eacute; volebn&iacute; obdob&iacute; a vytvořit koncept rozvoje
    obce na n&aacute;sleduj&iacute;c&iacute; l&eacute;ta. Zejm&eacute;na s ohledem
    na možnost z&iacute;sk&aacute;v&aacute;n&iacute; dotac&iacute;.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Nez&aacute;visl&yacute;
    audit&nbsp;</strong>&ndash; navrhujeme prověřit hospodařen&iacute; radnice i organizac&iacute;
    kontrolovan&yacute;ch obc&iacute; za &uacute;čelem zefektivněn&iacute; jejich
    fungov&aacute;n&iacute; a hled&aacute;n&iacute; &uacute;spor.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Person&aacute;ln&iacute;
    audit&nbsp;</strong>n&aacute;m rovněž pomůže odhalit, kde a na jak&yacute;ch pozic&iacute;ch
    lze u&scaron;etřit mzdov&eacute; n&aacute;klady.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Daň
    z nemovitosti</strong>&nbsp;&ndash; zachov&aacute;n&iacute; st&aacute;vaj&iacute;c&iacute;
    v&yacute;&scaron;e.</li>\r\n</ul>\r\n<h2>Dotace</h2>\r\n<p>Jak bylo zm&iacute;něno
    v&yacute;&scaron;e, dotace jsou dal&scaron;&iacute;m zdrojem př&iacute;jmů obecn&iacute;ho
    rozpočtu a na rozd&iacute;l od daňov&yacute;ch př&iacute;jmů, kter&eacute; do
    obecn&iacute; pokladny přijdou takřka sami, je nutn&eacute; se o dotace aktivně
    zasloužit. Kdo si o dotace nepož&aacute;d&aacute; ten je ani nedostane. Obecně
    plat&iacute;, že př&iacute;spěvek z dotačn&iacute;ho titulu poskytovan&eacute;m
    ať už z krajsk&eacute;ho, &nbsp;st&aacute;tn&iacute;ho nebo evropsk&eacute;ho
    zdroje je v rozmez&iacute; 50- 95%. Jinak řečeno na každ&yacute; milion z obecn&iacute;ho
    rozpočtu určen&eacute;ho na investici můžeme z&iacute;skat deset milionů z rozpočtu
    veřejn&eacute;ho. Obec Mutěnice např&iacute;klad v letech 2010-2013 čerpala pětkr&aacute;t
    m&eacute;ně dotac&iacute; než sousedn&iacute; obec Doln&iacute; Bojanovice. Domn&iacute;v&aacute;me
    se, že v těchto letech &scaron;lo z dotačn&iacute;ch programů z&iacute;skat 20
    &ndash; 40 mili&oacute;nů na vybudov&aacute;n&iacute; veřejn&yacute;ch statků
    a infrastruktury. Např&iacute;klad bylo možn&eacute; z&nbsp;těchto peněz rekonstruovat
    &scaron;koln&iacute; hři&scaron;tě, vybudovat amfite&aacute;tr nebo rozhlednu
    či financovat rekonstrukci kulturn&iacute;ho domu.</p>\r\n<h3>Navrhujeme zav&eacute;st
    a zpracovat</h3>\r\n<ul>\r\n<li><strong>Referent dotac&iacute;</strong>&nbsp;&ndash;
    pracovn&iacute; n&aacute;pln&iacute; bude vyhled&aacute;v&aacute;n&iacute; a z&iacute;sk&aacute;v&aacute;n&iacute;
    dotac&iacute; na rozvoj obce a pomoc občanům a živnostn&iacute;kům při orientaci
    v dotačn&iacute;ch programech.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Koncept rozvoje
    obce&nbsp;</strong>&ndash; zpracovat anal&yacute;zu potřeb slouž&iacute;c&iacute;ch
    k rozvoji obce, zejm&eacute;na budov&aacute;n&iacute; veřejn&yacute;ch statků
    a vytv&aacute;řen&iacute; vhodn&yacute;ch podm&iacute;nek pro podnik&aacute;n&iacute;.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Anal&yacute;za
    dotačn&iacute;ch př&iacute;ležitost&iacute;&nbsp;</strong>&ndash; dokonal&eacute;
    zmapov&aacute;n&iacute; ve&scaron;ker&yacute;ch dotačn&iacute;ch titulů poskytovan&yacute;ch
    krajem, st&aacute;tem, EU, nadačn&iacute;mi fondy, soukrom&yacute;mi fondy, kter&eacute;
    by mohli posloužit k rozvoji obce.</li>\r\n</ul>\r\n<h2>Veřejn&eacute; zak&aacute;zky</h2>\r\n<p>Z&aacute;kon
    o zad&aacute;v&aacute;n&iacute; veřejn&yacute;ch zak&aacute;zek jasně definuje,
    jak&yacute;m způsobem se maj&iacute; tyto zak&aacute;zky zad&aacute;vat, zveřejňovat,
    vysoutěžovat, realizovat a kontrolovat. Zak&aacute;zky nad 1. mil se zveřejňuj&iacute;
    na centr&aacute;ln&iacute; adrese, kter&aacute; je př&iacute;stupn&aacute; v&scaron;em
    v r&aacute;mci cel&eacute; Česk&eacute; republiky.</p>\r\n<h3>Navrhujeme</h3>\r\n<ul>\r\n<li><strong>Podpora
    m&iacute;stn&iacute;ch firem&nbsp;</strong>&ndash; zpracovan&yacute;m konceptem
    rozvoje obce a rozpočtov&yacute;m v&yacute;hledem mimo jin&yacute; poskytnout
    m&iacute;stn&iacute;m firm&aacute;m dostatek času se na v&yacute;běrov&aacute;
    ř&iacute;zen&iacute; připravit. V Mutěnic&iacute;ch za posledn&iacute; dobu tyto
    zak&aacute;zky realizovali přev&aacute;žně ciz&iacute; firmy.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Transparentnost
    v&yacute;běrov&yacute;ch ř&iacute;zen&iacute;</strong>&nbsp;&ndash; na str&aacute;nk&aacute;ch
    obce zveřejňovat ve&scaron;ker&aacute; v&yacute;běrov&aacute; ř&iacute;zen&iacute;,
    zad&aacute;vac&iacute; dokumentace, zdůvodněn&iacute; v&yacute;běrů t&eacute;,
    kter&eacute; nab&iacute;dky. N&aacute;sledně prov&aacute;dět průběžn&eacute; plněn&iacute;
    a zveřejnit konečn&eacute; vyhodnocen&iacute; realizace projektu včetně celkov&yacute;ch
    n&aacute;kladů.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Průhledn&eacute; smlouvy</strong>&nbsp;&ndash;v
    př&iacute;padě obecn&iacute;ch zak&aacute;zek se obec &nbsp;nesm&iacute; odvol&aacute;vat
    na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</li>\r\n</ul>\r\n<h2>Komunikace
    občan versus obec</h2>\r\n<p>Občan m&aacute; za sv&eacute; pen&iacute;ze pr&aacute;vo
    vědět, o čem s k&yacute;m a kdy j&iacute;m volen&iacute; z&aacute;stupci jednaj&iacute;
    a jak bylo v kter&eacute; věci rozhodnuto. Svobodn&iacute; jako strana organizuj&iacute;
    projekt tzv &bdquo;Průhledn&eacute; radnice&ldquo;, jehož souč&aacute;st&iacute;
    je i bod &bdquo;Zveřejňov&aacute;n&iacute; zastupitelsk&eacute; činnosti&ldquo;.
    Vysokou &uacute;roveň komunikace mezi veden&iacute;m obce, zastupitelstvem a občany
    považujeme za jednu ze sv&yacute;ch hlavn&iacute;ch priorit.</p>\r\n<h3>Podporujeme</h3>\r\n<ul>\r\n<li><strong>Prezentace
    z&aacute;měrů obce</strong>&nbsp;&ndash; dostatečn&yacute;m a vhodn&yacute;m způsobem
    prezentovat jednotliv&eacute; z&aacute;měry, kter&eacute; bude obec činit tak,
    aby občan&eacute; měli možnost se k dan&yacute;m věcem vyjadřovat. Na jejich n&aacute;zory
    br&aacute;t zřetel.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Podněty od občanů</strong>&nbsp;&ndash;
    jsme toho n&aacute;zoru, že občan m&aacute; pr&aacute;vo dostat odpověď na jak&yacute;koliv
    dotaz či podnět souvisej&iacute;c&iacute; s fungov&aacute;n&iacute;m obce. Za
    t&iacute;mto &uacute;čelem zř&iacute;dit na webov&yacute;ch str&aacute;nk&aacute;ch
    obce sekci pro dotazy a podněty občanů, přičemž pod&aacute;n&iacute; podnětu p&iacute;semně
    či &uacute;stně se nevylučuje. Na podněty a dotazy &nbsp;ř&aacute;dně a přiměřeně
    odpov&iacute;dat.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Veřejn&aacute; jedn&aacute;n&iacute;
    zastupitelstva</strong>&nbsp;&ndash; jedn&aacute;n&iacute; zastupitelstva obce
    zveřejňovat na internetu, zveřejňovat majetkopr&aacute;vn&iacute; z&aacute;měry
    obce a pl&aacute;novan&eacute; investice přesahuj&iacute;c&iacute; č&aacute;stku
    100.000,- Kč. Z&aacute;roveň podporujeme zveřejňov&aacute;n&iacute; z&aacute;pisu
    &nbsp;z jedn&aacute;n&iacute; rady obce.</li>\r\n</ul>\r\n<h2><strong>Referendum
    a Petice&nbsp;</strong><strong>&ndash;</strong><strong>&nbsp;n&aacute;stroje př&iacute;m&eacute;
    demokracie</strong></h2>\r\n<p>Na obecn&iacute; &uacute;rovni se princip př&iacute;m&eacute;
    demokracie, kdy se &ldquo;v&scaron;ichni&rdquo; pod&iacute;l&iacute; ve spr&aacute;vě
    veřejn&yacute;ch z&aacute;ležitost&iacute;, bl&iacute;ž&iacute; sv&eacute; podstatě,
    m&aacute;me jedinečnou možnost uplatňovat sv&eacute; pr&aacute;vo a ovlivňovat
    chod obce.</p>\r\n<p>Referendum a Petice považuj&iacute; Svobodn&iacute; za dobr&yacute;
    doplněk demokratick&yacute;ch rozhodovac&iacute;ch postupů, nikoliv za jejich
    n&aacute;hradu.</p>\r\n<p>Navrhujeme, aby se budouc&iacute; zastupitelstvo zav&aacute;zalo
    k plněn&iacute; n&aacute;sleduj&iacute;c&iacute;ch pravidel, kter&aacute; vych&aacute;zej&iacute;
    z&nbsp;principů, jež prosazuj&iacute; ve sv&eacute;m programu Svobodn&iacute;.</p>\r\n<ul>\r\n<li><strong>Lidov&eacute;
    veto</strong>&nbsp;&ndash; znamen&aacute;, že občan&eacute; mohou referendem zvr&aacute;tit
    jak&eacute;koliv rozhodnut&iacute; obce. &nbsp;V př&iacute;padě, že se lid&eacute;
    vyslov&iacute; v referendu pro zam&iacute;tnut&iacute;, rozhodnut&iacute; zastupitelstva
    nevejde v platnost a mus&iacute; se konat nov&eacute; volby do zastupitelstva.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Petice&nbsp;</strong>&ndash;
    pokud se v obci shrom&aacute;žd&iacute; na petici stanoven&yacute; počet podpisů
    (navrhujeme 500 podpisů) a předmět petice se bude dot&yacute;kat obce. St&aacute;v&aacute;
    se tato petice bodem jedn&aacute;n&iacute; zastupitelstva, přičemž tato petice
    m&aacute; pro zastupitelstvo doporučuj&iacute;c&iacute; charakter.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>&ldquo;Mal&eacute;
    Referendum&rdquo;</strong>&nbsp;&ndash; &nbsp;poř&aacute;dan&eacute; nad r&aacute;mec
    platn&eacute; legislativy elektronick&yacute;m způsobem (internet, mobiln&iacute;
    telefon) či na určen&eacute;m m&iacute;stě. Může jej vypsat obec ze sv&eacute;
    iniciativy nebo z podnětu občanů, za &uacute;čelem z&iacute;sk&aacute;n&iacute;
    n&aacute;zoru občanů na danou problematiku.</li>\r\n</ul>\r\n<h2>Podpora podnik&aacute;n&iacute;</h2>\r\n<p>Domn&iacute;v&aacute;me
    se, že obec bude bohatnout jen pokud, budou bohat&iacute; jej&iacute; občan&eacute;.
    Jist&eacute; množstv&iacute; v&yacute;robků a služeb nakupujeme od m&iacute;stn&iacute;ch
    firem a živnostn&iacute;ků č&iacute;mž je podporujeme, ale podporujeme tak&eacute;
    obec a potažmo sebe. Protože podle z&aacute;kona o rozpočtov&eacute;m určen&iacute;
    dan&iacute; se č&aacute;st dan&iacute; &nbsp;(z př&iacute;jmu FO a PO, daně z
    přidan&eacute; hodnoty, daně z nemovitosti) &nbsp;vrac&iacute; do rozpočtu obce
    podle m&iacute;sta s&iacute;dla firmy nebo živnostn&iacute;ka.</p>\r\n<ul>\r\n<li><strong>Vybudov&aacute;n&iacute;
    průmyslov&eacute; z&oacute;ny&nbsp;</strong>&ndash; navrhujeme vej&iacute;t jako
    prostředn&iacute;k v jedn&aacute;n&iacute; s vlastn&iacute;ky nevyužit&yacute;ch
    pozemků v průmyslov&eacute; z&oacute;ně, popř&iacute;padě s&aacute;hnout k d&iacute;lč&iacute;m
    změn&aacute;m &uacute;zemn&iacute;ho pl&aacute;nu, za &uacute;čelem jej&iacute;ho
    oživen&iacute;. Chceme, aby tato mohla b&yacute;t využita podnikateli, kteř&iacute;
    chtěj&iacute; rozv&iacute;jet sv&eacute; podnik&aacute;n&iacute; v&nbsp;Mutěnic&iacute;ch,
    a &nbsp;podpořit tak &nbsp;tvorbu pracovn&iacute;ch př&iacute;ležitost&iacute;
    v obci.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Obecn&iacute; zak&aacute;zky</strong>&ndash;
    u zak&aacute;zek do 500 000 korun, u kter&yacute;ch z&aacute;kon o veřejn&yacute;ch
    zak&aacute;zk&aacute;ch nenařizuje vypisovat v&yacute;běrov&eacute; ř&iacute;zen&iacute;,
    ale pouze oslovit tři firmy a vybrat nejlep&scaron;&iacute; nab&iacute;dku. Chceme
    přednostně oslovovat firmy z Mutěnic.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Podnik&aacute;n&iacute;
    bez přek&aacute;žek</strong>&nbsp;&ndash; nekl&aacute;st ž&aacute;dn&eacute; zbytečn&eacute;
    přek&aacute;žky podnik&aacute;n&iacute; a podnikatelům, kteř&iacute; projev&iacute;
    z&aacute;jem v Mutěnic&iacute;ch vykon&aacute;vat svoji činnost.</li>\r\n</ul>\r\n<h2>V&yacute;stavba</h2>\r\n<p>Budov&aacute;n&iacute;
    veřejn&yacute;ch statků, jež budou sloužit v&scaron;em, je jednou z nejdůležitěj&scaron;&iacute;ch
    činnost&iacute; obc&iacute;.Na&scaron;e obec m&aacute; v dobr&eacute;m stavu silnice,
    chodn&iacute;ky, zrekonstruovanou &scaron;kolu a &scaron;kolku. Nicm&eacute;ně
    je potřeba si položit ot&aacute;zku, kdo do t&eacute; &scaron;koly a &scaron;kolky
    bude chodit, když spousta mlad&yacute;ch lid&iacute; je nucena z důvodu nedostatku
    stavebn&iacute;ch m&iacute;st z Mutěnic odch&aacute;zet.</p>\r\n<h3>R&aacute;di
    bychom se proto zasadili o n&aacute;sleduj&iacute;c&iacute;</h3>\r\n<ul>\r\n<li><strong>V&yacute;stavba
    v lokalitě Star&eacute; &scaron;koly</strong>&nbsp;&ndash; otevř&iacute;t debatu
    co v tomto veřejn&eacute;m prostoru vybudovat. &nbsp;Domov pokojn&eacute;ho st&aacute;ři?</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Bezpečnost
    chodců</strong>&nbsp;&ndash; vybudov&aacute;n&iacute;m chodn&iacute;ku v ulici
    &Scaron;koln&iacute;, nebo dal&scaron;&iacute;ho přechodu přes hlavn&iacute; silnici.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Cyklotrasy</strong>&nbsp;&ndash;
    prověřen&iacute; možnosti vybudov&aacute;n&iacute; cyklotrasy do Hodon&iacute;na,
    vybudov&aacute;n&iacute; vyhl&iacute;dkov&yacute;ch odpoč&iacute;vadel pod&eacute;l
    cyklotrasy na V&yacute;&scaron;icku.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Dětsk&eacute;
    hři&scaron;tě</strong>&nbsp;&ndash; vybudov&aacute;n&iacute; oplocen&eacute;ho
    dětsk&eacute;ho hři&scaron;tě po &scaron;irok&eacute; diskuzi o podobě i um&iacute;stněn&iacute;
    s občany.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Stavebn&iacute; m&iacute;sta</strong>&nbsp;&ndash;
    navrhujeme nab&iacute;dnout vlastn&iacute;kům pozemků v lokalit&aacute;ch pl&aacute;novan&yacute;ch
    pro bydlen&iacute; adekv&aacute;tn&iacute; protihodnotu a nebo jejich participaci
    na projektu, a tak urychlit př&iacute;pravu těchto lokalit k v&yacute;stavbě rodinn&yacute;ch
    domů.</li>\r\n</ul>\r\n<h2>Kultura a sport</h2>\r\n<p>Ned&iacute;lnou souč&aacute;st&iacute;
    života lid&iacute; a obce je kultura. U &nbsp;n&aacute;s předev&scaron;&iacute;m
    spoč&iacute;vaj&iacute;c&iacute; ve folklorn&iacute; tradici prezentovan&eacute;
    předev&scaron;&iacute;m kroji, hudbou a hody. Podobně velkou tradici je sportov&aacute;n&iacute;,
    kde na prvn&iacute;m m&iacute;stě je nutn&eacute; zm&iacute;nit fotbal. Dal&scaron;&iacute;mi
    spolky, jež obohacuj&iacute; život obce, jsou Hasiči, Skauti, Myslivci, Vinaři
    a dal&scaron;&iacute;. Tito v&scaron;ichni rovněž pom&aacute;haj&iacute; formovat
    děti a mlad&eacute; lidi, kter&yacute;m před&aacute;vaj&iacute; &uacute;ctu k
    hodnot&aacute;m, kter&eacute; jsou bl&iacute;zk&eacute; i n&aacute;m.</p>\r\n<h3>Podpoř&iacute;me</h3>\r\n<ul>\r\n<li><strong>Finančn&iacute;
    př&iacute;spěvky</strong>&nbsp;&ndash; na fungov&aacute;n&iacute; v&scaron;ech
    těchto spolků, tak, aby byla podpořena adekv&aacute;tn&iacute;m způsobem jejich
    činnost.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Využit&iacute; amfite&aacute;tru</strong>&nbsp;&ndash;
    kromě st&aacute;vaj&iacute;c&iacute;ch kulturn&iacute;ch akc&iacute; přil&aacute;kat
    do Mutěnic v&iacute;ce hudebn&iacute;ch a divadeln&iacute;ch produkc&iacute;.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Pr&aacute;ce
    s dětmi</strong>&nbsp;&ndash; vytvořen&iacute; podm&iacute;nek pro zapojen&iacute;
    se rodičů a různ&yacute;ch spolků do pr&aacute;ce s dětmi a otevřen&iacute; na&scaron;&iacute;
    kr&aacute;sn&eacute; &scaron;koly lidem &ndash; &scaron;kola by měla každ&yacute;
    den ž&iacute;t i po skončen&iacute; vyučov&aacute;n&iacute;.</li>\r\n</ul>\r\n<h2>Prevence
    vandalismu a drobn&eacute; trestn&eacute; činnosti</h2>\r\n<p>V posledn&iacute;
    době se i v na&scaron;&iacute; obci st&aacute;le v&iacute;ce hromad&iacute; probl&eacute;my
    s vandalismem, po&scaron;kozov&aacute;n&iacute;m ciz&iacute;ho majetku i kr&aacute;deže.
    Kromě snahy podpořit vhodn&eacute; podm&iacute;nky pro volnočasov&eacute; aktivity
    dět&iacute; a ml&aacute;deže, jež jsou prevenc&iacute; zejm&eacute;na vandalismu,
    bychom r&aacute;di věnovali těmto negativn&iacute;m jevům v&iacute;ce pozornosti
    a jsme zast&aacute;nci těchto opatřen&iacute;.</p>\r\n<ul>\r\n<li><strong>Obecn&iacute;
    str&aacute;žn&iacute;k</strong>&nbsp;&ndash; jsme pro pos&iacute;len&iacute; obecn&iacute;
    policie na dva str&aacute;žn&iacute;ky a zorganizov&aacute;n&iacute; jejich pr&aacute;ci
    tak, aby mohli b&yacute;t v pohotovosti např. v p&aacute;tečn&iacute; a sobotn&iacute;
    noci, kdy k vandalismu často doch&aacute;z&iacute;.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Komunikace
    s PČR</strong>&nbsp;&ndash;zv&yacute;&scaron;it celkovou komunikaci obce se st&aacute;tn&iacute;
    polici&iacute; Česk&eacute; republiky a informovanost občanů, jak v př&iacute;padě,
    že budou svědky, či obět&iacute; trestn&eacute; činnosti postupovat (např&iacute;klad
    s využit&iacute;m webov&yacute;ch str&aacute;nek obce).</li>\r\n</ul>\r\n<h2>Zemědělstv&iacute;
    a vinařstv&iacute;</h2>\r\n<p>Mutěnice jsou typickou zemědělskou obc&iacute;,
    kde v&yacute;znamnou oblast&iacute; tvoř&iacute; vinařstv&iacute;, jež typick&yacute;m
    způsobem ovlivňuje r&aacute;z krajiny. Z&aacute;roveň vinařstv&iacute; přin&aacute;&scaron;&iacute;
    ekonomick&yacute; užitek plynouc&iacute; z v&yacute;roby v&iacute;na a turismu.</p>\r\n<h3>Podpoř&iacute;me</h3>\r\n<ul>\r\n<li><strong>Udržiteln&eacute;
    zemědělstv&iacute;</strong>&nbsp;&ndash; poměrně velk&aacute; č&aacute;st pol&iacute;
    v okol&iacute; Mutěnic je majetkem obce nebo jejich občanů. Podpoř&iacute;me takov&eacute;
    zemědělstv&iacute;, kter&eacute; nepovede &nbsp;k znehodnocov&aacute;n&iacute;
    půdy či obecn&iacute;ho majetku.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Poř&aacute;d&aacute;n&iacute;
    tradičn&iacute;ch vinařsk&yacute;ch akc&iacute;</strong>&nbsp;&ndash; jakou jsou
    Otevřen&eacute; sklepy či Pochod slov&aacute;ck&yacute;m vinohradem</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Turistick&eacute;
    informačn&iacute; centrum</strong>&nbsp;&ndash; na m&iacute;stě současn&eacute;ho
    objektu (U Drobečka) vybudovat turistick&eacute; informačn&iacute; centrum, kter&eacute;
    bude z&aacute;roveň sloužit vinařsk&yacute;m a jin&yacute;m spolkům jako m&iacute;sto
    jejich setk&aacute;v&aacute;n&iacute;.</li>\r\n</ul>\r\n<h2>Ochrana životn&iacute;ho
    prostřed&iacute;</h2>\r\n<p>Životn&iacute;m prostřed&iacute;m rozum&iacute;me
    soubor tvořen&yacute; př&iacute;rodn&iacute;m a t&iacute;m co vybudoval člověk
    svou prac&iacute;. &nbsp;Jako takov&eacute; je hodn&eacute; ochrany a přiměřen&eacute;
    p&eacute;če.</p>\r\n<ul>\r\n<li><strong>Podnik&aacute;n&iacute; s ohledem na &nbsp;životn&iacute;ho
    prostřed&iacute;&nbsp;</strong>&ndash; čist&eacute; životn&iacute; prostřed&iacute;
    považujeme za jednu z nejvy&scaron;&scaron;&iacute;ch společn&yacute;ch hodnot
    obce, dědictv&iacute; a z&aacute;vazek do budoucnosti.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Co
    se skl&aacute;dkou?</strong>&nbsp;&ndash; chceme otevř&iacute;t debatu, jestli
    skl&aacute;dku v Mutěnic&iacute;ch nevyuž&iacute;vat pouze pro občany Mutěnic.
    Nel&iacute;b&iacute; se n&aacute;m financov&aacute;n&iacute; oprav obecn&iacute;ho
    majetku př&iacute;jmy ze skl&aacute;dky.</li>\r\n</ul>\r\n<ul>\r\n<li><strong>Čist&eacute;
    životn&iacute; prostřed&iacute; jako ekonomick&yacute; činitel&nbsp;</strong>&ndash;
    podporujeme ve&scaron;ker&eacute; aktivity občanů směruj&iacute;c&iacute; ke zkvalitněn&iacute;
    životn&iacute;ho prostřed&iacute;. Čist&aacute; př&iacute;roda, upraven&eacute;
    a př&iacute;jemn&eacute; prostřed&iacute; na&scaron;&iacute; obce l&aacute;k&aacute;
    turisty. Postarejme se, aby měli důvod se k n&aacute;m vracet.</li>\r\n</ul>\r\n</div>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
