---
title: Zastupitelstva
slug: zastupitelstva
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 31
seo_title: '123'
editable_elements:
  main/duvody: "<ul class=\"spec-purple-1\">\r\n<li>Dne 11 bude zastupko</li>\r\n</ul>"
  main/vyzva: Osobnosti, které nabízíme
---
{% extends 'parent' %}