---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<h2>&nbsp;Průhledn&aacute; a efektivn&iacute; radnice</h2>\r\n<ul>\r\n<li>\r\n<p><strong>Lidov&eacute;
    veto: </strong>&nbsp;Svobodn&iacute; chtěj&iacute; prosadit zakotven&iacute; lidov&eacute;ho
    veta, kter&eacute; umožn&iacute; zneplatněn&iacute; libovoln&eacute;ho usnesen&iacute;
    Zastupitelstva Městsk&eacute; č&aacute;sti Praha 2.</p>\r\n</li>\r\n<li>\r\n<p><strong>Vyrovnan&yacute;
    rozpočet: </strong>Prosad&iacute;me skutečně vyrovnan&yacute; rozpočet, kdy ročn&iacute;
    v&yacute;daje nepřev&yacute;&scaron;&iacute; ročn&iacute; př&iacute;jmy. Zasad&iacute;me
    se o efektivn&iacute; hospodařen&iacute; MČ Praha 2.</p>\r\n</li>\r\n<li>\r\n<p><strong>Ru&scaron;en&iacute;
    zbytečn&yacute;ch poplatků</strong>: Na&scaron;&iacute;m c&iacute;lem je ru&scaron;en&iacute;
    zbytečn&yacute;ch poplatků. Prosazujeme zru&scaron;en&iacute; poplatku za psy,
    či sn&iacute;žen&iacute; poplatku za z&aacute;bor veřejn&eacute;ho prostranstv&iacute;
    a z&aacute;roveň sn&iacute;žen&iacute; pron&aacute;jmu za tento z&aacute;bor.
    T&iacute;m dojde ke sn&iacute;žen&iacute; provozn&iacute;ch n&aacute;kladů např.
    pro provozovatele pohostinsk&yacute;ch služeb, kteř&iacute; maj&iacute; zahr&aacute;dku
    před sv&yacute;m podnikem, což se postupně projev&iacute; v niž&scaron;&iacute;ch
    cen&aacute;ch pro koncov&eacute; spotřebitele.</p>\r\n</li>\r\n<li>\r\n<p><strong>Vstř&iacute;cněj&scaron;&iacute;
    &uacute;řad:</strong> Zajist&iacute;me lep&scaron;&iacute; funkčnost &uacute;řadu
    ve vztahu k&nbsp;občanům t&iacute;m, že roz&scaron;&iacute;ř&iacute;me otev&iacute;rac&iacute;
    hodiny pro veřejnost. Chceme v maxim&aacute;ln&iacute; možn&eacute; m&iacute;ře
    využ&iacute;t elektronickou komunikaci. Zasad&iacute;me se o lep&scaron;&iacute;
    informovanost občanů o děn&iacute; v na&scaron;&iacute; městsk&eacute; č&aacute;sti.</p>\r\n</li>\r\n</ul>\r\n<h2>Svobodn&aacute;
    doprava</h2>\r\n<ul>\r\n<li>\r\n<p><strong>Nesouhlas&iacute;me se vznikem n&iacute;zkoemisn&iacute;ch
    z&oacute;n:</strong> Svobodn&iacute; odm&iacute;taj&iacute; vznik n&iacute;zkoemisn&iacute;ch
    z&oacute;n jako nesmysln&eacute; a zbytečn&eacute; omezov&aacute;n&iacute; obyvatel
    Prahy. Budeme aktivně vystupovat proti jej&iacute;mu zaveden&iacute; na &uacute;zem&iacute;
    Prahy 2.</p>\r\n</li>\r\n<li>\r\n<p><strong>Doprava bez zbytečn&yacute;ch regulac&iacute;:</strong>
    Prosad&iacute;me zru&scaron;en&iacute; zbytečn&yacute;ch regulac&iacute; v m&iacute;stech,
    kde nemaj&iacute; smysl a dopravu pouze &uacute;čelově omezuj&iacute;. Zasad&iacute;me
    se o efektivn&iacute; rekonstrukci hlavn&iacute;ch komunikačn&iacute;ch tahů.<br
    />Pomoc hendikepovan&yacute;m spoluobčanům: Budeme se zasazovat o vybudov&aacute;n&iacute;
    bezbari&eacute;rov&yacute;ch př&iacute;stupů do stanic&nbsp;metra I.&nbsp;P.&nbsp;Pavlova,
    N&aacute;m. m&iacute;ru a Karlovo n&aacute;měst&iacute;.</p>\r\n</li>\r\n</ul>\r\n<h2>Bezpečn&aacute;
    obec</h2>\r\n<ul>\r\n<li>\r\n<p><strong>Str&aacute;žn&iacute;ky do ulic, ne do
    kancel&aacute;ř&iacute;:</strong> Zajist&iacute;me nav&yacute;&scaron;en&iacute;
    počtu str&aacute;žn&iacute;ku Městsk&eacute; policie v ulic&iacute;ch, naopak
    sn&iacute;ž&iacute;me počet administrativn&iacute;ch pracovn&iacute;ků Městsk&eacute;
    policie v&nbsp;kancel&aacute;ř&iacute;ch.</p>\r\n</li>\r\n<li>\r\n<p><strong>Pr&aacute;ce
    m&iacute;sto kamer:</strong> Nebudeme podporovat roz&scaron;iřov&aacute;n&iacute;
    drah&eacute;ho a neefektivn&iacute;ho Městsk&eacute;ho kamerov&eacute;ho syst&eacute;mu.
    Prosad&iacute;me, aby m&iacute;sto sezen&iacute; za ovl&aacute;dac&iacute;m pultem
    kamer, prov&aacute;děli str&aacute;žn&iacute;ci Městsk&eacute; policie pravideln&eacute;
    hl&iacute;dky v&nbsp;rizikov&yacute;ch lokalit&aacute;ch (např. I. P. Pavlova,
    Karlovo n&aacute;měst&iacute;, atd.)</p>\r\n</li>\r\n</ul>\r\n<h2>Svobodn&eacute;
    podnik&aacute;n&iacute;</h2>\r\n<ul>\r\n<li>\r\n<p><strong>Rozvolněn&iacute; tržn&iacute;ho
    ř&aacute;du:</strong> Zasad&iacute;me se o změnu tržn&iacute;ho ř&aacute;du. Zjednodu&scaron;&iacute;me
    tak pouličn&iacute; prodej, zř&iacute;zen&iacute; zahr&aacute;dek u restaurac&iacute;
    či vyřizov&aacute;n&iacute; z&aacute;borů veřejn&eacute;ho prostranstv&iacute;.</p>\r\n</li>\r\n<li>\r\n<p><strong>Rozvoj
    podnikatelsk&eacute;ho prostřed&iacute;:</strong> Jednou z hlavn&iacute;ch priorit
    Svobodn&yacute;ch je rozvoj podnikatelsk&eacute;ho prostřed&iacute;, vytv&aacute;řen&iacute;
    dobr&yacute;ch podm&iacute;nek pro podnik&aacute;n&iacute; a prosazov&aacute;n&iacute;
    rovn&yacute;ch podm&iacute;nek podnikatelsk&eacute; soutěže.</p>\r\n</li>\r\n</ul>\r\n<h2>Svobodn&eacute;
    &scaron;kolstv&iacute; a kultura:</h2>\r\n<ul>\r\n<li>\r\n<p><strong>&Scaron;kola
    z&aacute;klad života:</strong> Svobodn&iacute; chtěj&iacute;, ve spolupr&aacute;ci
    s&nbsp;řediteli z&aacute;kladn&iacute;ch &scaron;kol, vytvořit podm&iacute;nky
    pro už&scaron;&iacute; profilaci v&yacute;uky v jednotliv&yacute;ch z&aacute;kladn&iacute;ch
    &scaron;kol&aacute;ch tak, aby děti mohli naplno rozv&iacute;jet sv&eacute; unik&aacute;tn&iacute;
    vlohy. Budeme podporovat mimo&scaron;koln&iacute; aktivity a sportovn&iacute;
    vyžit&iacute; dět&iacute;.<br />Kulturn&iacute; čtvrť: Podpoř&iacute;me tradičn&iacute;
    kulturn&iacute; akce spjat&eacute; s na&scaron;&iacute; městskou č&aacute;st&iacute;.
    Zasad&iacute;me se o zru&scaron;en&iacute; vyhl&aacute;&scaron;ky zakazuj&iacute;c&iacute;
    pouličn&iacute; uměn&iacute;.</p>\r\n</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<h2>Svobodn&iacute;
    v komun&aacute;ln&iacute; politice vych&aacute;z&iacute; obecně z těchto principů:</h2>\r\n<ol>\r\n<li>\r\n<p>Obce
    hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute;
    jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute;
    vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute;
    prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona
    o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</p>\r\n</li>\r\n<li>\r\n<p>Obce
    vynakl&aacute;daj&iacute; prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute;
    statky, tj. na obecn&iacute; silnice, chodn&iacute;ky a zaji&scaron;těn&iacute;
    poř&aacute;dku a čistoty v obc&iacute;ch.</p>\r\n</li>\r\n<li>\r\n<p>Obce z&aacute;sadně
    nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute; deformovat tržn&iacute;
    prostřed&iacute;.</p>\r\n</li>\r\n<li>\r\n<p>Obce ukl&aacute;daj&iacute; přebytky
    běžn&eacute;ho hospodařen&iacute; z&aacute;sadně konzervativně, tj. do aktiv s
    minim&aacute;ln&iacute;m rizikem.</p>\r\n</li>\r\n<li>\r\n<p>V př&iacute;padě
    obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat na obchodn&iacute;
    tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</p>\r\n</li>\r\n<li>\r\n<p>Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</p>\r\n</li>\r\n</ol>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
