---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p style=\"text-align: justify;\">Proč v &Scaron;umperku
    kandidujeme a proč chceme b&yacute;t na radnici</p>\r\n<p style=\"text-align:
    justify;\">Strana svobodn&yacute;ch občanů do komun&aacute;ln&iacute;ch voleb
    v &Scaron;umperku vstupuje zcela premi&eacute;rově. Na rozd&iacute;l od tradičn&iacute;ch
    politick&yacute;ch matadorů jsme v&nbsp;m&iacute;stn&iacute; politice je&scaron;tě
    nikdy nebyli a na projektech, kter&eacute; jsou nyněj&scaron;&iacute;m zastupitelstvem
    ře&scaron;eny, jsme se nepod&iacute;leli. Uzn&aacute;v&aacute;me, že současn&eacute;
    veden&iacute; města nezadlužovalo městsk&yacute; rozpočet a město pod jejich veden&iacute;m
    vzkv&eacute;talo. Současně jsme v&scaron;ak přesvědčeni, že n&aacute;&scaron;
    &uacute;hel pohledu na ře&scaron;en&iacute; ot&aacute;zek, kter&eacute; budou
    v&nbsp;př&iacute;&scaron;t&iacute;m volebn&iacute;m obdob&iacute; nastoleny, může
    do ře&scaron;en&iacute; z&aacute;ležitost&iacute; města vn&eacute;st spoustu svěž&iacute;ch
    n&aacute;vrhů a ře&scaron;en&iacute;, kter&aacute; budou v&scaron;em občanům ku
    prospěchu.</p>\r\n<p style=\"text-align: justify;\">&Uacute;zemn&iacute; pl&aacute;n
    města &Scaron;umperk je schv&aacute;len&yacute;, spousta akc&iacute; a programů
    je v&nbsp;běhu a my chceme na tyto existuj&iacute;c&iacute; a rozjet&eacute; projekty
    nav&aacute;zat a na&scaron;imi n&aacute;vrhy a my&scaron;lenkami je, pokud to
    bude možn&eacute;, je&scaron;tě vylep&scaron;ovat. Nehodl&aacute;me nic st&aacute;vaj&iacute;c&iacute;ho
    bezmy&scaron;lenkovitě bořit ani okamžitě ru&scaron;it jen kvůli tomu, že to nejsou
    na&scaron;e n&aacute;vrhy a n&aacute;pady. Chceme s každ&yacute;m pro město pozitivně
    pracuj&iacute;c&iacute;m politick&yacute;m subjektem spolupracovat.</p>\r\n<p
    style=\"text-align: justify;\">Na rozd&iacute;l od kandiduj&iacute;c&iacute;ch
    stran a nez&aacute;visl&yacute;ch uskupen&iacute;, kter&aacute; ře&scaron;&iacute;
    předev&scaron;&iacute;m co pro občany města postav&iacute;, zajist&iacute;, či
    vylep&scaron;&iacute;, chceme &nbsp;prim&aacute;rně ře&scaron;it ot&aacute;zku
    nov&yacute;ch zdrojů financ&iacute; pro město a na druh&eacute; straně i &scaron;etřen&iacute;
    někter&yacute;ch v&yacute;dajů pro jeho občany a to pro v&scaron;echny věkov&eacute;
    i soci&aacute;ln&iacute; skupiny. Podař&iacute;-li se navy&scaron;ovat př&iacute;jmy,
    bude i dostatek prostředků pro financov&aacute;n&iacute; programů, kter&eacute;
    jsou pro město potřebn&eacute;, zlep&scaron;uj&iacute; jeho vzhled, zvy&scaron;uj&iacute;
    jeho prestiž, pom&aacute;haj&iacute; potřebn&yacute;m spoluobčanům, av&scaron;ak
    jsou z&aacute;roveň nev&yacute;dělečn&eacute;. Zlep&scaron;ovat a zkvalitňovat
    život v&nbsp;&Scaron;umperku chceme samozřejmě tak&eacute;, na prvn&iacute; m&iacute;sto
    na&scaron;eho volebn&iacute;ho programu v&scaron;ak stav&iacute;me podporu v&yacute;dělečn&yacute;ch
    podnikatelsk&yacute;ch aktivit velk&yacute;ch i mal&yacute;ch firem a živnostn&iacute;ků,
    ze kter&yacute;ch pak městu poplynou dal&scaron;&iacute; zdroje financ&iacute;
    pro slibovan&eacute; nov&eacute; stavby, modernizace, rekonstrukce, podporu soci&aacute;ln&iacute;ch
    programů, kultury, sportu, &scaron;kolsk&yacute;ch zař&iacute;zen&iacute;, atp.</p>\r\n<p
    style=\"text-align: justify;\">Jsme si vědomi toho, že pokud budeme zvoleni, nemůžeme
    sv&eacute; posty a vůbec cel&eacute; město pokl&aacute;dat za svou politickou
    kořist, n&yacute;brž, že jsme byli zvoleni proto, abychom na &uacute;rovni spr&aacute;vy
    věc&iacute; veřejn&yacute;ch koordinovali činnosti jež občan&eacute; jako jednotlivci
    dělat nemohou, na druh&eacute; straně se v&scaron;ak budeme snažit občany do spolupr&aacute;ce
    na děn&iacute; ve městě vt&aacute;hnout a přimět je ke společn&eacute; pr&aacute;ci
    ku prospěchu a rozvoji města.</p>\r\n<p style=\"text-align: justify;\">&nbsp;</p>\r\n<p
    style=\"text-align: justify;\">Volebn&iacute; program</p>\r\n<p style=\"text-align:
    justify;\">1.&nbsp;Rozvoj města budeme&nbsp;cht&iacute;t zabezpečit hlavně&nbsp;podporou
    v&scaron;ech m&iacute;stn&iacute;ch&nbsp;občanů a firem, kter&eacute; budou schopny
    rozv&iacute;jet na jeho &uacute;zem&iacute; ziskov&eacute; v&yacute;robn&iacute;
    činnosti a ziskov&eacute; služby, a t&iacute;m naplňovat městskou pokladnu.</p>\r\n<ul
    style=\"text-align: justify;\">\r\n<li style=\"text-align: justify;\">pro mlad&eacute;
    lidi, kteř&iacute; již z&iacute;skali vzděl&aacute;n&iacute; a pro nedostatek
    př&iacute;ležitost&iacute;, omezen&iacute; dan&eacute; polohou města, dopravn&iacute;
    dostupnost&iacute; atp. opou&scaron;těj&iacute; město natrvalo, vytv&aacute;řet
    podm&iacute;nky, aby zde zůst&aacute;vali, zakl&aacute;dali živnosti, firmy,&nbsp;budovali
    zde rodiny a trval&eacute; bydlen&iacute;. V&scaron;e se městu a jeho občanům
    vr&aacute;t&iacute; jak na dan&iacute;ch z jejich činnost&iacute;, zv&yacute;&scaron;en&iacute;
    koupěschopnosti obyvatel, zv&yacute;&scaron;en&iacute; prestiže města, vytvořen&iacute;
    nov&yacute;ch pracovn&iacute;ch pozic, kter&eacute; v jejich živnostech a firm&aacute;ch
    vzniknou.&nbsp;Budeme prosazovat, aby město těmto lidem&nbsp;a firm&aacute;m poskytovalo
    ve sv&yacute;ch objektech a vznikne-li, tak v průmyslov&eacute; z&oacute;ně,&nbsp;možnost
    časově omezen&yacute;ch&nbsp;startovac&iacute;ch pron&aacute;jmů a vr&aacute;cen&iacute;
    č&aacute;sti daňov&eacute;ho v&yacute;nosu z jejich ziskov&eacute; (pouze ziskov&eacute;,
    nebude-li generov&aacute;n zisk nebude ani co vracet)&nbsp;činnosti, opět&nbsp;po
    určit&eacute; časově omezen&eacute; obdob&iacute;.&nbsp;<br /><br /></li>\r\n<li
    style=\"text-align: justify;\">pro v&yacute;běrov&aacute; ř&iacute;zen&iacute;
    na veřejn&eacute;&nbsp;městsk&eacute; zak&aacute;zky použ&iacute;vat elektronick&eacute;
    aukce a zveřejňovat v elektronick&eacute; podobě v&scaron;echnu dokumentaci k
    nim.<br /><br /></li>\r\n<li style=\"text-align: justify;\">bude-li to možn&eacute;,
    pak městsk&eacute; zak&aacute;zky zad&aacute;vat tak, aby byly v&yacute;hodn&eacute;
    pro firmy, kter&eacute; zaměstn&aacute;vaj&iacute; zdej&scaron;&iacute; pracovn&iacute;ky
    a kter&eacute; na takov&yacute;ch zak&aacute;zk&aacute;ch př&iacute;padně zaměstnaj&iacute;
    lidi evidovan&eacute; na &Uacute;P &Scaron;umperk.<br /><br /></li>\r\n<li>chceme
    prosadit, aby na &uacute;držbu a drobn&eacute;&nbsp;opravy městsk&eacute;ho majetku
    byly zad&aacute;v&aacute;ny veřejn&eacute; zak&aacute;zky tak, aby pro vybran&eacute;&nbsp;firmy,
    či vybran&eacute; živnostn&iacute;ky&nbsp;bylo v&yacute;hodn&eacute; zaměstnat
    nezaměstnan&eacute; z &Uacute;P &Scaron;umperk. Budeme prosazovat, aby město zad&aacute;valo
    veřejn&eacute; zak&aacute;zky i na pravideln&eacute; či&scaron;těn&iacute; v&scaron;ech
    ploch v&nbsp;majetku města od v&scaron;ech odpadků, &uacute;držbu chodn&iacute;ků,
    drobn&eacute; opravy, odstraňov&aacute;n&iacute; posprejovan&yacute;ch zd&iacute;,
    atp. Firmy nebo živnosti ať již existuj&iacute;c&iacute; či nově vznikl&eacute;,
    kter&eacute; by pro tyto pr&aacute;ce zaměstnaly nezaměstnan&eacute; z &Uacute;P
    &Scaron;umperk opět motivovat vr&aacute;cen&iacute;m č&aacute;st&iacute; daňov&eacute;ho
    v&yacute;nosu z&nbsp;jejich činnosti.</li>\r\n</ul>\r\n<p style=\"text-align:
    justify;\">&nbsp;</p>\r\n<p style=\"text-align: justify;\">2.&nbsp;Podporovat
    budeme vždy jen přebytkov&yacute; nebo alespoň&nbsp;vyrovnan&yacute;&nbsp;rozpočet
    města. Nebudeme podporovat projekty, kter&eacute; občanům města nepřinesou zjevn&yacute;
    užitek a přitom by bylo třeba jejich stavbu zaji&scaron;ťovat &uacute;věrem. Stejně
    se postav&iacute;me i k&nbsp;projektům, kter&eacute; budou očividně nev&yacute;dělečn&eacute;
    a jejichž provozn&iacute; n&aacute;klady by trvale silně zatěžovaly rozpočet města.</p>\r\n<p
    style=\"text-align: justify;\">&nbsp;</p>\r\n<p style=\"text-align: justify;\">3.
    Budeme se snažit prosazovat omezen&iacute; poplatků v&scaron;ech typů, kter&eacute;
    jsou pro město&nbsp;minim&aacute;lně v&yacute;nosn&eacute; a z&aacute;roveň&nbsp;zbytečně
    zatěžuj&iacute; občany. Ať pen&iacute;ze raději&nbsp;zůstanou u občanů, kteř&iacute;
    je jistě využij&iacute; podle sv&eacute; svobodn&eacute; volby a určitě&nbsp;ke
    sv&eacute;mu prospěchu.</p>\r\n<ul>\r\n<li>chceme prosadit n&aacute;vrh občanům
    města, aby zv&yacute;&scaron;ili &uacute;sil&iacute; ve tř&iacute;děn&iacute;
    využiteln&yacute;ch odpadů, zv&yacute;&scaron;&iacute;-li se městu př&iacute;jem
    za jejich prodej a bude-li to fungovat, pak jako kompenzac&iacute; za vyvinut&eacute;
    &uacute;sil&iacute; budeme prosazovat sn&iacute;žen&iacute; poplatků za svoz komun&aacute;ln&iacute;ho
    odpadu. Pokud tato &nbsp;dohoda s občany bude m&iacute;t trvale se lep&scaron;&iacute;c&iacute;
    v&yacute;sledky, budeme prosazovat, aby se&nbsp;ve snižov&aacute;n&iacute; poplatků
    pokračovalo až do jejich &uacute;pln&eacute;ho zru&scaron;en&iacute;. To je prvn&iacute;
    př&iacute;klad, jak bychom chtěli vt&aacute;hnout občany do p&eacute;če o sv&eacute;
    město.<br /><br /></li>\r\n<li>Chceme se zasadit o prověřen&iacute; v&yacute;nosnosti
    spr&aacute;vn&iacute;ch poplatků, kter&eacute; město vyb&iacute;r&aacute; a pokud
    bude jejich poměr k&nbsp;n&aacute;kladům na jejich v&yacute;běr minim&aacute;ln&iacute;,
    budeme prosazovat jejich zru&scaron;en&iacute;. U&scaron;etř&iacute;me t&iacute;m
    opět pen&iacute;ze občanům a pokud př&iacute;jem z v&yacute;běru a n&aacute;klady
    na něj budou stejn&eacute;, ani městsk&aacute; pokladna neutrp&iacute; ztr&aacute;tu.<br
    /><br /></li>\r\n<li>Placen&eacute; parkov&aacute;n&iacute; v centru města (parkovac&iacute;
    automaty) budeme cht&iacute;t&nbsp;nahradit parkov&aacute;n&iacute;m s časov&yacute;m
    omezen&iacute;m (např. pap&iacute;rov&eacute; parkovac&iacute; hodiny za sklem
    auta), aby bylo možn&eacute; v centru&nbsp;pohodlně zaparkovat kvůli n&aacute;kupům,
    vyřizov&aacute;n&iacute; jedn&aacute;n&iacute; na &uacute;řadech, ve firm&aacute;ch
    atp. Toto opatřen&iacute; občanům opět u&scaron;etř&iacute; celkem zbytečn&yacute;
    v&yacute;daj, přivede v&iacute;ce lid&iacute; do centra, t&iacute;m i v&iacute;ce
    z&aacute;kazn&iacute;ků obchodn&iacute;kům v&nbsp;centru města.</li>\r\n</ul>\r\n<p
    style=\"text-align: justify;\">&nbsp;</p>\r\n<p style=\"text-align: justify;\">4.
    Zviditelněn&iacute; a propagaci města navenek budeme prosazovat&nbsp;sp&iacute;&scaron;e
    než přes ti&scaron;těn&eacute; brožury, let&aacute;ky a různ&eacute; propagačn&iacute;
    materi&aacute;ly &nbsp;raději&nbsp;přes podporu instituc&iacute; a&nbsp;osobnost&iacute;,
    kter&eacute; město reprezentuj&iacute; v oblastech kultury, sportu a&nbsp;podnik&aacute;n&iacute;.
    Jejich aktivity a v&yacute;sledky jsou viditeln&eacute; a podle na&scaron;eho
    n&aacute;zoru pro město užitečněj&scaron;&iacute; než poti&scaron;těn&yacute;
    pap&iacute;r. Dotace a granty přidělovat pouze jednotlivcům a&nbsp;organizac&iacute;m,
    kter&eacute; maj&iacute; na zviditelněn&iacute; města pozitivn&iacute; vliv a
    vykazuj&iacute; pro město jednoznačně pozitivn&iacute; v&yacute;sledky.</p>\r\n<ul>\r\n<li><span
    style=\"line-height: 1.5em;\">k atributům dobr&eacute;ho&nbsp;města patř&iacute;
    divadlo s vlastn&iacute;m souborem a reperto&aacute;rem, podpora men&scaron;inov&yacute;ch
    kulturn&iacute;ch ž&aacute;nrů, festivalů i jednotliv&yacute;ch představen&iacute;.&nbsp;Tyto
    činnosti budeme podporovat, zkvalitňuj&iacute; život ve městě a zvy&scaron;uj&iacute;
    jeho prestiž.<br /><br /></span></li>\r\n<li style=\"text-align: justify;\">k
    atributům dobr&eacute;ho města patř&iacute; veřejnost&iacute; obl&iacute;ben&eacute;
    kluby kolektivn&iacute;ch sportů, ale i z pohledu veřejnosti&nbsp;men&scaron;inov&eacute;&nbsp;sporty,
    hlavně ty specifick&eacute;, zimn&iacute;,&nbsp;patř&iacute;c&iacute; do horsk&eacute;
    oblasti, kterou Jesen&iacute;ky&nbsp;jsou. Najdeme-li dostatek aktivn&iacute;ch&nbsp;lyžařů,
    běžců klasiků, budeme preferovat podporu tohoto sportu, kter&yacute; nejen, že
    zv&yacute;&scaron;&iacute; prestiž města \"br&aacute;ny Jesen&iacute;ků\", ale
    &nbsp;přivede i &nbsp;dal&scaron;&iacute; lyžaře, což nutně mus&iacute; podpořit
    rozvoj služeb s t&iacute;m spojen&yacute;ch a vznik nov&yacute;ch pracovn&iacute;ch&nbsp;pozic.</li>\r\n</ul>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
