---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p>&nbsp;1)</p>\r\n<ul>\r\n<li>Klademe si za čest, že na&scaron;i
    zvolen&iacute; z&aacute;stupci budou ve&scaron;ker&eacute; funkce na jak&eacute;koliv
    &uacute;rovni prov&aacute;dět ve prospěch občanů Jesen&iacute;ku bez&uacute;platně.
    Takto uvolněn&eacute; nemal&eacute; prostředky budou nasměrov&aacute;ny na smyslupln&eacute;
    projekty s&nbsp;přednost&iacute; vzděl&aacute;v&aacute;n&iacute; dět&iacute; na&scaron;eho
    města.</li>\r\n</ul>\r\n<ul>\r\n<li>N&aacute;m svěřen&eacute; městsk&eacute; pen&iacute;ze
    budou kolovat v&nbsp;přebytkov&eacute;m, max. vyrovnan&eacute;m rozpočtu. Pokud
    bude nutn&eacute; z&nbsp;jak&eacute;hokoliv důvodu (s&nbsp;v&yacute;jimkou živeln&eacute;
    katastrofy) s&aacute;hnout k&nbsp;deficitu, okamžitě vyhl&aacute;s&iacute;me městsk&eacute;
    referendum.</li>\r\n<li>Institutu městsk&eacute;ho referenda použijeme vždy při
    z&aacute;sadn&iacute;ch investičn&iacute;ch akc&iacute;ch, kter&eacute; budou
    m&iacute;t dopad na život v&scaron;ech občanů Jesen&iacute;ku či Jesenicka.</li>\r\n<li>Sn&iacute;ž&iacute;me
    n&aacute;klady na činnost &uacute;řadu, usměvav&iacute; &uacute;ředn&iacute;ci
    budou vstř&iacute;cn&iacute; k&nbsp;občanům, abychom se i na ulic&iacute;ch potk&aacute;vali
    i zdravili s&nbsp;&uacute;směvem.</li>\r\n</ul>\r\n<p>&nbsp;2)</p>\r\n<ul>\r\n<li>Město
    Jesen&iacute;k nebude podnikat, to ponech&aacute; občanům, ov&scaron;em se bude
    přednostně starat o čistotu a poř&aacute;dek, chodn&iacute;ky a městsk&eacute;
    komunikace, městskou a parkovou zeleň a květinovou v&yacute;zdobu.</li>\r\n<li>Ve&scaron;ker&eacute;
    smluvn&iacute; vztahy města budou zveřejněny.</li>\r\n<li>Prioritou je podpora
    svobodn&eacute;ho občana a jeho podnik&aacute;n&iacute;, ve&scaron;ker&eacute;
    spr&aacute;vn&iacute; a &uacute;ředn&iacute; &uacute;kony budou promptně a s&nbsp;&uacute;směvem
    vyřizov&aacute;ny v&nbsp;jeho prospěch. Po těch 25-ti letech jsme snad v&scaron;ichni
    pochopili, že ž&aacute;dn&yacute; politik se sliby pron&aacute;&scaron;en&yacute;mi
    sebel&iacute;bezněj&scaron;&iacute;m hlasem nikomu ž&aacute;dnou pr&aacute;ci
    ned&aacute;.&nbsp; A proto v&nbsp;př&iacute;padě n&aacute;m svěřen&yacute;ch Va&scaron;ich
    hlasů a důvěry budeme systematicky a důsledně tlačit na st&aacute;tn&iacute; a
    vy&scaron;&scaron;&iacute; samospr&aacute;vn&eacute; org&aacute;ny, aby programy
    podnik&aacute;n&iacute; &scaron;ly za konkr&eacute;tn&iacute;mi podnikateli, obzvl&aacute;&scaron;tě
    v&nbsp;na&scaron;em handicapovan&eacute;m regionu, a to i formou daňov&yacute;ch
    &uacute;lev.</li>\r\n</ul>\r\n<p>&nbsp;3)</p>\r\n<ul>\r\n<li>Symbi&oacute;za na&scaron;eho
    města a l&aacute;zn&iacute; je zcela přirozen&aacute;, zajist&iacute;me je&scaron;tě
    už&scaron;&iacute; spolupr&aacute;ci ve v&scaron;ech možn&yacute;ch směrech.</li>\r\n<li>Považujeme
    zcela za zbytečn&eacute; polemiky o tom, kolik m&aacute; či nem&aacute; Jesen&iacute;k
    slunečn&yacute;ch dnů. Konečně vybudujeme pro občany a předev&scaron;&iacute;m
    jejich děti modern&iacute; letn&iacute; koupali&scaron;tě, aby jako my mohli za
    přijateln&eacute; vstupn&eacute; tr&aacute;vit hlavně pr&aacute;zdniny. Ve spolupr&aacute;ci
    s&nbsp;Českou Vs&iacute; a cel&yacute;m regionem zabezpeč&iacute;me rekonstrukci
    kryt&eacute;ho baz&eacute;nu takt&eacute;ž ve prospěch plaveck&yacute;ch kurzů
    na&scaron;ich dět&iacute;, plav&aacute;n&iacute; miluj&iacute;c&iacute;ch občanů
    a turistů. Vyzveme minul&eacute; funkcion&aacute;ře města, kteř&iacute; se aktivně
    pod&iacute;leli na zmařen&iacute; mnoha mili&oacute;nů na&scaron;eho města při
    prosazov&aacute;n&iacute; nesmysln&yacute;ch projektů Akvaparků, aby se přihl&aacute;sili
    ke svoj&iacute; osobn&iacute; odpovědnosti.</li>\r\n<li>Bez dotac&iacute; se v&nbsp;dne&scaron;n&iacute;
    době neobejdeme, zabezpeč&iacute;me jejich maxim&aacute;ln&iacute; využit&iacute;
    ve prospěch &scaron;kol, kultury, sportu a volnočasov&yacute;ch aktivit s&nbsp;důrazem
    na dlouhodobou udržitelnost.</li>\r\n</ul>\r\n<p>&nbsp;4)</p>\r\n<ul>\r\n<li>Navr&aacute;t&iacute;me
    prestiž učitelsk&eacute;mu stavu.</li>\r\n<li>Velmi &uacute;zkou spoluprac&iacute;
    s&nbsp;řediteli v&scaron;ech typů &scaron;kol budeme sledovat mimoř&aacute;dn&eacute;
    v&yacute;sledky učitelů a jejich ž&aacute;ků např. v&nbsp;oblasti matematiky,
    př&iacute;rodn&iacute;ch věd, liter&aacute;rn&iacute;ch a jazykov&yacute;ch oborů,
    uměn&iacute;, sportu apod. Z&nbsp;u&scaron;etřen&yacute;ch přev&aacute;žně mzdov&yacute;ch
    prostředků radnice obdrž&iacute; konkr&eacute;tn&iacute; oceněn&iacute; učitel&eacute;,
    např. poukazy na zahraničn&iacute; dovolenou.</li>\r\n<li>Budeme podporovat syst&eacute;m
    vzděl&aacute;v&aacute;n&iacute; na&scaron;ich dět&iacute;, nepřipust&iacute;me
    předimenzovan&yacute; počet dět&iacute; ve tř&iacute;d&aacute;ch z&aacute;kladn&iacute;ch
    &scaron;kol.</li>\r\n<li>Je&scaron;tě už&scaron;&iacute; spoluprac&iacute; podpoř&iacute;me
    ZU&Scaron; s&nbsp;jej&iacute; skvělou tradic&iacute;.</li>\r\n<li>Podporu mateřsk&yacute;ch
    &scaron;kolek a dětsk&yacute;ch hři&scaron;ť považujeme za samozřejmost.</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;5)</p>\r\n<ul>\r\n<li>Do
    nutn&eacute; infrastruktury nejen na&scaron;eho města patř&iacute; i zdravotn&iacute;
    služby. Intenzivn&iacute;m jedn&aacute;n&iacute;m s&nbsp;kompetentn&iacute;mi
    org&aacute;ny st&aacute;tu a kraje po dlouh&eacute; době navr&aacute;t&iacute;me
    nemocnici v&nbsp;Jesen&iacute;ku do rovnopr&aacute;vn&eacute;ho prostřed&iacute;
    syst&eacute;mu česk&eacute;ho zdravotnictv&iacute; v&nbsp;souladu s&nbsp;evropskou
    legislativou.</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p>Předkl&aacute;d&aacute;me zde
    souhrn důležit&yacute;ch bodů k&nbsp;životu v&nbsp;na&scaron;em městě, jistě ne
    zcela vyčerp&aacute;vaj&iacute;c&iacute;, nechceme V&aacute;s v&scaron;ak zatěžovat
    dlouh&yacute;m čten&iacute;m. Věř&iacute;me v&scaron;ak, že z&nbsp;předložen&eacute;ho
    jsou jasn&eacute; politick&eacute; a životn&iacute; postoje na&scaron;ich kandid&aacute;tů,
    kteř&iacute; jsou připraveni nezi&scaron;tně sloužit ve prospěch svobodn&eacute;ho
    občana Jesen&iacute;ku. T&iacute;mto se uch&aacute;z&iacute;me o Va&scaron;e hlasy,
    osobně, na web str&aacute;nk&aacute;ch či p&iacute;semně jsme připraveni s&nbsp;V&aacute;mi
    diskutovat nejen o probl&eacute;mech města.</p>\r\n<p>&nbsp;</p>\r\n<p align=\"center\"><strong>&nbsp;</strong></p>\r\n<p
    align=\"center\"><strong>&nbsp;</strong></p>\r\n<p align=\"center\"><strong>Pokusme
    se společně přispět k&nbsp;životu ve skutečně svobodn&eacute;m světě, ž&iacute;t
    jako svobodn&iacute; občan&eacute;.</strong></p>\r\n<p align=\"center\"><strong>Nen&iacute;
    to jednoduch&eacute;</strong></p>\r\n<p>&nbsp;</p>\r\n<p>Za Svobodn&eacute;</p>\r\n<p>&nbsp;</p>\r\n<p>Jan
    Jedlička</p>\r\n<p>kandid&aacute;t na starostu Města Jesen&iacute;k</p>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<p>V&nbsp;Jesen&iacute;ku,
    dne 17.6.2014</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
