---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p>Dostaneme-li Va&scaron;i důvěru, nikdy nepodpoř&iacute;me
    ž&aacute;dn&yacute; n&aacute;vrh, kter&yacute; by vedl k dal&scaron;&iacute;mu
    zadlužov&aacute;n&iacute; děč&iacute;nsk&yacute;ch veřejn&yacute;ch rozpočtů.</p>\r\n<p>Uvědomujeme
    si, že zde existuje z&aacute;těž z minulosti spojen&aacute; s nutnost&iacute;
    financovat někter&aacute; zař&iacute;zen&iacute;, kter&aacute; si na svůj provoz
    sama nevydělaj&iacute;. Svobodn&iacute; v&scaron;ak vych&aacute;zej&iacute; z
    předpokladu, že prioritně maj&iacute; b&yacute;t pen&iacute;ze z&iacute;sk&aacute;van&eacute;
    z dan&iacute; děč&iacute;nsk&yacute;ch občanů vynakl&aacute;d&aacute;ny na takov&eacute;
    projekty, kter&eacute; budou sloužit ku prospěchu co největ&scaron;&iacute;ho
    počtu obyvatel a nikoli jednotliv&yacute;m z&aacute;jmov&yacute;m skupin&aacute;m.
    Za takov&eacute; projekty pokl&aacute;d&aacute;me předev&scaron;&iacute;m ty,
    jež jsou zaměřeny na budov&aacute;n&iacute; a rekonstruov&aacute;n&iacute; městsk&eacute;
    infrastruktury.</p>\r\n<p>Prioritou Svobodn&yacute;ch je ov&scaron;em tak&eacute;
    nechat co nejv&iacute;ce peněz v kaps&aacute;ch těch, kteř&iacute; je vyděl&aacute;vaj&iacute;.
    Budeme se proto snažit ru&scaron;it co nejv&iacute;ce poplatků a dan&iacute;,
    kter&eacute; jsou v pravomoci města.</p>\r\n<p>Dal&scaron;&iacute; na&scaron;&iacute;
    prioritou je zv&yacute;&scaron;en&iacute; pod&iacute;lu př&iacute;m&eacute; demokracie
    na rozhodov&aacute;n&iacute; o městsk&yacute;ch z&aacute;ležitostech. Budeme prosazovat
    možnost změnit takov&eacute; rozhodnut&iacute; org&aacute;nů města, kter&eacute;
    bude odm&iacute;tat přev&aacute;žn&aacute; č&aacute;st obyvatel - prostřednictv&iacute;m
    lidov&eacute;ho veta, kter&eacute; se tak dobře osvědčilo např. ve &scaron;v&yacute;carsk&yacute;ch
    městech.</p>\r\n<h2>Hospodařen&iacute; města</h2>\r\n<p>Město by mělo prostředky
    z&iacute;skan&eacute; od daňov&yacute;ch poplatn&iacute;ků vynakl&aacute;dat prim&aacute;rně
    na veřejn&eacute; statky. Svobodn&iacute; ch&aacute;pou veřejn&yacute;mi statky:</p>\r\n<ul>\r\n<li>\r\n<p>Dopravn&iacute;
    komunikace(včetně chodn&iacute;ků) a bezpečnost občanů</p>\r\n</li>\r\n<li>\r\n<p>Zabezpečen&iacute;
    domovů pro seniory, z&aacute;kladn&iacute;ho a středn&iacute;ho &scaron;kolstv&iacute;
    a &scaron;kolek</p>\r\n</li>\r\n<li>\r\n<p>Zabezpečen&iacute; čistoty a poř&aacute;dku
    (komun&aacute;ln&iacute; odpad)</p>\r\n</li>\r\n<li>\r\n<p>Nemovitosti v majetku
    města, kter&yacute;ch m&aacute; ov&scaron;em b&yacute;t jen nejnutněj&scaron;&iacute;
    minimum</p>\r\n</li>\r\n</ul>\r\n<h2>Rozpočet města</h2>\r\n<p>Děč&iacute;n je
    v současn&eacute; době velmi zat&iacute;žen spolufinancov&aacute;n&iacute;m projektů
    z fondů EU. Svobodn&iacute; nikdy nebudou souhlasit s dal&scaron;&iacute;m zadlužen&iacute;m
    města.</p>\r\n<p>N&aacute;klady na obhospodařov&aacute;n&iacute; dluhu letos dosahuj&iacute;
    v&yacute;&scaron;e prostředků vybran&yacute;ch od občanů na svoz odpadu. Nav&iacute;c
    provoz vět&scaron;iny realizovan&yacute;ch projektůvybudovan&yacute;ch za tyto
    dotace představuje dal&scaron;&iacute; dlouhodobou z&aacute;těž pro městsk&yacute;
    rozpočet(např. knihovna 14 mil. za rok 2014).</p>\r\n<p>Svobodn&iacute; se budou
    snažit nechat maximum prostředků občanům města tak, aby je sami mohli utratit
    tam, kde uznaj&iacute; za vhodn&eacute;. Jen tak je možn&eacute; omezit rozhodovac&iacute;
    pravomoci městsk&yacute;ch zastupitelů a &uacute;ředn&iacute;ků a nahradit je
    rozhodov&aacute;n&iacute;m jednotliv&yacute;ch lid&iacute;. Proto usilujeme o
    sn&iacute;žen&iacute; v&scaron;ech možn&yacute;ch poplatků a dan&iacute;, kter&eacute;
    jsou v pravomoci města.Chyst&aacute;me se rovněž důkladně prověřit &uacute;čelnost
    prostředků vynakl&aacute;dan&yacute;ch na chod veřejn&eacute; spr&aacute;vy.</p>\r\n<h2>Zabezpečen&iacute;
    čistoty a poř&aacute;dku</h2>\r\n<p>P&eacute;če o veřejn&eacute; prostranstv&iacute;
    je jedn&iacute;m z důležit&yacute;ch &uacute;kolů, kter&eacute; by měla spr&aacute;va
    města zabezpečit.</p>\r\n<p>Svobodn&iacute; nikdy nebudou hlasovat pro investičn&iacute;
    akce typu \"liniov&aacute; zeleň\", kdy m&iacute;sto opravy chodn&iacute;ků je
    investov&aacute;no do květin&aacute;čů. Nav&iacute;c každ&yacute; takov&yacute;to
    projekt znamen&aacute; dal&scaron;&iacute; budouc&iacute; v&yacute;daje z městsk&eacute;ho
    rozpočtu (&uacute;držba zeleně, zal&eacute;v&aacute;n&iacute;) a t&iacute;m i
    z&aacute;vazek do budoucna.</p>\r\n<p>Do kontroly čistoty města by se měli aktivněji
    zapojit str&aacute;žn&iacute;ci městsk&eacute; policie, kteř&iacute; by měli monitorovat
    čistotu oblasti, ve kter&eacute; hl&iacute;dkuj&iacute; a oznamovat problematick&aacute;
    m&iacute;sta tak, aby bylo možno zajistit n&aacute;pravu stavu.</p>\r\n<h2>Bezpečnost</h2>\r\n<p>Zasad&iacute;me
    se, aby městsk&aacute; policie v&iacute;ce dohl&iacute;žela na klid a dodržov&aacute;n&iacute;
    slu&scaron;n&eacute;ho soužit&iacute;, než na dopravn&iacute; problematiku. Sn&iacute;žen&iacute;m
    m&iacute;st s placen&yacute;m parkov&aacute;n&iacute;m hodl&aacute;me sn&iacute;žit
    potřebu dohl&iacute;žet na jeho placen&iacute; a umožnit tak častěj&scaron;&iacute;
    př&iacute;tomnost str&aacute;žn&iacute;ků v ulic&iacute;ch města.</p>\r\n<p>N&aacute;pln&iacute;
    pr&aacute;ce str&aacute;žn&iacute;ků by měla b&yacute;t i př&iacute;tomnost na
    &uacute;řadech, kde doch&aacute;z&iacute; ke konfliktům &uacute;ředn&iacute;ků
    s občany, tak, aby &uacute;ředn&iacute;ci nebyli verb&aacute;ln&iacute;m &uacute;tokem
    nuceni k &uacute;stupkům.</p>\r\n<h2>Kultura a sport</h2>\r\n<p>Přestože jsou
    Svobodn&iacute; přesvědčeni, že kultura a sport nepatř&iacute; mezi veřejn&eacute;
    statky a město by nemělo na jejich podporu vynakl&aacute;dat prostředky daňov&yacute;ch
    poplatn&iacute;ků, nechtěj&iacute; přispět k vypjat&yacute;m situac&iacute;m a
    budou se vždy snažit, aby snižov&aacute;n&iacute; dotac&iacute; bylo postupn&eacute;
    a dopředu avizovan&eacute;. Tak, aby nedo&scaron;lo ke zbytečn&eacute; likvidaci
    nějak&eacute;ho spolku jen proto, že mu nebude d&aacute;n čas na zaji&scaron;těn&iacute;
    si jin&eacute;ho způsobu financov&aacute;n&iacute;.</p>\r\n<p>Svobodn&iacute;
    nevěř&iacute;, že omezen&iacute;m či dokonce zru&scaron;en&iacute;m dotac&iacute;
    do sportu nebo kultury se z občanů Děč&iacute;na stanou nekulturn&iacute; nesportovci.
    N&aacute;v&scaron;těvnost divadla i sportovn&iacute;ch akc&iacute; dokazuje, že
    lid&eacute; maj&iacute; o tyto aktivity z&aacute;jem a r&aacute;di si zaplat&iacute;
    za to, co chtěj&iacute;. Svobodn&iacute; budou prosazovat sn&iacute;žen&iacute;
    dotac&iacute; tak, aby u&scaron;etřen&eacute; prostředky zůstali občanům - aby
    si sami rozhodli, jestli si zaplat&iacute; divadlo nebo např. basketbalov&eacute;
    utk&aacute;n&iacute;.</p>\r\n<p>Do doby než bude možn&eacute; dotace zru&scaron;it,
    budou Svobodn&iacute; při rozdělov&aacute;n&iacute; peněžn&iacute;ch prostředků
    mezi žadatele (soukrom&eacute; i obc&iacute; zřizovan&eacute; organizace) prosazovat
    rovn&yacute; př&iacute;stup na z&aacute;kladě volby samotn&yacute;ch občanů. Lze
    to prov&eacute;st např&iacute;klad formou voucherů (pouk&aacute;zek) udělovan&yacute;ch
    občanům. Podle z&iacute;skan&yacute;ch voucherů budou pot&eacute; pen&iacute;ze
    občanů poskytnuty žadatelům.&nbsp;<span>T&iacute;mto způsobem bude v&iacute;ce
    z&aacute;ležet na schopnostech organizac&iacute; a jejich veden&iacute; poskytnout
    občanům kulturn&iacute; či sportovn&iacute; služby nam&iacute;sto toho, aby o
    využit&iacute; financ&iacute; na kulturu a sport rozhodovali &nbsp;dosazen&iacute;
    př&aacute;tel&eacute; radnice či samotn&iacute; politici (kde jde vyloženě o střet
    z&aacute;jmů).</span></p>\r\n<h2>Doprava</h2>\r\n<p>R&aacute;di bychom umožnili
    vznik konkurence v městsk&eacute; hromadn&eacute; dopravě. Dle na&scaron;eho n&aacute;zoru
    patř&iacute; spravedliv&aacute; soutěž i do t&eacute;to oblasti. V praxi to bude
    znamenat, že soukrom&iacute; dopravci budou moci využ&iacute;vat zast&aacute;vky
    a odbavovac&iacute; syst&eacute;m MHD. Mohli by tak konkurovat DPMD a.s.</p>\r\n<p>Svobodn&iacute;
    budou br&aacute;nit snah&aacute;m o tzv. \"privatizaci\" DPMD a.s, kterou se obvykle
    pouze mysl&iacute; převeden&iacute; rozhodovac&iacute;ch a vlastnick&yacute;ch
    pr&aacute;v z města na soukrom&yacute; subjekt. V&yacute;sledkem takov&eacute;to
    \"privatizace\" nen&iacute; vznik konkurenčn&iacute;ho prostřed&iacute;, ale jen
    vyveden&iacute; peněz daňov&yacute;ch poplatn&iacute;ků z vlivu volen&yacute;ch
    z&aacute;stupců. Smysl m&aacute; pouze takov&aacute; privatizace, při kter&eacute;
    vznikne rovn&eacute; konkurenčn&iacute; prostřed&iacute; bez zv&yacute;hodněn&iacute;
    někter&eacute; strany a jen pro takovou privatizaci by Svobodn&iacute; hlasovali.</p>\r\n<h3>Parkov&aacute;n&iacute;</h3>\r\n<p>Budeme
    usilovat o zru&scaron;en&iacute; z&oacute;n placen&eacute;ho parkov&aacute;n&iacute;
    v ulic&iacute;ch města, a to nejen na průběžn&yacute;ch komunikac&iacute;ch, ale
    i na n&aacute;měst&iacute;ch.</p>\r\n<p>Nebude-li možn&eacute; takov&eacute;to
    ře&scaron;en&iacute; prosadit, budou Svobodn&iacute; usilovat o realizaci &bdquo;D
    n&aacute;lepky\" ,umožňuj&iacute;c&iacute; rezidentům města parkovat na cel&eacute;m
    jeho &uacute;zem&iacute; s v&yacute;jimkou parkovi&scaron;ť soukrom&yacute;ch
    subjektů za m&iacute;rn&yacute; poplatek (navrhujeme 100 kč/rok).</p>\r\n<h2>Podpora
    podnik&aacute;n&iacute;</h2>\r\n<p>Jedin&yacute;m způsobem jak může město podpořit
    m&iacute;stn&iacute; podnikatele, je nekonkurovat jim, neomezovat jejich aktivity
    a nechat maximum vydělan&yacute;ch peněz jejich z&aacute;kazn&iacute;kům.</p>\r\n<p>Usnadn&iacute;me
    prodej/pron&aacute;jem ve&scaron;ker&eacute;ho majetku města př&iacute;padn&yacute;m
    z&aacute;jemcům.</p>\r\n<p>Zru&scaron;&iacute;me vyd&aacute;v&aacute;n&iacute;
    &bdquo;Městsk&eacute;ho zpravodaje\", jež vn&iacute;m&aacute;me jako er&aacute;rem
    dotovanou nekalou konkurenci nespravedlivě zv&yacute;hodňuj&iacute;c&iacute; městu
    vl&aacute;dnouc&iacute; politick&aacute; uskupen&iacute;.</p>\r\n<p>Svobodn&iacute;
    nikdy nebudou souhlasit s t&iacute;m, aby volen&iacute; politici a ani &uacute;ředn&iacute;ci,
    nějak&yacute;m způsobem omezovali podnikatelsk&eacute; aktivity ve městě.</p>\r\n<p>Volen&iacute;
    politici tak&eacute; nemaj&iacute; ani nejmen&scaron;&iacute; pr&aacute;vo někoho
    finančně zv&yacute;hodnit oproti jeho konkurenci.</p>\r\n<h2>Mateřsk&eacute; a
    z&aacute;kladn&iacute; &scaron;koly</h2>\r\n<p>Protože nen&iacute; v sil&aacute;ch
    ž&aacute;dn&eacute; obce dlouhodobě zaji&scaron;ťovat optim&aacute;ln&iacute;
    počet m&iacute;st ani optim&aacute;ln&iacute; kvalitu v mateřsk&yacute;ch &scaron;kolk&aacute;ch,
    považujeme za kl&iacute;čov&eacute; uvolněn&iacute; konkurence v t&eacute;to oblasti.
    Radnice mus&iacute; adresně přisp&iacute;vat vždy na konkr&eacute;tn&iacute; d&iacute;tě
    bez ohledu na to, zda toto nav&scaron;těvuje &scaron;kolu veřejnou č&iacute; soukromou.
    Město tak&eacute; nesm&iacute; br&aacute;nit vzniku nov&yacute;ch soukrom&yacute;ch
    &scaron;kolek. T&iacute;mto odstran&iacute;me konkurenčn&iacute; nev&yacute;hodu
    soukrom&yacute;ch &scaron;kol a umožn&iacute;me spravedlivou soutěž v&scaron;ech
    subjektů.</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
