---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<p><img style=\"width: 20px; height: 16px;\" src=\"/samples/assets/email-i.png\"
    alt=\"\" width=\"28\" height=\"23\" />&nbsp;<a href=\"mailto:cheb@svobodni.cz\">cheb@svobodni.cz</a></p>\r\n<p><img
    style=\"width: 19px; height: 19px;\" src=\"/samples/assets/fb-i.png\" alt=\"\"
    width=\"28\" height=\"28\" />&nbsp;<a href=\"http://facebook.com/SvobodniCheb\"
    target=\"_blank\">facebook.com/SvobodniCheb</a></p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}