---
title: Volební program
slug: volebni-program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 50
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p>&nbsp;</p>\r\n<p><span style=\"font-size: 2em; line-height:
    1.5em;\">1. Město bez dluhů</span></p>\r\n<p style=\"text-align: justify;\" dir=\"ltr\">My,
    jako budouc&iacute; a zodpovědn&iacute; zastupitel&eacute; v&iacute;me, že dluhy
    maj&iacute; sv&eacute; n&aacute;klady a sv&aacute; rizika. Chceme odevzdat město
    ve sv&eacute; spr&aacute;vě bez dluhů dal&scaron;&iacute;m generac&iacute;m. Z&aacute;sadně
    nehodl&aacute;me, jako jin&iacute;, přen&aacute;&scaron;et uměle vyvolan&eacute;
    dluhy dne&scaron;ka na budouc&iacute; generace. Chceme se soustředit zejm&eacute;na
    na zdroj mimoř&aacute;dn&eacute;ho zadlužen&iacute; Mlad&eacute; Boleslavi, což
    jsou předev&scaron;&iacute;m Evropsk&eacute; dotace. Ty n&aacute;s nut&iacute;
    se zadlužovat, prodražovat realizovan&eacute; projekty a předev&scaron;&iacute;m
    investovat to toho, co město nepotřebuje.</p>\r\n<p style=\"text-align: justify;\"
    dir=\"ltr\"><strong>Zastav&iacute;me financov&aacute;n&iacute; veřejn&yacute;ch
    projektů z Evropsk&yacute;ch dotac&iacute; v jejich dne&scaron;n&iacute; nevyhovuj&iacute;c&iacute;
    podobě. Neschv&aacute;l&iacute;me deficitn&iacute; rozpočet města.</strong></p>\r\n<p><span
    style=\"font-size: 2em; line-height: 1.5em;\">2. Otevřen&eacute; veřejn&eacute;
    zak&aacute;zky</span></p>\r\n<p style=\"text-align: justify;\" dir=\"ltr\">Z&aacute;sadně
    odm&iacute;t&aacute;me v&yacute;běrov&aacute; ř&iacute;zen&iacute; u&scaron;it&aacute;
    na m&iacute;ru konkr&eacute;tn&iacute;m firm&aacute;m. Chceme v&yacute;běrov&aacute;
    ř&iacute;zen&iacute;, kter&aacute; budou otevřen&aacute; v&scaron;em z&aacute;jemcům,
    bez &uacute;čelov&yacute;ch omezuj&iacute;c&iacute;ch podm&iacute;nek. Omezen&aacute;
    v&yacute;běrov&aacute; ř&iacute;zen&iacute; vytv&aacute;řej&iacute; korupčn&iacute;
    prostřed&iacute;. Pokud nejsou veřejn&eacute; zak&aacute;zky vypsan&eacute; dostatečně
    otevřeně jejich cena se v&yacute;razně navy&scaron;uje. Zisky skonč&iacute; ve
    &ldquo;spr&aacute;vn&yacute;ch kaps&aacute;ch&rdquo; a nav&yacute;&scaron;en&iacute;
    ceny opět zaplat&iacute; občan.</p>\r\n<p style=\"text-align: justify;\" dir=\"ltr\"><strong>Podpoř&iacute;me
    pouze co nejv&iacute;ce otevřen&eacute; veřejn&eacute; zak&aacute;zky s ve&scaron;kerou
    dokumentac&iacute; včetně smluv zveřejněnou na Internetu.</strong></p>\r\n<p><span
    style=\"font-size: 2em; line-height: 1.5em;\">3. Pouze skutečně potřebn&eacute;
    projekty</span></p>\r\n<p style=\"text-align: justify;\" dir=\"ltr\">Nechceme
    realizovat projekty pouze pro to, že je na ně zrovna vypsan&aacute; dotace z Evropsk&eacute;
    unie. Principy dotac&iacute; jsou zhoubn&eacute;: nejprve n&aacute;m a daňov&yacute;m
    poplatn&iacute;kům v jin&yacute;ch zem&iacute;ch seberou pen&iacute;ze, kter&eacute;
    jsou n&aacute;m pot&eacute; s pomoc&iacute; obrovsk&eacute; byrokracie nab&iacute;dnuty
    zpět a to pouze za podm&iacute;nky přihozen&iacute; dal&scaron;&iacute;ch financ&iacute;
    z vlastn&iacute;ho. A nakonec n&aacute;s donut&iacute; si koupit věc, kterou nechceme,
    ale o kter&eacute; si oni mysl&iacute;, že je potřebn&aacute;. Rovněž n&aacute;s
    děs&iacute;, že při investici se nezohledňuj&iacute; provozn&iacute; n&aacute;klady,
    kter&eacute; d&aacute;le město bude muset hradit ze sv&eacute;ho. Prioritu mus&iacute;
    m&iacute;t projekty s &scaron;irok&yacute;m veřejněprospě&scaron;n&yacute;m dopadem,
    zejm&eacute;na infrastruktura, čistota a bezpečnost.</p>\r\n<p style=\"text-align:
    justify;\" dir=\"ltr\"><strong>Podpoř&iacute;me raději opravu silnic a chodn&iacute;ků
    než nov&eacute; vinice a baz&eacute;ny.</strong></p>\r\n<p><span style=\"font-size:
    2em; line-height: 1.5em;\">4. Město nem&aacute; podnikat</span></p>\r\n<p style=\"text-align:
    justify;\" dir=\"ltr\">Podnik&aacute;n&iacute; města bere př&iacute;ležitosti
    soukromn&iacute;kům, omezuje konkurenci a z&aacute;roveň zdražuje služby v&scaron;em
    občanům. Služby jsou draž&scaron;&iacute; nejen př&iacute;mo, ale z&aacute;roveň
    mus&iacute; b&yacute;t dotovan&eacute; z rozpočtu města. T&iacute;m na ně občan
    dopl&aacute;c&iacute; dvakr&aacute;t. Městk&eacute; firmy rovněž vytv&aacute;řej&iacute;
    korupčn&iacute; prostřed&iacute;.</p>\r\n<p style=\"text-align: justify;\" dir=\"ltr\"><strong>Podpoř&iacute;me
    soukromou sf&eacute;ru v městsk&yacute;ch služb&aacute;ch. Existuj&iacute;c&iacute;
    městsk&eacute; firmy zprůhledn&iacute;me.</strong></p>\r\n<p><span style=\"font-size:
    2em; line-height: 1.5em;\">5. M&eacute;ně regulac&iacute; a poplatků</span></p>\r\n<p
    style=\"text-align: justify;\" dir=\"ltr\">Svobodn&iacute; jsou z&aacute;rukou,
    že ani v budoucnu nebude město sv&eacute; občany regulovat, danit a nutit platit
    vět&scaron;&iacute; a dal&scaron;&iacute; poplatky. Př&iacute;kladem zbytečn&yacute;ch
    poplatků je archaick&yacute; poplatek za psa, protože automaticky &ldquo;pokutuje&rdquo;
    určitou skupinu obyvatel, bez ohledu na to, zda po sv&eacute;m psu ukl&iacute;z&iacute;
    či se o něj ř&aacute;dně staraj&iacute;. Nutnost odchytu psa, n&aacute;lezu majitele,
    um&iacute;stěn&iacute; psa do &uacute;tulku a čistota na veřejn&yacute;ch prostranstv&iacute;ch
    jsou povinnost&iacute; města. Tyto služby poskytuje v&scaron;em jeho obyvatelům
    bez rozd&iacute;lu. Nehledě na skutečnost, že nepoř&aacute;dek mohou tvořit v&scaron;ichni
    obyvatel&eacute; města. Proto nen&iacute; spravedliv&eacute;, aby na tyto služby
    nav&iacute;c přisp&iacute;vali pouze majitel&eacute; psů.</p>\r\n<p style=\"text-align:
    justify;\" dir=\"ltr\"><strong>Budeme br&aacute;nit zaveden&iacute; nov&yacute;ch
    regulac&iacute; a poplatků. Zasad&iacute;me se o zru&scaron;en&iacute; poplatku
    za psa.</strong></p>"
---
{% extends 'parent' %}

{% block main %}

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

{% endblock %}