---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p>Představujeme V&aacute;m n&aacute;&scaron; program a zveme
    V&aacute;s 10. a 11. ř&iacute;jna k volb&aacute;m do zastupitelstva Prahy 6.</p>\r\n<p>&nbsp;</p>\r\n<h2
    class=\"clickable\">1. Posv&iacute;t&iacute;me si na radnici</h2>\r\n<p style=\"display:
    none;\">Budeme usilovat o to, aby v&scaron;echny pracovn&iacute; dny byly z&aacute;roveň
    &uacute;ředn&iacute;mi dny. Z&aacute;roveň budeme usilovat o to, aby tam, kde
    je chronick&yacute; nedostatek přep&aacute;žkov&yacute;ch či jin&yacute;ch pracovn&iacute;ků,
    tito byli doplněni a přep&aacute;žky fungovaly při zv&yacute;&scaron;en&eacute;m
    z&aacute;jmu v&scaron;echny.</p>\r\n<p>&nbsp;</p>\r\n<h2 class=\"clickable\">2.
    Vyrovnan&yacute; rozpočet</h2>\r\n<p style=\"display: none;\">Na dluh se nežije.
    Budeme usilovat o vyrovnan&eacute; rozpočty, a to hned od dal&scaron;&iacute;ho
    fisk&aacute;ln&iacute;ho obdob&iacute;, kde budeme m&iacute;t na sestavov&aacute;n&iacute;
    rozpočtu vliv. Deficitn&iacute; rozpočet bude možn&yacute; pouze v&nbsp;odůvodněn&yacute;ch
    a z&aacute;važn&yacute;ch př&iacute;padech jako je pomoc při živeln&yacute;ch
    katastrof&aacute;ch. U&scaron;etřen&eacute; prostředky (dle na&scaron;eho programu)
    použijeme na umořen&iacute; dluhů Prahy 6, na infrastrukturu a na služby obyvatelům
    &Scaron;estky.</p>\r\n<p>&nbsp;</p>\r\n<h2 class=\"clickable\">3. Obec nem&aacute;
    podnikat, aneb radost podnikat na &Scaron;estce</h2>\r\n<p style=\"display: none;\">Každ&yacute;
    podnikatel v&iacute;, že může zkrachovat. Vedle motivace k&nbsp;&uacute;spěchu
    jde o motivaci před ne&uacute;spěchem a krachem. St&aacute;t ani obec takovou
    motivaci nem&aacute; a m&iacute;t nemus&iacute;, protože v&nbsp;podstatě nemůže
    zkrachovat. T&iacute;m křiv&iacute; trh. Budeme usilovat, aby Praha 6 přestala
    jakkoliv podnikat, jedno zda sama nebo prostřednictv&iacute;m sv&yacute;ch akciov&yacute;ch
    společnost&iacute;. Pokud nebude podnikat Praha 6 a pokud usnadn&iacute;me podnikatelům
    jejich činnost zejm&eacute;na odbřemeněn&iacute;m od byrokracie, bude na &Scaron;estce
    radost podnikat.&nbsp;</p>\r\n<p style=\"display: none;\">Budeme t&eacute;ž podporovat
    na&scaron;e magistr&aacute;tn&iacute; zastupitele při změně tržn&iacute;ho ř&aacute;du,
    abychom zjednodu&scaron;ili pouličn&iacute; prodej, zřizov&aacute;n&iacute; zahr&aacute;dek
    u restaurac&iacute; a podobně a aby byly ru&scaron;eny poplatky v&scaron;eho druhu,
    zejm&eacute;na poplatek za z&aacute;bor veřejn&eacute;ho prostranstv&iacute;,
    abychom sn&iacute;žili &nbsp;drobn&yacute;m podnikatelům n&aacute;klady i administrativn&iacute;
    z&aacute;těž.</p>\r\n<p>&nbsp;</p>\r\n<h2 class=\"clickable\">4. Majetek Prahy
    6 m&aacute; spravovat Praha 6</h2>\r\n<p style=\"display: none;\">Praha 6 si zř&iacute;dila
    ke spr&aacute;vě sv&eacute;ho nemovit&eacute;ho majetku akciovou společnost SNEO,
    a.s. Budeme usilovat o to, aby majetek Prahy 6 spravovala opět Praha 6. Vedouc&iacute;
    &uacute;ředn&iacute;ci odboru majetku dost&aacute;vaj&iacute; tabulkov&eacute;
    platy. Vedouc&iacute; manažeři, členov&eacute; představenstva a dozorč&iacute;ch
    rad SNEO, a. s. dost&aacute;vaj&iacute; mnohem v&iacute;ce. Nav&iacute;c financov&aacute;n&iacute;
    akciov&eacute; společnosti nepodl&eacute;h&aacute; takov&eacute;mu drobnohledu,
    jako financov&aacute;n&iacute; obce a často je pro veřejnost nemožn&eacute; rozkr&yacute;t
    jej&iacute; fungov&aacute;n&iacute;.</p>\r\n<p>&nbsp;</p>\r\n<h2 class=\"clickable\">5.
    &Uacute;zemn&iacute; pl&aacute;nov&aacute;n&iacute; a zprůhledněn&iacute; činnosti
    radnice</h2>\r\n<p style=\"display: none;\">Připomeňme si, co se u n&aacute;s
    na Praze 6 ud&aacute;lo naposledy ve velk&eacute;m &ndash; když vjely bagry do
    parku u hotelu Diplomat. V&scaron;ichni se zhrozili a začali se pt&aacute;t, co
    se to děje, kdo to schv&aacute;lil, kdy a proč? Zastupitel&eacute;, kteř&iacute;
    byli proti, nebyli schopni obyvatele &Scaron;estky zburcovat nebo alespoň informovat
    a ti, co byli pro, si nev&aacute;ž&iacute; toho, že &Scaron;estka patř&iacute;
    k&nbsp;nejkr&aacute;sněj&scaron;&iacute;m pražsk&yacute;m městsk&yacute;m č&aacute;stem
    s&nbsp;největ&scaron;&iacute;m poměrem zeleně vůči z&aacute;stavbě. My chceme,
    aby to tak zůstalo. Budete-li volit Svobodn&eacute;, Va&scaron;i zastupitel&eacute;
    V&aacute;s budou informovat o jak&eacute;mkoli nebezpeč&iacute; bagrů ve Va&scaron;em
    parku včas, kdy s&nbsp;t&iacute;m je&scaron;tě něco jde dělat. Budeme v&scaron;echny
    z&aacute;sadn&iacute;, a to nejen &uacute;zemně pl&aacute;novac&iacute; akce,
    komunikovat se v&scaron;emi, nejen s&nbsp;na&scaron;imi voliči, abychom byli skutečn&yacute;mi
    z&aacute;stupci a nestalo se, že o n&aacute;s usly&scaron;&iacute;te před volbami
    a pak čtyři roky ticho po pě&scaron;ině. &Uacute;zemn&iacute;mu rozvoji obce ř&iacute;k&aacute;me
    ano, ale nepodporujeme zmen&scaron;ov&aacute;n&iacute; zelen&yacute;ch ploch.
    Uděl&aacute;me v&scaron;e pro to, aby z&aacute;sadn&iacute; t&eacute;mata &Scaron;estkou
    rezonovala.</p>\r\n<p><strong>&nbsp;</strong></p>\r\n<h2 class=\"clickable\">6.
    Městsk&aacute; policie<strong style=\"font-size: 12px; line-height: 1.5em;\">&nbsp;</strong></h2>\r\n<p
    style=\"display: none;\">M&aacute;te dojem, že str&aacute;žn&iacute;ci zbytečně
    pokutuj&iacute; nespr&aacute;vn&eacute; parkov&aacute;n&iacute;, i když auta nikomu
    nepřek&aacute;ž&iacute; a ničemu nebr&aacute;n&iacute; a naopak nejsou vidět tam,
    kde by byli zapotřeb&iacute;? My ano. Na&scaron;e jednička kandid&aacute;tky Mgr.
    Ondřej Pec&aacute;k, povol&aacute;n&iacute;m advok&aacute;t, vyvol&aacute; jako
    zastupitel jedn&aacute;n&iacute; s&nbsp;představiteli pražsk&eacute; městsk&eacute;
    policie a nab&iacute;dne str&aacute;žn&iacute;kům do&scaron;kolen&iacute; zejm&eacute;na
    z&nbsp;oblasti spr&aacute;vn&iacute;ho ř&aacute;du, jehož z&aacute;sady str&aacute;žn&iacute;kům
    při posuzov&aacute;n&iacute; přestupků chyb&iacute;. Budeme d&aacute;le usilovat
    i o to, aby ten, kdo čin&iacute; ozn&aacute;men&iacute; na lince 156, musel stejně
    jako u linky 158 uv&eacute;st sv&eacute; jm&eacute;no a nesl za sv&eacute; pod&aacute;n&iacute;
    odpovědnost, protože se množ&iacute; &scaron;ikan&oacute;zn&iacute; ozn&aacute;men&iacute;,
    kdy nehroz&iacute; ž&aacute;dn&aacute; &uacute;jma na zdrav&iacute; či životech
    a ani nen&iacute; nepřiměřeně blokov&aacute;na doprava nebo nejsou nepřiměřeně
    blokov&aacute;ny pě&scaron;&iacute; cesty a chodn&iacute;ky. Linka 156 patř&iacute;
    k&nbsp;t&iacute;sňov&yacute;m link&aacute;m a nen&iacute; spr&aacute;vn&eacute;,
    když ji někdo blokuje jen proto, že se mu nel&iacute;b&iacute;, jak jin&yacute;
    parkuje. T&iacute;m chceme přispět ke sn&iacute;žen&iacute; rostouc&iacute;ho
    napět&iacute; mezi občany a policisty, aby byli policist&eacute; v&nbsp;oč&iacute;ch
    n&aacute;s v&scaron;ech skutečně ochr&aacute;nci a pomocn&iacute;ky m&iacute;sto
    těch, co maj&iacute; za &uacute;kol jen vyb&iacute;rat pokuty kvůli snižov&aacute;n&iacute;
    deficitu obecn&iacute;ho rozpočtu.</p>\r\n<p>&nbsp;</p>\r\n<h2 class=\"clickable\">7.
    Snižov&aacute;n&iacute; byrokracie, zmen&scaron;ov&aacute;n&iacute; &uacute;řadu
    a jeho elektronizace</h2>\r\n<p style=\"display: none;\">Budeme usilovat o zru&scaron;en&iacute;
    těch odborů, komis&iacute; či Prahou 6 zř&iacute;zen&yacute;ch společnost&iacute;
    či př&iacute;spěvkov&yacute;ch organizac&iacute;, kter&eacute; neobh&aacute;j&iacute;
    svou existenci. Z&aacute;roveň podpoř&iacute;me zjednodu&scaron;ov&aacute;n&iacute;
    &uacute;ředn&iacute;ch a procesn&iacute;ch postupů a pokračov&aacute;n&iacute;
    v elektronizaci tak, aby se sn&iacute;žil počet agend, kde je nutn&eacute; přij&iacute;t
    na &uacute;řad osobně. T&eacute;ž budeme usilovat o zpřehledněn&iacute; internetov&yacute;ch
    str&aacute;nek Prahy 6, protože &ndash; a ruku na srdce &ndash; jak dlouho jste
    hledali, než jste na&scaron;li, co jste potřebovali, pokud jste vůbec na&scaron;li?</p>\r\n<p>&nbsp;</p>\r\n<h2
    class=\"clickable\">8. &Scaron;kolky a &scaron;koly<strong style=\"font-size:
    12px; line-height: 1.5em;\">&nbsp;</strong></h2>\r\n<p style=\"display: none;\">&Scaron;kolky
    by měly b&yacute;t dostupn&eacute; pro děti v&scaron;ech, kdo maj&iacute; trval&eacute;
    bydli&scaron;tě v&nbsp;Praze 6. A protože každ&yacute;m rokem se počty dět&iacute;
    měn&iacute;, navrhujeme, aby v&nbsp;př&iacute;padě vy&scaron;&scaron;&iacute;
    popt&aacute;vky rodičů po m&iacute;stech ve &scaron;kolk&aacute;ch byly zapojeny
    do ře&scaron;en&iacute; nedostatku m&iacute;st &scaron;kolky soukrom&eacute; nebo
    z&aacute;kladn&iacute; &scaron;koly disponuj&iacute;c&iacute; vhodn&yacute;mi
    nevyužit&yacute;mi prostorami pro před&scaron;koln&iacute; děti (např. &scaron;koln&iacute;
    družiny).</p>\r\n<p style=\"display: none;\">Z&aacute;kladn&iacute; &scaron;kola
    je prvn&iacute; etapou pro z&iacute;sk&aacute;v&aacute;n&iacute; schopnost&iacute;
    a vědomost&iacute;, aby měly na&scaron;e děti co největ&scaron;&iacute; &scaron;anci
    se uplatnit v&nbsp;budoucnu nejen na česk&eacute;m trhu pr&aacute;ce, ale i evropsk&eacute;m
    a světov&eacute;m. Proto podporujeme z&aacute;kladn&iacute; &scaron;kolstv&iacute;
    zejm&eacute;na tak, že budeme snižovat &uacute;ředn&iacute; povinnosti a pap&iacute;rov&aacute;n&iacute;
    učitelů, aby se mohli v&iacute;ce věnovat dětem. Z&aacute;roveň podporujeme takov&eacute;
    nastaven&iacute; rozpočtu, aby Prahou 6 zřizovan&eacute; &scaron;kolky i &scaron;koly
    měly patřičn&eacute; z&aacute;zem&iacute; a patřičně ohodnocen&yacute; učitelsk&yacute;
    sbor.</p>\r\n<p style=\"display: none;\">Budeme t&eacute;ž usilovat o to, aby
    &scaron;koly umožnily využ&iacute;vat sv&aacute; sportovi&scaron;tě a prostory
    sportovn&iacute;m klubům (zejm&eacute;na těm, co pracuj&iacute; s&nbsp;ml&aacute;dež&iacute;)
    a spolkům.</p>\r\n<p>&nbsp;</p>\r\n<h2 class=\"clickable\">9. Soci&aacute;ln&iacute;
    služby</h2>\r\n<p style=\"display: none;\">Pečovatelsk&aacute; služba Prahy 6
    je jednou ze služeb, kter&aacute; funguje dobře. Ale může fungovat je&scaron;tě
    l&eacute;pe, což klienti ocen&iacute;. Budeme usilovat o to, aby v&scaron;ichni
    klienti Pečovatelsk&eacute; služby mohli zůstat ve sv&eacute;m dom&aacute;ck&eacute;m
    prostřed&iacute; co nejd&eacute;le, než by kapacitu a odbornost pracovn&iacute;ků
    Pečovatelsk&eacute; služby musela nahradit zdravotnick&aacute; zař&iacute;zen&iacute;.
    Z&aacute;roveň podporujeme prim&aacute;rně p&eacute;či v&nbsp;r&aacute;mci rodiny
    a teprve pokud rodina ze z&aacute;važn&yacute;ch důvodů nen&iacute; k&nbsp;dispozici,
    nastupovala by Pečovatelsk&aacute; služba.&nbsp;</p>\r\n<p style=\"display: none;\">L&eacute;čebny
    dlouhodobě nemocn&yacute;ch zř&iacute;zen&eacute; Prahou 6 se netě&scaron;&iacute;
    dobr&eacute; pověsti. Pro Svobodn&eacute; je velice důležit&eacute; a lidsk&eacute;,
    aby každ&yacute; z&nbsp;n&aacute;s, kdo by ve sv&eacute;m životě někdy l&eacute;čebnu
    dlouhodobě nemocn&yacute;ch zřizovanou Prahou 6 potřeboval, se mohl s&nbsp;klidem
    sv&yacute;m i sv&eacute; rodiny svěřit do jej&iacute; p&eacute;če. Probl&eacute;my
    l&eacute;čeben nespoč&iacute;vaj&iacute; jen v&nbsp;z&aacute;zem&iacute; a v&yacute;běru
    odborn&iacute;ků, ale mnohem v&iacute;ce v&nbsp;p&eacute;či jak o klienty, tak
    o zdravotn&iacute;ky (často př&iacute;tomen syndrom vyhořen&iacute;), protože
    pr&aacute;ce v&nbsp;l&eacute;čebně patř&iacute; ve zdravotnictv&iacute; k&nbsp;t&eacute;
    nejtěž&scaron;&iacute;.</p>\r\n<p style=\"display: none;\">Soci&aacute;ln&iacute;
    byty m&aacute; m&iacute;t každ&aacute; obec, aby byla schopna pomoci překlenout
    kr&aacute;tkodobě&nbsp;těžkou životn&iacute; situaci sv&yacute;m obyvatelům, kteř&iacute;
    při&scaron;li nezaviněně o střechu nad hlavu, zejm&eacute;na pak matky s&nbsp;dětmi.
    Obvykle pouze obec je nejbliž&scaron;&iacute; instituc&iacute;, kter&aacute; může
    pomoci a zn&aacute; nebo by zn&aacute;t měla sv&eacute; okol&iacute;. &nbsp;Jsme
    proti zneuž&iacute;v&aacute;n&iacute; dotovan&yacute;ch soci&aacute;ln&iacute;ch
    bytů dlouhodob&yacute;m pron&aacute;jmem lidem, kteř&iacute; si nechtěj&iacute;
    naj&iacute;t bydlen&iacute; na trhu a využ&iacute;vaj&iacute; levn&eacute;ho bydlen&iacute;
    v&nbsp;ubytovn&aacute;ch pro sn&iacute;žen&iacute; n&aacute;kladů dom&aacute;cnost&iacute;.</p>\r\n<p
    style=\"display: none;\">Neziskov&yacute;m organizac&iacute;m věnuj&iacute;c&iacute;m
    se veřejně prospě&scaron;n&yacute;m činnostem pomůžeme ulehčit od byrokracie,
    aby mohly u&scaron;etřen&yacute; čas věnovat sv&yacute;m klientům. Tyto organizace
    t&eacute;ž tr&aacute;p&iacute; neust&aacute;l&eacute; obhajov&aacute;n&iacute;
    vlastn&iacute; potřebnosti vůči st&aacute;tn&iacute;m instituc&iacute;m, což jejich
    pracovn&iacute;ky mnohdy značně demotivuje. Přehodnot&iacute;me tento syst&eacute;m
    tak, aby naopak tyto organizace a jejich pracovn&iacute;ci nebyli demotivov&aacute;ni.
    Svobodn&iacute; jsou tak prvn&iacute; stranou, kter&aacute; m&aacute; v&nbsp;&uacute;myslu
    neziskov&yacute;m organizac&iacute;m skutečně pomoci.</p>\r\n<p>&nbsp;</p>\r\n<h2
    class=\"clickable\">10. Doprava</h2>\r\n<p style=\"display: none;\">Infrastruktura,
    tedy zejm&eacute;na silnice a chodn&iacute;ky, jsou věčn&yacute;m t&eacute;matem.
    Každ&aacute; č&aacute;st Prahy 6 m&aacute; specifick&eacute; potřeby ohledně silnic
    a chodn&iacute;ků a Svobodn&iacute; podporuj&iacute; opravy hav&aacute;ri&iacute;,
    v&yacute;tluků a nesrovnalost&iacute; nejen vlastn&iacute;m zji&scaron;těn&iacute;m,
    ale i d&iacute;ky pozorn&yacute;m obyvatelům Prahy 6.</p>\r\n<p style=\"display:
    none;\">Doprava, jak individu&aacute;ln&iacute;, tak hromadn&aacute;, je t&eacute;ž
    věčn&yacute;m t&eacute;matem. Budeme usilovat o to, aby Prahu 6 nikdy nepostihly
    parkovac&iacute; nebo emisn&iacute; z&oacute;ny, kter&eacute; představuj&iacute;
    pouze dal&scaron;&iacute; z&aacute;sah do rozpočtu dom&aacute;cnost&iacute;, aniž
    by přinesly garanci zlep&scaron;en&iacute; stavu ovzdu&scaron;&iacute; nebo jist&eacute;ho
    parkovac&iacute;ho m&iacute;sta. Pokud budou tyto z&oacute;ny zř&iacute;zeny,
    budeme usilovat o jejich zru&scaron;en&iacute;.</p>\r\n<p style=\"display: none;\">Z&aacute;roveň
    chceme zastavit n&aacute;kladn&eacute; zv&yacute;hodňov&aacute;n&iacute; jednoho
    typu individu&aacute;ln&iacute; dopravy před jin&yacute;m. Nesmysln&eacute; z&aacute;kazy
    bez zdůvodněn&iacute;, platby (parkovac&iacute; karty) jako trest za to, že vlastn&iacute;te
    vozidlo bez patřičn&eacute; protislužby, složit&aacute; pravidla motivuj&iacute;c&iacute;
    pouze k&nbsp;jejich poru&scaron;ov&aacute;n&iacute; a hled&aacute;n&iacute; jin&yacute;ch
    cest nejsou podle na&scaron;eho upř&iacute;mn&eacute;ho přesvědčen&iacute; t&iacute;m
    prav&yacute;m pro dopravu v&nbsp;Praze 6.&nbsp;</p>\r\n<p style=\"display: none;\">Jsme
    proti nekoncepčn&iacute;mu omezov&aacute;n&iacute; rychlost&iacute;, zbrkl&eacute;
    instalaci semaforov&eacute; signalizace a investov&aacute;n&iacute; prostředků
    do instalace n&aacute;kladn&yacute;ch radarů nam&iacute;sto opravy vozovky a ře&scaron;en&iacute;ch
    skutečn&yacute;ch probl&eacute;mů v&nbsp;dopravě na Praze 6.</p>\r\n<p>&nbsp;</p>\r\n<h2
    class=\"clickable\">11. Kultura, sport, kulturn&iacute; dědictv&iacute;, př&iacute;roda
    a čistota</h2>\r\n<p style=\"display: none;\">Zeleň je pro Prahu 6 charakteristick&aacute;
    a chceme, aby to tak zůstalo. Nepodporujeme ale &bdquo;no&scaron;en&iacute; dř&iacute;v&iacute;
    do lesa&ldquo;, kdy lze po Praze 6 vidět z&aacute;věsn&eacute; květin&aacute;če
    na sloupech uprostřed zeleně, což považujeme za vyhazov&aacute;n&iacute; veřejn&yacute;ch
    prostředků. Budeme usilovat o zastaven&iacute; pl&yacute;tv&aacute;n&iacute; i
    v&nbsp;oblasti p&eacute;če o zeleň. T&eacute;ž nepodporujeme rekonstrukce parků,
    kdy je jeden funkčn&iacute; park za mili&oacute;ny nahrazen parkem jin&yacute;m.&nbsp;&nbsp;</p>\r\n<p
    style=\"display: none;\">Čistota je dal&scaron;&iacute;m věčn&yacute;m t&eacute;matem.
    Podporujeme zachov&aacute;n&iacute; brig&aacute;dn&iacute;ch &uacute;klidů sněhu
    na chodn&iacute;c&iacute;ch, podporujeme změnu pytl&iacute;ků na ps&iacute; exkrementy
    z&nbsp;pap&iacute;rov&yacute;ch (vět&scaron;inou ani zručnost nestač&iacute;)
    na igelitov&eacute; pytl&iacute;ky (mnoz&iacute; Pražan&eacute; si je voz&iacute;
    z&nbsp;jin&yacute;ch měst). Nepodporujeme &uacute;klid podzimn&iacute;ho list&iacute;
    těsně před t&iacute;m, než začne padat. Nepodporujeme čast&eacute; a mnohdy zbytečn&eacute;
    či&scaron;těn&iacute; silnic a s&nbsp;t&iacute;m spojen&eacute; nucen&eacute;
    přeparkov&aacute;v&aacute;n&iacute; vozidel. Podporujeme v&iacute;ce odpadkov&yacute;ch
    ko&scaron;ů nejen ve vyt&iacute;žen&yacute;ch lokalit&aacute;ch (parky, chodn&iacute;ky
    s&nbsp;travnat&yacute;mi pruhy). Podporujeme, aby okrskov&iacute; str&aacute;žn&iacute;ci
    po marn&eacute; a opakovan&eacute; v&yacute;zvě k&nbsp;&uacute;klidu např. ps&iacute;ho
    exkrementu nebo odhozen&eacute;ho odpadku pokutovali důsledně.</p>\r\n<p style=\"display:
    none;\">Kulturn&iacute; dědictv&iacute; je v&scaron;e, co bychom měli zachovat
    tak, jak n&aacute;m to svěřili na&scaron;i předkov&eacute; a my jsme povinni jej
    ř&aacute;dně spravovat a předat na&scaron;im dětem. Jde zejm&eacute;na o hodnotn&eacute;
    historick&eacute; či architektonick&eacute; budovy, uměleck&aacute; d&iacute;la
    či pam&aacute;tn&iacute;ky a i o &uacute;zem&iacute;, kter&eacute; je jako celek
    historicky hodnotn&eacute; (typicky čtvrť Ořechovka). A protože vět&scaron;inou
    je toto dědictv&iacute; v&nbsp;soukrom&yacute;ch rukou a Svobodn&iacute; považuj&iacute;
    vlastnick&eacute; pr&aacute;vo za skutečně absolutn&iacute; pr&aacute;vo, budou
    usilovat o pomoc těmto vlastn&iacute;kům při překon&aacute;n&iacute; byrokratick&yacute;ch
    přek&aacute;žek při rekonstrukc&iacute;ch či jinou vhodnou a nen&aacute;silnou
    asistenci z&nbsp;pozice zastupitelů (např. centr&aacute;ln&iacute; budova kina
    Ořechovka ve Stře&scaron;ovic&iacute;ch pl&aacute;če po rekonstrukci fas&aacute;dy
    a každ&aacute; čtvrť Prahy 6 m&aacute; takov&eacute; sv&eacute; potřeby).</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
