---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p>V souladu se v&scaron;eobecn&yacute;mi z&aacute;sadami
    pro komun&aacute;ln&iacute; politiku Svobodn&yacute;ch půjdou liberečt&iacute;
    Svobodn&iacute; do voleb s n&aacute;sleduj&iacute;c&iacute;m programem:</p>\r\n<p>&nbsp;</p>\r\n<p><strong>1.
    Svobodn&iacute; nebudou &nbsp;Liberec již d&aacute;le zatěžovat dal&scaron;&iacute;m
    zadlužen&iacute;m</strong></p>\r\n<p>&nbsp;</p>\r\n<p>Rozpočet města se mus&iacute;
    tvořit jako vyrovnan&yacute;, v&yacute;jimku tvoř&iacute; pouze krizov&eacute;
    situace typu povodn&iacute;, pož&aacute;rů nebo velk&yacute;ch hav&aacute;ri&iacute;
    . I v těchto př&iacute;padech, ale mus&iacute; b&yacute;t jasně deklarov&aacute;no,
    kde se na schodek pen&iacute;ze vezmou a do kdy a jak se vr&aacute;t&iacute;.</p>\r\n<p>&nbsp;</p>\r\n<p><strong>2.
    Svobodn&iacute; prosad&iacute;, že &nbsp;Liberec nebude vlastnit ž&aacute;dn&eacute;
    firmy, ve kter&yacute;ch je možn&aacute; konkurence soukrom&eacute;ho sektoru,
    natož dotovat jejich činnost.</strong></p>\r\n<p>Navrhujeme postupně privatizovat
    &nbsp;městsk&eacute; firmy SAJ, DPLM, TSML, SAL a dal&scaron;&iacute;, stejně
    jako majetek, kter&yacute; město nepotřebuje k zaji&scaron;těn&iacute; veřejn&eacute;
    služby.</p>\r\n<p>V&yacute;nosy z prodeje použ&iacute;t na splacen&iacute; dluhu.
    Likvidace dotacemi pokřiven&eacute;ho trhu mus&iacute; prob&iacute;hat postupně
    s t&iacute;m, jak se podař&iacute; snižovat daňov&eacute; zat&iacute;žen&iacute;
    lidi a firem. Nelze na jednu stranu zru&scaron;it dotace a z&aacute;roveň m&iacute;t
    st&aacute;le stejně vysok&eacute; daně. V ž&aacute;dn&eacute;m př&iacute;padě
    tedy nejsme ti, kteř&iacute; chtěj&iacute; skokově ru&scaron;it ve&scaron;ker&eacute;
    dotace.</p>\r\n<p>&nbsp;</p>\r\n<p><strong>3. Svobodn&iacute; budou prosazovat,
    aby Liberec z dan&iacute; občanů hradil jen veřejn&eacute; služby a při utr&aacute;cen&iacute;
    peněz platila &uacute;pln&aacute; transparentnost.</strong></p>\r\n<p>&nbsp;</p>\r\n<p>V
    těchto př&iacute;padech je nutno v&scaron;echny smlouvy (v&scaron;echny - bez
    limitu, server města unese i naskenovan&yacute; pokladn&iacute; doklad od propisky)
    zveřejňovat na str&aacute;nk&aacute;ch města a ve&scaron;ker&eacute; př&iacute;jmy
    i n&aacute;klady mus&iacute; j&iacute;t přes transparentn&iacute; &uacute;čet!</p>\r\n<p>&nbsp;</p>\r\n<p><strong>4.
    Svobodn&iacute; chtěj&iacute; prosadit, aby Liberec nevyb&iacute;ral od občanů
    v&iacute;ce dan&iacute;, než kolik mus&iacute; ze z&aacute;kona. D&aacute;le chtěj&iacute;
    prosadit zru&scaron;en&iacute; poplatků, kter&eacute; město sm&iacute; ze z&aacute;kona
    zru&scaron;it.</strong></p>\r\n<p>&nbsp;</p>\r\n<p>Na dani z nemovitosti vybral
    v roce 2013 Liberec 115 milionů, podobnou sumu vyplatil různ&yacute;m z&aacute;jmov&yacute;m
    organizac&iacute;m jako dotace. Pt&aacute;me se, jak&yacute; je smysl vz&iacute;t
    v&scaron;em občanům &nbsp;115 milionů a pot&eacute; ji s přibližně 10%*&nbsp;ztr&aacute;tou&nbsp;vyplatit
    několika &ldquo;vyvolen&yacute;m&rdquo;?<br /> Nechme lidem jejich pen&iacute;ze
    ať se sami rozhodnou, kterou z kulturn&iacute;ch nebo dobročinn&yacute;ch organizac&iacute;
    podpoř&iacute;.</p>\r\n<p>Město samo nemůže bohužel daň z nemovitosti zru&scaron;it,
    ale daň z nemovitosti je v Liberci nastavena na koeficient 3,5 a mohla by b&yacute;t
    sn&iacute;žena na koeficient &nbsp;1,6. &nbsp;Kdo plat&iacute; daň z bytu 3 500
    Kč ročně, mohl by platit 1 600 Kč.</p>\r\n<p>&nbsp;D&aacute;le chceme prosadit
    zru&scaron;en&iacute; plateb za z&aacute;bory městsk&yacute;ch ploch (zahr&aacute;dky
    před restauracemi nebo prodejn&iacute; st&aacute;nky) a poplatek za ubytov&aacute;n&iacute;.
    Chceme t&iacute;m podpořit možnost podnikatelů vydělat pen&iacute;ze, zaměstnat
    v&iacute;ce lid&iacute; a možnost prod&aacute;vat sv&eacute; zbož&iacute; na n&aacute;měst&iacute;ch
    bez zdlouhav&eacute;ho povolov&aacute;n&iacute; a placen&iacute;.</p>\r\n<p>&nbsp;Navrhujeme
    vytvořit jednoduch&yacute; tržn&iacute; ř&aacute;d s několika z&aacute;vazn&yacute;mi
    pravidly tak, aby prodejci neomezovali ostatn&iacute; občany, jinak ať prod&aacute;vaj&iacute;
    jak je libo.</p>\r\n<p>Z&aacute;roveň s t&iacute;m navrhujeme zru&scaron;it v&yacute;daje
    města na propagaci turistick&eacute;ho ruchu.</p>\r\n<p>Zisk z toho maj&iacute;
    provozovatel&eacute; hotelů restaurac&iacute; a &ldquo;atrakc&iacute;&rdquo;.
    Pot&eacute; co jim odpust&iacute;me poplatky, jim zbude v&iacute;ce peněz na propagaci
    a jistě ji napl&aacute;nuj&iacute; l&eacute;pe než &uacute;ředn&iacute;k na radnici.</p>\r\n<p>Poplatek
    za odpady je v současn&eacute; podobě vlastně dan&iacute;, kter&aacute; nezohledňuje
    množstv&iacute; odpadu, kter&eacute; rodina vyprodukuje. Smlouva s ASA je dan&aacute;
    a občan nem&aacute; mnoho možnost&iacute; jak si svoz sv&eacute;ho odpadu korigovat.
    Nav&iacute;c poplatek ani nepokryje platbu města firmě &nbsp;ASA.</p>\r\n<p>Navrhujeme
    tedy nechat tuto smlouvu doběhnout a pot&eacute; vn&eacute;st konkurenci i do
    tohoto segmentu trhu, ať si za svůj odpad plat&iacute; &nbsp;každ&yacute; podle
    toho kolik ho tvoř&iacute;.</p>\r\n<p>Dal&scaron;&iacute; poplatek, kter&yacute;
    město sm&iacute; zru&scaron;it je poplatek za psa. Jedn&aacute; se o klasickou
    majetkovou daň. <br /> <br /> Na t&eacute;to dani vybere město &nbsp;přibližně
    2 500 000. Jsme přesvědčeni, že pokud bude &nbsp;městsk&aacute; policie podle
    na&scaron;eho dal&scaron;&iacute;ho n&aacute;vrhu nasazena do sv&yacute;ch &ldquo;raj&oacute;nů&rdquo;
    hravě pokutami za znečistěn&iacute;, kter&eacute; zdaleka nepůsob&iacute; jen
    psi, tento v&yacute;padek nahrad&iacute;. &nbsp;</p>\r\n<p><br /> *Celkov&yacute;
    rozpočet města je přibližně miliarda na mzd&aacute;ch město vyplat&iacute; cca
    100 milionů, proto 10% ztr&aacute;ta při přerozdělov&aacute;n&iacute;</p>\r\n<p>&nbsp;</p>\r\n<p><strong>5.
    Svobodn&iacute; chtěj&iacute; zav&eacute;st v Liberci institut Lidov&eacute;ho
    veta.</strong></p>\r\n<p>Každ&aacute; investice, vyhl&aacute;&scaron;ka či prodej
    majetku města by měl b&yacute;t přijat s odloženou platnost&iacute; o 3 měs&iacute;ce,
    aby občan&eacute; měli čas sesb&iacute;rat podpisy pro př&iacute;padn&eacute;
    vyhl&aacute;&scaron;en&iacute; nesouhlasn&eacute;ho referenda.</p>\r\n<p>Ot&aacute;zka
    by pak byla jednoduch&aacute; a prost&aacute; v&scaron;ech manipulac&iacute;:</p>\r\n<p>&nbsp;&ldquo;Chcete
    aby investice/prodej uskutečnil za takov&yacute;chto podm&iacute;nek?&rdquo; ANO-NE.</p>\r\n<p>Pokud
    by n&aacute;vrh zastupitelstva referendem nepro&scaron;el, měla by n&aacute;sledovat
    rezignace zastupitelstva a konat se nov&eacute; volby. Nikdo by neměl m&iacute;t
    m&iacute;sto v rozhodovac&iacute;m org&aacute;nu jist&eacute; a nav&iacute;c tento
    &ldquo;Damoklův meč&rdquo; bude působit tak, že si zastupitel&eacute; rozmysl&iacute;
    zneuž&iacute;vat svou moc a buď př&iacute;li&scaron; utr&aacute;cet, nebo vyd&aacute;vat
    &ldquo;&scaron;kodliv&eacute;&rdquo; vyhl&aacute;&scaron;ky - třeba o převodech
    pozemků a majetků mezi městem a soukrom&yacute;mi investory.&nbsp;<br /> Pro toto
    v&scaron;ak nejsou zat&iacute;m přijat&eacute; legislativn&iacute; normy, proto
    je tento bod sp&iacute;&scaron;e prohl&aacute;&scaron;en&iacute;m a představen&iacute;m
    vize př&iacute;m&eacute; demokracie tak, jak si ji představujeme my.</p>\r\n<p>&nbsp;</p>\r\n<p><strong>6.
    Svobodn&iacute; chtěj&iacute;, aby Městsk&aacute; policie nesloužila jako parkovac&iacute;
    služba a v&yacute;běrč&iacute; pokut.</strong></p>\r\n<p>Městsk&aacute; policie
    Liberec v současn&eacute; době vyčlenila 11 str&aacute;žn&iacute;ků jako okrsk&aacute;ře,
    což považujeme za krok spr&aacute;vn&yacute;m směrem. Chceme, aby městsk&aacute;
    policie takto um&iacute;stila i zbyl&yacute;ch 60 policistů a ti se věnovali jen
    str&aacute;žn&iacute; a poř&aacute;dkov&eacute; službě ve sv&yacute;ch &ldquo;rajonech&rdquo;.
    Mysl&iacute;me, že i sami policist&eacute; přiv&iacute;taj&iacute; činnost, ve
    kter&eacute; budou sv&yacute;m spoluobčanům v&iacute;ce sloužit a jistě to zv&yacute;&scaron;&iacute;
    i jejich prestiž.</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
