---
title: Volební program
slug: volebni-program
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 50
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<h2 style=\"padding-left: 60px;\"><strong><span>Svobodn&iacute;
    v komun&aacute;ln&iacute; politice vych&aacute;z&iacute; obecně z těchto principů:</span></strong></h2>\r\n<ol
    style=\"padding-left: 30px;\"><ol>\r\n<li style=\"padding-left: 30px;\">Obce hospodař&iacute;
    zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute; jen v mimoř&aacute;dn&yacute;ch
    situac&iacute;ch za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů.
    Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute; prosazuj&iacute;
    jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona o vyrovnan&eacute;m
    rozpočtu na &uacute;rovni st&aacute;tu.</li>\r\n<li style=\"padding-left: 30px;\">Obce
    vynakl&aacute;daj&iacute; prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute;
    statky, tj. na obecn&iacute; silnice, chodn&iacute;ky a zaji&scaron;těn&iacute;
    poř&aacute;dku a čistoty v obc&iacute;ch.</li>\r\n<li style=\"padding-left: 30px;\">Obce
    z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute; deformovat
    tržn&iacute; prostřed&iacute;.</li>\r\n<li style=\"padding-left: 30px;\">Obce
    ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně
    konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</li>\r\n<li style=\"padding-left:
    30px;\">V př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute;
    odvol&aacute;vat na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy
    jsou veřejn&eacute;.</li>\r\n<li style=\"padding-left: 30px;\">Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</li>\r\n</ol></ol>\r\n<h1 style=\"padding-left: 30px;\">&nbsp;</h1>\r\n<h1
    style=\"padding-left: 30px;\"><span>Volebn&iacute; program &ndash; komun&aacute;ln&iacute;
    volby 2014</span></h1>\r\n<p style=\"padding-left: 30px;\">&nbsp;</p>\r\n<h2 style=\"padding-left:
    30px;\"><strong>Heslo: Svobodn&aacute; Praha 10 &ndash; &uacute;sporn&aacute;,
    transparentn&iacute;, pro v&scaron;echny</strong></h2>\r\n<p style=\"padding-left:
    30px;\"><strong>&nbsp;</strong></p>\r\n<h3 style=\"padding-left: 30px;\"><strong>1)
    Hospodařen&iacute; městsk&eacute; č&aacute;sti</strong></h3>\r\n<p style=\"padding-left:
    30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; zamez&iacute;me
    zbytečn&eacute;mu pl&yacute;tv&aacute;n&iacute; veřejn&yacute;mi prostředky na
    nepotřebn&eacute; projekty</p>\r\n<p style=\"padding-left: 30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    prosad&iacute;me privatizaci společnost&iacute; s&nbsp;majetkovou &uacute;čast&iacute;
    městsk&eacute; č&aacute;sti &ndash; Praha 10 Majetkov&aacute;, a.s. a dal&scaron;&iacute;ch
    společnost&iacute;</p>\r\n<p style=\"padding-left: 30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    zastav&iacute;me stavbu navrhovan&eacute; nov&eacute; radnice za 1 miliardu Kč,
    naopak budeme hledat nejekonomičtěj&scaron;&iacute; variantu s přihl&eacute;dnut&iacute;m
    k zachov&aacute;n&iacute; st&aacute;vaj&iacute;c&iacute;ho s&iacute;dla, tj. objektu
    Vlasta, nepřejeme si, aby ch&aacute;trala jako kulturn&iacute; dům Eden</p>\r\n<p
    style=\"padding-left: 30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    jsme proti rekonstrukci stadionu Bohemians Praha (a jak&eacute;hokoliv soukrom&eacute;ho
    majetku) za městsk&eacute; pen&iacute;ze</p>\r\n<p style=\"padding-left: 30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    jsme proti prodeji tradičn&iacute;ch zelen&yacute;ch ploch a veřejn&yacute;ch
    prostranstv&iacute; ve vlastnictv&iacute; městsk&eacute; č&aacute;sti</p>\r\n<p
    style=\"padding-left: 30px;\">&nbsp;</p>\r\n<h3 style=\"padding-left: 30px;\"><strong>2)
    Transparentn&iacute;&nbsp; radnice</strong></h3>\r\n<p style=\"padding-left: 30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    hl&aacute;s&iacute;me se k&nbsp;projektu Průhledn&aacute; radnice (<a href=\"http://www.pruhlednaradnice.cz/\">www.pruhlednaradnice.cz</a>)</p>\r\n<p
    style=\"padding-left: 30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ve&scaron;ker&eacute; podklady pro jedn&aacute;n&iacute; zastupitelstva budou
    zveřejňov&aacute;ny na webov&yacute;ch str&aacute;nk&aacute;ch městsk&eacute;
    č&aacute;sti s&nbsp;dostatečn&yacute;m předstihem, aby se s&nbsp;nimi mohla sezn&aacute;mit
    veřejnost</p>\r\n<p style=\"padding-left: 30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    navrhneme posunut&iacute; kon&aacute;n&iacute; zastupitelstva na pozděj&scaron;&iacute;
    hodiny tak, aby vět&scaron;ině občanů nekolidovalo s pracovn&iacute;mi povinnostmi</p>\r\n<p
    style=\"padding-left: 30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    zprůhledn&iacute;me veřejn&eacute; zak&aacute;zky: budeme prosazovat vypisov&aacute;n&iacute;
    veřejn&yacute;ch zak&aacute;zek prostřednictv&iacute;m elektronick&yacute;ch trži&scaron;ť
    a elektronick&yacute;ch aukc&iacute;, zak&aacute;zky mal&eacute;ho rozsahu se
    tak zpř&iacute;stupn&iacute; &scaron;irok&eacute;mu okruhu dodavatelů</p>\r\n<p
    style=\"padding-left: 30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    v&scaron;echny smlouvy uzavřen&eacute; radnic&iacute; budou zveřejňov&aacute;ny
    na internetu</p>\r\n<p style=\"padding-left: 30px;\">&nbsp;</p>\r\n<h3 style=\"padding-left:
    30px;\"><strong>3) Podpora infrastruktury</strong></h3>\r\n<p style=\"padding-left:
    30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; budeme investovat
    do smyslupln&yacute;ch oprav silnic a chodn&iacute;ků</p>\r\n<p style=\"padding-left:
    30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; zř&iacute;d&iacute;me
    v&iacute;ce odpadkov&yacute;ch ko&scaron;ů</p>\r\n<p style=\"padding-left: 30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    prosad&iacute;me projekty, kter&eacute; přinesou užitek v&scaron;em obyvatelům
    Prahy 10, ne jen vybran&yacute;m skupin&aacute;m</p>\r\n<p style=\"padding-left:
    30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; podpoř&iacute;me
    rozvoj infrastruktury (silnic, chodn&iacute;ků, cyklostezek a parkovac&iacute;ch
    m&iacute;st) na z&aacute;kladě re&aacute;ln&eacute; popt&aacute;vky s přihl&eacute;dnut&iacute;m
    na optim&aacute;ln&iacute; využit&iacute; jejich kapacity se snahou o maxim&aacute;ln&iacute;
    zachov&aacute;n&iacute; městsk&eacute; zeleně</p>\r\n<p style=\"padding-left:
    30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; zajist&iacute;me
    uvolněn&iacute; konkurence mezi mateřsk&yacute;mi &scaron;kolami veřejn&yacute;mi
    a soukrom&yacute;mi</p>\r\n<p style=\"padding-left: 30px;\">&nbsp;</p>\r\n<h3
    style=\"padding-left: 30px;\"><strong>4) Doprava a parkov&aacute;n&iacute;</strong></h3>\r\n<p
    style=\"padding-left: 30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    jsme proti dal&scaron;&iacute;mu snižov&aacute;n&iacute; kapacity parkovac&iacute;ch
    m&iacute;st, proto nepodpoř&iacute;me dal&scaron;&iacute; projekty, kter&eacute;
    k&nbsp;tomuto snižov&aacute;n&iacute; vedou (např. rekonstrukce Moskevsk&eacute;
    ulice)</p>\r\n<p style=\"padding-left: 30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    jsme proti zaveden&iacute; parkovac&iacute;ch z&oacute;n na Praze 10</p>\r\n<p
    style=\"padding-left: 30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    umožn&iacute;me soukrom&yacute;m společnostem budovat parkovac&iacute; domy, př&iacute;padně
    podzemn&iacute; parkovi&scaron;tě, pro tyto stavby jsme ochotni poskytnout nevyužit&yacute;
    obecn&iacute; majetek</p>\r\n<p style=\"padding-left: 30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    zru&scaron;&iacute;me zbytečn&aacute; dopravn&iacute; omezen&iacute;, jsme proti
    omezov&aacute;n&iacute; maxim&aacute;ln&iacute; rychlosti na 30 km na nep&aacute;teřn&iacute;ch
    komunikac&iacute;ch</p>\r\n<p style=\"padding-left: 30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    budeme prosazovat opatřen&iacute; pro zv&yacute;&scaron;en&iacute; plynulosti
    provozu a zvy&scaron;ov&aacute;n&iacute; kapacity komunikac&iacute;</p>\r\n<p
    style=\"padding-left: 30px;\">&nbsp;</p>\r\n<h3 style=\"padding-left: 30px;\"><strong>5)
    Podpora mal&eacute;ho podnik&aacute;n&iacute;</strong></h3>\r\n<p style=\"padding-left:
    30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; změn&iacute;me
    tržn&iacute; ř&aacute;d, abychom zjednodu&scaron;ili pouličn&iacute; prodej, zřizov&aacute;n&iacute;
    zahr&aacute;dek u restaurac&iacute; atd.</p>\r\n<p style=\"padding-left: 30px;\">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    zru&scaron;&iacute;me poplatek za z&aacute;bor veřejn&eacute;ho prostranstv&iacute;,
    sn&iacute;ž&iacute;me t&iacute;m drobn&yacute;m podnikatelům n&aacute;klady i
    administrativn&iacute; z&aacute;těž</p>\r\n<p style=\"padding-left: 30px;\">&nbsp;</p>"
---
{% extends 'parent' %}

{% block main %}

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

{% endblock %}