---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<h2 style=\"text-align: justify;\">Body volebn&iacute;ho
    programu pro komun&aacute;ln&iacute; volby 2014 v Praze 11</h2>\r\n<p style=\"text-align:
    justify;\">&nbsp;</p>\r\n<h3 style=\"text-align: justify;\" dir=\"ltr\"><span
    data-mce-mark=\"1\">1) Lidov&eacute; veto</span></h3>\r\n<ul style=\"text-align:
    justify;\">\r\n<li dir=\"ltr\">\r\n<p dir=\"ltr\"><span data-mce-mark=\"1\">Zastavte
    &scaron;patn&aacute; či nev&yacute;hodn&aacute; rozhodnut&iacute; radnice pomoc&iacute;
    referenda.</span></p>\r\n</li>\r\n</ul>\r\n<ul style=\"text-align: justify;\">\r\n<li
    dir=\"ltr\">\r\n<p dir=\"ltr\">Svobodn&iacute; dlouhodobě prosazuj&iacute; lidov&eacute;
    veto jako doplněk, kter&yacute; m&aacute; přimět zastupitele, aby naslouchali
    občanům, komunikovali s nimi, vysvětlovali jim sv&eacute; z&aacute;měry.</p>\r\n</li>\r\n</ul>\r\n<p
    style=\"text-align: justify;\">&nbsp;</p>\r\n<p style=\"text-align: justify;\">&nbsp;</p>\r\n<h3
    style=\"text-align: justify;\" dir=\"ltr\"><span data-mce-mark=\"1\">2) Svobodn&aacute;
    doprava</span></h3>\r\n<ul style=\"text-align: justify;\">\r\n<li dir=\"ltr\">\r\n<p
    dir=\"ltr\"><span data-mce-mark=\"1\">Nechceme zbytečn&aacute; dopravn&iacute;
    omezen&iacute; v m&iacute;stech, kde nemaj&iacute; ž&aacute;dn&yacute; smysl.</span></p>\r\n</li>\r\n</ul>\r\n<ul
    style=\"text-align: justify;\">\r\n<li dir=\"ltr\">\r\n<p dir=\"ltr\"><span data-mce-mark=\"1\">Svobodn&aacute;
    doprava znamen&aacute; kvalitn&iacute; dopravn&iacute; infrastrukturu, kter&aacute;
    umožn&iacute; obyvatelům pohodlnou a rychlou přepravu.</span></p>\r\n</li>\r\n<li
    dir=\"ltr\">\r\n<p dir=\"ltr\"><span data-mce-mark=\"1\">Přes na&scaron;e z&aacute;stupce
    v Zastupitelstvu hlavn&iacute;ho města Prahy prosad&iacute;me dostavbu v&yacute;chodn&iacute;
    č&aacute;sti Pražsk&eacute;ho okruhu.</span></p>\r\n</li>\r\n</ul>\r\n<p style=\"text-align:
    justify;\">&nbsp;</p>\r\n<p style=\"text-align: justify;\">&nbsp;</p>\r\n<h3 style=\"text-align:
    justify;\" dir=\"ltr\"><span data-mce-mark=\"1\">3) Svobodn&eacute; podnik&aacute;n&iacute;</span></h3>\r\n<ul
    style=\"text-align: justify;\">\r\n<li dir=\"ltr\">\r\n<p dir=\"ltr\">Změn&iacute;me
    tržn&iacute; ř&aacute;d, abychom zjednodu&scaron;ili pouličn&iacute; prodej, zřizov&aacute;n&iacute;
    zahr&aacute;dek u restaurac&iacute; atd.</p>\r\n</li>\r\n<li dir=\"ltr\">\r\n<p
    dir=\"ltr\"><span data-mce-mark=\"1\">Zasad&iacute;me se o to, aby radnice svou
    činnost&iacute; nezasahovala do konkurenčn&iacute;ho prostřed&iacute; a t&iacute;m
    zlep&scaron;ila tržn&iacute; podm&iacute;nky.</span></p>\r\n</li>\r\n</ul>\r\n<ul
    style=\"text-align: justify;\">\r\n<li dir=\"ltr\">\r\n<p dir=\"ltr\"><span data-mce-mark=\"1\">Zru&scaron;&iacute;me
    poplatek za z&aacute;bor veřejn&eacute;ho prostranstv&iacute;, t&iacute;m sn&iacute;ž&iacute;me
    drobn&yacute;m podnikatelům n&aacute;klady i administrativn&iacute; z&aacute;těž.</span></p>\r\n</li>\r\n</ul>\r\n<p
    style=\"text-align: justify;\">&nbsp;</p>\r\n<p style=\"text-align: justify;\">&nbsp;</p>\r\n<h3
    style=\"text-align: justify;\" dir=\"ltr\"><span data-mce-mark=\"1\">4) Čist&eacute;
    a bezpečn&eacute; ulice</span></h3>\r\n<ul style=\"text-align: justify;\">\r\n<li
    dir=\"ltr\">\r\n<p dir=\"ltr\">Prosad&iacute;me pravideln&eacute; hl&iacute;dky
    str&aacute;žn&iacute;ků Městsk&eacute; policie v rizikov&yacute;ch lokalit&aacute;ch.</p>\r\n</li>\r\n<li
    dir=\"ltr\">\r\n<p dir=\"ltr\">Městsk&aacute; policie v současn&eacute; době zaměstn&aacute;v&aacute;
    př&iacute;li&scaron; mnoho administrativn&iacute;ch pracovn&iacute;ků. Tento počet
    chceme sn&iacute;žit a naopak nav&yacute;&scaron;it kapacity str&aacute;žn&iacute;ků
    v ulic&iacute;ch.</p>\r\n</li>\r\n<li dir=\"ltr\">\r\n<p dir=\"ltr\"><span data-mce-mark=\"1\">Městsk&aacute;
    policie by se měla prim&aacute;rně starat o poř&aacute;dek a čistotu v obci a
    ne o vyb&iacute;r&aacute;n&iacute; pokut za &uacute;čelem naplněn&iacute; veřejn&yacute;ch
    rozpočtů.</span></p>\r\n</li>\r\n</ul>\r\n<p style=\"text-align: justify;\">&nbsp;</p>\r\n<p
    style=\"text-align: justify;\">&nbsp;</p>\r\n<h3 style=\"text-align: justify;\"
    dir=\"ltr\"><span data-mce-mark=\"1\">5) Průhledn&aacute; a liber&aacute;ln&iacute;
    radnice</span></h3>\r\n<ul style=\"text-align: justify;\">\r\n<li dir=\"ltr\">\r\n<p
    dir=\"ltr\"><span data-mce-mark=\"1\">Hl&aacute;s&iacute;me se k projektu Průhledn&aacute;
    radnice (</span><a href=\"http://www.pruhlednaradnice.cz/\"><span data-mce-mark=\"1\">www.pruhlednaradnice.cz</span></a><span
    data-mce-mark=\"1\">).</span></p>\r\n</li>\r\n<li dir=\"ltr\">\r\n<p dir=\"ltr\"><span
    data-mce-mark=\"1\">Zaveden&iacute;m transparentn&iacute;ho &uacute;čtu zamez&iacute;me
    pl&yacute;tv&aacute;n&iacute; veřejn&yacute;ch peněz. </span></p>\r\n</li>\r\n</ul>\r\n<ul
    style=\"text-align: justify;\">\r\n<li dir=\"ltr\">\r\n<p dir=\"ltr\"><span data-mce-mark=\"1\">Ve&scaron;ker&eacute;
    podklady pro jedn&aacute;n&iacute; zastupitelstva zveřejn&iacute;me na webov&yacute;ch
    str&aacute;nk&aacute;ch městsk&eacute; č&aacute;sti s dostatečn&yacute;m předstihem,
    aby se s nimi mohla sezn&aacute;mit veřejnost.</span></p>\r\n</li>\r\n</ul>\r\n<ul
    style=\"text-align: justify;\">\r\n<li dir=\"ltr\">\r\n<p dir=\"ltr\"><span data-mce-mark=\"1\">Chceme
    zru&scaron;it poplatek za psa a omezit i dal&scaron;&iacute; obecn&iacute; poplatky
    tak, aby radnice poskytovala občanům nezbytn&yacute; servis a nest&aacute;la v
    cestě jejich individu&aacute;ln&iacute;m z&aacute;jmům</span><span data-mce-mark=\"1\">.</span></p>\r\n</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<h3
    dir=\"ltr\"><span data-mce-mark=\"1\">6) Nov&aacute; z&aacute;stavba a urbanismus
    Jižn&iacute;ho Města</span></h3>\r\n<ul>\r\n<li dir=\"ltr\">\r\n<p dir=\"ltr\"><span
    data-mce-mark=\"1\">Zasad&iacute;me se o revitalizaci okol&iacute; metra H&aacute;je
    a metra Opatov.</span></p>\r\n</li>\r\n<li dir=\"ltr\">\r\n<p dir=\"ltr\"><span
    data-mce-mark=\"1\">Podporujeme rozumn&eacute; ře&scaron;en&iacute; pro Trojmez&iacute;,
    kter&eacute; bude splňovat protikorupčn&iacute; podm&iacute;nky a z&aacute;sady
    tržn&iacute;ho prostřed&iacute;.</span></p>\r\n</li>\r\n</ul>\r\n<ul>\r\n<li dir=\"ltr\">\r\n<p
    dir=\"ltr\"><span data-mce-mark=\"1\">Z&aacute;stavba voln&yacute;ch ploch Jižn&iacute;ho
    Města mus&iacute; korespondovat s popt&aacute;vkou a urbanistick&yacute;mi z&aacute;sadami
    s velk&yacute;m důrazem na zkvalitněn&iacute; dopravn&iacute; infrastruktury a
    dopravn&iacute; obslužnosti.</span></p>\r\n</li>\r\n</ul>\r\n<h3 style=\"text-align:
    justify;\"><strong>&nbsp;</strong></h3>\r\n<p style=\"text-align: justify;\">&nbsp;</p>\r\n<h1
    style=\"text-align: justify;\"><span data-mce-mark=\"1\">N&aacute;&scaron; c&iacute;l</span></h1>\r\n<p
    style=\"text-align: justify;\" dir=\"ltr\">Zasad&iacute;me se o průhledn&eacute;
    fungovan&iacute; radnice a do budoucna zabr&aacute;n&iacute;me nesmysln&yacute;m
    a předražen&yacute;m zak&aacute;zk&aacute;m. Město nem&aacute; podnikat a zasahovat
    tak do konkurenčn&iacute;ho prostřed&iacute;, ale přenechat tyto aktivity soukromn&iacute;kům.
    Ti nejl&eacute;pe věd&iacute;, kter&eacute; projekty maj&iacute;, nebo nemaj&iacute;
    smysl. Za veřejn&eacute; pen&iacute;ze by se měla radnice prim&aacute;rně starat
    o veřejn&eacute; statky, tj. silnice, chodn&iacute;ky, n&aacute;měst&iacute; a
    parky, či investovat do vzděl&aacute;n&iacute;.</p>\r\n<p style=\"text-align:
    justify;\" dir=\"ltr\">Na&scaron;&iacute;m dal&scaron;&iacute;m c&iacute;lem je
    snižov&aacute;n&iacute;, popř&iacute;padě ru&scaron;en&iacute; regulac&iacute;
    a poplatků v oblastech života, &nbsp;kter&eacute; se n&aacute;s každodenně dot&yacute;kaj&iacute;
    (doprava, daně z nemovitosti, poplatky za psy).</p>\r\n<p style=\"text-align:
    justify;\" dir=\"ltr\">Městsk&aacute; policie by se měla zaměřit sp&iacute;&scaron;e
    na pot&iacute;r&aacute;n&iacute; kriminality než na pokutov&aacute;n&iacute; slu&scaron;n&yacute;ch
    lid&iacute; na silnici za &uacute;čelem naplněn&iacute; veřejn&yacute;ch rozpočtů.
    Oček&aacute;van&yacute;m v&yacute;sledkem na&scaron;&iacute; činnosti je spokojen&yacute;
    a nič&iacute;m neru&scaron;en&yacute; život na Praze 11.</p>\r\n<p style=\"text-align:
    justify;\">&nbsp;</p>\r\n<p style=\"text-align: justify;\">&nbsp;</p>\r\n<h1 style=\"text-align:
    justify;\" dir=\"ltr\"><span data-mce-mark=\"1\">Svobodn&iacute; v komun&aacute;ln&iacute;
    politice vych&aacute;zej&iacute; obecně z těchto principů:</span></h1>\r\n<ol
    style=\"text-align: justify;\">\r\n<li style=\"text-align: justify;\">Obce hospodař&iacute;
    zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute; jen v mimoř&aacute;dn&yacute;ch
    situac&iacute;ch za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů.
    Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute; prosazuj&iacute;
    jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona o vyrovnan&eacute;m
    rozpočtu na &uacute;rovni st&aacute;tu.</li>\r\n<li style=\"text-align: justify;\">Obce
    vynakl&aacute;daj&iacute; prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute;
    statky, tj. na obecn&iacute; silnice, chodn&iacute;ky a zaji&scaron;těn&iacute;
    poř&aacute;dku a čistoty v obc&iacute;ch.</li>\r\n<li style=\"text-align: justify;\">Obce
    z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute; deformovat
    tržn&iacute; prostřed&iacute;.</li>\r\n<li style=\"text-align: justify;\">Obce
    ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně
    konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</li>\r\n<li style=\"text-align:
    justify;\">V př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute;
    odvol&aacute;vat na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy
    jsou veřejn&eacute;.</li>\r\n<li style=\"text-align: justify;\">Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</li>\r\n</ol>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
