---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p><strong>10 hlavn&iacute;ch bodů programu</strong></p>\r\n<p>1)
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Vyrovnan&yacute;
    rozpočet města</p>\r\n<p>2) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Nepodpoř&iacute;me realizaci projektů pouze z důvodu možnosti obdržen&iacute;
    dotace z EU.</p>\r\n<p>3)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Bezpečnost - prioritou městsk&eacute; policie bude cht&aacute;nit životy a majetek
    občanů města.</p>\r\n<p>4)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Odstraněn&iacute; přek&aacute;žek v&nbsp;podnik&aacute;n&iacute; &ndash; revize
    obecn&iacute;ch vyhl&aacute;&scaron;ek</p>\r\n<p>5) &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;Financov&aacute;n&iacute; sportu a kultury bez z&aacute;vislosti
    na politice</p>\r\n<p>6)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Sn&iacute;žen&iacute; daně z&nbsp;nemovitosti</p>\r\n<p>7) &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;Bezplatn&yacute; svoz komun&aacute;ln&iacute;ho odpadu</p>\r\n<p>8)
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Zru&scaron;en&iacute; poplatku
    za psa</p>\r\n<p>9) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Podpora vzniku
    nov&yacute;ch soukrom&yacute;ch &scaron;kolek</p>\r\n<p>10) &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;Zpř&iacute;stupnit zased&aacute;n&iacute; zastupitelstva online</p>\r\n<p>&nbsp;</p>\r\n<p><strong>Volebn&iacute;
    program</strong></p>\r\n<p><strong>HOSPODAŘEN&Iacute;</strong></p>\r\n<p>Město
    m&aacute; s penězi daňov&yacute;ch poplatn&iacute;ků nakl&aacute;dat hospod&aacute;rně
    a transparentně. Jeho hlavn&iacute;m &uacute;kolem je starat se o veřejn&eacute;
    statky a umožnit lidem ž&iacute;t život tak, jak oni chtěj&iacute;, nikoliv tak,
    jak jim ho někdo jin&yacute; napl&aacute;nuje. Město pokud možno nem&aacute; dotovat
    volnočasov&eacute; aktivity jedn&eacute; skupiny lid&iacute; z peněz v&scaron;ech
    občanů a současně m&aacute; nechat lidem co nejv&iacute;ce peněz v jejich peněženk&aacute;ch.</p>\r\n<ul>\r\n<li>Obce
    vynakl&aacute;daj&iacute; prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute;
    statky, tj. na obecn&iacute; silnice, chodn&iacute;ky a zaji&scaron;těn&iacute;
    poř&aacute;dku a čistoty v obc&iacute;ch.</li>\r\n<li>Rozpočet obce mus&iacute;
    b&yacute;t navržen jako věrohodně vyrovnan&yacute;, pro jin&yacute; nebudeme hlasovat.</li>\r\n<li>Požadujeme,
    aby v&scaron;echny př&iacute;spěvkov&eacute; organizace a firmy ve vlastnictv&iacute;
    města zveřejňovaly svůj rozpočet popř. &uacute;četn&iacute; z&aacute;věrku stejn&yacute;m
    způsobem, jako to děl&aacute; samotn&yacute; magistr&aacute;t.</li>\r\n<li>Nepodpoř&iacute;me
    realizaci projektu pouze z&nbsp;důvodu možnosti obdržen&iacute; dotace z&nbsp;EU.</li>\r\n<li>Obce
    z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute; deformovat
    tržn&iacute; prostřed&iacute;.</li>\r\n<li>Chceme, aby ze zased&aacute;n&iacute;
    zastupitelstva byl kromě z&aacute;pisu pořizov&aacute;n i audiovizu&aacute;ln&iacute;
    z&aacute;znam, kter&yacute; bude zveřejněn a př&iacute;padně i živě vys&iacute;l&aacute;n
    na internetu.</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p><strong>PODNIK&Aacute;N&Iacute;</strong></p>\r\n<p>Mezi
    nejdůležitěj&scaron;&iacute; principy Svobodn&yacute;ch patř&iacute; &bdquo;laissez-faire&ldquo;,
    tedy &bdquo;nechat věci b&yacute;t&ldquo;. Podle t&eacute;to z&aacute;sady město
    samo nem&aacute; podnikat ani nem&aacute; do podnik&aacute;n&iacute; zasahovat
    zbytečn&yacute;mi regulacemi. <br /> V ž&aacute;dn&eacute;m př&iacute;padě město
    nem&aacute; preferovat jeden podnik na &uacute;kor jin&eacute;ho nebo sv&yacute;m
    rozhodov&aacute;n&iacute;m př&iacute;mo někomu v podnik&aacute;n&iacute; br&aacute;nit.</p>\r\n<ul>\r\n<li>Navrhneme
    zru&scaron;en&iacute; v&yacute;běru poplatku z ubytovac&iacute; kapacity. Tyto
    poplatky zbytečně administrativně i ekonomicky zatěžuj&iacute; podnikatele.</li>\r\n<li>Nakolik
    n&aacute;m to dovol&iacute; z&aacute;kony Česk&eacute; republiky, nebudeme kl&aacute;st
    firm&aacute;m a živnostn&iacute;kům nesmysln&eacute; přek&aacute;žky v podnik&aacute;n&iacute;.
    Provedeme tak&eacute; revizi obecn&iacute;ch vyhl&aacute;&scaron;ek a navrhneme
    zru&scaron;en&iacute; zbytečn&yacute;ch regulac&iacute;.</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p><strong>KULTURA
    A SPORT</strong></p>\r\n<p>Přestože jsou Svobodn&iacute; přesvědčeni, že kultura
    a sport nepatř&iacute; mezi veřejn&eacute; statky a město by nemělo na jejich
    podporu vynakl&aacute;dat prostředky daňov&yacute;ch poplatn&iacute;ků, nechtěj&iacute;
    přispět k vypjat&yacute;m situac&iacute;m a budou se vždy snažit, aby snižov&aacute;n&iacute;
    dotac&iacute; bylo postupn&eacute; a dopředu avizovan&eacute;. Tak, aby nedo&scaron;lo
    ke zbytečn&eacute; likvidaci nějak&eacute;ho spolku jen proto, že mu nebude d&aacute;n
    čas na zaji&scaron;těn&iacute; si jin&eacute;ho způsobu financov&aacute;n&iacute;.</p>\r\n<p>Svobodn&iacute;
    nevěř&iacute;, že omezen&iacute;m či dokonce zru&scaron;en&iacute;m dotac&iacute;
    do sportu nebo kultury se z občanů Litoměřic stanou nekulturn&iacute; nesportovci.
    N&aacute;v&scaron;těvnost divadla i sportovn&iacute;ch akc&iacute; dokazuje, že
    lid&eacute; maj&iacute; o tyto aktivity z&aacute;jem a r&aacute;di si zaplat&iacute;
    za to, co chtěj&iacute;. Svobodn&iacute; budou prosazovat sn&iacute;žen&iacute;
    dotac&iacute; tak, aby u&scaron;etřen&eacute; prostředky zůstali občanům - aby
    si sami rozhodli, jestli si zaplat&iacute; divadlo nebo např. basketbalov&eacute;
    utk&aacute;n&iacute;.</p>\r\n<p><strong>&nbsp;</strong></p>\r\n<p><strong>BEZPEČNOST</strong></p>\r\n<p>Zajist&iacute;me
    takovou městskou policii, kter&aacute; bude chr&aacute;nit životy i majetek občanů
    města.&nbsp;Odm&iacute;t&aacute;me, aby prioritou městsk&eacute; policie bylo
    měřen&iacute; rychlosti a udělov&aacute;n&iacute; pokut za &scaron;patn&eacute;
    parkov&aacute;n&iacute;.</p>\r\n<p>&nbsp;</p>\r\n<p><strong>MATEŘSK&Eacute; &Scaron;KOLKY</strong></p>\r\n<p>Protože
    nen&iacute; v sil&aacute;ch ž&aacute;dn&eacute; obce dlouhodobě zaji&scaron;ťovat
    optim&aacute;ln&iacute; počet m&iacute;st ani optim&aacute;ln&iacute; kvalitu
    <br /> v mateřsk&yacute;ch &scaron;kolk&aacute;ch, považujeme za kl&iacute;čov&eacute;
    uvolněn&iacute; konkurence v t&eacute;to oblasti. <strong>Radnice mus&iacute;
    adresně přisp&iacute;vat vždy na konkr&eacute;tn&iacute; d&iacute;tě bez ohledu
    na to, zda toto nav&scaron;těvuje &scaron;kolu veřejnou č&iacute; soukromou.</strong>
    Město tak&eacute; nesm&iacute; br&aacute;nit vzniku nov&yacute;ch soukrom&yacute;ch
    &scaron;kolek. T&iacute;mto odstran&iacute;me konkurenčn&iacute; nev&yacute;hodu
    soukrom&yacute;ch &scaron;kol a umožn&iacute;me spravedlivou soutěž v&scaron;ech
    subjektů.</p>\r\n<p>&nbsp;</p>\r\n<p><strong>SN&Iacute;ŽEN&Iacute; DAŇOV&Eacute;
    Z&Aacute;TĚŽE&nbsp;</strong>(ru&scaron;en&iacute; poplatků)</p>\r\n<ul>\r\n<li>Bezplatn&yacute;
    svoz komun&aacute;ln&iacute;ho odpadu (V&iacute;me, že z&nbsp;principu je poplatek
    spr&aacute;vn&yacute;, ale jedn&aacute; se jednu z&nbsp;m&aacute;la cest, jak
    vr&aacute;tit občanům alespoň malou č&aacute;st jejich př&iacute;jmů odevzdan&yacute;ch
    na dan&iacute;ch.)</li>\r\n<li>Sn&iacute;žen&iacute; daně z&nbsp;nemovitosti</li>\r\n<li>Zru&scaron;en&iacute;
    poplatku za psa</li>\r\n<li>Zru&scaron;en&iacute; poplatku z ubytovac&iacute;
    kapacity</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<p>Svobodn&iacute;
    v komun&aacute;ln&iacute; politice vych&aacute;z&iacute; obecně z těchto principů:</p>\r\n<ol>\r\n<li>Obce
    hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute;
    jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute;
    vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute;
    prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona
    o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</li>\r\n<li>Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v
    obc&iacute;ch.</li>\r\n<li>Obce z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi
    aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.</li>\r\n<li>Obce
    ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně
    konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</li>\r\n<li>V
    př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat
    na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</li>\r\n<li>Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</li>\r\n</ol>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
