---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<p>Diskutujte s n&aacute;mi na <a title=\"Facebook Svobodn&iacute;
    Nov&yacute; Bydžov\" href=\"https://www.facebook.com/nb.svobodni\" target=\"_self\">Facebooku</a></p>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<table
    style=\"width: 591px; height: 284px;\" border=\"0\" align=\"left\">\r\n<tbody>\r\n<tr>\r\n<td><span
    style=\"font-size: large;\"><strong>Michal Krejč&iacute;</strong></span></td>\r\n<td>&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td><img
    src=\"/samples/assets/michal_DSC_0998.jpg\" alt=\"\" width=\"175\" height=\"250\"
    /></td>\r\n<td>\r\n<p>Koordin&aacute;tor pobočky Nov&yacute; Bydžov&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>\r\n<p>608
    420 127</p>\r\n<p>don.night@post.cz</p>\r\n</td>\r\n</tr>\r\n</tbody>\r\n</table>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}