---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p style=\"text-align: justify;\">Jsme přev&aacute;žně mlad&iacute;
    lid&eacute; v produktivn&iacute;m věku nebo studuj&iacute;c&iacute;. Přesto, nebo
    možn&aacute; pr&aacute;vě proto, si uvědomujeme <strong>potřebu změny na radnici</strong>.
    Modern&iacute; město mus&iacute; občany o sv&eacute; činnosti v&nbsp;maxim&aacute;ln&iacute;
    možn&eacute; m&iacute;ře informovat a&nbsp;o&nbsp;z&aacute;sadn&iacute;ch kroc&iacute;ch
    rozhodovat vždy po <strong>dialogu s občany</strong>. Včasn&eacute; a&nbsp;důkladn&eacute;
    informov&aacute;n&iacute; mohlo v minulosti předej&iacute;t mnoh&yacute;m nedorozuměn&iacute;m
    a petic&iacute;m.</p>\r\n<p style=\"text-align: justify;\">V souvislosti s&nbsp;informovanost&iacute;
    občanů prosad&iacute;me <strong>transparentn&iacute; hospodařen&iacute;</strong>.
    Na internetov&yacute;ch str&aacute;nk&aacute;ch města přehledně <strong>zveřejn&iacute;me
    ve&scaron;ker&eacute; smlouvy</strong> uzavřen&eacute; městem, rozpočty organizac&iacute;
    dotovan&yacute;ch městem, z&aacute;pisy z&nbsp;komis&iacute; a v&yacute;borů města,
    zvukov&eacute; z&aacute;znamy ze zased&aacute;n&iacute; zastupitelstva a dal&scaron;&iacute;
    dokumenty souvisej&iacute;c&iacute; s&nbsp;veřejnou spr&aacute;vou a veřejn&yacute;mi
    financemi. Veřejn&eacute; zak&aacute;zky budou zad&aacute;v&aacute;ny z&aacute;sadně
    v <strong>otevřen&eacute;m zad&aacute;vac&iacute;m ř&iacute;zen&iacute;</strong>.
    Nepřipust&iacute;me zadlužen&iacute; města, rozpočet budeme koncipovat jako vyrovnan&yacute;
    nebo přebytkov&yacute;.</p>\r\n<p style=\"text-align: justify;\">Prim&aacute;rn&iacute;
    činnost&iacute; města je <strong>starost o veřejn&aacute; prostranstv&iacute;</strong>,
    jako jsou chodn&iacute;ky, m&iacute;stn&iacute; komunikace, osvětlen&iacute; apod.
    Podporujeme <strong>rekonstrukci &bdquo;velk&eacute;ho čtverce&ldquo;</strong>,
    ale nikoliv v podobě studie zadan&eacute; st&aacute;vaj&iacute;c&iacute;m zastupitelstvem,
    kde by se z &scaron;irok&eacute; Karlovy ulice umožňuj&iacute;c&iacute; obousměrn&yacute;
    provoz měla st&aacute;t &uacute;zk&aacute; jednosměrka s cyklostezkami po obou
    stran&aacute;ch vedouc&iacute;mi odnikud nikam. Naopak považujeme za prioritn&iacute;
    z&nbsp;důvodu bezpečnosti <strong>oddělen&iacute; provozu chodců a cyklistů od
    motorov&eacute; dopravy</strong> na trase z Chudonic do Z&aacute;bědova a průmyslov&eacute;
    z&oacute;ny, a to rekonstrukc&iacute; st&aacute;vaj&iacute;c&iacute;ho chodn&iacute;ku
    a v&yacute;stavbou nov&yacute;ch komunikac&iacute; pro chodce a cyklisty.</p>\r\n<p
    style=\"text-align: justify;\"><strong>Daň z nemovitosti</strong> zachov&aacute;me
    na nejniž&scaron;&iacute; možn&eacute; &uacute;rovni a nebudeme zvy&scaron;ovat
    ani dal&scaron;&iacute; poplatky. Daň z&nbsp;nemovitosti je už z principu nemor&aacute;ln&iacute;,
    ale z pozice zastupitelstva města ji nen&iacute; možn&eacute; zru&scaron;it. Vybranou
    č&aacute;stku z t&eacute;to daně použijeme na <strong>sn&iacute;žen&iacute; poplatku
    za svoz a likvidaci komun&aacute;ln&iacute;ho odpadu</strong> v&scaron;em občanům
    rovn&yacute;m d&iacute;lem jako kompenzaci t&eacute;to daně.</p>\r\n<p style=\"text-align:
    justify;\">Jako v&aacute;žn&yacute; probl&eacute;m pro rozvoj města v dlouhodob&eacute;m
    horizontu vid&iacute;me odchod mlad&yacute;ch lid&iacute;. Bude např&iacute;klad
    velmi obt&iacute;žn&eacute; <strong>udržet provoz st&aacute;vaj&iacute;c&iacute;ch
    &scaron;kol</strong> a zabr&aacute;nit jejich slučov&aacute;n&iacute;, pokud bude
    ub&yacute;vat ž&aacute;ků a studentů. Pro udržen&iacute; mlad&yacute;ch lid&iacute;
    ve městě je důležit&aacute; <strong>nab&iacute;dka adekv&aacute;tn&iacute;ch pracovn&iacute;ch
    m&iacute;st</strong>. Proto v průmyslov&eacute; z&oacute;ně upřednostňujeme vznik
    pracovn&iacute;ch m&iacute;st souvisej&iacute;c&iacute;ch s modern&iacute;mi technologiemi
    před těžkou průmyslovou v&yacute;robou, kde je nav&iacute;c v posledn&iacute;
    době d&aacute;v&aacute;na přednost agenturn&iacute;m zaměstnancům z v&yacute;chodn&iacute;
    Evropy před m&iacute;stn&iacute;mi lidmi. Ani drobn&yacute;m živnostn&iacute;kům
    a řemesln&iacute;kům nesm&iacute; město zbytečně stěžovat jejich podnik&aacute;n&iacute;.</p>\r\n<p
    style=\"text-align: justify;\">Druhou věc&iacute; pro udržen&iacute; mlad&yacute;ch
    lid&iacute; ve městě je bydlen&iacute;. Zajist&iacute;me co nejrychlej&scaron;&iacute;
    rozparcelov&aacute;n&iacute; are&aacute;lu b&yacute;val&eacute; pily, kter&yacute;
    město v minulosti koupilo, a prodej pro <strong>individu&aacute;ln&iacute; v&yacute;stavbu
    rodinn&yacute;ch domů</strong>. Z&aacute;roveň podpoř&iacute;me dal&scaron;&iacute;
    roz&scaron;&iacute;řen&iacute; z&aacute;stavby v lokalitě &bdquo;Za Trat&iacute;&ldquo;.</p>\r\n<p><span
    style=\"font-size: x-large;\"><strong>Svobodn&iacute; v komun&aacute;ln&iacute;
    politice vych&aacute;z&iacute; obecně z těchto principů:</strong></span></p>\r\n<ol>\r\n<li>Obce
    hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute;
    jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute;
    vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute;
    prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona
    o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</li>\r\n<li>Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v
    obc&iacute;ch.</li>\r\n<li>Obce z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi
    aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.</li>\r\n<li>Obce
    ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně
    konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</li>\r\n<li>V
    př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat
    na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</li>\r\n<li>Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</li>\r\n</ol>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
