---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<h2>Co vn&iacute;m&aacute;me jako nejdůležitěj&scaron;&iacute;:</h2>\r\n<ul>\r\n<li><span
    style=\"line-height: 1.5em;\" data-mce-mark=\"1\">zlep&scaron;it hospodařen&iacute;
    města a snižovat zadlužen&iacute;&nbsp;</span></li>\r\n<li><span style=\"line-height:
    1.5em;\" data-mce-mark=\"1\">sn&iacute;žit daňovou z&aacute;těž obyvatel (sn&iacute;žit
    daně z nemovitost&iacute; a poplatky za odpady)</span></li>\r\n<li><span style=\"line-height:
    1.5em;\" data-mce-mark=\"1\">zv&yacute;&scaron;it protipovodňov&eacute; hr&aacute;ze,
    vybudovat funkčn&iacute; ře&scaron;en&iacute; pro cel&eacute; Řevnice</span></li>\r\n<li><span
    style=\"line-height: 1.5em;\" data-mce-mark=\"1\">opravit a vylep&scaron;it veřejn&eacute;
    prostory &ndash; n&aacute;měst&iacute;, předn&aacute;dražn&iacute; prostor, ulice,
    chodn&iacute;ky a parky</span></li>\r\n<li><span style=\"line-height: 1.5em;\"
    data-mce-mark=\"1\">zajistit transparentnost provozu města, zefektivnit chod města</span></li>\r\n<li><span
    style=\"line-height: 1.5em;\" data-mce-mark=\"1\">podpořit stabilitu Z&aacute;kladn&iacute;
    &scaron;koly Řevnice</span></li>\r\n<li><span style=\"line-height: 1.5em;\" data-mce-mark=\"1\">zv&yacute;&scaron;it
    bezpečnost ve městě, zajistit efektivn&iacute; a levn&eacute; městsk&eacute; str&aacute;žn&iacute;ky</span></li>\r\n<li><span
    style=\"line-height: 1.5em;\" data-mce-mark=\"1\">podporovat organizace pracuj&iacute;c&iacute;
    s dětmi a ml&aacute;dež&iacute;</span></li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<ol>\r\n<li>\r\n<h3><strong>Hospodařen&iacute;
    městsk&eacute;ho &uacute;řadu a městsk&eacute; společnosti EKOS</strong></h3>\r\nEfektivn&iacute;
    hospodařen&iacute; města je pro n&aacute;s důležit&eacute;. Proto budeme prosazovat:</li>\r\n<ul>\r\n<li><span
    style=\"line-height: 1.5em;\" data-mce-mark=\"1\"><strong>efektivn&iacute; hospodařen&iacute;
    společnosti EKOS</strong><br /></span>Zasad&iacute;me se, aby EKOS dobře hospodařil
    s městsk&yacute;m majetkem a poskytoval městu dobr&eacute; služby. Město nen&iacute;
    podnikatelem, proto by nemělo přes společnost EKOS podnikat s obecn&iacute;mi
    prostředky, na riziko občanů a z&aacute;roveň t&iacute;m konkurovat m&iacute;stn&iacute;m
    podnikatelům.</li>\r\n<li><strong>sn&iacute;žen&iacute; zadluženosti města&nbsp;</strong><br
    />Budeme pracovat na dlouhodob&eacute;m snižov&aacute;n&iacute; zadluženosti města.
    Vzhledem ke &scaron;patn&eacute;mu stavu městsk&eacute; infrastruktury se v&scaron;ak
    nemůžeme zcela zř&iacute;ci &uacute;věrov&aacute;n&iacute; investičn&iacute;ch
    akc&iacute;. Zadluženost v&scaron;ak mus&iacute; b&yacute;t vždy takov&aacute;,
    aby pro město neznamenala př&iacute;li&scaron;nou z&aacute;těž. Dlouhodobě chceme
    vyrovnan&eacute; rozpočty.</li>\r\n</ul>\r\n<li>\r\n<h3><strong>Sn&iacute;žen&iacute;
    dan&iacute; a poplatků</strong></h3>\r\n<a href=\"http://web.svobodni.cz/\" target=\"_blank\">Strana
    svobodn&yacute;ch občanů</a> m&aacute; na celorepublikov&eacute; &uacute;rovni
    detailně propracovan&yacute; program t&yacute;kaj&iacute;c&iacute; se snižov&aacute;n&iacute;
    dan&iacute;. Svobodn&iacute; podporuj&iacute; změny daňov&yacute;ch z&aacute;konů
    tak, aby maximum peněz zůstalo v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute;
    jak na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    peněz občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute; unie je třeba
    odstranit. Č&aacute;st tohoto programu chceme uplatnit i v na&scaron;em městě.
    Chceme:</li>\r\n<ul>\r\n<li><strong>sn&iacute;žit daň z nemovitost&iacute;&nbsp;</strong><br
    />Pen&iacute;ze na zlep&scaron;ov&aacute;n&iacute; městsk&eacute;ho prostřed&iacute;
    zaji&scaron;ťovat raději &uacute;sporami a &scaron;etrn&yacute;m hospodařen&iacute;m.</li>\r\n<li><strong>sn&iacute;žit
    poplatky za odpady</strong><br />Motivovat občany k vět&scaron;&iacute;mu tř&iacute;děn&iacute;
    odpadů a t&iacute;m dos&aacute;hnout &uacute;spor na svoz odpadů. D&iacute;ky
    tomu budeme moci sn&iacute;žit poplatky hlavně občanům, kter&yacute;ch v jedn&eacute;
    nemovitosti (bytov&eacute; jednotce) bydl&iacute; v&iacute;ce a přitom maj&iacute;
    stejn&yacute; počet popelnic, jako ten, kdo bydl&iacute; s&aacute;m.</li>\r\n</ul>\r\n<li>\r\n<h3><strong>Vzhled
    města, n&aacute;měst&iacute;, ulic, chodn&iacute;ků a parků</strong></h3>\r\nDo
    těchto voleb jdeme v&scaron;ichni tak&eacute; proto, že se již nechceme d&iacute;vat
    na stav ulic na&scaron;eho města, nejhor&scaron;&iacute; v regionu. P&aacute;r
    velk&yacute;ch investic (hlavně kanalizace) m&aacute; město již t&eacute;měř za
    sebou a nyn&iacute; je zapotřeb&iacute; se zaměřit na investice do na&scaron;eho
    prostřed&iacute; &ndash; n&aacute;měst&iacute;, předn&aacute;draž&iacute;, ulic,
    chodn&iacute;ků. Proto chceme:</li>\r\n<ul>\r\n<li><span style=\"line-height:
    1.5em;\" data-mce-mark=\"1\"><strong>v&iacute;ce přem&yacute;&scaron;let při budov&aacute;n&iacute;
    nov&yacute;ch povrchů ulic a chodn&iacute;ků&nbsp;</strong><br />Stavět &scaron;etrně
    a po důkladn&eacute;m projedn&aacute;n&iacute; s občany, kteř&iacute; v dotyčn&eacute;
    ulici bydl&iacute;, s v&yacute;stavbou nov&yacute;ch povrchů ulic a chodn&iacute;ků
    ře&scaron;it kompletně př&iacute;padn&eacute; rekonstrukce a přeložky st&aacute;vaj&iacute;c&iacute;ch
    produktovodů, odvod de&scaron;ťov&eacute; vody, zabezpečit souvisej&iacute;c&iacute;
    prvky, jako je veřejn&eacute; osvětlen&iacute; a hn&iacute;zda pro um&iacute;stěn&iacute;
    n&aacute;dob na tř&iacute;děn&yacute; odpad.</span></li>\r\n<li><strong>motivovat
    občany k obnově chodn&iacute;ků&nbsp;</strong><br />Obnovit poskytov&aacute;n&iacute;
    z&aacute;mkov&eacute; dlažby zdarma. Kdo si bude cht&iacute;t udělat nov&yacute;
    chodn&iacute;k před sv&yacute;m domem, dostane hlavn&iacute; č&aacute;st materi&aacute;lu
    od města.</li>\r\n<li><strong>vyře&scaron;it předn&aacute;dražn&iacute; prostor</strong><br
    />N&aacute;draž&iacute; a navazuj&iacute;c&iacute; plochy mus&iacute; b&yacute;t
    reprezentativn&iacute; vstupn&iacute; branou do Řevnic. S t&iacute;mto &uacute;kolem
    je spojeno i parkov&aacute;n&iacute; u n&aacute;draž&iacute;. Budeme se snažit
    vykoupit pozemky za n&aacute;draž&iacute;m od Eurovie a zř&iacute;dit nov&aacute;
    parkovac&iacute; m&iacute;sta. Prodiskutujeme možnost P+R parkovi&scaron;tě v
    jin&eacute; lokalitě města &ndash; po diskuzi s občany.</li>\r\n<li><strong>pracovat
    v lokalitě &bdquo;Za vodou&ldquo;</strong><br />Pokračovat v odvodňov&aacute;n&iacute;
    ulic a voln&yacute;ch prostranstv&iacute;, zlep&scaron;it vzhled sběrn&eacute;ho
    m&iacute;sta, vystavět chodn&iacute;k od l&aacute;vky až k z&aacute;stavbě. Pom&aacute;hat
    d&aacute;le občanům při povodn&iacute;ch a lok&aacute;ln&iacute;ch z&aacute;plav&aacute;ch.
    Zlep&scaron;&iacute;me &uacute;držbu zeleně v lokalitě &bdquo;Za vodou&ldquo;.</li>\r\n<li><strong>technick&eacute;
    služby</strong><br />Vedle rychl&eacute; obnovy z&aacute;kladn&iacute; techniky
    nastav&iacute;me nov&eacute; procesy a časov&eacute; pl&aacute;ny tak, aby pracovn&iacute;ci
    technick&yacute;ch služeb &bdquo;byli vidět&ldquo; a odv&aacute;děli pr&aacute;ci,
    za kterou jsou placeni. Zlep&scaron;&iacute;me kvalitu pr&aacute;ce při prov&aacute;děn&yacute;ch
    oprav&aacute;ch povrchů i při &uacute;držbě zeleně a dal&scaron;&iacute;ch činnostech.</li>\r\n<li><strong>zlikvidovat
    autovraky</strong><br />Chceme zajistit nejen lep&scaron;&iacute; &uacute;klid
    drobn&eacute;ho nepoř&aacute;dku, ale i likvidaci autovraků na ulic&iacute;ch.</li>\r\n</ul>\r\n<li>\r\n<h3><strong>Transparentnost
    a zefektivněn&iacute; činnosti městsk&eacute;ho &uacute;řadu</strong></h3>\r\nPři
    chodu města a městsk&eacute;ho &uacute;řadu se zaměř&iacute;me na:</li>\r\n<ul>\r\n<li><strong>transparentnost&nbsp;</strong><br
    />Městsk&yacute; &uacute;řad umožn&iacute; voln&yacute; př&iacute;stup k dokumentaci
    o zak&aacute;zk&aacute;ch města od popt&aacute;vky, přes nab&iacute;dky, smlouvy
    až po vyhodnocen&iacute; zak&aacute;zky a fakturaci. Ve smlouv&aacute;ch s dodavateli
    bude souhlas se zveřejněn&iacute;m v&scaron;ech &uacute;dajů o zak&aacute;zce.
    V&scaron;echny tyto informace budeme um&iacute;sťovat na web města, aby k nim
    měl př&iacute;stup každ&yacute;.</li>\r\n<li><strong>efektivitu a dlouhodob&eacute;
    pl&aacute;nov&aacute;n&iacute;</strong><br />Bude nutn&eacute; nastaven&iacute;
    jasn&yacute;ch procesů tak, aby každ&yacute; znal svůj &uacute;kol i odpovědnost.
    Budeme prosazovat v&aacute;z&aacute;n&iacute; odměn zaměstnanců na konkr&eacute;tn&iacute;
    v&yacute;kon a celkov&eacute; hospodařen&iacute; &uacute;řadu. Chceme zlep&scaron;it
    pl&aacute;nov&aacute;n&iacute; investic a přeb&iacute;r&aacute;n&iacute; zad&aacute;van&yacute;ch
    prac&iacute; od dodavatelů. Dodavatel&eacute; maj&iacute; pr&aacute;vo na zisk,
    my mus&iacute;me dostat kvalitn&iacute; d&iacute;lo. Dotace pokřivuj&iacute; rozhodov&aacute;n&iacute;
    obc&iacute; i ostatn&iacute;ch subjektů. Dokud v&scaron;ak budou dotace existovat
    jako jeden z důležit&yacute;ch zdrojů financov&aacute;n&iacute; města, budeme
    se snažit o jejich co největ&scaron;&iacute; využ&iacute;v&aacute;n&iacute;. Při
    těžk&eacute; předv&iacute;datelnosti vypisovan&yacute;ch dotačn&iacute;ch titulů
    je nezbytn&eacute; m&iacute;t dlouhodob&yacute; pl&aacute;n investic, kter&yacute;
    bude sloužit k rychl&eacute;mu rozhodov&aacute;n&iacute; a k efektivn&iacute;mu
    využ&iacute;v&aacute;n&iacute; dotac&iacute;.</li>\r\n</ul>\r\n<li>\r\n<h3><strong>Ochrana
    při povodn&iacute;ch&nbsp;</strong></h3>\r\nVět&scaron;ina z na&scaron;eho t&yacute;mu
    byla při a po povodn&iacute;ch v roce 2002 i 2013 n&aacute;pomocna zasažen&yacute;m
    občanům, a proto si uvědomujeme jejich situaci. Zajist&iacute;me aktualizaci povodňov&eacute;ho
    pl&aacute;nu zahrnuj&iacute;c&iacute;ho procesy, kter&eacute; by důsledky a &scaron;kody
    z budouc&iacute;ch povodn&iacute; minimalizovaly.&nbsp;<br />Zasad&iacute;me se
    o:</li>\r\n<ul>\r\n<li><span style=\"line-height: 1.5em;\" data-mce-mark=\"1\"><strong>zv&yacute;&scaron;en&iacute;
    protipovodňov&eacute; hr&aacute;ze</strong><br />Zajist&iacute;me nav&yacute;&scaron;en&iacute;
    hr&aacute;ze přisyp&aacute;n&iacute;m a nav&yacute;&scaron;en&iacute;m směrem
    od města, př&iacute;p. v&yacute;stavbou opěrn&yacute;ch zd&iacute; a vybudov&aacute;n&iacute;
    mobiln&iacute;ch z&aacute;bran.</span></li>\r\n<li><span style=\"line-height:
    1.5em;\" data-mce-mark=\"1\"><strong>&uacute;pravu dna Berounky</strong><br />Je
    potřeba st&aacute;le monitorovat stav zanesen&iacute; řeky a v př&iacute;padě
    zv&yacute;&scaron;en&eacute;ho zanesen&iacute;, hned iniciovat dal&scaron;&iacute;
    bagrov&aacute;n&iacute;.</span></li>\r\n<li><strong>uz&aacute;věr podjezdu</strong><br
    />Zajist&iacute;me skutečně funkčn&iacute; ře&scaron;en&iacute; při uz&aacute;věru
    podjezdu proti vodě, budeme ře&scaron;it možnost přečerp&aacute;v&aacute;n&iacute;
    vody v tomto m&iacute;stě z potoka v Kejn&eacute; v době, kdy je uzavřen&eacute;
    stavidlo kvůli povodni. Zv&aacute;ž&iacute;me možnost v&yacute;stavby retenčn&iacute;
    n&aacute;drže v Kejn&eacute;.</li>\r\n<li><strong>pravideln&aacute; cvičen&iacute;</strong><br
    />Zajist&iacute;me pravideln&eacute; cvičen&iacute; složek IZS (hasiči, z&aacute;chrann&aacute;
    služba, Policie ČR, městsk&aacute; policie), zaměstnanců města, EKOSu a př&iacute;padně
    dobrovoln&yacute;ch spolků tak, aby v př&iacute;padě budouc&iacute; povodně byly
    aktivity ř&iacute;zeny centr&aacute;lně a efektivně v souladu s povodňov&yacute;m
    pl&aacute;nem a dostupn&yacute;m technick&yacute;m a materi&aacute;ln&iacute;m
    vybaven&iacute;m.</li>\r\n</ul>\r\n<li>\r\n<h3><strong>&Scaron;kolstv&iacute;,
    podpora pr&aacute;ce s ml&aacute;dež&iacute;, sport, kultura</strong></h3>\r\nDěti
    jsou na&scaron;e budoucnost a chceme, aby se jim ve &scaron;kole l&iacute;bilo.
    Ze &scaron;koly by nemělo b&yacute;t politick&eacute; t&eacute;ma.</li>\r\n<ul>\r\n<li><strong>stabilita
    z&aacute;kladn&iacute; &scaron;koly a jej&iacute; roz&scaron;&iacute;řen&iacute;</strong><br
    />Kolem Z&Scaron; Řevnice bylo v posledn&iacute;ch dvou letech hodně &bdquo;ru&scaron;no&ldquo;.
    Jsme přesvědčeni, že se &scaron;kola rozv&iacute;j&iacute; spr&aacute;vn&yacute;m
    směrem, že vět&scaron;ina dět&iacute; chod&iacute; do na&scaron;&iacute; &scaron;koly
    r&aacute;da, že vět&scaron;ina pedagogů je se změnou na pozici ředitelky Z&Scaron;
    spokojena. Celkov&eacute; klima hodnot&iacute;me jako velice pozitivn&iacute;
    a jsme připraveni zabr&aacute;nit jak&yacute;mkoliv snah&aacute;m &scaron;kolu
    znovu destabilizovat. Na&scaron;&iacute;m c&iacute;lem je stabiln&iacute; &scaron;kola,
    kterou budeme moci v n&aacute;sleduj&iacute;c&iacute;ch dvou letech roz&scaron;&iacute;řit
    tak, abychom měli kapacitu pro v&scaron;echny řevnick&eacute; děti. Jsme otevřeni
    spolupr&aacute;ci se v&scaron;emi, kdo chtěj&iacute; &scaron;kole pom&aacute;hat
    a ne &scaron;kodit.&nbsp;</li>\r\n<li><strong>mateřsk&aacute; &scaron;kolka</strong><br
    />V předchoz&iacute;m volebn&iacute;m obdob&iacute; se &uacute;spě&scaron;ně podařilo
    roz&scaron;&iacute;řit, zateplit a zrekonstruovat budovu mateřsk&eacute; &scaron;kolky.
    Nyn&iacute; je třeba trochu investovat i do nov&eacute;ho vybaven&iacute;.</li>\r\n<li><strong>podpora
    ZU&Scaron;</strong><br />Po n&aacute;kupu klav&iacute;ru pokračovat i v dal&scaron;&iacute;ch
    potřebn&yacute;ch investic&iacute;ch pro jej&iacute; fungov&aacute;n&iacute;.
    Podpora kulturn&iacute;ch akc&iacute; organizovan&yacute;ch &scaron;kolou.</li>\r\n</ul>\r\nVět&scaron;ina
    z n&aacute;s pro&scaron;la množstv&iacute;m volnočasov&yacute;ch aktivit v Řevnic&iacute;ch,
    proto v&iacute;me, jak jsou prospě&scaron;n&eacute;. Chceme je podporovat a d&aacute;le
    pomoci při jejich rozv&iacute;jen&iacute;. Prosazujeme:\r\n<ul>\r\n<li><span style=\"line-height:
    1.5em;\" data-mce-mark=\"1\"><strong>podporu organizac&iacute; pracuj&iacute;c&iacute;ch
    s dětmi a ml&aacute;dež&iacute;</strong><br />C&iacute;len&eacute; rozdělov&aacute;n&iacute;
    grantu na podporu těchto organizac&iacute;. V současn&eacute; době město rozděluje
    těmto organizac&iacute;m 400tis Kč.</span></li>\r\n<li><strong>podporu řevnick&yacute;ch
    spolků a dobrovoln&yacute;ch hasičů</strong><br />Protože spolky jsou schopny
    posunovat kvalitu života v Řevnic&iacute;ch na vy&scaron;&scaron;&iacute; &uacute;roveň,
    organizovat společensk&eacute; akce a pomoci, když město potřebuje (např. povodně).</li>\r\n<li><strong>podporu
    pro kulturn&iacute; akce</strong><br />A to jak v Lesn&iacute;m divadle a kině,
    tak i na dal&scaron;&iacute;ch akc&iacute;ch, třeba na n&aacute;měst&iacute; či
    na jin&yacute;ch veřejn&yacute;ch prostranstv&iacute;ch.</li>\r\n</ul>\r\n<li>\r\n<h3><strong>Městsk&aacute;
    policie a bezpečnost ve městě</strong></h3>\r\nVn&iacute;m&aacute;me, že celkově
    je třeba pro bezpečnost města udělat v&yacute;razn&yacute; krok. Chceme znovu
    obnovit vlastn&iacute; Městskou policii. Tentokr&aacute;t ov&scaron;em efektivně
    ř&iacute;zenou s definovan&yacute;mi c&iacute;ly a &uacute;koly - to v&scaron;e
    mus&iacute; b&yacute;t spojen&eacute; s &uacute;činnou kontrolou jej&iacute; činnosti.
    Jsme přesvědčeni, že naj&iacute;m&aacute;n&iacute; policie z jin&eacute;ho města
    na p&aacute;r hodin denně nepovede k podstatn&eacute;mu zlep&scaron;en&iacute;
    situace. Budeme db&aacute;t na poměr ceny za tyto služby a v&yacute;konu v podobě
    zlep&scaron;en&eacute; bezpečnostn&iacute; situace v Řevnic&iacute;ch.</li>\r\n</ol>\r\n<p>Sledujte
    n&aacute;s na webu a <strong><a title=\"Svobodn&iacute; Řevnice - Facebook\" href=\"https://www.facebook.com/svobodni.revnice\"
    target=\"_self\">Facebooku</a></strong>, kde budou prob&iacute;hat na&scaron;e
    diskuze s v&aacute;mi, voliči, a kde budeme d&aacute;le rozv&iacute;jet v&yacute;&scaron;e
    uveden&aacute; t&eacute;mata.</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
