---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
seo_title: Svobodní Kohoutovice
meta_keywords: 'volby Kohoutovice, Svobodní, komunální volby 2014 '
editable_elements:
  main/kontakt: "<p>Přejete-li si n&aacute;m něco sdělit, kontaktujte n&aacute;s pros&iacute;m
    prostřednictv&iacute;m emailu nebo facebooku.</p>\r\n<p>email: kohoutovice@svobodni.cz</p>\r\n<p>facebook:
    <a title=\"Svobodn&iacute; Kohoutovice\" href=\"https://www.facebook.com/SvobodniKohout?fref=ts\"
    target=\"_blank\">Svobodn&iacute; Kohoutovice</a></p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}



</div>

{% endblock %}