---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
seo_title: Svobodní Kohoutovice
meta_keywords: 'volby Kohoutovice, Svobodní, komunální volby 2014 '
editable_elements:
  main/kontakt: "<p><img src=\"/samples/assets/images__2_.jpg\" alt=\"\" /></p>\r\n<p>Přejete-li
    si n&aacute;m něco sdělit, nebo se zeptat, kontaktujte n&aacute;s pros&iacute;m
    prostřednictv&iacute;m emailu nebo facebooku.</p>\r\n<p>email: kohoutovice@svobodni.cz</p>\r\n<p>facebook:
    <a title=\"Svobodn&iacute; Kohoutovice\" href=\"https://www.facebook.com/SvobodniKohout?fref=ts\"
    target=\"_blank\">Svobodn&iacute; Kohoutovice</a></p>\r\n<p>Na&scaron;e původn&iacute;
    str&aacute;nky naleznete <a href=\"https://sites.google.com/site/svobodnikohoutovice/\">zde</a>.</p>\r\n<p>Celorepublikov&yacute;
    web Svobodn&yacute;ch:&nbsp;<a href=\"http://web.svobodni.cz/\">http://web.svobodni.cz/</a></p>\r\n<p>V
    Kohoutovic&iacute;ch kandidujeme poprv&eacute;, prohl&eacute;dněte si tedy pros&iacute;m
    jakou pr&aacute;ci od n&aacute;s můžete oček&aacute;vat zde:&nbsp;</p>\r\n<p><a
    href=\"http://chrudim.svobodni.cz/clanky/co-se-nam-podarilo-prosadit-2010-2014\">http://chrudim.svobodni.cz/clanky/co-se-nam-podarilo-prosadit-2010-2014</a></p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}



</div>

{% endblock %}