---
title: Kontakty
slug: kontakty
is_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 27
seo_title: Svobodní Kohoutovice
meta_keywords: 'volby Kohoutovice, Svobodní, komunální volby 2014 '
editable_elements:
  main/kontakt: "<p><img style=\"display: block; margin-left: auto; margin-right:
    auto;\" src=\"/samples/assets/images__2_.jpg\" alt=\"\" align=\"middle\" /></p>\r\n<p
    style=\"text-align: center;\">Přejete-li si n&aacute;m něco sdělit nebo se zeptat,
    kontaktujte n&aacute;s pros&iacute;m prostřednictv&iacute;m emailu nebo facebooku</p>\r\n<p
    style=\"text-align: center;\">email: kohoutovice@svobodni.cz</p>\r\n<p style=\"text-align:
    center;\">facebook: <a title=\"Svobodn&iacute; Kohoutovice\" href=\"https://www.facebook.com/SvobodniKohout?fref=ts\"
    target=\"_blank\">Svobodn&iacute; Kohoutovice</a></p>\r\n<p style=\"text-align:
    center;\">Na&scaron;e původn&iacute; str&aacute;nky naleznete <a href=\"https://sites.google.com/site/svobodnikohoutovice/\">zde</a>.</p>\r\n<p
    style=\"text-align: center;\">Celorepublikov&yacute; <a href=\"http://web.svobodni.cz/\">web
    Svobodn&yacute;ch.</a></p>\r\n<p style=\"text-align: center;\">V Kohoutovic&iacute;ch
    kandidujeme poprv&eacute;, prohl&eacute;dněte si tedy pros&iacute;m, <a href=\"http://chrudim.svobodni.cz/clanky/co-se-nam-podarilo-prosadit-2010-2014\">jakou
    pr&aacute;ci od n&aacute;s můžete oček&aacute;vat</a>.</p>\r\n<p style=\"text-align:
    center;\">&nbsp;</p>\r\n<p style=\"text-align: center;\"><a href=\"http://kohoutovice.svobodni.cz/kontakty/otazky-a-odpovedi\">Ot&aacute;zky
    a odpovědi</a></p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1 style="text-align: center;">{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}



</div>

{% endblock %}


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55691091-1', 'auto');
  ga('send', 'pageview');

</script>