---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p>Chceme aktivně pomoci posunout samospr&aacute;vu v Kohoutovic&iacute;ch
    směrem od nevolnictv&iacute; d&aacute;l k demokracii. Historie tohoto z&aacute;pasu
    na&scaron;&iacute; obce je hezky pops&aacute;na n&aacute;sledovn&iacute;ky původn&iacute;ch
    vlastn&iacute;ků Kohoutovic <a href=\"http://kohoutovice.kdu.cz/2011/11/strucna-historie-kohoutovic/\">zde</a>.</p>\r\n<p>&nbsp;</p>\r\n<p>Chceme
    radnici, kter&aacute; je:</p>\r\n<p>&nbsp;</p>\r\n<p>1. <strong>Vstř&iacute;cn&aacute;</strong></p>\r\n<p>&Uacute;ředn&iacute;ci
    jsou tu pro n&aacute;s. Pokud si např&iacute;klad chtěj&iacute; kohoutovičt&iacute;
    občan&eacute; odkoupit obecn&iacute; byt, radnice vyjde současn&yacute;m n&aacute;jemců
    maxim&aacute;lně vstř&iacute;c. Obec nepodnik&aacute; prostřednictv&iacute;m pronaj&iacute;m&aacute;n&iacute;
    bytů.</p>\r\n<p>&Uacute;ředn&iacute;ci mohou b&yacute;t nedokonal&iacute;, ale
    syst&eacute;m, kter&yacute; zavedeme, zajist&iacute;, že se v&scaron;ichni budeme
    moci i v Kohoutovic&iacute;ch svobodně zeptat na to co n&aacute;s zaj&iacute;m&aacute;
    o fungov&aacute;n&iacute; radnice. &Uacute;ředn&iacute;ci se budou muset zab&yacute;vat
    v&scaron;emi podněty občanů Kohoutovic.</p>\r\n<p>I městsk&aacute; policie je
    tu pro n&aacute;s. Setkali jste se s policistou v Lond&yacute;ně? Ano, str&aacute;žn&iacute;ci
    tu jsou pro na&scaron;i bezpečnost a nikoliv pro vyb&iacute;r&aacute;n&iacute;
    pokut. To co u&scaron;etř&iacute;me na radnici (viz. Průhledn&aacute;) investujeme
    do bezpečnosti n&aacute;s v&scaron;ech.</p>\r\n<p>&nbsp;</p>\r\n<p>2. <strong>Průhledn&aacute;</strong></p>\r\n<p>Zveřejněn&iacute;
    veřejn&yacute;ch zak&aacute;zek, zaveden&iacute; transparentn&iacute;ho &uacute;čtu,
    on-line přenosy nebo z&aacute;znamy z jedn&aacute;n&iacute; zastupitelstva, zveřejněn&iacute;
    rozpočtu a archiv smluv ... prosazujeme syst&eacute;m, kter&yacute; &uacute;ředn&iacute;ky
    donut&iacute; vyn&eacute;st na světlo, jak&yacute;m způsobem nakl&aacute;daj&iacute;
    s na&scaron;imi penězi.</p>\r\n<p>V&scaron;ude, kde si lid&eacute; vymohli zveřejněn&iacute;
    zad&aacute;v&aacute;n&iacute; veřejn&yacute;ch zak&aacute;zek se ceny těchto prac&iacute;
    propadly cca o 30%.</p>\r\n<p>&nbsp;</p>\r\n<p>3. <strong>&Scaron;t&iacute;hl&aacute;</strong></p>\r\n<p>Svobodn&aacute;
    radnice je &scaron;t&iacute;hl&aacute;. &Uacute;ředn&iacute;ci a politici rozhoduj&iacute;
    ve svobodn&eacute; společnosti o co nejmen&scaron;&iacute;m objemu na&scaron;ich
    peněz. Sn&iacute;ž&iacute;me tedy nebo zru&scaron;&iacute;me co nejv&iacute;ce
    poplatků. Umožn&iacute;me odkup t&eacute;měř v&scaron;ech obecn&iacute;ch bytů.
    Provedeme důsledn&yacute; vnitřn&iacute; audit potřebnosti každ&eacute;ho jednotliv&eacute;ho
    &uacute;ředn&iacute;ka na radnici.</p>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<p>Pokračujte
    pros&iacute;m na<strong>&nbsp;</strong> <a href=\"http://kohoutovice.svobodni.cz/program/program-podrobne\">Program
    podrobně = Jak to uděl&aacute;me.</a></p>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>\r\n<p>Svobodn&iacute;
    v komun&aacute;ln&iacute; politice vych&aacute;z&iacute; obecně z těchto principů:</p>\r\n<ol>\r\n<li><em>Obce
    hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute;
    jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute;
    vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute;
    prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona
    o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</em></li>\r\n<li><em>Obce
    vynakl&aacute;daj&iacute; prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute;
    statky, tj. na obecn&iacute; silnice, chodn&iacute;ky a zaji&scaron;těn&iacute;
    poř&aacute;dku a čistoty v obc&iacute;ch.</em></li>\r\n<li><em>Obce z&aacute;sadně
    nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute; deformovat tržn&iacute;
    prostřed&iacute;.</em></li>\r\n<li><em>Obce ukl&aacute;daj&iacute; přebytky běžn&eacute;ho
    hospodařen&iacute; z&aacute;sadně konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m
    rizikem.</em></li>\r\n<li><em>V př&iacute;padě obecn&iacute;ch zak&aacute;zek
    se obce nesměj&iacute; odvol&aacute;vat na obchodn&iacute; tajemstv&iacute; a
    uzavřen&eacute; smlouvy jsou veřejn&eacute;.</em></li>\r\n<li><em>Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</em></li>\r\n</ol>\r\n<p>O priorit&aacute;ch Svobodn&yacute;ch
    v komun&aacute;ln&iacute; politice pojedn&aacute;v&aacute; podrobněji <a href=\"http://web.svobodni.cz/clanky/josef-kales-zodpovedne-hospodareni-je-hlavni-zasadou-svobodne-komunalni-politiky\">tento
    čl&aacute;nek.</a></p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

  <!-- <h1>{{ page.title }}</h1> -->
  <h1 align="center">Posvítíme si na radnici</h1>
  

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55691091-1', 'auto');
  ga('send', 'pageview');

</script>