---
title: Podporují nás
slug: podporuji-nas
is_layout: false
listed: true
published: false
cache_strategy: none
response_type: text/html
position: 3
editable_elements:
  main/volebni_program: "<h1 style=\"font-size: 10em; color: pink;\">hello world</h1>\r\n<p>\r\nldsfjls\r\n</p>"
---
{% extends parent %}

{% block 'main' %}

{% editable_text "volebni_program", hint: "Text volebního programu." %}    

{% endeditable_text %}

{% endblock %}
