---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<h2 dir=\"ltr\"><strong>Hlavn&iacute; priority programu</strong></h2>\r\n<p
    dir=\"ltr\">&nbsp;</p>\r\n<h3 dir=\"ltr\">Transparentn&iacute; radnice (pruhlednaradnice.cz)</h3>\r\n<ul>\r\n<li>zveřejňov&aacute;n&iacute;
    smluv, zak&aacute;zek a v&yacute;dajů radnice</li>\r\n<li>lep&scaron;&iacute;
    propagace města a komunikace s občany</li>\r\n<li>modernizace nevyhovuj&iacute;c&iacute;ch
    webov&yacute;ch str&aacute;nek města a implementace veřejn&eacute;ho f&oacute;ra</li>\r\n<li>zlep&scaron;en&iacute;
    dostupnosti informac&iacute;</li>\r\n<li>nekompromisn&iacute; postoj k dlužn&iacute;kům
    města</li>\r\n</ul>\r\n<h3 dir=\"ltr\">Zru&scaron;en&iacute; a sn&iacute;žen&iacute;
    poplatků</h3>\r\n<ul>\r\n<li>zru&scaron;en&iacute; lazeňsk&eacute;ho poplatku
    a poplatku ze vstupn&eacute;ho</li>\r\n<li>f&eacute;rov&eacute; poplatky za za
    vodn&eacute;, stočn&eacute; a odpady</li>\r\n<li>zabran&iacute;me zaveden&iacute;
    nov&yacute;ch poplatků a regulac&iacute;</li>\r\n</ul>\r\n<h3 dir=\"ltr\">Bezpečnost</h3>\r\n<ul>\r\n<li>Městsk&aacute;
    policie v ulic&iacute;ch m&iacute;sto rozd&aacute;v&aacute;n&iacute; blokov&yacute;ch
    pokut</li>\r\n<li>poř&aacute;dek a čistota v probl&eacute;mov&yacute;ch oblastech</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<h2>Vedlej&scaron;&iacute;
    body programu</h2>\r\n<h3>Podnik&aacute;n&iacute; bez přek&aacute;žek</h3>\r\n<ul>\r\n<li>neh&aacute;zen&iacute;
    klacků pod nohy podnikatelům v jejich činnosti</li>\r\n<li>město nem&aacute; podnikat
    a deformovat tržn&iacute; prostřed&iacute;</li>\r\n</ul>\r\n<h3>Investice</h3>\r\n<ul>\r\n<li>podpora
    pouze potřebn&yacute;ch projektů - oprava silnic apod.</li>\r\n<li>jsme proti
    dlouhodob&yacute;ch z&aacute;vazkům</li>\r\n<li>zlep&scaron;en&iacute; prostřed&iacute;
    pro investory</li>\r\n</ul>\r\n<h3>Doprava</h3>\r\n<div class=\"column\" style=\"line-height:
    1.5em;\">\r\n<ul>\r\n<li>zajist&iacute;me odpov&iacute;daj&iacute;c&iacute; p&eacute;či
    o komunikace</li>\r\n<li>zru&scaron;&iacute;me zbytečn&aacute; dopravn&iacute;
    omezen&iacute;</li>\r\n</ul>\r\n</div>\r\n<h3>Kultura</h3>\r\n<ul>\r\n<li>efektivn&iacute;
    využ&iacute;v&aacute;n&iacute; finančn&iacute;ch prostředků na kulturu</li>\r\n<li>prosazov&aacute;n&iacute;
    \"dom&aacute;c&iacute;ch\" hudebn&iacute;ch souborů a skupin na městsk&yacute;ch
    akc&iacute;ch</li>\r\n<li>sn&iacute;žen&iacute; okruhu Měsk&eacute; pam&aacute;tkov&eacute;
    z&oacute;ny a benevolentněj&scaron;&iacute; př&iacute;stup k majitelům domů</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<h2>Principy
    Svobodn&yacute;ch</h2>\r\n<ol>\r\n<li>Obce hospodař&iacute; zpravidla s vyrovnan&yacute;m
    rozpočtem a dluhy tvoř&iacute; jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch
    za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů. Svobodn&iacute; toto
    pravidlo hospodařen&iacute; obc&iacute; prosazuj&iacute; jako analogii n&aacute;vrhu
    &uacute;stavn&iacute;ho z&aacute;kona o vyrovnan&eacute;m rozpočtu na &uacute;rovni
    st&aacute;tu.</li>\r\n<li>Obce vynakl&aacute;daj&iacute; prostředky na prvn&iacute;m
    m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute; silnice, chodn&iacute;ky
    a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v obc&iacute;ch.</li>\r\n<li>Obce
    z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute; deformovat
    tržn&iacute; prostřed&iacute;.</li>\r\n<li>Obce ukl&aacute;daj&iacute; přebytky
    běžn&eacute;ho hospodařen&iacute; z&aacute;sadně konzervativně, tj. do aktiv s
    minim&aacute;ln&iacute;m rizikem.</li>\r\n<li>V př&iacute;padě obecn&iacute;ch
    zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat na obchodn&iacute; tajemstv&iacute;
    a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</li>\r\n<li>Svobodn&iacute; podporuj&iacute;
    změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo v kaps&aacute;ch
    lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak na &uacute;rovni
    st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute; v&yacute;nosu
    dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute; unie
    je třeba odstranit.</li>\r\n</ol>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
