---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<p>MUDr. Michael Barto&scaron;</p>\r\n<p>volebn&iacute; l&iacute;dr
    Svobodn&yacute;ch a kandid&aacute;t Svobodn&yacute;ch na prim&aacute;tora Pardubic</p>\r\n<p>E-mail:
    bartos@svobodni.cz, bartosmichael@seznam.cz</p>\r\n<p>&nbsp;</p>\r\n<p>Ing. Zdeněk
    Přikryl</p>\r\n<p>kandid&aacute;t Svobodn&yacute;ch č. 2 do Zastupitelstva města
    Pardubic</p>\r\n<p>E-mail: zdenek.prikryl@iol.cz</p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}