---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p style=\"text-align: left;\" align=\"center\"><strong>ROZSV&Iacute;T&Iacute;ME
    NA RADNICI</strong></p>\r\n<p style=\"text-align: left;\">&nbsp;</p>\r\n<p style=\"text-align:
    left;\" align=\"center\"><strong>&Scaron;t&iacute;hl&aacute; radnice = svobodn&eacute;
    město = bohat&iacute; občan&eacute;</strong></p>\r\n<p>&nbsp;</p>\r\n<p><em>-
    nedopust&iacute;me, aby město ř&iacute;dily z&aacute;jmov&eacute; skupiny a lobbist&eacute;
    v pozad&iacute;,</em></p>\r\n<p><em>- chceme nastavit rovn&eacute; podm&iacute;nky
    pro podnik&aacute;n&iacute;, město nesm&iacute; zv&yacute;hodňovat někter&eacute;
    podnikatele na &uacute;kor jin&yacute;ch,</em></p>\r\n<p><em>- sn&iacute;ž&iacute;me
    daň z nemovitosti a zru&scaron;&iacute;me poplatek za komun&aacute;ln&iacute;
    odpad,</em></p>\r\n<p><em>- zasad&iacute;me se, aby sv&eacute; z&aacute;ležitosti
    a probl&eacute;my mohli občan&eacute; vyř&iacute;dit elektronicky,</em></p>\r\n<p><em>-
    nebudeme komplikovat život lid&iacute; zbytečn&yacute;mi z&aacute;kazy a př&iacute;kazy.</em></p>\r\n<p>&nbsp;</p>\r\n<p>POSV&Iacute;T&Iacute;ME
    SI NA:</p>\r\n<p>&nbsp;</p>\r\n<p>FINANCE MĚSTA</p>\r\n<p>- prosazujeme hospodařen&iacute;
    s vyrovnan&yacute;m rozpočtem,</p>\r\n<p>- sn&iacute;ž&iacute;me počet odborů,
    oddělen&iacute; a &uacute;seků magistr&aacute;tu,</p>\r\n<p>- odm&iacute;t&aacute;me
    dotačn&iacute; politiku města, kter&aacute; vytv&aacute;ř&iacute; nerovn&eacute;
    podm&iacute;nky k podnik&aacute;n&iacute;,</p>\r\n<p>- prod&aacute;me zbytn&yacute;
    majetek města,</p>\r\n<p>&nbsp;</p>\r\n<p>ROZVOJ MĚSTA</p>\r\n<p>- omez&iacute;me
    negativn&iacute; vlivy města na podnikatelsk&eacute; prostřed&iacute; &ndash;
    město nesm&iacute;</p>\r\n<p>působit jako investor nebo spoluinvestor soukrom&yacute;ch
    projektů nebo omezovat</p>\r\n<p>rozvoj podnik&aacute;n&iacute; mal&yacute;ch
    a středn&iacute;ch firem a živnostn&iacute;ků podporou jen těch</p>\r\n<p>velk&yacute;ch,</p>\r\n<p>-
    nebudeme podporovat dal&scaron;&iacute; megalomansk&eacute; projekty,</p>\r\n<p>-
    finančn&iacute; prostředky věnujeme hlavně do spr&aacute;vy a &uacute;držby městsk&yacute;ch
    komunikac&iacute; a veřejn&eacute;ho prostranstv&iacute;,</p>\r\n<p>&nbsp;</p>\r\n<p>BEZPEČNOST
    VE MĚSTĚ</p>\r\n<p>- zajist&iacute;me takovou městskou policii, kter&aacute; bude
    chr&aacute;nit životy, majetek občanů a města,</p>\r\n<p>- odm&iacute;t&aacute;me,
    aby prioritou městsk&eacute; policie bylo měřen&iacute; rychlosti a udělov&aacute;n&iacute;
    pokut za &scaron;patn&eacute; parkov&aacute;n&iacute;,</p>\r\n<p>- zasad&iacute;me
    se o zv&yacute;&scaron;en&yacute; dohled městsk&eacute; policie v problematick&yacute;ch
    oblastech, městsk&aacute; policie patř&iacute; do ulic a ne do kancel&aacute;ř&iacute;,</p>\r\n<p>&nbsp;</p>\r\n<p>VLIV
    OBČANŮ NA ROZHODOV&Aacute;N&Iacute; MĚSTA</p>\r\n<p>- zasad&iacute;me se, aby
    občan&eacute; města mohli spolurozhodovat o podobě města, ve kter&eacute;m žij&iacute;,</p>\r\n<p>-
    podpoř&iacute;me zaveden&iacute; mechanismů pro zv&yacute;&scaron;en&iacute; vlivu
    občanů na rozhodov&aacute;n&iacute;, např. ve formě webov&eacute; ankety,</p>\r\n<p>-
    &nbsp;nebudeme podporovat &uacute;čelově vypsan&aacute; referenda s bezcenn&yacute;mi
    v&yacute;sledky.</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
