---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<h2>Volebn&iacute; program pro Napajedla</h2>\r\n<h3>1. Napajedla
    Napajedl&aacute;kům</h3>\r\n<p>Komunikace mezi radnic&iacute; a občany - podněty
    vznesen&eacute; ze strany občanů by měly b&yacute;t veřejně posouzeny jak z odborn&eacute;ho
    hlediska př&iacute;nosů pro občany Napajedel. Doposud se představitel&eacute;
    radnice podněty občanů n&aacute;ležitě&nbsp;nezab&yacute;vali.</p>\r\n<h5>Podněty
    vznesen&eacute; ze strany občanů:</h5>\r\n<ul>\r\n<li><span style=\"line-height:
    1.5em;\">&Scaron;patně o&scaron;etřen&aacute; smlouva o věcn&eacute;m břemenu
    se Z&aacute;mkem Napajedla s.r.o. a nedostatečn&aacute; komunikace radnice s občany
    o tomto probl&eacute;mu</span></li>\r\n<li><span style=\"line-height: 1.5em;\">Hlin&iacute;k&aacute;rna
    v are&aacute;lu Slavia a jej&iacute; dopady na životn&iacute; prostřed&iacute;
    a zdrav&iacute; občanů</span></li>\r\n<li><span style=\"line-height: 1.5em;\">Cyklostezka
    vybudovan&aacute; kolem města, ov&scaron;em ž&aacute;dn&aacute; spojnice přes
    město</span></li>\r\n<li><span style=\"line-height: 1.5em;\">Rekonstrukce kina
    na multifunkčn&iacute; s&aacute;l, kter&yacute; je ov&scaron;em nevyhovuj&iacute;c&iacute;
    pro ochotn&iacute;ky</span></li>\r\n<li><span style=\"line-height: 1.5em;\">Budov&aacute;n&iacute;
    druh&eacute;ho n&aacute;měst&iacute;, i když je ve městě nedostatek zelen&yacute;ch
    ploch pro odpočinek a vyžit&iacute;</span></li>\r\n<li><span style=\"line-height:
    1.5em;\">Nedodělan&aacute; dětsk&aacute; hři&scaron;tě</span></li>\r\n<li><span
    style=\"line-height: 1.5em;\">Ve městě chyb&iacute; kryt&yacute; baz&eacute;n</span></li>\r\n</ul>\r\n<h3><span
    style=\"line-height: 1.5em;\">2. Zdrav&yacute; rozum na radnici</span></h3>\r\n<ul>\r\n<li><span
    style=\"line-height: 1.5em;\">Kompetentn&iacute; lidi - Lid&eacute; pracuj&iacute;c&iacute;
    na radnici a přidružen&yacute;ch spr&aacute;vn&iacute;ch org&aacute;nech by měli
    b&yacute;t předev&scaron;&iacute;m kompetentn&iacute;, vstř&iacute;cn&iacute;
    a slu&scaron;n&iacute;. Pokud občan&eacute; nejsou spokojeni s někter&yacute;m
    ze zaměstnanců, měli by m&iacute;t možnost vzn&eacute;st tuto zku&scaron;enost
    buďto tajemn&iacute;kovi &uacute;řadu anebo starostovi. Tito by se měli touto
    n&aacute;mitkou n&aacute;ležitě zab&yacute;vat.</span></li>\r\n<li><span style=\"line-height:
    1.5em;\">Zaveden&iacute; KPIs (Kl&iacute;čov&eacute; ukazatele v&yacute;konnosti)
    - Zaveden&iacute; kl&iacute;čov&yacute;ch ukazatelů v&yacute;konnosti na &uacute;řadech,
    podle kter&yacute;ch budou &uacute;ředn&iacute;ci hodnoceni a od kter&yacute;ch
    se bude odv&iacute;jet i jejich finančn&iacute; ohodnocen&iacute;. Opr&aacute;vněn&eacute;
    st&iacute;žnosti a připom&iacute;nky občanů budou tvořit v&yacute;znamnou a ned&iacute;lnou
    souč&aacute;st tohoto syst&eacute;mu ohodnocov&aacute;n&iacute;.</span></li>\r\n<li><span
    style=\"line-height: 1.5em;\">Celoživotn&iacute; vzděl&aacute;v&aacute;n&iacute;
    - Lid&eacute; pracuj&iacute;c&iacute; na &uacute;řadech by měli m&iacute;t dostupn&eacute;
    prostředky celoživotn&iacute;ho vzděl&aacute;v&aacute;n&iacute;, kter&eacute;
    jm pomohou snadněji porozumět měn&iacute;c&iacute;m se z&aacute;konům, a tak mohli
    l&eacute;pe a rozumněji vykon&aacute;vat svoji pr&aacute;ci.</span></li>\r\n</ul>\r\n<h2>Svobodn&iacute;
    v komun&aacute;ln&iacute; politice vych&aacute;z&iacute; obecně z těchto principů:</h2>\r\n<ol>\r\n<li>Obce
    hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute;
    jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute;
    vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute;
    prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona
    o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</li>\r\n<li>Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v
    obc&iacute;ch.</li>\r\n<li>Obce z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi
    aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.</li>\r\n<li>Obce
    ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně
    konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</li>\r\n<li>V
    př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat
    na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</li>\r\n<li>Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</li>\r\n</ol>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
