---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<h2><strong style=\"font-size: 1.5em; line-height: 1.5em;\"><img
    src=\"/samples/assets/__rovka.png\" alt=\"\" width=\"163\" height=\"160\" /></strong>&nbsp;
    &nbsp;<strong style=\"font-size: 2em; line-height: 1.5em;\">&Scaron;ance pro Řepy
    -&nbsp;Svobodn&iacute; 2014</strong></h2>\r\n<p style=\"text-align: justify;\"><strong><em>Na&scaron;e
    politick&aacute; filosofie spoč&iacute;v&aacute; v tom, že chceme, aby o sobě
    svobodn&iacute; občan&eacute; rozhodovali sami, aby se sami rozhodli, jak nalož&iacute;
    se sv&yacute;mi penězi. Aby tuto &uacute;lohu nečinilo město, st&aacute;t ani
    socialistick&aacute; EU. Město by se mělo starat pouze o z&aacute;kladn&iacute;
    věci &ndash; městsk&yacute; majetek, veřejn&aacute; prostranstv&iacute; a bezpečnost.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;</em></strong></p>\r\n<p style=\"text-align: justify;\"><strong><em><span>Raz&iacute;me
    politiku, kter&aacute; se op&iacute;r&aacute; sp&iacute;&scaron;e o rozum než
    o ideologii. Jedn&iacute;m z&nbsp;na&scaron;ich politick&yacute;ch c&iacute;lů
    je obnova politick&eacute; kultury v &nbsp;Česku v&nbsp;tom smyslu, že chceme
    umožnit politickou debatu o t&eacute;matech, kter&aacute; jsou pro zaveden&eacute;
    strany zapovězen&aacute;.</span><br /> <br /> </em></strong><strong>PROČ SVOBODN&Iacute;?</strong></p>\r\n<p>Strana
    svobodn&yacute;ch občanů&nbsp;zkr&aacute;ceně&nbsp;Svobodn&iacute;, je&nbsp;<a
    title=\"Česko\" href=\"http://cs.wikipedia.org/wiki/%C4%8Cesko\">česk&aacute;</a>&nbsp;<a
    title=\"Klasick&yacute; liberalismus\" href=\"http://cs.wikipedia.org/wiki/Klasick%C3%BD_liberalismus\">liber&aacute;ln&iacute;</a>&nbsp;a&nbsp;<a
    title=\"Liber&aacute;ln&iacute; konzervatismus\" href=\"http://cs.wikipedia.org/wiki/Liber%C3%A1ln%C3%AD_konzervatismus\">liber&aacute;lně
    konzervativn&iacute;</a>&nbsp;<a title=\"Politick&aacute; strana\" href=\"http://cs.wikipedia.org/wiki/Politick%C3%A1_strana\">politick&aacute;
    strana</a>&nbsp;založen&aacute; na z&aacute;kladě popt&aacute;vky nespokojen&yacute;ch
    obyvatel se stavem pravice v&nbsp;ČR v roce 2009&nbsp;<a title=\"Petr Mach (politik)\"
    href=\"http://cs.wikipedia.org/wiki/Petr_Mach_(politik)\">Petrem Machem</a>, kter&yacute;
    je dosud jej&iacute;m předsedou a nově zvolen&yacute;m Europoslancem. &nbsp;Je
    jedinou re&aacute;lnou pravicovou stranou v&nbsp;Česk&eacute; republice. Mezi
    jej&iacute; hlavn&iacute; c&iacute;le patř&iacute; redukce&nbsp;<a title=\"Byrokracie\"
    href=\"http://cs.wikipedia.org/wiki/Byrokracie\">byrokracie</a>&nbsp;a st&aacute;tn&iacute;ho
    přerozdělov&aacute;n&iacute; peněz (sn&iacute;žen&iacute; dan&iacute; a zru&scaron;en&iacute;
    dotac&iacute;) a vyrovn&aacute;n&iacute; st&aacute;tn&iacute;ho rozpočtu včetně
    &uacute;stavn&iacute;ho z&aacute;kazu zadlužov&aacute;n&iacute;. Proto jej&iacute;
    podpora od jej&iacute;ho založen&iacute; pomalu, ale jistě stoup&aacute;.&nbsp;
    Je volbou pro v&scaron;echny realisticky sm&yacute;&scaron;lej&iacute;c&iacute;,
    slu&scaron;n&eacute; a mor&aacute;ln&iacute; občany. Jej&iacute;m programem nen&iacute;
    slibovat nere&aacute;ln&eacute; světl&eacute; z&iacute;třky socialismu pod veden&iacute;m
    osv&iacute;cen&yacute;ch nik&yacute;m nevolen&yacute;ch velik&aacute;nů v&nbsp;Bruselu,
    pokynů a nař&iacute;zen&iacute; &nbsp;Evropsk&eacute; unie, ale naopak použ&iacute;v&aacute;n&iacute;
    selsk&eacute;ho rozumu a ře&scaron;en&iacute; konkr&eacute;tn&iacute;ch probl&eacute;mů
    obyvatel tradičn&iacute;mi postupy.</p>\r\n<p>&nbsp;<img src=\"/samples/assets/p_p.jpg\"
    alt=\"\" width=\"545\" height=\"727\" /></p>\r\n<p style=\"text-align: justify;\">Motivac&iacute;
    Svobodn&yacute;ch pro kandidaturu do Řepsk&eacute;ho zastupitelstva je snaha ovlivnit
    stav věc&iacute; ve sv&eacute;m nejbliž&scaron;&iacute;m okol&iacute;. Za uplynul&aacute;
    l&eacute;ta se udělalo jistě mnoho prospě&scaron;n&eacute;ho, av&scaron;ak na
    řadu věc&iacute; se zapomnělo a mnoho důležit&yacute;ch věc&iacute; se nedodělalo
    a mnoh&eacute; se neře&scaron;ili vůbec.</p>\r\n<p style=\"text-align: justify;\">V&nbsp;minul&yacute;ch
    letech z&aacute;stupci Strany svobodn&yacute;ch občanů pravidelně doch&aacute;zeli
    na jedn&aacute;n&iacute; řepsk&eacute;ho zastupitelstva a smutně sledovali &uacute;roveň
    jedn&aacute;n&iacute; a i nevhodn&eacute; a neurval&eacute; chov&aacute;n&iacute;
    někter&yacute;ch členů zastupitelstva a často vych&aacute;zej&iacute;c&iacute;
    i jejich &bdquo;znalosti&ldquo; komun&aacute;ln&iacute; problematiky a finančn&iacute;
    negramotnosti. R&aacute;di bychom přispěli k&nbsp;věcnosti a slu&scaron;n&eacute;mu
    chov&aacute;n&iacute; ve veden&iacute; obce. Jsme připraveni spolupracovat se
    v&scaron;emi demokratick&yacute;mi partnery.</p>\r\n<h2><strong>Svoboda = velk&aacute;
    zodpovědnost.&nbsp; </strong></h2>\r\n<p>Svobodn&iacute; chtěj&iacute; b&yacute;t
    pozitivn&iacute;m konstruktivn&iacute;m př&iacute;stupem a novou hybnou silou
    pro děn&iacute; v&nbsp;městsk&eacute; č&aacute;sti, toho budou v&scaron;ak moci
    dos&aacute;hnout jen za předpokladu z&iacute;sk&aacute;n&iacute; vět&scaron;&iacute;ho
    počtu mand&aacute;tů v&nbsp; zastupitelstvu.&nbsp;</p>\r\n<p style=\"text-align:
    justify;\">Řep&iacute;m totiž již po několik&aacute;t&eacute; po sobě re&aacute;lně
    hroz&iacute; opakov&aacute;n&iacute; stavu, kdy zde bude několik kandid&aacute;tek
    s&nbsp;několika mand&aacute;ty a to zejm&eacute;na n&aacute;zorově nezařazen&yacute;ch
    hnut&iacute; a n&aacute;sledn&yacute; slepenec v&nbsp;radě obce. Alarmuj&iacute;c&iacute;m
    je st&aacute;vaj&iacute;c&iacute; stav rozh&aacute;dan&eacute; koalice a vz&aacute;jemn&eacute;
    h&aacute;zen&iacute; si klacků pod nohy, o kter&eacute;m v&scaron;ak nem&aacute;
    běžn&yacute; občan povět&scaron;inou tu&scaron;en&iacute; byť už i v&nbsp;Řepsk&eacute;
    17 v posledn&iacute; době i přes kontrolu, probublalo p&aacute;r pukavců na povrch.&nbsp;</p>\r\n<p>&nbsp;Strana
    Svobodn&yacute;ch občanů m&aacute; jasn&eacute; n&aacute;zorov&eacute; mantinely,
    zku&scaron;en&eacute;, mor&aacute;ln&iacute; a vyzr&aacute;l&eacute; konstruktivn&iacute;
    kandid&aacute;ty a na na&scaron;&iacute; kandid&aacute;tce b&yacute;val&eacute;
    komunisty nenajdete, proto věř&iacute;me, že jim d&aacute;te přednost a podpoř&iacute;te
    sv&yacute;m hlasem v&nbsp;komun&aacute;ln&iacute;ch volb&aacute;ch, před kandid&aacute;ty
    zprofanovan&yacute;ch stran a i nik&yacute;m a nič&iacute;m negarantovan&yacute;ch
    slepenců tzv. Nez&aacute;visl&yacute;ch. např v Řep&iacute;ch jsou za kandid&aacute;tkou
    Nez&aacute;visl&yacute;ch &nbsp;jež zaplavily Řepy žlut&yacute;mi balonky schov&aacute;ny
    přelistopadov&eacute; star&eacute; struktury a rud&eacute; k&aacute;dry!!!!</p>\r\n<p><img
    src=\"/samples/assets/stop_ks_.jpg\" alt=\"\" width=\"336\" height=\"336\" /><img
    src=\"/samples/assets/big_zlute-balonky-100-ks.jpg\" alt=\"\" width=\"340\" height=\"340\"
    /></p>\r\n<h2>Buďte i při rozhodov&aacute;n&iacute; komu d&aacute;te svůj hlas
    - Svobodn&iacute;.</h2>\r\n<h2>Nenechte svůj hlas propadnout. Přijďte k volb&aacute;m
    !!!</h2>\r\n<p><strong style=\"line-height: 1.5em;\"><img src=\"/samples/assets/platon.jpg\"
    alt=\"\" width=\"415\" height=\"311\" /></strong></p>\r\n<h1>&nbsp;</h1>\r\n<h1><strong>ŘEPY
    BEZ DLUHŮ,ČIST&Eacute; A BEZPEČN&Eacute;.</strong></h1>\r\n<p>V&nbsp;n&aacute;sleduj&iacute;c&iacute;ch
    4 letech bychom r&aacute;di v&nbsp;Řep&iacute;ch zaměřili za využit&iacute; v&yacute;&scaron;e
    uveden&eacute;ho v&nbsp;jednotliv&yacute;ch resortech na:</p>\r\n<h2><strong><img
    src=\"/samples/assets/__rovka.png\" alt=\"\" width=\"60\" height=\"59\" />Transparentn&iacute;
    radnice - &nbsp;&Scaron;T&Iacute;HL&Yacute; &Uacute;ŘAD</strong></h2>\r\n<p><em>Jsme
    zast&aacute;nci &scaron;t&iacute;hl&eacute;ho &uacute;řadu, kter&yacute; vykon&aacute;v&aacute;
    jen nezbytn&eacute; &uacute;koly spojen&eacute; se samospr&aacute;vou a st&aacute;tn&iacute;
    spr&aacute;vou. Jsme proti zbytečn&yacute;m a nic nepřin&aacute;&scaron;ej&iacute;c&iacute;m
    m&oacute;dn&iacute;m projektům</em></p>\r\n<p><strong>Na&scaron;&iacute;m hlavn&iacute;m
    motem je: Nepl&eacute;st se lidem do života, nepřek&aacute;žet , nepodnikat.</strong></p>\r\n<p
    style=\"text-align: justify;\">Svobodn&iacute; ač mimo zastupitelstvo, se již
    v&nbsp;minul&yacute;ch 4 letech aktivně pod&iacute;leli na zvelebov&aacute;n&iacute;
    Řep. Sv&yacute;mi podněty dok&aacute;zali dotlačit &uacute;ředn&iacute;ky a zodpovědn&eacute;
    instituce zejm&eacute;na k&nbsp;oprav&aacute;m dlouhodobě neopravovan&yacute;m
    chodn&iacute;ků a komunikac&iacute; a &uacute;klidu nepoř&aacute;dku po nezodpovědn&yacute;ch
    lidech.</p>\r\n<ul>\r\n<li>Podpoř&iacute;me, aby co nejv&iacute;ce sv&yacute;ch
    z&aacute;ležitost&iacute; a probl&eacute;mů mohli občan&eacute; vyř&iacute;dit
    na Internetu.</li>\r\n<li>R&aacute;di bychom zmodernizovali i zastaral&yacute;
    internetov&yacute; v&yacute;stup radnice a zprovoznili internetov&eacute; informačn&iacute;
    vys&iacute;l&aacute;n&iacute;</li>\r\n<li>&Uacute;ředn&iacute;k je pomocn&iacute;kem
    a partnerem občana, pokud ho jeho pr&aacute;ce nebav&iacute; a je to na něm a
    jeho v&yacute;konech vidět &nbsp;nem&aacute; na &uacute;řadě co pohled&aacute;vat,
    na druhou stranu spolehliv&yacute;, pracovit&yacute; a př&iacute;jemn&yacute;
    &uacute;ředn&iacute;k je stabiln&iacute;m a potřebn&yacute;m pil&iacute;řem každ&eacute;
    obce</li>\r\n<li>R&aacute;di bychom prov&aacute;děli pravideln&eacute; t&yacute;denn&iacute;
    obchůzky pracovn&iacute;ka odboru životn&iacute;ho prostřed&iacute;&nbsp; a&nbsp;
    veden&iacute; obce a operativně pracovali na vylep&scaron;ov&aacute;n&iacute;
    probl&eacute;mov&yacute;ch lokalit a neprodlen&eacute;m odstraňov&aacute;n&iacute;
    z&aacute;vad.</li>\r\n</ul>\r\n<p><strong>foto Makovsk&eacute;ho - z&aacute;ř&iacute;
    2014 a neb dosud vl&aacute;dnouc&iacute; koalice opět slibuje něco co za 8 let
    nezvl&aacute;dla: grafiti a neopraven&eacute; chodn&iacute;ky.</strong></p>\r\n<p><strong>Je
    vidět, že n&aacute;&scaron; program čte i 4 roky nefunguj&iacute;c&iacute; zodpovědn&yacute;
    z&aacute;stupce starostky, v prvn&iacute;m ř&iacute;jnov&eacute;m t&yacute;dnu
    byl chodn&iacute;k zaasfaltov&aacute;n, Svobodn&iacute; pom&aacute;haj&iacute;
    odstraňovat ne&scaron;vary nejen na radnici a jako uplynul&eacute; roky jsou d&iacute;ky
    jejich činnosti chodn&iacute;ky opravov&aacute;ny i když jsou zat&iacute;m mimo
    zastupitelstvo. &nbsp;V Makovsk&eacute;ho ulici jsme měli um&iacute;stěn na star&eacute;
    konstrukci po n&aacute;stěnce n&aacute;&scaron; předvolebn&iacute; poutač, zmizel
    nejen poutač Svobodn&yacute;ch jako volebn&iacute; bannery v předminul&eacute;m
    t&yacute;dnu, ale i konstrukce včetně betonov&yacute;ch z&aacute;kladů,,, &nbsp;Najednou
    před volbami to jde, čast&eacute; sek&aacute;n&iacute; tr&aacute;vn&iacute;ků,
    opravy chodn&iacute;ků, kolotoče pro děti a sliby. Nech&aacute;te se znovu nap&aacute;lit
    nebo d&aacute;te přednost důsledn&yacute;m Svobodn&yacute;m?</strong></p>\r\n<p><img
    src=\"/samples/assets/DSCF8371.JPG\" alt=\"\" width=\"685\" height=\"513\" /><img
    src=\"/samples/assets/__rovka.png\" alt=\"\" width=\"304\" height=\"301\" /></p>\r\n<h2>&nbsp;</h2>\r\n<h2>&nbsp;</h2>\r\n<h2>&nbsp;<strong
    style=\"font-size: 1.5em; line-height: 1.5em;\"><img src=\"/samples/assets/__rovka.png\"
    alt=\"\" width=\"60\" height=\"59\" />&nbsp;</strong><strong style=\"font-size:
    1.5em; line-height: 1.5em;\">PRŮHLEDN&Eacute; ROZHODOV&Aacute;N&Iacute;</strong></h2>\r\n<p><em>Město
    mus&iacute; ve&scaron;ker&eacute; informace zpř&iacute;stupnit veřejnosti, pokud
    jde o veřejn&eacute; z&aacute;ležitosti, nelze se vymlouvat na obchodn&iacute;
    tajemstv&iacute;.&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em></p>\r\n<h2>Zv&yacute;&scaron;&iacute;me
    transparentnost rozhodov&aacute;n&iacute; o veřejn&yacute;ch zak&aacute;zk&aacute;ch:</h2>\r\n<ul>\r\n<li>Veřejn&eacute;
    zak&aacute;zky budou zad&aacute;v&aacute;ny z&aacute;sadně v otevřen&eacute;m
    zad&aacute;vac&iacute;m ř&iacute;zen&iacute;.</li>\r\n<li>Průběh cel&eacute;ho
    ř&iacute;zen&iacute; o veřejn&eacute; zak&aacute;zce zveřejn&iacute;me na internetu
    (od zad&aacute;vac&iacute; dokumentace po protokoly o zased&aacute;n&iacute; hodnot&iacute;c&iacute;
    komise a texty př&iacute;slu&scaron;n&yacute;ch smluv).</li>\r\n<li>Zř&iacute;d&iacute;me
    elektronick&eacute; trži&scaron;tě, resp. zavedeme syst&eacute;m elektronick&yacute;ch
    aukc&iacute; veřejn&yacute;ch zak&aacute;zek (podnikatel&eacute; budou o veřejn&eacute;
    zak&aacute;zky soutěžit on-line /v re&aacute;ln&eacute;m čase/, č&iacute;mž dojde
    k z&uacute;žen&iacute; prostoru pro manipulaci); současně omez&iacute;me možnost
    subdod&aacute;vek (abychom sn&iacute;žili pravděpodobnost vzniku zak&aacute;zan&yacute;ch
    dohod mezi jednotliv&yacute;mi &uacute;častn&iacute;ky ř&iacute;zen&iacute; o
    veřejn&eacute; zak&aacute;zce), omez&iacute;me t&eacute;ž možnost navy&scaron;ov&aacute;n&iacute;
    ceny veřejn&eacute; zak&aacute;zky v průběhu jej&iacute; realizace (omezen&iacute;
    tzv. v&iacute;ceprac&iacute; apod.).</li>\r\n<li>Nebude-li veřejn&aacute; zak&aacute;zka
    zad&aacute;v&aacute;na prostřednictv&iacute;m elektronick&eacute;ho trži&scaron;tě,
    budou ob&aacute;lky s nab&iacute;dkami jednotliv&yacute;ch soutěžitelů otev&iacute;r&aacute;ny
    vždy na veřejnosti př&iacute;stupn&eacute;m m&iacute;stě. Z&aacute;znam z otev&iacute;r&aacute;n&iacute;
    ob&aacute;lek zpř&iacute;stupn&iacute;me na internetu. &nbsp; &nbsp; &nbsp;&nbsp;</li>\r\n</ul>\r\n<p><strong
    style=\"font-size: large; line-height: 1.5em;\">Zv&yacute;&scaron;&iacute;me transparentnost
    ostatn&iacute;ch rozhodovac&iacute;ch procesů:</strong></p>\r\n<ul>\r\n<li>Vedle
    zvukov&eacute;ho z&aacute;znamu ze zased&aacute;n&iacute; zastupitelstva budeme
    tak&eacute; zveřejňovat videoz&aacute;znam.</li>\r\n<li>Zveřejn&iacute;me z&aacute;pisy
    ze zased&aacute;n&iacute; v&scaron;ech org&aacute;nů města, bez ohledu na to,
    zda jsou tato jedn&aacute;n&iacute; veřejn&aacute; či nikoliv. Požadujeme tak&eacute;
    zveřejňov&aacute;n&iacute; podkladů pro jedn&aacute;n&iacute; zastupitelstva města.</li>\r\n<li>Dohl&eacute;dneme
    na dodržov&aacute;n&iacute; z&aacute;kona o střetu z&aacute;jmů členy zastupitelstva
    města.</li>\r\n<li>Nebudeme uzav&iacute;rat smlouvy s pr&aacute;vnick&yacute;mi
    osobami s nejasnou vlastnickou strukturou, nebudeme uzav&iacute;rat smlouvy s
    osobami pravomocně odsouzen&yacute;mi za korupčn&iacute; jedn&aacute;n&iacute;,
    hospod&aacute;řsk&eacute; a vybran&eacute; majetkov&eacute; trestn&eacute; činy
    (např. dotačn&iacute; podvod) a s daňov&yacute;mi dlužn&iacute;ky.</li>\r\n<li>Na&scaron;i
    zastupitel&eacute; budou k dispozici občanům města a ochotni se kdykoliv sej&iacute;t
    nad jejich probl&eacute;my.</li>\r\n<li>Budeme aktivně zveřejňovat maxim&aacute;ln&iacute;
    množstv&iacute; informac&iacute;.</li>\r\n<li>Budeme prosazovat, aby zastupitel&eacute;
    dostali pro sv&eacute; rozhodov&aacute;n&iacute; komplexn&iacute; podklady se
    stanovisky dotčen&yacute;ch odborů, poradn&iacute;ch org&aacute;nů a s popisem
    st&aacute;vaj&iacute;c&iacute;ho stavu.</li>\r\n</ul>\r\n<p>&nbsp;<img src=\"/samples/assets/1024px-Praha_Repy_town_hall.jpg\"
    alt=\"\" width=\"683\" height=\"455\" /></p>\r\n<h2><strong style=\"font-size:
    1.5em; line-height: 1.5em;\"><img src=\"/samples/assets/__rovka.png\" alt=\"\"
    width=\"60\" height=\"59\" />&nbsp;&nbsp;</strong><strong style=\"font-size: 1.5em;
    line-height: 1.5em;\">PRŮHLEDN&Eacute; HOSPODAŘEN&Iacute;&nbsp;</strong></h2>\r\n<h2><strong><img
    src=\"/samples/assets/pr_hledn_radnice.png\" alt=\"\" width=\"117\" height=\"48\"
    /></strong></h2>\r\n<p>Svobodn&iacute; v&nbsp;komun&aacute;ln&iacute; politice
    vych&aacute;z&iacute; obecně z&nbsp;těchto principů:</p>\r\n<ul>\r\n<li>Obce hospodař&iacute;
    zpravidla s&nbsp;vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute; jen v&nbsp;mimoř&aacute;dn&yacute;ch
    situac&iacute;ch za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů.
    Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute; prosazuj&iacute;
    jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona o vyrovnan&eacute;m
    rozpočtu na &uacute;rovni st&aacute;tu.</li>\r\n<li>Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v&nbsp;obc&iacute;ch.</li>\r\n<li>Obce
    z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute; deformovat
    tržn&iacute; prostřed&iacute;.</li>\r\n<li>Obce ukl&aacute;daj&iacute; přebytky
    běžn&eacute;ho hospodařen&iacute; z&aacute;sadně konzervativně, tj. do aktiv s&nbsp;minim&aacute;ln&iacute;m
    rizikem.</li>\r\n<li>V&nbsp;př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce
    nesměj&iacute; odvol&aacute;vat na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute;
    smlouvy jsou veřejn&eacute;.</li>\r\n<li>Svobodn&iacute; podporuj&iacute; změny
    daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo v&nbsp;kaps&aacute;ch
    lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak na &uacute;rovni
    st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute; v&yacute;nosu
    dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute; unie
    je třeba odstranit. Svobodn&iacute; nenos&iacute; růžov&eacute; br&yacute;le,
    sv&yacute;m voličům nelžou jako socialist&eacute;...</li>\r\n</ul>\r\n<p><img
    src=\"/samples/assets/pen_ze_pod_lupou.jpg\" alt=\"\" width=\"564\" height=\"383\"
    />&nbsp; &nbsp;<img src=\"/samples/assets/volim-ne-eu.jpg\" alt=\"\" width=\"565\"
    height=\"424\" /></p>\r\n<p><strong>&nbsp;</strong></p>\r\n<p><strong>Obecn&iacute;
    rozpočet &ndash; ŘEPY ne jako Detroit či Liberec, ale jako Teplice&hellip;</strong></p>\r\n<p>Zastaven&iacute;
    st&aacute;vaj&iacute;c&iacute;ho tempa &bdquo;proj&iacute;d&aacute;n&iacute;&ldquo;
    nashrom&aacute;žděn&yacute;ch prostředků z&nbsp;prodeje bytů a zastaven&iacute;
    pasivn&iacute;ch v&yacute;dajů směrem k žit&iacute; na dluh a dluhov&eacute; propasti,
    jak&yacute;m je nyn&iacute; veden tok financ&iacute; nejen v&nbsp;Řep&iacute;ch
    a Česk&eacute; republice. Směrem k&nbsp;zodpovědn&eacute;mu chov&aacute;n&iacute;
    vůči budouc&iacute;m generac&iacute;m. &nbsp; &nbsp; &nbsp; &nbsp; viz.:&nbsp;<a
    href=\"http://www.verejnydluh.cz/\">www.verejnydluh.cz</a>&nbsp;<img src=\"/samples/assets/metrapen_ze.jpg\"
    alt=\"\" width=\"696\" height=\"392\" /></p>\r\n<p>V oček&aacute;v&aacute;n&iacute;
    bl&iacute;zk&eacute;ho glob&aacute;ln&iacute;ho restartu finančn&iacute;ho syst&eacute;mu,
    urychleně zabezpečit č&aacute;st prostředků obce konzervativn&iacute;m a stalet&iacute;mi
    prověřen&yacute;m způsobem, &nbsp;tj.přesunem do užitn&eacute; hodnoty.</p>\r\n<h2><strong>&nbsp;</strong></h2>\r\n<h2><strong
    style=\"line-height: 1.5em;\"><strong style=\"font-size: 1.5em; line-height: 1.5em;\"><img
    src=\"/samples/assets/__rovka.png\" alt=\"\" width=\"60\" height=\"59\" />&nbsp;&nbsp;</strong>BEZPEČN&Yacute;
    ŽIVOT &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong></h2>\r\n<p><strong><em>Jednou se z&aacute;kladn&iacute;
    činnost&iacute; města by měla b&yacute;t p&eacute;če o bezpečnost. Proto navrhujeme
    pos&iacute;len&iacute; hl&iacute;dek a nez&aacute;vislost městsk&eacute; policie.</em>&nbsp;</strong></p>\r\n<h2><strong
    style=\"line-height: 1.5em;\"><img src=\"/samples/assets/mp.jpg\" alt=\"\" width=\"88\"
    height=\"88\" /></strong></h2>\r\n<p style=\"text-align: justify;\">Zefektivnit
    činnost městsk&eacute; policie, aby jej&iacute; činnost nekončila jen v&nbsp;8
    hod. r&aacute;no u přechodů pro&nbsp;chodce a kouřen&iacute;m před služebnou,
    ale vět&scaron;&iacute;m nasazen&iacute; str&aacute;žn&iacute;ků v&nbsp;ulic&iacute;ch
    &ndash; v jasně definovan&yacute;ch okrsc&iacute;ch, včetně nočn&iacute;ch hodin.
    M&eacute;ně &scaron;m&iacute;rov&aacute;n&iacute; kamerami, v&iacute;ce str&aacute;žn&iacute;ků
    v ter&eacute;nu.&nbsp;</p>\r\n<ul>\r\n<li style=\"text-align: justify;\">Svobodn&iacute;
    diskutuj&iacute; o možnosti zaveden&iacute; volby vrchn&iacute;ch str&aacute;žn&iacute;ků
    po vzoru dlouholet&eacute; tradice ve Velk&eacute; Brit&aacute;nii a v USA (&scaron;erifov&eacute;).
    Volen&yacute; vrchn&iacute; str&aacute;žn&iacute;k se čtyřlet&yacute;m funkčn&iacute;m
    obdob&iacute;m by nebyl podř&iacute;zen&yacute; veden&iacute; radnice, ale př&iacute;mo
    občanům a měl tak mnohem vět&scaron;&iacute; odpovědnost a motivaci.</li>\r\n<li
    style=\"text-align: justify;\">Zv&yacute;&scaron;it povědom&iacute; občanů o civiln&iacute;
    ochraně a z&aacute;roveň připravenosti a zabezpečen&iacute; obyvatelstva&nbsp;
    na bl&iacute;ž&iacute;c&iacute; se glob&aacute;ln&iacute; RESET finančn&iacute;ho
    syst&eacute;mu a neblah&eacute; n&aacute;sledky z&nbsp;něj vypl&yacute;vaj&iacute;c&iacute;.&nbsp;
    Chceme využ&iacute;t &nbsp;zku&scaron;enost&iacute;&nbsp; a praxe ze &Scaron;v&yacute;carska</li>\r\n</ul>\r\n<p><img
    src=\"/samples/assets/switzerland.png\" alt=\"\" /></p>\r\n<ul>\r\n<li style=\"text-align:
    justify;\">využijeme ochranu proti neleg&aacute;ln&iacute;mu Grafiti a sprejerům
    a naopak jim vyčlenit leg&aacute;ln&iacute; plochu kde mohou soutěžit v&nbsp;dovednostech</li>\r\n</ul>\r\n<p><strong>&nbsp;</strong></p>\r\n<h2><strong
    style=\"font-size: 1.5em; line-height: 1.5em;\"><img src=\"/samples/assets/__rovka.png\"
    alt=\"\" width=\"60\" height=\"59\" /></strong><strong>D</strong><strong style=\"font-size:
    1.5em; line-height: 1.5em;\">OPRAVA &ndash; chodn&iacute;ky a silnice</strong></h2>\r\n<p>R&aacute;di
    bychom odstranili z&aacute;vady a &bdquo;nedodělky&ldquo;, kter&yacute;m dosavadn&iacute;
    radn&iacute;, nevěnoval dostatečnou pozornost nebo se vůbec dosud nezrealizovali.</p>\r\n<p>Zejm&eacute;na
    na dobudov&aacute;n&iacute; a pravideln&eacute; opravy n&aacute;jezdů na chodn&iacute;ky
    pro voz&iacute;čk&aacute;ře a maminky s&nbsp;koč&aacute;rky a opravy v&scaron;ech
    po&scaron;kozen&yacute;ch chodn&iacute;ků, kde nyn&iacute; hroz&iacute; nebezpeč&iacute;
    &uacute;razu.</p>\r\n<ul>\r\n<li style=\"text-align: justify;\">V&nbsp;oblasti
    dopravy je prvořad&yacute;m t&eacute;matem rozhodnut&iacute; o realizaci či nerealizaci
    stavby &bdquo;Břevnovsk&eacute; radi&aacute;ly&ldquo; přes &uacute;zem&iacute;
    městsk&eacute; č&aacute;sti a stanoven&iacute; term&iacute;nu zah&aacute;jen&iacute;
    v&yacute;stavby aby nebyla plocha u Žalansk&eacute;ho dlouhodobě blokov&aacute;na.
    V př&iacute;padě rozhodnut&iacute; o v&yacute;stavbě požadujeme z&aacute;vazn&eacute;
    stanoven&iacute; term&iacute;nu v&yacute;stavby a prosazujeme variantu vedenou
    pod zem&iacute; a bez křižovatky s&nbsp;ulic&iacute; Sl&aacute;nskou.</li>\r\n<li
    style=\"text-align: justify;\">R&aacute;di bychom zrealizovali nov&yacute; přechod
    pro chodce přes ulici Bazovsk&eacute;ho k&nbsp;ulici Žufanově, aby zde nemuseli
    občan&eacute; brodit bl&aacute;tem a nebyli chr&aacute;něni před automobily</li>\r\n</ul>\r\n<p><img
    src=\"/samples/assets/DSCF8383.JPG\" alt=\"\" width=\"685\" height=\"513\" /></p>\r\n<ul>\r\n<li
    style=\"text-align: justify;\">Dal&scaron;&iacute;m probl&eacute;mem je i nedostatek
    parkovac&iacute;ch m&iacute;st pro vozidla. R&aacute;di bychom využili zku&scaron;enost&iacute;
    z&nbsp;NYC a zavedli syst&eacute;m dvoupatrov&eacute;ho parkov&aacute;n&iacute;
    v&nbsp;lokalit&aacute;ch tomu vhodn&yacute;ch, popř. k&nbsp;parkov&aacute;n&iacute;
    na střech&aacute;ch st&aacute;vaj&iacute;c&iacute;ch gar&aacute;ž&iacute;. Vybudovat
    parkovac&iacute; dům nebo využ&iacute;t chytr&eacute; modul&aacute;rn&iacute;
    parkovac&iacute; syst&eacute;my u konečn&eacute; tramvaj&iacute; a v&nbsp;oblasti
    ulic Mrkvičkova a Žufanova.</li>\r\n<li style=\"text-align: justify;\">st&aacute;vaj&iacute;c&iacute;
    parkovac&iacute; m&iacute;sta a parkovi&scaron;tě označit vodorovn&yacute;mi pruhy
    a uspořit tak řadu dnes blokovan&yacute;ch m&iacute;st</li>\r\n<li style=\"text-align:
    justify;\">Ve spolupr&aacute;ci s&nbsp;nov&yacute;m veden&iacute;m Pražsk&eacute;
    radnice co nejrychleji vyře&scaron;it katastrof&aacute;ln&iacute; stav žlut&eacute;ho
    protihlukov&eacute;ho tubusu v&nbsp;ulici Sl&aacute;nsk&aacute;. Věř&iacute;me,
    že Svobodn&iacute; uspěj&iacute; i ve volb&aacute;ch do Zastupitelstva hlavn&iacute;ho
    města Prahy a reorganizuj&iacute; nebo zru&scaron;&iacute; nefunkčn&iacute; moloch
    jm&eacute;nem Technick&aacute; spr&aacute;va komunikac&iacute;.</li>\r\n<li style=\"text-align:
    justify;\">Zabezpečit přechody pro chodce zejm&eacute;na u &scaron;kol, &scaron;kolek
    a přechodů přes tramvajov&eacute; koleji&scaron;tě mechanick&yacute;mi &nbsp;a
    světeln&yacute;mi zabezpečovac&iacute;mi prvky</li>\r\n</ul>\r\n<p><img src=\"/samples/assets/p_echod.jpg\"
    alt=\"\" width=\"695\" height=\"521\" /></p>\r\n<p><img src=\"/samples/assets/p_echodzabezpe_en_.jpg\"
    alt=\"\" width=\"695\" height=\"261\" /></p>\r\n<h2>&nbsp;</h2>\r\n<h2><strong
    style=\"line-height: 1.5em;\"><strong style=\"font-size: 1.5em; line-height: 1.5em;\"><img
    src=\"/samples/assets/__rovka.png\" alt=\"\" width=\"60\" height=\"59\" />&nbsp;&nbsp;</strong>PŘ&Iacute;VĚTIV&Eacute;
    ŽIVOTN&Iacute; PROSTŘED&Iacute;</strong></h2>\r\n<p><em>Na&scaron;&iacute;m hlavn&iacute;m
    c&iacute;lem je vytvořit př&iacute;jemn&eacute; a hlavně čist&eacute;, kde by
    neměl b&yacute;t probl&eacute;m nal&eacute;zt si sv&eacute; m&iacute;sto k relaxaci.</em>&nbsp;</p>\r\n<p><img
    src=\"/samples/assets/_ist__m_sto.png\" alt=\"\" /></p>\r\n<p style=\"text-align:
    justify;\">V&nbsp;r&aacute;mci t&eacute;to kapitoly bychom r&aacute;di rovněž
    využili v&nbsp;Řep&iacute;ch v zahranič&iacute; vyzkou&scaron;en&yacute;ch metod,
    např&iacute;klad PPP z&nbsp;USA (princip prvn&iacute;ho pap&iacute;rku) nebo syst&eacute;m
    na &uacute;činn&yacute; sběr ps&iacute;ch exkrementů majiteli psů, zahrnuj&iacute;c&iacute;
    &uacute;činnou kontrolu a sankci pro nepoř&aacute;dkumilovn&eacute; z&nbsp;Israele.&nbsp;
    Nezodpovědn&iacute; a nepoř&aacute;dek dělaj&iacute;c&iacute; lid&eacute; mus&iacute;
    poc&iacute;tit sv&eacute; nevhodn&eacute; chov&aacute;n&iacute; nejl&eacute;pe
    okamžitou citelnou sankc&iacute;.&nbsp; Pokl&aacute;d&aacute;me proto za potřebn&eacute;
    důsledněji postihovat zneči&scaron;ťov&aacute;n&iacute; veřejn&yacute;ch prostranstv&iacute;.</p>\r\n<ul>\r\n<li
    style=\"text-align: justify;\">Budeme podporovat ř&aacute;dnou &uacute;držbu a
    nov&eacute; v&yacute;sadby květin, zeleně vč. zazeleňov&aacute;n&iacute; ploch
    střech na odstraňov&aacute;n&iacute; tepeln&eacute;ho smogu v&nbsp;Řep&iacute;ch
    vč. vybudov&aacute;n&iacute; alternativn&iacute;ch metod splachov&aacute;n&iacute;
    WC, tepeln&yacute;ch čerpadel, kolektorů v&nbsp;a na&nbsp;domech.</li>\r\n<li
    style=\"text-align: justify;\">Na plo&scaron;e vymezen&eacute; ulicemi Žalansk&eacute;ho
    a Žufanova vybudovat CENTRAL park s&nbsp;prvky rodinn&eacute; rekreace a m&iacute;stem
    pro piknik, ZOO koutkem a atriem pro poř&aacute;d&aacute;n&iacute; venkovn&iacute;ch
    akc&iacute;. To v&scaron;e s&nbsp;ohledem na pl&aacute;novanou v&yacute;stavbu
    radi&aacute;ly</li>\r\n<li style=\"text-align: justify;\">rovněž dobudovat Lesopark
    za ulic&iacute; Mrkvičkovou</li>\r\n<li style=\"text-align: justify;\">Podpoř&iacute;me
    vznik sběrn&eacute;ho dvora s kompost&aacute;rnou hl.m Prahy pro Řepy, ide&aacute;lně
    v&nbsp;lokalitě pod&eacute;l ulice Drahoňovsk&eacute;ho</li>\r\n<li style=\"text-align:
    justify;\">pravidelně prov&aacute;dět deratizaci a čistěn&iacute; kontejnerů a
    kontejnerov&yacute;ch st&aacute;n&iacute;</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<h2><strong
    style=\"font-size: 1.5em; line-height: 1.5em;\"><img src=\"/samples/assets/__rovka.png\"
    alt=\"\" width=\"60\" height=\"59\" />&nbsp;</strong><strong>S</strong><strong
    style=\"font-size: 1.5em; line-height: 1.5em;\">OUKROM&Aacute; Z&Aacute;BAVA:
    SPORT A KULTURA, SPOLKOV&Aacute; ČINNOST</strong></h2>\r\n<p><strong><img src=\"/samples/assets/sokol_epy.gif\"
    alt=\"\" width=\"72\" height=\"91\" />&nbsp; &nbsp;<img src=\"/samples/assets/_panielka.jpg\"
    alt=\"\" width=\"71\" height=\"92\" />&nbsp; &nbsp;<img src=\"/samples/assets/storms.png\"
    alt=\"\" width=\"124\" height=\"92\" />&nbsp; &nbsp;<img src=\"/samples/assets/bicross.jpg\"
    alt=\"\" width=\"137\" height=\"100\" /></strong></p>\r\n<p><strong>&nbsp; </strong><em>&bdquo;Vydrž&iacute;-li
    kultura, přežije n&aacute;rod.&ldquo; Jan Ml&aacute;dek</em></p>\r\n<p><em>Jsme
    proti zv&yacute;hodňov&aacute;n&iacute; určit&yacute;ch skupin obyvatel na &uacute;kor
    druh&yacute;ch, proto podporujeme sn&iacute;žen&iacute; př&iacute;jmů města od
    občanů, aby měli finance na svou z&aacute;bavu.</em>&nbsp;</p>\r\n<ul>\r\n<li>V&nbsp;r&aacute;mci
    rozpočtu věnovat č&aacute;st prostředků vyv&aacute;ženě zejm&eacute;na na &uacute;držbu
    zař&iacute;zen&iacute; a podpoře ml&aacute;deže prostřednictv&iacute;m voucherů
    pro děti a t&iacute;m podpoř&iacute;me př&iacute;mo děti a jejich z&aacute;jem
    o sport narozd&iacute;l od st&aacute;vaj&iacute;c&iacute;ch dotac&iacute; pro
    odd&iacute;ly. V&nbsp;dospěl&eacute; kategorii by v&scaron;ak hlavn&iacute; z&aacute;těž
    měla b&yacute;t na provozovatel&iacute;ch a &uacute;častn&iacute;c&iacute;ch těchto
    činnost&iacute; a sponzoringu.</li>\r\n</ul>\r\n<p><img src=\"/samples/assets/bikros.jpg\"
    alt=\"\" width=\"690\" height=\"418\" /></p>\r\n<ul>\r\n<li>R&aacute;di bychom
    pomohli poskytnut&iacute;m vhodn&eacute; lokality extraligov&eacute;mu softballov&eacute;mu
    t&yacute;mu SC STORMS Řepy k&nbsp;vybudov&aacute;n&iacute; are&aacute;lu hři&scaron;ť
    v&nbsp;ulici Reinerově, aby nemuseli hr&aacute;t v&nbsp;azylu až v&nbsp;Bohnic&iacute;ch.&nbsp;</li>\r\n<li>Pro
    TJ Sokol Řepy &nbsp;odd&iacute;l - Fotbalu, bychom obdobně poskytli plochu na
    v&yacute;stavbu hři&scaron;tě s uměl&yacute;m povrchem přil&eacute;haj&iacute;c&iacute;
    k st&aacute;vaj&iacute;c&iacute;mu are&aacute;lu&nbsp;</li>\r\n<li>Požadujeme
    důsledn&yacute; ekonomick&yacute; a provozně technologick&yacute; audit před zah&aacute;jen&iacute;m
    v&yacute;stavby sportovn&iacute;ho are&aacute;lu na Chobotě. Do projektu navrhujeme
    začlenit i okruh na in-line bruslen&iacute;.</li>\r\n</ul>\r\n<p><img src=\"/samples/assets/chobot.jpg\"
    alt=\"\" width=\"687\" height=\"329\" /></p>\r\n<ul>\r\n<li>navrhujeme přem&iacute;stit
    mantinely z hur&aacute; akce zimn&iacute; kluzi&scaron;tě z tr&aacute;vy na asfaltovou
    plochu v Z&Scaron; Jana Wericha a využ&iacute;t jej tak celoročně&nbsp;</li>\r\n</ul>\r\n<p><img
    src=\"/samples/assets/DSCF8384.JPG\" alt=\"\" width=\"685\" height=\"514\" /></p>\r\n<ul>\r\n<li>Spolkovou
    činnost v&nbsp;obci budeme v&nbsp;r&aacute;mci možnost&iacute; podporovat zejm&eacute;na
    poskytnut&iacute;m prostor.</li>\r\n<li>Svobodn&iacute; preferuj&iacute; svobodu
    jednotlivce, tradičn&iacute; evropsk&eacute; a česk&eacute; hodnoty a konzervativn&iacute;
    př&iacute;stup k&nbsp;fungov&aacute;n&iacute; obce, proto v&nbsp;r&aacute;mci
    hlasov&aacute;n&iacute; zastupitelstva budeme hlasovat a dělat v&scaron;e proti
    v&yacute;stavbě me&scaron;ity či isl&aacute;msk&eacute; modlitebny v&nbsp;Řep&iacute;ch.</li>\r\n</ul>\r\n<p><img
    src=\"/samples/assets/stop_me_it_m.jpg\" alt=\"\" /><img src=\"/samples/assets/kostel.jpg\"
    alt=\"\" width=\"799\" height=\"506\" /></p>\r\n<h2><strong style=\"font-size:
    1.5em; line-height: 1.5em;\"><img src=\"/samples/assets/__rovka.png\" alt=\"\"
    width=\"60\" height=\"59\" /></strong><strong>&nbsp; &nbsp;</strong><strong style=\"line-height:
    1.5em;\">SOCI&Aacute;LN&Iacute; SLUŽBY</strong></h2>\r\n<h2>&nbsp;</h2>\r\n<p>Svobodn&iacute;
    důsledně preferuj&iacute; rodinn&eacute; soužit&iacute; a mezigeneračn&iacute;
    soun&aacute;ležitost.&nbsp; V&nbsp;r&aacute;mci soci&aacute;ln&iacute; p&eacute;če
    preferujeme rovnost &scaron;anc&iacute; a možnost v&yacute;běru mezi rodinnou,
    obecn&iacute; a st&aacute;tn&iacute; p&eacute;č&iacute;.</p>\r\n<ul>\r\n<li>Podpoř&iacute;me
    dobrou z&aacute;kladnu p&eacute;če o star&scaron;&iacute; a zdravotně postižen&eacute;
    občany &ndash; Centrum soci&aacute;lně zdravotn&iacute;ch služeb. N&aacute;&scaron;
    c&iacute;l je nad&aacute;le tyto služby zlep&scaron;ovat a t&iacute;m vytv&aacute;řet
    lep&scaron;&iacute; podm&iacute;nky pro tuto skupinu obyvatel. &nbsp;Nad&aacute;le
    chceme zachovat podm&iacute;nky pro společensk&yacute; život seniorů.</li>\r\n</ul>\r\n<p><img
    src=\"/samples/assets/centrum_socslu_eb.jpg\" alt=\"\" width=\"684\" height=\"455\"
    /></p>\r\n<ul>\r\n<li>Budeme podporovat organizace a sdružen&iacute; zaměřen&eacute;
    na pr&aacute;ci s&nbsp;dětmi, prevenci kriminality a z&aacute;vislosti na n&aacute;vykov&yacute;ch
    l&aacute;tk&aacute;ch.</li>\r\n<li>Podpoř&iacute;me v&yacute;stavbu domova pro
    seniory za předpokladu pozitivn&iacute;ho provozn&iacute;ho auditu projektu.</li>\r\n</ul>\r\n<p><img
    src=\"/samples/assets/trebovadps.jpg\" alt=\"\" width=\"685\" height=\"513\" /></p>\r\n<h2><strong
    style=\"font-size: 1.5em; line-height: 1.5em;\"><img src=\"/samples/assets/__rovka.png\"
    alt=\"\" width=\"60\" height=\"59\" />&nbsp;&nbsp;</strong><strong style=\"font-size:
    1.5em; line-height: 1.5em;\">ZDRAVOTNICTV&Iacute;</strong></h2>\r\n<p>&nbsp;budeme
    vytv&aacute;řet podm&iacute;nky pro zachov&aacute;n&iacute; rozsahu zdravotn&iacute;
    p&eacute;če, kter&aacute; je v&nbsp;Řep&iacute;ch zaji&scaron;ťov&aacute;na soukrom&yacute;mi
    l&eacute;kaři a zaji&scaron;těn&iacute; L&eacute;kařsk&eacute; služby prvn&iacute;
    pomoci pro děti a dospěl&eacute; provozovan&eacute; ve FN v Motole.</p>\r\n<p><img
    style=\"line-height: 1.5em;\" src=\"/samples/assets/poliklinika-websize.JPG\"
    alt=\"\" /></p>\r\n<p>&nbsp;U konečn&eacute; tramvaj&iacute; bychom r&aacute;di
    &nbsp;vybudovali n<span>ov&eacute; v&yacute;jezdov&eacute; stanovi&scaron;tě Zdravotnick&eacute;
    z&aacute;chrann&eacute; služby hlavn&iacute;ho města Prahy, abychom zkr&aacute;tili
    dojezdovou dobu do Řep a Zlič&iacute;na na minimum</span></p>\r\n<p><span><img
    src=\"/samples/assets/zachranka_stodulky.jpg\" alt=\"\" width=\"700\" height=\"313\"
    /></span></p>\r\n<p><strong style=\"font-size: 1.5em; line-height: 1.5em;\"><img
    src=\"/samples/assets/__rovka.png\" alt=\"\" width=\"60\" height=\"59\" />&nbsp;&nbsp;</strong><strong
    style=\"font-size: 1.5em; line-height: 1.5em;\">SVOBODN&Eacute; PODNIK&Aacute;N&Iacute;
    A SLUŽBY</strong></p>\r\n<p><em>Město nesm&iacute; podnikat a přek&aacute;žet.
    Z&aacute;roveň tak&eacute; vlastnit př&iacute;li&scaron; mnoho majetku, s kter&yacute;m
    neum&iacute; hospodařit.</em>&nbsp;</p>\r\n<p>Svobodn&eacute; podnik&aacute;n&iacute;&nbsp;
    = rovn&eacute; podm&iacute;nky pro v&scaron;echny</p>\r\n<ul>\r\n<li>Obec a &uacute;řad
    mus&iacute; přistupovat ke v&scaron;em podnikatelům stejně, nen&iacute; možno
    někter&eacute; z nich zv&yacute;hodňovat.</li>\r\n<li>Živnostn&iacute;ci jsou
    důležitou souč&aacute;st&iacute; města, proti jim nelze h&aacute;zet klacky pod
    nohy. Zru&scaron;&iacute;me proto poplatek za um&iacute;stěn&iacute; reklamn&iacute;ch
    stojanů před prodejnami, předzahr&aacute;dkami a zaměř&iacute;me se na &uacute;klid
    chodn&iacute;ků nejen před jejich obchody.</li>\r\n<li>Prosad&iacute;me, aby uvolněn&iacute;
    členov&eacute; zastupitelstva nezast&aacute;vali funkce v org&aacute;nech obchodn&iacute;ch
    společnost&iacute;, v kter&yacute;ch město nem&aacute; ž&aacute;dn&yacute; majetkov&yacute;
    pod&iacute;l či hlasovac&iacute; pr&aacute;va.</li>\r\n<li>Usilujeme o zru&scaron;en&iacute;
    poplatku za komun&aacute;ln&iacute; odpad po vzoru např&iacute;klad města Teplice.
    Vn&iacute;m&aacute;me to jako možnost ulehčit občanům od levicov&yacute;ch vl&aacute;d
    tahaj&iacute;c&iacute;ch z nich těžce vydělan&eacute; pen&iacute;ze. K tomu je
    v&scaron;ak nutn&eacute; omezit v&yacute;daje v podobě nesmysln&yacute;ch projektů
    a přebujel&eacute;ho &uacute;řadu (viz. &Scaron;t&iacute;hl&yacute; &uacute;řad).</li>\r\n<li>Nebudeme
    zvy&scaron;ovat daň z nemovitosti. Svobodn&iacute; naopak usiluj&iacute; o jej&iacute;
    zru&scaron;en&iacute;.</li>\r\n<li>Vystěhujeme neplatiče z obecn&iacute;ch bytů.</li>\r\n<li>Město
    by mělo m&iacute;t pouze mal&eacute; množstv&iacute; bytů pro obyvatele, kteř&iacute;
    se ocitnou v mimoř&aacute;dně t&iacute;živ&eacute; situaci. Jsme proti rozd&aacute;v&aacute;n&iacute;
    městsk&yacute;ch bytů politikům a &uacute;ředn&iacute;kům. Zavedeme jasn&aacute;
    krit&eacute;ria pro přidělov&aacute;n&iacute; bytů a zveřejn&iacute;me seznam
    uchazečů.</li>\r\n<li>Zaujmeme nekompromisn&iacute; postoj k dlužn&iacute;kům
    - 3x a DOST!!!</li>\r\n<li>Proto podporujeme maxim&aacute;ln&iacute; doprivatizov&aacute;n&iacute;
    bytov&eacute;ho fondu, zv&aacute;žen&iacute; odprodeje nebytov&yacute;ch prostor
    &nbsp;v&nbsp;pas&aacute;ž&iacute;ch - Makovsk&eacute;ho provozovatelům a pod&iacute;lu
    ve spr&aacute;vcovsk&eacute; firmě Optimis.</li>\r\n</ul>\r\n<p><img src=\"/samples/assets/makovsk_ho.jpg\"
    alt=\"\" /></p>\r\n<p><strong>&nbsp;</strong></p>\r\n<h2><strong style=\"font-size:
    1.5em; line-height: 1.5em;\"><img src=\"/samples/assets/__rovka.png\" alt=\"\"
    width=\"60\" height=\"59\" />&nbsp;&nbsp;</strong><strong>TRADIČN&Iacute; &Scaron;KOLSTV&Iacute;</strong></h2>\r\n<ul>\r\n<li>Podpoř&iacute;me
    různost v zaměřen&iacute; z&aacute;kladn&iacute;ch &scaron;kol a jejich n&aacute;ročnosti.
    Nebudeme br&aacute;nit vzniku soukrom&yacute;ch &scaron;kol.</li>\r\n<li>Zachov&aacute;me
    st&aacute;vaj&iacute;c&iacute; s&iacute;ť z&aacute;kladn&iacute;ch a mateřsk&yacute;ch
    &scaron;kol.</li>\r\n<li>Na&scaron;&iacute;m c&iacute;lem je sn&iacute;žen&iacute;
    počtu ž&aacute;ků v jednotliv&yacute;ch tř&iacute;d&aacute;ch. Kvalita a nikoli
    kvantita.</li>\r\n<li>Plat&iacute; totiž, že pokud budete &scaron;patně studovati,
    vyrostou z&nbsp;V&aacute;s soci&aacute;ln&iacute; demokrati.</li>\r\n<li>Zajist&iacute;me
    dostatek m&iacute;st pro děti v mateřsk&yacute;ch &scaron;kol&aacute;ch a uv&iacute;t&aacute;me
    i vznik soukrom&yacute;ch.</li>\r\n<li>Přiv&eacute;st do &scaron;kol př&iacute;klady
    ze života a naopak &scaron;kol&aacute;ky do komerčn&iacute;ho prostřed&iacute;
    a uk&aacute;zat jim př&iacute;klady &scaron;kodliv&eacute;ho vlivu euro dotac&iacute;.</li>\r\n<li>Do
    řepsk&yacute;ch &scaron;kol přin&eacute;st i modern&iacute; v&nbsp;ČR netradičn&iacute;
    vzděl&aacute;vac&iacute; syst&eacute;m Roberta T. Kiyosakiho.</li>\r\n</ul>\r\n<p><img
    src=\"/samples/assets/z_jw.jpg\" alt=\"\" width=\"381\" height=\"286\" /><img
    src=\"/samples/assets/kyiosaki.jpg\" alt=\"\" width=\"238\" height=\"284\" /><img
    src=\"/samples/assets/soch__ova.jpg\" alt=\"\" width=\"383\" height=\"255\" /></p>\r\n<ul>\r\n<li>Vybudovat
    ve spolupr&aacute;ci se &scaron;kolami v&nbsp;r&aacute;mci CENTRAL PARKU minizoo
    koutek, aby ml&aacute;dež měla možnost se každodenně zapojit do činnost&iacute;
    a poznat i něco ze života vesnice.</li>\r\n</ul>\r\n<p><img src=\"/samples/assets/zookoutek.jpg\"
    alt=\"\" width=\"668\" height=\"501\" /></p>\r\n<ul>\r\n<li>Zpř&iacute;stupnit
    sportovn&iacute; are&aacute;ly &scaron;kol veřejnosti</li>\r\n</ul>\r\n<p>&nbsp;&nbsp;</p>\r\n<h2><strong
    style=\"font-size: 1.5em; line-height: 1.5em;\"><strong style=\"font-size: 1.5em;
    line-height: 1.5em;\"><img src=\"/samples/assets/__rovka.png\" alt=\"\" width=\"60\"
    height=\"59\" />&nbsp;&nbsp;</strong>SPOLUPR&Aacute;CE</strong></h2>\r\n<ul>\r\n<li>R&aacute;di
    bychom se pravidelně setk&aacute;vali s veden&iacute;m sousedn&iacute;ch městsk&yacute;ch
    č&aacute;st&iacute; a ře&scaron;en&iacute; konkr&eacute;tn&iacute; možnosti spolupr&aacute;ce
    a probl&eacute;mů</li>\r\n<li>R&aacute;di bychom roz&scaron;&iacute;řili počet
    partnersk&yacute;ch obc&iacute; a městsk&yacute;ch č&aacute;st&iacute; v&nbsp;zahranič&iacute;
    i v ČR</li>\r\n</ul>\r\n<p>&nbsp;<img src=\"/samples/assets/mapa_activ_cil3.jpg\"
    alt=\"\" width=\"682\" height=\"491\" /></p>\r\n<h2 align=\"center\">&nbsp;</h2>\r\n<h2
    align=\"center\"><strong>Děkujeme za V&aacute;&scaron; čas, kter&yacute; jste
    věnovali přečten&iacute; na&scaron;eho programu a věř&iacute;me, že V&aacute;m
    pomůže při Va&scaron;em rozhodov&aacute;n&iacute;. &nbsp;</strong></h2>\r\n<p
    align=\"center\"><strong>STAROSTA = starat se o obec</strong></p>\r\n<p>&nbsp;</p>\r\n<h2>a
    nezapom&iacute;nejte že: nov&eacute; ko&scaron;tě vždy mete l&eacute;pe než to
    star&eacute;&hellip;.</h2>\r\n<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img src=\"/samples/assets/ko_t_.jpg\"
    alt=\"\" /></p>\r\n<p>&nbsp;</p>\r\n<p align=\"center\"><strong>&nbsp;</strong></p>\r\n<h1
    align=\"center\"><strong>&ndash; Buďte svobodn&iacute; &ndash; </strong></h1>\r\n<h1
    align=\"center\"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp;VOLTE 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </strong></h1>\r\n<h1><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp;volte SVOBODN&Eacute;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></h1>\r\n<p
    align=\"center\"><strong>&nbsp;<img src=\"/samples/assets/__slo_4.png\" alt=\"\"
    /></strong></p>\r\n<p align=\"center\">&nbsp;<img src=\"/samples/assets/svobodn__logo.png\"
    alt=\"\" /></p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
