---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 28
editable_elements:
  main/kontakt: "<p>Ale&scaron; Kuna -&nbsp;730 914 074 -&nbsp;<a href=\"mailto:ales.kuna@post.cz\">ales.kuna@post.cz</a></p>\r\n<p>Radek
    Zelycz - 602 483 007 - <a href=\"mailto:zelycz@svobodni.cz\">zelycz@svobodni.cz</a></p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}