---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p><span style=\"font-size: xx-large;\"><strong>O S V O B
    O D &Iacute; M E&nbsp;&nbsp; &Uacute; S T &Iacute;</strong></span></p>\r\n<p>&nbsp;</p>\r\n<ul>\r\n<li><strong>od
    dotačn&iacute;ho &scaron;&iacute;lenstv&iacute;,</strong></li>\r\n<li><strong>zbytečn&yacute;ch
    vyhl&aacute;&scaron;ek a z&aacute;kazů,</strong></li>\r\n<li><strong>politick&eacute;ho
    vlivu na sport a kulturu</strong></li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p><span style=\"font-size:
    large;\"><strong>Dotačn&iacute; &scaron;&iacute;lenstv&iacute;.</strong> </span>Z&aacute;sadn&iacute;m
    a dlouholet&yacute;m probl&eacute;mem &Uacute;st&iacute; nad Labem jsou dotace,
    zejm&eacute;na evropsk&eacute;. Svobodn&iacute; je považuj&iacute; za nespravedlnost,
    kter&aacute; zv&yacute;hodňuje jedny na &uacute;kor druh&yacute;ch. Udělov&aacute;n&iacute;
    těchto v&yacute;hod vyvolen&yacute;m osob&aacute;m je hlavn&iacute; př&iacute;činou
    korupce. Než se ČR podař&iacute; vystoupit ze začarovan&eacute;ho kruhu (euro)dotac&iacute;,
    navrhuj&iacute; Svobodn&iacute; jako krok spr&aacute;vn&yacute;m směrem, aby město
    čerpalo dotace v&yacute;hradně za předpokladu, že jeho pod&iacute;l na financov&aacute;n&iacute;
    nebude kryt&yacute; &uacute;věrem a bude použit pouze na městem potřebn&eacute;
    veřejn&eacute; statky (chodn&iacute;ky, silnice, zeleň atd.). Při financov&aacute;n&iacute;
    dotačn&iacute;ch projektů budeme zohledňovat finančn&iacute; situaci města. V&yacute;běrov&aacute;
    ř&iacute;zen&iacute; pro dodavatele mus&iacute; b&yacute;t transparentn&iacute;
    a město se nesm&iacute; oh&aacute;nět jak&yacute;msi obchodn&iacute;m tajemstv&iacute;m.
    Rovněž chceme pro dotace zav&eacute;st syst&eacute;m lidov&eacute;ho veta (dobrovoln&yacute;m
    usnesen&iacute;m zastupitelstva), kdy občan&eacute; budou m&iacute;t možnost vetovat
    dotovan&yacute; projekt.</p>\r\n<p><em>PŘ&Iacute;KLAD: Dostane-li město nab&iacute;dku
    na evropsk&eacute; dotace ve v&yacute;&scaron;i 3 miliard korun, ale jeho pod&iacute;l
    na financov&aacute;n&iacute; bude 500 milionů, kter&eacute; v&nbsp;rozpočtu nejsou
    k&nbsp;dispozici, a bylo by nutn&eacute; si tuto č&aacute;stku půjčit, Svobodn&iacute;
    budou hlasovat proti. A&nbsp;to i v&nbsp;př&iacute;padě, že by tuto č&aacute;stku
    chtělo město z&iacute;skat prodejem vlastn&iacute;ho majetku, kter&yacute; by
    měl b&yacute;t použit sp&iacute;&scaron;e na ře&scaron;en&iacute; stavu rozpočtu.</em></p>\r\n<p>&nbsp;</p>\r\n<p><span
    style=\"font-size: large;\"><strong>Zbytečn&eacute; vyhl&aacute;&scaron;ky a z&aacute;kazy</strong>.</span>
    Svobodn&iacute; považuj&iacute; rostouc&iacute; počet obecn&iacute;ch vyhl&aacute;&scaron;ek
    a z&aacute;kazů na v&scaron;ech &uacute;rovn&iacute;ch za zbytečn&eacute; zasahov&aacute;n&iacute;
    do svobody občanů a přek&aacute;žku podnik&aacute;n&iacute;. Chceme-li oživit
    &Uacute;st&iacute; nad Labem a učinit z&nbsp;něj l&aacute;kav&eacute; město pro
    bydlen&iacute; a podnik&aacute;n&iacute;, nen&iacute; toho možn&eacute; dos&aacute;hnout
    zakazov&aacute;n&iacute;m toho či onoho, např. na veřejn&yacute;ch prostranstv&iacute;ch.
    Ta mus&iacute; b&yacute;t svobodn&aacute; pro slu&scaron;nou z&aacute;bavu i podnik&aacute;n&iacute;.
    Svobodn&iacute; proto budou prosazovat zru&scaron;en&iacute; nebo zjednodu&scaron;en&iacute;
    tržn&iacute;ho ř&aacute;du a vyhl&aacute;&scaron;ek omezuj&iacute;c&iacute;ch
    podnik&aacute;n&iacute; a chov&aacute;n&iacute; občanů.</p>\r\n<p><em>PŘ&Iacute;KLAD:
    Budeme prosazovat zru&scaron;en&iacute; poplatku za odpad, kter&yacute; je pouze
    dal&scaron;&iacute;m zdaněn&iacute;m občanů ze strany obce. Tržn&iacute; ř&aacute;d
    mus&iacute; b&yacute;t jednodu&scaron;&scaron;&iacute; &ndash; chce-li někdo na
    ulici prod&aacute;vat občerstven&iacute; nebo vlastn&iacute; v&yacute;robky a
    nebr&aacute;n&iacute; v&nbsp;jej&iacute;m už&iacute;v&aacute;n&iacute; ostatn&iacute;m,
    neměl by čelit odporu města. Podobně je tomu s&nbsp;živou hudebn&iacute; produkc&iacute;
    atd. Svobodn&iacute; tak&eacute; chtěj&iacute; prosadit zru&scaron;en&iacute;
    platnosti vyhl&aacute;&scaron;ky o&nbsp;ru&scaron;en&iacute; nočn&iacute;ho klidu
    v&nbsp;p&aacute;tek a sobotu v&nbsp;centru města. Ru&scaron;en&iacute; nočn&iacute;ho
    klidu m&aacute; na z&aacute;kladě z&aacute;kona ře&scaron;it st&aacute;tn&iacute;
    policie. Str&aacute;žn&iacute;ky, kteř&iacute; tak nebudou muset vyj&iacute;ždět
    zasahovat do z&aacute;bavn&iacute;ch podniků, chceme přesunout v&nbsp;tuto kritickou
    dobu do ulic a parků města, kde budou hl&iacute;dat poř&aacute;dek a zaji&scaron;ťovat
    bezpečnost.</em></p>\r\n<p>&nbsp;</p>\r\n<p><strong><span style=\"font-size: large;\">Bezpečnost.</span></strong>
    Na&scaron;&iacute; snahou bude městskou policii v&iacute;ce rajonizovat &ndash;
    každ&yacute; str&aacute;žn&iacute;k bude m&iacute;t na starosti svůj raj&oacute;n
    či oblast, nejl&eacute;pe v&nbsp;m&iacute;stě bydli&scaron;tě, kde zn&aacute;
    bezpečnostn&iacute; problematiku nejl&eacute;pe. Str&aacute;žn&iacute;ci patř&iacute;
    do ulic, dohl&iacute;žet na poř&aacute;dek a bezpečnost, nen&iacute; to složka
    určen&aacute; k&nbsp;doplňov&aacute;n&iacute; městsk&eacute; kasy vyb&iacute;r&aacute;n&iacute;m
    pokut v&nbsp;co největ&scaron;&iacute;m množstv&iacute;. Jejich hodnota tkv&iacute;
    i v&nbsp;preventivn&iacute; pr&aacute;ci s&nbsp;ml&aacute;dež&iacute;, seznamov&aacute;n&iacute;
    star&scaron;&iacute;ch občanů s&nbsp;riziky, atd. Nepotřebujeme str&aacute;žn&iacute;ky
    u&nbsp;každ&eacute;ho přechodu nebo &scaron;patně zaparkovan&eacute;ho auta. Tuto
    činnost mohou brig&aacute;dn&iacute; formou zastat třeba ženy na mateřsk&eacute;,
    nezaměstnan&iacute; atd. Svobodn&iacute; tak&eacute; prosazuj&iacute; zjednodu&scaron;en&iacute;
    dopravn&iacute;ho značen&iacute; ve městě a roz&scaron;&iacute;řen&iacute; možnost&iacute;
    parkov&aacute;n&iacute;.</p>\r\n<p><em>PŘ&Iacute;KLAD: Budeme prosazovat, aby
    vchody obytn&yacute;ch budov v&nbsp;raj&oacute;nu str&aacute;žn&iacute;ka byly
    opatřeny jeho fotografi&iacute; a mobiln&iacute;m č&iacute;slem, tak aby každ&yacute;
    znal sv&eacute;ho str&aacute;žn&iacute;ka. Současně chceme městskou policii využ&iacute;t
    k&nbsp;bedlivěj&scaron;&iacute;mu hl&iacute;d&aacute;n&iacute; parků, jež je třeba
    &bdquo;vr&aacute;tit&ldquo; do už&iacute;v&aacute;n&iacute; občanům, kteř&iacute;
    parky nenič&iacute;. D&aacute;le Svobodn&iacute; navrhuj&iacute;, aby parkov&aacute;n&iacute;
    ve městě bylo na jednu hodinu zdarma. Město by nemělo na parkov&aacute;n&iacute;
    vyděl&aacute;vat, ale mělo by jej zpř&iacute;stupnit co největ&scaron;&iacute;mu
    množstv&iacute; občanů, kteř&iacute; si potřebuj&iacute; v&nbsp;různ&yacute;ch
    denn&iacute;ch dob&aacute;ch ve městě vyř&iacute;dit sv&eacute; z&aacute;ležitosti.</em></p>\r\n<p>&nbsp;</p>\r\n<p><strong><span
    style=\"font-size: large;\">Sport a kultura</span>.</strong> Z&aacute;vislost
    sportovn&iacute;ch a kulturn&iacute;ch organizac&iacute; v&nbsp;&Uacute;st&iacute;
    nad Labem na politick&yacute;ch změn&aacute;ch po volb&aacute;ch i&nbsp;rozmaru
    radn&iacute;ch je př&iacute;činou kriz&iacute; v&nbsp;jejich fungov&aacute;n&iacute;.
    Někter&eacute; organizace mohou jen těžko vyž&iacute;t z př&iacute;m&eacute;ho
    financov&aacute;n&iacute; od občanů či firem (l&iacute;stky, sponzoring atd.),
    když za současn&eacute; situace odv&aacute;d&iacute; každ&yacute; pracuj&iacute;c&iacute;
    občan skoro 50&nbsp;% sv&eacute;ho v&yacute;dělku do st&aacute;tn&iacute; kasy
    formou v&scaron;emožn&yacute;ch dan&iacute;ch a poplatků. Svobodn&iacute; chtěj&iacute;
    tyto pen&iacute;ze občanům alespoň č&aacute;stečně vr&aacute;tit t&iacute;m, že
    se občan&eacute; budou př&iacute;mo pod&iacute;let na rozhodov&aacute;n&iacute;
    o rozpočtu pro sport a kulturu. Sami t&iacute;m urč&iacute;, kter&eacute; organizace
    považuj&iacute; za sobě prospě&scaron;n&eacute;, a mohou je osvobodit od politick&eacute;ho
    vlivu. Přestože je to pouze krok k&nbsp;ide&aacute;ln&iacute;mu stavu, kdy mohou
    d&iacute;ky mal&eacute;mu daňov&eacute;mu zat&iacute;žen&iacute; sportovn&iacute;
    a kulturn&iacute; organizace fungovat zcela a opravdu svobodně, považuj&iacute;
    toto Svobodn&iacute; v&nbsp;&Uacute;st&iacute; nad Labem za re&aacute;ln&eacute;
    a př&iacute;stupn&eacute; dočasn&eacute; ře&scaron;en&iacute; pro financov&aacute;n&iacute;
    z&aacute;jmov&yacute;ch instituc&iacute;. Jedn&aacute; se o&nbsp;malou formu př&iacute;m&eacute;
    demokracie, kter&aacute; je doplňkem zastupitelsk&eacute; demokracie podporovan&eacute;
    Svobodn&yacute;mi.</p>\r\n<p><em>PŘ&Iacute;KLAD: Svobodn&iacute; budou prosazovat
    vyčleněn&iacute; č&aacute;sti městsk&yacute;ch financ&iacute; na sportovn&iacute;
    a kulturn&iacute; aktivity (v aktu&aacute;ln&iacute;m poměru) a jejich rozdělen&iacute;
    mezi žadatele působ&iacute;c&iacute; v&nbsp;&Uacute;st&iacute; nad Labem (soukrom&eacute;
    i obc&iacute; zřizovan&eacute; organizace) na z&aacute;kladě volby samotn&yacute;ch
    občanů. <em>Lze to prov&eacute;st např&iacute;klad formou dotazn&iacute;ku, ve
    kter&eacute;m občan&eacute; rozděl&iacute; 10 bodů mezi vybran&eacute; žadatele,
    nebo formou pouk&aacute;zek udělovan&yacute;ch občanům. Podle z&iacute;skan&yacute;ch
    bodů či pouk&aacute;zek budou pot&eacute; pen&iacute;ze občanů poskytnuty žadatelům.
    T&iacute;mto způsobem bude v&iacute;ce z&aacute;ležet na schopnostech organizac&iacute;
    a jejich veden&iacute;, nam&iacute;sto toho, aby v jejich čele seděli dosazen&iacute;
    př&aacute;tel&eacute; radnice či samotn&iacute; politici (kde jde vyloženě o&nbsp;střet
    z&aacute;jmů). Městsk&eacute; organizace by t&iacute;m tak&eacute; měly b&yacute;t
    připraveněj&scaron;&iacute; na eventu&aacute;ln&iacute; přeměnu na soukrom&eacute;
    občansk&eacute; spolky apod</em>.</em></p>\r\n<p>&nbsp;</p>\r\n<p><span style=\"font-size:
    large;\"><strong>&Scaron;kolstv&iacute;. </strong></span>To, že v&nbsp;současnosti
    chyběj&iacute; m&iacute;sta ve &scaron;kolk&aacute;ch, v&iacute; asi každ&yacute;.
    Objevuj&iacute; se hlasy, že by radnice (za miliony korun) měla stavět dal&scaron;&iacute;
    a dal&scaron;&iacute; &scaron;kolky a vytv&aacute;řet vy&scaron;&scaron;&iacute;
    kapacity (kter&eacute; po skončen&iacute; populačn&iacute; vlny zůstanou leckdy
    pr&aacute;zdn&eacute; nebo se prod&aacute;vaj&iacute; pod cenou). Svobodn&iacute;
    podporuj&iacute; jin&yacute; směr &ndash; obr&aacute;tit se na soukrom&yacute;
    sektor, kter&yacute; je mnohem pružněj&scaron;&iacute;, levněj&scaron;&iacute;
    a ve valn&eacute; vět&scaron;ině i&nbsp;kvalitněj&scaron;&iacute; (del&scaron;&iacute;
    provozn&iacute; doba, v&iacute;ce kroužků v&nbsp;ceně atd.). Budeme tak&eacute;
    hledat voln&eacute; kapacity v&nbsp;budov&aacute;ch z&aacute;kladn&iacute;ch &scaron;kol,
    kde bude možn&eacute; sloučen&iacute;m sn&iacute;žit n&aacute;klady.</p>\r\n<p><em>PŘ&Iacute;KLAD:
    Pen&iacute;ze magistr&aacute;tu určen&eacute; pro &scaron;kolky i&nbsp;&scaron;koly
    by měly j&iacute;t za d&iacute;tětem, tedy klidně i&nbsp;do soukrom&eacute; sf&eacute;ry.
    Svobodn&iacute; budou navrhovat syst&eacute;m, kdy o&nbsp;tom, kter&aacute; &scaron;kolka
    či &scaron;kola z&iacute;sk&aacute; finance města, rozhodnou sami rodiče. T&iacute;m
    se zv&yacute;&scaron;&iacute; konkurence i pro &scaron;kolstv&iacute; st&aacute;tn&iacute;
    a sn&iacute;ž&iacute; se cena pro samotn&eacute; rodiče &ndash; soukrom&eacute;
    &scaron;kolky a &scaron;koly se stanou dostupněj&scaron;&iacute;mi.</em></p>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<p><span
    style=\"font-size: large;\"><strong>Svobodn&iacute; v komun&aacute;ln&iacute;
    politice vych&aacute;z&iacute; obecně z těchto principů:</strong></span></p>\r\n<ol>\r\n<li>Obce
    hospodař&iacute; zpravidla s&nbsp;vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute;
    jen v&nbsp;mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute;
    vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute;
    prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona
    o&nbsp;vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</li>\r\n<li>Obce
    vynakl&aacute;daj&iacute; prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute;
    statky, tj. na obecn&iacute; silnice, chodn&iacute;ky a zaji&scaron;těn&iacute;
    poř&aacute;dku a čistoty v&nbsp;obc&iacute;ch.</li>\r\n<li>Obce z&aacute;sadně
    nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute; deformovat tržn&iacute;
    prostřed&iacute;.</li>\r\n<li>Obce ukl&aacute;daj&iacute; přebytky běžn&eacute;ho
    hospodařen&iacute; z&aacute;sadně konzervativně, tj. do aktiv s&nbsp;minim&aacute;ln&iacute;m
    rizikem.</li>\r\n<li>V&nbsp;př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce
    nesměj&iacute; odvol&aacute;vat na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute;
    smlouvy jsou veřejn&eacute;.</li>\r\n<li>Svobodn&iacute; podporuj&iacute; změny
    daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo v&nbsp;kaps&aacute;ch
    lid&iacute; a omezilo se přerozdělov&aacute;n&iacute; jak na &uacute;rovni st&aacute;tu,
    tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute; v&yacute;nosu dan&iacute;
    občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute; unie je třeba odstranit.</li>\r\n</ol>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
