---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: |-
    <p><span style="font-size: medium;"><strong>Na podzim 2014 jsme do ZMČ Praha 18&nbsp;kandidovali s t&iacute;mto programem:</strong></span></p>
    <p>Svobodn&iacute; v komun&aacute;ln&iacute; politice vych&aacute;z&iacute; obecně z těchto principů:</p>
    <ol>
    <li>Obce hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute; jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute; prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</li>
    <li>Obce vynakl&aacute;daj&iacute; prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute; silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v obc&iacute;ch.</li>
    <li>Obce z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.</li>
    <li>Obce ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</li>
    <li>V př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</li>
    <li>Svobodn&iacute; podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute; v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute; unie je třeba odstranit.</li>
    </ol>
    <p><span style="font-size: medium;"><strong>Program pro svobodn&eacute; Letňany:</strong></span></p>
    <p><span style="font-size: medium;">1. Činnost radnice, finance MČ a rozpočtov&aacute; politika</span></p>
    <p><span style="font-size: medium;"><em>Odpovědn&eacute; hospodařen&iacute; s vyrovnan&yacute;mi rozpočty je z&aacute;kladn&iacute;m kamenem funguj&iacute;c&iacute; modern&iacute; městsk&eacute; č&aacute;sti</em></span></p>
    <p><span style="font-size: medium;">2. &Uacute;zemn&iacute; rozvoj, obecn&iacute; byty, životn&iacute; prostřed&iacute;</span></p>
    <p><span style="font-size: medium;"><em>Rozumn&yacute; rozvoj okrajov&yacute;ch &uacute;zem&iacute;, ž&aacute;dn&eacute; zahu&scaron;ťov&aacute;n&iacute; v&yacute;stavbou uvnitř Letňan, udržovan&aacute; zeleň</em></span></p>
    <p><span style="font-size: medium;">3. Doprava a bezpečnost</span></p>
    <p><span style="font-size: medium;"><em>Letňany bezpečn&eacute; pro řidiče i chodce, s uklizen&yacute;mi komunikacemi</em></span></p>
    <p><span style="font-size: medium;"><em>4. </em>&Scaron;kolstv&iacute; a vzděl&aacute;v&aacute;n&iacute;</span></p>
    <p><span style="font-size: medium;"><em>Efektivn&iacute; v&yacute;uka v různorodě zaměřen&yacute;ch z&aacute;kladn&iacute;ch &scaron;kol&aacute;ch, spravedliv&aacute; soutěž mateřsk&yacute;ch &scaron;kol</em></span></p>
    <p><span style="font-size: medium;">5. Kultura, soci&aacute;ln&iacute; oblast, sport a voln&yacute; čas</span></p>
    <p><span style="font-size: medium;"><em>Za Letňany kulturn&iacute;, sportovn&iacute; a žij&iacute;c&iacute; společensk&yacute;m životem, volnočasovou aktivitou dět&iacute; a ml&aacute;deže proti kriminalitě a drog&aacute;m</em></span></p>
    <p><span style="font-size: medium;">6. Podpora živnostn&iacute;ků, podnik&aacute;n&iacute; a rozvoj služeb</span></p>
    <p><span style="font-size: medium;"><em>Chceme Letňany s pestrou nab&iacute;dkou služeb od živnostn&iacute;ků</em></span></p>
    <p><span style="font-size: medium;">7. Zdravotnictv&iacute;</span></p>
    <p><span style="font-size: medium;"><em>Modern&iacute; zdravotnick&eacute; služby dostupn&eacute; v&scaron;em letňansk&yacute;m obyvatelům</em></span></p>
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
