---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: |-
    <ol dir="ltr">
    <li>
    <div id="docs-internal-guid-83e505bf-83ea-990d-081f-f09332ad65bf" style="line-height: 1.0791; margin-top: 0pt; margin-bottom: 8pt;"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Doprava</span></div>
    </li>
    <ul style="margin-top: 0pt; margin-bottom: 0pt;">
    <li style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: circle; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Aplikujeme vyv&aacute;žen&yacute; př&iacute;stup. Lid&eacute; z&nbsp;Bystrce se přepravuj&iacute; různ&yacute;mi prostředky dle sv&eacute; volby. Na&scaron;&iacute;m &uacute;kolem je zajistit jim k&nbsp;tomu podm&iacute;nky, ne vychov&aacute;vat občany preferov&aacute;n&iacute;m jedn&eacute; formy dopravy a znepř&iacute;jemňov&aacute;n&iacute;m druh&eacute;.</span></p>
    </li>
    <li style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: circle; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Podpoř&iacute;me stavbu nasv&iacute;cen&yacute;ch přechodů. Podle n&aacute;s jsou pro bezpečnost provozu daleko důležitěj&scaron;&iacute; než ru&scaron;en&iacute; odbočovac&iacute;ch pruhů na Vejrostově a montov&aacute;n&iacute; zpomalovac&iacute;ch prahů.</span></p>
    </li>
    <li style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: circle; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Podpoř&iacute;me zachov&aacute;n&iacute; a vytv&aacute;řen&iacute; nov&yacute;ch parkovac&iacute;ch m&iacute;st. Odm&iacute;t&aacute;me parkovac&iacute; z&oacute;ny. Parkovac&iacute; z&oacute;na je platba bez protislužby (pl&aacute;tce nem&aacute; garantovan&eacute; parkovac&iacute; m&iacute;sto), tedy dal&scaron;&iacute; skryt&aacute; daň.</span></p>
    </li>
    <li style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: circle; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Veřejn&aacute; doprava dotovan&aacute; z&nbsp;dan&iacute; m&aacute; sloužit občanům. Tramvaj č. 3 bude jezdit na Ečerovu. Zat&iacute;m. V&yacute;hledově na Kamechy.</span></p>
    </li>
    </ul>
    <li style="color: #000000; font-family: Calibri; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: decimal; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Majetek</span></p>
    </li>
    <ul style="margin-top: 0pt; margin-bottom: 0pt;">
    <li style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: circle; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Chceme transparentn&iacute; a f&eacute;rovou privatizaci obecn&iacute;ho majetku včetně obecn&iacute;ch bytů - obec si m&aacute; držet jen nezbytně nutn&eacute; byty pro potřeby nouze. Nem&aacute; zaji&scaron;ťovat komfortn&iacute; a levn&eacute; bydlen&iacute; vybran&yacute;m obyvatelům, např&iacute;klad politikům.</span></p>
    </li>
    <li style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: circle; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Zastav&iacute;me &scaron;ikanu majitelů pozemků. Je nepř&iacute;pustn&eacute;, aby na jedn&eacute; straně městsk&aacute; č&aacute;st vyhrožovala pokutou majitelům pozemku, pokud pozemek ve sv&eacute;m vlastnictv&iacute; neposekaj&iacute;, ale na straně druh&eacute; je z&aacute;sadně omezuj&iacute; v tom, co na pozemc&iacute;ch mohou dělat. Je to pop&iacute;r&aacute;n&iacute; principu soukrom&eacute;ho vlastnictv&iacute;. To se t&yacute;k&aacute; např&iacute;klad pozemků okolo Přehrady v&nbsp;obdob&iacute; kon&aacute;n&iacute; Ignis Brunensis.</span></p>
    </li>
    </ul>
    <li style="color: #000000; font-family: Calibri; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: decimal; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">&Scaron;kolky a &scaron;koly</span></p>
    </li>
    <ul style="margin-top: 0pt; margin-bottom: 0pt;">
    <li style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: circle; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Vytvoř&iacute;me podm&iacute;nky pro nav&yacute;&scaron;en&iacute; m&iacute;st ve &scaron;kol&aacute;ch a &scaron;kolk&aacute;ch. Podpoř&iacute;me vznik lesn&iacute;ch &scaron;kolek, soukrom&yacute;ch &scaron;kolek a dal&scaron;&iacute;ch zař&iacute;zen&iacute; narovn&aacute;n&iacute;m zdeformovan&eacute;ho tržn&iacute;ho prostřed&iacute;. V&scaron;echny formy před&scaron;koln&iacute; v&yacute;chovy maj&iacute; m&iacute;t stejn&eacute; podm&iacute;nky, volba je na rodič&iacute;ch, ne na politic&iacute;ch a &uacute;ředn&iacute;c&iacute;ch.</span></p>
    </li>
    <li style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: circle; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Mysl&iacute;me dopředu: dnes jsou potřeba pro siln&eacute; populačn&iacute; ročn&iacute;ky &scaron;kolky, z&iacute;tra &scaron;koly, poz&iacute;tř&iacute; gymn&aacute;zium.</span></p>
    </li>
    </ul>
    <li style="color: #000000; font-family: Calibri; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: decimal; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Zru&scaron;en&iacute; m&iacute;stn&iacute;ch poplatků</span></p>
    </li>
    <ul style="margin-top: 0pt; margin-bottom: 0pt;">
    <li style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: circle; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Zru&scaron;&iacute;me m&iacute;stn&iacute; poplatky za l&aacute;zeňsk&yacute; nebo rekreačn&iacute; pobyt, ze vstupn&eacute;ho a z&nbsp;ubytovac&iacute; kapacity. Maj&iacute; charakter dodatečn&eacute; daně br&aacute;n&iacute;c&iacute; podnik&aacute;n&iacute;. V&yacute;nos je miziv&yacute; v&nbsp;porovn&aacute;n&iacute; s&nbsp;administrativn&iacute;mi n&aacute;klady.</span></p>
    </li>
    <li style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: circle; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Pejskařům nab&iacute;z&iacute;me dohodu: Zru&scaron;&iacute;me poplatek za psa. Odm&iacute;t&aacute;me současn&yacute; syst&eacute;m presumpce viny. Budou si nosit vlastn&iacute; pytl&iacute;ky a po psech ukl&iacute;zet. Slu&scaron;n&iacute; majitel&eacute; si po sv&yacute;ch psech uklid&iacute; sami, a proto od nich nen&iacute; potřeba vyb&iacute;rat poplatek. Ti ostatn&iacute; budou důsledněji postihov&aacute;ni městskou polici&iacute;. </span></p>
    </li>
    <li style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: circle; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Smysl m&aacute; pouze zachov&aacute;n&iacute; regulačn&iacute;ch poplatků (např. za už&iacute;v&aacute;n&iacute; veřejn&eacute;ho prostranstv&iacute;).</span></p>
    </li>
    <li style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: circle; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Podpoř&iacute;me sn&iacute;žen&iacute; či zru&scaron;en&iacute; obecn&iacute; daně z&nbsp;hlavy zvan&eacute; &bdquo;platba za popelnice&ldquo;. Neplat&iacute; se dle objemu vyprodukovan&eacute;ho odpadu, někteř&iacute; producenti odpadu vůbec neplat&iacute; (lid&eacute; s&nbsp;bydli&scaron;těm mimo Brno, notoričt&iacute; neplatiči čehokoliv). My jen chceme občanům Brna dopř&aacute;t stejn&yacute; luxus, odvoz odpadu zdarma. Likvidace odpadu ve velkoměstě je veřejn&yacute; statek.</span></p>
    </li>
    </ul>
    <li style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: decimal; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Rozhodov&aacute;n&iacute; bl&iacute;že občanovi</span></p>
    </li>
    <ul style="margin-top: 0pt; margin-bottom: 0pt;">
    <li style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: circle; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Brno je silně centralizovan&eacute;, v&nbsp;městsk&yacute;ch č&aacute;stech se rozhoduje o drobnostech. To je podle n&aacute;s &scaron;patně. Rozhodovat se m&aacute; &nbsp;vždy co nejbl&iacute;že občanovi.</span></p>
    </li>
    <li style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: circle; background-color: transparent;" dir="ltr">
    <p style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Např&iacute;klad bystrck&yacute; starosta vůbec nemůže &uacute;kolovat městskou policii, o konkr&eacute;tn&iacute; &uacute;koly se mus&iacute; prosit na magistr&aacute;t.</span></p>
    </li>
    <li style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; list-style-type: circle; background-color: transparent;" dir="ltr"><span style="color: #000000; font-family: Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline; background-color: transparent;">Pokud to chcete změnit, je potřeba volit Svobodn&eacute; nejen na bystrckou radnici, ale i na Magistr&aacute;t města Brna.</span></li>
    </ul>
    </ol>
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
