---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<p><a title=\"Web Nez&aacute;visl&eacute;ho sdružen&iacute; Nov&eacute;
    T&yacute;ni&scaron;tě\" href=\"http://www.novetyniste.cz/\">www.novetyniste.cz</a></p>\r\n<p>tyniste.blog.cz</p>\r\n<p><a
    title=\"Facebook\" href=\"https://www.facebook.com/pages/Nez%C3%A1visl%C3%A9-sdru%C5%BEen%C3%AD-Nov%C3%A9-T%C3%BDni%C5%A1t%C4%9B/133782483320964\">https://www.facebook.com/pages/Nez%C3%A1visl%C3%A9-sdru%C5%BEen%C3%AD-Nov%C3%A9-T%C3%BDni%C5%A1t%C4%9B/133782483320964</a></p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}