---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<p><a href=\"mailto:stroukal@svobodni.cz\">stroukal@svobodni.cz</a></p>\r\n<p><a
    href=\"mailto:svobodnizatec@seznam.cz\"><span id=\"wm-user-name\">svobodnizatec@seznam.cz</span></a></p>\r\n<!--
    BLUEBOARD SHOUTBOARD -->\r\n<p><iframe width=\"200\" height=\"400\" frameborder=\"0\"
    src=\"http://miniaplikace.blueboard.cz/shoutboard.php?hid=p9e180cr17bsj0d2ppa2as7f96i5hh\">
    <a href=\"http://miniaplikace.blueboard.cz/shoutboard.php?hid=p9e180cr17bsj0d2ppa2as7f96i5hh\">ShoutBoard
    od BlueBoard.cz</a> </iframe></p>\r\n<!-- BLUEBOARD SHOUTBOARD KONEC -->\r\n<p><span>Sledujte
    n&aacute;s na Facebooku: <br /></span></p>\r\n<div class=\"fb-like-box\" data-href=\"https://www.facebook.com/svobodnizatec\"
    data-width=\"600\" data-colorscheme=\"light\" data-show-faces=\"true\" data-header=\"true\"
    data-stream=\"true\" data-show-border=\"true\">&nbsp;</div>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}


</div>

{% endblock %}