---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva města Žatce
meta_keywords: komunalní volby, program, Žatec, oživíme město, ne megalomanii, návrat
  podniků
meta_description: Program Svobodných pro komunální volby v Žatci 2014
editable_elements:
  main/volebni_program: "<h1>Program pro kr&aacute;lovsk&eacute; město Žatec 2014-2018
    ve 3 hlavn&iacute;ch bodech</h1>\r\n<h2>D&aacute;me městu život</h2>\r\n<p>Oživ&iacute;me
    parky, okol&iacute; řeky, ulice i n&aacute;měst&iacute;. Podpoř&iacute;me iniciativy
    občanů. Vyře&scaron;&iacute;me nedostatek parkovac&iacute;ch m&iacute;st v hustě
    obydlen&yacute;ch oblastech. Na n&aacute;měst&iacute; vr&aacute;t&iacute;me trhy
    a společensk&yacute; život.</p>\r\n<blockquote>\r\n<p><em>\"Chceme lep&scaron;&iacute;
    město pro na&scaron;e děti!\"</em></p>\r\n</blockquote>\r\n<h2>Zlep&scaron;&iacute;me
    pracovn&iacute; př&iacute;ležitosti</h2>\r\n<p>Přivedeme nov&eacute; podniky.
    Nebudeme přek&aacute;žet v podnikatelsk&yacute;ch z&aacute;měrech občanů města
    zbytečnou byrokraci&iacute;.</p>\r\n<blockquote>\r\n<p><em>\"D&aacute;me lidem
    pr&aacute;ci!\"</em></p>\r\n</blockquote>\r\n<h2>Ne megalomanii</h2>\r\n<p>Odm&iacute;t&aacute;me
    investice do megalomansk&yacute;ch projektů, kter&eacute; do budoucna zat&iacute;ž&iacute;
    rozpočet města.</p>\r\n<blockquote>\r\n<p><em>\"Pen&iacute;ze je nutn&eacute;
    investovat efektivně i ku prospěchu dal&scaron;&iacute;ch generac&iacute;.\"</em></p>\r\n</blockquote>\r\n<h2
    style=\"text-align: center;\"><a href=\"http://zatec.svobodni.cz/clanky/program-svobodnych-pro-zatec-2014-2018\">&nbsp;Podrobněj&scaron;&iacute;
    program naleznete v aktualit&aacute;ch.</a></h2>\r\n<p>&nbsp;</p>\r\n<p><img src=\"/samples/assets/poutac.png\"
    alt=\"\" /></p>\r\n<h2><strong>Celorepublikov&yacute; program Svobodn&yacute;ch
    pro komun&aacute;ln&iacute; volby v roce 2014</strong></h2>\r\n<p>Svobodn&iacute;
    v komun&aacute;ln&iacute; politice vych&aacute;z&iacute; obecně z těchto principů:</p>\r\n<ol>\r\n<li><strong>Obce
    hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem</strong> a dluhy tvoř&iacute;
    jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute;
    vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute;
    prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona
    o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</li>\r\n<li><strong>Obce
    vynakl&aacute;daj&iacute; prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute;
    statky</strong>, tj. na obecn&iacute; silnice, chodn&iacute;ky a zaji&scaron;těn&iacute;
    poř&aacute;dku a čistoty v obc&iacute;ch.</li>\r\n<li><strong>Obce z&aacute;sadně
    nepodnikaj&iacute;.</strong> Obce sv&yacute;mi aktivitami nesm&iacute; deformovat
    tržn&iacute; prostřed&iacute;.</li>\r\n<li><strong>Obce ukl&aacute;daj&iacute;
    přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně konzervativně</strong>,
    tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</li>\r\n<li>V př&iacute;padě
    obecn&iacute;ch zak&aacute;zek <strong>se obce nesměj&iacute; odvol&aacute;vat
    na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</strong></li>\r\n<li>Svobodn&iacute;
    podporuj&iacute; <strong>změny daňov&yacute;ch z&aacute;konů tak, aby maximum
    peněz zůstalo v kaps&aacute;ch lid&iacute;</strong>, aby se omezilo přerozdělov&aacute;n&iacute;
    jak na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</li>\r\n</ol>\r\n<p>Dal&scaron;&iacute; informace naleznete
    tak&eacute; na webu iniciativy <a href=\"http://www.pruhlednaradnice.cz/\">Průhledn&aacute;
    radnice</a>.</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
