---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva města Žatce
meta_keywords: komunalní volby, program, Žatec, oživíme město, ne megalomanii, návrat
  podniků, daň z nemovitostí, poplatky za psy, podpora mladých, sociální dávky
meta_description: Program Svobodných pro komunální volby v Žatci 2014
editable_elements:
  main/volebni_program: "<ul>\r\n<li>\r\n<p><strong>Oživ&iacute;me město</strong>
    &ndash; vr&aacute;t&iacute;me život na n&aacute;měst&iacute;, do ulic, parků a
    k řece.</p>\r\n</li>\r\n<li>\r\n<p><strong>Nebudeme zatěžovat Va&scaron;e peněženky.</strong>
    Sn&iacute;ž&iacute;me daň z nemovitost&iacute; o 50% a zru&scaron;&iacute;me poplatky
    za psy. Nesouhlas&iacute;me s finančn&iacute;m zatěžov&aacute;n&iacute;m obyvatel
    ve prospěch města.</p>\r\n</li>\r\n<li>\r\n<p><strong>Jsme pro udržen&iacute;
    žateck&eacute; nemocnice.</strong> Podpoř&iacute;me jej&iacute; dal&scaron;&iacute;
    rozvoj a modernizaci. Na&scaron;e nemocnice je jedin&yacute;m l&eacute;kařsk&yacute;m
    zař&iacute;zen&iacute;m sv&eacute;ho typu v cel&eacute;m okresu Louny. Budeme
    usilovat o jej&iacute; podporu ze stran sousedn&iacute;ch měst i z &uacute;steck&eacute;ho
    kraje.</p>\r\n</li>\r\n<li>\r\n<p><strong>Podpoř&iacute;me n&aacute;vrat v&yacute;robn&iacute;ch
    podniků.</strong> Zv&yacute;&scaron;&iacute;me zaměstnanost a podpoř&iacute;me
    tvorbu nov&yacute;ch pracovn&iacute;ch m&iacute;st. Vytvoř&iacute;me rozumnou
    průmyslovou z&oacute;nu s inžen&yacute;rsk&yacute;mi s&iacute;těmi a najdeme vhodn&eacute;
    investory.</p>\r\n</li>\r\n<li>\r\n<p><strong>Zabr&aacute;n&iacute;me megalomansk&yacute;m
    projektům</strong>, kter&eacute; sv&yacute;mi provozn&iacute;mi n&aacute;klady
    v&yacute;znamně zat&iacute;ž&iacute; rozpočet města. Podpoř&iacute;me soběstačn&eacute;
    projekty</p>\r\n</li>\r\n<li>\r\n<p><strong>Pomůžeme soci&aacute;lně slab&scaron;&iacute;m</strong>.
    Jsme pro zaji&scaron;těn&iacute; dostatečn&eacute;ho počtu pracovn&iacute;ch m&iacute;st,
    např&iacute;klad při &uacute;klidu a &uacute;držbě města a n&aacute;sledn&eacute;
    omezen&iacute; soci&aacute;ln&iacute;ch d&aacute;vek. V&iacute;ce v <a href=\"http://zatec.svobodni.cz/clanky/zneuzivani-socialnich-davek-mame-reseni\">aktualit&aacute;ch.</a></p>\r\n</li>\r\n<li>\r\n<p><strong>Podpoř&iacute;me
    mlad&eacute; rodiny.</strong> Zajist&iacute;me dostatek m&iacute;st v mateřsk&yacute;ch
    &scaron;kol&aacute;ch. Podpoř&iacute;me soukrom&eacute; mateřsk&eacute; &scaron;koly.
    Č&iacute;m v&iacute;ce dět&iacute; v Žatci, t&iacute;m v&iacute;ce produktivn&iacute;ch
    obyvatel v př&iacute;&scaron;t&iacute; generaci. Pr&aacute;vě na&scaron;e pracovit&eacute;
    děti n&aacute;s budou jednou živit.</p>\r\n</li>\r\n<li>\r\n<p><strong>Zru&scaron;&iacute;me
    odměny zastupitelů.</strong> Funkce zastupitele by měla b&yacute;t funkc&iacute;
    čestnou a měla by b&yacute;t vykon&aacute;v&aacute;na zdarma. V&iacute;ce v <a
    href=\"http://zatec.svobodni.cz/clanky/jsem-pro-zruseni-odmen-zastupitelu-mesta\">aktualit&aacute;ch</a>.</p>\r\n</li>\r\n<li>\r\n<p><strong>Městsk&aacute;
    policie mus&iacute; zůstat službou pro občany</strong>, nikoliv zdrojem př&iacute;jmů
    do rozpočtu města a perzekuc&iacute; občanů.</p>\r\n</li>\r\n<li>\r\n<p><strong>Zprůhledn&iacute;me
    veřejn&eacute; zak&aacute;zky</strong>. Zavedeme internetov&eacute; aukce, neboli
    veřejn&aacute; internetov&aacute; v&yacute;běrov&aacute; ř&iacute;zen&iacute;.
    Zamez&iacute;me tak možnosti ovlivňov&aacute;n&iacute; veřejn&yacute;ch zak&aacute;zek
    a sn&iacute;ž&iacute;me jejich ceny. Zveřejn&iacute;me uzavřen&eacute; smlouvy
    na tyto zak&aacute;zky.</p>\r\n</li>\r\n<li>\r\n<p><strong>Pomůžeme seniorům</strong>.
    Podpoř&iacute;me zaveden&iacute; tzv. &bdquo;mobiln&iacute;ho &uacute;ředn&iacute;ka&ldquo;,
    kter&yacute; pomůže seniorům a zdravotně tělesně postižen&yacute;m při kontaktu
    s městsk&yacute;m &uacute;řadem.</p>\r\n</li>\r\n<li>\r\n<p><strong>Zprůhledn&iacute;me
    hlasov&aacute;n&iacute; zastupitelů.</strong> Hlasov&aacute;n&iacute; každ&eacute;ho
    zastupitele mus&iacute; b&yacute;t veřejně dostupn&eacute;. Z jedn&aacute;n&iacute;
    se budou pořizovat a zveřejňovat videoz&aacute;znamy.</p>\r\n</li>\r\n<li>\r\n<p><strong>Zlep&scaron;&iacute;me
    hospodařen&iacute; městsk&yacute;ch firem.</strong> Podpoř&iacute;me napojen&iacute;
    st&aacute;vaj&iacute;c&iacute;ch v&yacute;robn&iacute;ch podniků na Žateckou tepl&aacute;renskou
    a jej&iacute; teplo přivedeme i do nov&yacute;ch průmyslov&yacute;ch z&oacute;n.
    Z&iacute;skan&yacute;mi prostředky podpoř&iacute;me opravy a &uacute;držbu městsk&eacute;ho
    majetku.</p>\r\n</li>\r\n<li>\r\n<p><strong>Jsme pro intenzivn&iacute; opravu
    silnic.</strong> Upřednostn&iacute;me rekonstrukce komunikac&iacute; před dotov&aacute;n&iacute;m
    zbytečn&yacute;ch projektů a akc&iacute;.</p>\r\n</li>\r\n<li>\r\n<p><strong>Odstran&iacute;me
    probl&eacute;my s nedostatkem parkovac&iacute;ch m&iacute;st.</strong> Zasad&iacute;me
    se o v&yacute;stavbu nov&yacute;ch parkovi&scaron;ť v hustě obydlen&yacute;ch
    oblastech a podpoř&iacute;me v&yacute;stavby gar&aacute;žov&yacute;ch dvorů.</p>\r\n</li>\r\n<li>\r\n<p><strong>Zatraktivn&iacute;me
    řeku Ohři.</strong> Vytvoř&iacute;me z&aacute;zem&iacute; pro vod&aacute;ky a
    nejen pro ně. Zasad&iacute;me se o zř&iacute;zen&iacute; vod&aacute;ck&eacute;ho
    t&aacute;boři&scaron;tě a autokempu. Přil&aacute;k&aacute;me t&iacute;m do Žatce
    novou skupinu turistů. V&iacute;ce v <a href=\"http://zatec.svobodni.cz/clanky/ziva-reka-ohre\">aktualit&aacute;ch</a>.</p>\r\n</li>\r\n<li>\r\n<p><strong>Uprav&iacute;me
    okrajov&eacute; č&aacute;sti města pro volnočasov&eacute; aktivity.</strong> Pereč,
    R&aacute;j a Astra nab&iacute;zej&iacute; v&yacute;born&eacute; možnosti pro běh,
    j&iacute;zdu na kole, proch&aacute;zky a dal&scaron;&iacute; činnosti. Zlep&scaron;&iacute;me
    př&iacute;stup do těchto lokalit.</p>\r\n</li>\r\n<li>\r\n<p><strong>Vysly&scaron;&iacute;me
    požadavky občanů přidružen&yacute;ch obc&iacute;.</strong> Bezděkov, Milčeves,
    Trnovany, Z&aacute;hoř&iacute;, Velichov a Rad&iacute;čeves jsou tak&eacute; souč&aacute;st&iacute;
    města a jejich rozvoj nesm&iacute; b&yacute;t opom&iacute;jen.</p>\r\n</li>\r\n<li>\r\n<p><strong>Podpoř&iacute;me
    rekonstrukci budov v historick&eacute;m centru.</strong> Pam&aacute;tk&aacute;ři
    d&aacute;vaj&iacute; podm&iacute;nky, město pom&aacute;h&aacute;. Opraven&eacute;
    centrum je vizitkou města.</p>\r\n</li>\r\n<li>\r\n<p><strong>Pov&yacute;&scaron;&iacute;me
    Žatec na centrum regionu.</strong> Udrž&iacute;me zde pobočky &uacute;řadů, organizac&iacute;
    a instituc&iacute;. Podpoř&iacute;me turistick&yacute; ruch a lep&scaron;&iacute;
    prezentaci m&iacute;stn&iacute;ch pam&aacute;tek.</p>\r\n</li>\r\n</ul>\r\n<p>&nbsp;</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
