---
title: Kdo jsem
slug: kdo-jsem
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 10
editable_elements:
  main/kdo-jsem: "<p><span>Franti&scaron;ek Pecka se narodil před 53 roky v Praze,
    je rozveden&yacute;, po rozvodu žije t&eacute;měř 25 let s př&iacute;tekyn&iacute;.
    Z manželstv&iacute; m&aacute; dceru Jitku (30 let).</span></p>\r\n<p><em>Sen&aacute;tn&iacute;
    obvod č.24 - Praha 9</em></p>\r\n<p>&nbsp;</p>\r\n<p>nejvy&scaron;&scaron;&iacute;
    dosažen&eacute; vzděl&aacute;n&iacute; - středo&scaron;kolsk&eacute;, zakončen&eacute;
    maturitou</p>\r\n<p>&nbsp;</p>\r\n<h2>Profesn&iacute; životopis</h2>\r\n<p>1976
    - 1980 SP&Scaron; stavebn&iacute; Měln&iacute;k</p>\r\n<p>1980 - 1982 z&aacute;kladn&iacute;
    vojensk&aacute; služba Bratislava</p>\r\n<p>1980 - 1995 projekčn&iacute; kancel&aacute;ř
    Konstruktiva Praha</p>\r\n<p>1990 - dodnes OSVČ v oboru stavebnictv&iacute; (rozpočt&aacute;ř,
    př&iacute;prava staveb, realizace, technick&yacute;&nbsp;</p>\r\n<p>dozor, stavbyvedouc&iacute;)</p>\r\n<p>2012
    - autorizovan&yacute; stavitel ČKAIT</p>\r\n<p>&nbsp;</p>\r\n<h2>Politick&yacute;
    životopis</h2>\r\n<p>2009 - vstup do strany Svobodn&yacute;ch (prvn&iacute; politick&aacute;
    strana v životě)</p>\r\n<p>n&aacute;sledně - koordin&aacute;tor, m&iacute;stopředseda,
    zastupuj&iacute;c&iacute; předseda krajsk&eacute;ho sdružen&iacute; v Praze</p>\r\n<p>2009
    - 2011 předseda krajsk&eacute;ho sdružen&iacute; v Praze</p>\r\n<p>2010 - kandid&aacute;t
    č.4 ve volb&aacute;ch do Poslaneck&eacute; sněmovny za Prahu</p>\r\n<p>2010 -
    kandid&aacute;t č.1 v komun&aacute;ln&iacute;ch volb&aacute;ch za Prahu 14</p>\r\n<p>&nbsp;</p>\r\n<p>Mezi
    Svobodn&yacute;mi se c&iacute;t&iacute;m b&yacute;t sp&iacute;&scaron;e konzervativcem.</p>\r\n<p><strong><span>V
    Sen&aacute;tu bych r&aacute;d h&aacute;jil z&aacute;jmy živnostn&iacute;ků a drobn&yacute;ch
    podnikatelů.&nbsp;</span><span>Roli sen&aacute;tora vn&iacute;m&aacute;m jako
    ochr&aacute;nce občanů proti vl&aacute;dě. Politika (z&aacute;kony) se mus&iacute;
    dělat pro&nbsp;</span><span>občany a ne proti nim. R&aacute;d bych vr&aacute;til
    do politiky slu&scaron;nost a pokoru.</span></strong></p>\r\n<p>Do voleb chci
    j&iacute;t s heslem :&nbsp;<strong>Sen&aacute;tor na va&scaron;&iacute; straně</strong></p>"
---
{% extends parent %}

{% block main %}
<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kdo-jsem", hint: "Informace o kandidátovi." %}
{% endeditable_text %}

</div>

{% endblock %}