---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro senátní volby
meta_keywords: senátní volby, program
editable_elements:
  main/volebni_program: "<p>V&aacute;žen&iacute; spoluobčan&eacute;,</p>\r\n<p>za
    několik dnů půjdete se sv&yacute;m hlasovac&iacute;m l&iacute;stkem&nbsp;k volebn&iacute;m
    urn&aacute;m zvolit na dlouhou dobu &scaron;esti let sv&eacute;ho&nbsp;z&aacute;stupce
    do horn&iacute; komory PČR, tedy do Sen&aacute;tu.&nbsp;Pod&iacute;v&aacute;me-li
    se společně na současn&eacute; rozložen&iacute; sil na&nbsp;na&scaron;&iacute;
    politick&eacute; sc&eacute;ně, zjist&iacute;me, že je cel&aacute; ovl&aacute;dan&aacute;
    levic&iacute;&nbsp;v&scaron;ech barev. Poslaneck&aacute; sněmovna, vl&aacute;da,
    president&nbsp;a dokonce i Sen&aacute;t.</p>\r\n<p>R&aacute;di bychom v těchto
    volb&aacute;ch alespoň č&aacute;stečně tento&nbsp;poměr změnili.&nbsp;</p>\r\n<p>Předpokl&aacute;d&aacute;m,
    že v&scaron;ichni, kteř&iacute; přijdete k volb&aacute;m, vkl&aacute;d&aacute;te&nbsp;do
    sv&eacute;ho hlasu určitou naději, že V&aacute;mi zvolen&yacute; kandid&aacute;t&nbsp;bude
    zastupovat po cel&eacute; volebn&iacute; obdob&iacute; Va&scaron;e z&aacute;jmy,
    že&nbsp;bude politikem na Va&scaron;&iacute; straně.</p>\r\n<p>Kandiduji do Sen&aacute;tu
    PČR za n&aacute;&scaron; volebn&iacute; obvod č. 24 &ndash;&nbsp;Praha 9. V Sen&aacute;tu
    chci zastupovat z&aacute;jmy lid&iacute;, kteř&iacute; ct&iacute; ne-dotknutelnost
    soukrom&eacute;ho vlastnictv&iacute;, věř&iacute; v blahod&aacute;rnost&nbsp;&scaron;t&iacute;hl&eacute;ho
    st&aacute;tu s n&iacute;zk&yacute;mi daněmi, h&aacute;j&iacute; osobn&iacute;
    odpovědnosta svobodu jednotlivce.</p>\r\n<p>Pokud tak&eacute; sd&iacute;l&iacute;te
    tyto principy, ž&aacute;d&aacute;m V&aacute;s o V&aacute;&scaron; hlas.&nbsp;Budu
    sen&aacute;torem na Va&scaron;&iacute; straně.</p>\r\n<p>Děkuji V&aacute;m.</p>\r\n<p>&nbsp;</p>\r\n<h2>Priority
    do voleb</h2>\r\n<p>&bull; Ru&scaron;en&iacute; byrokratick&yacute;ch barier pro&nbsp;živnostn&iacute;ky
    a drobn&eacute; podnikatele</p>\r\n<p>&bull; Zru&scaron;en&iacute; povinn&eacute;ho
    přim&iacute;ch&aacute;v&aacute;n&iacute;&nbsp;biopaliv do pohonn&yacute;ch hmot</p>\r\n<p>&bull;
    Omezen&iacute; moci politiků</p>\r\n<p>&bull; Lidov&eacute; veto</p>\r\n<p>&bull;
    NE euru, zachov&aacute;n&iacute; česk&eacute; koruny</p>\r\n<p>&bull; STOP zadlužov&aacute;n&iacute;
    a zvy&scaron;ov&aacute;n&iacute; dan&iacute;</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}

{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
