---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p>Volebn&iacute; program pro komun&aacute;ln&iacute; volby
    2014 představ&iacute;me již brzy.</p>\r\n<p>Svobodn&iacute; v komun&aacute;ln&iacute;
    politice vych&aacute;z&iacute; obecně z těchto principů:</p>\r\n<ol>\r\n<li>Obce
    hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute;
    jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute;
    vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute;
    prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona
    o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</li>\r\n<li>Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v
    obc&iacute;ch.</li>\r\n<li>Obce z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi
    aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.</li>\r\n<li>Obce
    ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně
    konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</li>\r\n<li>V
    př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat
    na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</li>\r\n<li>Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</li>\r\n</ol>\r\n<p>&nbsp;</p>\r\n<p><a href=\"http://www.i-noviny.cz/serialy/j-sidlo-je-nutne-ukoncit-system-trafik\"
    target=\"_blank\">Odkaz na cel&yacute; čl&aacute;nek</a></p>\r\n<p><span style=\"font-size:
    large;\"><strong>J. &Scaron;&iacute;dlo: Je nutn&eacute; ukončit syst&eacute;m
    trafik</strong></span></p>\r\n<p><br />Josef &Scaron;&iacute;dlo je českolipsk&yacute;
    rod&aacute;k, kter&eacute;ho novin&aacute;ři označili jako manažera přes &scaron;krty.
    Možn&aacute; by bylo dobr&eacute; dostat do veden&iacute; města dvě odli&scaron;n&eacute;
    osobnosti, nějak&eacute;ho vizion&aacute;ře, kter&yacute; bude cht&iacute;t město
    posunout d&aacute;l, a k tomu ekonoma, kter&yacute; bude dohl&iacute;žet na efektivn&iacute;
    ř&iacute;zen&iacute; městsk&yacute;ch financ&iacute;.<br />Kromě pr&aacute;ce
    v nadn&aacute;rodn&iacute; společnosti je tělem i du&scaron;&iacute; sportovcem.
    Je jedn&iacute;m ze spoluzakladatelů sportovn&iacute;ho klubu F.A.Zole, kter&yacute;
    na&scaron;e město reprezentuje ve druh&eacute; nejvy&scaron;&scaron;&iacute; soutěži.
    Sv&eacute; znalosti a zku&scaron;enosti by r&aacute;d využil i v zastupitelstvu,
    do kter&eacute;ho kandiduje jako l&iacute;dr Strany svobodn&yacute;ch občanů.<br
    /><br /><strong>Spousta l&iacute;drů v Česk&eacute; L&iacute;pě jsou přistěhovalci,
    kteř&iacute; se dostali do Česk&eacute; L&iacute;py kvůli pr&aacute;ci. Vy jste
    rodil&yacute; Českolip&aacute;k, vystudoval jste zde &scaron;kolu a pracujete
    v českolipsk&eacute; pobočce nadn&aacute;rodn&iacute; firmy. Je to podle v&aacute;s
    dev&iacute;za, kter&aacute; V&aacute;m d&aacute;v&aacute; bonusov&eacute; body?</strong><br
    /><br />To, že jsem se v Česk&eacute; L&iacute;pě narodil, a t&eacute;měř cel&yacute;
    život zde žiji, znamen&aacute; pouze tolik, že m&aacute;m k tomuto městu opravdu
    bl&iacute;zk&yacute; vztah. Nemysl&iacute;m si ale, že by mi to mělo d&aacute;vat
    nějakou v&yacute;hodu oproti m&yacute;m konkurentům. Douf&aacute;m, že voliči
    budou m&iacute;t poněkud př&iacute;sněj&scaron;&iacute; krit&eacute;ria. Naopak
    věř&iacute;m v plusov&eacute; body z faktu, že přich&aacute;z&iacute;m ze soukrom&eacute;ho
    sektoru, kde jsem se za několik let vypracoval na manažerskou pozici. Podle m&eacute;ho
    n&aacute;zoru nen&iacute; &scaron;patn&eacute; b&yacute;t přistěhovalcem, ale
    sp&iacute;&scaron;e ony &bdquo;opakovan&eacute; n&aacute;vraty&ldquo; již zn&aacute;m&yacute;ch
    tv&aacute;ř&iacute;, kter&eacute; se &uacute;dajně jako m&aacute;vnut&iacute;m
    kouzeln&eacute;ho proutku změnily a najednou to mysl&iacute; s obyvateli Česk&eacute;
    L&iacute;py dobře. O tom, jak&yacute;mi levn&yacute;mi hesly se snaž&iacute; koupit
    si voliče, ani nemluv&iacute;m.<br /><br /><strong>Českolipsk&yacute; den&iacute;k
    v&aacute;s nazval manažerem přes &scaron;krty. Je politika &scaron;krtů něco,
    co podle V&aacute;s českolipsk&aacute; radnice potřebuje? Nějak&eacute;ho krizov&eacute;ho
    manažera, kter&yacute; narovn&aacute; a zracion&aacute;ln&iacute; v&yacute;daje
    města?</strong><br /><br />Moj&iacute; prac&iacute; je hled&aacute;n&iacute; slab&yacute;ch
    m&iacute;st v syst&eacute;mu, přeb&iacute;r&aacute;n&iacute; dobr&yacute;ch a
    funkčn&iacute;ch n&aacute;padů odjinud, snaha zamezit pl&yacute;tv&aacute;n&iacute;
    v&scaron;emi druhy prostředků a zvy&scaron;ov&aacute;n&iacute; efektivity procesů.
    Je př&iacute;li&scaron; troufal&eacute; ř&iacute;ci: &bdquo;Ukažte mi radnici,
    kter&aacute; takov&eacute;ho člověka nepotřebuje.&ldquo;?<br /><br /><strong>Vy
    se na sv&yacute;ch facebookovsk&yacute;ch str&aacute;nk&aacute;ch představujete
    jako př&iacute;znivci pravicov&eacute; politiky. Je podle V&aacute;s re&aacute;ln&eacute;
    dělat pravicovou politiku na komun&aacute;ln&iacute; &uacute;rovni?</strong> <br
    /><br />Jednoznačně. Jsem upř&iacute;mně přesvědčen&yacute;, že v současn&eacute;
    době jsou Svobodn&iacute; jedinou skutečně pravicovou stranou na česk&eacute;
    politick&eacute; sc&eacute;ně. V&scaron;echny ostatn&iacute; r&aacute;doby pravicov&eacute;
    strany totiž za sv&yacute;ch vl&aacute;d zvy&scaron;ovaly daně, a to je jasn&yacute;
    rozpor už v z&aacute;kladn&iacute; filozofii. Co se t&yacute;k&aacute; komun&aacute;ln&iacute;
    &uacute;rovně, jsme pro ru&scaron;en&iacute; nesmysln&yacute;ch vyhl&aacute;&scaron;ek,
    nař&iacute;zen&iacute; a z&aacute;kazů. Abych byl konkr&eacute;tn&iacute;, uvedu
    např. městsk&yacute; park. Lid&eacute; by měli m&iacute;t možnost sednout si na
    deku, udělat si piknik, zacvičit si třeba na TRX či cokoliv jin&eacute;ho. Dnes
    za vstup na tr&aacute;vn&iacute;k můžete dostat pokutu. To je přece zvr&aacute;cen&eacute;,
    park by tu měl b&yacute;t pro občany a ne naopak.<br /><br /><strong>Svobodn&iacute;
    prosazuj&iacute; na celost&aacute;tn&iacute; &uacute;rovni v&yacute;razn&eacute;
    omezen&iacute; byrokracie, vy byste r&aacute;di toto přenesli i na &uacute;roveň
    komun&aacute;ln&iacute;. Jak si to můžu zjednodu&scaron;eně v někter&yacute;ch
    opatřen&iacute;ch představit?</strong> <br /><br />Jedno z na&scaron;ich hesel
    na plak&aacute;tech zn&iacute;: &bdquo;Minim&aacute;ln&iacute; kontakt s &uacute;řady&ldquo;.
    V dne&scaron;n&iacute; době, kdy lze t&eacute;měř v&scaron;e bezpečně vyře&scaron;it
    prostřednictv&iacute;m internetu, mus&iacute;te kvůli vyř&iacute;zen&iacute; jedn&eacute;
    věci někdy až na tři různ&aacute; m&iacute;sta, a tam vyplňujete st&aacute;le
    stejně formul&aacute;ře a odpov&iacute;d&aacute;te na st&aacute;le stejn&eacute;
    ot&aacute;zky. Budeme jednoznačně pro, aby se tyto procesy zjednodu&scaron;ily
    za maxim&aacute;ln&iacute;ho využit&iacute; internetu. A pro obyvatele, kteř&iacute;
    internet z různ&yacute;ch př&iacute;čin nepouž&iacute;vaj&iacute;, to bude tak&eacute;
    velk&aacute; v&yacute;hoda, protože se v&yacute;razně zkr&aacute;t&iacute; fronty
    a čekac&iacute; doby na &uacute;řadech.<br /><br /><strong>V programu m&aacute;te
    jeden bod, se kter&yacute;m si nev&iacute;m &uacute;plně rady &ndash; zastaven&iacute;
    politiky uměl&eacute;ho navy&scaron;ov&aacute;n&iacute; počtu obyvatel města.
    Můžete mi vysvětlit, co si pod t&iacute;mto bodem mohu představit?</strong><br
    /><br />V minulosti veden&iacute; města vedlo kampaň za &uacute;čelem nav&yacute;&scaron;en&iacute;
    počtu obyvatel přes 40 000, aby L&iacute;pa dos&aacute;hla na vět&scaron;&iacute;
    dotace ze st&aacute;tn&iacute;ho rozpočtu. Jak&yacute; je v&yacute;sledek? Ubylo
    starousedl&iacute;ků, vzdělan&yacute;ch lid&iacute; a paradoxně i v celkov&eacute;m
    součtu obyvatel města. Naopak narostl počet probl&eacute;mov&yacute;ch skupin
    obyvatel, což s sebou nese sn&iacute;žen&iacute; životn&iacute; &uacute;rovně
    a bezpečnosti ve městě. Takov&yacute; uměl&yacute; z&aacute;sah je &scaron;patn&yacute;.<br
    /><br />Město by se naopak mělo snažit o vytvořen&iacute; př&iacute;větiv&yacute;ch,
    nicm&eacute;ně rovn&yacute;ch a spravedliv&yacute;ch podm&iacute;nek pro podnikatele
    a společnosti za &uacute;čelem produkce nov&yacute;ch pracovn&iacute;ch m&iacute;st.
    Jedině toto povede k tomu, že se do Česk&eacute; L&iacute;py budou stěhovat lid&eacute;,
    kteř&iacute; zde skutečně chtěj&iacute; ž&iacute;t a pracovat.<br /><br /><strong>Vy
    jste relativně aktivn&iacute; sportovec, jste spoluzakladatel futsalov&eacute;ho
    t&yacute;mu F.A.Zole, kter&yacute; na&scaron;e město reprezentuje ve druh&eacute;
    nejvy&scaron;&scaron;&iacute; soutěži. V posledn&iacute;m volebn&iacute;m obdob&iacute;
    se v&yacute;razně proměnila podpora sportu ze strany města. Jak byste tuto změnu
    hodnotil a jak ovlivnila činnost va&scaron;eho klubu?</strong><br /><br />Svobodn&iacute;
    jsou jako strana obecně proti v&scaron;em typům dotac&iacute;. V Česk&eacute;
    L&iacute;pě se na sport v roce 2014 rozdělilo z rozpočtu města t&eacute;měř 30
    mili&oacute;nů korun a asi nen&iacute; zcela re&aacute;ln&eacute; uvažovat o tom,
    že by Svobodn&iacute; měli možnost st&aacute;vaj&iacute;c&iacute; syst&eacute;m
    v nejbliž&scaron;&iacute;ch letech změnit. Proto chceme zač&iacute;t alespoň prosazen&iacute;m
    či přezkoum&aacute;n&iacute;m n&aacute;sleduj&iacute;c&iacute;ch bodů:<br /><br
    />Jsme proti podpoře sportu dospěl&yacute;ch. Každ&yacute; z nich ať si s&aacute;m
    financuje sv&eacute; volnočasov&eacute; aktivity.<br /><br />Chceme podporovat
    sport ml&aacute;deže, ale bez rozd&iacute;lu ve v&yacute;konnosti, včetně z&aacute;jmov&yacute;ch
    kroužků. Takov&aacute; podpora mus&iacute; b&yacute;t c&iacute;len&aacute;, transparentn&iacute;
    a s jasně předem dan&yacute;mi pravidly, kter&aacute; budou stejn&aacute; pro
    v&scaron;echny.<br /><br />D&aacute;le chceme zamezit &uacute;plně nesmysln&yacute;m
    věcem, kter&eacute; se v souvislosti se sportem v Česk&eacute; L&iacute;pě děj&iacute;.
    Jako př&iacute;klad můžu uv&eacute;st permanentku do baz&eacute;nu, kde za 5 vstupů
    dostanete jeden vstup zdarma, za 10 dva vstupy zdarma a za 15 tři vstupy zdarma,
    nav&iacute;c s omezenou platnost&iacute; na jeden rok. Motivace pořizovat si permanentku
    na v&iacute;ce vstupů je nulov&aacute;.<br /><br /><strong>Jak jsem již ř&iacute;kal,
    jste l&iacute;drem za Stranu svobodn&yacute;ch občanů, co V&aacute;s vyhecovalo
    aspirovat na funkci starosty pětatřicetitis&iacute;cov&eacute;ho města?</strong><br
    /><br />Jsem realista. Svobodn&iacute; budou m&iacute;t v Česk&eacute; L&iacute;pě
    jednoho, či dva zastupitele. Pro n&aacute;s je důležit&eacute;, že jsme v posledn&iacute;ch
    volb&aacute;ch do Europarlamentu prolomili 5% hranici, a lid&eacute; se tak již
    nemus&iacute; b&aacute;t, že hlas pro n&aacute;s bude hlasem &bdquo;vyhozen&yacute;m&ldquo;.
    Jsme &uacute;spě&scaron;n&iacute; lid&eacute; přich&aacute;zej&iacute;c&iacute;
    do politiky z byznysu. Chceme poctivě pracovat, prosazovat pravicov&eacute; principy,
    abychom za čtyři roky mohli re&aacute;lně pom&yacute;&scaron;let na m&iacute;sta
    v radě města. J&aacute; osobně se chci d&iacute;vat veden&iacute; města pod ruce
    a pečlivě analyzovat v&scaron;echny procesy a v&yacute;daje. Budu podporovat každ&yacute;
    rozumn&yacute; n&aacute;vrh, kter&yacute; bude transparentn&iacute; formou zvy&scaron;ovat
    životn&iacute; &uacute;roveň v&scaron;ech obyvatel Česk&eacute; L&iacute;py a
    ne jen určit&yacute;ch z&aacute;jmov&yacute;ch skupin.<br /><br /><strong>Českou
    L&iacute;pu byste měl relativně dobře zn&aacute;t, co je podle V&aacute;s největ&scaron;&iacute;
    probl&eacute;m, kter&yacute; jej&iacute; obyvatele tr&aacute;p&iacute; a nikdo
    ho dlouhodobě neře&scaron;&iacute;?</strong><br /><br />Takov&yacute;ch probl&eacute;mů
    je cel&aacute; řada a je velmi obt&iacute;žn&eacute; vybrat jeden. Pro mě osobně
    je jeden z těch hlavn&iacute;ch klientelismus, netransparentn&iacute; v&yacute;běrov&aacute;
    ř&iacute;zen&iacute; a hospodařen&iacute; př&iacute;spěvkov&yacute;ch organizac&iacute;.<br
    /><br /><strong>Jak&eacute; byste navrhoval ře&scaron;en&iacute;?</strong><br
    /><br />Je nutn&eacute; ukončit syst&eacute;m tzv. trafik, na pozic&iacute;ch
    zřizovan&yacute;ch městem mus&iacute; b&yacute;t odborn&iacute;ci, kteř&iacute;
    budou vybr&aacute;ni na z&aacute;kladě transparentn&iacute;ho v&yacute;běrov&eacute;ho
    ř&iacute;zen&iacute;. Stejně tak je zcela nezbytn&eacute; zprůhlednit hospodařen&iacute;
    př&iacute;spěvkov&yacute;ch organizac&iacute;, např. Kultury L&iacute;pa či Sport
    Česk&aacute; L&iacute;pa.<br /><br /><strong>Jak jste v uplynul&eacute;m volebn&iacute;m
    obdob&iacute; sledoval činnost současn&eacute;ho veden&iacute; města?</strong><br
    /><br />Činnost současn&eacute;ho veden&iacute; jsem samozřejmě sledoval, ale
    pouze v r&aacute;mci toho, co je řadov&eacute;mu občanu př&iacute;stupn&eacute;.
    Douf&aacute;m, že v zastupitelstvu bych měl mnohem lep&scaron;&iacute; př&iacute;stup
    k informac&iacute;m.<br /><br /><strong>Pokud byste měl označit jednu vyloženě
    &scaron;patnou a jednu v&yacute;bornou věc, kter&aacute; se současn&eacute;mu
    veden&iacute; města podařila, co by to bylo?</strong><br /><br />Vyloženě &scaron;patn&yacute;
    byl podle m&eacute;ho n&aacute;zoru &bdquo;projekt&ldquo; nov&eacute; sportovn&iacute;
    haly. A &uacute;plně stejně &scaron;patn&eacute; je to, že nyn&iacute; nikdo z
    veden&iacute; města, kter&eacute; o projektu rozhodlo, za tento velmi drah&yacute;
    omyl nechce přiznat svůj pod&iacute;l viny. Zkuste se zeptat pan&iacute; starostky,
    v jak&eacute;m je vztahu k autorovi projektu, odkud poch&aacute;z&iacute; a odkud
    je firma, kter&aacute; halu postavila.<br /><br />Naopak velmi se mi zamlouv&aacute;
    změna v syst&eacute;mu v&yacute;běru parkovn&eacute;ho.<br /><br /><strong>Představme
    si hypoteticky, že jste se jako Svobodn&iacute; probojovali do zastupitelstva
    a byli jste osloveni k jedn&aacute;n&iacute; o vytvořen&iacute; koalice. Bez prosazen&iacute;
    jak&yacute;ch priorit byste o vstup do koalice vůbec neměli z&aacute;jem?</strong><br
    /><br />Předpokl&aacute;d&aacute;m, že budeme v opozici, chceme fungovat jako
    kontroln&iacute; mechanismus a nab&iacute;zet konstruktivn&iacute; kritiku. Nehodl&aacute;me
    nikomu vypisovat bianco &scaron;ek, zejm&eacute;na ne stran&aacute;m jako je KSČM
    a ČSSD nebo různ&yacute;m z&aacute;jmov&yacute;m hnut&iacute;m. Budeme posuzovat
    každ&yacute; n&aacute;vrh samostatně, rozhodneme se o jeho prospě&scaron;nosti
    pro obyvatele města bez ohledu na to, kdo jej předkl&aacute;d&aacute;. Budeme
    se zasazovat o vyrovnan&yacute; městsk&yacute; rozpočet.<br /><br /><br />V Česk&eacute;
    L&iacute;pě je řada probl&eacute;mů, kter&eacute; město a jeho obyvatele dlouhodobě
    tr&aacute;p&iacute;. O spoustě věc&iacute; politici řadu let jen mluv&iacute;,
    ale nikdy nebyly dot&aacute;hnuty. Do dvou investičn&iacute;ch akc&iacute; politick&aacute;
    reprezentace na&scaron;eho města &bdquo;narvala&ldquo; miliony korun, i tak nemaj&iacute;
    obyvatel&eacute; Česk&eacute; L&iacute;py jinou možnost, než se kvůli venkovn&iacute;mu
    koup&aacute;n&iacute; přem&iacute;stit do okoln&iacute;ch měst anebo &bdquo;skousnout&ldquo;
    kryt&yacute; plaveck&yacute; baz&eacute;n. Českolipsk&aacute; kultura je dal&scaron;&iacute;
    popelkou, můžeme si vybrat mezi neuchopiteln&yacute;m kulturn&iacute;m domem,
    kde si lze honosnou kulturn&iacute; akci představit jen stěž&iacute;. Dal&scaron;&iacute;
    možnost&iacute; je b&yacute;val&aacute; městsk&aacute; tělocvična, kter&aacute;
    je dnes honosně zvan&aacute; Jir&aacute;skov&yacute;m divadlem, jen se v&scaron;ichni
    boj&iacute;, aby budova brzo nespadla. Městsk&yacute; obchvat už přeci č&aacute;stečně
    m&aacute;me, vede přes průmyslovou z&oacute;nu do kovo&scaron;rotu. Ano, nen&iacute;
    to položka v rozpočtu města, a tak může každ&aacute; politick&aacute; reprezentace
    města jednodu&scaron;e ukazovat &bdquo;tam nahoru&ldquo;. Zeptal jsem se proto
    l&iacute;drů kandid&aacute;tek na to, jak by tuto probl&eacute;my Česk&eacute;
    L&iacute;py ře&scaron;ili oni. Zde jsou jejich odpovědi:<br /><br /><strong>Venkovn&iacute;
    koupali&scaron;tě</strong><br /><br />Je nutn&eacute; se konečně rozhodnout, jak&eacute;
    strategie se bude město držet, a tuto variantu dot&aacute;hnout do konce. V Dubici
    se již zcela zbytečně utopilo t&eacute;měř 30 milionů korun. My jsme sp&iacute;&scaron;e
    pro vybudov&aacute;n&iacute; uměl&eacute;ho koupali&scaron;tě v &scaron;ir&scaron;&iacute;m
    centru města, ide&aacute;lně za &uacute;časti soukrom&eacute;ho investora.<br
    /><br /><strong>Nov&eacute; divadlo</strong> <br /><br />V ot&aacute;zce nov&eacute;ho
    divadla je stejně jako u koupali&scaron;tě nutn&eacute; se již konečně pro nějakou
    variantu rozhodnout a držet se j&iacute;. Za st&aacute;le nov&eacute; a nov&eacute;
    projekty byla z okna vyhozena spousta peněz. My jsme pro variantu stř&iacute;zliv&eacute;
    rekonstrukce Jir&aacute;skova divadla.<br /><br /><strong>Obchvat města</strong>
    <br /><br />Jak je možn&eacute;, že se bude stavět obchvat Dub&eacute;, ale Česk&eacute;
    L&iacute;py ne? Proč n&aacute;m veden&iacute; města nepředložilo, co v&scaron;e
    udělalo proto, aby se stavba obchvatu dokončila? Zde bychom měli v&scaron;ichni
    t&aacute;hnout za jeden provaz a b&yacute;t maxim&aacute;lně konstruktivn&iacute;,
    protože dostavba obchvatu je velmi důležit&aacute;. Z&aacute;roveň doporučuji
    v&scaron;em servisovat kola a koupit si kvalitn&iacute; obuv. To, co n&aacute;s
    ček&aacute; př&iacute;&scaron;t&iacute; rok při opravě mostu vedouc&iacute;ho
    přes ulici Moskevskou, bude dopravn&iacute; katastrofa. <br /><br /><br /></p>\r\n<p>&nbsp;</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
