---
title: Program
slug: program
is_layout: false
listed: true
published: false
cache_strategy: none
response_type: text/html
position: 3
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<h3 class=\"western\" align=\"CENTER\"><span style=\"color:
    #000000;\">Svobodn&iacute; v komun&aacute;ln&iacute; politice vych&aacute;z&iacute;
    obecně z těchto principů:</span></h3>\r\n<ol>\r\n<li>\r\n<p style=\"margin-bottom:
    0cm;\">Obce hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute;
    jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute;
    vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute;
    prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona
    o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm;\">Obce vynakl&aacute;daj&iacute; prostředky na prvn&iacute;m
    m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute; silnice, chodn&iacute;ky
    a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v obc&iacute;ch.</p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm;\">Obce z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi
    aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.</p>\r\n</li>\r\n<li>\r\n<p
    style=\"margin-bottom: 0cm;\">Obce ukl&aacute;daj&iacute; přebytky běžn&eacute;ho
    hospodařen&iacute; z&aacute;sadně konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m
    rizikem.</p>\r\n</li>\r\n<li>\r\n<p style=\"margin-bottom: 0cm;\">V př&iacute;padě
    obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat na obchodn&iacute;
    tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</p>\r\n</li>\r\n<li>\r\n<p>Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</p>\r\n</li>\r\n</ol>\r\n<h2 class=\"western\" align=\"CENTER\">&nbsp;</h2>\r\n<h2
    class=\"western\" style=\"margin-top: 0cm; margin-bottom: 0cm;\" align=\"CENTER\"><strong>Pro
    volebn&iacute; obdob&iacute; 2014-2018 jsme si dali tato předsevzet&iacute;:</strong></h2>\r\n<p
    style=\"margin-bottom: 0cm;\" align=\"CENTER\">&nbsp;</p>\r\n<h3 class=\"western\"
    style=\"margin-top: 0cm; margin-bottom: 0cm;\"><strong>Spr&aacute;va obce</strong></h3>\r\n<p
    style=\"margin-bottom: 0cm;\">Spr&aacute;va obce mus&iacute; b&yacute;t prost&aacute;<strong>,</strong>
    přesto efektivn&iacute;, otevřen&aacute; a přitom <strong>nesm&iacute;</strong>
    zatěžovat nebo omezovat občany<strong> na&scaron;&iacute; </strong>obce.</p>\r\n<p
    style=\"margin-bottom: 0cm;\">&nbsp;</p>\r\n<ul>\r\n<li>Sn&iacute;ž&iacute;me
    daň z nemovitosti na minimum</li>\r\n<li>Neustanov&iacute;me radu a např&iacute;&scaron;tě
    sn&iacute;ž&iacute;me počet zastupitelů</li>\r\n<li>Zru&scaron;&iacute;me nesmysln&eacute;
    poplatky</li>\r\n<li>Novelizujeme vyhl&aacute;&scaron;ku o veřejn&eacute;m poř&aacute;dku</li>\r\n<li>Je&scaron;tě
    v&iacute;ce zpřehledn&iacute;me <a href=\"http://www.velky-osek.cz/\" target=\"_blank\">webov&eacute;
    str&aacute;nky obce</a>, zř&iacute;d&iacute;me obecn&iacute; helpdesk &ndash;
    <strong>tj.</strong> str&aacute;nku pro nahla&scaron;ov&aacute;n&iacute; poruch
    a z&aacute;vad obecn&iacute;ho majetku, zapoj&iacute;me se do projektu <a href=\"http://www.otevrenadata.cz/\"
    target=\"_blank\">otevrenadata.cz</a></li>\r\n<li>Zased&aacute;n&iacute; Zastupitelstva
    obce budeme přen&aacute;&scaron;et on-line</li>\r\n<li>,,Odpolitizujeme&rdquo;
    Osečan</li>\r\n<li>Budeme podporovat podnik&aacute;n&iacute; i jinou kreativn&iacute;
    činnost v obci</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<h3 class=\"western\" style=\"margin-top:
    0cm; margin-bottom: 0cm;\"><strong>V&yacute;stavba, rozvoj obce, životn&iacute;
    prostřed&iacute;</strong></h3>\r\n<p style=\"margin-bottom: 0cm;\">Investičn&iacute;
    v&yacute;stavba mus&iacute; b&yacute;t promy&scaron;len&aacute;, rozvoj mus&iacute;
    sledovat dlouhodobou strategii obce (&uacute;zemn&iacute; pl&aacute;n). Na&scaron;&iacute;
    viz&iacute; je obec s modern&iacute; infrastrukturou a s rozvinut&yacute;m kulturn&iacute;m
    a sportovn&iacute;m z&aacute;zem&iacute;m zakl&aacute;daj&iacute;c&iacute; si
    na turismu a rekreaci. Nem&aacute;me z&aacute;jem v obci rozv&iacute;jet průmysl.</p>\r\n<p
    style=\"margin-bottom: 0cm;\">&nbsp;</p>\r\n<ul>\r\n<li>Zad&aacute;me zpracov&aacute;n&iacute;
    nov&eacute;ho &uacute;zemn&iacute;ho pl&aacute;nu</li>\r\n<li>Postupně budeme
    rekonstruovat pozemn&iacute; komunikace (Dukelsk&yacute;ch hrdinů, Vrchlick&eacute;ho,
    ...)</li>\r\n<li>Dokonč&iacute;me podtlakovou kanalizaci v obci</li>\r\n<li>Prod&aacute;me
    zbytn&eacute; pozemky v NPR Libick&yacute; luh st&aacute;tu</li>\r\n<li>Vybudujeme
    kanalizačn&iacute; a vodovodn&iacute; přivaděč na ČOV v průmyslov&eacute; z&oacute;ně
    Kol&iacute;n-Ovč&aacute;ry</li>\r\n<li>Postupně budeme rekonstruovat veřejn&eacute;
    osvětlen&iacute;</li>\r\n<li>Navr&aacute;t&iacute;me důstojnost Husovu n&aacute;měst&iacute;
    s miner&aacute;ln&iacute;m pramenem</li>\r\n<li>Zř&iacute;d&iacute;me v&iacute;ce
    odpadkov&yacute;ch ko&scaron;ů uzpůsoben&yacute;ch pro pejskaře i kuř&aacute;ky</li>\r\n<li>Ve
    spolupr&aacute;ci s ČD, a.s. a SŽDC, s.o. revitalizujeme v&yacute;pravn&iacute;
    budovy, vystav&iacute;me autobusov&yacute; termin&aacute;l, parkovi&scaron;tě
    a zrekonstruujeme ulici N&aacute;dražn&iacute;</li>\r\n<li>Ve spolupr&aacute;ci
    s Povod&iacute; Labe, s.p. revitalizujeme tok Bačovky vyčist&iacute;me N&aacute;plavku,
    zř&iacute;d&iacute;me kotvi&scaron;tě a př&iacute;stavi&scaron;tě lod&iacute;</li>\r\n<li>Ve
    spolupr&aacute;ci s obc&iacute; Oseček a Libice n/Cidlinou zlegalizujeme př&iacute;stupovou
    cestu do chatov&eacute; oblasti Oseček</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<h3 class=\"western\"
    style=\"margin-top: 0cm; margin-bottom: 0cm;\"><strong>Vzděl&aacute;v&aacute;n&iacute;,
    kultura, sport</strong></h3>\r\n<p style=\"margin-bottom: 0cm;\">Obec mus&iacute;
    podporovat aktivn&iacute; spolky a občany, kteř&iacute; svou činnost&iacute; budou
    rozv&iacute;jet vzdělanost, kulturu a sport v obci. &Scaron;kola a mateřsk&aacute;
    &scaron;kola by měla m&iacute;t takov&eacute; podm&iacute;nky, aby v tomto mohly
    j&iacute;t př&iacute;kladem.</p>\r\n<p style=\"margin-bottom: 0cm;\">&nbsp;</p>\r\n<ul>\r\n<li>Přem&iacute;st&iacute;me
    Obecn&iacute; knihovnu do suter&eacute;nu budovy MZ&Scaron; Velk&yacute; Osek</li>\r\n<li>Uvolněn&eacute;
    s&iacute;dlo Obecn&iacute; knihovny přenech&aacute;me k už&iacute;v&aacute;n&iacute;
    mamink&aacute;m s dětmi</li>\r\n<li>Ve spolupr&aacute;ci s arcibiskupstv&iacute;m
    pražsk&yacute;m, vikari&aacute;tem Kol&iacute;n, provedeme rekonstrukci ř&iacute;mskokatolick&eacute;ho
    kostela Nejsvětěj&scaron;&iacute;ho srdce Jež&iacute;&scaron;ova.</li>\r\n<li>Ve
    spolupr&aacute;ci s T.J. Sokol Velk&yacute; Osek, Viktori&iacute; Velk&yacute;
    Osek a F&Scaron; Velk&yacute; Osek budeme posilovat sportovn&iacute; z&aacute;zem&iacute;
    nejen pro děti</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<h3 class=\"western\" style=\"margin-top:
    0cm; margin-bottom: 0cm;\"><strong>Zdravotn&iacute; a soci&aacute;ln&iacute; z&aacute;ležitosti</strong></h3>\r\n<p
    style=\"margin-bottom: 0cm;\">V prv&eacute; řadě je třeba se spol&eacute;hat na
    podporu a pomoc rodiny a př&aacute;tel. Přesto obec nesm&iacute; občana Velk&eacute;ho
    Oseku v nouzi nechat na holičk&aacute;ch. Budeme vytv&aacute;řet prostřed&iacute;
    pro důstojn&yacute; život v&scaron;ech občanů.</p>\r\n<p style=\"margin-bottom:
    0cm;\">&nbsp;</p>\r\n<ul>\r\n<li>Napl&aacute;nujeme v&yacute;stavbu nov&eacute;ho
    komunitn&iacute;ho centra pečovatelsk&eacute; služby v centru obce</li>\r\n<li>Prod&aacute;me
    Dům s pečovatelskou službou &ndash; je situov&aacute;n na nevhodn&eacute;m m&iacute;stě,
    rekonstrukce v modern&iacute; zař&iacute;zen&iacute; 21.stolet&iacute; se nevyplat&iacute;</li>\r\n<li>Revitalizujeme
    m&iacute;stn&iacute; hřbitov</li>\r\n</ul>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
