---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p>Svobodn&iacute; v komun&aacute;ln&iacute; politice vych&aacute;z&iacute;
    obecně z těchto principů:</p>\r\n<ol>\r\n<li>Obce hospodař&iacute; zpravidla s
    vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute; jen v mimoř&aacute;dn&yacute;ch
    situac&iacute;ch za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů.
    Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute; prosazuj&iacute;
    jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona o vyrovnan&eacute;m
    rozpočtu na &uacute;rovni st&aacute;tu.</li>\r\n<li>Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v
    obc&iacute;ch.</li>\r\n<li>Obce z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi
    aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.</li>\r\n<li>Obce
    ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně
    konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</li>\r\n<li>V
    př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat
    na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</li>\r\n<li>Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute;
    v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute;
    unie je třeba odstranit.</li>\r\n</ol>\r\n<p>&nbsp;</p>\r\n<p align=\"center\"><strong><span
    style=\"text-decoration: underline;\">Strana Svobodn&yacute;ch občanů v&nbsp;T&aacute;boře</span></strong></p>\r\n<p
    align=\"center\"><strong><span style=\"text-decoration: underline;\">VOLEBN&Iacute;
    PROGRAM A PRIORITY</span></strong></p>\r\n<p align=\"center\"><strong><span style=\"text-decoration:
    underline;\">&nbsp;</span></strong></p>\r\n<p><strong>Jsme členov&eacute; i nez&aacute;visl&iacute;,
    společně na kandid&aacute;tce Strany Svobodn&yacute;ch občanů v&nbsp;T&aacute;boře.</strong></p>\r\n<p><strong>Ostř&iacute;len&yacute;
    matador i nezku&scaron;en&eacute; a spr&aacute;vně zap&aacute;len&eacute; ml&aacute;d&iacute;.
    Nab&iacute;z&iacute;me V&aacute;m dobr&yacute; t&yacute;m lid&iacute;, za kter&yacute;mi
    nenajdete ž&aacute;dn&eacute; kauzy a kteř&iacute; berou svou kandidaturu jako
    v&yacute;zvu a př&iacute;padnou &scaron;anci pohnout městem t&iacute;m spr&aacute;vn&yacute;m
    směrem, vytrhnou chod z&nbsp;vyjet&yacute;ch kolej&iacute;. Protože ve veden&iacute;
    a v&nbsp;Radě města T&aacute;bor se od sametov&eacute; revoluce stř&iacute;daj&iacute;
    v&nbsp;podstatě ti sam&iacute; lid&eacute;. </strong></p>\r\n<p><strong>Nekritizujeme
    nic, co jsme osobně pomohli podpořit, na rozd&iacute;l od mnoh&yacute;ch ostatn&iacute;ch.</strong></p>\r\n<p><strong>Vy,
    kdo nad&aacute;v&aacute;te v&nbsp;T&aacute;boře na dopravu, na nekoordinovan&eacute;
    a drah&eacute; investice,&nbsp;&nbsp; &nbsp;na nespravedlnost v&nbsp;dotac&iacute;ch
    a zvl&aacute;&scaron;tn&iacute; &bdquo;politiku&ldquo; v&nbsp;přidělov&aacute;n&iacute;
    bytů a pron&aacute;jmů prostor. Vy v&scaron;ichni, kdo nejste, stejně jako my,
    spokojeni se současn&yacute;m stavem ř&iacute;zen&iacute; na&scaron;eho města
    &ndash; PŘIJĎTE K&nbsp;VOLB&Aacute;M &ndash; a aktivně podpořte SVOBODN&Eacute;
    ! Nezklameme V&aacute;s !</strong></p>\r\n<p align=\"center\"><strong><span style=\"text-decoration:
    underline;\">&nbsp;</span></strong></p>\r\n<p align=\"center\"><strong><span style=\"text-decoration:
    underline;\">&nbsp;</span></strong></p>\r\n<p align=\"center\"><strong><span style=\"text-decoration:
    underline;\">MĚSTO NEJEN PRO CYKLISTY &ndash; SVOBODN&Iacute; V T&Aacute;BOŘE</span></strong></p>\r\n<p
    align=\"center\"><strong><span style=\"text-decoration: underline;\">&nbsp;</span></strong></p>\r\n<p
    align=\"center\"><strong>T&aacute;bor mus&iacute; b&yacute;t vstř&iacute;cn&yacute;
    a bezpečn&yacute; pro chodce, pro cyklisty,</strong></p>\r\n<p align=\"center\"><strong>ale
    tak&eacute; pro automobilovou dopravu.</strong></p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Chceme budovat drah&eacute;
    cyklostezky jenom tehdy, maj&iacute;-li logickou n&aacute;vaznost a jsou-li dostatečně
    &scaron;irok&eacute;, a tedy i bezpečn&eacute;.</p>\r\n<p align=\"center\">Protože
    jedině tehdy budou tak&eacute; využ&iacute;van&eacute; !</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">Př&iacute;kladem hloup&eacute; investice ze strany současn&eacute;ho
    veden&iacute; města,</p>\r\n<p align=\"center\">je podle n&aacute;s nov&yacute;
    &uacute;sek drah&eacute; cyklotrasy u kruhov&eacute;ho objezdu,</p>\r\n<p align=\"center\">vedle
    benz&iacute;nov&eacute; čerpac&iacute; stanice Shell.</p>\r\n<p align=\"center\">Nejenom
    že vede odnikud nikam, ale ned&aacute;v&aacute; vůbec prostor chodcům</p>\r\n<p
    align=\"center\">a zkomplikovala průjezd automobilov&eacute; dopravě.</p>\r\n<p><strong>&nbsp;</strong></p>\r\n<p
    align=\"center\">Jsme z&aacute;sadně proti nesmysln&eacute;mu vyznačov&aacute;n&iacute;
    pruhů pro cyklisty</p>\r\n<p align=\"center\">změt&iacute; n&aacute;střiků symbolů
    kol na vozovce po cel&eacute;m městě.</p>\r\n<p align=\"center\">Zvl&aacute;&scaron;tě,
    když to neznamen&aacute; přednost v&nbsp;j&iacute;zdě pro kola.</p>\r\n<p align=\"center\">Nastř&iacute;kat
    symboly kola na okraj silnice,</p>\r\n<p align=\"center\">kter&yacute; je rozbit&yacute;
    a naru&scaron;en&yacute;, je potom skoro zločin.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">Podobně vyznačen&eacute; &bdquo;stezky&ldquo; mohou b&yacute;t
    zav&aacute;děj&iacute;c&iacute; v&nbsp;pocitu přednosti, bezpeč&iacute;, a st&aacute;vaj&iacute;
    se tak pro cyklisty, ale i ostatn&iacute; &uacute;častn&iacute;ky dopravy,</p>\r\n<p
    align=\"center\">tedy tak&eacute; pro řidiče aut a chodce, nebezpečn&eacute; !</p>\r\n<p
    align=\"center\"><strong><span style=\"text-decoration: underline;\">&nbsp;</span></strong></p>\r\n<p
    align=\"center\"><strong><span style=\"text-decoration: underline;\">INVESTICE
    POD KONTROLOU &ndash; SVOBODN&Iacute; V T&Aacute;BOŘE</span></strong></p>\r\n<p
    align=\"center\"><strong><span style=\"text-decoration: underline;\">&nbsp;</span></strong></p>\r\n<p
    align=\"center\"><strong>T&aacute;bor se mus&iacute; snažit využ&iacute;vat v&scaron;ech
    dotačn&iacute;ch titulů, ov&scaron;em pouze tehdy, když jsou pro občany skutečně
    v&yacute;hodn&eacute;, neprodražuj&iacute; projekt</strong></p>\r\n<p align=\"center\"><strong>&nbsp;a
    mus&iacute; m&iacute;t smysl.</strong></p>\r\n<p align=\"center\"><strong>&nbsp;</strong></p>\r\n<p
    align=\"center\"><strong>&nbsp;</strong></p>\r\n<p align=\"center\">Důležit&aacute;
    je koordinace staveb tak, aby nedoch&aacute;zelo d&iacute;ky otevřen&iacute; několika
    staveb najednou k&nbsp;ochromen&iacute; dopravy.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">&nbsp;Každ&aacute; investičn&iacute; akce mus&iacute; m&iacute;t
    př&iacute;sn&yacute; dozor. Již nikdy nechceme zaž&iacute;t situaci, jako při
    rekonstrukci Křiž&iacute;kova n&aacute;měst&iacute;.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">Chceme transparentn&iacute; a otevřen&aacute; v&yacute;běrov&aacute;
    ř&iacute;zen&iacute;.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Stop
    vyb&iacute;r&aacute;n&iacute; pouze nejlevněj&scaron;&iacute;ch nab&iacute;dek
    a materi&aacute;lů.</p>\r\n<p align=\"center\">Chceme ty nejlevněj&scaron;&iacute;
    &nbsp;- ale z&nbsp;nejkvalitněj&scaron;&iacute;ch nab&iacute;zen&yacute;ch !</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Prioritou města mus&iacute;
    b&yacute;t opravy chodn&iacute;ků, komunikac&iacute;</p>\r\n<p align=\"center\">a
    v&yacute;stavba nov&eacute;ho domu pro seniory</p>\r\n<p align=\"center\">před
    megalomansk&yacute;mi projekty a stavěn&iacute;m soch nebo pr&aacute;zdn&yacute;ch
    betonov&yacute;ch ploch.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p align=\"center\"><strong><span
    style=\"text-decoration: underline;\">DOPRAVA V T&Aacute;BOŘE &ndash; SVOBODN&Iacute;
    V T&Aacute;BOŘE</span></strong></p>\r\n<p align=\"center\"><strong><span style=\"text-decoration:
    underline;\">&nbsp;</span></strong></p>\r\n<p align=\"center\"><strong>T&aacute;bor
    mus&iacute; b&yacute;t průjezdn&yacute; a občan&eacute; motivov&aacute;ni využ&iacute;vat
    MHD</strong></p>\r\n<p align=\"center\"><strong>&nbsp;</strong></p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">Chceme zpracovat novou dopravně architektonickou studii</p>\r\n<p
    align=\"center\">k z&aacute;sadn&iacute; rekonstrukci Křiž&iacute;kova n&aacute;měst&iacute;
    tak,</p>\r\n<p align=\"center\">aby se maxim&aacute;lně zlep&scaron;ila dne&scaron;n&iacute;
    kritick&aacute; situace</p>\r\n<p align=\"center\">a křižovatka se opět stala
    plynule průjezdnou !</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Chceme
    urychleně realizovat obj&iacute;zdn&eacute; komunikace,</p>\r\n<p align=\"center\">kter&eacute;
    ulehč&iacute; nejenom obyvatelům Čekanic ale v&scaron;em obytn&yacute;m z&oacute;n&aacute;m
    města.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Město potřebuje
    neodkladně ře&scaron;it obj&iacute;zdn&eacute; komunikace kolem průmyslov&eacute;
    z&oacute;ny,</p>\r\n<p align=\"center\">aby se tak stala dostupněj&scaron;&iacute;
    a komerčně zaj&iacute;mavěj&scaron;&iacute;.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">Chceme revizi projektu rekonstrukce Budějovick&eacute; ulice
    tak, aby nedo&scaron;lo k&nbsp;dal&scaron;&iacute;mu zhor&scaron;en&iacute; dopravy
    v&nbsp;centru města po vzoru Křiž&iacute;kova n&aacute;měst&iacute; !</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Chceme finančně v&yacute;hodnou
    městskou hromadnou dopravu</p>\r\n<p align=\"center\">s&nbsp;jednoduch&yacute;mi
    a pochopiteln&yacute;mi j&iacute;zdn&iacute;mi tarify.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\"><strong><span style=\"text-decoration:
    underline;\">PARKOVAC&Iacute; POLITIKA &ndash; SVOBODN&Iacute; V T&Aacute;BOŘE</span></strong></p>\r\n<p
    align=\"center\"><strong><span style=\"text-decoration: underline;\">&nbsp;</span></strong></p>\r\n<p
    align=\"center\"><strong>T&aacute;bor nesm&iacute; jen roz&scaron;iřovat placen&eacute;
    parkovac&iacute; z&oacute;ny a trestat, </strong></p>\r\n<p align=\"center\"><strong>ale
    tak&eacute; aktivně vytv&aacute;řen nov&aacute; parkovac&iacute; m&iacute;sta</strong></p>\r\n<p
    align=\"center\"><strong>&nbsp;</strong></p>\r\n<p align=\"center\">Vybudovali
    bychom nov&aacute; podzemn&iacute; parkovac&iacute; m&iacute;sta v&nbsp;centru
    města,</p>\r\n<p align=\"center\">např&iacute;klad pod n&aacute;měst&iacute;m
    TGM nebo v centru s&iacute;dli&scaron;tě Nad Lužnic&iacute;.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">Chceme zav&eacute;st do syst&eacute;mu parkovac&iacute; hodiny</p>\r\n<p
    align=\"center\">&bdquo;PRVN&Iacute; HODINA ZDARMA&ldquo;.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">Již ž&aacute;dn&aacute; nov&aacute; komerčn&iacute; budova a
    nov&eacute; byty a kancel&aacute;ře</p>\r\n<p align=\"center\">bez vybudov&aacute;n&iacute;
    nov&yacute;ch parkovac&iacute;ch m&iacute;st.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<p
    align=\"center\"><strong><span style=\"text-decoration: underline;\">ŽIVOTN&Iacute;
    PROSTŘED&Iacute; &ndash; SVOBODN&Iacute; V T&Aacute;BOŘE</span></strong></p>\r\n<p
    align=\"center\"><strong><span style=\"text-decoration: underline;\">&nbsp;</span></strong></p>\r\n<p
    align=\"center\"><strong>Stop k&aacute;cen&iacute; vzrostl&eacute; zeleně v&nbsp;centru
    města </strong></p>\r\n<p align=\"center\"><strong>a zlevněn&iacute; poplatku
    za odpady</strong></p>\r\n<p align=\"center\"><strong>&nbsp;</strong></p>\r\n<p
    align=\"center\"><strong>&nbsp;</strong></p>\r\n<p align=\"center\">Při rekonstrukc&iacute;ch
    zad&aacute;vat do podm&iacute;nek projektu využit&iacute; st&aacute;vaj&iacute;c&iacute;
    zeleně,</p>\r\n<p align=\"center\">aby se neopakovala situace před rekonstrukc&iacute;
    n&aacute;měst&iacute; T.G.M.,</p>\r\n<p align=\"center\">kde do&scaron;lo k&nbsp;nesmysln&eacute;mu
    vyk&aacute;cen&iacute; v&scaron;ech vzrostl&yacute;ch stromů.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">Pokračovat v&nbsp;roz&scaron;iřov&aacute;n&iacute; tř&iacute;děn&iacute;
    odpadů</p>\r\n<p align=\"center\">a postupně zkracovat dostupnost k&nbsp;n&aacute;dob&aacute;m
    na tř&iacute;děn&iacute;.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Rozumně
    sn&iacute;žit cenu za odpady</p>\r\n<p align=\"center\">a zrevidovat &nbsp;letitou
    a nepřehlednou smlouvu s&nbsp;firmou Rumpold.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">V&nbsp;hork&yacute;ch dnech zad&aacute;vat či&scaron;těn&iacute;
    odpadov&yacute;ch n&aacute;dob a kontejnerů.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">Pokračovat v&nbsp;trendu či&scaron;těn&iacute; nejenom městsk&yacute;ch
    komunikac&iacute;,</p>\r\n<p align=\"center\">ale i vybran&yacute;ch st&aacute;tn&iacute;ch
    a krajsk&yacute;ch.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Vr&aacute;tit
    květiny na okna t&aacute;borsk&eacute; radnice</p>\r\n<p align=\"center\">a j&iacute;t
    tak opět spr&aacute;vn&yacute;m př&iacute;kladem pro obyvatele města.</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\"><strong>&nbsp;</strong></p>\r\n<p align=\"center\"><strong>&nbsp;</strong></p>\r\n<p
    align=\"center\"><strong>&nbsp;</strong></p>\r\n<p style=\"text-align: center;\"><strong><span
    style=\"text-decoration: underline;\">SOCI&Aacute;LN&Iacute; POLITIKA MĚSTA &ndash;
    SVOBODN&Iacute; V T&Aacute;BOŘE</span></strong></p>\r\n<p align=\"center\"><strong><span
    style=\"text-decoration: underline;\">&nbsp;</span></strong></p>\r\n<p align=\"center\"><strong>T&aacute;bor
    mus&iacute; nav&yacute;&scaron;it služby </strong></p>\r\n<p align=\"center\"><strong>a
    soci&aacute;ln&iacute; lůžka </strong></p>\r\n<p align=\"center\"><strong>pro
    seniory, nemocn&eacute; a postižen&eacute; občany</strong></p>\r\n<p align=\"center\"><strong>&nbsp;</strong></p>\r\n<p
    align=\"center\"><strong>&nbsp;</strong></p>\r\n<p align=\"center\">Je třeba bezodkladně
    jednat s&nbsp;krajem</p>\r\n<p align=\"center\">o spolupr&aacute;ci nad v&yacute;stavbou
    nov&eacute;ho domu pro seniory.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Vedle
    represivn&iacute; politiky ře&scaron;en&iacute; bezdomovců, narkomanů na ulici</p>\r\n<p
    align=\"center\">a dal&scaron;&iacute;ch skupin nepřizpůsobiv&yacute;ch občanů
    ze strany městsk&eacute; policie,</p>\r\n<p align=\"center\">vytvořit nov&eacute;
    pracovn&iacute; m&iacute;sto pro soci&aacute;ln&iacute; pracovn&iacute;ky !</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\">&Uacute;zce a aktivně spolupracovat
    s&nbsp;Nemocnic&iacute; T&aacute;bor.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\"><strong><span style=\"text-decoration:
    underline;\">&Scaron;KOLSTV&Iacute; &ndash; SVOBODN&Iacute; V T&Aacute;BOŘE</span></strong></p>\r\n<p
    align=\"center\"><strong><span style=\"text-decoration: underline;\">&nbsp;</span></strong></p>\r\n<p
    align=\"center\"><strong>Dostatek m&iacute;st v&nbsp;Mateřsk&yacute;ch a Z&aacute;kladn&iacute;ch
    &scaron;kol&aacute;ch i družin&aacute;ch v&nbsp;jednotliv&yacute;ch lokalit&aacute;ch
    města</strong></p>\r\n<p align=\"center\"><strong>&nbsp;</strong></p>\r\n<p align=\"center\"><strong>&nbsp;</strong></p>\r\n<p
    align=\"center\">Zlep&scaron;it koordinaci investic ve &scaron;kol&aacute;ch</p>\r\n<p
    align=\"center\">a zlep&scaron;it dozor nad jejich prov&aacute;děn&iacute;m.</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Vyhled&aacute;vat podpůrn&eacute;
    projekty pro zv&yacute;&scaron;en&iacute; kapacity M&Scaron;.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">Podporovat nejenom městsk&eacute;, ale i krajsk&eacute; a soukrom&eacute;
    subjekty,</p>\r\n<p align=\"center\">a &uacute;zce s&nbsp;nimi spolupracovat !</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Městsk&aacute; policie mus&iacute;
    aktivně pom&aacute;hat na přechodech pro chodce dětem r&aacute;no i při odchodu
    ze &scaron;koly.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Podporovat
    v&scaron;echny volnočasov&eacute; aktivity dět&iacute; a ml&aacute;deže.</p>\r\n<p>&nbsp;</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Město mus&iacute; tak&eacute;
    podporovat a aktivně br&aacute;nit kvalitn&iacute; středn&iacute; &scaron;koly</p>\r\n<p
    align=\"center\">před často nesmyslnou optimalizac&iacute; &scaron;kolstv&iacute;
    ze strany kraje !</p>\r\n<p>&nbsp;</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<p
    align=\"center\"><strong><span style=\"text-decoration: underline;\">SPORT &ndash;
    SVOBODN&Iacute; V T&Aacute;BOŘE</span></strong></p>\r\n<p align=\"center\"><strong><span
    style=\"text-decoration: underline;\">&nbsp;</span></strong></p>\r\n<p align=\"center\"><strong>Prioritn&iacute;
    je podpora dět&iacute; a ml&aacute;deže ! Sport je nejlep&scaron;&iacute; prevence
    v&scaron;ech negativn&iacute;ch projevů.</strong></p>\r\n<p align=\"center\"><strong>&nbsp;</strong></p>\r\n<p
    align=\"center\"><strong>&nbsp;</strong></p>\r\n<p align=\"center\">Chceme finančně
    podporovat v&scaron;echny sporty na &uacute;zem&iacute; města.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">Investice do rekonstrukc&iacute; a vzniků nov&yacute;ch sportovi&scaron;ť.</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Je potřeba nastavit přesn&aacute;
    pravidla pro podporu masov&yacute;ch sportů.</p>\r\n<p align=\"center\">za prov&aacute;děn&iacute;
    profesion&aacute;ln&iacute; kontroly,</p>\r\n<p align=\"center\">a nepřipustit
    pouhou &uacute;čast politick&yacute;ch &bdquo;bafuň&aacute;řů&ldquo; v&nbsp;org&aacute;nech
    klubů.</p>\r\n<p align=\"center\">My&scaron;leno předev&scaron;&iacute;m hokej
    a fotbal.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\"><strong><span style=\"text-decoration: underline;\">KULTURA A
    CESTOVN&Iacute; RUCH &ndash; SVOBODN&Iacute; V T&Aacute;BOŘE</span></strong></p>\r\n<p
    align=\"center\"><strong><span style=\"text-decoration: underline;\">&nbsp;</span></strong></p>\r\n<p
    align=\"center\"><strong>Kultura ve městě s&nbsp;viz&iacute; a koncepc&iacute;,
    </strong></p>\r\n<p align=\"center\"><strong>dotace a podpora nejenom pro &bdquo;politick&eacute;
    kamar&aacute;dy !</strong></p>\r\n<p align=\"center\"><strong>&nbsp;</strong></p>\r\n<p>&nbsp;</p>\r\n<p
    align=\"center\">T&aacute;borsk&eacute; slavnosti maj&iacute; na&scaron;&iacute;
    podporu &ndash; chceme v&scaron;ak obměnu programu.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">T&aacute;boru chyb&iacute; kulturn&iacute; dům</p>\r\n<p align=\"center\">a
    bylo obrovskou chybou neponechat si pro tyto &uacute;čely budovu Střelnice !!!</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Zjednodu&scaron;en&iacute;
    administrativy při ž&aacute;dostech o podporu kulturn&iacute;ch akc&iacute;,</p>\r\n<p
    align=\"center\">z&aacute;roveň v&scaron;ak vět&scaron;&iacute; spravedlnost pro
    ty,</p>\r\n<p align=\"center\">kdo nemaj&iacute; v&nbsp;komis&iacute;ch sv&eacute;
    politick&eacute; př&aacute;tele a kamar&aacute;dy !</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">Daleko v&iacute;c spolupracovat s&nbsp;Divadlem O.N. a přesto,
    že jde o krajsk&eacute; zař&iacute;zen&iacute;, snažit se o pomoc i finančn&iacute;
    podporu na opravy t&eacute;to v&yacute;znamn&eacute; budovy.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">Aktivn&iacute; spolupr&aacute;ce s&nbsp;podnikateli T&aacute;bora
    nad podporou v&scaron;ech akc&iacute; a z&aacute;měrů, kter&eacute; mohou přil&aacute;kat
    turisty !</p>\r\n<p>&nbsp;</p>\r\n<p align=\"center\">Obsazovat městsk&eacute;
    komerčn&iacute; objekty nejenom podle ceny ale hlavně podle atraktivity z&aacute;měru
    pro danou lokalitu.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Poutače
    na hranic&iacute;ch města, nav&aacute;děj&iacute;c&iacute;ch turisty do centra.</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Zjednodu&scaron;it a zpřehlednit
    webov&eacute; str&aacute;nky města.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<p
    align=\"center\"><strong><span style=\"text-decoration: underline;\">CHCEME BEZPEČN&Eacute;
    MĚSTO &ndash; SVOBODN&Iacute; V T&Aacute;BOŘE</span></strong></p>\r\n<p align=\"center\"><strong><span
    style=\"text-decoration: underline;\">&nbsp;</span></strong></p>\r\n<p align=\"center\"><strong>Městsk&aacute;
    policie nesm&iacute; jen suplovat st&aacute;tn&iacute; policii</strong></p>\r\n<p
    align=\"center\"><strong>&nbsp;</strong></p>\r\n<p align=\"center\"><strong>&nbsp;</strong></p>\r\n<p
    align=\"center\">Městsk&aacute; policie m&aacute; předev&scaron;&iacute;m plnit
    svůj původn&iacute; v&yacute;znam</p>\r\n<p align=\"center\">&ndash;&nbsp;&nbsp;&nbsp;&nbsp;
    chr&aacute;nit bezpeč&iacute; obyvatel města, pom&aacute;hat dětem,</p>\r\n<p
    align=\"center\">seniorům a potřebn&yacute;m na přechodech,</p>\r\n<p align=\"center\">zabezpečovat
    městsk&eacute; akce apod.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p align=\"center\">Dozor
    nad nerespektov&aacute;n&iacute;m vyhl&aacute;&scaron;ek a předpisů je důležit&yacute;,</p>\r\n<p
    align=\"center\">v&nbsp;oč&iacute;ch na&scaron;ich občanů v&scaron;ak &bdquo;botičkov&aacute;n&iacute;
    aut&ldquo;</p>\r\n<p align=\"center\">zab&iacute;r&aacute; podstatnou č&aacute;st
    pr&aacute;ce městsk&eacute; policie.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">Chceme vět&scaron;&iacute; dohled nad skupinami nepřizpůsobiv&yacute;ch
    osob, obtěžuj&iacute;c&iacute;ch, nebo ohrožuj&iacute;c&iacute;ch občany, nejen
    v&nbsp;bl&iacute;zkosti</p>\r\n<p align=\"center\">obchodn&iacute;ch domů a v
    parc&iacute;ch.</p>\r\n<p>&nbsp;</p>\r\n<p align=\"center\">Naj&iacute;t ře&scaron;en&iacute;
    pro nebezpečn&eacute; přechody pro chodce,</p>\r\n<p align=\"center\">např&iacute;klad
    před autobusov&yacute;m n&aacute;draž&iacute;m a Poliklinikou.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<p
    align=\"center\">&nbsp;</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\"><strong><span style=\"text-decoration: underline;\">SPOLEČNOSTI
    S&nbsp;MAJETKOVOU &Uacute;ČAST&Iacute; MĚSTA</span></strong></p>\r\n<p align=\"center\"><strong><span
    style=\"text-decoration: underline;\">&nbsp;</span></strong></p>\r\n<p align=\"center\"><strong>Členstv&iacute;
    v&nbsp;org&aacute;nech takov&yacute;ch společnost&iacute; </strong></p>\r\n<p
    align=\"center\"><strong>nesm&iacute; b&yacute;t jen &bdquo;dobře placen&yacute;m
    kor&yacute;tkem&ldquo;</strong></p>\r\n<p align=\"center\"><strong>&nbsp;</strong></p>\r\n<p
    align=\"center\">Člen, kter&eacute;ho Zastupitelstvo schv&aacute;l&iacute; do
    spr&aacute;vn&iacute;ho nebo dozorč&iacute;ho org&aacute;nu takov&eacute; společnosti,
    mus&iacute; zastupovat z&aacute;jmy města a jeho občanů.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p
    align=\"center\">Člen představenstva Tepl&aacute;rny T&aacute;bor, kter&yacute;,
    m.j. schvaluje sv&yacute;m hlasem cenu &nbsp;centr&aacute;ln&iacute;ho tepla &ndash;
    ale i ostatn&iacute; placen&iacute; z&aacute;stupci dal&scaron;&iacute;ch org&aacute;nů
    společnost&iacute;,</p>\r\n<p align=\"center\">by měli pravidelně informovat veřejnost</p>\r\n<p
    align=\"center\">na str&aacute;nk&aacute;ch Novin t&aacute;borsk&eacute; radnice
    o v&scaron;em důležit&eacute;m.</p>\r\n<p align=\"center\">Jejich př&iacute;tomnost
    na jedn&aacute;n&iacute; zastupitelstva by měla b&yacute;t samozřejmost&iacute;,</p>\r\n<p
    align=\"center\">stejně jako tomu je u jednatelů městsk&yacute;ch společnost&iacute;
    a vedouc&iacute;ch odborů.</p>\r\n<p align=\"center\">&nbsp;</p>\r\n<p align=\"center\">&nbsp;</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
