---
title: Kdo jsem
slug: kdo-jsem
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 10
editable_elements:
  main/kdo-jsem: "<p>Rodina</p>\r\n<p>Je mi 52 let, jsem ženat&yacute; a m&aacute;m
    dceru (26).</p>\r\n<p>&nbsp;</p>\r\n<p>Vzděl&aacute;n&iacute;</p>\r\n<p>Vystudoval
    jsem V&Scaron;E, ekonomika průmyslu.</p>\r\n<p>Mluv&iacute;m anglicky, německy,
    &scaron;panělsky, rusky, č&aacute;stečně francouzsky.</p>\r\n<p>&nbsp;</p>\r\n<p>Pr&aacute;ce</p>\r\n<p>Po
    V&Scaron;E jsem pracoval v PZO Pragoexport (referent a vedouc&iacute; obchodn&iacute;
    referent &ndash; dovoz a v&yacute;voz spotřebn&iacute;ho zbož&iacute;), Pak jsem
    byl v IPB (Investičn&iacute; a po&scaron;tovn&iacute; banka, od 1996), kde jsem
    dělal až do &bdquo;převzet&iacute;&ldquo; ČSOB ředitele propagace a marketingu.
    Po tom jsem ode&scaron;el a nějakou dobu jsem byl živnostn&iacute;kem - poradenstv&iacute;,
    reklama, marketing (asi 4 roky).</p>\r\n<p>Od r. 2007 pracuji v Sellier &amp;
    Bellot a.s. &ndash; v&yacute;robce sportovn&iacute;, loveck&eacute; a speci&aacute;ln&iacute;
    (policejn&iacute; a vojensk&eacute;) munice. Jsem odpovědn&yacute; za prodej do
    Jižn&iacute; a Latinsk&eacute; Ameriky, &Scaron;panělska, Portugalska, Velk&eacute;
    Brit&aacute;nie, Irska a zem&iacute; jihov&yacute;chodn&iacute; Asie (Tchaj-wan,
    Macao, Hongkong).</p>\r\n<p>&nbsp;</p>"
---
{% extends parent %}

{% block main %}
<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kdo-jsem", hint: "Informace o kandidátovi." %}
{% endeditable_text %}

</div>

{% endblock %}