---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: '<p><a href="ales.rykl@gmail.com"><span style="line-height: 1.5em;">ales.rykl@gmail.com</span></a></p>'
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}

</div>

{% endblock %}