---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro senátní volby
meta_keywords: senátní volby, program
editable_elements:
  main/volebni_program: |2+


---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}

{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
