---
title: Kontakt
slug: kontakt
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 90
editable_elements:
  main/kontakt: "<p>Ing. V&iacute;t Uličn&yacute;</p>\r\n<p>777963653</p>"
---
{% extends parent %}

{% block main %}

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}



{% endblock %}