---
title: Kontakty
slug: kontakty
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
editable_elements:
  main/kontakt: "<p><strong><a title=\"https://www.facebook.com/strana.svobodnych.obcanu.turnov\"
    href=\"https://www.facebook.com/strana.svobodnych.obcanu.turnov\" target=\"_self\"><strong>Sledujte
    n&aacute;s na facebooku</strong></a></strong></p>\r\n<p>&nbsp;</p>\r\n<p><strong>Ing.
    V&iacute;t Uličn&yacute;</strong></p>\r\n<p><img src=\"/samples/assets/3.jpg\"
    alt=\"\" width=\"178\" height=\"118\" /></p>\r\n<p>ulicny@svobodni.cz</p>\r\n<p>+420
    777 963 653</p>"
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}



</div>

{% endblock %}