---
title: Program
slug: program
is_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
meta_description: Volební program pro komunální volby do zastupitelstva
editable_elements:
  main/volebni_program: "<h2 dir=\"ltr\">Jak by měl podle Svobodn&yacute;ch vypadat
    Turnov v budoucnosti?</h2>\r\n<p dir=\"ltr\"><span style=\"font-size: large;\"
    data-mce-mark=\"1\">Měl by b&yacute;t městem živ&yacute;m, atraktivn&iacute;m
    pro jeho n&aacute;v&scaron;těvn&iacute;ky, otevřen&yacute;m a př&aacute;telsk&yacute;m
    vůči podnikatelům. Chceme město čist&eacute;, udržovan&eacute; a rozv&iacute;jej&iacute;c&iacute;
    se. Město, kde se bude dobře a bezpečně ž&iacute;t.</span></p>\r\n<h2 dir=\"ltr\">K
    naplněn&iacute; t&eacute;to z&aacute;kladn&iacute; vize překl&aacute;d&aacute;me
    na&scaron;e programov&eacute; priority:</h2>\r\n<h4>1. DOPRAVA &ndash; OPRAVA
    KOMUNIKAC&Iacute;, POS&Iacute;LEN&Iacute; MHD A NOVINKY PRO PARKOV&Aacute;N&Iacute;</h4>\r\n<ul>\r\n<li
    dir=\"ltr\">\r\n<p>Budeme podporovat v&yacute;stavbu obchvatu centra Turnova.</p>\r\n</li>\r\n<li
    dir=\"ltr\">\r\n<p>Podpoř&iacute;me uvolněn&iacute; vět&scaron;&iacute;ho množstv&iacute;
    prostředků na rekonstrukci silnic.</p>\r\n</li>\r\n<li dir=\"ltr\">\r\n<p>Chceme
    prosazovat parkovan&iacute; na stře&scaron;e nov&eacute;ho autobusov&eacute;ho
    termin&aacute;lu.</p>\r\n</li>\r\n<li dir=\"ltr\">\r\n<p>Prozkoum&aacute;me možnost
    podpory v&yacute;stavby parkovac&iacute;ho domu na Havl&iacute;čkově n&aacute;měst&iacute;.</p>\r\n</li>\r\n<li
    dir=\"ltr\">\r\n<p>Prosad&iacute;me parkov&aacute;n&iacute; ve vybran&yacute;ch
    oblastech na půl nebo jednu hodinu zdarma.</p>\r\n</li>\r\n<li dir=\"ltr\">\r\n<p>Zasad&iacute;me
    se o roz&scaron;&iacute;řen&iacute; a zkvalitněn&iacute; MHD, prosad&iacute;me
    zaveden&iacute; nov&yacute;ch linek do okoln&iacute;ch obc&iacute;. (Konkr&eacute;tně
    linka do Ma&scaron;ova, nyn&iacute; nelogicky konč&iacute;c&iacute; o cca 500
    metrů dř&iacute;ve.)</p>\r\n</li>\r\n</ul>\r\n<h4 dir=\"ltr\">&nbsp;2. ROZVOJ
    TURNOVA &ndash; DO ČEHO INVESTOVAT NA&Scaron;E PEN&Iacute;ZE?</h4>\r\n<ul>\r\n<li
    dir=\"ltr\">\r\n<p dir=\"ltr\">Nesouhlas&iacute;me se současnou podobou připravovan&eacute;
    stavby sportovn&iacute;ho are&aacute;lu v Ma&scaron;kov&yacute;ch zahrad&aacute;ch.
    Jsme ale ochotni podpořit stavbu koupali&scaron;tě v podobě centra odpočinku a
    relaxace pro nej&scaron;ir&scaron;&iacute; veřejnost.</p>\r\n</li>\r\n<li dir=\"ltr\">\r\n<p
    dir=\"ltr\">Nebudeme podporovat megalomansk&eacute; stamilionov&eacute; projekty,
    stavěn&eacute; často na dluh. Na&scaron;&iacute; prioritou je zodpovědn&eacute;
    udržov&aacute;n&iacute; st&aacute;vaj&iacute;c&iacute;ho městsk&eacute;ho majetku
    a jeho průběžn&aacute;, dobře připraven&aacute; a promy&scaron;len&aacute; modernizace.
    &nbsp;</p>\r\n</li>\r\n<li dir=\"ltr\">\r\n<p dir=\"ltr\">Budeme prosazovat revitalizaci
    s&iacute;dli&scaron;ť s odpočinkov&yacute;mi a modern&iacute;mi hern&iacute;mi
    z&oacute;nami.</p>\r\n</li>\r\n</ul>\r\n<h4>3. SPR&Aacute;VA MĚSTA &ndash; N&Aacute;VRAT
    K MY&Scaron;LEN&Iacute; ROZUMN&Eacute;HO HOSPOD&Aacute;ŘE</h4>\r\n<ul>\r\n<li>&nbsp;Jsme
    pro sn&iacute;žen&iacute; počtu zastupitelů z 27 na 21. Dva uvolněn&iacute; m&iacute;stostarostov&eacute;
    jsou zbytečn&yacute; luxus, plně postač&iacute; jeden.</li>\r\n<li dir=\"ltr\">\r\n<p
    dir=\"ltr\">Pokus&iacute;me se zlep&scaron;it vztah &uacute;řadu k občanům, zefektivn&iacute;me
    jeho činnost, optimalizujeme &uacute;ředn&iacute; hodiny podle potřeb občanů.</p>\r\n</li>\r\n<li
    dir=\"ltr\">\r\n<p dir=\"ltr\">Jsme pro vyrovnan&yacute; rozpočet, bez zadlužov&aacute;n&iacute;
    města.</p>\r\n</li>\r\n<li dir=\"ltr\">\r\n<p dir=\"ltr\">Chceme prosadit prodej
    nepotřebn&eacute;ho majetku města, v&yacute;nos z těchto prodejů by byl vložen
    do zpět do &uacute;držby a investic.</p>\r\n</li>\r\n<li dir=\"ltr\">\r\n<p dir=\"ltr\">Zastav&iacute;me
    zvy&scaron;ov&aacute;n&iacute; ceny vodn&eacute;ho a stočn&eacute;ho, nebudeme
    zvy&scaron;ovat poplatek za svoz a likvidaci odpadů, podpoř&iacute;me finančn&iacute;
    motivaci tř&iacute;děn&iacute; odpadů.</p>\r\n</li>\r\n<li dir=\"ltr\">\r\n<p
    dir=\"ltr\">Jsme proti nesmysln&yacute;m poplatkům a jsme proti zav&aacute;děn&iacute;
    poplatků nov&yacute;ch</p>\r\n</li>\r\n</ul>\r\n<h4 dir=\"ltr\">4. &Scaron;KOLSTV&Iacute;,
    SPORT A VOLN&Yacute; ČAS</h4>\r\n<ul>\r\n<li>\r\n<p>Chceme vkl&aacute;dat v&iacute;ce
    finančn&iacute;ch prostředků do rozvoje na&scaron;ich z&aacute;kladn&iacute;ch
    a mateřsk&yacute;ch &scaron;kol, budeme investovat do modern&iacute;ch v&yacute;ukov&yacute;ch
    pomůcek.</p>\r\n</li>\r\n<li>\r\n<p>Neuspokojiv&yacute; stav ohledně vysok&eacute;ho
    počtu neum&iacute;stěn&yacute;ch dět&iacute; do mateřsk&yacute;ch &scaron;kolek
    chceme ře&scaron;it podporou soukrom&yacute;ch mateřsk&yacute;ch &scaron;kol a
    &bdquo;lesn&iacute;ch &scaron;kolek&ldquo;.</p>\r\n</li>\r\n<li>\r\n<p>Svobodn&iacute;
    podporuj&iacute; vznik speci&aacute;ln&iacute;ch tř&iacute;d jak pro nadan&eacute;
    ž&aacute;ky, tak i pro ž&aacute;ky se zdravotn&iacute;m oslaben&iacute;m.</p>\r\n</li>\r\n<li>\r\n<p>Nejsme
    pro ru&scaron;en&iacute; &scaron;kol s praktick&yacute;mi a speci&aacute;ln&iacute;mi
    tř&iacute;dami. Naopak jsme pro pestrou nab&iacute;dku před&scaron;koln&iacute;ch
    i &scaron;koln&iacute;ch zař&iacute;zen&iacute; s různ&yacute;mi stupni obt&iacute;žnosti,
    formami a metodami v&yacute;uky.</p>\r\n</li>\r\n<li>\r\n<p>Budeme aktivně vystupovat
    vůči Libereck&eacute;mu kraji ohledně zachov&aacute;n&iacute; a rozvoje středn&iacute;ch
    &scaron;kol se s&iacute;dlem v Turnově.</p>\r\n</li>\r\n<li>\r\n<p>Podporujeme
    volnočasov&eacute; aktivity, kroužky a sportovn&iacute; vyžit&iacute; dět&iacute;
    a ml&aacute;deže.</p>\r\n</li>\r\n<li>\r\n<p>Upřednostňujeme vznik men&scaron;&iacute;ch
    sportovi&scaron;ť i na předměst&iacute; a v obc&iacute;ch, dostupn&yacute;ch pro
    &scaron;irokou veřejnost včetně osob se zdravotn&iacute;m omezen&iacute;m.</p>\r\n</li>\r\n<li>\r\n<p>Město
    bude i nad&aacute;le vstř&iacute;cn&eacute; vůči aktivn&iacute;m spolkům působ&iacute;c&iacute;m
    ve v&scaron;ech sf&eacute;r&aacute;ch společensk&eacute;ho života.</p>\r\n</li>\r\n</ul>\r\n<h4
    dir=\"ltr\">5. ZDRAVOTNICTV&Iacute;, SOCI&Aacute;LN&Iacute; P&Eacute;ČE A BEZPEČNOST</h4>\r\n<ul>\r\n<li>\r\n<p>Městsk&eacute;
    policii vr&aacute;t&iacute;me jej&iacute; původn&iacute; funkci &ndash; střežen&iacute;
    bezpečnosti a poř&aacute;dku. V&scaron;e ostatn&iacute;, jako je měřen&iacute;
    rychlosti aut mimo katastr města, považujeme za nadbytečn&eacute;.</p>\r\n</li>\r\n<li>\r\n<p>Prostřednictv&iacute;m
    z&aacute;stupců města ve spr&aacute;vn&iacute;ch org&aacute;nech Panochovy nemocnice
    budeme dohl&iacute;žet na jej&iacute; dal&scaron;&iacute; rozvoj.</p>\r\n</li>\r\n<li>\r\n<p>Budeme
    prosazovat zachov&aacute;n&iacute; ambulantn&iacute; zdravotn&iacute; p&eacute;če
    ve v&scaron;ech z&aacute;kladn&iacute;ch medic&iacute;nsk&yacute;ch oborech, včetně
    zdravotn&iacute; p&eacute;če o děti.</p>\r\n</li>\r\n<li>\r\n<p>Pokus&iacute;me
    se pos&iacute;lit zaji&scaron;těn&iacute; ter&eacute;nn&iacute; pečovatelsk&eacute;
    služby tak, aby senioři (a zdravotně hendikepovan&iacute;) mohli co nejd&eacute;le
    zůst&aacute;vat ve sv&eacute;m přirozen&eacute;m soci&aacute;ln&iacute;m prostřed&iacute;.</p>\r\n</li>\r\n<li>\r\n<p>Považujeme
    za důležit&eacute; stabilizovat syst&eacute;m soci&aacute;ln&iacute;ho bydlen&iacute;.</p>\r\n</li>\r\n</ul>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
