---
title: test
slug: test
listed: false
published: false
cache_strategy: none
response_type: text/html
position: 91
seo_title: test
meta_keywords: test
meta_description: test
editable_elements:
  main/duvody: |-
    <ul class="spec-purple-1">
              <li>Nezadlužená radnice</li>
              <li>Svobodné podnikání</li>
              <li>Méně regulací</li>
            </ul>
  main/vyzva: Osobnosti, které nabízíme
---
{% extends 'parent' %}