---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<h1>Program Svobodn&yacute;ch</h1>\r\n<h1>Motto: Zl&iacute;n
    př&iacute;větiv&yacute; a levněj&scaron;&iacute;</h1>\r\n<h1>1. Bezpečnost města</h1>\r\n<p>Ve
    Zl&iacute;ně považujeme za tristn&iacute; situaci, kdy n&aacute;kladně vycvičen&iacute;
    a vyzbrojen&iacute; str&aacute;žn&iacute;ci městsk&eacute; policie chod&iacute;
    ve dne po ulic&iacute;ch a rozd&aacute;vaj&iacute; pokuty &scaron;patně parkuj&iacute;c&iacute;m
    autům. Jejich prim&aacute;rn&iacute;m &uacute;kolem by měly b&yacute;t patroly
    na rizikov&yacute;ch m&iacute;stech, předev&scaron;&iacute;m ve večern&iacute;ch
    a nočn&iacute;ch hodin&aacute;ch a ochrana občanů proti kriminalitě. Z&aacute;roveň
    považujeme za bezpředmětn&eacute; instalace nov&yacute;ch kamer do ulic a parků.
    Kamery samy o sobě lidem nepomohou pokud nejsou hl&iacute;dky městsk&eacute; policie
    nabl&iacute;zku a připraveny k z&aacute;sahu.</p>\r\n<p>&nbsp;</p>\r\n<h1>2. Dopravn&iacute;
    situace</h1>\r\n<p>V z&aacute;jmu lep&scaron;&iacute; dopravn&iacute; obslužnosti
    města považuj&iacute; Svobodn&iacute; jako jednu z hlavn&iacute;ch dopravn&iacute;ch
    priorit dostavbu silnice R49 na Hul&iacute;n a Fry&scaron;t&aacute;k. Uvědomujeme
    si, že tato stavba je v kompetenci st&aacute;tu (ŘSD), město by se ov&scaron;em
    mělo aktivně zapojit do jedn&aacute;n&iacute; souvisej&iacute;c&iacute; s touto
    stavbou, jelikož na ni m&aacute; v&yacute;sostn&yacute; z&aacute;jem.</p>\r\n<p>Dal&scaron;&iacute;
    prioritou je vybudov&aacute;n&iacute; modern&iacute;ho přepravn&iacute;ho termin&aacute;lu
    vlakov&eacute;ho a autobusov&eacute;ho n&aacute;draž&iacute; s&nbsp;napojen&iacute;m
    na MHD. Toto m&iacute;sto je v současnosti ostudnou vstupn&iacute; branou do města.
    Město by mělo jednat se v&scaron;emi zainteresovan&yacute;mi stranami a dospět
    co nejdř&iacute;ve k ře&scaron;en&iacute; a jeho realizaci.</p>\r\n<p>&nbsp;</p>\r\n<p>Ře&scaron;en&iacute;
    dopravn&iacute; situace elektrifikac&iacute; a v&yacute;stavbou druh&eacute; koleje
    z&nbsp;Otrokovic do Zl&iacute;na budeme podporovat pouze tehdy, pokud nedojde
    k&nbsp;naru&scaron;en&iacute; životn&iacute;ho prostřed&iacute; (hluk, vibrace)
    a v&yacute;znamn&eacute;ho omezov&aacute;n&iacute; majitelů přilehl&yacute;ch
    nemovitost&iacute;.</p>\r\n<p>Svobodn&iacute; budou snižovat z&aacute;vislost
    dopravn&iacute;ho podniku na provozn&iacute; dotaci z&nbsp;rozpočtu města.</p>\r\n<p>&nbsp;</p>\r\n<h1>3.
    Ekonomick&yacute; rozvoj</h1>\r\n<p>Svobodn&iacute; si plně uvědomuj&iacute; současn&yacute;
    neutě&scaron;en&yacute; stav v oblasti pracovn&iacute;ch m&iacute;st a platů ve
    městě. Je potřeba přit&aacute;hnout nov&eacute; investice, ale i zajistit, že
    nebude doch&aacute;zet k odlivu mlad&yacute;ch inteligentn&iacute;ch lid&iacute;
    do jin&yacute;ch měst.</p>\r\n<p>Tohoto chceme dos&aacute;hnout několika kroky:</p>\r\n<ul>\r\n<li>Zlep&scaron;en&iacute;
    dopravn&iacute; obslužnosti a dopravn&iacute;ch podm&iacute;nek ve Zl&iacute;ně
    (bod 2.)</li>\r\n<li>Vyrovnan&yacute;, resp. přebytkov&yacute; rozpočet města</li>\r\n<li>Inventurou
    a zru&scaron;en&iacute;m někter&yacute;ch městsk&yacute;ch vyhl&aacute;&scaron;ek,
    kter&eacute; představuji z&aacute;těž pro současn&eacute; i budouc&iacute; podnikatele
    a občany</li>\r\n<li>Sn&iacute;žen&iacute; daně z nemovitosti, což zlevn&iacute;
    n&aacute;jmy komerčn&iacute;ch&nbsp;<strong>ale i bytov&yacute;ch prostor</strong></li>\r\n<li><strong>Investice
    do infrastruktury města</strong></li>\r\n<li>Město m&aacute; ve vlastnictv&iacute;
    pozemky, kter&eacute; lež&iacute; ladem. Nab&iacute;dneme je veřejně k n&aacute;jmu,
    či prodeji a vytvoř&iacute;me tak prostor pro rozvoj podnikatelsk&yacute;ch aktivit.</li>\r\n</ul>\r\n<p>Do
    t&eacute;to oblasti patř&iacute; i jeden specifick&yacute; a unik&aacute;tn&iacute;
    krok. Zl&iacute;nsk&yacute; finančn&iacute; &uacute;řad m&aacute; nevalnou pověst
    a spousta zaměstnavatelů kvůli tomu v&nbsp;minulosti i nyn&iacute; měn&iacute;
    s&iacute;dlo sv&yacute;ch společnost&iacute; do Prahy a Brna. &nbsp;Nab&iacute;dneme
    pomoc mlad&yacute;m lidem kteř&iacute; chtěj&iacute; zač&iacute;t podnikat a podnikatelům.
    Město Zl&iacute;n zaměstn&aacute; na zkr&aacute;cen&yacute; &uacute;vazek zku&scaron;en&eacute;ho
    daňov&eacute;ho auditora, se kter&yacute;m mohou podnikatel&eacute; projedn&aacute;vat
    sv&eacute; probl&eacute;my se st&aacute;tn&iacute;mi &uacute;řady (finančn&iacute;,
    celn&iacute; spr&aacute;va, soci&aacute;ln&iacute; zabezpečen&iacute;).</p>\r\n<p>V
    ekonomick&eacute; oblasti t&eacute;ž zast&aacute;v&aacute;me stanovisko, že město
    jako subjekt nem&aacute; deformovat tržn&iacute; prostřed&iacute;, je třeba tedy
    omezit jeho aktivity v t&eacute;to oblasti na minimum.</p>\r\n<p>R&aacute;di bychom
    tak&eacute; sn&iacute;žili v&yacute;daje občanů v podobě poplatků.</p>\r\n<ul>\r\n<li>Sn&iacute;žen&iacute;
    poplatku za svoz odpadu prostřednictv&iacute;m vyps&aacute;n&iacute; otevřen&eacute;ho
    tendru</li>\r\n<li>Poplatek za psy považuj&iacute; Svobodn&iacute; za neopr&aacute;vněně
    vysok&yacute; a diskriminačn&iacute;. Budeme prosazovat jeho sn&iacute;žen&iacute;
    na administrativn&iacute; minimum.</li>\r\n</ul>\r\n<h1>4. &Scaron;kolstv&iacute;</h1>\r\n<p>V&nbsp;kr&aacute;tkodob&eacute;m
    horizontu (2 roky) zv&yacute;&scaron;&iacute;me počet tř&iacute;d v&nbsp;M&Scaron;
    tak, aby občan&eacute; neměli probl&eacute;m s&nbsp;um&iacute;stěn&iacute;m tř&iacute;let&yacute;ch
    dět&iacute;. V&nbsp;dal&scaron;&iacute;m obdob&iacute; bychom chtěli učinit př&iacute;stup
    k&nbsp;t&eacute;to službě (před&scaron;koln&iacute; v&yacute;chova dět&iacute;
    od 3 let) nediskriminačn&iacute; a svobodn&yacute;. A to prostřednictv&iacute;m
    př&iacute;spěvku na &uacute;hradu před&scaron;koln&iacute; p&eacute;če na um&iacute;stěn&eacute;
    d&iacute;tě. Změn&iacute; se tak financov&aacute;n&iacute;, kdy nebudou dotov&aacute;ny
    instituce (&scaron;kolky), ale prostředky budou rozdělov&aacute;ny na um&iacute;stěn&eacute;
    d&iacute;tě a to bez rozd&iacute;lu, v&nbsp;jak&eacute;m zař&iacute;zen&iacute;
    bude o d&iacute;tě pečov&aacute;no (obecn&iacute;, soukrom&eacute;, c&iacute;rkevn&iacute;,).</p>\r\n<h1>5.
    Intern&iacute; chod magistr&aacute;tu</h1>\r\n<p>Magistr&aacute;t by měl b&yacute;t
    co nejotevřeněj&scaron;&iacute; a nejvstř&iacute;cněj&scaron;&iacute; ke sv&yacute;m
    občanům. &Uacute;ředn&iacute;ci jsou tu pro lidi nikoli naopak.</p>\r\n<p><strong>Veřejn&eacute;
    zak&aacute;zky</strong></p>\r\n<p>V př&iacute;padě vyps&aacute;n&iacute; veřejn&yacute;ch
    zak&aacute;zek považujeme hranici nad kterou mus&iacute; b&yacute;t smlouvy s
    kontraktorem veřejn&eacute; již od 10 000 Kč, aby nemohlo doch&aacute;zet k z&aacute;měrn&eacute;mu
    kouskov&aacute;n&iacute; zak&aacute;zek. Rovněž nepřipust&iacute;me, aby nebyly
    č&aacute;sti smluv zveřejňov&aacute;ny s odkazem na obchodn&iacute; tajemstv&iacute;.</p>\r\n<p>Město
    by mělo vlastnit transparentn&iacute; &uacute;čet, tak aby na něj mohl nahl&eacute;dnout
    každ&yacute; občan online. Současn&yacute; stav zveřejňov&aacute;n&iacute; rozpočtu
    považujeme za silně nevyhovuj&iacute;c&iacute; a chceme jeho zpřehledněn&iacute;
    tak, aby se v něm vyznal každ&yacute; z n&aacute;s.</p>\r\n<p><strong>&Uacute;ředn&iacute;k
    a občan</strong></p>\r\n<p>Chceme aby magistr&aacute;t vych&aacute;zel obyvatelům
    města maxim&aacute;lně vstř&iacute;c, aby občan komunikoval jes s&nbsp;jedn&iacute;m
    &uacute;ředn&iacute;kem&nbsp; magistr&aacute;tu. Na webu města by měl b&yacute;t
    k dispozici online formul&aacute;ř, ve kter&eacute;m občan zad&aacute; svůj požadavek
    a software již automaticky uvědom&iacute; v&scaron;echny potřebn&eacute; &uacute;ředn&iacute;ky.
    Občanovi pak přijde jen vyj&aacute;dřen&iacute;, př&iacute;padně v&yacute;zva
    k doplněn&iacute; podkladů.</p>\r\n<p>Zefektivn&iacute;me i vyřizov&aacute;n&iacute;
    dokladů. Např&iacute;klad v&yacute;dej hotov&yacute;ch dokladů vůbec nemus&iacute;
    obstar&aacute;vat stejn&aacute; kancel&aacute;ř jako jejich vyřizov&aacute;n&iacute;
    (člověk často ček&aacute; půl hodiny zcela zbytečně). Tyto může vyd&aacute;vat
    &uacute;ředn&iacute;k v př&iacute;zem&iacute; budovy a to bez časov&yacute;ch
    prodlen&iacute;.</p>\r\n<p>Zad&aacute;me intern&iacute; audit, kter&yacute; odhal&iacute;
    neefektivn&iacute; hospodařen&iacute; (např. drah&eacute; kop&iacute;rov&aacute;n&iacute;),
    narovn&aacute; vnitřn&iacute; procesy a zhodnot&iacute; možnosti person&aacute;ln&iacute;
    redukce na magistr&aacute;tu.</p>\r\n<p>&nbsp;</p>\r\n<h1>6. Kultura a Sport</h1>\r\n<p>Svobodn&iacute;
    nebudou upřednostňovat ž&aacute;dn&eacute; volnočasov&eacute; aktivity. Budeme
    uplatňovat rovn&yacute; př&iacute;stup těmto činnostem, s&nbsp;důrazem na podporu
    aktivit pro mlad&eacute;. Finančn&iacute; angažovanost v&nbsp;t&eacute;to oblasti
    bude na &uacute;rovni průměru let 2012 a 2013.</p>\r\n<p>&nbsp;</p>\r\n<h1>7.
    Životn&iacute; prostřed&iacute;, vodn&iacute; hospod&aacute;řstv&iacute;</h1>\r\n<p>Svobodn&iacute;
    spatřuj&iacute; hlavn&iacute; posl&aacute;n&iacute; města, vedle bezpečnosti,
    v&nbsp;udržov&aacute;n&iacute; poř&aacute;dku a čistoty.Vyčlen&iacute;me dal&scaron;&iacute;
    prostředky na &uacute;držbu zeleně, čistoty komunikac&iacute; a zimn&iacute; &uacute;držbu.
    Tyto činnosti budou zaji&scaron;ťov&aacute;ny v&yacute;hradně přes v&yacute;běrov&aacute;
    ř&iacute;zen&iacute;.</p>\r\n<p>Vztahy v&nbsp;z&aacute;sobov&aacute;n&iacute;
    Zl&iacute;na pitnou vodou a či&scaron;těn&iacute; odpadn&iacute;ch vod narovnat
    podle n&aacute;lezů soudů tak, aby <strong>faktick&yacute;m v&iacute;tězem</strong>
    v&nbsp;tomto sporu o tzv. provozn&iacute; model VEOLIA-VAK <strong>byl občan</strong>.</p>\r\n<p>&nbsp;</p>\r\n<h1>8.
    &Uacute;zemn&iacute; pl&aacute;n</h1>\r\n<p>Svobodn&iacute; respektuj&iacute;
    &uacute;zemn&iacute; pl&aacute;n jako hlavn&iacute; dokument rozvoje města.&nbsp;
    Mělo by doj&iacute;t k&nbsp;realizaci z&aacute;stavby jižn&iacute; strany n&aacute;měst&iacute;
    M&iacute;ru dle v&iacute;tězn&eacute;ho architektonick&eacute;ho n&aacute;vrhu.
    D&aacute;le by se měl objektivizovat rozsah pam&aacute;tkov&yacute;ch z&oacute;n
    ve městě, kter&eacute; maj&iacute; z&aacute;sadn&iacute; vliv na jeho dal&scaron;&iacute;
    rozvoj.</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
