---
name: <%= @title %>
locales: [cs]
subdomain: <%= config[:name] %>
domains: [www.<%= config[:name] %>.svobodni.cz, <%= config[:name] %>.svobodni.cz]
seo_title: <%= @title %>
meta_keywords: <%= @title %>
meta_description: Strana svobodných občanů
timezone: Prague
