---
title: Kontakt
slug: kontakt
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 90
editable_elements:
  main/kontakt: "<p>Petr Jel&iacute;nek tel: 777 10 15 10</p>\r\n<p>e-mail: petr.jelinek@cpa.as</p>\r\n<p>&nbsp;</p>"
---
{% extends parent %}

{% block main %}

{% editable_text "kontakt", hint: "Kontaktní údaje." %}
{% endeditable_text %}



{% endblock %}