---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p style=\"text-align: center;\">1. Za prioritn&iacute; považujeme
    v&yacute;běr dodavatelů pro zaji&scaron;těn&iacute; dod&aacute;vek služeb a energi&iacute;
    pro obec i<br />&nbsp;&nbsp;&nbsp; občany pomoc&iacute; modern&iacute; technologie
    elektronick&yacute;ch aukc&iacute;. Tyto aukce budou zaměřeny na<br />&nbsp;&nbsp;&nbsp;
    zlevněn&iacute; nejen elektrick&eacute; energie v obci Přestanov. Kromě elektronick&yacute;ch
    aukc&iacute; v&iacute;me, jak<br />&nbsp;&nbsp;&nbsp; zlevnit vyt&aacute;pěn&iacute;
    panelov&eacute;ho domu a t&iacute;m značně sn&iacute;žit n&aacute;klady jednotliv&yacute;ch
    n&aacute;jemn&iacute;ků na<br />&nbsp;&nbsp;&nbsp; teplo a teplou vodu.</p>\r\n<p
    style=\"text-align: center;\"><br />2. Chceme pomoci rodin&aacute;m s dětmi. Pomůžeme
    jim t&iacute;m, že m&aacute;me konkr&eacute;tn&iacute; představu, jak<br />&nbsp;&nbsp;&nbsp;
    v&eacute;st a zř&iacute;dit Mini&scaron;kolku pro před&scaron;koln&iacute; děti
    Přestanova.</p>\r\n<p style=\"text-align: center;\">&nbsp;</p>\r\n<p style=\"text-align:
    center;\">3. V souvislosti se st&aacute;rnut&iacute;m společnosti a narůst&aacute;n&iacute;m
    pod&iacute;lu star&scaron;&iacute;ch osob v populaci, nab&yacute;v&aacute;<br
    />&nbsp;&nbsp;&nbsp; na v&yacute;znamu ot&aacute;zka zaji&scaron;ťov&aacute;n&iacute;
    potřeb a předev&scaron;&iacute;m p&eacute;če u osob, kter&eacute; již ze zdravotn&iacute;ch
    či<br />&nbsp;&nbsp;&nbsp; soci&aacute;ln&iacute;ch důvodů nejsou schopny sv&eacute;
    potřeby uspokojivě naplňovat sami. Proto je na&scaron;&iacute;<br />&nbsp;&nbsp;&nbsp;
    prioritou zlep&scaron;it kvalitu jejich života a to t&iacute;m, že nav&aacute;žeme
    spolupr&aacute;ci s neziskov&yacute;mi<br />&nbsp;&nbsp;&nbsp; organizacemi a
    soci&aacute;ln&iacute;mi službami.</p>\r\n<p style=\"text-align: center;\">&nbsp;</p>\r\n<p
    style=\"text-align: center;\"><span style=\"font-size: large;\"><strong>Přejeme
    si aktivn&iacute;ho, čipern&eacute;ho a nikoliv smutn&eacute;ho a osaměl&eacute;ho
    seniora.</strong></span></p>\r\n<p style=\"text-align: center;\">&nbsp;</p>\r\n<p
    style=\"text-align: center;\">4. V budoucnu bude zah&aacute;jena v&yacute;stavba
    nov&yacute;ch hal ( EUROFORM ) na K&Uacute; Chabařovice pod<br />&nbsp;&nbsp;&nbsp;
    Motorestem. V projektu je napl&aacute;novan&yacute; val k odhlučněn&iacute; obce.
    Dohl&eacute;dneme na to, aby<br />&nbsp;&nbsp;&nbsp; tato podm&iacute;nka obce
    Přestanov byla splněna.</p>\r\n<p style=\"text-align: center;\"><br />5. Pro dostatečnou
    a rychlou informovanost občanů Přestanova m&aacute;me připraven&yacute; projekt<br
    />&nbsp;&nbsp;&nbsp; SMS InfoKan&aacute;lu a nov&eacute;ho webu obce Přestanov.</p>\r\n<p
    style=\"text-align: center;\"><br />6. Chceme pos&iacute;lit př&iacute;jmy obce
    z&iacute;sk&aacute;n&iacute;m grantů z projektů, vypisovan&yacute;ch Evropskou
    uni&iacute;.<br />&nbsp;&nbsp;V&nbsp;ž&aacute;dn&eacute;m př&iacute;padě nebudeme
    obec zadlužovat v&nbsp;r&aacute;mci čerp&aacute;n&iacute; dotac&iacute;.&nbsp;
    </p>\r\n<p style=\"text-align: center;\"><br />7. Za důležit&yacute; &uacute;kol
    považujeme v&yacute;stavbu chodn&iacute;ků, bezpečn&yacute;ch přechodů pro chodce
    a<br />&nbsp;&nbsp;&nbsp;&nbsp; rekonstrukci st&aacute;vaj&iacute;c&iacute;ch
    zast&aacute;vek autobusu. Usilujeme o urychlen&eacute; zah&aacute;jen&iacute;
    realizace<br />&nbsp;&nbsp;&nbsp;&nbsp; kruhov&eacute;ho objezdu.</p>\r\n<p style=\"text-align:
    center;\"><br />8. Zam&yacute;&scaron;l&iacute;me v obci prov&eacute;st celkovou
    rekonstrukci veřejn&eacute;ho osvětlen&iacute;. Zasad&iacute;me se o<br />&nbsp;&nbsp;&nbsp;&nbsp;
    v&yacute;měnu nevyhovuj&iacute;c&iacute;ch lamp za &uacute;sporn&eacute;, bezpečn&eacute;
    a funkčn&iacute;.</p>\r\n<p style=\"text-align: center;\"><br />9. Chceme roz&scaron;&iacute;řit
    klidov&eacute; z&oacute;ny, konkr&eacute;tně historicko-naučnou stezku k Rusk&eacute;mu
    pomn&iacute;ku<br />&nbsp;&nbsp;&nbsp; bitvy z roku 1813, pokračuj&iacute;c&iacute;
    d&aacute;le směrem do Krupky. Rybn&iacute;ky a n&aacute;drže, kter&eacute; se
    nach&aacute;z&iacute;<br />&nbsp;&nbsp;&nbsp; v na&scaron;&iacute; obci, m&aacute;me
    v pl&aacute;nu revitalizovat ze zdrojů EU.</p>\r\n<p style=\"text-align: center;\"><br
    />10. Budeme podporovat &uacute;držbu sportovn&iacute;ch ploch a ve&scaron;ker&eacute;ho
    sportovn&iacute;ho a kulturn&iacute;ho<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; z&aacute;zem&iacute;.
    Chceme zrekonstruovat dětsk&eacute; hři&scaron;tě v na&scaron;em sportovn&iacute;m
    are&aacute;lu dle platn&yacute;ch<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; bezpečnostn&iacute;ch
    norem. Předlož&iacute;me n&aacute;vrh na vybudov&aacute;n&iacute; multifunkčn&iacute;ho
    hři&scaron;tě.</p>\r\n<p style=\"text-align: center;\"><br />11. M&aacute;me v
    &uacute;myslu v&iacute;ce podporovat činnost m&iacute;stn&iacute; knihovny s veřejn&yacute;m
    internetem.</p>\r\n<p style=\"text-align: center;\"><br />12. Obec Přestanov se
    n&aacute;m rozrůst&aacute; o satelit, kde vyroste několik des&iacute;tek nov&yacute;ch
    domů.<br />&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; Budeme se snažit tyto rodiny zapojit
    do aktivn&iacute;ho života obce.</p>\r\n<p style=\"text-align: center;\"><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style=\"font-size: large;\"><strong>Nechceme, aby Přestanov byl vn&iacute;m&aacute;n
    pouze jako obec s Motorestem na trase &Uacute;st&iacute; nad Labem &ndash; Teplice.</strong></span></p>\r\n<p
    style=\"text-align: center;\">&nbsp;</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
