---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p align=\"center\"><strong><span style=\"font-family: Arial;\">Volebn&iacute;
    program Strany svobodn&yacute;ch občanů </span></strong></p>\r\n<p align=\"center\"><strong><span
    style=\"font-family: Arial;\">pro opakovan&eacute; komun&aacute;ln&iacute; volby
    v&nbsp;B&iacute;lině</span></strong></p>\r\n<p align=\"center\"><strong><span
    style=\"font-family: Arial;\">31.1.2015</span></strong></p>\r\n<p><span style=\"font-family:
    Arial; font-size: medium;\">&nbsp;</span></p>\r\n<p align=\"center\"><strong><span
    style=\"font-family: Arial;\">Priorita: B&iacute;lina nezadlužen&aacute;</span></strong></p>\r\n<ol>\r\n<li>\r\n<p>Finančn&iacute;
    prostředky města budeme investovat hlavně do obecně prospě&scaron;n&yacute;ch
    projektů, kter&eacute; nejsou určeny pouze pro určit&eacute; skupiny lid&iacute;,
    ale pro v&scaron;echny občany města (opravy chodn&iacute;ků a silnic, zefektivněn&iacute;
    chodu &uacute;řadů, zaji&scaron;těn&iacute; čistoty atp.).</p>\r\n</li>\r\n<li>\r\n<p>Každ&eacute;
    v&yacute;běrov&eacute; ř&iacute;zen&iacute; mus&iacute; prob&iacute;hat dle platn&yacute;ch
    z&aacute;konů. Informace o průběhu jednotliv&yacute;ch ř&iacute;zen&iacute; budou
    zveřejňov&aacute;ny, stejně tak i fin&aacute;ln&iacute; smlouva.</p>\r\n</li>\r\n<li>\r\n<p>V&scaron;echny
    firmy, kter&eacute; se chtěj&iacute; uch&aacute;zet o veřejnou zak&aacute;zku,
    ale odkazuj&iacute; se na obchodn&iacute; tajemstv&iacute;, se nemusej&iacute;
    v&yacute;běrov&eacute;ho ř&iacute;zen&iacute; z&uacute;častnit.</p>\r\n</li>\r\n<li>\r\n<p>Ve&scaron;ker&eacute;
    z&aacute;měry prodeje a pron&aacute;jmů nemovit&yacute;ch věci, kter&eacute; jsou
    ve vlastnictv&iacute; města, budou doplněny i o nepovinn&eacute;, ale podstatn&eacute;
    informace. Vždy bude uvedena cena i&nbsp;konkr&eacute;tn&iacute; jm&eacute;na
    těch, kteř&iacute; o městsk&yacute; majetek maj&iacute; z&aacute;jem.</p>\r\n<p>&nbsp;</p>\r\n<p
    align=\"center\"><strong>Co uděl&aacute;me v konkr&eacute;tn&iacute;ch oblastech?</strong></p>\r\n</li>\r\n</ol>\r\n<p><strong><span
    style=\"font-family: Arial; font-size: medium;\">Hospodařen&iacute; města</span></strong></p>\r\n<ul>\r\n<li>\r\n<p>Prověř&iacute;me
    prodeje a pron&aacute;jmy nemovit&yacute;ch věc&iacute;, kter&eacute; byly nebo
    jsou v&nbsp;majetku města B&iacute;lina.</p>\r\n</li>\r\n<li>\r\n<p>Zaměř&iacute;me
    se předev&scaron;&iacute;m na cenu, za kterou nemovitosti byly prod&aacute;ny.</p>\r\n</li>\r\n<li>\r\n<p>Prověř&iacute;me
    ve&scaron;ker&eacute; veřejn&eacute; zak&aacute;zky, resp. v&scaron;echny smlouvy
    města se soukrom&yacute;mi subjekty. Prověř&iacute;me i financov&aacute;n&iacute;
    organizac&iacute; spadaj&iacute;c&iacute;ch pod veden&iacute; města.</p>\r\n</li>\r\n<li>\r\n<p>V&yacute;sledky
    intern&iacute; kontroly zveřejn&iacute;me na webov&yacute;ch str&aacute;nk&aacute;ch
    a na &uacute;ředn&iacute; desce.</p>\r\n<p>&nbsp;</p>\r\n<p><strong>Bezpečnost
    a doprava</strong></p>\r\n</li>\r\n</ul>\r\n<ul>\r\n<li>\r\n<p>Prověř&iacute;me
    současn&yacute; stav městsk&eacute; policie a vyhodnot&iacute;me plněn&iacute;
    jej&iacute; funkce, př&iacute;p. nav&yacute;&scaron;&iacute;me počet str&aacute;žn&iacute;ků
    tak, aby občanům byla zaručov&aacute;na bezpečnost ve dne i&nbsp;v&nbsp;noci.</p>\r\n</li>\r\n<li>\r\n<p>Chceme
    prosadit půlhodinov&eacute; parkov&aacute;n&iacute; na n&aacute;měst&iacute; zdarma,
    a tak&eacute; zru&scaron;it z&aacute;kaz st&aacute;n&iacute; v &scaron;ir&scaron;&iacute;m
    centru města, zejm&eacute;na v nočn&iacute;ch hodin&aacute;ch.</p>\r\n</li>\r\n<li>\r\n<p>Budeme
    se zab&yacute;vat změnou dopravn&iacute;ho značen&iacute; na Pražsk&eacute;m Předměst&iacute;,
    kter&aacute; proběhla minul&yacute; rok.</p>\r\n</li>\r\n<li>\r\n<p>Budeme ře&scaron;it
    kriminalitu a hluk v&nbsp;bezprostředn&iacute; bl&iacute;zkosti probl&eacute;mov&yacute;ch
    č&aacute;st&iacute; města.</p>\r\n<p>&nbsp;</p>\r\n<p><strong style=\"line-height:
    1.5em;\">Soci&aacute;ln&iacute; oblast</strong></p>\r\n</li>\r\n</ul>\r\n<ul>\r\n<li>\r\n<p><span
    style=\"color: #333333;\">Jsme si jisti, že za probl&eacute;my spojen&eacute;
    se vznikaj&iacute;c&iacute;mi ghetty a<br /></span> <span style=\"color: #333333;\">rostouc&iacute;m
    extremismem nese vinu soci&aacute;ln&iacute; politika st&aacute;tu, kter&aacute;
    je v oblasti<br /></span> <span style=\"color: #333333;\">př&iacute;spěvků na
    bydlen&iacute; tak &scaron;tědr&aacute;, že nepř&iacute;mo podporuje podnikatelsk&eacute;<br
    /></span> <span style=\"color: #333333;\">subjekty, kter&eacute; provozuj&iacute;
    ubytovny či pronaj&iacute;maj&iacute; byty. T&iacute;m je v&yacute;razně<br /></span>
    <span style=\"color: #333333;\">ovlivněn trh s nemovitostmi i tržn&iacute; cena
    n&aacute;jmů. A protože nem&aacute;me z&aacute;jem na<br /></span> <span style=\"color:
    #333333;\">tom, aby se z B&iacute;liny časem stala soci&aacute;lně vyloučen&aacute;
    lokalita, budeme<br /></span> <span style=\"color: #333333;\">&nbsp;apelovat na
    vl&aacute;du a Ministerstvo pr&aacute;ce a soci&aacute;ln&iacute;ch věci, aby
    zapracovalo<br /></span> <span style=\"color: #333333;\">na plo&scaron;n&eacute;
    &uacute;pravě podm&iacute;nek pro čerp&aacute;n&iacute; těchto a podobn&yacute;ch
    př&iacute;spěvků, č&iacute;mž by<br /></span> <span style=\"color: #333333;\">se
    v&yacute;hodnost takto dotovan&eacute;ho podnik&aacute;n&iacute; sn&iacute;žila.</span></p>\r\n<p>&nbsp;</p>\r\n<p><strong>Životn&iacute;
    prostřed&iacute; &ndash; hygiena a nadměrn&yacute; hluk</strong></p>\r\n</li>\r\n</ul>\r\n<ul>\r\n<li>\r\n<p>Na
    z&aacute;kladě kontroly hospodařen&iacute; chceme zjistit, jak&eacute; jsou možnosti
    pro nav&yacute;&scaron;en&iacute; prostředků pro eliminaci zneči&scaron;těn&yacute;ch
    a hlučn&yacute;ch lokalit, tj. historick&yacute;ch, pam&aacute;tkov&yacute;ch
    m&iacute;st, relaxačn&iacute;ch a kulturn&iacute;ch m&iacute;st, dětsk&yacute;ch
    hři&scaron;ť atp., jelikož hlavně tyto oblasti čin&iacute; město vhodn&yacute;m
    m&iacute;stem pro život občanů, n&aacute;v&scaron;těvy turistů i př&iacute;p.
    Investorů.</p>\r\n<p><strong>&nbsp;</strong></p>\r\n<p><strong>Sport, kultura
    a vzděl&aacute;n&iacute;</strong></p>\r\n</li>\r\n<li>\r\n<p><span style=\"color:
    #333333;\">U sportovn&iacute;ch a kulturn&iacute;ch organizac&iacute; zřizovan&yacute;ch
    nebo podporovan&yacute;ch<br /></span> <span style=\"color: #333333;\">&nbsp;městem
    B&iacute;lina mus&iacute; b&yacute;t provedena restrukturalizace. Dohl&eacute;dneme
    na<br /></span> <span style=\"color: #333333;\">&nbsp;zodpovědn&eacute; hospodařen&iacute;
    a vyhodnot&iacute;me, zda a jak&yacute; z&aacute;jem občanů o tyto<br /></span>
    <span style=\"color: #333333;\">aktivity je (např. podle počtu prodan&yacute;ch
    vstupenek). Na z&aacute;kladě toho pak z<br /></span> <span style=\"color: #333333;\">&nbsp;investičn&iacute;ho
    hlediska zv&aacute;ž&iacute;me, jestli se v konkr&eacute;tn&iacute;ch př&iacute;padech
    nejedn&aacute; o<br /></span> <span style=\"color: #333333;\">&nbsp;pl&yacute;tv&aacute;n&iacute;
    peněz daňov&yacute;ch poplatn&iacute;ků, resp. zda podpoř&iacute;me takov&eacute;
    aktivity, o<br /></span> <span style=\"color: #333333;\">&nbsp;kter&eacute; skutečn&yacute;
    z&aacute;jem je.</span></p>\r\n</li>\r\n<li>\r\n<p><span style=\"color: #333333;\">&nbsp;Vzděl&aacute;n&iacute;
    je pro n&aacute;s investic&iacute;, kter&aacute; se městu v budoucnu vr&aacute;t&iacute;,
    a<br /></span> <span style=\"color: #333333;\">proto v t&eacute;to oblasti nebudeme
    zbytečně &scaron;krtat. Prověř&iacute;me možnosti zř&iacute;zen&iacute;<br /></span>
    <span style=\"color: #333333;\">pobočky někter&eacute; ze středn&iacute;ch odborn&yacute;ch
    &scaron;kol, kter&aacute; vedle gymn&aacute;zia mohla již<br /></span> <span style=\"color:
    #333333;\">&nbsp;v B&iacute;lině b&yacute;t, a to např. v objektu, ve kter&eacute;m
    ned&aacute;vno vzniklo, pro n&aacute;s<br /></span> <span style=\"color: #333333;\">nepochopitelně,
    Integrovan&eacute; centrum prevence. </span></p>\r\n</li>\r\n<li>\r\n<p><span
    style=\"color: #333333;\">&nbsp;R&aacute;di bychom podpořili i mimo&scaron;koln&iacute;
    aktivity dět&iacute; k zaji&scaron;těn&iacute; jejich<br /></span> <span style=\"color:
    #333333;\">&nbsp;celkov&eacute;ho osobn&iacute;ho rozvoje, proto se nechyst&aacute;me
    ani nijak v&yacute;razně omezit<br /></span> <span style=\"color: #333333;\">př&iacute;sun
    financ&iacute; pro Dům dět&iacute; a ml&aacute;deže.</span></p>\r\n<p><strong>&nbsp;</strong></p>\r\n<p><strong>Sn&iacute;žen&iacute;
    počtu zastupitelů</strong></p>\r\n</li>\r\n<li>\r\n<p>B&iacute;lina se zhruba
    &scaron;estn&aacute;cti tis&iacute;ci obyvatel může m&iacute;t podle Z&aacute;kona
    o obc&iacute;ch 15 až 35 zastupitelů. Tento počet mand&aacute;tů se odv&iacute;j&iacute;
    od počtu obyvatel města a schvaluje ho zastupitelstvo. Domn&iacute;v&aacute;me
    se, že ide&aacute;ln&iacute; počet zastupitelů pro na&scaron;e město je 18 až
    20, a ne současn&yacute;ch 30.</p>\r\n<p>T&iacute;mto sn&iacute;žen&iacute;m počtu
    zastupitelů u&scaron;etř&iacute;me sice jen několik tis&iacute;c, ale st&aacute;le
    se jedn&aacute; o pen&iacute;ze na&scaron;ich občanů.</p>\r\n<p>&nbsp;</p>\r\n</li>\r\n</ul>\r\n<p
    align=\"center\"><strong><span style=\"font-family: Arial;\">Co rozhodně dělat
    nebudeme!</span></strong></p>\r\n<p><span style=\"font-family: Arial; font-size:
    medium;\">Nebudeme rozprod&aacute;vat nemovit&eacute; věci města pod tržn&iacute;
    hodnotou.</span></p>\r\n<p><span style=\"font-family: Arial; font-size: medium;\">Nebudeme
    zv&yacute;hodňovat jednotlivce.</span></p>\r\n<p><span style=\"font-family: Arial;
    font-size: medium;\">Nebudeme vypl&aacute;cet př&iacute;spěvky organizac&iacute;m,
    kter&eacute; nevykazuj&iacute; činnost pro veřejn&yacute; prospěch.</span></p>\r\n<p><span
    style=\"font-family: Arial; font-size: medium;\">Nebudeme vytv&aacute;řet ž&aacute;dn&eacute;
    přek&aacute;žky podnikatelům a ani veřejn&yacute;m organizac&iacute;m.</span></p>\r\n<p><span
    style=\"font-family: Arial; font-size: medium;\">Nebudeme vypisovat veřejn&eacute;
    zak&aacute;zky na m&iacute;ru konkr&eacute;tn&iacute;m firm&aacute;m.</span></p>\r\n<p><span
    style=\"font-family: Arial; font-size: medium;\">Nebudeme lhostejn&iacute; k&nbsp;absurdn&iacute;
    soci&aacute;ln&iacute; politice st&aacute;tu.</span></p>\r\n<p><span style=\"font-family:
    Arial; font-size: medium;\">Nebudeme finančně podporovat nesmysln&eacute; projekty
    jen proto, abychom za každou cenu čerpali dotace z&nbsp;EU.</span></p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
