---
title: Volební program
slug: volebni-program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 50
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<p class=\"Tlotextu\" align=\"center\"><strong>Volebn&iacute;
    program Strany svobodn&yacute;ch občanů </strong></p>\r\n<p class=\"Tlotextu\"
    align=\"center\"><strong>pro komun&aacute;ln&iacute; volby 2014 v&nbsp;B&iacute;lině</strong></p>\r\n<p
    class=\"Tlotextu\">&nbsp;</p>\r\n<p class=\"Tlotextu\" align=\"center\"><strong>Priorita:
    B&iacute;lina nezadlužen&aacute;</strong></p>\r\n<ol>\r\n<li>Finančn&iacute; prostředky
    města budeme investovat hlavně do obecně prospě&scaron;n&yacute;ch projektů, kter&eacute;
    nejsou určeny pouze pro určit&eacute; skupiny lid&iacute;, ale pro v&scaron;echny
    občany města (opravy chodn&iacute;ků a silnic, zefektivněn&iacute; chodu &uacute;řadů,
    zaji&scaron;těn&iacute; čistoty atp.).</li>\r\n<li>Každ&eacute; v&yacute;běrov&eacute;
    ř&iacute;zen&iacute; mus&iacute; prob&iacute;hat dle platn&yacute;ch z&aacute;konů.
    Informace o průběhu jednotliv&yacute;ch ř&iacute;zen&iacute; budou zveřejňov&aacute;ny,
    stejně tak i fin&aacute;ln&iacute; smlouva.</li>\r\n<li>V&scaron;echny firmy,
    kter&eacute; se chtěj&iacute; uch&aacute;zet o veřejnou zak&aacute;zku, ale odkazuj&iacute;
    se na obchodn&iacute; tajemstv&iacute;, se nemusej&iacute; v&yacute;běrov&eacute;ho
    ř&iacute;zen&iacute; z&uacute;častnit.</li>\r\n<li>Ve&scaron;ker&eacute; z&aacute;měry
    prodeje a pron&aacute;jmů nemovit&yacute;ch věci, kter&eacute; jsou ve vlastnictv&iacute;
    města, budou doplněny i o nepovinn&eacute;, ale podstatn&eacute; informace. Vždy
    bude uvedena cena i&nbsp;konkr&eacute;tn&iacute; jm&eacute;na těch, kteř&iacute;
    o městsk&yacute; majetek maj&iacute; z&aacute;jem.</li>\r\n</ol>\r\n<p class=\"Tlotextu\">&nbsp;</p>\r\n<p
    class=\"Tlotextu\" align=\"center\"><strong>Co uděl&aacute;me v konkr&eacute;tn&iacute;ch
    oblastech?</strong></p>\r\n<p><strong>Hospodařen&iacute; města</strong></p>\r\n<ul>\r\n<li>Prověř&iacute;me
    prodeje a pron&aacute;jmy nemovit&yacute;ch věc&iacute;, kter&eacute; byly nebo
    jsou v&nbsp;majetku města B&iacute;lina.</li>\r\n<li>Zaměř&iacute;me se předev&scaron;&iacute;m
    na cenu, za kterou nemovitosti byly prod&aacute;ny.</li>\r\n<li>Prověř&iacute;me
    ve&scaron;ker&eacute; veřejn&eacute; zak&aacute;zky, resp. v&scaron;echny smlouvy
    města se soukrom&yacute;mi subjekty. Prověř&iacute;me i financov&aacute;n&iacute;
    organizac&iacute; spadaj&iacute;c&iacute;ch pod veden&iacute; města.</li>\r\n<li>V&yacute;sledky
    intern&iacute; kontroly zveřejn&iacute;me na webov&yacute;ch str&aacute;nk&aacute;ch
    a na &uacute;ředn&iacute; desce.</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p><strong>Bezpečnost
    a doprava</strong></p>\r\n<ul>\r\n<li>Prověř&iacute;me současn&yacute; stav městsk&eacute;
    policie a vyhodnot&iacute;me plněn&iacute; jej&iacute; funkce, př&iacute;p. nav&yacute;&scaron;&iacute;me
    počet str&aacute;žn&iacute;ků tak, aby občanům byla zaručov&aacute;na bezpečnost
    ve dne i&nbsp;v&nbsp;noci.</li>\r\n<li>Chceme prosadit půlhodinov&eacute; parkov&aacute;n&iacute;
    na n&aacute;měst&iacute; zdarma, a tak&eacute; zru&scaron;it z&aacute;kaz st&aacute;n&iacute;
    v &scaron;ir&scaron;&iacute;m centru města, zejm&eacute;na v nočn&iacute;ch hodin&aacute;ch.</li>\r\n<li>Budeme
    se zab&yacute;vat změnou dopravn&iacute;ho značen&iacute; na Pražsk&eacute;m Předměst&iacute;,
    kter&aacute; proběhla minul&yacute; a leto&scaron;n&iacute; rok.</li>\r\n<li>Budeme
    ře&scaron;it kriminalitu a hluk v&nbsp;bezprostředn&iacute; bl&iacute;zkosti probl&eacute;mov&yacute;ch
    č&aacute;st&iacute; města.</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p>.</p>\r\n<p><strong>Soci&aacute;ln&iacute;
    oblast</strong></p>\r\n<ul>\r\n<li>Jsme si jisti, že za probl&eacute;my spojen&eacute;
    se vznikaj&iacute;c&iacute;mi ghetty a rostouc&iacute;m extremismem nese vinu
    soci&aacute;ln&iacute; politika st&aacute;tu. V&nbsp;tomto směru budeme apelovat
    na vl&aacute;du a Ministerstvo pr&aacute;ce a soci&aacute;ln&iacute;ch věci.</li>\r\n<li>O
    neře&scaron;en&iacute; probl&eacute;mů v na&scaron;em městě i jeho okol&iacute;
    chceme na Ministerstvu jednat společně s dal&scaron;&iacute;mi městy, aby byla
    soci&aacute;ln&iacute; turistika nejen v B&iacute;lině, ale obecně v cel&eacute;m
    kraji, značně omezena.</li>\r\n</ul>\r\n<p>&nbsp;</p>\r\n<p><strong>Životn&iacute;
    prostřed&iacute; &ndash; hygiena a nadměrn&yacute; hluk</strong></p>\r\n<ul>\r\n<li>Na
    z&aacute;kladě kontroly hospodařen&iacute; chceme zjistit, jak&eacute; jsou možnosti
    pro nav&yacute;&scaron;en&iacute; prostředků pro eliminaci zneči&scaron;těn&yacute;ch
    a hlučn&yacute;ch lokalit, tj. historick&yacute;ch, pam&aacute;tkov&yacute;ch
    m&iacute;st, relaxačn&iacute;ch a kulturn&iacute;ch m&iacute;st, dětsk&yacute;ch
    hři&scaron;ť atp., jelikož hlavně tyto oblasti čin&iacute; město vhodn&yacute;m
    m&iacute;stem pro život občanů, n&aacute;v&scaron;těvy turistů i př&iacute;p.
    Investorů.</li>\r\n</ul>\r\n<p><strong>&nbsp;</strong></p>\r\n<p><strong>Sport,
    kultura a vzděl&aacute;n&iacute;</strong></p>\r\n<ul>\r\n<li>U sportovn&iacute;ch
    a kulturn&iacute;ch organizac&iacute; zřizovan&yacute;ch městem B&iacute;lina
    mus&iacute; b&yacute;t provedena restrukturalizace. Budou-li m&iacute;t sportovn&iacute;
    a kulturn&iacute; organizace zodpovědn&eacute; hospodařen&iacute;, mus&iacute;
    dok&aacute;zat zajistit fungov&aacute;n&iacute; i bez v&yacute;razn&eacute; finančn&iacute;
    pomoci města.</li>\r\n<li>Prověř&iacute;me smlouvy na zaji&scaron;těn&iacute;
    služeb Integrovan&eacute;ho centra prevence.</li>\r\n<li>&nbsp;Budeme podporovat
    Dům dět&iacute; a ml&aacute;deže. Je mor&aacute;lně spr&aacute;vn&eacute;, aby
    podpora osobn&iacute;ho rozvoje a vzděl&aacute;n&iacute; byla vkl&aacute;d&aacute;na
    do občanů, kteř&iacute; budou městu i st&aacute;tu ku prospěchu, nikoliv k t&iacute;ži.</li>\r\n</ul>\r\n<p><strong>&nbsp;</strong></p>\r\n<p><strong>Sn&iacute;žen&iacute;
    počtu zastupitelů</strong></p>\r\n<ul>\r\n<li>B&iacute;lina se zhruba &scaron;estn&aacute;cti
    tis&iacute;ci obyvatel může m&iacute;t podle Z&aacute;kona o obc&iacute;ch 15
    až 35 zastupitelů. Tento počet mand&aacute;tů se odv&iacute;j&iacute; od počtu
    obyvatel města a schvaluje ho zastupitelstvo. Domn&iacute;v&aacute;me se, že ide&aacute;ln&iacute;
    počet zastupitelů pro na&scaron;e město je 18 až 20, a ne současn&yacute;ch 30.</li>\r\n</ul>\r\n<p>T&iacute;mto
    sn&iacute;žen&iacute;m počtu zastupitelů u&scaron;etř&iacute;me sice jen několik
    tis&iacute;c, ale st&aacute;le se jedn&aacute; o pen&iacute;ze na&scaron;ich občanů.</p>\r\n<p>&nbsp;</p>\r\n<p
    class=\"Tlotextu\" align=\"center\"><strong>Co rozhodně dělat nebudeme!</strong></p>\r\n<p
    class=\"Tlotextu\">Nebudeme rozprod&aacute;vat nemovit&eacute; věci města pod
    tržn&iacute; hodnotou.</p>\r\n<p class=\"Tlotextu\">Nebudeme zv&yacute;hodňovat
    jednotlivce.</p>\r\n<p class=\"Tlotextu\">Nebudeme vypl&aacute;cet př&iacute;spěvky
    organizac&iacute;m, kter&eacute; nevykazuj&iacute; činnost pro veřejn&yacute;
    prospěch.</p>\r\n<p class=\"Tlotextu\">Nebudeme vytv&aacute;řet ž&aacute;dn&eacute;
    přek&aacute;žky podnikatelům a ani veřejn&yacute;m organizac&iacute;m.</p>\r\n<p
    class=\"Tlotextu\">Nebudeme vypisovat veřejn&eacute; zak&aacute;zky na m&iacute;ru
    konkr&eacute;tn&iacute;m firm&aacute;m.</p>\r\n<p class=\"Tlotextu\">Nebudeme
    lhostejn&iacute; k&nbsp;absurdn&iacute; soci&aacute;ln&iacute; politice st&aacute;tu.</p>\r\n<p
    class=\"Tlotextu\">Nebudeme finančně podporovat nesmysln&eacute; projekty jen
    proto, abychom za každou cenu čerpali dotace z&nbsp;EU.</p>"
---
{% extends 'parent' %}

{% block main %}

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

{% endblock %}