---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: "<h3>Proč kandidujeme?</h3>\r\n<p>V Praze 7 se dlouhodobě
    aktivně zapojujeme do m&iacute;stn&iacute;ch t&eacute;mat (viz <a style=\"line-height:
    1.5em;\" href=\"http://www.kubicek.cz\">www.kubicek.cz</a>) a r&aacute;di bychom
    z&iacute;skali vět&scaron;&iacute; vliv na jejich pozitivn&iacute; ře&scaron;en&iacute;.
    Proto jsme se rozhodli vstoupit do komun&aacute;ln&iacute;ch voleb v Praze 7.
    Na&scaron;i kandid&aacute;ti pro Prahu 7 jsou i na čeln&iacute;ch pozic&iacute;ch
    kandid&aacute;tky do zastupitelstva hl. m. Prahy a Praha 7 m&aacute; tak velkou
    &scaron;anci m&iacute;t opět sv&eacute; zastupitele na Magistr&aacute;tu.</p>\r\n<h3>Co
    přin&aacute;&scaron;&iacute;me?</h3>\r\n<p>Svobodn&iacute; v komun&aacute;ln&iacute;
    politice vych&aacute;z&iacute; obecně z těchto principů:</p>\r\n<ol>\r\n<li>Obce
    hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute;
    jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute;
    vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute;
    prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona
    o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</li>\r\n<li>Obce vynakl&aacute;daj&iacute;
    prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute;
    silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v
    obc&iacute;ch.</li>\r\n<li>Obce z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi
    aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.</li>\r\n<li>Obce
    ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně
    konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</li>\r\n<li>V
    př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat
    na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</li>\r\n<li>Svobodn&iacute;
    podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo
    v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak
    na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;.&nbsp;</li>\r\n</ol>\r\n<p>Těchto
    pravidel se budeme držet i v Praze 7</p>\r\n<h3>Jak&aacute; je na&scaron;e vize
    Prahy 7?</h3>\r\n<h4>Čist&aacute; a bezpečn&aacute; Praha 7</h4>\r\n<p>Chceme,
    aby se měst&scaron;t&iacute; str&aacute;žn&iacute;ci v&iacute;ce než o pokutov&aacute;n&iacute;
    \"&scaron;patn&eacute;ho\" parkov&aacute;n&iacute; starali o sv&eacute; okrsky,
    dbali na bezpečnost a poř&aacute;dek v ulic&iacute;ch. Probl&eacute;my se zneči&scaron;ťov&aacute;n&iacute;m
    nelze ře&scaron;it restrikcemi (z&aacute;kaz konzumace alkoholu, zvy&scaron;ov&aacute;n&iacute;
    poplatků za psy), ale důsledn&yacute;m dohl&iacute;žen&iacute;m na poř&aacute;dek
    v ulic&iacute;ch.</p>\r\n<h4>P&eacute;če o pam&aacute;tky</h4>\r\n<p>Praha 7 m&aacute;
    poměrně m&aacute;lo pam&aacute;tek. Mezi nejstar&scaron;&iacute; řad&iacute;me
    kostel sv. Klimenta, kapli M&aacute;ř&iacute; Magdal&eacute;ny (kter&eacute; je
    ale už na &uacute;zem&iacute; MČ Prahy 1, i když v Hole&scaron;ovic&iacute;ch),
    &Scaron;lechtovu restauraci, M&iacute;stodržitelsk&yacute; letohr&aacute;dek a
    několik dal&scaron;&iacute;ch.</p>\r\n<p>Ve spolupr&aacute;ci s jejich majiteli
    a spr&aacute;vci budeme usilovat o jejich dobr&yacute; stav. U &Scaron;lechtovy
    restaurace prosazujeme zmen&scaron;en&iacute; budovy do jej&iacute; původn&iacute;
    podoby z 18. stolet&iacute;, jedině tak se najde jej&iacute; smyslupln&eacute;
    využit&iacute; při zachov&aacute;n&iacute; omezen&iacute; dopravy v okol&iacute;.
    Jsme zcela proti současn&yacute;m megalomansk&yacute;m předvolebn&iacute;m slibům
    a pl&aacute;nům, kter&eacute; ji chtěj&iacute; naopak je&scaron;tě zvět&scaron;it.</p>\r\n<h4>Ře&scaron;en&iacute;
    budovy radnice</h4>\r\n<p>Jsme moc r&aacute;di, že se Praha 7 nezadlužila na stavbu
    radnice v pl&aacute;novan&eacute; ceně 1.200 milionů korun. Ale ani radnice za
    500 milionů by nebyla pro Prahu 7 ž&aacute;dn&aacute; v&yacute;hra, neboť i to
    by znamenalo zadlužit. V současn&eacute; době m&aacute; Praha 7 voln&yacute;ch
    jen asi 200 milionů korun.</p>\r\n<p>V Praze je asi 12% kancel&aacute;ř&iacute;
    voln&yacute;ch, v Praze 7 je to ale i kvůli modr&yacute;m z&oacute;n&aacute;m
    cel&yacute;ch 24%. Je tedy dobr&aacute; vyjedn&aacute;vac&iacute; pozice pro z&iacute;sk&aacute;n&iacute;
    dobr&yacute;ch n&aacute;jemn&iacute;ch prostor, což n&aacute;m vzhledem k siln&eacute;
    neshodě v politick&eacute;m spektru k podobě, um&iacute;stěn&iacute; a ceně nov&eacute;
    radnice připad&aacute; jako nejlep&scaron;&iacute; ře&scaron;en&iacute;.</p>\r\n<p>Po
    v&yacute;měně ministra financ&iacute; nav&iacute;c st&aacute;t zastavil projekt
    Jednotn&eacute;ho inkasn&iacute;ho m&iacute;sta a zd&aacute; se, že Gener&aacute;ln&iacute;
    finančn&iacute; ředitelstv&iacute; už nepotřebuje st&aacute;vaj&iacute;c&iacute;
    budovu vyklidit a že radnice bude moct zůstat na sv&eacute;m m&iacute;stě. To
    považujeme za nejlep&scaron;&iacute; ře&scaron;en&iacute;. Jen je nutn&eacute;
    požadovat po majiteli budovy jej&iacute; ř&aacute;dnou &uacute;držbu.</p>\r\n<h4>Otevřen&yacute;
    veřejn&yacute; prostor</h4>\r\n<p>V na&scaron;em celopražsk&eacute;m programu
    požadujeme rozvolněn&iacute; tržn&iacute;ho ř&aacute;du a zjednodu&scaron;en&iacute;
    vyjedn&aacute;v&aacute;n&iacute; z&aacute;borů, aby drobn&iacute; podnikatel&eacute;,
    živnostn&iacute;ci i pořadatel&eacute; kulturn&iacute;ch a sousedsk&yacute;ch
    akc&iacute; mohli veřejn&yacute; prostor skutečně&nbsp;využ&iacute;vat bez &uacute;řednick&yacute;ch
    přek&aacute;žek.</p>\r\n<h4>Transparentn&iacute; radnice</h4>\r\n<p>Svobodn&iacute;
    jdou v cel&eacute; Praze do voleb s t&eacute;matem Průhledn&aacute; radnice. V
    Praze 7 chceme konkr&eacute;tně:</p>\r\n<ul>\r\n<li>Důsledn&eacute; a včasn&eacute;
    uveřejňov&aacute;n&iacute; smluv včetně dodatků (nejl&eacute;pe ve form&aacute;tu
    PDF)</li>\r\n<li>Přehledněj&scaron;&iacute; elektronickou &uacute;ředn&iacute;
    desku (rozčleněnou podle druhů ozn&aacute;men&iacute;, včetně metadat)</li>\r\n<li>Transparentn&iacute;
    i městem ř&iacute;zen&eacute; organizace (např. uveřejňov&aacute;n&iacute; smluv
    Sedm&eacute; ubytovac&iacute;)</li>\r\n<li>Rozhodnut&iacute; rady a zastupitelstva
    včetně př&iacute;loh v jednom PDF dokumentu (jako m&aacute; Magistr&aacute;t),
    včetně metadat</li>\r\n<li>Vyrovnan&yacute; rozpočet</li>\r\n</ul>\r\n<h4>Otevřen&eacute;
    V&yacute;stavi&scaron;tě</h4>\r\n<p>Prostor V&yacute;stavi&scaron;tě se po ukončen&iacute;
    n&aacute;jmu Incheby může st&aacute;t opět r&aacute;jem pro různ&eacute; z&aacute;jmov&eacute;
    skupiny. Jsme proti hromadn&eacute; miliardov&eacute; investici. V&yacute;stavi&scaron;tě
    by se mělo otevř&iacute;t (zbourat plot) a postupně připojit ke Stromovce. Jednotliv&eacute;
    historick&eacute; budovy je nutn&eacute; postupně opravovat a hledat pro ně využit&iacute;.</p>\r\n<p>Pož&aacute;r
    lev&eacute;ho kř&iacute;dla průmyslov&eacute;ho pal&aacute;ce ho nen&aacute;vratně
    zničil. Nicm&eacute;ně již v roce 1891 při jeho v&yacute;stavbě se poč&iacute;talo
    s t&iacute;m, že obě kř&iacute;dla budou po v&yacute;stavě ubour&aacute;na. Je
    tedy až s podivem, že se n&aacute;m cel&yacute; pal&aacute;c dochoval až doned&aacute;vna.
    Dnes v&scaron;ak jen stěž&iacute; někdo postav&iacute; kř&iacute;dlo původn&iacute;
    technologi&iacute;, jen n&yacute;tov&aacute;n&iacute;m bez sv&aacute;řen&iacute;.
    Jsme proto proti dostavbě lev&eacute;ho kř&iacute;dla, ubude t&iacute;m nav&iacute;c
    důvod stavět nesmysln&yacute; podchod pod Průmyslov&yacute;m pal&aacute;cem za
    stovky milionů</p>\r\n<h4>Prostupn&yacute; prostor a ře&scaron;en&iacute; tranzitn&iacute;
    dopravy</h4>\r\n<p>V&yacute;stavbou železnice v roce 1850 do&scaron;lo k necitliv&eacute;mu
    rozdělen&iacute; Hole&scaron;ovic a Buben (doln&iacute;ch a horn&iacute;ch Hole&scaron;ovic).
    Byli bychom moc r&aacute;di, aby se podařilo Prahu 7 opět zcelit a propojit. Vždyť
    ulice Veletržn&iacute; př&iacute;mo navazuje na Dělnickou, měli bychom k sobě
    mnohem bl&iacute;ž.</p>\r\n<p>Tak&eacute; prostor před Letensk&yacute;m tunelem
    je pro obyvatele Prahy 7 nepř&iacute;jmn&yacute;. Maminky s koč&aacute;rky se
    jen velmi těžko dostanou do centra, z centra je cesta je&scaron;tě hor&scaron;&iacute;.
    Kdysi na tomto m&iacute;stě st&aacute;vala lanovka, později dřevěn&eacute; jezd&iacute;c&iacute;
    schody. Doba 2 milionů n&aacute;v&scaron;těvn&iacute;ků V&yacute;stavi&scaron;tě
    v roce 1891 je d&aacute;vno pryč, lanovka by se už neuživila, ale bylo by hezk&eacute;
    m&iacute;t alespoň nějak&eacute; bezbari&eacute;rov&eacute; ře&scaron;en&iacute;
    - třeba v&yacute;tah - to je ale &uacute;kol pro architektonickou soutěž odborn&iacute;ků.</p>\r\n<p>Vesnice
    Bubny na m&iacute;stě dne&scaron;n&iacute;ho s&iacute;dla Galilea, budovy Elektrick&yacute;ch
    podniků a metra Vltavsk&aacute; vzala za sv&eacute; a na jedin&eacute;m voln&eacute;m
    m&iacute;stě vznikla obrovsk&aacute; mimo&uacute;rovňov&aacute; křižovatka, m&iacute;sto
    naprosto otřesn&eacute; pro pě&scaron;&iacute;. R&aacute;di bychom tuto křižovatku
    zru&scaron;ili a v&scaron;e vr&aacute;tili do původn&iacute; roviny.</p>\r\n<h4>Mateřsk&eacute;
    &scaron;koly</h4>\r\n<p>Nedostatek mateřsk&yacute;ch &scaron;kol je spojen hlavně
    s př&iacute;livem nov&yacute;ch rodin do Prahy 7. Mnoho vybydlen&yacute;ch domů
    je nyn&iacute; rekonstruov&aacute;no a mlad&iacute; lid&eacute; si na hypot&eacute;ku
    kupuj&iacute; byty a stěhuj&iacute; se k n&aacute;m.</p>\r\n<p>Je velk&aacute;
    &scaron;koda, že st&aacute;t v&scaron;emožně br&aacute;n&iacute; alternativn&iacute;m
    způsobům p&eacute;če a v&yacute;chovy před&scaron;koln&iacute;ch dět&iacute;.
    Ať již jen sousedsk&eacute; hl&iacute;d&aacute;n&iacute; nebo nyn&iacute; zakazovan&eacute;
    lesn&iacute; &scaron;kolky, to v&scaron;e jsou dobr&eacute; způsoby rozmanit&eacute;
    v&yacute;chovy, kter&aacute; může dobře splňovat požadavky rodičů i dět&iacute;.</p>\r\n<p>V
    r&aacute;mci co největ&scaron;&iacute;ho v&yacute;běru jsme pro zaveden&iacute;
    &scaron;kolkov&yacute;ch voucherů, tedy poukazů, za kter&eacute; budou rodiče
    moci čerpat služby &scaron;kolek, ať městsk&yacute;ch nebo soukrom&yacute;ch.</p>\r\n<h4>P&eacute;če
    o důchodce</h4>\r\n<p>Chceme, aby na&scaron;i důchodci měli možnost co nejd&eacute;le
    pohodlně ž&iacute;t ve sv&eacute;m přirozen&eacute;m prostřed&iacute;. Pomoc mus&iacute;
    dostat př&iacute;mo ve sv&yacute;ch bytech a nesm&iacute; b&yacute;t tlačeni k
    sestěhov&aacute;v&aacute;n&iacute; do pečovatelsk&yacute;ch domů pod vidinou uvolňov&aacute;n&iacute;
    obecn&iacute;ch bytů.</p>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
