---
title: Kdo jsem
slug: kdo-jsem
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 10
editable_elements:
  main/kdo-jsem: "<p><strong>Rodina</strong><br />Narodil jsem se 23. 11. 1950 v Berouně.
    Bydlel jsem do<br />roku 1962 v Podbořanech a od roku 1962 v Praze, kde<br />jsem
    složil maturitu a v roce 1975 promoval na fakultě<br />v&scaron;eobecn&eacute;ho
    l&eacute;kařstv&iacute; UK.</p>\r\n<p><strong>Vzděl&aacute;n&iacute;</strong><br
    />Vysoko&scaron;kolsk&eacute; &ndash; L&eacute;kařsk&aacute; fakulta UK.</p>\r\n<p><strong>Pr&aacute;ce</strong><br
    />Od roku 1975 pracuji v Př&iacute;brami, nejprve jako zaměstnanec,<br />a od
    roku 1993 i jako soukrom&yacute; l&eacute;kař. Věnuji se chirurgii<br />a c&eacute;vn&iacute;
    chirurgii.<br /><br /><strong>Politika</strong><br />Jsem členem Strany svobodn&yacute;ch
    občanů od roku 2011.<br />Nebyl jsem členem KSČ.<br /><br /><strong>Z&aacute;jmy</strong><br
    />Ve voln&eacute;m čase se věnuji rybařen&iacute;, zahr&aacute;dkařen&iacute;,
    &scaron;achu,<br />turistice a včelařen&iacute;.</p>"
---
{% extends parent %}

{% block main %}
<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "kdo-jsem", hint: "Informace o kandidátovi." %}
{% endeditable_text %}

</div>

{% endblock %}