---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro senátní volby
meta_keywords: senátní volby, program
editable_elements:
  main/volebni_program: "<p><strong>Moje n&aacute;zory</strong>:</p>\r\n<div><span>ANO:</span></div>\r\n<div>\r\n<ul>\r\n<li>vystoupen&iacute;
    z EU</li>\r\n<li><span>sn&iacute;žen&iacute; daňov&eacute; z&aacute;těže</span></li>\r\n<li>vlastenectv&iacute;-nen&iacute;
    totožn&eacute; s nacionalismem</li>\r\n<li>svobodě , samostatnosti a odpovědnosti</li>\r\n<li>chr&aacute;něn&eacute;
    krajinn&eacute; oblasti Brdy</li>\r\n<li>opravdu svobodn&eacute; volbě l&eacute;kaře</li>\r\n</ul>\r\n<div>&nbsp;</div>\r\n<div>NE:</div>\r\n<div>\r\n<ul>\r\n<li>pokusům
    vyvolat v&aacute;lečn&yacute; konflikt v Evropě</li>\r\n<li>zvy&scaron;ov&aacute;n&iacute;
    dan&iacute;</li>\r\n<li>těžbě břidlicov&eacute;ho plyn<span>&nbsp;současn&yacute;mi
    technologiemi</span></li>\r\n<li>těžbě zlata kyanidov&yacute;m loužen&iacute;m</li>\r\n<li>regulačn&iacute;m
    poplatkům ve zdravotnictv&iacute;.</li>\r\n<li><span>registračn&iacute;m pokladn&aacute;m</span></li>\r\n</ul>\r\n</div>\r\n</div>"
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}

{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
