---
title: Program
slug: program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 20
seo_title: Volební program pro komunální volby do zastupitelstva
meta_keywords: komunalní volby, program
editable_elements:
  main/volebni_program: |-
    <h2>Volebn&iacute; program pro komun&aacute;ln&iacute; volby 2014&nbsp; - rozpracovan&aacute; verze!</h2>
    <p><strong>Nezadlužen&eacute; město</strong></p>
    <p>Prosazujeme vyrovnan&yacute; rozpočet a město bez dluhů. Město by si mělo půjčovat pouze ve v&yacute;jimečn&yacute;ch př&iacute;padech a až po schv&aacute;len&iacute; kvalifikovanou vět&scaron;inou zastupitelů, př&iacute;padně po schv&aacute;len&iacute; občany v m&iacute;st&iacute;m referendu.</p>
    <p>Domn&iacute;v&aacute;me se, že město zbytečně moc spotřebov&aacute;v&aacute; na vlastn&iacute; režii (provoz &uacute;řadu), zde vid&iacute;me možnost &uacute;spor&nbsp;ve v&yacute;&scaron;i &nbsp;20% což představuje č&aacute;stku přibližně 21.000.000Kč (vych&aacute;z&iacute;me z &uacute;dajů za rok 2013)</p>
    <p>Tuto č&aacute;stku bychom&nbsp;využili v těchto oblastech:</p>
    <ul>
    <li>zru&scaron;en&iacute; poplatku občanů za komun&aacute;ln&iacute; odpad (př&iacute;jmy necel&eacute; 3 mil. Kč)</li>
    <li>snižov&aacute;n&iacute; zadlužen&iacute; města</li>
    <li>investice do městsk&eacute; infrastruktury (chodn&iacute;ky, silnice, .....)</li>
    </ul>
    <p>&nbsp;</p>
    <p><strong>Ru&scaron;en&iacute; poplatků&nbsp;</strong></p>
    <p>Poplatek za komun&aacute;ln&iacute; odpad<strong> -</strong>&nbsp;jde&nbsp;vlastě o dal&scaron;&iacute; daň, konkr&eacute;tně o asoci&aacute;ln&iacute; daň z hlavy. V ČR m&aacute;me různ&yacute;ch dan&iacute; moc. Dal&scaron;&iacute; daň nepotřebujeme! V&yacute;padek př&iacute;jmů bychom kryli &uacute;sporami&nbsp;v provozn&iacute;ch v&yacute;daj&iacute;ch - viz v&yacute;&scaron;e.&nbsp;</p>
    <p>Ostatn&iacute; poplatky (Poplatek ze psů, Poplatek za už&iacute;v&aacute;n&iacute; veřej. prostranstv&iacute;, Poplatek z ubytovac&iacute; kapacity) představuj&iacute; př&iacute;jmy přibližně 500 tis&iacute;c Kč a jejich př&iacute;padn&eacute; zru&scaron;en&iacute; je ke zv&aacute;žen&iacute; s ohledem na&nbsp;n&aacute;klady&nbsp;jejich v&yacute;běru a to jak na straně &uacute;řadu tak i na straně samotn&yacute;ch pl&aacute;tců těchto poplatků.</p>
    <p>&nbsp;</p>
    <p><strong>Revize st&aacute;vaj&iacute;c&iacute;ch vyhl&aacute;&scaron;ek (regulac&iacute;)</strong></p>
    <p>Někter&eacute; městsk&eacute; vyhl&aacute;&scaron;ky jsou zbytečn&eacute; a jin&eacute; jsou již časem vyčpěl&eacute;. Přebytečn&eacute; vyhl&aacute;&scaron;ky zru&scaron;&iacute;me, aby&nbsp;občanů zbytečně nekomplikovaly život.</p>
    <p>&nbsp;</p>
    <p><strong>Investice do infrastruktury</strong></p>
    <p>Česk&yacute; Brod by měl&nbsp;vynakl&aacute;dat prostředky&nbsp;hlavně na veřejn&eacute; statky, tj. na městsk&eacute; silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty města.</p>
    <p>&nbsp;</p>
    <p><strong>Svobodn&iacute; v komun&aacute;ln&iacute; politice vych&aacute;z&iacute; obecně z těchto principů:</strong></p>
    <ol>
    <li>Obce hospodař&iacute; zpravidla s vyrovnan&yacute;m rozpočtem a dluhy tvoř&iacute; jen v mimoř&aacute;dn&yacute;ch situac&iacute;ch za souhlasu kvalifikovan&eacute; vět&scaron;iny zastupitelů. Svobodn&iacute; toto pravidlo hospodařen&iacute; obc&iacute; prosazuj&iacute; jako analogii n&aacute;vrhu &uacute;stavn&iacute;ho z&aacute;kona o vyrovnan&eacute;m rozpočtu na &uacute;rovni st&aacute;tu.</li>
    <li>Obce vynakl&aacute;daj&iacute; prostředky na prvn&iacute;m m&iacute;stě na veřejn&eacute; statky, tj. na obecn&iacute; silnice, chodn&iacute;ky a zaji&scaron;těn&iacute; poř&aacute;dku a čistoty v obc&iacute;ch.</li>
    <li>Obce z&aacute;sadně nepodnikaj&iacute;. Obce sv&yacute;mi aktivitami nesm&iacute; deformovat tržn&iacute; prostřed&iacute;.</li>
    <li>Obce ukl&aacute;daj&iacute; přebytky běžn&eacute;ho hospodařen&iacute; z&aacute;sadně konzervativně, tj. do aktiv s minim&aacute;ln&iacute;m rizikem.</li>
    <li>V př&iacute;padě obecn&iacute;ch zak&aacute;zek se obce nesměj&iacute; odvol&aacute;vat na obchodn&iacute; tajemstv&iacute; a uzavřen&eacute; smlouvy jsou veřejn&eacute;.</li>
    <li>Svobodn&iacute; podporuj&iacute; změny daňov&yacute;ch z&aacute;konů tak, aby maximum peněz zůstalo v kaps&aacute;ch lid&iacute;, aby se omezilo přerozdělov&aacute;n&iacute; jak na &uacute;rovni st&aacute;tu, tak na &uacute;rovni obc&iacute;. Přerozdělov&aacute;n&iacute; v&yacute;nosu dan&iacute; občanů Česk&eacute; republiky na &uacute;rovni Evropsk&eacute; unie je třeba odstranit.</li>
    </ol>
---
{% extends 'parent' %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>

{% editable_text "volebni_program", hint: "Text volebního programu." %}
<p>Volební program pro komunální volby 2014 představíme již brzy.</p>

<p>Svobodní v komunální politice vychází obecně z těchto principů:</p>
<ol>
<li>Obce hospodaří zpravidla s vyrovnaným rozpočtem a dluhy tvoří jen v mimořádných situacích za souhlasu kvalifikované většiny zastupitelů. Svobodní toto pravidlo hospodaření obcí prosazují jako analogii návrhu ústavního zákona o vyrovnaném rozpočtu na úrovni státu.</li>
<li>Obce vynakládají prostředky na prvním místě na veřejné statky, tj. na obecní silnice, chodníky a zajištění pořádku a čistoty v obcích.</li>
<li>Obce zásadně nepodnikají. Obce svými aktivitami nesmí deformovat tržní prostředí.</li>
<li>Obce ukládají přebytky běžného hospodaření zásadně konzervativně, tj. do aktiv s minimálním rizikem.</li>
<li>V případě obecních zakázek se obce nesmějí odvolávat na obchodní tajemství a uzavřené smlouvy jsou veřejné.</li>
<li>Svobodní podporují změny daňových zákonů tak, aby maximum peněz zůstalo v kapsách lidí, aby se omezilo přerozdělování jak na úrovni státu, tak na úrovni obcí. Přerozdělování výnosu daní občanů České republiky na úrovni Evropské unie je třeba odstranit.</li>
</ol>
{% endeditable_text %}

</div><!-- /container -->

{% endblock %}
